<fieldset style="display: none" id="{{ compound.name }}" {% for k, v in compound.attributes %}{{ k }}="{{ v }}" {% endfor %} data-note-role="template">
    <div class="error-container"></div>

    {% for element in compound.elements %}
        {% autoescape off %}
            {{ element.renderer.draw(element, application=application, wfc=wfc) }}
        {% endautoescape %}
    {% endfor %}

    <button type="button" class="btn btn-primary" data-note-action="save" style="margin-top: 10px;">Save</button>
    <button type="button" class="btn btn-secondary" data-note-action="cancel" style="margin-top: 10px;">Cancel</button>
</fieldset>