{% macro render_content(content_list) -%}
    {%- if content_list is string -%}
        {{- content_list -}}

    {%- elif content_list is iterable and content_list is not string and content_list is not mapping -%}
        {%- for ic in content_list -%}
            {%- set ic_content = ic.content -%}
            {%- set rendered_content = render_content(ic_content) -%}
            {% autoescape off %}
            {{ rendered_content }}
            {% endautoescape %}
        {%- endfor -%}

    {%- else -%}
        {{- content_list -}}
    {%- endif -%}
{%- endmacro %}

{#Controls<br>#}
{% set ns = namespace(values=[]) %}
{% for control in controls %}
{#    {% if control.label %}#}
{#        <strong>{{ control.label.content }}</strong>#}
{#    {% endif %}#}

{#    {% set input=control.control %}#}
{#    {% set content = {"value": ""} %}#}
{#    {% if input.content %}#}
{#        {% set content.value=render_content(input.content) %}#}
{#    {% endif %}#}

    {% if control.control.attrs.value %}
        {% set ns.values = ns.values + [control.control.attrs.value] %}
    {% endif %}
{% endfor %}

{% if ns.values|length > 0 %}
    {{ ns.values|join(", ") }}
{% else %}
    -
{% endif %}
