<section class="question-group" id="{{ fieldset.name }}" {% for k, v in fieldset.attributes %}{{ k }}="{{ v }}" {% endfor %}>
    <h2 class="question-group--header">
        <button
                type="button"
                id="{{ fieldset.name }}-header"
                class="accordion-btn col-md-12"
                aria-expanded="true"
                aria-controls="{{ fieldset.name }}-questions"
                onclick="doaj.triage.toggleSection('{{ fieldset.name }}-questions', this);"
        >
        {{ fieldset.label }}
        </button>
    </h2>
    <div class="question-group--body" id="{{ fieldset.name }}-questions">
    {% for element in fieldset.elements %}
        {% autoescape off %}
            {{ element.renderer.draw(element, application=application, wfc=wfc) }}
        {% endautoescape %}
    {% endfor %}
    </div>
</section>