<section class="question-group" id="{{ fieldset.name }}" {% for k, v in fieldset.attributes %}{{ k }}="{{ v }}" {% endfor %}>
    <h2 class="question-group--header">
        <button
                type="button"
                id="{{ fieldset.name }}-header"
                class="accordion-btn col-md-12"
                aria-expanded="false"
                aria-controls="{{ fieldset.name }}-questions"
                onclick="toggleQuestionGroup('{{ fieldset.name }}-questions', this);"
        >
        {{ fieldset.label }}
        </button>
    </h2>
    <div class="question-group--questions" id="{{ fieldset.name }}-questions">
    {% for element in fieldset.elements %}
        {% autoescape off %}
            {{ element.renderer.draw(element, application=application, wfc=wfc) }}
        {% endautoescape %}
    {% endfor %}
    </div>
</section>

<script>
    window.toggleQuestionGroup = function(questions_wrapper, btn) {
        if (btn.getAttribute("aria-expanded") === "true") {
            document.getElementById(questions_wrapper).style.display = 'none';
            btn.setAttribute("aria-expanded", "false")
        } else {
            document.getElementById(questions_wrapper).style.display = 'block';
            btn.setAttribute("aria-expanded", "true")
        }
    }
</script>