<div>
    {% autoescape off %}
        {% if field.capability.check %}
            <div><strong>Check</strong>: {{ field.capability.check }}</div>
        {% endif %}

        {% if field.capability.instructions %}
            <div style="background: #cccccc; font-style: italic; padding: 1em; margin: 1em;">{{ field.capability.instructions }}</div>
        {% endif %}
    {% endautoescape %}

    {% if field.capability.resources|length > 0 %}
        <strong>Resources</strong>:
        <ul>
            {% for resource in field.capability.resources %}
                <li><a href="{{ resource.url }}" target="_blank">{{ resource.label }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if field.capability.application_info %}
        <strong>Application Info</strong>:
        <ul>
            {% for info in field.capability.application_info %}
                <li><strong>{{ info.label }}</strong>: {{ info.lookup(application, wfc) }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% autoescape off %}
        {{ field.control_renderer.draw(field.control, application=application, wfc=wfc) }}
    {% endautoescape %}
</div>