<div class="flex" style="border: 1px solid #ccc; padding: 1em; margin-bottom: 1em; flex-wrap: wrap">
    {% set wfc = state.workflow_control %}
    <h2 style="flex-basis: 100%">{{ wfc.application_title }}</h2><br>

    <span class="tag tag--featured">Module: {{ wfc.module }}</span>
    <span class="tag tag--featured">Stage: {{ wfc.stage }}</span>
    {% if wfc.editorial_group %}
        <span class="tag tag--featured">Group: {{ wfc.editorial_group }}</span>
    {% endif %}
    {% if wfc.reviewer %}
        <span class="tag tag--featured">Reviewer: {{ wfc.reviewer }}</span>
    {% endif %}

    {% for event in state.events %}
        <div style="margin-left: 25px">
            {% include event.template %}
        </div>
    {% endfor %}

    {% for action in state.actions %}
        <div style="margin-left: 25px">
            {% include action.template %}
        </div>
    {% endfor %}
</div>