<div class="bulk-action-feedback alert alert-success" style="display: none"></div>

<div id="admin-bulk-box">
    <h2 class="label">Bulk edit records</h2>
    <div class="row">
      <form class="col-md-6 form form--compact" id="suggestion_bulk_form">
        <div id="bulk_action-container" class="input-group">
            <select class="multiformbox-selector input-group__input" id="bulk_action" name="bulk_action">
                <option selected value="">Select action…</option>
                <option value="application_status">Change status</option>
                <option value="editor_group">Assign to editor group</option>
                <option value="note">Add a note</option>
            </select>
            <button id="bulk-submit" class="button multiformbox-submit input-group__input" disabled="disabled">Submit</button>
        </div>
        <div class="multiformbox-container form__question" style="display: none" id="application_status-container">
            <select id="application_status" name="application_status">
                {% for choice in application_status_choices %}
                    <option value="{{ choice.value }}">{{ choice.display }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="multiformbox-container form__question" style="display: none" id="editor_group-container">
            <input id="editor_group" name="editor_group" type="text" value="">
        </div>
        <div class="multiformbox-container form__question" style="display: none" id="note-container">
            <textarea id="note" name="note" placeholder="Type note here…"></textarea>
        </div>
      </form>
  </div>
</div>

<div id="admin_applications"></div>
