{% extends "admin/admin_base.html" %}

{% block admin_content %}
<div style="padding-bottom: 20px">
<div class="row-fluid">
    <div class="span12">
        <div id="admin-bulk-box" class="pull-right">
            <label id="admin-bulk-label">Bulk Edit Records</label>

            {% from "_formhelpers.html" import render_field_horizontal %}
            {% from "_formhelpers.html" import render_field %}

        <form method="post" action="{{ url_for('admin.admin_site_search') }}" class="form-horizontal wide" id="editor_group_form">
            <fieldset>
                {{ render_field(form.bulk_action, style="width: 250px;") }}

                {{ render_field(form.editor_group, style="width: 250px", hidden=False) }}

                <div class="control-group">
                    <div class="controls">
                        <button id="bulk-submit" class="btn btn-danger pull-right" disabled="disabled">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <!--
            <select id="admin-bulk-select">
                <option value="">Select action...</option>
                <option value="bulk.withdraw">Withdraw from DOAJ</option>
                <option value="bulk.reinstate">Reinstate into DOAJ</option>
                <option value="bulk.delete">Delete records</option>
                <option value="bulk.ed_group">Assign to editor group...</option>
            </select>
            <button id="bulk-submit" class="btn btn-danger" disabled="disabled" style="margin-left: 20px">Submit</button>-->
            <!-- Select2 for editor group, which appears when that option is selected -->
            <!--<select id="admin-bulk-editor-select">
                <option value="">Select action...</option>
                <option value="bulk.withdraw">Withdraw from DOAJ</option>
                <option value="bulk.reinstate">Reinstate into DOAJ</option>
                <option value="bulk.delete">Delete records</option>
                <option value="bulk.ed_group">Assign to editor group...</option>
            </select>-->
        </div>
    </div>
</div>
</div>

<div class="facetview admin_journals_and_articles"></div>

{% endblock %}

{% block extra_js_bottom %}
<script type="text/javascript">var journal_edit_url = "{{ url_for('admin.journal_page', journal_id="") }}";</script>
{% endblock %}
