{% extends "admin/admin_base.html" %}

{% block admin_content %}
<div style="padding-bottom: 20px">
    <div class="row-fluid">
        <div class="span12">
            <div id="admin-bulk-box" class="pull-right">
                <label id="admin-bulk-label">Bulk Edit Records</label>
                <form class="form-horizontal wide" id="journal_bulk_form">
                    <fieldset>
                        <div class="control-group" id="bulk_action-container">
                            <div class="controls ">
                                <select id="bulk_action" name="bulk_action" style="width: 250px;">
                                    <option selected value="">Select action...</option>
                                    <option value="withdraw">Withdraw from DOAJ</option>
                                    <option value="reinstate">Reinstate into DOAJ</option>
                                    <option value="delete">Delete records</option>
                                    <option value="assign_editor_group">Journal: Assign to editor group...</option>
                                    <option value="add_note">Journal: Add a note...</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group" style="display: none" id="editor_group-container">
                            <div class="controls ">
                                <input id="editor_group" name="editor_group" style="width: 250px;" type="text" value="">
                            </div>
                        </div>
                        <div class="control-group" style="display: none" id="note-container">
                            <div class="controls ">
                                <textarea id="note" name="note" style="width: 240px;" placeholder="Type note here..."></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button id="bulk-submit" class="btn btn-danger pull-right" disabled="disabled">Submit
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="facetview admin_journals_and_articles"></div>

{% endblock %}

{% block extra_js_bottom %}

<script type="text/javascript">
    var journal_edit_url = "{{ url_for('admin.journal_page', journal_id='') }}";
    autocomplete('#editor_group', 'name', 'editor_group', 1, false);

    toggle_optional_field('bulk_action', ['#editor_group'], ['assign_editor_group']);
    toggle_optional_field('bulk_action', ['#note'], ['add_note']);
</script>

{% endblock %}