{% extends "admin/admin_base.html" %}

{% block extra_stylesheets %}
    {% include "_edges_common_css.html" %}
{% endblock %}

{% block admin_content %}

<div class="bulk-action-feedback alert alert-success" style="display: none"></div>

<div style="padding-bottom: 20px; margin-top: 20px">
    <div class="row">
        <div class="col-md-12">
            <div id="admin-bulk-box" class="pull-right">
                <label id="admin-bulk-label">Bulk Edit Records</label>
                <form class="form-horizontal" id="suggestion_bulk_form">
                    <fieldset>
                        <div class="form-group" id="bulk_action-container">
                            <div class="col-md-12">
                                <select class="form-control multiformbox-selector" id="bulk_action" name="bulk_action" style="width: 250px;">
                                    <option selected value="">Select action...</option>
                                    <option value="application_status">Change status...</option>
                                    <option value="editor_group">Assign to editor group...</option>
                                    <option value="note">Add a note...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group multiformbox-container" style="display: none" id="application_status-container">
                            <div class="col-md-12">
                                <select class="form-control" id="application_status" name="application_status" style="width: 250px">
                                    {% for choice in application_status_choices %}
                                        <option value="{{ choice[0] }}">{{ choice[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group multiformbox-container" style="display: none" id="editor_group-container">
                            <div class="col-md-12">
                                <input id="editor_group" name="editor_group" class="" style="width: 250px;" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group multiformbox-container" style="display: none" id="note-container">
                            <div class="col-md-12">
                                <textarea id="note" name="note" class="form-control" style="width: 240px;" placeholder="Type note here..."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="bulk-submit" class="btn btn-danger pull-right multiformbox-submit" disabled="disabled">Submit
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="admin_applications"></div>

{% endblock %}

{% block extra_js_bottom %}

    <script type="text/javascript">
    $.extend(true, doaj, {
        adminApplicationsSearchConfig : {
            applicationEditUrl : "{{ url_for('admin.application', application_id='') }}",
            journalsUrl : "{{ url_for('admin.journals') }}",
            readOnlyJournalUrl: "{{ url_for('doaj.journal_readonly', journal_id="") }}",
            searchPath : '/admin_query/suggestion/_search'
        }
    });
    </script>

    {% include "_edges_common_js.html" %}
    <script type="text/javascript" src="/static/js/multiformbox.js?v={{config.get('DOAJ_VERSION')}}"></script>
    <script type="text/javascript" src="/static/js/edges/admin.applications.edge.js?v={{config.get('DOAJ_VERSION')}}"></script>

{% endblock %}
