{% extends "admin/admin_base.html" %}

{% include "_edges_common_css.html" %}

{% block admin_content %}
    <style type="text/css">
.doaj-bg-results-container {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px dashed #cccccc;
}

.doaj-bg-results-container:hover {
    background-color: #eeeeee;
}
</style>

<header>
    <h2>Background Jobs</h2>
</header>

<div id="background_jobs"></div>

{% endblock %}

{% block extra_js_bottom %}

    <script type="text/javascript">
    $.extend(true, doaj, {
        adminBackgroundJobsSearchConfig : {
            searchPath : '/admin_query/background,job/_search'
        }
    });
    </script>

    {% include "_edges_common_js.html" %}
    <script type="text/javascript" src="/static/js/edges/admin.background_jobs.edge.js?v={{config.get('DOAJ_VERSION')}}"></script>

{% endblock %}
