{% extends "admin/admin_base.html" %}

{% block admin_content %}

    <div class="row-fluid">
        <div class="span12">

        {%  if form.type.data == "replaces" %}
            <h3>Creating a preceeding continuation for {{ current.bibjson().title }}</h3>
        {%  endif %}
        {%  if form.type.data == "is_replaced_by" %}
            <h3>Creating a succeeding continuation for {{ current.bibjson().title }}</h3>
        {% endif %}

        <p>Please provide the new Journal Title and new ISSN(s) for the continuation.  Once you have submitted
        this information the continuation record will be created and you may edit the other associated metadata fields.</p>

        {% from "_formhelpers.html" import render_field_horizontal %}
        {% from "_formhelpers.html" import render_field %}

            <form method="post" action="{{ url_for('admin.journal_continue', journal_id=current.id) }}" class="form-horizontal wide" id="continuation_form">
                <fieldset>
                    {{ render_field_horizontal(form.title, style="width: 400px", placeholder="Enter the new journal title here") }}
                    {{ render_field_horizontal(form.pissn, style="width: 400px", placeholder="Enter the new journal print ISSN") }}
                    {{ render_field_horizontal(form.eissn, style="width: 400px", placeholder="Enter the new journal electronic ISSN") }}
                    <input type="hidden" name="type" value="{{ form.type.data }}">
                    <button class="btn btn-success">Create</button>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}

{% block extra_js_bottom %}
<script type="text/javascript">

</script>
{% endblock %}
