{% extends "admin/admin_base.html" %}

{% block admin_content %}

{# NOTE: requires suggest.js to be enabled (see _js_includes.html) #}

<div class="span12" style="margin-bottom: 3em;">
  <div class="row-fluid">
    <div class="span12">
      <h1>Journal: {{journal.bibjson().title}}</h1>
    </div>
  </div>
</div>

<div class="span12">
  <div class="row-fluid">
    <div class="span12">
      {% from "_formhelpers.html" import render_field_horizontal %}
      <form method="post" action="{{ url_for('admin.journal_page', journal_id=journal['id']) }}" class="form-horizontal" id="suggest_form">
        <fieldset>
          {{ render_field_horizontal(form.in_doaj) }}
          {{ render_field_horizontal(form.url, class="input-xlarge") }}
          {{ render_field_horizontal(form.title, class="input-xlarge") }}
          <p>Either an ISSN or an EISSN has to be provided. Providing both is preferred.</p>
          {{ render_field_horizontal(form.pissn, class="input-small", size="9", maxlength="9") }}
          {{ render_field_horizontal(form.eissn, class="input-small", size="9", maxlength="9") }}
          {{ render_field_horizontal(form.publisher) }}
          {{ render_field_horizontal(form.oa_start_year, class="input-mini", size="4", maxlength="4") }}
          {{ render_field_horizontal(form.country) }}
          {{ render_field_horizontal(form.license) }}
          {{ render_field_horizontal(form.author_pays) }}
          {{ render_field_horizontal(form.author_pays_url, class="input-xlarge") }}
          {{ render_field_horizontal(form.keywords, class="input-xlarge") }}
          {{ render_field_horizontal(form.languages, class="input-xlarge") }}
          <div class="control-group">
              <div class="controls"><button class="btn btn-success" type="submit">Submit &gt;</button></div>
          </div>
        </fieldset>
      </form>
      
    </div>
  </div>
  
</div>

{% endblock %}

