{% set journals = url_for("admin.index") %}
{% set applications = url_for("admin.suggestions") %}
{% set users = url_for("account.index") %}
{% set site_search = url_for("admin.admin_site_search") %}
{% set editor_groups = url_for("admin.editor_group_search") %}
{% set bg = url_for("admin.background_jobs_search") %}

{% set tabs = [
    (journals, "Journals"),
    (applications, "Applications/update requests"),
    (users, "Users"),
    (site_search, "Journals & articles"),
    (editor_groups, "Editor groups"),
    (bg, "Background jobs")
    ]
%}

<div class="tabs">
    <nav class="tabs__menu">
        <ul class="tabs__list" role="tablist">
            {% for url, label in tabs %}
                {% set selected = url == request.path %}
                <li class="tabs__item" {% if not selected %}role="presentation"{% endif %}>
                    <a href="{{ url }}" aria-selected="{% if selected %}true{% else %}false{% endif %}">{{ label }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
