{% set tasks = url_for("admin.index") %}
{% set journals = url_for("admin.index") %}
{% set applications = url_for("admin.suggestions") %}
{% set users = url_for("account.index") %}
{% set site_search = url_for("admin.admin_site_search") %}
{% set editor_groups = url_for("admin.editor_group_search") %}
{% set bg = url_for("admin.background_jobs_search") %}

{% set tabs = [
    (tasks, "Tasks"),
    (journals, "Journals"),
    (update_requests, "Update Requests"),
    (applications, "Applications"),
    (users, "Users"),
    (site_search, "Journals & articles"),
    (editor_groups, "Editor groups"),
    (bg, "Background jobs")
    ]
%}

{% set icons = [
    (tasks, "check-circle"),
    (journals, "book-open"),
    (update_requests, "refresh-cw"),
    (applications, "file-text"),
    (users, "users"),
    (site_search, "Journals & articles"),
    (editor_groups, "Editor groups"),
    (bg, "tool")
  ]
%}

<nav class="vertical-nav">
  <ol class="unstyled-list" role="tablist">
    {% for url, label in tabs %}
    {% set selected = url == request.path %}
      <li>
        <a href="{{ url }}" aria-selected="{% if selected %}true{% else %}false{% endif %}" class="flex-center vertical-nav__link ">
          <span class="sr-only">{{ label }}</span>
          <span data-feather="book-open" aria-hidden="true"></span>
        </a>
      </li>
    {% endfor %}
  </ol>
</nav>

<!-- <nav>
  <ol class="unstyled-list">
    <li>
      <a href="#">Tasks</a>
    </li>
    <li>
      <a href="#">Update requests</a>
    </li>
    <li>
      <a href="#">Applications</a>
    </li>
    <li>
      <a href="#">Journals</a>
    </li>
    <li>
      <a href="#">Articles</a>
    </li>
    <li>
      <a href="#">Teams</a>
    </li>
    <li>
      <a href="#">Background jobs</a>
    </li>
  </ol>
</nav> -->
