<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li{% if request.path == url_for('admin.journals') %} class="active"{% endif %}><a href="{{ url_for('admin.journals') }}">Journals</a></li>
            <li{% if request.path == url_for('admin.suggestions') %} class="active"{% endif %}><a href="{{ url_for('admin.suggestions') }}">Applications/Update Requests</a></li>
            <li{% if request.path == url_for('account.index') %} class="active"{% endif %}><a href="{{ url_for('account.index') }}">Users</a></li>
            <li{% if request.path == url_for('admin.admin_site_search') %} class="active"{% endif %}><a href="{{ url_for('admin.admin_site_search') }}">Journals and Articles (Admin)</a></li>
            <li{% if request.path == url_for('admin.editor_group_search') %} class="active"{% endif %}><a href="{{ url_for('admin.editor_group_search') }}">Editor Groups</a></li>
            <li{% if request.path == url_for('admin.background_jobs_search') %} class="active"{% endif %}><a href="{{ url_for('admin.background_jobs_search') }}">Background Jobs</a></li>
        </ul>
    </div>
</div>
