{% extends "admin/admin_base.html" %}

{% block admin_content %}

{# NOTE: requires suggestions_and_journals.js to be enabled (see _js_includes.html) #}

<div class="row-fluid" style="margin-bottom: 20px">
    <div class="span9">
        <h1>Application: {{suggestion.bibjson().title}}</h1>
        {% if suggestion.last_updated %}
          <h4>Last updated: {{suggestion.last_updated}}</h4>
        {% endif %}
    </div>
    <div class="span3">
        {% if lock %}
        <div class="well">
            Locked for editing until <strong><span id="lock_expires" data-timestamp="{{lock.utc_expires()}}">{{lock.expire_formatted()}}</span></strong><br><br>
            <a href="#" id="unlock" class="btn btn-danger" data-type="suggestion" data-id="{{suggestion.id}}">Unlock and Close <i class="icon-white icon-remove"></i></a>
        {% endif %}
        </div>
    </div>
</div>

{% include "_suggestion_form.html" %}

{% endblock %}

