{% extends "admin/admin_base.html" %}

{% block admin_content %}

<div class="bulk-action-feedback alert alert-success" style="display: none"></div>

<div style="padding-bottom: 20px">
    <div class="row">
        <div class="col-md-12">
            <div id="admin-bulk-box" class="pull-right">
                <label id="admin-bulk-label">Bulk Edit Records</label>
                <form class="form-horizontal wide" id="suggestion_bulk_form">
                    <fieldset>
                        <div class="control-group" id="bulk_action-container">
                            <div class="controls ">
                                <select id="bulk_action" name="bulk_action" style="width: 250px;">
                                    <option selected value="">Select action...</option>
                                    <option value="change_status">Change status...</option>
                                    <option value="assign_editor_group">Assign to editor group...</option>
                                    <option value="add_note">Add a note...</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group" style="display: none" id="application_status-container">
                            <div class="controls ">
                                <select class="" id="application_status" name="application_status" style="width: 250px">
                                    <option value=""></option>
                                    {% for choice in application_status_choices %}
                                        <option value="{{ choice[0] }}">{{ choice[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control-group" style="display: none" id="editor_group-container">
                            <div class="controls">
                                <input id="editor_group" name="editor_group" style="width: 250px;" type="text" value="">
                            </div>
                        </div>
                        <div class="control-group" style="display: none" id="note-container">
                            <div class="controls">
                                <textarea id="note" name="note" style="width: 240px;" placeholder="Type note here..."></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button id="bulk-submit" class="btn btn-danger pull-right" disabled="disabled">Submit
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="facetview suggestions"></div>
{% endblock %}

{% block extra_js_bottom %}
<script type="text/javascript">
    var suggestion_edit_url = "{{ url_for('admin.suggestion_page', suggestion_id="") }}";
    var journals_fv_url = "{{ url_for('admin.journals') }}";
</script>
{% endblock %}
