{% extends "admin/admin_base.html" %}

{% include "_edges_common_css.html" %}

{% block page_title %}Update requests{% endblock %}

{% block admin_content %}
    <h1 class="sr-only">Update requests</h1>
    {% include "admin/_applications_and_update_requests_common.html" %}
{% endblock %}

{% block extra_js_bottom %}

    <script type="text/javascript">
    $.extend(true, doaj, {
        adminApplicationsSearchConfig : {
            applicationEditUrl : "{{ url_for('admin.application', application_id='') }}",
            journalsUrl : "{{ url_for('admin.index') }}",
            readOnlyJournalUrl: "{{ url_for('doaj.journal_readonly', journal_id="") }}",
            searchPath : '/admin_query/update_requests/_search'
        }
    });
    </script>

    {% include "admin/_applications_and_update_requests_common_js.html" %}

{% endblock %}
