.editorial-panel {
    .flag--resolved {
        position: relative;
        opacity: 0.2; /* Set opacity of entire div */
    }

    .flag--resolved::before {
        content: "RESOLVED"; /* The word to display as the stamp */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg); /* Center and rotate the text */
        font-size: 3em; /* Adjust the size of the stamp */
        color: rgba(0, 0, 0, 0.5); /* Light black color for the stamp */
        z-index: 10; /* Place the stamp behind the button */
        pointer-events: none; /* Ensure the stamp doesn't interfere with interactions */
        opacity: 0.6; /* Make the stamp slightly transparent */
        letter-spacing: 0.2em; /* Adjust the spacing between letters for the stamp */
        font-weight: bold;
    }
    .editorial-panel__content {
        .form__question.editorial-panel__question {
            padding: 0 !important;
            .editorial-panel__question-header {
                padding: .5rem;
                align-items: flex-start;
                label, p {
                    margin: 0;
                }
            }
            .editorial-panel__legend {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    padding: 0 .5rem;
                    margin-bottom: .375rem;
            }
            .editorial-panel__questions-content {
                .form-inputs--container {
                    &:has(input[type="hidden"]) {

                    }
                    &:has(label) {
                        label {
                            font-size: .75rem;
                            margin-bottom: 0;
                            margin-left: .5rem;
                            .form__question--optional {
                                font-size: .75rem;
                            }
                        }
                    }
                    &:has(svg) {
                        position: relative;
                        width:100%;
                        svg {
                            position: absolute;
                            left: .5rem;
                            top:50%;
                            transform: translateY(-25%);
                            z-index: 1;
                        }
                        .select2-choice {
                            .select2-chosen {
                                padding-left: calc(.5rem + 20px);
                            }
                        }
                    }
                    input {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    span.spanPretendingToBeInput {
                        display: block;
                        &:has(svg) {
                            display: flex;
                            align-items: flex-start;
                            gap: .5rem;
                        }
                        background-color: $disabled;
                        width: 100%;
                        padding: 0.5rem;
                        margin-bottom: .375rem;
                        font-style: italic;

                        span {
                            white-space: normal;
                        }
                    }

                    input:disabled ~ label {
                        display: none;
                    }
                }
            }
        }
    }
}