.editorial-panel {
  margin-top: 0;

  .form__question {
    select, textarea, input {
      width: 100%;
    }
  }

  @media (min-width: 992px) {
    position: -webkit-sticky;
    position: sticky;
    top: 55px; // sticky header + 5px

    &__content {
      max-height: 70vh;
      overflow-y: scroll;
    }
  }
}
