/* Navigation bar */

.nav-bar {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 75px;
  font-size: smaller;
  transition: height 0.3s ease-out;

  > li {
    margin: 0 $spacing-04;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .feather {
    margin: 0 $spacing-01;
    height: 15px;
  }
}

.nav-bar__link {
  display: block;
  line-height: 75px;
}
