/* Navigation bar */

.nav-bar {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 75px;
  font-size: smaller;

  .feather {
    margin: 0 0.5em;
    top: 0.125em;
    height: 15px;
  }

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.nav-bar__link {
  display: block;
  line-height: 75px;
}
