/* Navigation bar */

.nav-bar {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 75px;
  font-size: smaller;
  transition: height 0.3s ease-out;

  > li {
    margin: 0 $spacing-04;

    &:nth-child(1 of :not(.mobile)) {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .nav-bar__logout-form {
      margin: 0;
      > button.btn-logout {
        border: none;
        background-color: transparent;
        margin: 0;
        display: flex;
        align-items: baseline;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        gap: .25rem;
        color: $warm-black !important;
        line-height: 1;
        font-size: .889em;
        width: 100%;
        &:hover, &:active, &:focus {
          background-color: $grapefruit;
          color: $warm-black;
        }
      }
    }

    button.dropdown__trigger {
      padding: 0;
      border: none;
      line-height: 75px;
      background-color: transparent;
      margin-bottom: 0;

      &:hover,
      &:active {
        background: transparent;
        color: $grapefruit;
      }
    }

    a {
      display: flex;
      align-items: baseline;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      gap: .25rem;
    }
  }

  .feather {
    margin: 0 $spacing-01;
    height: 15px;
  }
}

.nav-bar__link {
  display: block;
  line-height: 75px;
}

nav {
  .dropdown {
    button.dropdown__trigger {
      > .username {
        position: relative;

        > .signed-in-as {
          @media (min-width: 1024px) {
            position: absolute;
            font-size: 0.75em;
          }
          left: 0;
          bottom: -0.7rem;
          margin-bottom: 0.25rem;
          font-weight: normal;
          white-space: nowrap;
          text-transform: uppercase;
        }
      }
    }
    ul.dropdown__menu {
      width: unset;
      height: fit-content;
      font-size: .889em;
      left: 1.5rem;
      min-width: calc(100% - 3rem);
      .nav-bar__logout-form {
        margin-bottom: 0;
        button.dropdown__link.btn-logout {
          margin-bottom: 0;
          width: 100%;
          color: white;
          border: none;
          text-align: start;
          &:hover,
          &:focus,
          &:active {
            color: $warm-black;
          }
        }
      }
    }
  }
}
