/* Page footer */

/* Footer */

.page-footer {
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: $warm-black;
  color: $white;
  @include typescale-06;

  h2 {
    text-transform: uppercase;
    font-size: 1em;
    @include font-sans;
  }

  ul {
    padding-left: 0;
    margin: 0 0 $spacing-04 0;
    list-style: none;
  }

  li {
    margin-bottom: 0.75em;
  }

  a {
    text-decoration: none;
    color: $white;
    line-height: 1.5;

    &:hover,
    &:focus,
    &:active {
      color: $grapefruit;
    }

    .feather {
      height: 1em;
    }
  }
}

// Legal stuff

.legal {
  padding: $spacing-04 0;
  border-top: 1px solid $white;
  @include typescale-06;

  li {
    display: inline-block;
    margin: 0 $spacing-04 0 0;
  }

  path {
    fill: $white;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    > div {
      width: 48%;
    }
  }
}
