/* Page header */

.page-header {
  min-height: 9.375rem;

  @media screen and (max-width: 768px) {
    min-height: 100px;
  }

  /* do not underline the links, unless in an alert */
  a:not(.alert a) {
    text-decoration: none;
  }

  .feather {
    position: relative;
  }
}