/* Top / primary nav */

.primary-nav {
  position: fixed;
  width: 100vw;
  z-index: 10;
  height: 75px;
  background-color: $warm-black;
  transition: top 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  color: $white;

  .dropdown__menu, a {
    background-color: $warm-black;
    color: currentColor;
  }

  @media (max-width: 768px) {
    .nav-bar {
      float: right;
    }

    .feather-chevron-down,
    .feather-heart,
    .primary-nav__item_desktop {
      display: none !important;
    }
  }
}

.primary-nav__search {
  padding: 0 $spacing-03;
  cursor: pointer;

  .feather-search {
    top: $spacing-01;
    height: 20px;
  }
}
