/* Top / primary nav */

.primary-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3000;
  height: 75px;
  background-color: $warm-black;
  transition: top 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  color: $white;

  a {
    color: $white;
  }

  .label {
    margin: 0 $spacing-02;
    color: $white;
  }

  // TODO: Needs to be renamed from secondary-nav since it’s been moved outside of there
  // Also appears in JS
  .secondary-nav__menu-toggle {
    display: none;
  }

  @media (max-width: 768px) {
    .secondary-nav__menu-toggle {
      margin-left: $spacing-03;
      display: flex;
      color: $white;
      stroke: $white;
    }
  }

  &--scrolled {
    top: -75px;

    a,
    .secondary-nav__menu-toggle,
    .nav-bar__link,
    .label {
      color: $warm-black;
      stroke: $warm-black;
    }
  }

  .dropdown__trigger {
    line-height: 75px;
  }

  .dropdown__menu {
    background-color: $warm-black;
    color: $white;
  }

  .primary-nav__item_desktop, .primary-nav__search {
    margin-left: $spacing-04;
  }

  @media (max-width: 768px) {
    .nav-bar {
      float: right;
    }

    .feather-chevron-down,
    .feather-heart,
    .primary-nav__item_desktop {
      display: none !important;
    }
  }
}
