{% extends "public/base.html" %}

{% block page_title %}Articles{% endblock %}
{% block meta_og_title %}Articles{% endblock %}
{% block meta_twitter_title %}Articles{% endblock %}
{%- block meta_description -%}Find open access articles in DOAJ.{%- endblock -%}
{%- block meta_og_description -%}Find open access articles in DOAJ.{%- endblock -%}
{%- block meta_twitter_description -%}Find open access articles in DOAJ.{%- endblock -%}

{% block public_content %}
    <div class="container page-content">
        <div id="public-article-search"></div>
        {% include "includes/search-help-modal.html" %}
    </div>
{% endblock %}

{% block public_js %}
    <script type="text/javascript">
    $.extend(true, doaj, {
        publicSearchConfig : {
            publicSearchPath : '{{ url_for("query.query", path="article/_search") }}?ref=public_article',
            lccTree: {{ lcc_tree|tojson }}
        }
    });
    </script>

    {% include "_edges_common_js.html" %}
    <script type="text/javascript" src="/static/js/edges/public.article.edge.js?v={{config.get('DOAJ_VERSION')}}"></script>
{% endblock %}
