<ul class="contribution-tables">
  <!-- Academic institutions -->
  <li class="contribution-tables__type">
    <h3>For academic institutions, including:</h3>
    <ul>
      <li>Individual institutions</li>
      <li>Academic libraries</li>
      <li>A university or universities</li>
      <li>Colleges</li>
    </ul>
    <p class="contribution-tables__choice">
      <strong data-toggle="collapse" data-target="#support-institutions" aria-expanded="false" class="tabular-list__heading">
        &rarr; I’m part of an academic institution
      </strong>
    </p>
    <div id="support-institutions" class="collapse" aria-expanded="false">

      <div class="tabs">
        <nav class="tabs__menu">
          <ul class="tabs__list" role="tablist">
            <li class="tabs__item">
              <a href="#support-institutions-large" role="tab" aria-selected="false">&rarr; It’s a <strong>large</strong> institution.</a>
            </li>
            <li class="tabs__item">
              <a href="#support-institutions-small" role="tab" aria-selected="false">&rarr; It’s a <strong>small</strong> institution.</a>
            </li>
          </ul>
        </nav>

        <div class="tabs__content">
          <div id="support-institutions-large" class="tabs__panel" role="tabpanel" aria-hidden="true">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>£ (GBP)</th>
                  <th>€ (EUR)</th>
                  <th>$ (USD)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th colspan="4">
                    <strong class="label">One-year commitment</strong>
                  </th>
                </tr>
                <tr>
                  <td>Basic</td>
                  <td>750</td>
                  <td>825</td>
                  <td>975</td>
                </tr>
                <tr>
                  <td>Sustaining</td>
                  <td>3,000</td>
                  <td>3,300</td>
                  <td>3,900</td>
                </tr>
                <tr>
                  <th colspan="4">
                    <strong class="label">Three-year commitment (15% discount) &mdash; Payment is upfront</strong>
                  </th>
                </tr>
                <tr>
                  <td>Basic</td>
                  <td>1,913</td>
                  <td>2,104</td>
                  <td>2,486</td>
                </tr>
                <tr>
                  <td>Sustaining</td>
                  <td>7,650</td>
                  <td>8,415</td>
                  <td>9,945</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="support-institutions-small" class="tabs__panel" role="tabpanel" aria-hidden="true">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>£ (GBP)</th>
                  <th>€ (EUR)</th>
                  <th>$ (USD)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th colspan="4">
                    <strong class="label">One-year commitment</strong>
                  </th>
                </tr>
                <tr>
                  <td>Basic</td>
                  <td>375</td>
                  <td>413</td>
                  <td>488</td>
                </tr>
                <tr>
                  <td>Sustaining</td>
                  <td>1,500</td>
                  <td>1,650</td>
                  <td>1,950</td>
                </tr>
                <tr>
                  <th colspan="4">
                    <strong class="label">Three-year commitment (15% discount) &mdash; Payment is upfront</strong>
                  </th>
                </tr>
                <tr>
                  <td>Basic</td>
                  <td>956</td>
                  <td>1,052</td>
                  <td>1,243</td>
                </tr>
                <tr>
                  <td>Sustaining</td>
                  <td>3,825</td>
                  <td>4,208</td>
                  <td>4,973</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <p><small>The definition as to Large/Small is at the discretion of the institution.</small></p>

    </div>
  </li>

  <!-- Institutions that are members of a consortium -->
  <li class="contribution-tables__type">
    <h3>For institutions that are members of:</h3>
    <ul>
      <li>A billing consortium</li>
      <li>A library network</li>
    </ul>
    <p class="contribution-tables__choice">
      <strong data-toggle="collapse" data-target="#support-members" aria-expanded="false" class="tabular-list__heading">
        &rarr; I’m part of a member institution
      </strong>
    </p>
    <div id="support-members" class="collapse" aria-expanded="false">
      <div class="tabs">
        <nav class="tabs__menu">
          <ul class="tabs__list" role="tablist">
            <li class="tabs__item">
              <a href="#support-members-large" role="tab" aria-selected="true">It’s a <strong>large</strong> institution.</a>
            </li>
            <li class="tabs__item" role="presentation">
              <a href="#support-members-small" role="tab" aria-selected="false">It’s a <strong>small</strong> institution.</a>
            </li>
          </ul>
        </nav>

        <div class="tabs__content">
          <div id="support-members-large" class="tabs__panel" role="tabpanel" aria-hidden="false">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>£ (GBP)</th>
                  <th>€ (EUR)</th>
                  <th>$ (USD)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th colspan="4">
                    <strong class="label">One-year commitment</strong>
                  </th>
                </tr>
                <tr>
                  <td>Basic</td>
                  <td>525</td>
                  <td>578</td>
                  <td>683</td>
                </tr>
                <tr>
                  <td>Sustaining</td>
                  <td>2,100</td>
                  <td>2,310</td>
                  <td>2,730</td>
                </tr>
                <tr>
                  <th colspan="4">
                    <strong class="label">Three-year commitment (15% discount) &mdash; Payment is upfront</strong>
                  </th>
                </tr>
                <tr>
                  <td>Basic</td>
                  <td>1,913</td>
                  <td>2,104</td>
                  <td>2,486</td>
                </tr>
                <tr>
                  <td>Sustaining</td>
                  <td>7,650</td>
                  <td>8,415</td>
                  <td>9,945</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div id="support-members-small" class="tabs__panel" role="tabpanel" aria-hidden="false">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>£ (GBP)</th>
                  <th>€ (EUR)</th>
                  <th>$ (USD)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th colspan="4">
                    <strong>One-year commitment</strong>
                  </th>
                </tr>
                <tr>
                  <td>Basic</td>
                  <td>263</td>
                  <td>289</td>
                  <td>341</td>
                </tr>
                <tr>
                  <td>Sustaining</td>
                  <td>1,050</td>
                  <td>1,155</td>
                  <td>1,365</td>
                </tr>
                <tr>
                  <th colspan="4">
                    <strong>Three-year commitment (15% discount) &mdash; Payment is upfront</strong>
                  </th>
                </tr>
                <tr>
                  <td>Basic</td>
                  <td>669</td>
                  <td>736</td>
                  <td>870</td>
                </tr>
                <tr>
                  <td>Sustaining</td>
                  <td>2,678</td>
                  <td>2,945</td>
                  <td>3,481</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <p><small>The definition as to Large/Small is at the discretion of the consortium.</small></p>
    </div>
  </li>
  <li class="contribution-tables__type">
    <h3>For organisations that are:</h3>
    <ul>
      <li>Consortia</li>
      <li>Library networks</li>
    </ul>
    <p class="contribution-tables__choice">
      <strong data-toggle="collapse" data-target="#support-orgs" aria-expanded="false" class="tabular-list__heading">
        &rarr; I’m part of a member institution
      </strong>
    </p>
    <div id="support-orgs" class="collapse" aria-expanded="false">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>£ (GBP)</th>
            <th>€ (EUR)</th>
            <th>$ (USD)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Annual</td>
            <td>3,000</td>
            <td>3,300</td>
            <td>3,900</td>
          </tr>
          <tr>
            <td>Three-year commitment (15% discount, paid upfront)</td>
            <td>7,650</td>
            <td>8,415</td>
            <td>9,945</td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</ul>
