<footer class="page-footer">
  <div class="container">
    <a href="#" id="top" class="back-to-top" data-spy="affix"><span data-feather="arrow-up"></span></a>
    <section class="row">
      <div class="col-xs-6 col-sm-4 col-lg-2">
        <h2>Apply</h2>
        <ul>
          <li><a href="{{ site.baseurl }}{% link apply/index.md %}">Application form</a></li>
          <li><a href="{{ site.baseurl }}{% link apply/guide.md %}">Guide to applying</a></li>
          <li><a href="{{ site.baseurl }}{% link apply/seal.md %}">The DOAJ seal</a></li>
          <li><a href="{{ site.baseurl }}{% link apply/transparency.md %}">Transparency & best practice</a></li>
          <li><a href="{{ site.baseurl }}{% link apply/why-index.md %}">Why index your journal in DOAJ?</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-2">
        <h2>Search</h2>
        <ul>
          <li><a href="">Journals</a></li>
          <li><a href="">Articles</a></li>
          <li><a href="">Browse by subject</a></li>
          <li><a href="">Open Knowledge Maps</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-2">
        <h2>Documentation</h2>
        <ul>
          <li><a href="">API</a></li>
          <li><a href="{{ site.baseurl }}{% link docs/oai-pmh.md %}">OAI-PMH</a></li>
          <li><a href="{{ site.baseurl }}{% link docs/xml.md %}">XML</a></li>
          <li><a href="{{ site.baseurl }}{% link docs/widgets.md %}">Widgets</a></li>
          <li><a href="{{ site.baseurl }}{% link docs/public-data-dump.md %}">Public data dump</a></li>
          <li><a href="{{ site.baseurl }}{% link docs/openurl.md %}">OpenURL</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-2">
        <h2>About</h2>
        <ul>
          <li><a href="{{ site.baseurl }}{% link about/index.md %}">History & mission</a></li>
          <li><a href="{{ site.baseurl }}{% link about/team.md %}">Team</a></li>
          <li><a href="{{ site.baseurl }}{% link about/ambassadors.md %}">Ambassadors</a></li>
          <li><a href="{{ site.baseurl }}{% link about/advisory-board-council.md %}">Advisory Board & Council</a></li>
          <li><a href="{{ site.baseurl }}{% link about/volunteers.md %}">Volunteers</a></li>
          <li><a href="">News</a></li>
          <li><a href="{{ site.baseurl }}{% link about/faq.md %}">FAQs</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-2">
        <h2>Support</h2>
        <ul>
          <li><a href="{{ site.baseurl }}{% link support/index.md %}">Support DOAJ</a></li>
          <li><a href="{{ site.baseurl }}{% link support/sponsors.md %}">Sponsors</a></li>
          <li><a href="{{ site.baseurl }}{% link support/publisher-supporters.md %}">Publisher supporters</a></li>
          <li><a href="{{ site.baseurl }}{% link support/supporters.md %}">Supporters</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-2">
        <h2>Stay up to date</h2>
        <ul>
          <li>
            <a href="https://twitter.com/DOAJplus" target="_blank">
              <span data-feather="twitter"></span> Twitter
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/DirectoryofOpenAccessJournals/" target="_blank">
              <span data-feather="facebook"></span> Facebook
            </a>
          </li>
          <li>
            <a href="https://github.com/DOAJ" target="_blank">
              <span data-feather="github"></span> Github
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/directory-of-open-access-journals-doaj-/" target="_blank">
              <span data-feather="linkedin"></span> Linkedin
            </a>
          </li>
          <li>
            <a href="">
              <span data-feather="rss"></span> Atom feed</a>
            </li>
        </ul>
      </div>
    </section>

    <section class="row legal">
      <div class="col-sm-6">
        <ul>
          <li><a href="{{ site.baseurl }}{% link about/privacy.md %}">Privacy</a></li>
          <li><a href="{{ site.baseurl }}{% link contact.md %}">Contact us</a></li>
          <li><a href="https://is4oa.org/" target="_blank">IS4OA</a></li>
          <li><a href="https://cottagelabs.com/" target="_blank">Cottage Labs LLP</a></li>
        </ul>
      </div>
      <p class="col-sm-6">©2020 DOAJ. The DOAJ site and its metadata are licensed under CC BY-SA.</p>
    </section>
  </div>
</footer>

<script>
  // Use Feather icons
  feather.replace()

  // Responsive menu
  var openMenu = document.querySelector(".secondary-nav__menu-toggle");
  var nav = document.querySelector(".secondary-nav__menu");

  openMenu.addEventListener('click', function() {
    nav.classList.toggle("secondary-nav__menu-toggle--is-active");
  }, false);

  // Back-to-top button
  topBtn = document.getElementById("top");

  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      topBtn.style.display = "flex";
    } else {
      topBtn.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>
