<footer class="page-footer">
  <div class="container">
    <section class="row">
      <div class="col-sm-2">
        <h2>Apply</h2>
        <ul>
          <li><a href="/apply">Application form</a></li>
          <li><a href="/apply/guide">Guide to applying</a></li>
          <li><a href="/apply/seal">The DOAJ seal</a></li>
          <li><a href="/apply/transparency">Transparency & best practice</a></li>
          <li><a href="/apply/why-index">Why index your journal in DOAJ?</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h2>Journals & articles</h2>
        <ul>
          <li><a href="">Journals</a></li>
          <li><a href="">Articles</a></li>
          <li><a href="">Browse by subject</a></li>
          <li><a href="">Open Knowledge Maps</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h2>Documentation</h2>
        <ul>
          <li><a href="">API</a></li>
          <li><a href="">OAI-PMH</a></li>
          <li><a href="/docs/xml">XML</a></li>
          <li><a href="/docs/widgets">Widgets</a></li>
          <li><a href="/docs/public-data-dump">Public data dump</a></li>
          <li><a href="/docs/openurl">OpenURL</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h2>About</h2>
        <ul>
          <li><a href="/about">History & mission</a></li>
          <li><a href="/about/team">Team</a></li>
          <li><a href="/about/ambassadors">Ambassadors</a></li>
          <li><a href="/about/advisory-board-council">Advisory Board & Council</a></li>
          <li><a href="/about/volunteers">Volunteers</a></li>
          <li><a href="">News</a></li>
          <li><a href="/about/faq">FAQs</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h2>Support</h2>
        <ul>
          <li><a href="/support">Support DOAJ</a></li>
          <li><a href="/support/sponsors">Sponsors</a></li>
          <li><a href="/support/publisher-supporters">Publisher supporters</a></li>
          <li><a href="/support/supporters">Supporters</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h2>Stay up to date</h2>
        <ul>
          <li>
            <a href="https://twitter.com/DOAJplus" target="_blank">
              <span data-feather="twitter"></span> Twitter
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/DirectoryofOpenAccessJournals/" target="_blank">
              <span data-feather="facebook"></span> Facebook
            </a>
          </li>
          <li>
            <a href="https://github.com/DOAJ" target="_blank">
              <span data-feather="github"></span> Github
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/directory-of-open-access-journals-doaj-/" target="_blank">
              <span data-feather="linkedin"></span> Linkedin
            </a>
          </li>
          <li>
            <a href="">
              <span data-feather="rss"></span> Journals RSS</a>
            </li>
        </ul>
      </div>
    </section>

    <section class="row legal">
      <div class="col-sm-6">
        <ul>
          <li><a href="">Privacy</a></li>
          <li><a href="">Contact us</a></li>
          <li><a href="">IS4OA</a></li>
          <li><a href="">Cottage Labs LLP</a></li>
        </ul>
      </div>
      <p class="col-sm-6">©2020 DOAJ. The DOAJ site and its metadata are licensed under CC BY-SA.</p>
    </section>
  </div>
</footer>

<script>
  // User Feather icons
  feather.replace()

  // Responsive menu
  var openMenu = document.querySelector(".secondary-nav__menu-toggle");
  var nav = document.querySelector(".secondary-nav__menu");

  openMenu.addEventListener('click', function() {
    nav.classList.toggle("secondary-nav__menu-toggle--is-active");
  }, false);
</script>
