<head>
  <meta charset="utf-8">
  <title>Directory of Open Access Journals</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <!-- <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png"> -->

  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Spectral:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% if page.layout != 'index' %}../../{% endif %}css/main.css">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

  <script src="{% if page.layout != 'index' %}../../{% endif %}js/vendors/bootstrap.js"></script>

  <meta name="theme-color" content="#982E0A">

  <!-- Feather icons -->
  <script src="https://unpkg.com/feather-icons"></script>
</head>
