<nav class="pagination">
  <h3 class="sr-only">Jump to&hellip;</h3>
  <ul>
    <li><a href=""><span data-feather="chevrons-left" aria-hidden="true"></span> First</a></li>
    <li><a href=""><span data-feather="chevron-left" aria-hidden="true"></span> Previous</a></li>
    <li><strong>Page 1 of 298</strong></li>
    <li><a href="">Next <span data-feather="chevron-right" aria-hidden="true"></span></a></li>
    <li><a href="">Last <span data-feather="chevrons-right" aria-hidden="true"></span></a></li>
  </ul>
</nav>
