<aside class="filters">
  <h2 class="label label--underlined filters__heading" type="button" data-toggle="collapse" data-target="#filters" aria-expanded="false">
    <span data-feather="sliders" aria-hidden="true"></span> Refine search results <span data-feather="chevron-down" aria-hidden="true"></span>
  </h2>
  <ul class="collapse filters__list" id="filters" aria-expanded="false">
    
    <!--  Search within these results -->
    <li class="filter">
      <h3 class="filter__heading">
        Search within the results
      </h3>

      <label for="search-keywords" class="sr-only">Search {{ site.data.search-filters.subjects.size }} subjects</label>
      <input type="text" name="search-keywords" id="search-keywords" class="filter__search" placeholder="Additional keywords">
    </li>

    <!-- Subject filter -->
    <li class="filter">
      <h3 class="filter__heading">
        Subjects
      </h3>
      <div id="filter-subjects" class="filter__body">

        {% if site.data.search-filters.subjects.size > 10 %}
        <label for="search-subjects" class="sr-only">Search {{ site.data.search-filters.subjects.size }} subjects</label>
        <input type="text" name="search-subjects" id="search-subjects" class="filter__search" placeholder="Search {{ site.data.search-filters.subjects.size }} subjects">
        {% endif %}

        <ul class="filter__choices">
          {% for i in site.data.search-filters.subjects limit:50 %}
          <li>
            <input id="{{ i.name }}" type="checkbox" name="{{ i.name }}"/>
            <label for="{{ i.name }}" class="filter__label">{{ i.name }} ({{ i.total }})</label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>

    <!-- Journals -->
    <li class="filter">
      <h3 class="filter__heading" type="button" data-toggle="collapse" data-target="#filter-journals" aria-expanded="false">
        Journals
        <span data-feather="chevron-down" aria-hidden="true"></span>
      </h3>
      <div id="filter-journals" class="collapse filter__body" aria-expanded="false">

        {% if site.data.search-filters.journals.size > 10 %}
        <label for="search-journals" class="sr-only">Search {{ site.data.search-filters.journals.size }} journals</label>
        <input type="text" name="search-journals" class="filter__search" placeholder="Search {{ site.data.search-filters.journals.size }} journals">
        {% endif %}

        <ul class="filter__choices">
          {% for i in site.data.search-filters.journals limit:50 %}
          <li>
            <input id="{{ i.name }}" type="checkbox" name="{{ i.name }}"/>
            <label for="{{ i.name }}" class="filter__label">{{ i.name }} ({{ i.total }})</label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>

    <!-- Year of publication -->
    <li class="filter">
      <h3 class="filter__heading" type="button" data-toggle="collapse" data-target="#filter-year" aria-expanded="false">
        Year of publication
        <span data-feather="chevron-down" aria-hidden="true"></span>
      </h3>
      <div id="filter-year" class="collapse filter__body" aria-expanded="false">
        <ul class="filter__choices">
          {% for i in site.data.search-filters.date_added %}
          <li>
            <input id="{{ i.name }}" type="checkbox" name="{{ i.name }}"/>
            <label for="{{ i.name }}" class="filter__label">{{ i.name }} ({{ i.total }})</label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>

  </ul>

  <p class="input-group">
    <button class="input-group__input" type="button">
      <span data-feather="share-2" aria-hidden="true"></span> Share
    </button>
    <button class="input-group__input" type="button">
      <span data-feather="code" aria-hidden="true"></span> Embed
    </button>
  </p>
</aside>
