<aside class="filters">
  <h2 class="filters__heading" type="button" data-toggle="collapse" data-target="#filters" aria-expanded="false">
    Refine search results <span data-feather="chevron-down" aria-hidden="true"></span>
  </h2>
  <ul class="collapse filters__list" id="filters" aria-expanded="false">
    
    <!-- General journal settings -->
    <li class="filter">
      <h3 class="filter__heading">
        See articles&hellip;
      </h3>
      <ul class="filter__choices">
        <li>
          <input id="filter-seal" type="checkbox" name="filter-seal"/>
          <label for="filter-seal" class="filter__label">With a DOAJ Seal&nbsp;&nbsp;<span data-feather="check-circle" aria-hidden="true"></span></label>
        </li>
      </ul>
    </li>

    <!--  Search within these results -->
    <li class="filter">
      <h3 class="filter__heading">
        Search within the results
      </h3>

      <ul class="filter__choices">
        <li>
          <label for="search-keywords" class="sr-only">Search {{ site.data.search-filters.subjects.size }} subjects</label>
          <input type="text" name="search-keywords" id="search-keywords" class="filter__search" placeholder="Add keywords">
        </li>
      </ul>
    </li>

    <!-- Subject filter -->
    <li class="filter">
      <h3 class="filter__heading">
        Subjects
      </h3>
      <div id="filter-subjects" class="filter__body">

        {% if site.data.search-filters.subjects.size > 10 %}
        <label for="search-subjects" class="sr-only">Search {{ site.data.search-filters.subjects.size }} subjects</label>
        <input type="text" name="search-subjects" id="search-subjects" class="filter__search" placeholder="Search {{ site.data.search-filters.subjects.size }} subjects">
        {% endif %}

        <ul class="filter__choices">
          {% for i in site.data.search-filters.subjects limit:50 %}
          <li>
            <input id="{{ i.name }}" type="checkbox" name="{{ i.name }}"/>
            <label for="{{ i.name }}" class="filter__label">{{ i.name }} ({{ i.total }})</label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>

    <!-- Languages -->
    <li class="filter">
      <h3 class="filter__heading" type="button" data-toggle="collapse" data-target="#filter-languages" aria-expanded="false">
        Languages
        <span data-feather="chevron-down" aria-hidden="true"></span>
      </h3>
      <div id="filter-languages" class="collapse filter__body" aria-expanded="false">

        {% if site.data.search-filters.languages.size > 10 %}
        <label for="search-languages" class="sr-only">Search {{ site.data.search-filters.languages.size }} languages</label>
        <input type="text" name="search-languages" class="filter__search" placeholder="Search {{ site.data.search-filters.languages.size }} languages">
        {% endif %}

        <ul class="filter__choices">
          {% for i in site.data.search-filters.languages limit:50 %}
          <li>
            <input id="{{ i.name }}" type="checkbox" name="{{ i.name }}"/>
            <label for="{{ i.name }}" class="filter__label">{{ i.name }} ({{ i.total }})</label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>

    <!-- Licenses -->
    <li class="filter">
      <h3 class="filter__heading" type="button" data-toggle="collapse" data-target="#filter-licenses" aria-expanded="false">
        Licenses
        <span data-feather="chevron-down" aria-hidden="true"></span>
      </h3>
      <div id="filter-licenses" class="collapse filter__body" aria-expanded="false">
        {% if site.data.search-filters.licenses.size > 10 %}
        <label for="search-licenses" class="sr-only">Search {{ site.data.search-filters.licenses.size }} licenses</label>
        <input type="text" name="search-licenses" class="filter__search" placeholder="Search {{ site.data.search-filters.licenses.size }} licenses">
        {% endif %}

        <ul class="filter__choices">
          {% for i in site.data.search-filters.licenses %}
          <li>
            <input id="{{ i.name }}" type="checkbox" name="{{ i.name }}"/>
            <label for="{{ i.name }}" class="filter__label">{{ i.name }} ({{ i.total }})</label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>

    <!-- Year of publication -->
    <li class="filter">
      <h3 class="filter__heading" type="button" data-toggle="collapse" data-target="#filter-year" aria-expanded="false">
        Year of publication
        <span data-feather="chevron-down" aria-hidden="true"></span>
      </h3>
      <div id="filter-year" class="collapse filter__body" aria-expanded="false">
        <ul class="filter__choices">
          {% for i in site.data.search-filters.date_added %}
          <li>
            <input id="{{ i.name }}" type="checkbox" name="{{ i.name }}"/>
            <label for="{{ i.name }}" class="filter__label">{{ i.name }} ({{ i.total }})</label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>

  </ul>
</aside>
