<div class="row">
  <form class="col-md-9">
    <div class="input-group">
      <label for="keywords" class="sr-only">Search by keywords:</label>
      <input class="input-group__input" type="text" name="keywords" id="keywords">

      <label for="fields" class="sr-only">In the field:</label>
      <select class="input-group__input" name="fields" id="fields">
        <option value="">All fields</option>
        <option value="">Title</option>
        <option value="">Keywords</option>
        <option value="">Subject</option>
        <option value="">Author</option>
        <option value="">ISSN</option>
        <option value="">DOI</option>
        <option value="">Publisher</option>
        <option value="">Country of publisher</option>
        <option value="">Language</option>
      </select>

      <button class="input-group__input" type="submit">
        <span data-feather="search" aria-hidden="true"></span><span class="sr-only"> Search</span>
      </button>
    </div>
  </form>
</div>
