<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="apply">
    {% include header.html %}

    <main class="container">
      <div class="row">

        <div class="col-md-8">
           <section class="page-content">
            <h1>{{ page.title }}</h1>

            {{ content }}

            <a href="" class="button secondary-button">Previous</a>
            <a href="{{ form-01-oa-compliance }}" class="button secondary-button">Next</a>

          </section>
        </div>

        <div class="col-md-4">
          <nav class="page-nav" data-spy="affix">
            <h2 class="page-nav__heading">Application progress:</h2>
          </nav>
        </div>

      </div>
    </main>

    {% include footer.html %}
  </body>

</html>
