{% if page.fragment == false %}
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="apply">
    {% include header.html %}
{% endif %}

    <main class="container">
      <div class="row">

        {% if page.admin %}
        <div class="col-md-4">
          {% include admin-panel.html %}
        </div>
        {% endif %}

        <div class="col-md-8">
          <section class="page-content">
            {% if page.name != "index.md" and page.name != "thank-you.md" and page.name != "thank-you-fragment.md" and page.name != "edit.md" %}<p class="label">Page {{ page.number }} of 7</p>{% endif %}
            <h1>{{ page.title }}</h1>
            {% if page.admin %}
            <ul class="tags">
              <li class="tag">Pending</li>
              <li class="tag"><a href="#"><span data-feather="user" aria-hidden="true"></span> soonkim (Southeast Asia)</a></li>
            </ul>
            {% endif %}

            {{ content }}

            <form action="../{{ page.next }}">
              {% assign form_page = page.name | prepend: "form-" | remove: ".md" %}

              {% for question in site.data[form_page] %}

              {% assign prev = forloop.index0 | minus: 1 %}
              {% assign prev_q_subgroup = site.data[form_page][prev].subgroup %}

              {% if question.subgroup and question.subgroup != prev_q_subgroup  %}
              <h2 class="form__header">{{ question.subgroup }}</h2>
              {% endif %}

              <div class="form__question{% if question.depends_on %} form__subquestion{% endif %}">

                <!-- Hardcoding this bit just because it’s easier for HTML prototyping purposes -->
                {% if question.id == 'apc_max'%}
                <label for="question.id">{{ question.label }}&nbsp;{% include form_long_help.html %}</label>
                <div class="input-group" style="width: 75%;">
                  <label for="apc_currency" class="sr-only"></label>
                  <select id="apc_currency" require style="width: 25%;">
                    <option id="{{ question.id }}-usd">$ USD</option>
                    <option id="{{ question.id }}-eur">€ EUR</option>
                    <option id="{{ question.id }}-gbp">£ GBP</option>
                  </select>
                  <input id="{{ question.id }}" type="{{ question.input }}" {% if question.placeholder %}placeholder="{{ question.placeholder }}"{% endif %}{% if question.required %} required{% endif %} style="width: 75%;"/>
                </div>

                {% elsif question.input == 'radio' or question.input == 'checkbox' %}
                <p>{{ question.label }}&nbsp;{% include form_long_help.html %}</p>
                {% if question.short_help %}<p><small>{{ question.short_help }}</small></p>{% endif %}
                {% for choice in question.choices %}
                <input id="{{ question.id }}-{{ choice[0] }}" type="{{ question.input }}" name="{{ question.id }}"{% if question.required %} required{% endif %}/>
                <label for="{{ question.id }}-{{ choice[0] }}">{{ choice[1] }}</label>
                {% endfor %}

                {% elsif question.input == 'select' %}
                <label for="{{ question.id }}">
                  {{ question.label }}&nbsp;{% include form_long_help.html %}
                  {% if question.required == false %}<span class="form__question--optional">(Optional)</span>{% endif %}
                </label>
                <select id="{{ question.id }}"{% if question.required %} required{% endif %}>
                  {% for choice in question.choices %}
                  <option id="{{ question.id }}-{{ choice[0] }}">{{ choice[1] }}</option>
                  {% endfor %}
                </select>
                {% if question.short_help %}<p><small>{{ question.short_help }}</small></p>{% endif %}

                {% elsif question.input == 'textarea' %}
                <label for="{{ question.id }}">
                  {{ question.label }}&nbsp;{% include form_long_help.html %}
                  {% if question.required == false %}<span class="form__question--optional">(Optional)</span>{% endif %}
                </label>
                <textarea id="{{ question.id }}"{% if question.required %} required{% endif %}></textarea>
                {% if question.short_help %}<p><small>{{ question.short_help }}</small></p>{% endif %}

                {% else %}
                <label for="{{ question.id }}">
                  {{ question.label }}&nbsp;{% include form_long_help.html %}
                  {% if question.required == false %}<span class="form__question--optional">(Optional)</span>{% endif %}
                </label>
                <input id="{{ question.id }}" type="{{ question.input }}" {% if question.placeholder %}placeholder="{{ question.placeholder }}"{% endif %}{% if question.required %} required{% endif %}{% if question.input == 'number' %} min="1"{% endif %}/>
                {% if question.short_help %}<p><small>{{ question.short_help }}</small></p>{% endif %}
                {% endif %}

              </div>

              {% if question.long_help %}
              <!-- Long help in modal -->
              <div class="modal" id="modal-{{ question.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel-{{ question.id }}">
                <div class="modal__dialog" role="document">
                  {% if question.subgroup %}<p class="label">{{ question.subgroup }}</p>{% endif %}
                  <h3 class="modal__title" id="modalLabel-{{ question.id }}">
                    “{{ question.label }}”
                  </h3>
                  {{ question.long_help }}
                  <button type="button" data-dismiss="modal" class="modal__close">Close</button>
                </div>
              </div>
              {% endif %}

              {% endfor %}

              {% if page.name != "index.md" and page.name != "thank-you.md" and page.name != "thank-you-fragment.md" and page.name != "07-review.md" %}
              <p class="pager-buttons">
                {% if page.previous %}
                <a href="../{{ page.previous }}" class="button button--secondary pager-buttons__left">Previous</a>
                {% endif %}

                <button type="submit" class="button button--primary pager-buttons__right">Next</button>

                <a href="#" class="button button--secondary pager-buttons__center">Save draft</a>
              </p>
              {% endif %}
            </form>
          </section>
        </div>

        {% if page.admin == false %}
        <div class="col-md-4">
          <div>
            {% assign step1 = '01-oa-compliance.md' %}
            {% assign step2 = '02-about.md' %}
            {% assign step3 = '03-copyright-licensing.md' %}
            {% assign step4 = '04-editorial.md' %}
            {% assign step5 = '05-business-model.md' %}
            {% assign step6 = '06-best-practice.md' %}
            {% assign step7 = '07-review.md' %}

            {% if page.name != "index.md" and page.name != "thank-you.md" and page.name != "thank-you-fragment.md" %}
            <nav class="application-nav">
              <h2 class="application-nav__heading">Application progress</h2>
              <ol class="application-nav__list">
                <li class="application-nav__list-item
                  {% if page.name == step1 %} application-nav__list-item--active
                  {% elsif page.name == step2 or page.name == step3 or page.name == step4 or page.name == step5 or page.name == step6 or page.name == step7 %} application-nav__list-item--done
                  {% endif %}">
                  <a href="{{ site.baseurl }}{% link apply/01-oa-compliance.md %}">
                    Open access compliance
                  </a>
                </li>
                <li class="application-nav__list-item
                  {% if page.name == step2 %} application-nav__list-item--active
                  {% elsif page.name == step3 or page.name == step4 or page.name == step5 or page.name == step6 or page.name == step7 %} application-nav__list-item--done
                  {% endif %}">
                  <a href="{{ site.baseurl }}{% link apply/02-about.md %}">
                    About
                  </a>
                </li>
                <li class="application-nav__list-item
                  {% if page.name == step3 %} application-nav__list-item--active
                  {% elsif page.name == step4 or page.name == step5 or page.name == step6 or page.name == step7 %} application-nav__list-item--done
                  {% endif %}">
                  <a href="{{ site.baseurl }}{% link apply/03-copyright-licensing.md %}">
                    Copyright & licensing
                  </a>
                </li>
                <li class="application-nav__list-item
                  {% if page.name == step4 %} application-nav__list-item--active
                  {% elsif page.name == step5 or page.name == step6 or page.name == step7 %} application-nav__list-item--done
                  {% endif %}">
                  <a href="{{ site.baseurl }}{% link apply/04-editorial.md %}">
                    Editorial
                  </a>
                </li>
                <li class="application-nav__list-item
                  {% if page.name == step5 %} application-nav__list-item--active
                  {% elsif page.name == step6 or page.name == step7 %} application-nav__list-item--done
                  {% endif %}">
                  <a href="{{ site.baseurl }}{% link apply/05-business-model.md %}">
                    Business model
                  </a>
                </li>
                <li class="application-nav__list-item
                  {% if page.name == step6 %} application-nav__list-item--active
                  {% elsif page.name == step7 %} application-nav__list-item--done
                  {% endif %}">
                  <a href="{{ site.baseurl }}{% link apply/06-best-practice.md %}">
                    Best practice
                  </a>
                </li>
                <li class="application-nav__list-item
                  {% if page.name == step7 %} application-nav__list-item--active{% endif %}">
                  <a href="{{ site.baseurl }}{% link apply/07-review.md %}">
                    Review your answers
                  </a>
                </li>
              </ol>
            </nav>
            {% endif %}

            {% if page.name != "thank-you.md" and page.name != "thank-you-fragment.md" %}
            <aside class="highlight highlight--aside">
              <h2 class="label">Related help</h2>
              <ul class="full-width-list">
                <li class="full-width-list__item">
                  <a href="{{ site.baseurl }}{% link apply/guide.md %}">Guide to applying</a>
                </li>
                <li class="full-width-list__item">
                  <a href="{{ site.baseurl }}{% link apply/seal.md %}">The DOAJ Seal</a>
                </li>
                <li class="full-width-list__item">
                  <a href="{{ site.baseurl }}{% link apply/transparency.md %}">Transparency & best practice</a>
                </li>
                <li class="full-width-list__item">
                  <a href="{{ site.baseurl }}{% link apply/why-index.md %}">Why index your journal in DOAJ?</a>
                </li>
              </ul>
            </aside>
            {% endif %}

            {% if page.name == "thank-you.md" or page.name == "thank-you-fragment.md"%}
            <aside class="promo">
              <p class="label">Just so you know&hellip;</p>
              <h2 class="promo__heading">Editorial disclaimer</h2>
              <p class="promo__text">
                You are responsible for providing accurate information when submitting your application. If the information provided is not sufficient or is incomplete, the application may be rejected.
                <a href="{{ site.baseurl }}{% link apply/guide.md %}#editorial-disclaimer" class="promo__link">Read our full disclaimer</a>
              </p>
            </aside>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
    </main>

{% if page.fragment == false %}
    {% include footer.html %}
  </body>

</html>
{% endif %}
