<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include header.html %}

    <main class="page-content article-summary article-details">
      <div class="highlight">
        <header class="container">
          <p class="label">
            <a href="{{ site.baseurl }}{% link search/journal-details.md %}">{{ page.journal }}</a>
            ({{ page.issue_pub_date }})
          </p>

          <h1>{{ page.title }}</h1>

          <div class="row article-details__meta">
            {% if page.authors %}
            <div class="col-md-6 col-lg-6">
              <ul>
                {% for j in page.authors %}
                <li>{{ j }}{% if forloop.last %}{% else %}, {% endif %}</li>
                {% endfor %}
              </ul>

              <p>
                <a class="button" type="button" data-toggle="collapse" data-target="#authors-affiliations" aria-expanded="false">
                  Affiliations
                  <span data-feather="plus" aria-hidden="true"></span>
                </a>
              </p>
              <dl id="authors-affiliations" class="collapse" aria-expanded="false">
                <dt>Stephanie Kullmann </dt>
                <dd>Institute for Diabetes Research and Metabolic Diseases of the Helmholtz Center Munich at the University of Tübingen</dd>

                <dt>Vera Valenta </dt>
                <dd>Institute for Diabetes Research and Metabolic Diseases of the Helmholtz Center Munich at the University of Tübingen</dd>

                <dt>Robert Wagner </dt>
                <dd>Institute for Diabetes Research and Metabolic Diseases of the Helmholtz Center Munich at the University of Tübingen</dd>

                <dt>Otto Tschritter </dt>
                <dd>Emergency Department, Marienhospital Stuttgart, Vinzenz von Paul Kliniken</dd>

                <dt>Jürgen Machann </dt>
                <dd>Institute for Diabetes Research and Metabolic Diseases of the Helmholtz Center Munich at the University of Tübingen</dd>

                <dt>Hans-Ulrich Häring </dt>
                <dd>Institute for Diabetes Research and Metabolic Diseases of the Helmholtz Center Munich at the University of Tübingen</dd>

                <dt>Hubert Preissl </dt>
                <dd>Institute for Diabetes Research and Metabolic Diseases of the Helmholtz Center Munich at the University of Tübingen</dd>

                <dt>Andreas Fritsche </dt>
                <dd>Institute for Diabetes Research and Metabolic Diseases of the Helmholtz Center Munich at the University of Tübingen</dd>

                <dt>Martin Heni </dt>
                <dd>Institute for Diabetes Research and Metabolic Diseases of the Helmholtz Center Munich at the University of Tübingen</dd>
              </dl>
            </div>
            {% endif %}

            {% if page.doi %}
            <dl class="col-md-6 col-lg-6">
              <dt>DOI</dt>
              <dd>
                <a href="https://doi.org/{{ page.doi }}" target="_blank" rel="noopener">https://doi.org/{{ page.doi }}</a>
              </dd>

              <dt>Journal volume & issue</dt>
              <dd>
                {% if page.volume %}Vol. {{ page.volume }}{% endif %}{% if page.volume and page.issue %},{% endif %}
                {% if page.issue %}no. {{ page.issue }}{% endif %}
              </dd>
            </dl>
            {% endif %}
          </div>



        </header>
      </div>

      <div class="container">
        <div class="row">
          <section class="col-md-8">
            <header class="flex-header">
              <h2 class="flex-header__child">Abstract</h2>
              <p class="flex-header__child">
                <a href="{{ page.url }}" class="button button--primary" target="_blank" rel="noopener" role="button">Read online</a>
              </p>
            </header>
            {% if page.abstract %}
            <p class="article-details__abstract">{{ page.abstract }}</p>
            {% else %}
            <em class="article-details__abstract--empty">No abstracts available.</em>
            {% endif %}

            {% if page.keywords %}
            <h2 class="sr-only">Keywords</h2>
            <ul class="tags">
              {% for j in page.keywords %}
              <li class="tag"><a href="{{ site.baseurl }}{% link search/articles.md %}">{{ j }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}

            <!-- Dimensions badges -->
            <p>
              <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
              <span class="__dimensions_badge_embed__" data-doi="10.1001/jama.2016.9797" data-legend="never"></span>
            </p>
          </section>

          <aside class="col-md-4">
            <h2>Published in <em>{{ page.journal }}</em></h2>
            <dl>
              <dt>ISSN</dt>
              <dd>{{ page.issn }}</dd>

              <dt>Publisher</dt>
              <dd>{{ page.publisher }}</dd>

              <dt>Country of publisher</dt>
              <dd>{{ page.country }}</dd>

              <dt>LCC Subject Category</dt>
              <dd>{{ page.lcc }}</dd>
            </dl>

            <p>
              <a href="{{ site.baseurl }}{% link search/journal-details.md %}" class="button secondary-button">About the journal</a>
            </p>

          </aside>
        </div>

        <footer>
          <h2>More articles like this&hellip;</h2>
          <div class="row title-list">
            <article class="col-xs-6 col-md-3 col-lg-3">
              <a href="#" class="title-list__link">
                <p class="label">Human Immunology (1999)</p>
                <h3 class="title-list__heading">Expression of the costimulator molecules, CD80, CD86, CD28, and CD152 on lymphocytes from neonates and young children</h3>
              </a>
            </article>

            <article class="col-xs-6 col-md-3 col-lg-3">
              <a href="#" class="title-list__link">
                <p class="label">Molecular Metabolism (2017)</p>
                <h3 class="title-list__heading">Neonatal pancreatic pericytes support β-cell proliferation</h3>
              </a>
            </article>

            <article class="col-xs-6 col-md-3">
              <a href="#" class="title-list__link">
                <p class="label">Frontiers in Immunology (2014)</p>
                <h3 class="title-list__heading">The unique neonatal NK cells: a critical component required for neonatal autoimmune disease induction by maternal autoantibody</h3>
              </a>
            </article>

            <article class="col-xs-6 col-md-3 col-lg-3">
              <a href="#" class="title-list__link">
                <p class="label">Immunology & Cell Biology (2016)</p>
                <h3 class="title-list__heading">Modeling the dynamics of neonatal CD8+ T-cell responses</h3>
              </a>
            </article>
          </div>
        </footer>
      </div>
    </main>

    {% include footer.html %}
  </body>

</html>
