<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="dashboard">
    {% include header.html %}

    <main class="container">
      <h1>{{ page.title }}</h1>

      <div class="tabs">
        <nav class="tabs__menu">
          <ul class="tabs__list" role="tablist">
            <li class="tabs__item">
              <a href="#publisher-journals" role="tab" aria-selected="true">Your journals</a>
            </li>

            <li class="tabs__item"role="presentation">
              <a href="#publisher-drafts" role="tab" aria-selected="false">Drafts</a>
            </li>

            <li class="tabs__item"role="presentation">
              <a href="#publisher-update-requests" role="tab" aria-selected="false">Update requests</a>
            </li>

            <li class="tabs__item"role="presentation">
              <a href="#publisher-upload-xml" role="tab" aria-selected="false">Upload article XML</a>
            </li>

            <li class="tabs__item"role="presentation">
              <a href="#publisher-enter-metadata" role="tab" aria-selected="false">Enter article metadata</a>
            </li>
          </ul>
        </nav>

        <div class="row tabs__content">
          <section id="publisher-journals" class="tabs__panel" role="tabpanel" aria-hidden="false">

            <header class="col-xs-12">
              <h2>Your journals</h2>
            </header>

            <div class="col-md-3">
              {% include search-journal-filters.html %}
            </div>

            <div class="col-md-9">
              {% include search-journal-results.html %}
            </div>

          </section>

          <section id="publisher-drafts" class="tabs__panel" role="tabpanel" aria-hidden="true">

          </section>

          <section id="publisher-update-requests" class="tabs__panel" role="tabpanel" aria-hidden="true">

          </section>

          <section id="publisher-upload-xml" class="tabs__panel" role="tabpanel" aria-hidden="true">
            <header class="col-md-6">
              <h2>Upload article XML</h2>

              <div class="alert">
                <p>Uploaded files must conform to one of the approved XML formats:</p>
                <ul>
                  <li><a href="https://doaj.org/static/doaj/doajArticles.xsd" target="_blank" rel="noopener">DOAJ Native XML</a></li>
                  <li><a href="https://doaj.org/static/doaj/doajArticles.xsd" target="_blank" rel="noopener">Crossref 4.4.2 XML</a></li>
                </ul>
              </div>
            </header>

            <form class="col-md-6 form">
              <div class="form__question">
                <label for="upload-xml-file">Select a file</label>
                <input type="file" id="upload-xml-file" name="upload-xml-file" accept="text/xml">
                <p><small>Must be less than 50Mb.</small></p>
              </div>

              <p>&bull; <strong>OR</strong> &bull;</p>

              <div class="form__question">
                <label for="upload-xml-link">Upload from a link</label>
                <input type="url" id="upload-xml-link" name="upload-xml-link" placeholder="https://www.example.com">
                <p><small>Must be less than 250Mb.</small></p>
              </div>

              <div class="form__question">
                <label for="upload-xml-format">File format</label>
                <select id="upload-xml-format" require>
                  <option id="">DOAJ Native XML</option>
                  <option id="">Crossref 4.4.2 XML</option>
                </select>
              </div>

              <button type="submit" class="button button--primary">Upload</button>
            </form>
          </section>

          <section id="publisher-enter-metadata" class="tabs__panel" role="tabpanel" aria-hidden="true">

          </section>
        </div>
      </div>

    </main>

    {% include footer.html %}
  </body>

</html>
