<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="dashboard">
    {% include header.html %}

    <main class="container">
      <h1>{{ page.title }}</h1>

      <div class="tabs">
        <nav class="tabs__menu">
          <ul class="tabs__list" role="tablist">
            <li class="tabs__item"role="presentation">
              <a href="#publisher-drafts" role="tab" aria-selected="true">My applications</a>
            </li>

            <li class="tabs__item">
              <a href="#publisher-journals" role="tab" aria-selected="false">My journals</a>
            </li>

            <li class="tabs__item"role="presentation">
              <a href="#publisher-update-requests" role="tab" aria-selected="false">Update requests</a>
            </li>

            <li class="tabs__item"role="presentation">
              <a href="#publisher-upload-xml" role="tab" aria-selected="false">Upload article XML</a>
            </li>

            <li class="tabs__item"role="presentation">
              <a href="#publisher-enter-metadata" role="tab" aria-selected="false">Enter article metadata</a>
            </li>
          </ul>
        </nav>

        <div class="tabs__content">
          <section id="publisher-drafts" class="tabs__panel" role="tabpanel" aria-hidden="false">
            <header>
              <h2>My applications</h2>
            </header>

            {% include draft-journals.html %}

          </section>

          <section id="publisher-journals" class="row tabs__panel" role="tabpanel" aria-hidden="true">
            <header class="col-xs-12">
              <h2>My journals</h2>
            </header>

            <div class="col-md-3">
              {% include search-journal-filters.html %}
            </div>

            <div class="col-md-9">
              {% include search-journal-results.html %}
            </div>
          </section>

          <section id="publisher-update-requests" class="row tabs__panel" role="tabpanel" aria-hidden="true">
            <header class="col-xs-12">
              <h2>Update requests</h2>
            </header>

            <div class="col-md-3">
              {% include search-journal-filters.html %}
            </div>

            <div class="col-md-9">
              {% include search-journal-results.html %}
            </div>
          </section>

          <section id="publisher-upload-xml" class="row tabs__panel" role="tabpanel" aria-hidden="true">
            <header class="col-md-4">
              <h2>Upload article XML</h2>

              <div class="alert">
                <p>Uploaded files must conform to one of the approved XML formats:</p>
                <ul>
                  <li><a href="https://doaj.org/static/doaj/doajArticles.xsd" target="_blank" rel="noopener">DOAJ Native XML</a></li>
                  <li><a href="https://doaj.org/static/doaj/doajArticles.xsd" target="_blank" rel="noopener">Crossref 4.4.2 XML</a></li>
                </ul>

                <p>Read the <a href="{{ site.baseurl }}{% link docs/xml.md %}">XML documentation</a>.</p>
              </div>
            </header>

            <form class="col-md-8 form form--compact">
              <div class="form__question">
                <label for="upload-xml-file">Select a file</label>
                <input type="file" id="upload-xml-file" name="upload-xml-file" accept="text/xml">
                <p><small>Must be less than 50Mb.</small></p>
              </div>

              <p>&bull; <strong>OR</strong> &bull;</p>

              <div class="form__question">
                <label for="upload-xml-link">Upload from a link</label>
                <input type="url" id="upload-xml-link" name="upload-xml-link" placeholder="https://www.example.com">
                <p><small>Must be less than 250Mb.</small></p>
              </div>

              <div class="form__question">
                <label for="upload-xml-format">File format</label>
                <select id="upload-xml-format" require>
                  <option id="">DOAJ Native XML</option>
                  <option id="">Crossref 4.4.2 XML</option>
                </select>
              </div>

              <button type="submit" class="button button--primary">Upload</button>
            </form>
          </section>

          <section id="publisher-enter-metadata" class="row tabs__panel" role="tabpanel" aria-hidden="true">
            <header class="col-md-4">
              <h2>Enter article metadata</h2>

              <div class="alert">
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </header>

            <form class="col-md-8 form form--compact">
              <div class="form__question">
                <label for="enter-metadata">Article title</label>
                <input type="text" id="enter-metadata" name="enter-metadata" placeholder="">
              </div>

              <div class="form__question">
                <label for="enter-metadata">Article full-text link</label>
                <input type="url" id="enter-metadata" name="enter-metadata" placeholder="">
              </div>

              <div class="form__question">
                <label for="enter-metadata">DOI</label>
                <input type="text" id="enter-metadata" name="enter-metadata" placeholder="">
              </div>

              <h2 class="form__header">Publication date</h2>
              <div class="form__question">
                <div class="input-group">
                  <div class="input-group__input">
                    <label for="enter-metadata">Month</label>
                    <input type="number" id="enter-metadata" name="enter-metadata" placeholder="">
                  </div>
                  <div class="input-group__input">
                    <label for="enter-metadata">Year</label>
                    <input type="number" id="enter-metadata" name="enter-metadata" placeholder="">
                  </div>
                </div>
              </div>

              <h2 class="form__header">ISSNs</h2>
              <div class="form__question">
                <div class="input-group">
                  <div class="input-group__input">
                    <label for="enter-metadata">Print</label>
                    <input type="number" id="enter-metadata" name="enter-metadata" placeholder="">
                  </div>
                  <div class="input-group__input">
                    <label for="enter-metadata">Online</label>
                    <input type="number" id="enter-metadata" name="enter-metadata" placeholder="">
                  </div>
                </div>
              </div>

              <h2 class="form__header">Journal</h2>
              <div class="form__question">
                <div class="input-group">
                  <div class="input-group__input">
                    <label for="enter-metadata">Volume</label>
                    <input type="number" id="enter-metadata" name="enter-metadata" placeholder="">
                  </div>
                  <div class="input-group__input">
                    <label for="enter-metadata">Issue</label>
                    <input type="number" id="enter-metadata" name="enter-metadata" placeholder="">
                  </div>
                </div>
              </div>

              <h2 class="form__header">Page(s)</h2>
              <div class="form__question">
                <div class="input-group">
                  <div class="input-group__input">
                    <label for="enter-metadata">Start</label>
                    <input type="number" id="enter-metadata" name="enter-metadata" placeholder="">
                  </div>
                  <div class="input-group__input">
                    <label for="enter-metadata">End</label>
                    <input type="number" id="enter-metadata" name="enter-metadata" placeholder="">
                  </div>
                </div>
              </div>

              <h2 class="form__header">Article content</h2>
              <div class="form__question">
                <label for="enter-metadata">Abstract</label>
                <textarea id="enter-metadata"></textarea>
              </div>

              <div class="form__question">
                <label for="enter-metadata">DOI</label>
                <input type="text" id="enter-metadata" name="enter-metadata" placeholder="">
                <p><small>Seperate each keyword with a comma <code>,</code>.</small></p>
              </div>

              <button type="submit" class="button button--primary">Add article</button>
            </form>

          </section>
        </div>
      </div>

    </main>

    {% include footer.html %}
  </body>

</html>
