<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include header.html %}

    {% if page.name == 'article-details.md' %}
    <main class="page-content article-summary">
      <div class="highlight">
        <header class="container">
          <p class="label">
            {{ page.journal }} ({{ page.issue_pub_date }})
          </p>

          <h1>{{ page.title }}</h1>

          {% if page.authors %}
          <ul>
            {% for j in page.authors %}
            <li>{{ j }}{% if forloop.last %}{% else %}, {% endif %}</li>
            {% endfor %}
          </ul>
          {% endif %}

          {% if page.doi %}
          <p>
            <a href="https://doi.org/{{ page.doi }}" target="_blank" rel="noopener">https://doi.org/{{ page.doi }}</a>
          </p>
          {% endif %}
        </header>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <h2>Abstract</h2>
            {% if page.abstract %}
            <p>{{ page.abstract }}</p>
            {% else %}
            <em>No abstracts available.</em>
            {% endif %}

            {% if page.keywords %}
            <h2 class="sr-only">Keywords</h2>
            <ul>
              {% for j in page.keywords %}
              <li>{{ j }}{% if forloop.last %}{% else %}, {% endif %}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          <aside class="col-md-4">

            <h2>Published in <em>{{ page.journal }}</em></h2>
            <dl>
              <dt>ISSN</dt>
              <dd>{{ page.issn }}</dd>

              <dt>Publisher</dt>
              <dd>{{ page.publisher }}</dd>

              <dt>Country of publisher</dt>
              <dd>{{ page.country }}</dd>

              <dt>Language</dt>
              <dd>{{ page.lang }}</dd>

              <dt>LCC Subject Category</dt>
              <dd>{{ page.lcc }}</dd>
            </dl>

            <p>
              <a href="{{ site.baseurl }}{% link search/journal-details.md %}" class="button secondary-button">About the journal</a>
            </p>

            <!-- Dimensions badges -->
            <p>
              <span class="__dimensions_badge_embed__" data-doi="10.1001/jama.2016.9797" data-hide-zero-citations="true" data-style="small_rectangle"></span>
              <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
            </p>
          </aside>
        </div>

        <footer>
          <h2>More articles like this&hellip;</h2>
          <div class="row title-list">
            <article class="col-xs-6 col-md-3">
              <a href="#" class="title-list__link">
                <p class="label">Human Immunology (1999)</p>
                <h3 class="title-list__heading">Expression of the costimulator molecules, CD80, CD86, CD28, and CD152 on lymphocytes from neonates and young children</h3>
              </a>
            </article>

            <article class="col-xs-6 col-md-3">
              <a href="#" class="title-list__link">
                <p class="label">Molecular Metabolism (2017)</p>
                <h3 class="title-list__heading">Neonatal pancreatic pericytes support β-cell proliferation</h3>
              </a>
            </article>

            <article class="col-xs-6 col-md-3">
              <a href="#" class="title-list__link">
                <p class="label">Frontiers in Immunology (2014)</p>
                <h3 class="title-list__heading">The unique neonatal NK cells: a critical component required for neonatal autoimmune disease induction by maternal autoantibody</h3>
              </a>
            </article>

            <article class="col-xs-6 col-md-3">
              <a href="#" class="title-list__link">
                <p class="label">Immunology & Cell Biology (2016)</p>
                <h3 class="title-list__heading">Modeling the dynamics of neonatal CD8+ T-cell responses</h3>
              </a>
            </article>

            <article class="col-xs-6 col-md-3">
              <a href="#" class="title-list__link">
                <p class="label">Human Immunology (1999)</p>
                <h3 class="title-list__heading">Expression of the costimulator molecules, CD80, CD86, CD28, and CD152 on lymphocytes from neonates and young children</h3>
              </a>
            </article>

            <article class="col-xs-6 col-md-3">
              <a href="#" class="title-list__link">
                <p class="label">Molecular Metabolism (2017)</p>
                <h3 class="title-list__heading">Neonatal pancreatic pericytes support β-cell proliferation</h3>
              </a>
            </article>

            <article class="col-xs-6 col-md-3">
              <a href="#" class="title-list__link">
                <p class="label">Frontiers in Immunology (2014)</p>
                <h3 class="title-list__heading">The unique neonatal NK cells: a critical component required for neonatal autoimmune disease induction by maternal autoantibody</h3>
              </a>
            </article>

            <article class="col-xs-6 col-md-3">
              <a href="#" class="title-list__link">
                <p class="label">Immunology & Cell Biology (2016)</p>
                <h3 class="title-list__heading">Modeling the dynamics of neonatal CD8+ T-cell responses</h3>
              </a>
            </article>
          </div>
        </footer>
      </div>
    </main>
    {% endif %}

    {% if page.name == 'journal-details.md' %}
    <main class="page-content article-summary">
      <div class="highlight">
        <header class="container">
          <p>
            Added {{ page.added }}
          </p>

          <h1>{{ page.title }}</h1>

          {% if page.issn %}
          <p>
            {{ page.issn }}
          </p>
          {% endif %}

          <p><a href="{{ page.url }}" target="_blank" rel="noopeener">Website <span data-feather="external-link" aria-hidden="true"></span></a></p>

        </header>
      </div>

      <div class="container">
        <div class="row">
          <section class="col-md-4">
            <h2>Journal metadata</h2>
          </section>

          <section class="col-md-4">
            <h2>Publishing with this journal</h2>
          </section>

          <section class="col-md-4">
            <h2>Best practice</h2>
          </section>
        </div>

      </div>
    </main>
    {% endif %}

    {% include footer.html %}
  </body>

</html>
