{% if page.fragment == false %}
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include header.html %}
{% endif %}

    <main class="container">
      <section class="page-content">
        {% if page.section %}<p class="label">{{ page.section }}</p>{% endif %}
        <h1>{{ page.title }}</h1>

        {% assign min = 0 %}
        {% assign max = site.data.promo.size %}
        {% assign diff = max | minus: min %}
        {% assign random = "now" | date: "%N" | modulo: diff | plus: min %}

        <p class="alert">
          <span data-feather="alert-circle"></span> <em>Search tip:</em> {{ site.data.search-tips[random].text }}
        </p>

        <div class="input-group">
          <label for="keywords" class="sr-only">Search by keywords:</label>
          <input type="text" name="keywords" id="keywords">

          <label for="fields" class="sr-only">In the field:</label>
          <select name="fields" id="fields">
            <option value="all">In all fields</option>
            <option value="title">Title</option>
            <option value="abstract">Abstract</option>
            <option value="subject">Subject</option>
            <option value="subject">Author</option>
          </select>

          <button type="submit">
            <span data-feather="search"></span><span class="sr-only"> Search</span>
          </button>
        </div>

        <div class="row">

          {% if page.name == 'journals.md' %}
          <div class="col-md-3">
            <aside class="filters">
              <h2 class="filters__heading">Refine search results</h2>
              <ul class="filters__list">
                <li class="filter">
                  <h3 class="filter__heading">
                    See journals&hellip;
                  </h3>
                  <ul class="filter__choices">
                    <li>
                      <input id="filter-seal" type="checkbox" name="filter-seal"/>
                      <label for="filter-seal" class="filter__label">With a DOAJ Seal&nbsp;&nbsp;<span data-feather="check-circle"></span></label>
                    </li>
                    <li>
                      <input id="filter-apc" type="checkbox" name="filter-apc"/>
                      <label for="filter-apc" class="filter__label">Without APCs or other fees</label>
                    </li>
                  </ul>
                </li>

                <!-- Subject filter -->
                <li class="filter">
                  <h3 class="filter__heading" type="button" data-toggle="collapse" data-target="#filter-subjects" aria-expanded="true">
                    Subjects
                    <span data-feather="chevron-down"></span>
                  </h3>
                  <div id="filter-subjects" class="collapse in filter__body" aria-expanded="true">

                    {% if site.data.search-filters.subjects.size > 10 %}
                    <label for="search-subjects" class="sr-only">Search {{ site.data.search-filters.subjects.size }} subjects</label>
                    <input type="text" name="search-subjects" id="search-subjects" class="filter__search" placeholder="Search {{ site.data.search-filters.subjects.size }} subjects">
                    {% endif %}

                    <ul class="filter__choices">
                      {% for i in site.data.search-filters.subjects %}
                      <li>
                        <input id="{{ i.name }}" type="checkbox" name="{{ i.name }}"/>
                        <label for="{{ i.name }}" class="filter__label">{{ i.name }} ({{ i.total }})</label>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>

                <!-- Languages -->
                <li class="filter">
                  <h3 class="filter__heading" type="button" data-toggle="collapse" data-target="#filter-languages" aria-expanded="false">
                    Languages
                    <span data-feather="chevron-down"></span>
                  </h3>
                  <div id="filter-languages" class="collapse filter__body" aria-expanded="false">

                    {% if site.data.search-filters.languages.size > 10 %}
                    <label for="search-languages" class="sr-only">Search {{ site.data.search-filters.languages.size }} languages</label>
                    <input type="text" name="search-languages" class="filter__search" placeholder="Search {{ site.data.search-filters.languages.size }} languages">
                    {% endif %}

                    <ul class="filter__choices">
                      {% for i in site.data.search-filters.languages %}
                      <li>
                        <input id="{{ i.name }}" type="checkbox" name="{{ i.name }}"/>
                        <label for="{{ i.name }}" class="filter__label">{{ i.name }} ({{ i.total }})</label>
                      </li>
                      {% endfor %}
                    </ul>
                </li>

                <!-- Licenses -->
                <li class="filter">
                  <h3 class="filter__heading" type="button" data-toggle="collapse" data-target="#filter-licenses" aria-expanded="false">
                    Licenses
                    <span data-feather="chevron-down"></span>
                  </h3>
                  <div id="filter-licenses" class="collapse filter__body" aria-expanded="false">
                    {% if site.data.search-filters.licenses.size > 10 %}
                    <label for="search-licenses" class="sr-only">Search {{ site.data.search-filters.licenses.size }} licenses</label>
                    <input type="text" name="search-licenses" class="filter__search" placeholder="Search {{ site.data.search-filters.licenses.size }} licenses">
                    {% endif %}

                    <ul class="filter__choices">
                      {% for i in site.data.search-filters.licenses %}
                      <li>
                        <input id="{{ i.name }}" type="checkbox" name="{{ i.name }}"/>
                        <label for="{{ i.name }}" class="filter__label">{{ i.name }} ({{ i.total }})</label>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>

                <!-- Publisher -->
                <li class="filter">
                  <h3 class="filter__heading" type="button" data-toggle="collapse" data-target="#filter-publisher" aria-expanded="false">
                    Publishers
                    <span data-feather="chevron-down"></span>
                  </h3>
                  <div id="filter-publisher" class="collapse filter__body" aria-expanded="false">
                    {% if site.data.search-filters.publisher.size > 10 %}
                    <label for="search-publisher" class="sr-only">Search {{ site.data.search-filters.publisher.size }} publishers</label>
                    <input type="text" name="search-publisher" class="filter__search" placeholder="Search {{ site.data.search-filters.publisher.size }} publishers">
                    {% endif %}

                    <ul class="filter__choices">
                      {% for i in site.data.search-filters.publisher %}
                      <li>
                        <input id="{{ i.name }}" type="checkbox" name="{{ i.name }}"/>
                        <label for="{{ i.name }}" class="filter__label">{{ i.name }} ({{ i.total }})</label>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>

                <!-- Publisher country -->
                <li class="filter">
                  <h3 class="filter__heading" type="button" data-toggle="collapse" data-target="#filter-publisher-country" aria-expanded="false">
                    Publishers’ countries
                    <span data-feather="chevron-down"></span>
                  </h3>
                  <div id="filter-publisher-country" class="collapse filter__body" aria-expanded="false">
                    {% if site.data.search-filters.publisher_country.size > 10 %}
                    <label for="search-publisher-country" class="sr-only">Search {{ site.data.search-filters.publisher_country.size }} countries</label>
                    <input type="text" name="search-publisher-country" class="filter__search" placeholder="Search {{ site.data.search-filters.publisher_country.size }} countries">
                    {% endif %}

                    <ul class="filter__choices">
                      {% for i in site.data.search-filters.publisher_country %}
                      <li>
                        <input id="{{ i.name }}" type="checkbox" name="{{ i.name }}"/>
                        <label for="{{ i.name }}" class="filter__label">{{ i.name }} ({{ i.total }})</label>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>

                <!-- Peer review -->
                <li class="filter">
                  <h3 class="filter__heading" type="button" data-toggle="collapse" data-target="#filter-peer-review" aria-expanded="false">
                    Peer review types
                    <span data-feather="chevron-down"></span>
                  </h3>
                  <div id="filter-peer-review" class="collapse filter__body" aria-expanded="false">
                    <ul class="filter__choices">
                      {% for i in site.data.search-filters.peer_review %}
                      <li>
                        <input id="{{ i.name }}" type="checkbox" name="{{ i.name }}"/>
                        <label for="{{ i.name }}" class="filter__label">{{ i.name }} ({{ i.total }})</label>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>


                <!-- Date added -->
                <li class="filter">
                  <h3 class="filter__heading" type="button" data-toggle="collapse" data-target="#filter-date-added" aria-expanded="false">
                    Date added
                    <span data-feather="chevron-down"></span>
                  </h3>
                  <div id="filter-date-added" class="collapse filter__body" aria-expanded="false">
                    {% if site.data.search-filters.date_added.size > 10 %}
                    <label for="search-date-added" class="sr-only">Search {{ site.data.search-filters.date_added.size }} years</label>
                    <input type="text" name="search-date-added" class="filter__search" placeholder="Search {{ site.data.search-filters.date_added.size }} years">
                    {% endif %}

                    <ul class="filter__choices">
                      {% for i in site.data.search-filters.date_added %}
                      <li>
                        <input id="{{ i.name }}" type="checkbox" name="{{ i.name }}"/>
                        <label for="{{ i.name }}" class="filter__label">{{ i.name }} ({{ i.total }})</label>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>


              </ul>
            </aside>
          </div>

          <div class="col-md-9">
            <h2>Showing 14,576 indexed journals</h2>
            <nav class="search-results__display">
              <h3 class="sr-only">Display options</h3>
              <div class="row">
                <div class="col-xs-6">
                  <label for="sort-by">Sort by</label>
                  <select name="sort-by" id="sort-by">
                    <option value="">Added to DOAJ (newest first)</option>
                    <option value="">Added to DOAJ (oldest first)</option>
                    <option value="">Last updated (most recent first)</option>
                    <option value="">Last updated (less recent first)</option>
                    <option value="">Title (A-Z)</option>
                    <option value="">Title (Z-A)</option>
                    <option value="">Relevance</option>
                  </select>
                </div>
                <div class="col-xs-6">
                  <label for="sort-fields">Results per page</label>
                  <select name="fields" id="fields">
                    <option value="all">50</option>
                    <option value="all">100</option>
                    <option value="all">200</option>
                  </select>
                </div>
              </div>
            </nav>
            <ol class="search-results">
              {% for i in site.data.journals %}
              <li class="search-results__record">
                <article class="row">
                  <div class="col-sm-8">
                    <p class="label">
                      <small>{{ i.lcc }}</small>
                    </p>
                    <h3 class="search-results__heading">
                      <a href="#" class="">
                        {{ i.title }}
                        {% if i.paral_title %}<br/><span class="search-results__secondary-heading">{{ i.paral_title }}</span>{% endif %}
                      </a>
                    </h3>
                    <div class="search-results__body">
                      <ul>
                        <li>
                          Published {% if i.institution %}by <em>{{ i.institution }}</em>{% endif %} in <strong>{{ i.country }}</strong>
                        </li>
                        <li>
                          Accepts manuscripts in <strong>{{ i.lang }}</strong>
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <strong>{{ i.processing_time }}</strong> weeks to publication
                        </li>
                        <li>
                          {% if i.apc %}<strong>{{ i.apc }}</strong> processing fee{% else %}No charges{% endif %}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <aside class="col-sm-4 search-results__aside">
                    <ul>
                      {% if i.seal %}
                      <li>
                        <span class="sr-only">DOAJ Seal</span>
                        <span data-feather="check-circle"></span>
                      </li>
                      {% endif %}
                      <li>
                        <a href="{{ i.url }}" target="_blank">Website</a>
                      </li>
                      <li>
                        <a href="{{ i.license_url }}" target="_blank">{{ i.license }}</a>
                      </li>
                      <li>
                        {{ i.formats }} articles
                      </li>
                      {% if i.articles %}
                      <li>
                        {{ i.articles }} articles dating back to {{ i.oa_since }}
                      </li>
                      {% endif %}
                      <li>
                        {% if i.updated %}Last updated on {{ i.updated }}
                        {% else %}Added on {{ i.added }}{% endif %}
                      </li>
                    </ul>
                  </aside>
                </article>
              </li>
              {% endfor %}
            </ol>
          </div>
          {% endif %}

          {% if page.name == 'articles.md' %}
          <div class="col-md-10">
            <h2>Showing 4,873,612 indexed articles</h2>
            <ol class="search-results">
              {% for i in site.data.articles %}
              <li class="search-results__record">
                <article class="row">
                  <div class="col-xs-8">
                    <p class="label">
                      <small>{{ i.lcc }}</small>
                    </p>
                    <h3 class="search-results__heading">
                      {{ i.title }}
                      {% if i.paral_title %}<br/><span class="search-results__secondary-heading">{{ i.paral_title }}</span>{% endif %}
                    </h3>
                    <ul class="search-results__body">
                      <li>
                        Publishes <strong>{{ i.formats }}</strong> articles in <strong>{{ i.lang }}</strong>
                      </li>
                      <li>
                        Based {% if i.institution %}at <em>{{ i.institution }}</em>{% endif %} in <strong>{{ i.country }}</strong>
                      </li>
                      <li>
                        {% if i.apc %}{{ i.apc }} processing fee{% else %}<strong>No charges</strong>{% endif %};
                        {{ i.processing_time }} weeks to publication
                      </li>
                    </ul>
                  </div>
                  <aside class="col-xs-4">
                    <ul>
                      <li>
                        <a href="{{ i.url }}" target="_blank">Website</a>
                      </li>
                      <li>
                        <a href="{{ i.license_url }}" target="_blank">{{ i.license }}</a>
                      </li>
                      <li>
                        {% if i.articles %}{{ i.articles }} articles dating back to {{ i.oa_since }}
                        {% else %}<em>No articles indexed yet</em>{% endif %}
                      </li>
                      <li>
                        {% if i.updated %}Last updated on {{ i.updated }}
                        {% else %}Added on {{ i.added }}{% endif %}
                      </li>
                    </ul>
                  </aside>
                </article>
              </li>
              {% endfor %}
            </ol>
          </div>
          {% endif %}
        </div>
      </section>
    </main>

{% if page.fragment == false %}
    {% include footer.html %}
  </body>

</html>
{% endif %}
