<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="search">
    {% include header.html %}

    <main class="container page-content">
      <header>
        {% if page.section %}<p class="label">{{ page.section }}</p>{% endif %}
        <h1>{{ page.title }}</h1>

        {% comment %}
          All of this generates a "random" number for the search tip
        {% endcomment %}
        {% assign min = 0 %}
        {% assign max = site.data.promo.size %}
        {% assign diff = max | minus: min %}
        {% assign random = "now" | date: "%N" | modulo: diff | plus: min %}

        <p class="alert">
          <span data-feather="alert-circle" aria-hidden="true"></span> <em>Search tip:</em> {{ site.data.search-tips[random].text }}
        </p>

        {% if page.name == 'journals.md' %}

        {% include search-journal-bar.html %}
      </header>

      <h2>14,576 indexed journals</h2>

      <div class="row">
        <div class="col-md-3">
          {% include search-journal-filters.html %}
        </div>

        <div class="col-md-9">
          {% include search-journal-results.html %}
        </div>

      </div>

      {% else page.name == 'articles.md' %}

      {% include search-article-bar.html %}

      <h2>4,926,886 indexed articles</h2>

      <div class="row">
        <div class="col-md-3">
          {% include search-article-filters.html %}
        </div>

        <div class="col-md-9">
          {% include search-article-results.html %}
        </div>

      </div>

      {% endif %}
    </main>

    {% include footer.html %}
  </body>

</html>
