<aside class="highlight highlight--aside editorial-panel" style="width: inherit; margin-top: 1.5rem">

    <fieldset>
        <button class="button button--primary" type="submit" id="open_quick_reject" aria-hidden="true" data-toggle="modal" data-target="#modal-quick_reject">Quick Reject</button>
    </fieldset>
    <fieldset>
        {% set fs = formulaic_context.fieldset("reassign") %}
        <h3 class="label" type="button" data-toggle="collapse" data-target="#reassign" aria-expanded="false"> {{ fs.label }}
            <span data-feather="plus" aria-hidden="true"></span>
        </h3>
        <div class="collapse" id="reassign" aria-expanded="false">
            {% for f in fs.fields() %}
                {% set field_template = f.template %}
                {%  include field_template %}
            {% endfor %}
        </div>
    </fieldset>
    <fieldset>
        {% set fs = formulaic_context.fieldset("status") %}
        <h3 class="label" type="button" data-toggle="collapse" data-target="#status" aria-expanded="false"> {{ fs.label }} <span data-feather="plus" aria-hidden="true"></span></h3>
        <div class="collapse" id="status" aria-expanded="false">
            {% for f in fs.fields() %}
                {% set field_template = f.template %}
                {%  include field_template %}
            {% endfor %}
        </div>
    </fieldset>
    <fieldset>
        {% set fs = formulaic_context.fieldset("reviewers") %}
        <h3 class="label" type="button" data-toggle="collapse" data-target="#reviewers" aria-expanded="false"> {{ fs.label }} <span data-feather="plus" aria-hidden="true"></span></h3>
        <div class="collapse" id="reviewers" aria-expanded="false">
            {% for f in fs.fields() %}
                {% set field_template = f.template %}
                {%  include field_template %}
            {% endfor %}
        </div>
    </fieldset>
    <fieldset>
        {% set fs = formulaic_context.fieldset("continuations") %}
        <h3 class="label" type="button" data-toggle="collapse" data-target="#continuations" aria-expanded="false"> {{ fs.label }} <span data-feather="plus" aria-hidden="true"></span></h3>
        <div class="collapse" id="continuations" aria-expanded="false">
            {% for f in fs.fields() %}
                {% set field_template = f.template %}
                {%  include field_template %}
            {% endfor %}
        </div>
    </fieldset>
    <fieldset>
        {% set fs = formulaic_context.fieldset("subject") %}
        <h3 class="label" type="button" data-toggle="collapse" data-target="#subject" aria-expanded="false"> {{ fs.label }} <span data-feather="plus" aria-hidden="true"></span></h3>
        <div class="collapse" id="subject" aria-expanded="false">
            {% for f in fs.fields() %}
                {% set field_template = f.template %}
                {%  include field_template %}
            {% endfor %}
        </div>
    </fieldset>
    <fieldset>
        {% set fs = formulaic_context.fieldset("seal") %}
        <h3 class="label"> {{ fs.label }}</h3>
        {% for f in fs.fields() %}
            {% set field_template = f.template %}
            {%  include field_template %}
        {% endfor %}
    </fieldset>
    <fieldset>
        {% set fs = formulaic_context.fieldset("notes") %}
        <h3 class="label" type="button" data-toggle="collapse" data-target="#notes" aria-expanded="false"> {{ fs.label }} <span data-feather="plus" aria-hidden="true"></span></h3>
        <div class="collapse" id="notes" aria-expanded="false">

            {% for f in fs.fields() %}
                {% set field_template = f.template %}
                {%  include field_template %}
            {% endfor %}
        </div>
    </fieldset>
    {% if obj %}
        <input type="hidden" name="id" value="{{ obj.id }}">
    {% endif %}
</aside>

{% set fs = formulaic_context.fieldset("quick_reject") %}
<div class="modal" id="modal-quick_reject" tabindex="-1" role="dialog" aria-labelledby="modalLabel-quick_reject">
    <div class="modal__dialog" role="document">
        <h3 class="modal__title" id="modalLabel-quick_reject">
            "{{ fs.label | safe }}"
        </h3>
        {% for f in fs.fields() %}
            {% set field_template = f.template %}
            {%  include field_template %}
        {% endfor %}
        <button class="button button--primary" type="submit" id="submit_quick_reject">Quick Reject</button>
        <button type="button" data-dismiss="modal" class="modal__close">Close</button>
    </div>
</div>
