<aside class="highlight highlight--aside editorial-panel" style="width: inherit">

    {% set fs = formulaic_context.fieldset("seal") %}
    <h2 class="form__header"> {{ fs.label }}</h2>
        {% for f in fs.fields() %}
            {% set field_template = f.template %}
            {%  include field_template %}
        {% endfor %}
    {% set fs = formulaic_context.fieldset("quick_reject") %}
    <h2 class="form__header"> {{ fs.label }}</h2>
        {% for f in fs.fields() %}
            {% set field_template = f.template %}
            {%  include field_template %}
        {% endfor %}
    {% set fs = formulaic_context.fieldset("reassign") %}
    <h2 class="form__header"> {{ fs.label }}</h2>
        {% for f in fs.fields() %}
            {% set field_template = f.template %}
            {%  include field_template %}
        {% endfor %}
    {% set fs = formulaic_context.fieldset("status") %}
    <h2 class="form__header"> {{ fs.label }}</h2>
        {% for f in fs.fields() %}
            {% set field_template = f.template %}
            {%  include field_template %}
        {% endfor %}
    {% set fs = formulaic_context.fieldset("reviewers") %}
    <h2 class="form__header"> {{ fs.label }}</h2>
        {% for f in fs.fields() %}
            {% set field_template = f.template %}
            {%  include field_template %}
        {% endfor %}
    {% set fs = formulaic_context.fieldset("continuations") %}
    <h2 class="form__header"> {{ fs.label }}</h2>
        {% for f in fs.fields() %}
            {% set field_template = f.template %}
            {%  include field_template %}
        {% endfor %}
    {% set fs = formulaic_context.fieldset("subject") %}
    <h2 class="form__header"> {{ fs.label }}</h2>
        {% for f in fs.fields() %}
            {% set field_template = f.template %}
            {%  include field_template %}
        {% endfor %}
    {% set fs = formulaic_context.fieldset("notes") %}
    <h2 class="form__header"> {{ fs.label }}</h2>
        {% for f in fs.fields() %}
            {% set field_template = f.template %}
            {%  include field_template %}
        {% endfor %}

    {% if obj %}
        <input type="hidden" name="id" value="{{ obj.id }}">
    {% endif %}
</aside>
