/* Adjust content in grid’s columns */

// XS viewports
@media (max-width: 768px) {
  .col-xs-3:nth-child(4n+1) {
    clear: both;
  }

  .col-xs-4:nth-child(3n+1) {
    clear: both;
  }

  .col-xs-6:nth-child(2n+1) {
    clear: both;
  }
}

// SM viewports
@media (min-width: 769px) and (max-width: 991px) {
  .col-sm-2:nth-child(6n+1) {
    clear: both;
  }

  .col-sm-3:nth-child(4n+1) {
    clear: both;
  }

  .col-sm-4:nth-child(3n+1) {
    clear: both;
  }

  .col-sm-6:nth-child(2n+1) {
    clear: both;
  }
}

// MD & LG viewports
@media (min-width: 992px) {
  .col-md-2:nth-child(6n+1) {
    clear: both;
  }

  .col-md-3:nth-child(4n+1) {
    clear: both;
  }

  .col-md-4:nth-child(3n+1) {
    clear: both;
  }

  .col-md-6:nth-child(2n+1) {
    clear: both;
  }
}
