/* Fonts mixins */

@mixin font-serif {
  font-family: 'Spectral', serif;
  letter-spacing: -0.04em;
}

@mixin font-sans {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.01em;
}

@mixin font-monospace {
  font-family: 'Source Code Pro', monospace;
}
