/* Colour utility classes: Feather SVG icon strokes or fill */

.stroke-gold {
  stroke: $gold;
}

.stroke-silver {
  stroke: $silver;
}

.stroke-bronze {
  stroke: $bronze;
}

.fill-gold {
  fill: $gold;
}

.fill-silver {
  fill: $silver;
}

.fill-bronze {
  fill: $bronze;
}
