/* Variables for colour palette */

// Greyscale

$warm-black:    #282624;
$dark-grey:     #5C5956;
$warm-white:    #FEFBF8;

// Colour

$sanguine:      #982E0A;
$grapefruit:    #FD5A3B;
$fair-pink:     #F8F3EF;

$pine:          #006D6D;
$teal:          #1F9C9A;

// Tiers: gold, silver, bronze
$gold:          #D6AF36;
$silver:        #A7A7AD;
$bronze:        #A77044;
