/* Variables for spacing units
   Use with margins & padding
   Base unit: 16px */

$spacing-01: 0.1875rem;
$spacing-02: 0.375rem;
$spacing-03: 0.75rem;
$spacing-04: 1.5rem;
$spacing-05: 3rem;
$spacing-06: 6rem;
$spacing-07: 12rem;
