{% extends "publisher/publisher_base.html" %}

{% block publisher_content %}

<div class="row-fluid">
    <div class="span12">
        <div class="well">
            <h2>Download</h2>

            <p>Filling out your CSV file: there are important <a href="{{ config.get("CSV_DOC_LINK","") }}" target="_blank">documents to read.</a></p>

            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Created Date</th>
                    <th>Download Link</th>
                </tr>
            </thead>
            <tbody>
            {% for csv_file in csv_downloads %}
                <tr>
                    <td>{{ csv_file.created_timestamp.strftime("%d %b %Y %H:%M:%S") }}</td>
                    <td><a href="{{ url_for('publisher.bulk_download', filename=csv_file.spreadsheet_name) }}">{{csv_file.spreadsheet_name}}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="well">
            <h2>Upload</h2>
            <form id="bulk_reapplication_form" method="POST" action="/publisher/reapply" enctype="multipart/form-data">

                <div class="row-fluid">
                    <div class="span4"><strong>Select a file to upload</strong></div>
                    <div class="span6"><input type="file" name="file"></div>
                    <div class="span2"><button class="btn btn-success" id="upload">Upload</button></div>
                </div>
            </form>
            <hr>
            <p>Uploaded files must be less than 50Mb in size.</p>
        </div>
    </div>
</div>

<hr>

{% if previous|length > 0 %}

    <h3>Status of uploaded reapplications (showing last {{previous|length}})</h3>

    <div class="row-fluid">
        <div class="span12">
            <table id="previous_files" style="width: 100%" class="tablesorter">
                <thead>
                    <tr>
                        <th>Upload Date</th>
                        <th>Filename</th>
                        <th>Upload Status</th>
                        <th>Notes</th>
                    </tr>
                </thead>
            {% for file in previous %}
                <tr>
                    <td>
                        {{ utc_timestamp(file.created_timestamp, "%d %b %Y %H:%M:%S %Z") }}
                    </td>
                    <td>
                        {% if file.filename.startswith("http") %}
                            <a href="{{file.filename}}">{{file.filename}}</a>
                        {% else %}
                            {{file.filename}}
                        {% endif %}
                    </td>
                    <td>
                        {% if file.status == "incoming" %}
                            <span style="color: #000066">in submission</span>
                        {% elif file.status == "failed" %}
                            <span style="color: #660000">processing failed</span>
                        {% elif file.status == "processed" %}
                            <span style="color: #006600">successfully processed</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if file.error %}
                            {{file.error}}
                        {% elif file.status == "processed" %}
                            {{ file.reapplied }} reapplications processed, {{ file.skipped }} skipped
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

{% endif %}

{% endblock %}

{% block extra_js_bottom %}
<script type="text/javascript">
$(document).ready(function() {
    $("#previous_files").tablesorter()
})
</script>

{% endblock %}

