{% extends "layouts/base.html" %}

{% block content %}
<main class="container">
    <h1>Publisher’s dashboard</h1>
{% set path = request.path.split('/') %}
    <div class="tabs">
        <nav class="tabs__menu">
            <ul class="tabs__list" role="tablist">
                <li class="tabs__item" role="presentation">
                    <a href="#publisher-drafts" role="tab" aria-selected="true">Drafts</a>
                </li>

                <li class="tabs__item">
                    <a href="#publisher-journals" role="tab" aria-selected="false">Your journals</a>
                </li>

                <li class="tabs__item" role="presentation">
                    <a href="#publisher-update-requests" role="tab" aria-selected="false">Update requests</a>
                </li>

                <li class="tabs__item" role="presentation">
                    <a href="#publisher-upload-xml" role="tab" aria-selected="false">Upload article XML</a>
                </li>

                <li class="tabs__item" role="presentation">
                    <a href="{{ url_for('publisher.upload_file') }}" aria-selected="false">Enter article metadata</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="tabs__content">
        {% block tabs_content %}{% endblock %}
    </div>
</main>
    {% block extra_js_bottom %}{% endblock %}
{% endblock %}