{% extends "publisher/publisher_base.html" %}

{% block publisher_content %}

<h1>Help<h1>

<h2>Failed XML uploads explained</h2>

<p>This section describes the possible error messages that you may see when you upload an article XML file to DOAJ. Depending on the message in the “Notes” column of your <a href="{{ url_for('publisher.upload_file') }}"><em>History of uploads</em></a> table, some corrective actions may be available to you.</p>

<p>In cases where there is no action to be taken, or the suggested actions have not successfully resolved the issues, please <a href="https://github.com/DOAJ/doaj/issues/new/choose" target="_blank" rel="noopener">submit a bug report</a> or <a href="{{ url_for('doaj.contact') }}">contact us</a> with the following details:</p>

<ul>
  <li>The time of the file upload</li>
  <li>The exact error message as it appears in the “Notes” column</li>
  <li>Your publisher account username</li>
  <li>A copy of the file you had problems with</li>
  <li>A screenshot of your File upload area</li>
</ul>

<table>
  <thead>
    <tr>
      <th style="width: 30%;">
        Error message
      </th>
      <th style="width: 35%;">
        Reason
      </th>
      <th style="width: 35%;">
        Resolution
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>
        <code>X articles imported ([number] new, [number] updated); N articles failed</code>
      </th>
      <td>
        There were some (<code>X</code>) successful article imports and some (<code>N</code>) failed article imports in the uploaded file(s).
      </td>
      <td>
        Individual articles can fail for a number of reasons. See the section <em>Reasons for individual article import failures</em> below.
      </td>
    </tr>
    <tr>
      <th>
        <code>All articles in file failed to import</code>
      </th>
      <td>
        There were <strong>no</strong> successful article imports and one or more failed article imports in the uploaded file(s).
      </td>
      <td>
        Individual articles can fail for a number of reasons. See the section <em>Reasons for individual article import failures</em> below.
      </td>
    </tr>
    <tr>
      <th>
        <code>Error occurred ingesting the records in the document</code>
      </th>
      <td>
        An unexpected error occurred - you may have found a bug!
      </td>
      <td>
        Please <a href="https://github.com/DOAJ/doaj/issues/new/choose" target="_blank" rel="noopener">submit a bug report</a> or <a href="{{ url_for('doaj.contact') }}">contact us</a> immediately with the relevant details. <br/>
        <br/>
        <strong>Don’t send us your passwords or API keys.</strong>
      </td>
    </tr>
    <tr>
      <th>
        <code>Unanticipated error when importing articles</code>
      </th>
      <td>
        Something unexpected happened when we tried to import your articles - you may have found a bug!
      </td>
      <td>
        Please <a href="https://github.com/DOAJ/doaj/issues/new/choose" target="_blank" rel="noopener">submit a bug report</a> or <a href="{{ url_for('doaj.contact') }}">contact us</a> immediately with the relevant details. <br/>
        <br/>
        <strong>Don’t send us your passwords or API keys.</strong>
      </td>
    </tr>
    <tr>
      <th>
        <code>The file at the URL was too large</code>
      </th>
      <td>
        The URL you gave in the field “Provide a URL where we can download the XML” was for a file larger than 250Mb.
      </td>
      <td>
        Please input a smaller file. You can split the articles into two documents and upload both separately.
      </td>
    </tr>
    <tr>
      <th>
        <code>The URL could not be accessed</code>
      </th>
      <td>
        The link you gave could not be resolved or the page no longer exists (e.g. it responded with a <em>404 Not Found</em>).
      </td>
      <td>
        In your answer to the “Provide a URL where we can download the XML” field, check that <strong>(1)</strong> the URL is the correct URL and <strong>(2)</strong> there are no access restrictions on the URL (e.g., authentication is required, or the URL is IP-restricted to your organisation).
      </td>
    </tr>
    <tr>
      <th>
        <code>The URL could not be accessed</code>
      </th>
      <td>
        The download from an HTTP URL you gave failed part way through for an unspecified reason.
      </td>
      <td>
        Try to upload it again: it may be an Internet connection issue.<br/>
        <br/>
        If you are still unable to get the upload to work after a several attempts, please <a href="https://github.com/DOAJ/doaj/issues/new/choose" target="_blank" rel="noopener">submit a bug report</a> or <a href="{{ url_for('doaj.contact') }}">contact us</a> with the relevant details.
      </td>
    </tr>
    <tr>
      <th>
        <code>Unable to parse file</code><br/><strong>or</strong><br/><code>Unable to parse XML file</code>
      </th>
      <td>
        The XML file you gave us (either downloaded from a URL or uploaded via the web form) could not be read as an XML file.
      </td>
      <td>
        Check that the file really is valid XML.<br/>
        <br/>
        In some cases, you may have uploaded/given the wrong file, so double-check that it is the correct one. You could get this error, for example, if you have uploaded a Word document or a PDF by mistake.<br/>
        <br/>
        In other cases, files can look like XML, but still be invalid. They should be run through an XML validator to ensure they have the correct structure and that there are no invalid characters.<br/>
        <br/>
        Sometimes, special characters &ndash; especially those in scientific articles &ndash; are submitted in the wrong format. XML does not support many special characters as-is but those that are can be <a href="https://en.wikipedia.org/wiki/List_of_XML_and_HTML_character_entity_references#Predefined_entities_in_XML" target="_blank" rel="noopener">found on Wikipedia</a>.
      </td>
    </tr>
    <tr>
      <th>
        <code>Unable to validate document with identified schema</code>
      </th>
      <td>
        No XML schema could be found. The schema, in particular DOAJ’s standard schema, is necessary to read an XML document.
      </td>
      <td>
        Check that the file conforms to the DOAJ schema, using a validator.<br/>
        <br/>
        Often the problem arises because the XML is missing a required tag. The schema validation will fail if you try to upload XML to DOAJ that is missing a specific tag. You can see exactly <a href="{{ url_for('doaj.xml') }}">which tags are required here</a>.<br/>
        <br/>
        If you are trying to upload a file that was automatically generated by the OJS DOAJ plugin, then you should first contact OJS for help.<br/>
        <br/>
        The DOAJ schema is on our site, here: <a href="http://doaj.org/static/doaj/doajArticles.xsd">http://doaj.org/static/doaj/doajArticles.xsd</a><br/>
        <br/>
        To validate the provided XML against the schema, you can use one of these services:<br/>
        <br/>
        <em><a href="http://www.utilities-online.info/xsdvalidation">W3C Validator</a>
        <br/>
        </em> <a href="https://www.freeformatter.com/xml-validator-xsd.html">freeformatter.com</a>: don’t forget to insert the contents of the schema (XSD) into the bottom box or provide a URL to either of them (you can use the URL <a href="http://doaj.org/static/doaj/doajArticles.xsd">http://doaj.org/static/doaj/doajArticles.xsd</a> for the DOAJ schema).<br/>
        <br/>
        If both of these services determine the provided XML to be schema-valid, please <a href="https://github.com/DOAJ/doaj/issues/new/choose" target="_blank" rel="noopener">submit a bug report</a> or <a href="{{ url_for('doaj.contact') }}">contact us</a> with the relevant details.
      </td>
    </tr>
    <tr>
      <th>
        <code>Reasons for individual article import failures</code>
      </th>
      <td>
        The article belongs to a journal that does not belong to your user account<br/>
        <br/>
        You can only upload XML for the journals that are <strong>in DOAJ</strong> and that appear in the list under <em>Your journals</em> in the publisher area. If you have more than one account and you would like to merge them, please <a href="{{ url_for('doaj.contact') }}">contact us</a>.<br/>
        <br/>
        The article’s stated ISSNs must match to a journal that is owned by the user account from which you are providing the XML file. If the ISSNs do not match any journals or match a journal that is owned by a different account, the import of that article will fail.<br/>
        <br/>
        Note that it is also possible that if an article has more than one ISSN (i.e. an E-ISSN and a P-ISSN), that those ISSNs could match more than one Journal (one ISSN matching one journal, the other ISSN matching another). If both matched journals are owned by your account, this will not stop the article from being imported, but if one of the matched journals is owned by a different account this will cause the import of the article to fail.<br/>
        <br/>
        A journal may have two ISSNs: an ISSN for the print version and an ISSN for the electronic version. Sometimes the ISSNs of the journal have changed.
      </td>
      <td>
        Check that all the Article ISSNs in the file are correct<br/>
        <br/>
        If you need to have the ISSNs of your DOAJ record updated, please <a href="{{ url_for('doaj.contact') }}">contact us</a> and we will check that the ISSNs are registered at <a href="https://portal.issn.org/">the ISSN Portal</a> and will then update the record accordingly.<br/>
        <br/>
        If you believe all the ISSNs for the articles are correct, please <a href="{{ url_for('doaj.contact') }}">contact us</a> with the relevant details.
      </td>
    </tr>
    <tr>
      <th>
        <code>One or more articles in this batch have duplicate identifiers</code>
      </th>
      <td>
        At least two of the articles in the uploaded file contain the same DOI and/or the same full-text url
      </td>
      <td>
        Make sure that there are no duplicated articles in the file and that you are using the correct DOIs and URLs for all the articles.
      </td>
    </tr>
    <tr>
      <th>
        <code>One or more articles in this batch matched multiple articles as duplicates; entire batch ingest halted</code>
      </th>
      <td>
        At least one of your articles matched two or more other articles already in DOAJ, and as a result we don&#39;t know which one to update.
      </td>
      <td>
        Ensure that all your articles have the correct DOIs and full-text links. If it still doesn’t work please <a href="https://github.com/DOAJ/doaj/issues/new/choose" target="_blank" rel="noopener">submit a bug report</a> or <a href="{{ url_for('doaj.contact') }}">contact us</a> with the details; we may need to clean up your existing articles manually.
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
