{% extends "publisher/publisher_base.html" %}

{% block publisher_content %}

<h2>Help</h2>
<p>Here are some resources to help you with the main Publisher features of DOAJ.</p>

{% if app.config.get("REAPPLICATION_ACTIVE", False) %}
    <h3 style="color: red">Reapplications</h3>
    <p>If you have <b>10 or fewer</b> journals in DOAJ, you will need to log into your Publisher's Area and process 
    your reapplications online. We have created two documents that you must read before you start:
        <ol>
            <li><a href="http://bit.ly/1LE7RJP">Some important notes</a> on how to: fill in your reapplications online; 
            submit them once you are finished; and come back to them if you need to make changes.</li>
            <li>We created a
            <a href="http://bit.ly/1HG3jPq">
            spreadsheet version of the Reapplication form</a> with some important help notes. You can't edit this 
            online but you can download a copy to your desktop.</li>
        </ol>
    </p>

    <p>If you have <b>more than 10 journals</b>, you will need to log into your Publishers Area and download the CSV 
    file that we have created for you. We have created two documents that you must read before you start:
        <ol>
            <li>Here are some important
            <a href="https://docs.google.com/document/d/1nh5fCgDdM6rP6ubwbvCOsUtzn-JJhUnDSF-E7sFnJpE/edit?usp=sharing">notes
            on how to: download your CSV; convert it into another format for easier completion; fill it in; reupload it to our
            servers</a>.</li>
            <li>We created a
            <a href="http://bit.ly/1HG3jPq">
            version of the Reapplication form as a spreadsheet</a> with some important help notes.</li>
        </ol>
    </p>
{% endif %}

<h3>Application Form</h3>
<p>Guides to filling in the <a href="{{ url_for('doaj.suggestion') }}">Application Form</a> are available in other 
languages. <a href="{{ url_for('doaj.translated') }}">Download the language of your choice</a> and refer to it when 
filling in the form.</p>

<h3>Creating DOAJ XML</h3>
<p>For help with creating DOAJ XML and details on XML tags, read the 
<a href="{{ url_for('doaj.features', _anchor='xml_upload') }}">File Upload Info section</a>
on our Features pages and the <a href="{{ url_for('doaj.publishers', _anchor='upload') }}">Uploading content</a> 
section on our 'For Publishers' page.</p>

<h3>Problems with XML files</h3>
<p>For problems with XML file uploads, read the <a href="{{ url_for('doaj.publishers', _anchor='failed') }}">
What to do if your XML upload fails</a> and <a href="{{ url_for('doaj.publishers', _anchor='trouble') }}">
Troubleshooting your XML upload</a> sections on our 'For Publishers' page.

<h3>Correcting articles on DOAJ</h3>
<p>If you need to correct an article on DOAJ, upload it to us again. Read <a href="{{ url_for('doaj.publishers', _anchor='correct') }}">
How to correct an error in Article Metadata?</a> on our 'For Publishers' page.

<h3>Deleting articles from DOAJ</h3>
<p>If an article or a range of articles needs to be deleted, please <a href="{{ url_for('doaj.contact') }}">Contact Us</a>. 
Please email us ALL of the following information:</p>
<ol>
  <li>Name of the journal, as it appears in DOAJ</li>
  <li>The URL of the journal in DOAJ ( which will look something like 
  http://doaj.org/toc/1234-5678 )</li>
  <li>The title of EVERY article to be deleted. If an article appears twice, include details of what is wrong 
  so we know which one to delete.</li>
  <li>If you are asking us to delete a large range of content, there is no need to send the title of every article but 
  you must include the volume and issue range. For example, Volume 1, Issue 1, Jan 2010 to Volume 2, Issue 4, Dec 
  2011.</li>
  <li>Send a screenshot if it will help.</li>
</ol>

<p></p>

{% endblock %}
