{% extends "publisher/publisher_base.html" %}

{% block publisher_content %}
    <header><h2>My applications</h2></header>
<div id="publisher_applications"></div>
{% endblock %}

{% block extra_js_bottom %}

    <script type="text/javascript">
    $.extend(true, doaj, {
        publisherApplicationsSearchConfig : {
            journalReadOnlyUrl : "{{ url_for('publisher.update_request_readonly', application_id="") }}",
            tocUrl : "{{ url_for('doaj.toc', identifier="") }}",
            editPendingUrl : "FIXME",
            applyUrl: "{{ url_for('apply.public_application', draft_id="") }}",
            //journalUpdateUrl : "{{ url_for('publisher.update_request', journal_id="") }}",
            //journalUpdateRequestsUrl : "{{ url_for('publisher.updates_in_progress') }}",
            searchPath : '/publisher_query/applications/_search'
        }
    });
    </script>

    {% include "_edges_common_js.html" %}
    <script type="text/javascript" src="/static/js/edges/publisher.myapplications.edge.js?v={{config.get('DOAJ_VERSION')}}"></script>

{% endblock %}
