{% extends "publisher/publisher_base.html" %}

{% block publisher_content %}
<div id="publisher_journals"></div>
{% endblock %}

{% block extra_js_bottom %}

    <script type="text/javascript">
    $.extend(true, doaj, {
        publisherJournalsSearchConfig : {
            journalUpdateUrl : "{{ url_for('publisher.update_request', journal_id="") }}",
            journalUpdateRequestsUrl : "{{ url_for('publisher.updates_in_progress') }}",
            searchPath : '/publisher_query/journal/_search',
            lccTree: {{ lcc_tree|tojson }}
        }
    });
    </script>

    {% include "_edges_common_js.html" %}
    <script type="text/javascript" src="/static/js/edges/publisher.journals.edge.js?v={{config.get('DOAJ_VERSION')}}"></script>

{% endblock %}
