{% extends "publisher/publisher_base.html" %}

{% block publisher_content %}

<div class="row" style="margin-bottom: 3em;">
  <div class="col-md-12">
    <h1>Update Request For: {{journal.bibjson().title}}</h1>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p><strong>You cannot currently edit this update request</strong></p>

        <p>An editor is currently working on this record, and until they are finished, you cannot access it.</p>

        <p>Please try again later!</p>
    </div>
</div>

{% endblock %}

