{% extends "publisher/publisher_base.html" %}

{% block publisher_content %}

<div class="row">
    <div class="col-md-12">
        
        {% include "formcontext/_error_header.html" %}
        
        {% from "_formhelpers.html" import render_field_horizontal %}
        {% from "_formhelpers.html" import render_field %}
        
        <form method="post" action="{{ url_for('publisher.metadata') }}" class="form-horizontal" id="article_metadata_form">

            {% include "formcontext/article_metadata_form.html" %}

            <div class="form-group">
                <div class="col-md-9 col-md-offset-3"><button class="btn btn-success" type="submit">Add Article</button></div>
            </div>

        </form>
    </div>
</div>

{% endblock %}

{% block extra_js_bottom %}
    <script type="text/javascript" src="/static/js/article_metadata_form.js"></script>
{% endblock %}

