{% set index = url_for("publisher.index") %}
{% set journals = url_for('publisher.journals') %}
{% set urs = url_for('publisher.updates_in_progress') %}
{% set xml = url_for('publisher.upload_file') %}
{% set metadata = url_for('publisher.metadata') %}
{% set preservation = url_for('publisher.preservation') %}
{% set help = url_for('publisher.help') %}

{% set tabs = [
    (index, "My drafts", 0),
    (journals, "My journals", 1),
    (urs, "My update requests", 2),
    (xml, "Upload article XML", 3),
    (metadata, "Enter article metadata", 4),
    (preservation, "Upload preservation file", 5),
    (help, "Help", 6),
    ]
%}

<div class="tabs">
    <nav class="tabs__menu">
        <ul class="tabs__list" role="tablist">
            {% for url, label, ix in tabs %}
                {# Hide the preservation tab for publishers without preservation role (by ID in case label changes) #}
                {% if ix == 5 and not current_user.has_role("preservation") %}
                    {% continue %}
                {% endif %}
                {% set selected = url == request.path %}
                <li class="type-06 tabs__item" {% if not selected %}role="presentation"{% endif %}>
                    <a href="{{ url }}" aria-selected="{% if selected %}true{% else %}false{% endif %}">{{ label }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
