{% set index = url_for("publisher.index") %}
{% set journals = url_for('publisher.journals') %}
{% set urs = url_for('publisher.updates_in_progress') %}
{% set xml = url_for('publisher.upload_file') %}
{% set metadata = url_for('publisher.metadata') %}
{% set help = url_for('publisher.help') %}

{% set tabs = [
    (index, "My drafts"),
    (journals, "My journals"),
    (urs, "My update requests"),
    (xml, "Upload article XML"),
    (metadata, "Enter article metadata"),
    (help, "Help"),
    ]
%}

<div class="tabs">
    <nav class="tabs__menu">
        <ul class="tabs__list" role="tablist">
            {% for url, label in tabs %}
                {% set selected = url == request.path %}
                <li class="tabs__item" {% if not selected %}role="presentation"{% endif %}>
                    <a href="{{ url }}" aria-selected="{% if selected %}true{% else %}false{% endif %}">{{ label }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>

