{% extends "publisher/publisher_base.html" %}

{% block page_title %}Upload article XML{% endblock %}

{% block publisher_content %}

<div class="row">
  <header class="col-md-4">
    <h2>Upload preservation file</h2>

  </header>

  <form id="upload_form" class="col-md-8 form form--compact" method="POST" action="/publisher/preservation" enctype="multipart/form-data">
    <fieldset>
      <h3 class="form__header">Preservation File</h3>
      <div class="form__question">
        <label for="upload-xml-file">Select a file</label>
        <input type="file" id="upload-xml-file" name="file">
        <p><small>Must be less than 50Mb.</small></p>
      </div>
    </fieldset>
    <button type="submit" id="preservation" class="button button--primary">Upload</button>
  </form>
</div>

<hr>

{% endblock %}
