<p>(Translated versions are available in
    <a href="/ar/bestpractice">Arabic</a>,
    <a href="/ca/bestpractice">Catalan</a>,
    <a href="/zh/bestpractice">Chinese</a>,
    <a href="/nl/bestpractice">Dutch</a>,
    {# <a href="/de/bestpractice">German</a>, #}
    <a href="/bestpractice">English</a>,
    <a href="/fa/bestpractice">Farsi</a>,
    {# <a href="/fi/bestpractice">Finnish</a>, #}
    <a href="/fr/editionsavante">French</a>,
    <a href="/hi/bestpractice">Hindi</a>,
    <a href="/id/bestpractice">Indonesian</a>,
    {# <a href="/it/bestpractice">Italian</a>, #}
    <a href="/kr/bestpractice">Korean</a>,
    {# <a href="/no/bestpractice">Norwegian</a>, #}
    <a href="/pl/bestpractice">Polish</a>,
    <a href="/pt/boaspraticas">Portuguese</a>,
    <a href="/ru/bestpractice">Russian</a>,
    <a href="/es/mejorespracticas">Spanish</a>,
    <a href="/sv/bestpractice">Swedish</a>,
    <a href="/tr/bestpractice">Turkish</a>,
    <a href="/uk/bestpractice">Ukrainian</a>
)</p>
