{% extends "base.html" %}

{% block content %}

<h2>About DOAJ (Directory of Open Access Journals)</h2>

<p>
<a href="#board">Advisory Board</a><br>
<a href="#constitution">Constitution</a><br>
<a href="#team">DOAJ Team</a><br>
<a href="#ambassadors">DOAJ Ambassadors</a><br>
<a href="#aimscope">Mission</a><br>
<a href="#partnerships">Partnerships and Collaborations</a><br>
<a href="#privacy">Privacy Policy</a><br>
<a href="#disclaimer1">Disclaimer</a><br>
</p>

<p>The DOAJ (Directory of Open Access Journals) was launched in 2003 at Lund University, Sweden, with 300 open access journals.
Today, the independent database contains ca. 12000 open access journals covering all areas of science, technology, medicine, 
social science and humanities.</p>

<p>DOAJ is a membership organisation and membership is available in 3 main categories: 
<a href="{{ url_for('doaj.publishermembers') }}">Publisher</a>, <a href="{{ url_for('doaj.members') }}">Ordinary Member
</a> and <a href="{{ url_for('doaj.sponsors') }}">Sponsor</a>. A DOAJ Membership is a clear statement of intent and 
proves a commitment to quality, peer-reviewed open access. DOAJ is co-author to the 
<a href="{{ url_for('doaj.bestpractice') }}">Principles of Transparency and Best Practice in Scholarly Publishing
(Principles)</a> and DOAJ members are expected to follow these principles as a condition of membership. DOAJ reserves the 
right to reject applications for membership, or revoke membership if a member or sponsor is found to contravene the 
Principles. <a href="{{ url_for('doaj.membership') }}">Read more about membership here</a>.</p>

<p>DOAJ is a community-curated list of open access journals and aims to be the starting point for all information searches for 
quality, peer reviewed open access material. To assist libraries and indexers keep their lists up-to-date, we make 
public a list of journals that have been <a href="http://bit.ly/1IOA9AJ">accepted into or removed from</a> DOAJ but we 
will not discuss specific details of an application with anyone apart from the applicant. Neither will we discuss individual
publishers or applications with members of the public unless we believe that, by doing so, we will be making a positive
contribution to the open access community.</p>

<p>DOAJ publishes <a href="{{ url_for('doaj.publishers') }}">Information for Publishers</a> on this site to help
Publishers adhere to the Principles and to assist them in completing 
<a href="{{ url_for('doaj.suggestion') }}">an application</a>. DOAJ also publishes 
<a href="{{ url_for('doaj.faq') }}">a list of FAQs</a> relevant to all members of the publishing community, 
particularly libraries and authors. All information on this site is available to both members and non-members.</p>

<p> </p>

<h3><a id="aimscope"></a>DOAJ's Mission</h3>

<p>DOAJ's mission is to increase the visibility, accessibility, reputation, usage and impact of quality, peer-reviewed, open access 
    scholarly research journals globally, regardless of discipline, geography or language. DOAJ will work with editors, publishers and 
    journal owners to help them understand the value of best practice publishing and standards and apply those to their own operations.
    DOAJ is committed to being 100% independent and maintaining all of its services and metadata as free to use or reuse for everyone.</p>

<p> </p>

<h3><a id="constitution"></a>Constitution</h3>

<p>DOAJ is a not-for-profit organisation managed by <a href="http://is4oa.org/">Infrastructure Services for Open Access
C.I.C.</a> (Community Interest Company) based in the United Kingdom. DOAJ relies entirely on the voluntary donations 
of its members and on sponsorship monies received.  In March 2016, DOAJ received
<a href="https://doajournals.wordpress.com/2016/03/22/idrc-grant-to-improve-oa-journals-from-the-global-south/">a grant from the IDRC</a>
for a specific timed project tackling the improvement of open access journals in the Global South. Neither DOAJ or IS4OA receives grants or 
funding from any other source.</p>

<p>DOAJ has <a href="#board">an Advisory Board</a>, the members of which carry out their duties voluntarily.</p>

<p>DOAJ uses the services of approximately 100 voluntary editorial staff who review applications. Volunteers are 
bound by a Code of Conduct and an Agreement that they must sign and return to DOAJ before they can carry out their 
duties. At least two references are requested from everyone who volunteers and all volunteers are bound by the Code of 
Conduct to declare any conflicts of interest to the Managing Editors.</p>

<h3><a id="team"></a>The DOAJ Team</h3>
<p><b>Clara Armengou - Project and Communications Manager</b><br>
Clara has several years of experience in the scholarly publishing industry, recently working at Cambridge University Press as an Open Access Project Manager. She also works as a science communication officer at the University Pompeu Fabra, Barcelona, where she leads a project to to promote scientific research of excellence in Catalonia and to make science and research accessible to the general public.
<a href="https://drive.google.com/file/d/0ByRf6PVViI-mbDFybndLbldEbFE/view?usp=sharing" target="_new">Conflict of Interest Statement (2016)</a>
<a href="https://drive.google.com/file/d/1LHmZSZ6bwf6U71fNvIibJa6R1lquNhfR/view?usp=sharing" target="_new">Conflict of Interest Statement (2018)</a></p>

<p><b>Judith Barnsby - Senior Managing Editor</b><br>
Judith has over 20 years experience in the scholarly publishing industry, working for a range of non-profit society 
publishers and service providers. She has a keen interest in publishing standards and protocols, and has served on the
board of CLOCKSS and as chair of the PALS (publisher and library solutions) working group in the UK. <a href="https://drive.google.com/file/d/0B0fPCpIPjZlmb3JmVkFYbjN5aTh1OUhLd2lZaEV0ZlFwbTZV/view?usp=sharing" target="_new">Conflict of Interest Statement (2016) </a> 
<a href="https://drive.google.com/file/d/0B0fPCpIPjZlmb3JmVkFYbjN5aTh1OUhLd2lZaEV0ZlFwbTZV/view?usp=sharing" target="_new">Conflict of Interest Statement (2018) </a></p>

<p><b>Kamel Belhamel - Managing Editor</b><br>
Kamel holds a PhD in the Process Engineering and Electrochemistry from the University of Setif since 2005. He is author/co-author of more 27 scientific papers in international scientific journals (ORCID ID: https://orcid.org/0000-0002-9099-8040), he has also presented more than 50 abstract books at local and international conferences. His scientific activities are focused on Open Access; Open Science and the chemistry of Natural Products. He is currently Professor of Chemistry at the University of Bejaia in Algeria and Editor in chief of the Algerian Journal of Natural Products (E-ISSN: 2353-0391) as volunteer. He is also the DOAJ Ambassador for North African Countries 
    <a href="https://drive.google.com/file/d/1JdF2kh-fLXz8kPGN_3ijDt5y9K6s0hOQ/view?usp=sharing" target="_new">Conflict of Interest Statement (2018)</a></p>

<p><b>Lars Bjørnshauge - Managing Director and Founder</b><br>
Lars was Director of Libraries at Lund University from 2001 to 2011 and founded the DOAJ in 2003. He became Managing 
Director of DOAJ in January 2013. He has vast experience in: change management; the re-engineering of academic libraries;
the development of information services for research & higher education. He has been a strong advocate of open access 
and for providing services to the open access movement (open access to research publications). He is co-founder of 
<a href="http://www.opendoar.org" target="_new">OpenDOAR</a> and the 
<a href="http://www.doabooks.org" target="_new">Directory of Open Access Books</a>. <a href="https://drive.google.com/file/d/0ByRf6PVViI-mbmo2aU9NWkx5dGs/view?usp=sharing" target="_new">Conflict of Interest Statement (2016)</a><a href="https://drive.google.com/file/d/1mm1a8nbY5MQX9loqIs2ZQuVN-73RfPuN/view?usp=sharing" target="_new">Conflict of Interest Statement (2018)</a></p>

<p><b>Sonja Brage - Managing Editor</b><br>
Sonja Brage is a former Information Librarian from Lund University Library. She has a B.A. in English, Bulgarian and
Russian from Lund University and specialises in applications for journals in the Slavonic languages. <a href="https://drive.google.com/file/d/0ByRf6PVViI-mNUFoZWV4YnZ3bDg/view?usp=sharing" target="_new">Conflict of Interest Statement (2016)</a> <a href="https://drive.google.com/file/d/1M5AGEDP79uk2olCcmVYjKCsmzL7tG2Vc/view?usp=sharing" target="_new">Conflict of Interest Statement (2018) </a></p>

<p><b>Ilaria Fava - Managing Editor</b><br>
Ilaria is a librarian with several years experience within the Open Access community in her home country of Italy, where she has dealt
with Open Access issues at both a national and international level. She has been involved in EU Open Access Projects, as well as
being a serving technical board member for the Italian Journal of Library and Information Science JLIS.it. <a href="https://drive.google.com/file/d/0ByRf6PVViI-mY2dRZTR5eTFjQkk/view?usp=sharing" target="_new">Conflict of Interest Statement (2016)</a> <a href="https://drive.google.com/file/d/1AMi0uIWHgEiaqmJLM7f_SFsiLEJENfjF/view?usp=sharing" target="_new">Conflict of Interest Statement (2018) </a></p>

<p><b>Alejandra Manco Vega - Managing Editor</b><br>
Alejandra has a Bachelor's degree in Information Science and a Master's degree in Digital Media and she has around eight years of experience in information and knowledge management and also in scholarly communication at national and international level. She is responsible for the review of applications for journals wishing to be indexed at the Directory.  <a href="https://drive.google.com/file/d/0ByRf6PVViI-mVFhjdkZWaFJZOTQ/view?usp=sharing" target="_new">Conflict of Interest Statement (2016) </a> <a href="https://drive.google.com/file/d/0ByRf6PVViI-mRlRYTDBPRlZiWTRxQ3VMTUZpQnZ5ZkwyLVQ4/view?usp=sharing" target="_new">Conflict of Interest Statement (2018) </a></p>


<p><b>Dominic Mitchell - Operations Manager</b><br>
Dom has worked extensively with the publisher and librarian communities both as a publisher, with the BMJ Publishing
Group (UK), and as an account and project manager at HighWire Press - Stanford University (USA). He is responsible for
collaboration with DOAJ's publishers, for DOAJ's technical development, social media presence and its blog, the 
<a href="https://doajournals.wordpress.com/">DOAJ News Service</a>. <a href="https://drive.google.com/file/d/0ByRf6PVViI-mWmU0UHZqZm1xcDQ/view?usp=sharing" target="_new">Conflict of Interest Statement (2016) </a> 
<a href="https://drive.google.com/file/d/13XX_GUrw2xRmXARjRrTxegULPT8Redka/view?usp=sharing" target="_new">Conflict of Interest Statement (2018)</a></p>

<p><b>Tom Olijhoek - Editor-in-Chief</b><br>
Tom has a PhD in molecular microbiology and has spent several years in Africa doing research on malaria, sleeping 
sickness and meningococcal epidemics. He has been actively advocating open access and open science since 2012 when 
he joined the Open Knowledge community. At around the same time he became a member of the DOAJ advisory board. His 
current research interests are development of quality systems for the assessment of scholarly journals and articles, 
and research in the area of soil microbiology in relation to soil health and human health. <a href="https://drive.google.com/file/d/0ByRf6PVViI-mYUFZNDRISTZodUU/view?usp=sharing" target="_new">Conflict of Interest Statement (2016) </a> <a href="https://drive.google.com/file/d/1x0w-a1TWQdJDKPtQpGhmDZSdA4BhFSpI/view?usp=sharing" target="_new">Conflict of Interest Statement (2018)</a></p>

<p><b>Leena Shah- Managing Editor</b><br>
Leena Shah holds a Master’s Degree in Information Studies from Nanyang Technological University, Singapore and a Bachelor’s degree in Engineering. She worked as a Science Librarian in Singapore before relocating to Bangalore, India in 2016. At the same time she was appointed as one of the DOAJ Ambassadors for India. Leena has a keen interest in Scholarly Communication and promoting Open Access in the region. She is responsible for reviewing applications to DOAJ from journals in India, its neighboring regions and Indonesia. <a href="https://drive.google.com/file/d/1tifEjAIlU3txBw9DjIcRW9cZL7YG7_nU/view?usp=sharing" target="_new">Conflict of Interest Statement (2018)</a></p>

<p><b>Rikard Zeylon - Managing Editor</b><br>
Rikard has a Bachelor of Arts degree with a Major in Cultural Sciences and a specialization in publishing. <a href="https://drive.google.com/file/d/0ByRf6PVViI-mdnJPdldOM0hUMFU/view?usp=sharing" target="_new">Conflict of Interest Statement (2016)</a> <a href="https://drive.google.com/file/d/1tOnW8L6TwolyLpIXwMKTITf9wGh_ukLb/view?usp=sharing" target="_new">Conflict of Interest Statement (2018)</a> </p>
<br>

<h3><a id="ambassadors"></a>DOAJ Ambassadors</h3>

<p>During 2016 and 2017, DOAJ ran an Ambassador program, generously funded by the IDRC, targeting regions of the 
Global South that could benefit from greater awareness of the issues surrounding open access and the importance of best 
practice and high publishing standards. DOAJ employed 12 Ambassadors from around the world to do this work for us. Their 
<a href="https://doajournals.wordpress.com/2016/09/07/the-doaj-ambassadors-biographies/">pictures and biographies are
published on the DOAJ blog</a>. 
<a href= "https://blog.doaj.org/2017/08/17/increasing-the-impact-of-open-access-in-indonesia-a-universities-consortium-and-3-new-ambassadors/"> New Ambassadors from Indonesia (September 2017)</a> |
<a href="https://blog.doaj.org/2017/11/28/new-doaj-ambassadors-in-the-republic-of-korea/">New Ambassadors from Korea (December 2017)</a></p>
<p>From 2018, many of the Ambassadors will continue to work for DOAJ in some capacity.</p>

<br>

<h3><a id="board"></a>Advisory Board</h3>

<!-- 
<p><b>Community/Consortia</b></p>

<p><b>Kevin Stranack</b>, <i>PKP (Public Knowledge Project)</i>, Canada/U.S.A.<br>
<b>Caren Milloy</b>, <i>JISC</i>, United Kingdom<br>
<b>Jan Erik Frantsvåg</b>, <i>University of Tromsø</i>, Norway<br> 
<b>Cameron Neylon</b>, Bath, U.K.<br>
<b>David Prosser</b>, <i>RLUK (Research Libraries UK)</i>, United Kingdom<br>
<b>Iryna Kuchma</b>, <i>EIFL (Electronic Information For Libraries)</i>, Italy<br>
<b>Stuart Shieber</b>, <i>Office for Scholarly Communication, Harvard University</i>, U.S.A.</p>

<p><b>Publishers/Aggregators</b></p>

<p><b>Leslie Chan</b>, <i>Bioline International</i>, Canada<br>
<b>Martin Rasmussen</b>, <i>Copernicus Publications</i>, Germany<br>
<b>Paul Peters</b>, <i>Hindawi Publishing Corporation</i>, United Kingdom<br>
<b>Arianna Becerril-García</b>, <i>Redalyc</i>, Mexico <br>
<b>Susan Murray</b>, <i>AJOL (African Journals Online)</i>, South Africa</p> -->
<p>DOAJ is in the process of appointing a new Advisory Board. Detail will be posted here and on our blog soon.</p>

<br>

<h3><a id="partnerships"></a>Partnerships and Collaborations</h3>

<p>DOAJ partners with a broad range of organisations. The nature of the partnership varies and includes contracts for 
work, collaborations, initiative signatories or access to information resources that assist with our application review process.</p>

<ul>
<li><a href="https://cottagelabs.com">Cottage Labs LLP</a></li>
<li><a href="https://www.issn.org/">ISSN</a></li>
<li><a href="https://jrost.org/participants">Joint Roadmap for Open Science Tools</a></li>
<li><a href="https://librarypublishing.org/">Library Publishing Coalition</a></li>
<li><a href="http://www.redalyc.org/home.oa">Redalyc</a></li>    
<li><a href="http://www.scielo.org">SciELO</a></li>
<li><a href="https://www.knowledge.services/">Scientific Knowledge Services</a></li>
<li><a href="https://thinkchecksubmit.org/">Think. Check. Submit.</a></li>
</ul>

<!-- INSERT COPE LOGO HERE -->
<p>DOAJ is <a href="https://c4disc.org/about/adopting-organizations/">an adopting organisation</a> of the 
    <a href="https://c4disc.org/principles/">C4DISC Joint Statement of Principles</a>. Adopting the Joint Statement of Principles is a 
        show of support for improving diversity and inclusion in scholarly communications.</p>

<p><img src="{{ url_for('static', filename='doaj/images/cope.jpg') }}" alt="COPE - Member since 2017" title="COPE - Member since 2017"/>
 &nbsp;We are a member of, and subscribe to the principles of, <a href="https://publicationethics.org">COPE (Committee on Publication
    Ethics)</a></p>

<br>

<h3><a id="privacy"></a>Privacy Policy</h3>

<p>DOAJ's <a href="{{ url_for('doaj.privacy') }}">Privacy Information Notice</a> can be found here. This document was created in response to
    requirements laid out by the GDPR and has exensively followed
    <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/">the advice provided</a> by the 
    UK independent authority set up to uphold information rights in the public interest, the ICO.</p>

<br>

<h3><a id="disclaimer1"></a>Disclaimer</h3>

<p>Scholarly journal titles on DOAJ are listed at the request of the journal editor or other person authorized and associated with 
the journal. Only journals complying with the DOAJ criteria are listed and decisions about listing, rejecting and de-listing
are at the discretion of the DOAJ Editorial Team. DOAJ takes no responsibility for the journal, information provided by the 
journal, or content published in the journal. DOAJ disclaims itself from all liability arising out of any journal title listed, or
the use of or inability to use information contained in the journal. DOAJ gives no guarantees or warranty whether express or
implied including, but not limited to, the accessiblity, accuracy, reliability, timeliness or content of these pages.  We 
assume no responsibility, and shall not be liable for any breaches of agreement with other publishers/hosts/indices/lists, 
by listing a journal.</p>

<p>In no event shall DOAJ be liable for any direct, indirect, incidental, consequential damages, lost profits, business 
interruption arising out of or in connection with the use or impossibility to use this service.</p>

{% endblock %}
