{% extends "base.html" %}

{% block content %}

<ul>
<li> <a href="#team">The DOAJ Team</a>
                </li>
<li>
                  <a href="#aimscope">Aims &amp; Scope</a>
                </li>
<li>			  <a href="#board">Advisory Board</a>
                </li>
<li>

                  <a href="#definitions">Definitions</a>
                </li> 
<li>
                  <a href="#criteria">Selection Criteria</a>
                </li>                
<li>
                  <a href="#metadata">Metadata information</a>
                </li>
<li>
                  <a href="#background">Project Background</a>
                </li>

<li>

                 <a href="#europeana">Participant in the Europeana Libraries Project</a>
                 </li>

</ul>

             
             




             

          


          


 

<h3><a name="team"></a>The DOAJ Team</h3>

<p><b>Lars Bjørnshauge - Managing Director</b><br>
Lars was Director of Libraries at Lund University from 2001 to 2011 and 
founded the DOAJ in 2003. He became Managing Editor of DOAJ in January 
2013. He has vast experience in: change management; the re-engineering 
of academic libraries; the development of information services for 
research &amp; higher education. He has been a strong advocat of open 
access and for providing services to the open access movement (open 
access to research publications). He is co-founder of <a href="http://www.opendoar.org/" target="_new">OpenDOAR</a> and the <a href="http://www.doabooks.org/" target="_new">Directory of Open Access Books</a>. Since 2011, he is the Director of <a href="http://sparceurope.org/" target="_new">SPARC Europe</a>. </p>

<p><b>Rikard Brage - Editor</b><br>
Rikard has a Bachelor of Arts degree with a Major in Cultural Sciences and a specialization in publishing.</p>

<p><b>Sonja Brage - Editor</b><br>
Sonja Brage is a former Information Librarian from Lund University 
Library. She has a B.A. in English, Bulgarian and Russian from Lund 
University. She is now reviewing journals, primarily in the Slavonic 
languages and in Italian.</p>
				
<p><b>Lotte Jørgensen - Managing Editor</b><br>
Lotte, Consultant at SemperTool, has during the last 19 years worked as 
librarian, information consultant, project coordinator and consortia 
administrator. The positions has been held at The Technical University 
of Denmark, Swets, Lund University Libraries and The Danish Agency for 
Culture. Lotte was the DOAJ project coordinator 2004-2008.The common 
denominator through all positions has been academic journals and 
scientific publishing.</p>

<p><b>Dominic Mitchell - Community Manager</b><br>
Dom has worked extensively with the publisher and librarian communities 
both as a publisher, with the BMJ Publishing Group (UK), and at HighWire
 Press - Stanford University (USA) where he was an account and project 
manager. Dom is responsible for collaboration with DOAJ's publishers.</p>

<p><b>Salam Baker Shanawa - IT Development Manager</b><br>
Salam, Director of SemperTool, was in charge of the development and 
maintenance of DOAJ from 2004-2011. Salam has a vast knowledge of 
academic libraries and a long experience in creating and integrating 
digital library products and systems. SemperTool offers a range of 
reliable and cost-effective software solutions for digital libraries, 
and serves more than 100 universities in Europe, Africa and the Middle 
East. SemperTool is also developing and maintaining the <a href="http://www.doabooks.org/">Directory of Open Access Books</a>.</p>

<p>&nbsp;</p>

<h3><a name="board"></a>Advisory Board</h3>

<p><b>Community/Consortia</b></p>

<p><b>Kevin Stranack</b>, <i>PKP (Public Knowledge Project)</i>, Canada/U.S.A.<br>
<b>Tom Olijhoek</b>, <i>OKNF (Open Knowledge Foundation)</i>, The Netherlands<br>
<b>Caren Milloy</b>, <i>JISC</i>, United Kingdom<br>
<b>Jean-Francois Lutz</b>, <i>Couperin</i>, France<br>
<b>Jan-Erik Frantsvåg</b>, <i>University of Tromsø</i>, Norway<br> 
<b>David Prosser</b>, <i>RLUK (Research Libraries UK)</i>, United Kingdom<br>
<b>Iryna Kuchma</b>, EIFL (Electronic Information For Libraries), Italy<br>
<b>Stuart Shieber</b>, <i>Office for Scholarly Communication, Harvard University</i>, U.S.A.</p>

<p><b>Publishers/Aggregators</b></p>

<p><b>Leslie Chan</b>, <i>Bioline International</i>, Canada<br>
<b>Martin Rasmussen</b>,  <i>Copernicus Publications</i>, Germany<br>
<b>Paul Peters</b>, <i>Hindawi Publishing Corporation</i>, Egypt<br>
<b>Cameron Neylon</b>, <i>PLOS</i>, U.S.A.<br>
<b>Juliane Ritt</b>, <i>Springer</i>, Germany<br>
<b>Arianna Becerril-García</b>, <i>Redalyc</i>, Mexico <br>
<b>Susan Murray</b>, <i>AJOL (African Journals Online)</i>, South Africa</p>

<p>&nbsp;</p>

<h3><a name="aimscope"></a>Aims &amp; Scope</h3>

<p>The aim of the DOAJ is to increase the visibility and ease of use of 
open access scientific and scholarly journals, thereby promoting their 
increased usage and impact. The DOAJ aims to be comprehensive and cover 
all open access scientific and scholarly journals that use a quality 
control system to guarantee the content. In short, the DOAJ aims to be 
THE one stop shop for users of open access journals.</p>

<p>&nbsp;</p>


<h3><a name="definitions"></a>Definitions</h3>

<p><b>Open Access Journal</b>: We define open access journals as 
journals that use a funding model that does not charge readers or their 
institutions for access. From the BOAI definition <sup>[1]</sup> of 
"open access", we support the rights of users to "read, download, copy, 
distribute, print, search, or link to the full texts of these articles" 
as mandatory for a journal to be included in the directory.</p>

<p><sup>[1]</sup> <a href="http://www.earlham.edu/%7Epeters/fos/boaifaq.htm#openaccess" target="_blank">http://www.earlham.edu/~peters/fos/boaifaq.htm#openaccess</a></p>

<p><b>Quality Control:</b> The journal must exercise peer-review or editorial quality control to be included.</p>

<p><b>Research Journal:</b> Journals that report primary results of research or overviews of research results to a scholarly community.</p>

<p><b>Periodical:</b> A serial appearing, or intending to appear, 
indefinitely at regular intervals and generally more frequently than 
annually, each issue of which is numbered or dated consecutively and 
normally contains separate articles, stories, or other writings.</p>

<p>&nbsp;</p>

<h3><a name="criteria"></a>Selection Criteria</h3>

<b>Coverage:</b>
<ul>
<li>Subject: all scientific and scholarly subjects are covered</li>
<li>Types of resource: scientific and scholarly periodicals that publish research or review papers in full text.</li>
<li>Acceptable sources: academic, government, commercial, non-profit private sources are all acceptable.</li> 

<li>Level: the target group for included journals should primarily be researchers.</li> 
<li>Content: a substantive part of the journal should consist of research papers. All content should be available in full text.</li>  
<li>All languages
</li></ul>

<br>

<b> Access:</b>
<ul>
<li>All content freely available.</li> 
<li>Registration: <b>Free</b> user registration online is acceptable.</li>  

<li>Open Access without delay (e.g. no embargo period).</li>
</ul>

<br>

<b>Quality:</b> For a journal to be included it should exercise quality 
control on submitted papers through an editor, editorial board and/or a 
peer-review system.

<br><br>

<p><b>Periodical:</b> The journal should have an ISSN (International Standard Serial Number, for information see <a href="http://www.issn.org/" target="_blank">http://www.issn.org</a>). Online journals should have an eISSN.</p>

<p>&nbsp;</p>

<h3><a name="metadata"></a>Metadata information</h3>

<p>Resources will be catalogued on journal title level. To make article 
level content searchable in the system, journal owners are encouraged to
 supply us with article metadata when a journal has been added into the 
directory. If you are a journal owner and have not received this 
information, <a href="/contact">please contact us</a>.</p>

<p>&nbsp;</p>     

<h3><a name="background"></a>Project Background</h3>

The proliferation of freely accessible online journals, the development 
of subject specific pre- and e-print archives and collections of 
learning objects provides a very valuable supplement of scientific 
knowledge to the existing types of published scientific information 
(books, journals, databases etc.). However these valuable collections 
are difficult to overview and integrate in the library and information 
services provided by libraries for their user constituency. 

<br><br>

At the First Nordic Conference on Scholarly Communication in 
Lund/Copenhagen (http://www.lub.lu.se/ncsc2002) the idea of creating a 
comprehensive directory of Open Access Journals was discussed. The 
conclusion was that it would be a valuable service for the global 
research and education community. <a href="http://www.soros.org/" target="_blank">Open Society Institute</a> (OSI) supported the initial project work.

<br><br>

<p>Available technologies make it possible to collect and organize these
 resources in a way that allow libraries worldwide to integrate these 
resources in existing services thus offering added value both for the 
service providers of these resources and for the global research and 
education community.</p>

<p>&nbsp;</p>

<h3><a name="europeana"></a>Participant in the Europeana  Libraries Project</h3>

<p>DOAJ participated in the Europeana Libraries project 2010-2012. DOAJ 
is included in the portal which was launched in Tartu, Estonia on June 
27, 2012. Offering <a href="http://www.theeuropeanlibrary.org/" target="_blank">free online access to high quality full text content, plus excellent search tools, the portal</a>
 enables researchers to find, use and re-use a vast range of materials 
with ease. The content of DOAJ will be even more visible and 
disseminated through this portal.</p>

<p>A promotional video for the website can also be viewed on their <a href="http://www.youtube.com/user/theeuropeanlibrary" target="_blank">YouTube channel</a>. </p>

{% endblock %}

