{% extends "sidebar-page.html" %}

{% block content %}

<h3>Application received safely</h3>
<p>Thank you for your application which has been received safely. You will receive an automated email when the application
is assigned to an editor, and then another when they start working on it. It may take up to six months before you get a final decision from us, although most applications are processed in three months.</p>

<p>Look out for emails from  our volunteers about your application. The person reviewing your application may not be using a doaj.org email address. Check your Spam folder for emails from us too.</p>
  
<p>It is important that you respond to our emails and provide us with the information that we require. If you are not sure that the person you are writing to is authorised to represent DOAJ, <a href="/volunteers">check here</a>, or <a href="/contact">send us an email</a>.</p>

<p>We cannot reply to emails requesting a status update on applications that are less than three months old.</p>

{% endblock %}
