{% extends "base.html" %}

{% block content %}

<p>We welcome feedback and comments about the DOAJ web site, our service or any content you find here. If you are sending
feedback about a particular journal, be assured that all communication will be treated as confidential.</p>

<p><font color="red"><b>Before you contact us, read this:</b></font><br>
<ol>
<li><b>I want to publish my article in your journal.</b><br>
DOAJ is not a journal or a publisher; do not submit papers to us. We are a directory of open access journals.</li><br>
<li><b>I want my journal indexed in DOAJ. What do I do?</b><br>
Have a look at our <a href="{{ url_for('doaj.publishers') }}">Information for Publishers</a> page. If your journal fills our
criteria please <a href="{{ url_for('doaj.suggestion') }}">fill in an application</a>.</li><br>
<li><b>I have filled in an application or a reapplication. How long do I have to wait?</b><br>
We process applications as fast as possible. We recently completed a large reapplication project and have a backlog of 
applications to process. If you have not received an answer within 6 months, contact us using the form below. Please check your
Spam folder first to make sure you have no messages from us.</li><br>
<li><b>Please send me articles about subject X.</b><br>
We do not supply that service. <a href="{{ url_for('doaj.subjects') }}">Use our subject browser</a> and then contact 
the relevant journal.</li><br>
<li><b>Please send me a list of journals on subject X.</b><br>
We do not supply that service. You can either <a href="{{ url_for('doaj.subjects') }}">use our subject browser</a>, 
<a href="/faq#metadata">harvest our metadata or download a .csv file</a>.</li>
</ol>
</p>

<p>To contact us please send us email to feedback[at]doaj[.]org</a></p>

{#
<div class="alert alert-danger">THIS FORM DOES NOT CURRENTLY WORK</div>

<p>For all other inquiries please use the form below.</p>

<form action="/doaj" method="post">
<input name="func" value="contact" type="hidden">
<input name="uiLanguage" value="en" type="hidden">

<label for="subject">Subject</label> <br>

<input name="subject" id="subject" size="30" type="text"><br>
<label for="message">Message *</label><br>
<textarea id="message" name="message" cols="45" rows="8"></textarea><br>
<label for="name">Your name * </label><br>
<input name="name" id="name" size="30" type="text"><br>
<input name="already" value="1" type="hidden">
<input name="cKey" value="68181384620959" type="hidden">
<label for="email">Your email address *</label><br>
<input name="email" id="email" size="30" type="text"><br>
Type in the word displayed in the image *
<img src="contact_us_files/captcha68181384620959.gif" style="border: 1px solid #c0c0c0; width: 50px; height: 31px;">
<br>
<input name="cWord" size="7">
<p>
<input value="Submit" border="0" type="submit"></p></form>
#}

{% endblock %}
