{% extends "base.html" %}

{% block content %}

<font color="red"><b>Please read our 5 FAQs before sending us feedback:</b></font><br>

<ol>
<li><b>I want to publish my article in your journal.</b><br>
DOAJ is NOT a journal or a publisher. Find the journal where you want to publish your article and ask them directly.</li> 
<li><b>I want to index my journal in DOAJ. What do I do?</b><br>
Have a look at <a href="/about#criteria">our selection criteria</a>. If your journal fulfils the criteria please <a href="/suggest">complete the suggestion form</a>.</li>
<li><b>I have suggested my journal to DOAJ. How long time do I have to wait?</b><br>
We process suggestions as fast as possible. If you have not received an answer within 2 months, feel free to contact us.</li>
<li><b>Please send me articles about X subject.</b><br>
We do not supply that service. <a href="/search">Search our catalogue</a></li>
<li><b>Please send me a list of journals on X subject.</b><br> 
You can either <a href="/faq#metadata">harvest the metadata or download a csv file</a>.</li>
</ol> 

<div class="alert alert-danger">THIS FORM DOES NOT CURRENTLY WORK</div>

<p>For all other inquiries please use the form below.</p>

<form action="/doaj" method="post">
<input name="func" value="contact" type="hidden">
<input name="uiLanguage" value="en" type="hidden">

<label for="subject">Subject</label> <br>

<input name="subject" id="subject" size="30" type="text"><br>
<label for="message">Message *</label><br>
<textarea id="message" name="message" cols="45" rows="8"></textarea><br>
<label for="name">Your name * </label><br>
<input name="name" id="name" size="30" type="text"><br>
<input name="already" value="1" type="hidden">
<input name="cKey" value="68181384620959" type="hidden">
<label for="email">Your email address *</label><br>
<input name="email" id="email" size="30" type="text"><br>
Type in the word displayed in the image *
<img src="contact_us_files/captcha68181384620959.gif" style="border: 1px solid #c0c0c0; width: 50px; height: 31px;">
<br>
<input name="cWord" size="7">
<p>
<input value="Submit" border="0" type="submit"></p></form>

{% endblock %}
