{% extends "base.html" %}
{% block content %}
<h3>General information</h3>
<a name="top"></a>
<p>
<ul>
<li><a href="#sponsor">How can I support/donate to DOAJ?</a></li>
<li><a href="#whatis">What is DOAJ?</a></li>
<li><a href="#definition">How do we define 'Open Access Journal', 'Quality Control', 'Research Journal', 'Periodical'?</a></li>
<li><a href="#standards">What are the basic standards that a journal must meet for the application to be
considered?</a></li>
<li><a href="#procedure">What is the procedure for a journal being accepted into DOAJ?</a></li>
<li><a href="#lcc">How are journals classified / categorised?</a></li>
<li><a href="#oai">What is Open Archives Initiative, OAI, OAI-PMH?</a></li>
<!--
<li><a href="#seal">What is the DOAJ Seal of Approval for Open Access Journals (the DOAJ Seal)</a></li>
<li><a href="#sealedJournals">Which journals have the DOAJ Seal now?</a></li>
-->
<li><a href="#restrictionsA">Do you have any restrictions for the use of your metadata?</a></li>
</ul>
</p>
<h3>For authors and other users</h3>
<p>
<ul>
<li><a href="#sponsor">How can I support/sponsor DOAJ?</a></li>
<li><a href="#search">How do I search in DOAJ and what information about a journal or article can I find in the
directory?</a></li>
<li><a href="#tocs">How do I browse issues and Tables of Contents?</a></li>
<li><a href="#licensedJournals">Which journals in DOAJ have a CC-license?</a></li>
<li><a href="#journallicense">How is license information applied and displayed in DOAJ?</a></li>
<li><a href="#thetick">What does the green tick symbol mean?</a></li>
<li><a href="#java">Can I use DOAJ with Javascript disabled?</a></li>
<li><a href="#browse">What happened to Browse? How can I browse journals by Subject?</a></li>
<li><a href="#byCountry">Can I find information about which countries have journals included in DOAJ?</a></li>
<li><a href="#Other_OA">Are there other ways to Open Access?</a></li>
<li><a href="#notcovered">Why is the subject area that I am looking for not covered?</a></li>
<li><a href="#rss">Is there an RSS/Atom feature in DOAJ?</a></li>
<li><a href="#fees">How can I find out whether a journal charges author processing fees (APCs)?</a></li>
</ul>
</p>
<h3>For libraries</h3>
<p>
<ul>
<li><a href="#sponsor">How can I support/sponsor DOAJ?</a></li>
<li><a href="#metadata">How can I get journal metadata from DOAJ?</a></li>
<li><a href="#metadata">Can I download all the DOAJ metadata as a CSV file?</a></li>
<li><a href="#metadataA">How can I get article level metadata from DOAJ?</a></li>
<li><a href="#restrictions">Do you have any restrictions on the use of your metadata?</a></li>
</ul>
</p>
<h3>For publishers</h3>
<p>FAQs for publishers have moved to the <a href="/publishers">For Publishers page</a>.</p>

<br><br>
<!-- GENERAL INFORMATION FAQS -->
<h3><b><a name="whatis"></a>What is DOAJ?</b></h3>
<p>The Directory of Open Access Journals is a service that indexes high quality, peer reviewed Open
Access research journals, periodicals and their articles' metadata. The Directory aims to be comprehensive and cover
all open access scientific and scholarly journals that use an appropriate quality control system (see the section below) and is not limited
to particular languages or subject areas. The Directory aims to increase the visibility and ease of use of open access
scientific and scholarly journals—regardless of size and country of origin—thereby promoting their visibility, usage
and impact.</p>
<a href="#top">Back to top</a>
<br><br>
<h3><b><a name="definition"></a>How do we define 'Open Access Journal', 'Quality Control', 'Research Journal' and 'Periodical'?</b></h3>
<p><b>Open Access Journal:</b><br>
We define open access journals as journals that use a funding model that does not charge readers or their institutions for access. From the BOAI definition<sup>[1]</sup> of 'open access' we take the right of users to <b>"read, download, copy, distribute, print, search, or link to the full texts of these articles"</b> as mandatory for a journal to be included in the directory.<br>
[1] <a href="http://www.budapestopenaccessinitiative.org/read">http://www.budapestopenaccessinitiative.org/read</a>
</p>

<p><b>Quality Control:</b><br>
<p>The journal must exercise peer-review with an editor and an editorial board or editorial review (particularly in 
the Humanities) carried out by at least two editors.</p>
<p><b>Research Journal:</b><br>
<p>Journals that report primary results of research or overviews of research results to a scholarly community.</p>
<p><b>Periodical:</b><br>
<p>A serial appearing or intended to appear indefinitely at regular intervals, generally more frequently than annually,
each issue of which is numbered or dated consecutively and normally contains separate articles, stories, or other
writings.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>
<h3><b><a name="standards"></a>What are the basic standards that a journal must meet for an application to be considered?</b></h3>
<p><i>DOAJ adheres to <a href="/bestpractice">the Principles of Transparency and Best Practice in Scholarly Publishing</a>, a joint statement published by COPE, DOAJ, OASPA and WAME. We advise that all applicants read through this statement before applying.</i></p>

<p>To facilitate a faster response time, applications are initially triaged to ensure they meet some basic criteria. These are:</p>
<p><b>Coverage:</b><br>
<ul>
<li>Subject: all scientific and scholarly subjects are covered. We use the
<a href="http://www.loc.gov/catdir/cpso/lcco/">Library of Congress Classification Outline</a>.</li>
<li>Types of resource: scientific and scholarly periodicals that publish research or review papers in full text.</li>
<li>Acceptable sources: academic, government, commercial, non-profit and private sources are all acceptable.</li>
<li>Level: the primary target group should be researchers.</li>
<li>Content: a substantive part of the journal should consist of research papers. All content should be available in 
full text. See our <a href="/publishers#casereport">policy for case report journals</a>.</li>
<li>All languages are accepted.</li>
</ul>
<p><b>Access:</b><br>
<ul>
<li>The full text of ALL content must be available for free and be Open Access without delay (i.e. no embargo period).</li>
<li>Registration: User registration online is acceptable on the condition that the journal has a proper Privacy Policy
in place and abides by Data Protection rules. That is to say: user data will never be distributed without the
explicit permission of the user; upon request, a user's email address is removed from mailing lists; all data held about
the user will be made available to the user upon request.</li>
</ul>
<p><b>Quality:</b> The journal must exercise quality control on submitted papers using a peer-review system. A journal
must have an editor and an editorial board. Only in the case of Humanities journals we will accept a form of 
editorial review using only two editors and no editorial board. Where an editorial board present, at least 5 of its 
members must be clearly identifiable with their affiliation information.  
See our <a href="http://doaj.org/publishers#humanities">policy for Humanities journals</a>.</p>
<p><b>Periodical:</b> The journal must have at least one ISSN (International Standard Serial Number) registered at
<a href="http://www.issn.org">issn.org</a>. In general, if a journal exists in print and online, then it should have both an
ISSN for the print version and an ISSN for the electronic version.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="procedure"></a>What is the procedure for a journal being accepted into DOAJ?</b></h3>
<p><b>Application</b></p>
<p>We must receive an application for every journal wishing to be considered for inclusion. Due to the level of detail required, we recommend that the application is made by the journal's editor or publisher. Once submitted, the application passes through <a href="#standards">a triage process</a> and is assigned to a DOAJ Associate Editor. There are over 40 pieces of
information in every application that we will check and verify. As you complete the application form, remember to ensure that
the journal's web site states clearly and accurately the information DOAJ is asking for in the application form. The things that we will check include but are not limited to:
<ul>
<li>That the journal's ISSN(s) number(s) is registered at issn.org and matches the application;</li>
<li>That the title in the application matches what is registered at issn.org and what is stated on the journal's web site;</li>
<li>That the country of the publisher in the application matches the country registered at issn.org; this may not always be the country to which the journal is registered.</li>
<li>That the journal has an editor or an editor and an editorial board with identifiable members; we will contact you for members' contact details as part of our review process. These will not be made publicly available.</li>
<li>That the full text of articles is free, without embargo, upon publication;</li>
<li>That the journal's Open Access policy is clearly stated <b>on the journal's web site</b> and is easily findable;</li>
<li>That the journal executes some form of editorial review or peer review, that this is clearly stated on the web site and that it matches the answer given in the application form;</li>
<li>That the journal is Open Access according to <a href="http://www.budapestopenaccessinitiative.org/read">the BOAI definition</a>. By this we mean that the journal's articles have
"free availability on the public internet, permitting any users to read, download, copy, distribute, print, search,
or link to the full texts of these articles, crawl them for indexing, pass them as data to software, or use them for
any other lawful purpose, without financial, legal, or technical barriers other than those inseparable from gaining
access to the internet itself."</li>
<li>That any fees for publishing in the journal are clearly displayed in a place that is easy to find;
if there are no charges to authors this should also be highlighted.</li>
<li>That if the journal has any other kind of author charges, they are clearly stated and easily findable on the web
site;</li>
<li>That the language of the full text articles match the language stated in the application.</li>
</ul>
</p>
<p>If the information provided in the
application is unclear or does not match what is on the site, or we think that it is incorrect, the member of our team handling your application will contact you for clarification.</p>
<p><b>Status updates</b><br>
<p>We are unable to provide status updates for any application that is less than THREE months old.</p>
<p><b>Acceptance into DOAJ</b><br>
<p>Upon acceptance into DOAJ, the journal is classified by the DOAJ team according to the Library of Congress
Classification (LCC) system. An automatic confirmation email is sent to the person listed in Question 9; it contains
details on how to log into your Publisher account. You will need these details to upload article metadata. The journal is then visible in DOAJ immediately.</p>
<p><b>Rejection of an Application</b></br>
<p>If your application is rejected, a member of the DOAJ team will let you know, along with the reason for the rejection. A rejected journal may reapply for inclusion once it has demonstrated clearly that it has made the improvements suggested by the DOAJ.</p>
<p><b>Uploading or creating metadata in DOAJ</b><br>
<p>We <b><i>strongly</i></b> recommend that ALL journals provide us with <a href="/publisher/uploadfile">article
metadata in XML format</a> or create the data manually using <a href="/publisher/metadata">our metadata entry form</a>.
A script looking for new articles to publish to the site runs every 30 minutes. DOAJ is <a href="#oai">OAI-PMH</a> compliant and once the article is available in DOAJ it becomes automatically OAI harvestable.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="lcc"></a>How are journals classified / categorised?</b></h3>
<p>All journals in DOAJ are classified according to the <a href="http://www.loc.gov/catdir/cpso/lcco/">Library of Congress
Classification (LCC) system</a>. The subjects are assigned by our editorial team once a journal is accepted for 
indexing in the database. If a publisher chooses to upload article metadata to us, a journal's articles inherit the 
same subjects.</p>
<p>Subject categories appear in search results for journals and are structured as follows:<br>
- where subjects are separated by a full stop, the subjects are part of the same category level at LCC and in DOAJ. 
For example: 'Philosophy. Psychology. Religion' is one category.<br>
- where subjects are separated by a colon, the second subject is a sub-category of the first. 
For example: 'Philosophy. Psychology. Religion: Philosophy (General)' shows that 'Philosophy (General)' is a 
sub-category of 'Philosophy. Psychology. Religion' and this journal has been categorised as General Philosophy.<br>
- where subjects are separated by a pipe, the second category has no relation to the first. For example:
'Philosophy. Psychology. Religion: Philosophy (General) | Social Sciences: Social sciences (General)' means that this 
journal has been categorised both as General Philosophy AND General Social Sciences. 
<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="oai"></a>What is Open Archives Initiative, OAI, OAI-PMH?</b></h3>
<p><a href="http://www.openarchives.org/">OAI, Open Archives Initiative</a>, supplies a common framework to web
communities that allows them to gain access to content in a standard manner by means of metadata harvesting.
<a href="/features">Read the details of our OAI feature.</a></p>
<p></p>
<br><br>

<!--
<h3><b><a name="seal">What is the DOAJ Seal of Approval for Open Access Journals (the DOAJ Seal)</a></b></h3>
<p>A Seal to Set Standards for Open Access Journals.</p>
<p>DOAJ has introduced a certification scheme for Open Access journals, the 'DOAJ Seal'.</p>
<p>To receive the Seal, the journal must comply with all of the criteria in the last section of the Application form:
<ul>
<li>The journal uses DOIs as permanent identifiers;</li>
<li>Provide DOAJ with article metadata;</li>
<li>A long term digital preservation or archiving program;</li>
<li>Embedded machine-readable CC licensing information in articles;</li>
<li>Allows generous reuse and mixing of content, in accordance with a CC BY license;</li>
<li>Has a deposit policy registered wíth a deposit policy registry, like Sherpa/Romeo.</li>
</ul>
<a href="#top">Back to top</a>
<h3><b><a name="sealedJournals">Which journals have the DOAJ Seal for Open Access Journals right now?</b></h3>
<p>Use <a href="/XXXXXXX">this link</a> to see a list of all journals having the Seal.</p>
<a href="#top">Back to top</a>
-->


<h3><b><a name="sponsor"></a>How can I support/sponsor DOAJ?</b></h3>
<p>We would be delighted if you donate to DOAJ. We rely entirely on contributions. Please read our
<a href="/supportDoaj">Support DOAJ</a> page for further information.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="restrictionsA"></a>Do you have any restrictions for the use of your site code and software?</b></h3>
<p>The code used to generate the DOAJ web site is open source as are the various pieces of software used for the
different features. The site or "work" is licensed under a
<a href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA license</a>.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>

<!-- SECTION FOR USERS/AUTHORS -->
<h3><b><a name="search"></a>How do I search in DOAJ and what information about a journal or article can I find?</b></h3>
<p>Use <a href="/search">the Search</a> to look for journals and article metadata in DOAJ. You may refine your
search results by using the facets in the panel on the left, or by sorting and filtering using the fields at the
top of the search results.</p>
<p>You can choose to search on any of the following fields:</p>
<ul>
<li>All fields</li>
<li>Title</li>
<li>Keywords</li>
<li>Subject</li>
<li>Identifier (DOI, ISSN)</li>
<li>Abstract</li>
<li>Author</li>
<li>Year</li>
<li>Country</li>
<li>Language</li>
<li>Publisher</li>
<li>Journal title</li>
<li>Alternative title</li>
<li>Provider</li>
</ul>
<p>If you write more than one word in your search query it will be treated as a phrase. To search on full article
titles, use " " around the title, e.g. "Is social, cultural and recreational participation a luxury for people
living in poverty? An analysis of policy intentions and measures"</p>
<p><a name="searchresults"></a>The search results in DOAJ contain the following fields:</p>
<p><b>Journal Title</b><br>
The title of the journal. If there is a green tick next to it then the journal was accepted using the new criteria.</p>
<p><b>Publisher</b><br>
The entity responsible for publishing the journal.</p>
<p><b>Platform, host or aggregator</b><br>
The entity responsible for delivering or hosting the journal or content.</p>
<p><b>Publication charges?</b><br>
Does the journal charge article processing charges (APCs)?</p>
<p><b>Started publishing open access content in?</b><br>
The year that the first complete year of fully open access content is available freely online.</p>
<p><b>Journal Language</b><br>
The language that the full text articles are published in.</p>
<p><b>ISSN(s)</b><br>
Either the ISSN for the print version of the journal OR the ISSN for the electronic version of the journal OR BOTH.
<p><b>Keywords</b><br>
The keywords that best describe the journal, as provided by the publisher.</p>
<p><b>Date added to DOAJ</b></p>
<p><b>Home page</b><br>
The URL of the journal's home page.</p>
<p><b>Journal license</b><br>
The type of license that the publisher assigns to the journal. This may be a Creative Commons license, or an
equivalent. Some publishers have different types of licenses for different articles. We list the most restrictive
license in search results.</p>
<p><b>Country of publisher</b><br>
The country where the publisher has legally registered their offices.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>
<h3><b><a name="tocs"></a>How do I browse issues or Tables of Contents?</b></h3>
<p>You can browse the tables of content for those journals where publishers have uploaded article metadata to us.
Click on the blue, hyperlinked journal title in search results to access them.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>
<h3><b><a name="licensedJournals"></a>Which journals in DOAJ have a CC-license?</b></h3>
<p>Go to <a href="http://bit.ly/1qNfpTI">this search of journals</a> and expand the Journal License facet in the left
hand panel. The number of journals per license is in brackets next to each license type.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>
<h3><b><a name="journallicense"></a>How is license information applied and displayed in DOAJ?</b></h3>
<p>The current version of DOAJ allows publishers to supply license information at the JOURNAL level.
Because some journals have different licenses from one article to another, we ask publishers to supply the license
that best fits ALL of the content; this is usually the most restrictive license. We are working to give greater
granularity to license information.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>
<h3><b><a name="thetick"></a>What does the green tick symbol mean?</b></h3>
<p>In March 2014, DOAJ started to implemented its new criteria for journals being accepted into the directory. All
journals accepted after this date display a green tick symbol:</br>
<img src='/static/doaj/images/tick_short.png' title='Accepted after March 2014'
alt='Tick icon: journal was accepted after March 2014'> appears next to the journal title in search results; and on a journal's Table of Contents page.</br>
<a href="#top">Back to top</a>
<p></p>
<br><br>
<h3><b><a name="java"></a>Can I use DOAJ with Javascript disabled?</b></h3>
<p>If you disable all Javascript, it will not be possible to search the DOAJ. If you can switch off certain components
and allow others, then you can continue to use DOAJ. Search will not work with Javascript switched off completely because
some of the code that is required is served by Google's Javascript library hosting so if disallowed, search will fail.
Other Javascript components are 'Addthis' which is our share feature that allows people to share items from within our
site. Disabling this will simply disable the feature. Another component is Bootstrap (http://getbootstrap.com/) which is the
framework used to build the DOAJ website. This contains some Javascript for some of its features. Bootstrap was
originally created by Twitter and made publicly available. We're not aware of any data collected by Twitter as part of
its integration into the DOAJ site.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>
<h3><b><a name="browse"></a>What happened to Browse? How can I browse journals by Subject?</b></h3>
<p>The updated Search functionality in DOAJ combines the traditional functions of search and browse into one.
This is an updated way of finding information, in line with the process of filtering and drilling down to the results
that are required.</p>
<p>To browse for journals by subject:<br></p>
<ul>Starting at the <a href="/search">Search page</a>:
<li>Select 'journal' from the 'Journals vs Articles' facet</li>
<li>From under the 'Subject' facet, choose the subject that you wish to browse</li>
<li>To see more Subjects than the 10 listed, change the number at the top of the facet from '10' to the number of
Subjects you would like to see.</li>
</ul>
<p></p>Only journals corresponding to the chosen subject will show. You may make further refinements by selecting other
facets.</p>
<p>We will be adding a Subject browser to the site at some point in the near future.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>
<h3><b><a name="byCountry"></a>Can I find information about which countries have journals included in DOAJ?</b></h3>
<p>Yes, go to the <a ref="/search">Advanced Search page</a> and select 'journal' from the 'Journals vs. Articles' facet
at the top of the left hand panel. Then expand the 'Country of publisher/publication' facet to show all journals
published by country. By default the list is sorted by country with the most journals, in descending order.To see more
than 10 countries, change the number at the top of the facet from '10' to a greater number.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>
<br><h3><a name="Other_OA"></a>Are there other ways to find Open Access content?</h3>
<p>Yes, read more about Self-Archiving and Open Archives in <a href="http://www.eprints.org/self-faq/">the
Southampton Self-Archiving FAQ</a>. You can also consult the
<a href="http://www.opendoar.org/">Directory of Open Access Repositories</a> and the <a href="http://www.doabooks.org/">
Directory of Open Access Book.</a></p>
<a href="#top">Back to top</a>
<p></p>
<br><br>
<h3><b><a name="notcovered"></a>Why is the subject area that I'm looking for not covered?</b></h3>
<p>This is because we have not indexed any journals in that subject area yet. Applications for journals in
under-represented areas, or areas that are not represented at all, are always welcome. Please
<a href="{{ url_for('doaj.suggestion') }}">apply here</a> for inclusion in DOAJ.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>
<h3><b><a name="rss"></a>Is there an RSS/ATOM feed in DOAJ?</b></h3>
<p>We have <a href="/feed">an ATOM feed</a>. The feed contains information on journals added in the last 30 days
and includes the latest 100 items.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>
<h3><b><a name="fees"></a>How can I find out whether a journal charges author processing fees (APCs)?</b></h3>
<p>You can find this information in two ways:
<ul>
<li>Go to the Advanced Search page and expand the 'Publication charges' facet. By selecting 'No charges', you will
retrieve a list of all the journals in DOAJ where the publisher has told us that they do not charge authors anything
at all.</li>
<li>APC information is displayed under each journal in search results.</li>
</ul>
</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>
<!-- SECTION FOR LIBRARIES -->
<h3><b><a name="metadata"></a>How can I get journal metadata from DOAJ?</b></h3>
<p>The DOAJ service supports the OAI protocol for metadata harvesting
(<a href="http://www.openarchives.org/OAI/openarchivesprotocol.html">OAI-PMH</a>). Thus, any OAI compatible service
can obtain records from DOAJ. The OAI data is always up to date. OAI is well-established and easy to use. The base URL
is: http://www.doaj.org/oai. You can add most OAI verbs and other commands directly on to that. <a href="/features">
Read a full description of this service here</a>. Our current OAI offering is standardised around Dublin Core. We will
expanding the metadata in it in the latter half of 2014.</p>
<a name="metadata_csv"></a>
<p>You can also <b>Download a list of journals in CSV (comma-separated) format</b> which can then be
imported into Excel or any equivalent analysis tool. The CSV file is updated every 30 minutes. To retrieve the data:</p>
<ol>
<li><a href="/csv">Download the file to your computer</a></li>
<li>Open the file in a document processing program like Excel or OpenOffice.</li>
<li>You can then choose which format you want the spreadsheet in.</li>
</ol>
<p>Please be aware that the data included in this file ONLY includes a subset of the data currently and some 
information may be missing until a journal has reapplied and been accepted back into the DOAJ.</p>
<p>Finally, you can connect up to our <b><a href="http://doaj.org/feed">RSS feed of new journals added</a></b> which 
is updated every time new journals are added to the database. You can integrate the feed into your browser or straight 
into a web site.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>
<h3><b><a name="metadataA"></a>How do I get article level metadata from DOAJ?</b></h3>
<p>Article level metadata can be harvested using the OAI protocol. <a href="/features">
Read a full description of this service here</a>.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>
<h3><b><a name="restrictions"></a>Do you have any restrictions on the use of your site code and software?</b></h3>
<p>The data in DOAJ is licensed to you under the Creative Commons Attribution-ShareAlike License (CC BY-SA). The
essence of this license is explained at <a href="http://creativecommons.org/licenses/by-sa/4.0/">the creative commons
web site</a>. (You may also <a href="http://creativecommons.org/licenses/by-sa/4.0/legalcode">be
interested in the fine print</a>.) The rights of the site-generated metadata, such as the Atom feed, are listed in the
feed.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>

{% endblock %}
