{% extends "base.html" %}

{% block content %}


<h3>General information</h3>
<a name="top"></a>
<p>
<ul>
<li><a href="#whatis">What is DOAJ?</a></li>
<li><a href="#definition">How do we define 'Open Access Journal', 'Quality Control', 'Research Journal', 'Periodical'?</a></li>
<!-- <li><a href="#selectioncriteria">What are the selection criteria for this service?</a></li> -->
<li><a href="#journalsway">What is the procedure for getting a journal into DOAJ?</a></li>
<li><a href="#oai">What is Open Archives Initiative, OAI, OAI-PMH?</a></li>
<!--
<li><a href="#seal">What is the DOAJ Seal of Approval for Open Access Journals (the DOAJ Seal)</a></li>
<li><a href="#sealedJournals">Which journals have the DOAJ Seal now?</a></li>
<li><a href="#licensedJournals">Which journals in DOAJ have a CC-license?</a></li>
-->
<li><a href="#journallicense">How is license information applied and displayed in DOAJ?</a></li>
<li><a href="#sponsor">How can I support, sponsor or donate DOAJ?</a></li>
<li><a href="#restrictionsA">Do you have any restrictions for the use of your metadata?</a></li>
</ul>
</p>

<h3>For users</h3>
<p>
<ul>
<li><a href="#search">How do I search in DOAJ and what information about a journal or article can I find in the 
directory?</a></li>
<li><a href="#tocs">How do I browse issues and Tables of Contents?</a></li>
<!-- <li><a href="#searchA">Why can I not search? Why am I only seeing 2 orange lines?</a></li> -->
<li><a href="#browse">What happened to Browse? How can I browse journals by Subject?</a></li>
<li><a href="#byCountry">Can I find information about which countries have journals included in DOAJ?</a></li>
<li><a href="#Other_OA">Are there other ways to Open Access?</a></li>
<li><a href="#notcovered">Why is the subject area that I am looking for not covered?</a></li>
<li><a href="#rss">Is there an RSS/Atom feature in DOAJ?</a></li>
<li><a href="#sponsor">How can I support/sponsor DOAJ?</a></li>
</ul>
</p>

<h3>For libraries</h3>
<p>
<ul>
<li><a href="#metadata">How can I get journal metadata from DOAJ?</a></li>
<li><a href="#metadata">Can I download all the DOAJ metadata as a CSV file?</a></li>
<li><a href="#metadataA">How can I get article level metadata from DOAJ?</a></li>
<li><a href="#restrictions">Do you have any restrictions for the use of your metadata?</a></li>
<li><a href="#sponsor">How can I support/sponsor DOAJ?</a></li>
</ul>
</p>

<h3>For publishers</h3>
<p>
<ul>
<li><a href="#indexed">Do you have a logo I can use to show that my journal is indexed in DOAJ?</a></li>
<li><a href="#cantfind">Why can't I find my journal in DOAJ?</a></li>
<li><a href="#publisher">As a publisher, how do I upload articles into DOAJ?</a></li>
<li><a href="#update">I have uploaded article metadata to DOAJ but cannot find it on the site. Has something 
gone wrong?</a></li>
<li><a href="#getlicense">How do I get a Creative Commons license on to my content?</a></li>
<li><a href="#license">How do I know which CC license to choose?</a></li>
<li><a href="#embed">How do I know if my license information is embedded in the metadata?</a></li>
<li><a href="#casereport">Do case reports count as original articles?</a></li>
<li><a href="#deposit">We have no deposit restrictions on articles published in our journal. Why does the 
Application Form ask for information about deposit policies?</a></li>
<!-- <li><a href="#getarchived">What do I have to do to get the content of my journal longterm preserved?</a>-->
<li><a href="#sponsor">How can I support/sponsor DOAJ?</a></li>
</ul>
</p>

<!--
<h3>For authors</h3>
<p>
<ul>
<li><a href="#fees">How can I find information about author fees?</a></li>
<li> <a href="#sponsor">How can I support/sponsor DOAJ?</a></li>
</ul>
</p>
-->

<br><br>

<!-- GENERAL INFORMATION FAQS -->

<h3><b><a name="whatis"></a>What is DOAJ?</b></h3> 
<p>Directory of Open Access Journals is a service that indexes and provides access to quality-controlled Open Access Journals and their articles. The Directory aims to be comprehensive and cover all open access scientific and scholarly journals that use an appropriate quality control system, and it will not be limited to particular languages or subject areas. The aim of the Directory is to increase the visibility and ease of use of open access scientific and scholarly journals thereby promoting their increased usage and impact.</p>

<a href="#top">Back to top</a>
<br><br>
<h3><b><a name="definition"></a>How do we define 'Open Access Journal', 'Quality Control', 'Research Journal', 'Periodical'?</b></h3> 

<p><b>Open Access Journal:</b></p>
<p>We define open access journals as journals that use a funding model that does not charge readers or their institutions for access. From the BOAI definition<sup>[1]</sup> of "open access" we take the right of users to <b>"read, download, copy, distribute, print, search, or link to the full texts of these articles"</b> as mandatory for a journal to be included in the directory.</p>
<p>[1] <a href="http://www.budapestopenaccessinitiative.org/read">http://www.budapestopenaccessinitiative.org/read</a></p> 

<p><b>Quality Control:</b></p>
<p>The journal must exercise peer-review or editorial quality control to be included.</p>

<p><b>Research Journal:</b></p>
<p>Journals that report primary results of research or overviews of research results to a scholarly community.</p>

<p><b>Periodical:</b></p>
<p>A serial appearing or intended to appear indefinitely at regular intervals, generally more frequently than annually, each issue of which is numbered or dated consecutively and normally contains separate articles, stories, or other writings.</p>

<a href="#top">Back to top</a>
<br><br>

<!-- 
<p></p>
<h3><b><a name="selectioncriteria"></a>What are the selection criteria for this service?</b></h3>

<p><b>Coverage:</b></p>
<ul>
<li>Subject: all scientific and scholarly subjects are covered</li>
<li>Types of resource: scientific and scholarly periodicals that publish research or review papers in full text.</li>
<li>Acceptable sources: academic, government, commercial, non-profit private sources are all acceptable.</li> 
<li>Level: the target group for included journals should be primarily researchers.</li> 
<li>Content: a substantive part of the journal should consist of research papers. All content should be available in full text.</li>  
<li>All languages
</ul>

<p><b>Access:</b></p>
<ul>
<li>All content freely available.</li> 
<li>Registration: <b>Free</b> user registration online is acceptable.</li>  
<li>Open Access without delay (e.g. no embargo period).</li>
</ul>

<p><b>Quality:</b> for a journal to be included it should exercise quality control on submitted papers through an editor, editorial board and/or a peer-review system.</p>

<p><b>Periodical:</b> The journal must have an ISSN (International Standard Serial Number. In general, if a journal 
exists in print and online, then it should have an electronic ISSN and a print ISSN. For information see 
<a href="http://www.issn.org">http://www.issn.org</a>).</p>

<a href="#top">Back to top</a>



<p></p>
<br><br>

<h3><b><a name="journalsway"></a>What is the procedure for getting a journal into DOAJ?</b></h3>

<p><b>Application</b></p>
<p>First, we must receive an application to include a journal in DOAJ. Due to the detailed amount of information 
needed, this would usually come from an editor or publisher. There are over 40 pieces of information that we may 
check. We will check the following for every application:</p>
<ul>
<li>Does the journal have a valid ISSN(s) number(s)?</li> 
<li>What is the registered title of the journal at issn.org?</li>
<li>What is the registered country of the journal at issn.org?</li>
<li>Does the journal have an editorial board with identifiable members and their email addresses?</li>
<li>Is the full text of all the articles available, for free?</li>
<li>Is there any information regarding the journal's Open Access policy on the web site?</li> 
<li>Does the journal execute some form of peer review?</li>
<li>Is the contact email address that has been provided active?</li>
<li>Is the journal Open Access according to the BOAI definition? By this we mean do the journal's articles have 
"free availability on the public internet, permitting any users to read, download, copy, distribute, print, search, 
or link to the full texts of these articles, crawl them for indexing, pass them as data to software, or use them for
any other lawful purpose, without financial, legal, or technical barriers other than those inseparable from gaining 
access to the internet itself."</li>
<li>Does the journal <b>charge authors for publishing</b>? If so, is there any information regarding this on the web
site?</li>
<li>Is there an <b>embargo</b> (delay) on the content?</li>
<li>What is the full first calendar year that the free full text articles are available?</li>
<li>Who is the publisher? Who is the platform or provider? Who is the Society?</li>
<li>What language is the full text published in?</li>
</ul>

-->

<p><b>Registration</b></p>
<p>The journal is then registered in DOAJ and classified by the DOAJ staff according to Library of Congress' classification schema.  The journal is searchable and visible in DOAJ immediately. 

<p><b>Metadata and archiving</b><p>
<p>We <b><i>strongly</i></b> recommend that ALL journals provide us with <a href="/publisher/uploadfile">article 
metadata in XML format</a> or upload the data manually using <a href="/publisher/metadata">our metadata uploader</a>. DOAJ is 
<a href="#oai">OAI-PMH</a> compliant and once the article is available in DOAJ it becomes automatically OAI 
harvestable. A script looking for articles to publish runs every 30 minutes.</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="oai"></a>What is Open Archives Initiative, OAI, OAI-PMH?</b></h3>

<p><a href="http://www.openarchives.org/">OAI, Open Archives Initiative</a>, supplies a common framework to web 
communities that allows them to gain access to content in a standard manner by means of metadata harvesting. 
<a href="/features"></a>Read the details of our OAI feature.</a></p>
<p></p>
<br><br>

<!--
<h3><b><a name="seal">What is the DOAJ Seal of Approval for Open Access Journals (the DOAJ Seal)</a></b></h3> 
<p>A Seal to Set Standards for Open Access Journals.</p>
<p>DOAJ has introduced a certification scheme for Open Access journals, the 'DOAJ Seal'.</p>
<p>To receive the Seal, the journal must comply with all of the criteria in the last section of the Application form:
<ul>
<li>The journal uses DOIs as permanent identifiers;</li>
<li>Provide DOAJ with article metadata;</li>
<li>A long term digital preservation or archiving program;</li>
<li>Embedded machine-readable CC licensing information in articles;</li>
<li>Allows generous reuse and mixing of content, in accordance with a CC-BY license;</li>
<li>Has a deposit policy registered wíth a deposit policy registry, like Sherpa/Romeo.</li>
</ul>

<a href="#top">Back to top</a>

<h3><b><a name="sealedJournals">Which journals have the DOAJ Seal for Open Access Journals right now?</b></h3>
<p>Use <a href="/XXXXXXX">this link</a> to see a list of all journals having the Seal.</p>

<a href="#top">Back to top</a>

<h3><b><a name="licensedJournals">Which journals in DOAJ have a CC-license?</b></h3>
<p>Go to <a href="/XXXXXX">this search of journals, sorted by license type</a>.</p>

<a href="#top">Back to top</a>
-->

<h3><b><a name="journallicense"></a>How is license information applied and displayed in DOAJ?</b></h3>
<p>The current version of DOAJ allows publishers to supply license information at the JOURNAL level. 
Because some journals have different licenses from one article to another, we ask publishers to supply the license 
that best fits ALL of the content. We are working to give greater granularity to license information.</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="sponsor"></a>How can I support/sponsor DOAJ?</b></h3>
<p>Please read our <a href="/supportDoaj">Support DOAJ</a> page for further information.</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="restrictionsA"></a>Do you have any restrictions for the use of your site code and software?</b></h3>
<p>The code used to generate the DOAJ web site is open source as are the various pieces of software used for the 
different features. The site or "work" is licensed under a 
<a href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA license</a>.</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>

<!-- SECTION FOR USERS -->

<h3><b><a name="search"></a>How do I search in DOAJ and what information about a journal, or article, can I find in
the directory?</b></h3> 
<p>The records in DOAJ contain the following fields:</p>
<p><b>Journal Title</b>
<br>
The title of the journal.</p> 

<p><b>ISSN</b>
<br> 
The ISSN number of the journal. The electronic ISSN is also available if the journal has one.</p>

<p><b>Subject</b>
<br> 
The topic of the journal.</p>

<p><b>Publisher</b>
<br>
The entity responsible for publishing the journal.</p>

<p><b>Platform or host</b>
<br>
The entity responsible for delivering the journal, often 'the Platform'.</p>

<p><b>Country</b>
<br>
Country of publication.</p>

<p><b>Language</b>
<br>
Language(s) of the full text articles and abstracts.</p>

<p><b>Keywords</b>
<br> 
Keywords of the topic of the journal.</p>

<p><b>License</b>
<br>
The license type for the journal.</p>

<p><b>Year of publication (articles)</b><br>
The year that the article was published.</p>

<p>Use <a href="/search">the Search</a> to look for journals and article metadata in DOAJ. You may refine your 
search results by using the facets in the panel on the left, or by sorting and filtering using the fields at the 
top of the search results.</p>

<p>You can choose to search on any of the following fields:</p>
<ul>
<li>All fields</li>
<li>Title</li>
<li>Keywords</li>
<li>Subject</li>
<li>Identifier (DOI, ISSN)</li>
<li>Abstract</li>
<li>Author</li>
<li>Year</li>
<li>Country</li>
<li>Language</li>
<li>Publisher</li>
<li>Journal title</li>
<li>Alternative title</li>
<li>Provider</li>
</ul>

<p>If you write more than one word in your search query it will be treated as a phrase. To search on full article
titles, use " " around the title, e.g. "Is social, cultural and recreational participation a luxury for people 
living in poverty? An analysis of policy intentions and measures"</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="tocs"></a>How do I browse issues and Tables of Contents?</b></h3>
<p>For those journals where publishers have uploaded article metadata to us, Tables of Contents and issues are 
browsable by browse a journal's issues, click on the blue, hyperlinked journal title in search results.</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>

<!-- <h3><b><a name="searchA"></a>Why can I not search? Why am I only seeing 2 orange lines?</b></h3> 
<p>We have received reports that some users are unable to retrieve search results or that they can 
only see 2 orange lines when trying to search. This is due to a browser incompatibility problem with Internet 
Explorer (IE), version 8. We are working hard to resolve this issue as soon as possible. In the meantime, 
users can <a href="http://www.wikihow.com/Update-Microsoft-Internet-Explorer"></a>update their version of IE</a>
to the most recent version, or they can use alternative browsers, such as 
<a href="http://www.mozilla.org">Firefox</a> or <a href="http://www.google.com/chrome/">Google Chrome</a>.</p>

<p>We will post an update to this FAQ as soon as the issue has been resolved.</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>
-->

<h3><b><a name="browse"></a>What happened to Browse? How can I browse journals by Subject?</b></h3> 
<p>The updated Search functionality in DOAJ combines the traditional functions of search and browse into one.
This is an updated way of finding information, in line with the process of filtering and drilling down to the results
that are needed.</p>

<p>To browse for journals by subject:<br>
<ul>Starting at the <a href="/search">Search page</a>:
  <li>Select 'journal' from the 'Journals vs Articles' facet</li>
  <li>From under the 'Subject' facet, choose the subject that you wish to browse</li>
  <li>To see more Subjects than the 10 listed, change the number at the top of the list from '10' to the number of 
  Subjects you would like to see.</li>
</ul>
  Only journals corresponding to the chosen subject will show. You may make further refinements by selecting other 
  facets.</p>
<p>We will be making further improvements to the Search function over the coming months.</p>



<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="byCountry"></a>Can I find information about which countries have journals included in DOAJ?</b></h3> 
<p>Yes, by going to the <a ref="/search">Advanced Search page</a> and selecting 'journal' at the top of the facet pane (left hand column). Then expand the Country facet to show all the journals published by a country. In 2014, we will be enhancing this feature with charts, graphs and by adding the ability to browse journals added to a country by year.</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>

<br><h3><a name="Other_OA"></a>Are there other ways to find Open Access content?</h3>
<p>Yes, read more about Self-Archiving and Open Archives in <a href="http://www.eprints.org/self-faq/">the Southampton Self-Archiving FAQ</a>.</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="notcovered"></a>Why is the subject area I'm looking for not covered?</b></h3> 
<p>Because we have not indexed any journals in that subject area yet. Applications from publishers are always 
welcome. Please <a href="{{ url_for('doaj.suggestion') }}">apply here</a> for inclusion in DOAJ.</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="rss"></a>Is there an RSS/ATOM feed in DOAJ?</b></h3>
<p>We have <a href="/feed">an ATOM feed</a>. The feed contains information on journals added in the last 30 days 
and includes the latest 100 items.</p> 

<a href="#top">Back to top</a>
<p></p>
<br><br>


<!-- SECTION FOR LIBRARIES -->

<h3><b><a name="metadata"></a>How can I get journal metadata from DOAJ?</b></h3>
<p>The DOAJ service supports the OAI protocol for metadata harvesting 
(<a href="http://www.openarchives.org/OAI/openarchivesprotocol.html">OAI-PMH</a>). Thus, any other compatible service
can obtain records from DOAJ for inclusion in their collection. OAI is well established and easy to use. The base 
URL is: http://www.doaj.org/oai. You can add most OAI verbs and other commands directly on to that. 
The OAI data is always up to date. A few examples:</p>

<br>
Verb: Identify
<br><a href="/oai?verb=Identify">http://www.doaj.org/oai?verb=Identify</a>

<br>
Verb: ListMetadataFormats
<br><a href="/oai?verb=ListMetadataFormats">http://www.doaj.org/oai?verb=ListMetadataFormats</a>

<br>
Verb: ListRecords&from=2004-01-01&metadataPrefix=oai_dc
<br><a href="/oai?verb=ListRecords&from=2004-03-01&metadataPrefix=oai_dc">http://www.doaj.org/oai?verb=ListRecords&from=2004-03-01&metadataPrefix=oai_dc</a>

<p>From these URLs you'll get both an idea of what OAI is and much of our metadata.</p>

<a name="metadata_csv"></a>
<p><b>You can also download the list of records in DOAJ in a CSV (comma-separated) format</b> which can then be 
imported into Excel or any equivalent analysis tool. The csv file is updated every 30 minutes. To retrieve the data:
<ol>
<li><a href="/csv">Download the file to your computer</a></li>
<li>Open the file in a document processing program like Excel or OpenOffice.</li>
<li>You can then choose which format you want the spreadsheet in.</li>
</ol>
</p>

<a href="#top">Back to top</a>
<p></p>

<h3><b><a name="metadataA"></a>How do I get article level metadata from DOAJ?</b></h3>
<p>The article level metadata can be harvested using OAI protocol.
<br>The base URL is: http://www.doaj.org/oai.article
<br>Use OAI verbs and other command options directly on that. 
<br>Example:

<br><br>
Verb: ListRecords&from=2004-07-01&metadataPrefix=oai_dc<br>
<a href="/oai.article?verb=ListRecords&from=2004-07-15&metadataPrefix=oai_dc">
http://www.doaj.org/oai.article?verb=ListRecords&from=2004-07-15&metadataPrefix=oai_dc</a>
<br>
</p>

<a href="#top">Back to top</a>
<p></p>

<h3><b><a name="restrictions"></a>Do you have any restrictions for the use of your metadata?</b></h3>
<p>The data in DOAJ is licensed to you under the Creative Commons Attribution-ShareAlike License (CC-BY-SA). The essence of copy of this license is explained on <a href="http://creativecommons.org/licenses/by-sa/3.0/">the creative commons web site</a>. (You may also <a href="http://creativecommons.org/licenses/by-sa/3.0/legalcode">be
interested in the fine print</a>.) The rights of the site-generated metadata, such as the Atom feed, are listed in the feed.</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>


<!-- SECTION FOR PUBLISHERS -->

<h3><b><a name="indexed"></a>Do you have a logo I can use to show that my journal is indexed in DOAJ?</b></h3> 
<p>We do have a logo that you can use if you are indexed in DOAJ. Please use the <a href="/contact">Contact us</a> form to request the logo and a member of our team will check that your journal qualifies.</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="cantfind"></a>Why can't I find my journal in DOAJ?</b></h3> 
<p>It maybe that the journal has not yet applied to be in DOAJ, in which case, please use our Application form to 
<a href="{{ url_for('doaj.suggestion') }}">apply</a> for inclusion in DOAJ. It may also be that the journal doesn't match our selection 
criteria and has failed the application. <a href="/about#criteria">See our selection criteria.</a>
</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="publisher"></a>As a publisher, how do I upload articles into DOAJ?</b></h3> 
<p>Once a journal has been added to DOAJ, article metadata may be uploaded for it. If the journal belongs to an 
existing account in DOAJ, then the publisher can <a href="http://doaj.org/account/login">log in to their account</a>
and upload metadata via the <a href="http://doaj.org/publisher/">Publisher Area</a>. If a new account has been 
created for the publisher, an email is sent to the email address registered in Question 10 of the application. The 
email contains a username and tells you how to choose a password. The link is valid for 14 days. Once you have logged
in to your account, you may upload article metadata via the <a href="http://doaj.org/publisher/">Publisher Area</a>. 
For more information go to the <a href="/publishers">For publishers</a> page and read the 'Uploading Metadata' 
section there.
</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="update"></a>I have uploaded article metadata to DOAJ but cannot find it on the site. Has something 
gone wrong?</b></h3>
<p>If you did not receive any error messages when you uploaded the article metadata, then it is unlikely that anything
  has gone wrong.</p>
<p>Articles appear on the site within 60 minutes of a successful upload. After 60 minutes, the fastest way to check 
that your article is on the site is to search on the FULL ARTICLE TITLE with " " around it. e.g. "Is social, cultural and recreational 
participation a luxury for people living in poverty? An analysis of policy intentions and measures"</p>

<p>Articles are added to journal Tables of Contents over night so you will not see them there immediately.</p>

<p>If, after 24 hours, you still cannot find your article on the site, please contact us.</p>


<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="getlicense"></a>How do I get a Creative Commons license on to my content?</b></h3> 

<b>Step 1:</b>
<ul>
<li>Choose the appropriate CC license - refer to the below paragraph.</li>
<li>We recommend you apply the CC-BY license which is the most user friendly,
allowing for, among other things, long-term preservation and text- and data-mining..</li>
</ul>

<p>How to choose the CC-BY license:</p>
<p>Go to the Creative Commons (CC) web site <a href="http://creativecommons.org/licenses/">
(http://creativecommons.org/licenses/)</a> and copy the CC-BY Icon - you can also consult this: 
<a href="http://wiki.creativecommons.org/Before_Licensing">http://wiki.creativecommons.org/Before_Licensing .</a>
</p>
<p>Put the CC-BY icon on the homepage of your journal(s) and preferably on each article in your journal. 
<a href="http://wiki.creativecommons.org/Marking_your_work_with_a_CC_license">Read how</a>.</p>
<!--
<p>Go the <a href="/publishers">For Publishers</a> section, click on "license info" and choose the most suitable CC-license for your journal(s). If your journal has different levels of license, dependent on the type of content, then please select the most suitable license that will apply to the majority of the content, i.e. the lowest common denominator.</p>
<p>The CC icon will be shown automatically in DOAJ.</p>
-->

<a href="#top">Back to top</a>
<p></p>
<br><br>


<h3><b><a name="license"></a>How do I know which CC license to choose?</b></h3> 
<p>You can find information on the different types of licenses at the Creative Commons web site: 
<a href="http://creativecommons.org/licenses/">http://creativecommons.org/licenses/</a> and there is even a page 
to help you choose the correct license for your content: <a href="http://creativecommons.org/choose/">
http://creativecommons.org/choose/</a>.</p>

<p>Both are available in 24 different languages.</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>
question 43 might be a little confusing to some editors - the licensing information isn’t embedded in the journals’ 
article metadata per se, but is included in the article page (specifically, in the HTML) in machine-readable format, 
which should be sufficient as per the CC web site. 

<h3><b><a name="embed"></a>How do I know if my license information is embedded in the metadata?</b></h3> 
<p>When applying for a journal to be included in DOAJ, one of the questions asks about whether or not you have 
machine-readable licensing information embedded in your article metadata. There are 
<a href="http://wiki.creativecommons.org/Ccrel">guidelines on the Creative Commons</a> web site that tell you more about 
this. The information is usually embedded in HTML, XML or, less commonly, PDFs. The emphasis for DOAJ is not that the 
license is embedded but that there is a <b>machine-readable</b> version of it. Here are a couple of examples:
<ol>
  <li><a href="http://www.globalhealthaction.net/index.php/gha/article/view/23456">Displayed in the HTML on an article
abstract page</a></li>
  <li><a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0097648;jsessionid=38F0E3B4732EA026B15F2CF0AC9CB791">Displayed at the bottom of the full text</a></li>
</ol>
</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>


<h3><b><a name="casereport"></a>Do case reports count as original articles?</b></h3> 
<p>When applying for a journal to be included in DOAJ, you must include case reports in your count when a case report 
includes the retrospective analysis of more than 3 clinical cases.  When more than three cases are involved, the 
article constitutes "research."</p>

<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="deposit"></a>We have no deposit restrictions on articles published in our journal. Why does the 
Application Form ask for information about deposit policies?</b></h3> 
<p>Funders, libararies and authors can all access deposit policy directories to get an overview of publishing 
channels that are compliant with, for instance, funder policies. This is one of our areas where we are encouraging
Best Practice. A good example of a deposit policy directory 
<a href="http://www.sherpa.ac.uk/romeo/">www.sherpa.ac.uk/romeo/</a></p>

<a href="#top">Back to top</a>
<p></p>
<br><br>

<!--
<h3> 
<a name="getarchived">What do I have to do to get the content of my journal longterm preserved?</a>
</h3>
<p>
You have to provide DOAJ with metadata on article level. DOAJ will then automatically, on a regular basis, harvest the full text of your content and send it to the final destination at e-Depot, National Library, Hauge, Netherlands (<a href="http://www.kb.nl/dnp/e-depot/operational/background/index-en.html">http://www.kb.nl/dnp/e-depot/operational/background/index-en.html</a>) to be archived.
<p>
<b>Note:</b> At the moment only content in <b>PDF</b> format is getting archived, read the PDF Guidelines <a href="http://www.kb.nl/hrd/dd/dd_links_en_publicaties/PDF_Guidelines.pdf">here</a>. 
<p>
<a href="/doaj?func=loadTempl&templ=090401&uiLanguage=en">Read more</a>

</p>
-->

<!-- SECTION FOR AUTHORS -->

<!-- 

<h3><b><a name="fees">How can I find information about author fees?</a></b></h3>
<p>You can see information regarding author fees <a href="/XXXXXXX">here</a>.<p>

<a href="#top">Back to top</a> -->

{% endblock %}
