{% extends "base.html" %}
{% block content %}

<h2>Frequently Asked Questions</h2>
<a name="top"></a>

<h3>About</h3>
<ul>
<li><a href="#whatis">What is DOAJ?</a></li>
<li><a href="#works">Who works for DOAJ?</a></li>
<li><a href="#owns">Who owns DOAJ?</a></li>
<li><a href="#definition">How do we define 'Open Access Journal', 'Quality Control', 'Research Journal', 'Periodical'?</a></li>
<li><a href="#lcc">How are journals classified / categorised?</a></li>
<li><a href="#keywords">What are keywords and how are they generated?</a></li>
<li><a href="#list">Is there a list of journals added to and removed from DOAJ?</a></li>
<li><a href="#seal">What is the DOAJ Seal of Approval for Open Access Journals (the DOAJ Seal)?</a></li>
<li><a href="#orange">What does the orange circle symbol next to some journals mean?</a></li>
<li><a href="#sealedJournals">Which journals have the DOAJ Seal?</a></li>
<li><a href="#thetick">What does the green tick next to some journals mean?</a></li>
<li><a href="#news">How do I sign up for news alerts from DOAJ?</a></li>
</ul>

<h3>Account</h3>
<ul>
<li><a href="#login">How do I log into my account?</a></li>
<li><a href="#login">How do I get an account?</a></li>
</ul>

<h3>API</h3>
<ul>
  <li><a href="#limit">Is there an upload limit for uploading articles, or a rate limit?</a></li>  
<li><a href="#post">When making a POST request, do we need to include any of the fields in the admin hash (e.g. in_doaj or upload_id)?</a></li>
<li><a href="#language">Should language and country be spelled out or use codes?</a></li>
<li><a href="#lastupdated">Do we need the last_updated or created_date to be included?</a></li>
<li><a href="#keywords_api">Should keywords be comma-separated as a single string (e.g. "foo, bar") or separate strings (e.g. ["foo", "bar"])?</a></li>
<li><a href="#contenttype">For the link[:content_type] - what are acceptable values?</a></li>
<li><a href="#startpage">Are start_page and end_page required?</a></li>
</ul>

<h3>Contribute</h3>
<ul>
<li><a href="#contribute">How can I contribute to DOAJ?</a></li>
<li><a href="#volunteer">Can I volunteer for DOAJ?</a></li>
<!-- <li><a href="#associate">How do I become an Associate Editor?</a></li> -->
<li><a href="#broken">I have found a broken link. What should I do?</a></li>
<li><a href="#questionable">I have found a questionable journal in DOAJ. Why? What should I do?</a></li>
<li><a href="#indexing">How can I suggest a journal for indexing?</a></li>
<li><a href="#notin">The journal I am looking for isn't in DOAJ. Why? What should I do?</a></li>
</ul>

<h3>Developers</h3>
<ul>
<li><a href="#api1">Does DOAJ have an API?</a></li>
<li><a href="#restrictions">Do you have any restrictions on the reuse of your site code and software?</a></li>
<li><a href="#hood">Under the hood</a></li>
</ul>

<h3>Features and Functionality</h3>
<ul>
<li><a href="#search">How do I search in DOAJ and what information about a journal or article can I find?</a></li>
<li><a href="#embed">Can I embed a search box or search results in my own site?</a></li>
<li><a href="#browse">How do I browse by subject?</a></li>
<li><a href="#tocs">How do I browse issues and Tables of Contents?</a></li>
<li><a href="#licensedJournals">Which journals in DOAJ have a CC-license?</a></li>
<li><a href="#journallicense">How is license information applied and displayed in DOAJ?</a></li>
<!--<li><a href="#China">I am in China and DOAJ doesn't work properly.</a></li>-->
<li><a href="#java">Can I use DOAJ with Javascript disabled?</a></li>
<li><a href="#byCountry">Can I find information about which countries have journals in DOAJ?</a></li>
<li><a href="#subject">Why is the subject area that I am looking for not covered?</a></li>
<li><a href="#rss">Is there an RSS/Atom feed?</a></li>
</ul>

<h3>Membership</h3>
<ul>
<li><a href="#institution">How can I or my institution/organisation become a member?</a></li>
<li><a href="#sponsor">How can I donate to or sponsor DOAJ?</a></li>
<li><a href="#member">Who can become a DOAJ member?</a></li>
</ul>

<h3>Metadata</h3>
<ul>
<li><a href="#api2">Does DOAJ have an API?</a></li>
<li><a href="#cantfind">Why do some journals have no article metadata in DOAJ?</a></li>
<li><a href="#metadata">How can I get journal metadata from DOAJ?</a></li>
<li><a href="#metadataA">How can I get article metadata from DOAJ?</a></li>
<li><a href="#alldata">Can I download all the DOAJ metadata?</a></li>
<li><a href="#embed">Can I embed a search box or search results in my own site?</a></li>
<li><a href="#oai">Do you support Open Archives Initiative, OAI, OAI-PMH?</a></li>
<li><a href="#openurl">Can I link to DOAJ using OpenURL?</a></li>
<li><a href="#restrictionsA">Do you have any restrictions on the reuse of your metadata?</a></li>
</ul>

<h3>Open Access</h3>
<ul>
<li><a href="#Other_OA">Are there other ways to find open access content?</a></li>
<li><a href="#fees">How can I find out whether a journal charges author processing fees (APCs)?</a></li>
<li><a href="#predatory">What is DOAJ's policy on "predatory" publishers and journals?</a></li>
<li><a href="#removed">Why do journals get removed from DOAJ?</a></li>
</ul>

<h3>Publishers</h3>
<p>Please see our <a href="{{ url_for('doaj.publishers') }}">Information for Publishers</a> page.</p>

<br><br>


<!-- ABOUT FAQS -->

<h3><b><a name="whatis"></a>What is DOAJ?</b></h3>
<p>The Directory of Open Access Journals is a service that indexes high quality, peer reviewed Open
Access research journals, periodicals and their articles' metadata. The Directory aims to be comprehensive and cover
all open access academic journals that use an appropriate quality control system (see below for definitions) and is not limited to particular languages, geographical region, or subject areas. The Directory aims to increase the 
visibility and ease of use of open access academic journals—regardless of size and country of origin—thereby promoting their visibility, usage and impact.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="works"></a>Who works for DOAJ?</b></h3>
<p>The <a href="{{ url_for('doaj.about') }}">DOAJ Team is listed on our About page</a>.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="owns"></a>Who owns DOAJ?</b></h3>
<p>DOAJ is 100% independent and is managed, not owned, by <a href="https://is4oa.org/">Infrastructure Services for Open Access</a>.
  DOAJ is not connected to, owned by, or influenced by any other organisation or business. All funding is via donations, 40% of which 
  comes from publishers and 60% from the public sector.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="definition"></a>How do we define 'Open Access Journal', 'Quality Control', 'Research Journal' and 'Periodical'?</b></h3>
<p><b>Open Access Journal:</b><br>
We define open access journals as journals that use a funding model that does not charge readers or their institutions
for access. From the BOAI definition<sup>[1]</sup> of 'open access' we take the right of users to <b>'read, download, 
copy, distribute, print, search, or link to the full texts of these articles...or use them for any other lawful 
purpose'</b> as mandatory for a journal to be included in the Directory.<br>
[1] <a href="http://www.budapestopenaccessinitiative.org/read">http://www.budapestopenaccessinitiative.org/read</a>
</p>

<p><b>Quality Control:</b><br>
<p>The journal must exercise peer-review with an editor and an editorial board or editorial review (particularly in 
the Humanities) carried out by at least two editors.</p>
<p><b>Research Journal:</b><br>
<p>Journals that report primary results of research or overviews of research results to a scholarly community.</p>
<p><b>Periodical:</b><br>
<p>A serial appearing or intended to appear indefinitely at regular intervals, generally more frequently than annually,
each issue of which is numbered or dated consecutively and normally contains separate articles, stories, or other
writings.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="lcc"></a>How are journals classified / categorised?</b></h3>
<p>All journals in DOAJ are classified according to the <a href="http://www.loc.gov/catdir/cpso/lcco/">Library of Congress
Classification (LCC) system</a>. A classification is assigned by our editorial team when a journal is accepted for 
indexing in the database. If a publisher chooses to upload article metadata to us, a journal's articles inherit the 
same classification. Once a journal has been accepted, the classification appears in the 'Subject' facet of search.</p>
<p>Subjects appear in search results for journals and are structured as follows:</p>
<ul>
<li>where subjects are separated by a full stop (.), the subjects are part of the same category level at LCC and in DOAJ. For example: 'Philosophy. Psychology. Religion' is one category.</li>
<li>where subjects are separated by a colon (:), the second subject is a sub-category of the first. 
For example: 'Philosophy. Psychology. Religion: Philosophy (General)' shows that 'Philosophy (General)' is a 
sub-category of 'Philosophy. Psychology. Religion' and this journal has been categorised as General Philosophy.</li>
<li>where subjects are separated by a pipe (|), the second category has no relation to the first. For example:
'Philosophy. Psychology. Religion: Philosophy (General) | Social Sciences: Social sciences (General)' means that this journal has been categorised both as General Philosophy AND General Social Sciences.</li>
</ul>
<p>You can browse articles and journals by subject classification in <a href="{{ url_for('doaj.subjects') }}">our subject browser</a>.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="keywords"></a>What are keywords and how are they generated?</b></h3>
<p>Keywords are provided by the publisher in the application form. They are not the same as 'Subject' which is a classification made by the DOAJ Team (see above). Keywords are more arbitrary because there is no control measure.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="list"></a>Is there a list of journals added to and removed from DOAJ?</b></h3>
<p>Yes, there is a <a href="http://bit.ly/1IOA9AJ">Google Spreadsheet</a>, updated manually by our editorial team. It goes back to the beginning of January 2014.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="seal"></a>What is the DOAJ Seal of Approval for Open Access Journals (the DOAJ Seal)?</b></h3>
<p>The DOAJ Seal is a mark of certification for open access journals, awarded by DOAJ to journals that achieve a high level of openness, adhere to Best Practice and high publishing standards. To receive the Seal, the journal must comply with the following 7 conditions:</p>
<ul>
<li>use DOIs as permanent identifiers;</li>
<li>provides DOAJ with article metadata;</li>
<li>deposits content with a long term digital preservation or archiving program;</li>
<li>embeds machine-readable CC licensing information in articles;</li>
<li>allows generous reuse and mixing of content, in accordance with a CC BY, CC BY-SA or CC BY-NC license;</li>
<li>has a deposit policy registered wíth a deposit policy registry;</li>
<li>allows the author to hold the copyright without restrictions.</li>
</ul>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="sealedJournals"></a>Which journals have the DOAJ Seal?</b></h3>
<p>Here is <a href="http://bit.ly/1JK9YhF">a list of journals that have the Seal</a>.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="orange"></a>What does the orange circle symbol next to some journals mean?</b></h3>
<p>These are journals that have been awarded <a href="#seal">the DOAJ Seal</a>.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="thetick"></a>What does the green tick symbol next to journals mean?</b></h3>
<p>The green tick ("The Tick") is displayed against those journals that were accepted into DOAJ after March 2014, after the new, stricter criteria were put into practice. 
  The new criteria require a higher level of compliance to best practices and publishing standards.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="news"></a>How do I sign up for news alerts from DOAJ?</b></h3>
<p>We don't have a newsletter or email alerts but you can follow our news and activity on social media:</p>
<ul>
<li><a href="https://blog.doaj.org/">the DOAJ News Service;</a></li>
<li><a href="{{ url_for('atom.feed') }}">our Atom feed;</a></li>
<li><a href="https://twitter.com/doajplus">our Twitter account;</a></li>
<li><a href="https://www.instagram.com/doajplus/">Instagram;</a> and</li>
<li><a href="https://www.facebook.com/DirectoryofOpenAccessJournals">our Facebook page.</a></li>
</ul>

<p>We are also on <a href="https://www.linkedin.com/company/directory-of-open-access-journals-doaj-">LinkedIn</a> and <a href="https://plus.google.com/114982932758789726160/posts">Google+</a>.</p>
<a href="#top">Back to top</a>
<br><br>


<!-- ACCOUNT FAQS -->


<h3><b><a name="login"></a>How do I log in to my account? How do I get an account?</b></h3>
<p>Only publishers and volunteers need accounts. Everyone else is free to use DOAJ without logging in.</p>
<p>If you have a DOAJ account, you can <a href="/account/login">log in here</a>.</p>
<p>If you are a volunteer and cannot access your account, contact your managing editor.</p>
<a href="#top">Back to top</a>
<br><br>


<!-- API FAQS -->

<a name="apifaq"></a>
<h3><b><a name="limit"></a>Is there an upload limit for uploading articles, or a rate limit?</b></h3>
    <p>Regarding uploading articles via the API, you have two options:</p>
<ol>
  <li>One by one via the Article CRUD API</li>
  <li>In batches using the Article Bulk API</li>
</ol>
<p>There is a rate limit on all API routes include these, currently set at 2 requests per second. ‘Bursts' are permitted, which means up to five requests per user are queued by the system and are fulfilled in turn so long as they average out to 2 requests per second overall.
There is no limit set on how many articles you can upload to the DOAJ.</p>

<p>When using the bulk API (only for authenticated publishers), there are no limits to how many articles are uploaded in a batch. Eventually, however, you may reach the maximum upload size of 50MB, so we recommend keeping batches fairly small, in the region of 100-1000 articles.
The processing happens synchronously, so another limit you may encounter is a timeout based on how long the articles take to process by our system. Our response timeout is currently set very high: our server has 10 minutes to respond before the web server closes the connection.
Your client may drop the connection sooner, however. Again, keeping the batch sizes low should help mitigate this.</p>

<p>Since the CRUD API allows one article at a time, it should be possible to upload 1-2 per second, or more if you have multiple IP addresses sending them at once.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="post"></a>When making a POST request, do we need to include any of the fields in the admin hash (e.g. in_doaj or upload_id)?</b></h3>
<p>In applications only the contact subfield is required in the admin section. The full list is handled in 
  <a href="https://github.com/DOAJ/doaj/blob/2018-10-09_static_pages/portality/api/v1/data_objects/application.py#L217">our 
    validation structure</a>.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="language"></a>Should language and country be spelled out or use codes?</b></h3>
<p>Using the correct <a href="https://www.iso.org/iso-3166-country-codes.html">ISO-3166 two-character code</a> is the most robust route.
  The incoming data is passed to <a href="https://github.com/DOAJ/doaj/blob/2018-10-09_static_pages/portality/datasets.py#L608">our 
  get_country_code() function</a> which looks up from that list, so a name will also work.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="lastupdated"></a>Do we need the last_updated or created_date to be included?</b></h3>
<p>No, these fields are generated by the system and will be ignored if included.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="keywords_api"></a>Should keywords be comma-separated as a single string (e.g. "foo, bar") or separate strings (e.g. ["foo", "bar"])?</b></h3>

<p>As a list of separate strings.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="contenttype"></a>For the link[:content_type] - what are acceptable values?</b></h3>
<p>We expect one of ["PDF", "HTML", "ePUB", "XML"]</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="startpage"></a>Are start_page and end_page required?</b></h3>
<p>In articles these fields are not required. <a href="https://github.com/DOAJ/doaj/blob/2018-10-09_static_pages/portality/api/v1/data_objects/article.py#L106">See this list for required fields in article uploads</a>.</p>
<a href="#top">Back to top</a>
<br><br>


<!-- CONTRIBUTE FAQS -->


<h3><b><a name="contribute"></a>How can I contribute to DOAJ?</b></h3>
<p>There are 3 ways that you can contribute to DOAJ.</p>
<ul>
<li>Contact us if you have first hand evidence that a journal in DOAJ might be carrying out questionable practices, is of low quality, or may even be fake. All information shared with DOAJ is done so in the strictest confidence, is anonymous and is never published.</li>
<li><a href="{{ url_for('doaj.membership') }}">Become a member</a>. All donations received are spent directly  on activities or developments to keep the DOAJ running.</li>
<!-- <li><a href="http://bit.ly/1A0124t">Become a volunteer Associate Editor</a> and help us review the hundreds of new applications that we receive every month.</li> -->
<li>Contact us if you find a broken link on our site, or if you think that the information we have for a journal is outdated or incomplete. This feedback is so important for us and we are always grateful for the community being our eyes and ears.</li> 
</ul>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="volunteer"></a>Can I volunteer for DOAJ?</b></h3>
<p>Thank you for considering becoming a volunteer!</p>
<!-- <p>If you are associated with scholarly communication, academic publishing or libraries, or simply have a keen interest in open access, we are always keen to hear from you. We use volunteers to review the new applications that get sent to us every week. <a href="http://bit.ly/1A0124t">Read more about volunteering here</a>.</p> -->
<p> All volunteering positions are full and applications are closed but check back here regularly or sign up to our Twitter account (see above) for updates.</p>
<a href="#top">Back to top</a>
<br><br>

<!-- <h3><b><a name="associate"></a>How do I become an Associate Editor?</b></h3>
<p>Thank you for considering becoming an Associate Editor!</p>
<p>You must fulfill <a href="http://bit.ly/1A0124t">the right criteria and complete an application form</a>. We are always looking for volunteers, particularly those who can speak two or more languages, one of which must be English. After receiving your application, a Managing Editor will be in touch to let you know whether your application has been successful or not.</p>
<a href="#top">Back to top</a>
<br><br> -->

<h3><b><a name="broken"></a>I have found a broken link. Who should I contact?</b></h3>
<p>Thanks for taking the trouble to report the broken link to us. Please send an email to feedback[at]doaj[.]org.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="questionable"></a>I believe that a questionable journal is indexed in DOAJ. What should I do?</b></h3>
<p>If you find a journal that you believe to be questionable, please send an email to feedback[at]doaj[.]org with 
the details and we will be very happy to investigate. All information shared with DOAJ is done so in the strictest 
confidence, is anonymous and is never published. We thank you for your contribution.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="indexing"></a>How can I suggest a journal for indexing?</b></h3>
<p>If you publish the journal or are the editor for the journal, <a href="{{ url_for('doaj.suggestion') }}">fill in an application</a>. Otherwise, contact the journal and ask them to submit an application to us.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="notin"></a>The journal I am looking for isn't in DOAJ. Why? What should I do?</b></h3>
<p>It may be that the journal hasn't applied or that its application is still pending. It may be that the journal was <a href="http://bit.ly/1IOA9AJ">removed from DOAJ</a>. Contact us to see if the journal has a pending application.</p>
<a href="#top">Back to top</a>
<br><br>


<!-- DEVELOPERS FAQS -->


<h3><b><a name="api1"></a>Does DOAJ have an API?</b></h3>
<p>Yes! The <a href="{{ url_for('api_v1.docs')  }}">API is live and is available now</a>. Have a play with it and let us know what you think. We would welcome feedback.</p>

<p>We also have 3 groups that you might like to join for API announcements or discussion:</p>

<ul>
<li><a href="https://groups.google.com/forum/#!forum/doaj-api-announcements">an announcement-only group</a> (e.g. we 
release an improved API version or we are retiring a version)</li>
<li><a href="https://groups.google.com/forum/#!forum/doaj-public-api">a public discussion group</a> for the public api,
so people can benefit from a public archive</li>
<li><a href="https://groups.google.com/forum/#!forum/doaj-private-api">a private discussion group</a> for the 
publishers api. This group is ONLY for publishers and others who have journals indexed in DOAJ and who are authorised to submit applications automatically or modify article 
metadata directly</li>
</ul>

<p>Sign up to the announcement group or follow us on <a href="#news">our news channels</a> to find out more about our 
full API offering, and release dates.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="restrictions"></a>Do you have any restrictions on the reuse of your site code and software?</b></h3>
<p>The code used to generate the DOAJ web site is open source, as are the various pieces of software used for the different features. The site or "work" is licensed under a CC-BY-SA license and those license terms apply.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>

<h3><b><a name="hood"></a>Under the hood</b></h3>
<p>Under the hood, DOAJ is a Python web app with a JSON document store. The code is open source and can be found in our
<a href="https://github.com/DOAJ/doaj">GitHub repository</a>.</p>
<a href="#top">Back to top</a>
<p></p>
<br><br>


<!-- FEATURES AND FUNCTIONALITY FAQS -->


<h3><b><a name="search"></a>How do I search in DOAJ and what information about a journal or article can I find?</b></h3>
<p>You can use the <a href="/">quick search box</a> on our home page or start with the <a href="{{ url_for('doaj.search') }}">Advanced Search</a>.</p>

<p>You may refine your search by using the facets and filters to the left of your search results, or by sorting by using the dropdowns at the top of the search results.</p>

<p>If you write more than one word in your search query it will be treated as a phrase. To search on full journal or article
titles, use " " around the title, e.g. "Is social, cultural and recreational participation a luxury for people
living in poverty? An analysis of policy intentions and measures"</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="embed"></a>Can I embed a search box or search results in my own site?</b></h3>
<p>Yes! You can either create a set of search results on <a href="{{ url_for('doaj.search') }}">the DOAJ Advanced search page</a> and then 
use the 'Share|Embed' button to get the code that embeds in your site OR you can <a href="{{ url_for('doaj.widgets') }}">embed a DOAJ simple
search box</a> in your site. (You do not need to ask our permission.)</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="browse"></a>How do I browse by subject?</b></h3>
<p>You can either use <a href="{{ url_for('doaj.subjects') }}">our subject browser</a> or do a more detailed, manual browse from the <a href="{{ url_for('doaj.search') }}">Advanced Search page</a> and then filtering with the Subject facet.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="tocs"></a>How do I browse issues or Tables of Contents?</b></h3>
<p>You can only browse issues and tables of contents for those journals where publishers have uploaded article metadata to us.
Click on the large blue, hyperlinked journal title in search results to access them.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="licensedJournals"></a>Which journals in DOAJ have a CC-license?</b></h3>
<p>Go to <a href="http://bit.ly/1qNfpTI">this search for journals</a> and expand the 'Journal License' facet in the left hand panel. The number of journals per license is in brackets next to each license type.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="journallicense"></a>How is license information applied and displayed in DOAJ?</b></h3>
<p>The current version of DOAJ allows publishers to supply license information at the JOURNAL level only and we only have place for one license.
New ways of applying licenses are being created all the time: some journals have different licenses from one article to another; some journals ask the authors to choose. We ask publishers to supply us with only the most restrictive license. We do have an item on our development list to accept and display more than one license.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="thetick"></a>What does the green tick symbol mean?</b></h3>
<p>In March 2014, DOAJ started to implemented its new criteria for journals being accepted into the directory. All
journals accepted after this date display a green tick symbol:<br>
<img src='/static/doaj/images/tick_short.png' title='Accepted after March 2014'
alt='Tick icon: journal was accepted after March 2014'> appears next to the journal title in search results; and on a journal's Table of Contents page.</p>
<p>Since the our reapplication project, which invited all journals in DOAJ to reapply, came to an end, most of the journals in DOAJ now have the Tick.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="java"></a>Can I use DOAJ with Javascript disabled?</b></h3>
<p>If you disable all Javascript, it will not be possible to search the DOAJ. If you can switch off certain components and allow others, then you can continue to use DOAJ. Search will not work with Javascript switched off completely because some of the code that is required is served by Google's Javascript library hosting so if disallowed, search will fail. Other Javascript components are 'Addthis' which is our share feature that allows people to share items from within our site. Disabling this will simply disable the feature. Another component is Bootstrap (http://getbootstrap.com/) which is the framework used to build the DOAJ website. This contains some Javascript for some of its features. Bootstrap was originally created by Twitter and made publicly available. We're not aware of any data collected by Twitter as part of its integration into the DOAJ site.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="byCountry"></a>Can I find information about which countries have journals included in DOAJ?</b></h3>
<p>Yes, go to the <a href="{{ url_for('doaj.search') }}">Advanced Search page</a> and select 'Journals' from the 'Journals vs. Articles' facet. Then expand the 'Country of publisher' facet to show all journals
published by country. By default the list is sorted by country with the most journals at the top, in descending order.To see more
than 10 countries in the facet, change the number at the top of the facet from '10' to a greater number.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="subject"></a>Why is the subject area that I'm looking for not covered?</b></h3>
<p>This may be because we have not indexed any journals in that subject area yet. Applications for journals in under-represented areas, or areas that are not represented at all, are always welcome. Please <a href="{{ url_for('doaj.suggestion') }}">submit an application</a> or contact us at feedback[at]doaj[.]org.</p>

<p>Alternatively, if you are using our subject browser, it may be that the specific subject area you are looking for is not represented in the LCC list that we use. Try using a related term instead or doing a search.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="rss"></a>Is there an RSS/ATOM feed in DOAJ?</b></h3>
<p>We have <a href="{{ url_for('atom.feed') }}">an ATOM feed</a>. The feed contains information on journals added in the last 30 days
and includes the latest 100 items.</p>
<a href="#top">Back to top</a>
<br><br>


<!-- MEMBERSHIP FAQS -->


<h3><b><a name="institution"></a>How can I or my institution/organisation become a member?</b></h3>
<p>Please read <a href="{{ url_for('doaj.membership') }}">our membership page</a> and contact us if you have any questions. We are delighted that you want to become a DOAJ Member!</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="sponsor"></a>How can I donate to or sponsor DOAJ?</b></h3>
<p>We are delighted that you are considering a sponsorship or a donation. For a sponsorship, email Lars (lars[at]doaj[.]org). For a donation, please use our <a href="{{ url_for('doaj.membership') }}">Donate button on our payments page</a>.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="member"></a>Who can become a DOAJ Member?</b></h3>
<p>We accept membership requests from publishers, libraries, private individuals, industry-related organisations and government organisations. DOAJ reserves the right to deny membership.</p>
<a href="#top">Back to top</a>
<br><br>


<!-- METADATA FAQS -->


<h3><b><a name="api2"></a>Does DOAJ have an API?</b></h3>

<p>Yes! Our <a href="{{ url_for('api_v1.docs')  }}">search API</a> is available now. Have a play with it and let us know what
you think. We would welcome feedback.</p>

<p>We have 3 groups that you might like to join for API announcements or discussion:</p>

<ul>
<li><a href="https://groups.google.com/forum/#!forum/doaj-api-announcements">an announcement-only group</a> (e.g. we 
release an improved API version or we are retiring a version)</li>
<li><a href="https://groups.google.com/forum/#!forum/doaj-public-api">a public discussion group</a> for the public api,
so people can benefit from a public archive</li>
<li><a href="https://groups.google.com/forum/#!forum/doaj-private-api">a private discussion group</a> for the 
publishers api, for publishers and others who are authorised to submit applications automatically or modify article 
metadata directly</li>
</ul>

<p>Sign up to the announcement group or follow us on <a href="#news">our news channels</a> to find out more about our 
full API offering.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="cantfind"></a>Why do some journals have no article metadata in DOAJ?</b></h3>
<p>Unlike most indexes, we do not crawl publisher sites to collect article metadata but we ask publishers to upload the 
metadata to us. If a journal in DOAJ does not have any articles linked to it, this is simply because the article metadata hasn't
been provided to us by the publisher or group responsible.</p>

<h3><b><a name="metadata"></a>How can I get journal metadata from DOAJ?</b></h3>
<p>The DOAJ service supports the OAI protocol for metadata harvesting
(<a href="http://www.openarchives.org/OAI/openarchivesprotocol.html">OAI-PMH</a>). Thus, any OAI compatible service
can obtain records from DOAJ. The OAI data is always up to date. OAI is well-established and easy to use. The base URL is: http://www.doaj.org/oai. You can add most OAI verbs and other commands directly on to that. <a href="{{ url_for('doaj.features') }}">Read a full description of this service here</a>. Our current OAI offering is standardised around Dublin Core. We expanded the granularity of the metadata in mid-2015.</p>

<p>A <a href="{{ url_for('api_v1.docs') }}">search API</a> is available.</p>

<a name="metadata_csv"></a>
<p>You can also <b>Download a list of journals in CSV (comma-separated) format</b> which can then be
imported into Excel or any equivalent analysis tool. The CSV file is updated every 30 minutes. To retrieve the data:</p>
<ol>
<li><a href="{{ url_for('doaj.csv_data') }}">Download the file to your computer</a></li>
<li>Open or import the file into a document processing program like Excel or OpenOffice. Be careful to check the configuration options when you import the file as sometimes the fields can shift upon import.</li>
</ol>

<p>HINT: are you seeing scrambled diacritic characters in your CSV? Follow these steps:<br>
  <ol>
    <li>On a Windows computer, open the .csv file using Notepad (right click on the file and select Open with and then Notepad).</li>
    <li>Click File and then Save As.</li>
    <li>In the dialog window that appears select ANSI from the Encoding field. Then click Save.</li>
    <li>Now when you open the .csv file in Excel it will include the diacritics.</li>
    </ol>
</p>

<p>If you wish to crawl DOAJ, you may do so as long as you follow general guidelines for crawling good behaviour. If your crawler hits our servers too often, or your crawler starts to affect DOAJ's performance in any way, then your access will be restricted or even blocked. It's actually faster and easier for you to collect our medata if you connect via the API.</p>

<p>Finally, you can subscribe to our <a href="{{ url_for('atom.feed') }}">ATOM feed of new journals added</a> which is updated every time new journals are added to the database. You can integrate the feed into your browser or straight into a web site.</p>

<p>If you have any questions about how to collect and use DOAJ's metadata, do not hesitate to send email: feedback[at]doaj[.]org.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="metadataA"></a>How do I get article level metadata from DOAJ?</b></h3>
<p>Article level metadata can be harvested using the OAI protocol. <a href="{{ url_for('doaj.features') }}">
Read a full description of this service here</a>.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="alldata"></a>Can I download all of the DOAJ metadata?</b></h3>
<p>Yes. The simplest way is to <a href="{{ url_for('doaj.csv_data') }}">download the CSV file</a> but if you are an advanced user you can collect the JSON data.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="oai"></a>Does DOAJ support Open Archives Initiative, OAI, OAI-PMH?</b></h3>
<p>Yes. <a href="http://www.openarchives.org/">OAI, Open Archives Initiative</a>, supplies a common framework to web
communities that allows them to gain access to content in a standard manner by means of metadata harvesting.
<a href="{{ url_for('doaj.features') }}">Read the details of our OAI feature</a>.</p>
<br><br>

<h3><b><a name="openurl"></a>Can I link to DOAJ using OpenURL?</b></h3>
<p>Yes. We reinstated <a href="{{ url_for('openurl.help') }}">our OpenURL service</a> in April 2015.</p>
<br><br>

<h3><b><a name="restrictionsA"></a>Do you have any restrictions on the reuse of your metadata?</b></h3>
<p>The data in DOAJ is licensed to you under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike License</a> (CC BY-SA). The essence of this license is explained on the Creative Commons web site. (You may also be interested in <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">the fine print</a>.) The rights of the site-generated metadata in the Atom feed are listed in the feed.</p>
<a href="#top">Back to top</a>
<br><br>


<!-- OPEN ACCESS FAQS -->


<br><h3><a name="Other_OA"></a>Are there other ways to find Open Access content?</h3>
<p>Yes, read more about Self-Archiving and Open Archives in <a href="http://www.eprints.org/uk/index.php/openaccess/">the
Southampton Self-Archiving FAQ</a>. You can also consult the
<a href="http://v2.sherpa.ac.uk/opendoar/">Directory of Open Access Repositories</a> and the <a href="https://www.doabooks.org/">Directory of Open Access Book.</a></p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="fees"></a>How can I find out whether a journal charges article processing fees (APCs)?</b></h3>
<p>You can find this information in two ways:</p>
<ol>
<li>Go to the <a href="{{ url_for('doaj.search') }}">Advanced Search page</a>, select 'Journals' from the 'Journals vs Articles' facet and expand the 'Article Processing Charges (APCs)' facet. By selecting 'No', you will
retrieve a list of all the journals where the publisher has told us that they do not charge authors anything
at all.</li>
<li>APC information is displayed under each journal in search results and under the 'Publication Charges' section on a journal's home page. For example: <a href="https://doaj.org/toc/2193-6544">https://doaj.org/toc/2193-6544</a> </li>
</ol>
<a href="#top">Back to top</a>
<br><br>

<br><h3><a name="predatory"></a>What is DOAJ's policy on "predatory" publishers and journals?</h3>
<p>DOAJ prefers to use the term 'questionable' instead of predatory. We do not believe in black lists and we do not 
discuss details of individual publishers or journals with the public, whether they are in DOAJ or not. We will 
provide advice, when asked, on improvements a journal can make to meet our own high standards.</p>

<p>We believe that, when confronted with a possible questionable journal, it is our duty to review it as objectively 
as possible. That is why every single application is reviewed by up to 4 different individuals. Difficult cases are 
discussed at team meetings. In general, we communicate extensively with applicants to pin down the facts of their 
application and be certain of the all-important details. We operate under 
<a href="{{ url_for('doaj.publishers', _anchor='disclaimer') }}">a disclaimer</a> that allows us to remove journals 
from DOAJ without warning.</p>

<p>It is important to remember that questionable publishing practices are not restricted to open access publishing 
alone but, sadly, are seen throughout academic publishing.</p>

<p>If you believe that you have found a questionable journal in DOAJ, please contact us: feedback[at]doaj[.]org. 
All information shared with DOAJ is done so in the strictest confidence, is anonymous and is never published.</p>
<a href="#top">Back to top</a>
<br><br>

<h3><b><a name="removed"></a>Why do journals get removed from DOAJ?</b></h3>
<p>Journals get removed for the following reasons:</p>
<ul>
<li>the journal is no longer Open Access;</li>
<li>the journal is inactive (has not published in the last calender year);</li>
<li>the journal has not published enough articles this calendar year;</li>
<li>the journal has ceased publishing;</li>
<li>the journal's web site URL no longer works;</li>
<li>there is evidence of editorial misconduct;</li>
<li>the publisher failed to submit a new application within the given time period for reapplications;</li>
<li>the journal does not adhere to Best practice.</li>
</ul>
<a href="#top">Back to top</a>
<br><br>

{% endblock %}
