{% extends "base.html" %}

{% block content %}
    
        <div class="span2">&nbsp;</div>
        <div class="span5 shaded-container main-content">
            <div class="row-fluid">
                <div class="span4">
                    <form class="form-search form-horizontal" id="topsearch" name="topsearch" action="/search" method="GET">
                        <div class="control-group" id="homepage-search-container">
                            <div class="input-append span4">
                                <input class="input-large search-query" type="text" name="q" placeholder="search the DOAJ" id="homepage-search-input"/>
                                <button class="btn add-on"><i class="icon-search orange"></i></button>
                            </div>
                        </div>
                        <div class="control-group span4">
                            <label class="checkbox"><input type="checkbox" name="include_journals" value="1" checked="checked"/><span class="label-text">journals</span></label>
                            <label class="checkbox"><input type="checkbox" name="include_articles" value="2" checked="checked"/><span class="label-text">articles</span></label>
                            <a href="{{ url_for('doaj.search') }}" class="pull-right">[Advanced Search]</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
