{% extends "layouts/base.html" %}

{% block body_class %}homepage{% endblock %}

{% block content %}
<main class="page-content">
    <!-- About -->
    <section class="highlight homepage__about">
      <div class="container">
          <div class="row">
              <section class="col-sm-6">
                  <h2 class="label">About the directory</h2>
                  <p>DOAJ is a community-curated online directory that indexes and provides access to high quality, open access, peer-reviewed journals.</p>
                  <p>All DOAJ services are free of charge including being indexed. All data is freely available.</p>
                  <p>&rarr; <a href="/apply/why-index/">Why index your journal in DOAJ?</a></p>
                  <p>&rarr; <a href="/apply/guide/">How to apply</a></p>
                  <p>
                      <a href="/apply/" class="button button--secondary">Apply now</a>
                  </p>
              </section>

              <section class="col-sm-6">
                  <h2 class="label">Funding</h2>
                  <p>
                      DOAJ is independent. All funding is via donations.
                  </p>
                  <div class="row">
                    <p class="col-xs-6 stat">
                        <span class="stat__number">78%</span>
                        <span class="stat__description">from supporters</span>
                    </p>
                    <p class="col-xs-6 stat">
                        <span class="stat__number">22%</span>
                        <span class="stat__description">from sponsors</span>
                    </p>
                  </div>
                  <p>
                      <a href="/support/" class="button button--secondary">Support DOAJ</a>
                  </p>
                  <p>
                      Journal publishers don’t need to donate to be part of DOAJ.
                  </p>
              </section>
          </div>
      </div>
    </section>

    <!-- Blog -->
    <section class="container homepage__blog">
        <h2 class="label label--secondary">From the blog</h2>
        <p>&rarr; <a href="https://blog.doaj.org/" target="_blank" rel="noopener">All blog posts</a></p>

        <div class="row">
            {# Latest posts #}
            <div class="col-md-8">
                <div class="row">
                    {% for n in news[:1] %}
                    <article>
                        <div class="col-md-6 blog-img" aria-hidden="true"></div>
                        <a href="{{ n.url }}" target="_blank" rel="noopener" class="col-md-6">
                            {# TODO in the future (right now we don't have category) <p class="label">{{ n.category }}</p> #}
                            <h3>{{ n.title|safe }}</h3>
                            <p>{% autoescape off%}{{ n.summary }}{% endautoescape %}</p>
                            <time datetime="{{ n.published }}"><small>{{ n.published_formatted() }}</small></time>
                        </a>
                    </article>
                    {% endfor %}

                    {% for n in news[1:] %}
                    <article class="col-sm-3 col-md-3">
                        <a href="{{ n.url }}" target="_blank" rel="noopener">
                            <h3>{{ n.title|safe }}</h3>
                            <time datetime="{{ n.published }}"><small>{{ n.published_formatted() }}</small></time>
                        </a>
                    </article>
                    {% endfor %}

                </div>
            </div>

            {# Twitter feed #}
            <section class="col-md-4 twitter-embed" style="max-height: 75vh; overflow-y: scroll;">
                <h2 class="label"><a href="https://twitter.com/DOAJplus" target="_blank" rel="noopener">Tweets by @doajplus</a></h2>
                <a class="twitter-timeline" data-chrome="transparent noheader" href="https://twitter.com/DOAJplus?ref_src=twsrc%5Etfw">Tweets by DOAJplus</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </section>
        </div>

        {# TODO: we don't have the mechanics for special themed posts yet
        <!-- Special / themed posts; when none: display Twitter feed -->
        <section class="col-md-4 homepage__themed-post">
            <h3 class="label">Special post series: Myth busting</h3>
            <ol>
                <li>
                    <article>
                        <a href="">
                            <h4>Myth: “All open access journals can be listed on DOAJ”</h4>
                        </a>
                        <time datetime="2019-10-03"><small>3 Oct 2019</small></time>
                    </article>
                </li>
                <li>
                    <article>
                        <a href="">
                            <h4>Myth: “Journals must meet the DOAJ seal criteria to be indexed”</h4>
                        </a>
                        <time datetime="2019-10-03"><small>3 Oct 2019</small></time>
                    </article>
                </li>
                <li>
                    <article>
                        <a href="">
                            <h4>Myth: “DOAJ indexes predatory journals”</h4>
                        </a>
                        <time datetime="2019-10-03"><small>3 Oct 2019</small></time>
                    </article>
                </li>
            </ol>
        </section>
        #}
    </section>

    <!-- Volunteers -->
    <section class="homepage__volunteers">
        <div class="container">
          <header>
              <h2 class="label">Volunteers</h2>
              <p>DOAJ would not be able to do the work that it does, at the capacity that it has, without the help of its volunteers.</p>
              <p>&rarr; <a href="/about/volunteers/">See our volunteers</a></p>
          </header>

            <div class="row">
                {% for volunteer in volunteers.ed %}
                {% if volunteer.featured == true %}
                    <article class="col-md-4">
                        {# TODO: Still need volunteer photos
                        <figure class="portrait portrait__img--split">
                            <div class="portrait__bg portrait__bg-img--3d" style="background-image: url('../../img/team/clara.jpg')" alt="Portrait of {{ volunteer.name }}"></div>
                        </figure>#}
                        <p class="label label--secondary"><small>{{ volunteer.area }}</small></p>
                        <h3>{{ volunteer.name }}</h3>
                        <p class="label label--tertiary">{{ volunteer.city }}, {{ volunteer.country }} ({{ volunteer.language }})</p>
                    </article>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- New journals -->
    <section class="container">
        <div class="row">
            <header class="col-sm-4">
                <h2 class="label label--secondary">Recently-added journals</h2>
                <p>DOAJ’s team of managing editors, editors, and volunteers work together with publishers to index new journals. As soon as they’re accepted, these journals are displayed on our website, freely accessible to everyone.</p>
                {# TODO: Make sure these links work #}
                <p>&rarr; <a href="{{ url_for("atom.feed") }}">See Atom feed</a></p>
                <p>&rarr; <a href="{{ url_for("doaj.csv_data") }}">Download all journals as CSV</a></p>
            </header>
            <div class="col-sm-8">
                <ul class="row mobile-scrollable-row title-list">
                    {% for r in recent_journals %}
                    <li class="col-xs-6 col-md-3 col-lg-3">
                        <a href="{{ url_for("doaj.toc", identifier=r.bibjson().get_preferred_issn()) }}" class="title-list__link">{{ r.bibjson().title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</main>

{% endblock %}
