{% extends "layouts/base.html" %}

{% block page_title %}Journals{% endblock %}

{% block body_attrs %}class="search"{% endblock %}

{% block meta_description %}Find open acccess journals in DOAJ.{% endblock %}

{% block content %}
<style type="text/css">
/* Move this utility selector to _utils.scss before .flex-end */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Move this to either _utils.scss or create its own component file in components/_overlay.scss */
.overlay {
  position: fixed;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  z-index: 1080;
  background-color: #FEFBF8; /* Replace with $warm-white var */
  top: 0;
  left: 0;
}
</style>

    <main class="container page-content">
        <div id="public-journal-search"></div>
        {% include "includes/search-help-modal.html" %}
    </main>
{% endblock %}

{% block extra_js_bottom %}
    <script type="text/javascript">
    $.extend(true, doaj, {
        publicSearchConfig : {
            publicSearchPath : '{{ url_for("query.query", path="journal/_search") }}?ref=public_journal',
            lccTree: {{ lcc_tree|tojson }}
        }
    });
    </script>

    {% include "_edges_common_js.html" %}
    <script type="text/javascript" src="/static/js/edges/public.journal.edge.js?v={{config.get('DOAJ_VERSION')}}"></script>
{% endblock extra_js_bottom %}
