{% extends "layouts/base.html" %}

{% block body_attrs %}class="search"{% endblock %}

{% block content %}
    <main class="container page-content">
        <div id="public-journal-search"></div>
        {% include "includes/search-help-modal.html" %}
    </main>
{% endblock %}

{% block extra_js_bottom %}
    <script type="text/javascript">
    $.extend(true, doaj, {
        publicSearchConfig : {
            publicSearchPath : '{{ url_for("query.query", path="journal/_search") }}?ref=public_journal'
        }
    });
    </script>

    {% include "_edges_common_js.html" %}
    <script type="text/javascript" src="/static/js/edges/public.journal.edge.js?v={{config.get('DOAJ_VERSION')}}"></script>
{% endblock extra_js_bottom %}
