{% extends "base.html" %}

{% block content %}


<h2>Become a member or make a donation</h2>

<p>DOAJ Membership is recommended for those who can support the DOAJ with an <b>annual fixed contribution</b> (annual automatic payment).
	For those who wish to make a longer-term, more sustainable and more substantial impact on the future of DOAJ, then please consider becoming part 
	of the <a href="http://scoss.org/">SCOSS coalition</a>. All members are listed here on the DOAJ site and can use their DOAJ 
	membership status and logo for marketing activities.</p>

You may also make a donation of any amount that you wish (invoiced annually) and be listed as a <a href="/members#supporter">DOAJ 
	Supporter</a>.</p>

</p>If you publish or own an Open Access journal, you may prefer to become a <a href="/support">Publisher Member</a>. You will be 
listed on our <a href="/publishermembers">Publisher Members page </a>.</p>

<h2>How to become a DOAJ member</h2>
<p>This option is for members who can support DOAJ with an <b>annual fixed contribution</b> or the larger payment recommended by SCOSS. The fastest and most secure way to pay is via PayPal. You may also do 
<a href="#bank">a bank transfer</a>. Please note that, due to restrictions at PayPal, we can only take payment in GBP, EUR and USD. For
all payments over £5500 please email lars[at]doaj[.]org.</p>

<!-- HERE STARTS MEMBERSHIP -->

The rates for 2018 are:
<li>
Individuals - £220 (€260 / $300) <b>per year</b>
</li>
<li>
Academic Libraries, Universities, Research Centers - £465 (€550 / $625) <b>per year</b>
</li>
<li>
Library Consortia, Library Associations, up to 40 members - £4650 (€5500 / $6250) <b>per year</b>
</li>
<li>
Library Consortia, Library Associations, up to 80 members - £9300 (€11000 / $12500) <b>per year</b>
</li>
<li>
Library Consortia, Library Associations, 80+ members: <a href="/contact">request a quote</a></li>
<li>
Aggregators and other Service Providers - £6200 (€7325 / $8325) <b>per year</b>
</li>

<br>


<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input name="cmd" value="_s-xclick" type="hidden">
<input name="hosted_button_id" value="PDKWBTFHT9JMN" type="hidden">
<table>
<tbody><tr><td><input name="on0" value="Membership options" type="hidden">Annually recurring payment:</td></tr><tr><td><select name="os0">
		<option selected="selected" value="Academic Library">Academic Library: £465.00 GBP - yearly</option>
	<option value="Library Consortium">Library Consortium (up to 40 members): £4,650.00 GBP - yearly</option>
	<option value="Aggregator">Aggregator: £6,200.00 GBP - yearly</option>
<option value="Individual">Individual: £220.00 GBP - yearly</option>
</select> </td></tr>
</tbody></table>
<input name="currency_code" value="GBP" type="hidden">
<input src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" name="submit" alt="PayPal — The safer, easier way to pay online." border="0" type="image">
</form>
<br>
<br>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LNYVLCWX8GNKJ">
<table>
<tr><td><input type="hidden" name="on0" value="Annually Recurring Payment (EUR)">Annually Recurring Payment (EUR)</td></tr><tr><td><select name="os0">
	<option value="Academic Library">Academic Library : €550.00 EUR - yearly</option>
	<option value="Library Consortium (up to 40 members)">Library Consortium (up to 40 members) : €5,500.00 EUR - yearly</option>
	<option value="Agreggator">Agreggator : €7,325.00 EUR - yearly</option>
	<option value="Individual">Individual : €260.00 EUR - yearly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="EUR">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>


<br>
<br>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="GH72VHCDRDW9A">
<table>
<tr><td><input type="hidden" name="on0" value="Annually Recurring Payment (USD)">Annually Recurring Payment (USD)</td></tr><tr><td><select name="os0">
	<option value="Academic Library">Academic Library : $625.00 USD - yearly</option>
	<option value="Library Consortium (up to 40 members)">Library Consortium (up to 40 members) : $6,250.00 USD - yearly</option>
	<option value="Agreggator">Agreggator : $8,325.00 USD - yearly</option>
	<option value="Individual">Individual : $300.00 USD - yearly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>



<!-- HERE STARTS SUPPORT -->

<h2>How to make a donation</h2>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input name="cmd" value="_s-xclick" type="hidden">
<input name="hosted_button_id" value="M4PM4R9PSJ63G" type="hidden">
<input src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal — The safer, easier way to pay online." border="0" type="image">
</form>
<br>
<br>


<!-- HERE STARTS BANK TRANSFER -->

<a name="bank"></a><h2>How to make a bank transfer</h2>
<p>To make a bank transfer you must first send us the following information by email to lars[at]doaj[.]org:</p>

<ul>
	<li>Organisation or name of member/supporter</li>
	<li>URL we should display on our site</li>
	<li>Your name or a contact person's name</li>
	<li>Your email or a contact person's email</li>
	<li>Contribution amount </li>
</ul>

<p>Here are the bank details you will need to make the transfer:</p>

<ul>
	<li>Account name: Infrastructure Services for Open Access C.I.C.</li>
	<li>Bank name: Royal Bank of Scotland - Exeter Branch</li>
	<li>Address: Broadwalk House, Southernhay West, EXETER EX1 1TZ, United Kingdom</li>
	<li>Account number: 11099915</li>
	<li>Sort code: 16-19-25</li>
	<li>IBAN number: GB24RBOS16192511099915</li>
	<li>SWIFT/BIC code: RBOSGB2L</li>
</ul>

<p>If you have any questions, send an email to lars[at]doaj[.]org</p>

{#
<a name="form"></a>
<form method="post" action="doaj">
<input name="func" value="membership" type="hidden">
<input name="uiLanguage" value="en" type="hidden">
<input name="already" value="1" type="hidden">

<table border="0" cellpadding="5">
<tbody><tr>
  <td class="text">Organisation</td>
  <td class="text"><input size="50" name="organization"></td>
</tr>
<tr>
  <td class="text">URL</td>
  <td class="text"><input size="50" name="url"></td>
</tr>
<tr>
  <td class="text">*Contact name</td>
  <td class="text"><input size="50" name="contactPerson"></td>
</tr>
<tr>
  <td class="text">*Contact email</td>
  <td class="text"><input size="50" name="email"></td>
</tr>
<tr>
  <td class="text">*Category:</td>
  <td class="text"><input name="category" value="individual" type="radio">Individual
      <br>
      <input name="category" value="library" type="radio">Libraries, Universities, Research Centers
      <br>
      <input name="category" value="consortia" type="radio">Library Consortia, Library Associations
      <br>
      <input name="category" value="aggregators" type="radio">Aggregators and other Service Providers
  </td>
</tr>
<tr>
 <td class="text">*Payment:
</td>
<td class="text">
<br>
 Please select one. Invoicing only available for amounts greater than £100.<br>



<input name="payment" value="bankTransfer" onclick="javascript:toggleVisibility()" type="radio">Bank Transfer
 <input name="payment" value="invoiceMe" onclick="javascript:toggleVisibility()" checked="checked" type="radio">Invoice me


<br>

<div id="invoice" style="display:block">
*Invoicing address:<br>
<textarea name="invoicingAddress" cols="40" rows="7"></textarea>
<br>
VAT Number:
<br>
<input name="vatNumber" size="40">
<br>
</div>


<div id="bank" style="display:none">
<br>
<textarea name="address" cols="60" rows="10" readonly="readonly">Account name: Infrastructure Services for Open Access C.I.C.
Bank name: Royal Bank of Scotland - Exeter Branch
Address: Broadwalk House, Southernhay West, EXETER EX1 1TZ, United Kingdom
Account number: 11099915
Sort code: 16-19-25
IBAN number: GB24RBOS16192511099915
SWIFT/BIC code: RBOSGB2L

</textarea>
</div>
 <br>
</td>
</tr>
<tr>
<td class="text">*Security</td>
<td class="text" valign="middle">
Type in the word displayed in the image <img src="membership_files/captcha.html" style="border: 1px solid #c0c0c0; width: 50px; height: 31px;">
<br>
<input name="cWord" size="4">
<input name="cKey" value="" type="hidden">
</td>
</tr>
<tr>
<td class="text">Comments
</td>
<td><input name="comment" size="50"></td>
</tr>
<tr>
<td class="text" colspan="2" align="center">
<input value="Submit" type="submit">
</td>
</tr>
</tbody></table>
</form>
<br><br>
#}

{% endblock %}
