{% extends "base.html" %}

{% block content %}

    <h2>DOAJ Funders</h2>
    
<p>The list of organisations funding DOAJ - libraries, library associations, consortia, universities, research centres - has moved to 
    <a href="https://docs.google.com/spreadsheets/d/1_R14hfKZBYJOlxByUy-Uq6-vJg7fQ3WC3h1OV7qmBmU/edit?usp=sharing" target="_blank">a new location</a>.</p>

<!-- <p>Other organisations funding DOAJ are:</p>

    <ul>
        <li><a href="http://www.clockss.org/clockss/Home">CLOCKSS Archive</a></li>
        <li><a href="http://cottagelabs.com">Cottage Labs LLP</a></li>
        <li><a href="http://deinschluesseldienst.de">DeinSchluesseldienst</a></li>
        <li><a href="http://www.oaspa.org/index.php">Open Access Scholarly Publishers Association, OASPA</a></li>
        <li><a href="http://www.eifl.net/cps/sections/home/">Stichting eIFL.net</a></li>
        <li><a href="https://xpansa.com/">Xpansa</a></li>
    </ul>

<!-- <a name="top"></a>

    <p><i>Sorted alphabetically by Country and then by Name.</i> (<a href="{{ url_for('doaj.publishermembers') }}">Publisher members, individuals and supporters</a>)</p>

    <a name="libraries"></a><h3>Libraries, Library Associations, Consortia, Universities, Research Centers</h3>
    <p>[<a href="#other">Other Institutions and Organisations</a>]</p>

    <!-- LIBRARIES, CONSORTIA, UNIVERSITIES, RESEARCH CENTERS -->

   <!--  <h4>Australia</h4>
    <ul>
        <li><a href="http://library.acu.edu.au/">Australian Catholic University</a></li>
        <li><a href="http://www.library.qut.edu.au/">Queensland University of Technology</a></li>
        <li><a href="http://www.slq.qld.gov.au/">State Library of Queensland</a></li>
        <li><a href="http://www.vu.edu.au/">Victoria University</a></li>
    </ul>

    <h4>Austria</h4>
    <ul>
        <b>Austrian supporting initiative</b><br>
        <li><a href="https://www.akbild.ac.at/portal_en/akbild_startpage?set_language=en&cl=en">Academy of Fine Arts Vienna</a></li>
        <li><a href="http://www.uni-klu.ac.at/">Alpen-Adria Universität Klagenfurt</a></li>
        <li><a href="http://www.oeaw.ac.at/">Austrian Academy of Sciences</a></li>
        <li><a href="http://www.fwf.ac.at/">Austrian Science Fund (FWF)</a></li>
        <li><a href="https://www.obvsg.at/en/contact/">The Austrian Library Network and Service Ltd.</a></li>
        <li><a href="https://cemm.at/">CeMM GmbH, Research Center for Molecular Medicine of the Austrian Academy of Sciences</a></li>
        <li><a href="http://www.donau-uni.ac.at/">Donau-Universität Krems</a></li>
        <li><a href="http://www.technikum-wien.at/en/">Fachhochschule Technikum Wien</a></li>
        <li><a href="http://www.fhv.at/">FH Vorarlberg, University of Applied Sciences</a></li>
        <li><a href="http://www.ihs.ac.at/">Institut für Höhere Studien</a></li>
        <li><a href="http://www.ist.ac.at/">Institute of Science and Technology Austria</a></li>
        <li><a href="http://www.uni-graz.at/">Karl-Franzens-Universität Graz</a></li>
        <li><a href="http://www.tuwien.ac.at/">TU Wien-Universitaetsbibliothek</a></li>
        <li><a href="http://www.tugraz.at/">Graz University of Technology Library</a></li>
        <li><a href="http://www.uibk.ac.at">University of Innsbruck</a></li>
         <li><a href="https://www.boku.ac.at/en/">University of Natural Resources and Life Sciences Vienna</a></li>
        <li><a href="https://www.univie.ac.at/">University of Vienna</a></li>
        <li><a href="http://www.moz.ac.at/">Universität Mozarteum Salzburg</a></li>
        <li><a href="https://www.wu.ac.at/">WU Vienna University of Economics and Business </a></li>
    </ul>

    <h4>Belgium</h4>
    <ul>
        <li><a href="http://lib.ugent.be">Ghent University Library</a></li>
        <li><a href="http://libnet.ulg.ac.be/">Liège Université Library </a></li>
    </ul>

    <h4>Brazil</h4>
    <ul>
        <li><a href="http://portalbu.ufsc.br/">Universidade Federal de Santa Catarina</a></li>
    </ul>

    <h4>Canada</h4>
    <ul>
        <li><a href="http://www.bibl.ulaval.ca/mieux">Bibliothèque de l'Université Laval</a></li>
        <li><a href="https://library.macewan.ca/">MacEwan University Library</a></li>
        <li><a href="http://www.mcgill.ca/library/">McGill University Library</a></li>
        <li><a href="http://www.ocul.on.ca/"><b>OCUL</b></a><b> - Ontario Council of University Libraries</b>
            <ul>
                <li>Algoma University</li>
                <li>Brock University</li>
                <li>Carleton University</li>
                <li>Guelph University</li>
                <li>Lakehead Unversity</li>
                <li>Laurentian University</li>
                <li>McMaster University</li>
                <li>Nipissing University</li>
                <li>OCAD University</li>
                <li>Ontario Institute of Technology</li>
                <li>University of Ottawa</li>
                <li>Queen's University</li>
                <li>Ryerson University</li>
                <li>University of Toronto</li>
                <li>Trent University</li>
                <li>University of Waterloo</li>
                <li>Western University</li>
                <li>Wilfrid Laurier University</li>
                <li>University of Windsor</li>
                <li>York University</li>
            </ul>
        </li>

        <li><a href="http://www.lib.sfu.ca/">Simon Fraser University Library</a></li>
        <li><a href="http://www.library.ualberta.ca/">University of Alberta Libraries</a></li>
        <li><a href="http://www.library.ubc.ca/">University of British Columbia Library</a></li>
        <li><a href="http://library.ucalgary.ca/">University of Calgary</a></li>
        <li><a href="http://www.uoguelph.ca/">University of Guelph</a></li>
        <li><a href="http://www.uregina.ca/">University of Regina</a></li>
        <li><a href="https://library.usask.ca/">University of Saskatchewan Library</a></li>
    </ul>

    <h4>China</h4>
    <ul>
        <li><a href="http://lib.xjtlu.edu.cn/">Xi’an Jiaotong – Liverpool University Library</a></li>
    </ul>

    <h4>Denmark</h4>
    <ul>
        <li><a href="http://www.aub.aau.dk/">Aalborg University Library</a></li>
        <li><a href="http://www.cbs.dk/library">CBS Library</a></li>
        <li><a href="http://www.deff.dk/"><b>Denmark's Electronic Research Library</b></a></li>
        <li><a href="http://www.dtic.dtu.dk/">DTU Library</a></li>
        <li><a href="http://www.novonordisk.com/">Novo Nordisk A/S</a></li>
        <li><a href="http://www.kb.dk/en/">The Royal Library Copenhagen / Copenhagen University Library</a></li>
        <li><a href="http://www.rub.ruc.dk/">Roskilde University Library</a></li>
        <li><a href="http://www.statsbiblioteket.dk/">Statsbiblioteket / Aarhus University Libraries</a></li>
    </ul>

    <h4>Finland</h4>
    <ul>
        <li><a href="http://www.nationallibrary.fi/libraries/finelib.html"><b>FinnELib/National Library of Finland</b></a></li>
        <li><a href="http://www.helsinki.fi/library/">Helsinki University Library</a></li>
    </ul>

    <h4>France</h4>
    <ul>
      
        <li><a href="http://www.couperin.org/"><b>COUPERIN</b></a>
             <ul>
                <li><a href="http://www.univ-amu.fr/">Aix Marseille University</a></li>
                <li><a href="http://www.audencia.com/">Audencia Business School</a></li>
                <li><a href="https://www.imt-atlantique.fr/">Ecole des Mines de Nantes</a></li>
                <li><a href="http://www.enssib.fr/">Ecole nationale supérieure des sciences de l'information et des bibliothèques</a></li>
                <li><a href="http://www.ens.fr/">Ecole normale supérieure de Paris</a></li>
                <li><a href="http://www.cpe.fr/">Ecole supérieure de chimie physique électronique de Lyon</a></li>
                <li><a href="http://www.sciencespo.fr">Fondation Nationale des Sciences Politiques (Sciences Po Paris)</a></li>
                <li><a href="http://www.chu-lyon.fr/web/">Hospices civils de Lyon</a></li>
                <li><a href="http://www.irstea.fr/accueil">Institut de Recherche en Sciences et Technologies pour l'Environnement et l'Agriculture</a></li>
                <li><a href="http://www.inria.fr/">Institut National de Recherche en Informatique et en Automatique</a></li>
                <li><a href="http://www.insa-lyon.fr">Institut National des Sciences Appliquées Lyon</a></li>
                <li><a href="http://www.inp-toulouse.fr">Institut national polytechnique de Toulouse</a></li>
                <li><a href="https://www.imt-atlantique.fr/">Télécom Bretagne</a></li>
                <li><a href="http://www.univ-angers.fr">Université d'Angers</a></li>
                <li><a href="http://www.univ-avignon.fr">Université d'Avignon et des Pays de Vaucluse</a></li>
                <li><a href="http://www.univ-lr.fr/">Université de La Rochelle</a></li>
                <li><a href="http://www.univ-lille2.fr/">Université de Lille 2 Droit et Santé</a></li>
                <li><a href="http://www.univ-lille3.fr/">Université de Lille III Sciences humaines et sociales</a></li>
                <li><a href="http://www.univ-nantes.fr/">Université de Nantes</a></li>
                <li><a href="http://unice.fr/">Université de Nice Sophia Antipolis</a></li>
                <li><a href="http://www.unimes.fr/fr/index.html">Université de Nîmes</a></li>
                <li><a href="https://www.univ-rennes1.fr/">Université de Rennes I</a></li>
                <li><a href="https://www.unistra.fr/">Université de Strasbourg</a></li>
                <li><a href="http://www.univ-evry.fr/fr/index.html">Université d'Evry-Val-d'Essonne</a></li>
                <li><a href="http://www.univ-lemans.fr/fr/index.html">Université du Maine</a></li>
                <li><a href="http://portail.univ-st-etienne.fr/">Université Jean Monnet Saint-Etienne</a></li>
                <li><a href="http://www.univ-paris-diderot.fr/sc/site.php?bc=accueil&np=accueil">Université Paris Diderot (Paris VII)</a></li>
                <li><a href="http://www.u-pem.fr/">Université Paris Est Marne-la-Vallée</a></li>
                <li><a href="http://www.u-psud.fr/fr/index.html">Université Paris Sud (Paris XI)</a></li>
                <li><a href="http://www.upmc.fr/">Université Pierre et Marie Curie (Paris VI)</a></li>
                <li><a href="https://www.univ-rennes2.fr/">Université Rennes 2</a></li>
                <li><a href="http://www.univ-paris8.fr/">Université Vincennes-Saint Denis (Paris VIII)</a></li>
                <li><a href="http://wwz.ifremer.fr">IFREMER</a></li>
                <li><a href="http://www.cea.fr">CEA</a></li>
                <li><a href="http://www.univ-grenoble-alpes.fr">Université Grenoble Alpes</a></li>
                <li><a href="http://www.uha.fr">Université de Haute-Alsace</a></li>
                <li><a href="http://www.centralesupelec.fr">CentraleSupélec</a></li>
                <li><a href="http://www.u-pem.fr">Université Paris Est Marne-la-Vallée</a></li>
                <li><a href="http://www.groupe-genes.fr">Groupe GENES</a></li>
                <li><a href="http://www.univ-brest.fr">Université de Bretagne Occidentale</a></li>
                <li><a href="http://welcome.univ-lorraine.fr">Université de Lorraine</a></li>
                <li><a href="http://www.inra.fr/">INRA</a></li>
                <li><a href="http://www.parisdescartes.fr">Université Paris Descartes</a></li>
                <li><a href="https://www.u-cergy.fr">Cergy-Pontoise University</a></li>
                <li><a href="http://www.college-de-france.fr">Collège de France</a></li>
                <li><a href="http://www.univ-tours.fr/">Université François-Rabelais de Tours</a></li>
                <li><a href="http://www.bnu.fr">Bibliothèque nationale et universitaire de Strasbourg</a></li>
                <li><a href="http://www.u-bordeaux.fr">Université de Bordeaux</a></li>
                <li><a href="http://www.univ-paris1.fr/bibliotheques">SCD de l'Université Paris 1 Panthéon-Sorbonne</a></li>
                <li><a href="http://www.univ-amu.fr/">Aix Marseille Université</a></li>
                <li><a href="http://www.univ-lorraine.fr/">Université de Lorraine</a></li>
                <li><a href="http://www.univ-paris1.fr/bibliotheques">Université Paris 1 Panthéon-Sorbonne</a></li>
                              
                    
           </ul>
                   
         </li>
        
      
     
    </ul>

    <h4>Germany</h4>
    <ul>
          <li><b>Bayern Konsortium</b>
            <ul>
               
        <li><a href="https://www.bsb-muenchen.de/">Bayerische Staatsbibliothek</a></li>
        <li><a href="http://www.ub.uni-bayreuth.de/de/index.html">Universitätsbibliothek Bayreuth</a></li>
        <li><a href="https://ub.fau.de/"> Universitätsbibliothek Erlangen-Nürnberg der FAU Erlangen-Nürnberg</a></li>
        <li><a href="http://www.ub.uni-muenchen.de/index.html">Universitätsbibliothek München (LMU)</a></li>
        <li><a href="https://www.ub.tum.de/">Universitätsbibliothek der Technischen Universität München</a></li>
        <li><a href="http://www.ub.uni-passau.de/">Universitätsbibliothek Passau</a></li>
        <li><a href="http://rzblx1.uni-regensburg.de/ezeit/">Elektronische Zeitschriftenbibliothek, Regensburg</a></li>
        <li><a href="http://www.uni-regensburg.de/bibliothek/">Universitätsbibliothek Regensburg</a></li>
        <li><a href="https://www.bibliothek.uni-wuerzburg.de/startseite/">Universitätsbibliothek Würzburg</a></li>             
            </ul>
        </li>
        <li><a href="http://www.cslbehring.com/">CSL Behring GmbH</a></li>
         <li><a href="http://www.dfg.de/en/">Deutsche Forschungsgemeinschaft</a></li>
        <li><a href="http://www.fu-berlin.de/">Freie Universität Berlin</a></li>
        <li><a href="https://ub.fau.de">Friedrich-Alexander-Universität Erlangen-Nürnberg (FAU), Universitätsbibliothek Erlangen-Nürnberg</a></li>
        <li><a href="http://www.zbmed.de/">German National Library of Medicine (Deutsche Zentralbibliothek für Medizin, ZB MED)</a></li>
        <li><a href="https://www.hu-berlin.de/en/">Humboldt-Universität zu Berlin</a></li>

   <li><a href="http://www.konsortium-bw.de/b010/start"><b>Konsortium Baden-Württemberg</b></a>
            <ul>
               
        <li><a href="https://www.uni-freiburg.de">Albert-Ludwigs-Universität Freiburg</a></li>
        <li><a href="https://www.uni-heidelberg.de">Universität Heidelberg</a></li>
        <li><a href="https://www.uni-hohenheim.de">Universität Hohenheim</a></li>
        <li><a href="https://www.kit.edu">Karlsruher Institut für Technologie (KIT)</a></li>
        <li><a href="https://www.uni-konstanz.de">Universität Konstanz</a></li>
        <li><a href="http://www.uni-stuttgart.de">Universität Stuttgart</a></li>
        <li><a href="https://www.uni-tuebingen.de">Eberhard Karls Universität Tübingen</a></li>
        <li><a href="https://www.uni-ulm.de">Universität Ulm</a></li>   
            </ul>
        </li>

        <li><a href="http://www.mpdl.mpg.de/">Max Planck Digital Library</a></li>
        <li><a href="http://www.sub.uni-goettingen.de/">Niedersächsische Staats- und Universitätsbibliothek Göttingen</a></li>
        <li><a href="http://www.ub.rwth-aachen.de">RWTH Aachen University, Universitätsbibliothek</a></li>
        <li><a href="http://www.ruhr-uni-bochum.de">Ruhr-Universität Bochum</a></li>
        <li><a href="https://www.tu-darmstadt.de/">Darmstadt University of Technology</a></li>
        <li><a href="http://www.tib.eu">Technische Informationsbibliothek (TIB)</a></li>
         <li><a href="https://www.tu-berlin.de">Technische Universität Berlin </a></li>
        <li><a href="http://www.ub.uni-bielefeld.de/">Universitaetsbibliothek Bielefeld</a></li>
        <li><a href="https://www.ub.uni-potsdam.de/ub.html">Universität Potsdam</a></li>
        <li><a href="http://www.zbw.eu">ZBW - German National Library of Economics</a></li>
    
    </ul>

    <h4>Greece</h4>
    <ul>
        <li><a href="http://www.upatras.gr/en">University of Patras</a></li>
    </ul>

    <h4>Hungary</h4>
    <ul>
        
        <li><b>Hungarian Library Consortium</b>
            <ul>
                <li><a href="https://www.nebih.gov.hu/">National Food Chain Safety Office</a></li>
                <li><a href="http://www.honvedkorhaz.hu/">Medical Centre, Hungarian Defence Forces</a></li>
                <li><a href="http://www.onkol.hu/en/NIO">National Institute of Oncology</a></li>
                <li><a href="http://www.uni-corvinus.hu/index.php?id=eng">Corvinus University of Budapest</a></li>
                <li><a href="https://www.eurashe.eu/about/members/bbs/">Budapest Business School - University of Applied Science</a></li>
                <li><a href="https://www.bme.hu/?language=en">Budapest University of Technology and Economics</a></li>
                <li><a href="http://www.edu.unideb.hu/">University of Debrecen</a></li>
                <li><a href="http://www.drhe.hu/en">Debrecen Reformed Theological University</a></li>
                <li><a href="http://old.uniduna.hu/contact">University of Dunaújváros</a></li>
                <li><a href="http://www.ejf.hu/">Eötvös József College</a></li>
                <li><a href="https://www.elte.hu/en/">Eötvös Loránd University</a></li>
                <li><a href="https://uni-eszterhazy.hu/en">Eszterhazy Karoly University</a></li>
                <li><a href="https://teol.lutheran.hu/index.php/en/">Lutheran Theological University</a></li>
                <li><a href="http://english.ke.hu/">Kaposvár University</a></li>
                <li><a href="http://www.kre.hu/english/">Károli Gáspár University of the Reformed Church in Hungary</a></li>
                <li><a href="http://lfze.hu/en/home">Liszt Ferenc Academy of Music (University)</a></li>
                <li><a href="http://www.mke.hu/en">Hungarian University of Fine Arts</a></li>
                <li><a href="http://mtf.hu/mtf_eng/index.php">Hungarian Dance Academy</a></li>
                <li><a href="http://www.uni-miskolc.hu/en">University of Miskolc</a></li>
                <li><a href="http://www.mome.hu/en">Moholy-Nagy University of Art and Design</a></li>
                <li><a href="http://en.uni-nke.hu/">National University of Public Service</a></li>
                <li><a href="https://www.nyf.hu/nyf-en/">University of Nyíregyháza</a></li>
                <li><a href="http://www.uniwest.hu/index.php/458/?&L=4">University of West Hungary</a></li>
                <li><a href="https://www.uni-obuda.hu/en">Óbuda University</a></li>
                <li><a href="http://or-zse.hu/ang/index.htm">Jewish Theological Seminary - University of Jewish Studies</a></li>
                <li><a href="http://www.uni-pae.hu/en_GB/pallasz-athene-university">Pallasz Athéné University</a></li>
                <li><a href="http://englishweb.uni-pannon.hu/">University of Pannonia</a></li>
                <li><a href="https://ppke.hu/en">Pázmány Péter Catholic University</a></li>
                <li><a href="https://pte.hu/english">University of Pécs</a></li>
                <li><a href="http://www.peto.hu/start/en/">Pető András College</a></li>
                <li><a href="http://www.sapientia.hu/en/eng_greeting">Sapientia College of Theology of Religious Orders</a></li>
                <li><a href="http://semmelweis.hu/english/">Semmelweis University</a></li>
                <li><a href="http://uni.sze.hu/en_GB/home">Széchenyi István University</a></li>
                <li><a href="http://www.u-szeged.hu/english">University of Szeged</a></li>
                <li><a href="http://szentatanaz.hu/">Saint Athanasius Greek-Catholic Theological Institute</a></li>
                <li><a href="http://english.tf.hu/">University of Physical Education</a></li>
                <li><a href="http://marton.agrar.mta.hu/start.php?lang=en">MTA Centre for Agricultural Research</a></li>
                <li><a href="http://w3.atomki.hu/index_en.html">MTA Institute for Nuclear Research</a></li>
                <li><a href="http://www.iti.mta.hu/">MTA Research Centre for the Humanities</a></li>
                <li><a href="http://csfk.mta.hu/?lang=en">MTA Research Centre for Astronomy and Earth Sciences</a></li>
                <li><a href="http://www.energia.mta.hu/">MTA Centre for Energy Research </a></li>
                <li><a href="http://www.koki.hu/main.php?folderID=832">MTA Institute of Experimental Medicine</a></li>
                <li><a href="http://konyvtar.mta.hu/index_en.php">Library and Information Centre of the Hungarian Academy of Sciences</a></li>
                <li><a href="http://www.krtk.mta.hu/english/">MTA Centre for Economic and Regional Studies</a></li>
                <li><a href="http://www.brc.hu/index.php?change_lang=en">MTA Biological Research Center</a></li>
                <li><a href="http://www.tk.mta.hu/en">MTA Centre for Social Sciences</a></li>
                <li><a href="http://www.ttk.mta.hu/en">MTA Research Centre for Natural Sciences</a></li>
                <li><a href="http://wigner.mta.hu/">MTA Wigner Research Centre for Physics</a></li>
                <li><a href="http://www.nhmus.hu/en/english_home">Hungarian Natural History Museum</a></li>
                <li><a href="http://www.naik.hu/en/">National Agricultural Research and Innovation Centre</a></li>
                <li><a href="https://www.aeek.hu/web/national-healthcare-services-center">National Healthcare Service Centre National Health Science Library</a></li>
                <li><a href="https://www.ksh.hu/?lang=en">Hungarian Central Statistical Office Library</a></li>
                <li><a href="http://www.ruralhistory.eu/eurho/members/museum-of-hungarian-agriculture/view">Museum and Library of Hungarian Agriculture</a></li>
                <li><a href="http://regi.oszk.hu/index_en.htm">National Széchényi Library, Budapest</a></li>
            </ul>
        </li>
    </ul>


    <h4>Indonesia</h4>
    <ul>
        <li><a href="http://kjif.unjani.ac.id/index.php/kjif">Universitas Jenderal Achmad Yani - Faculty of Pharmacy</a></li>
        <li><a href="https://www.uii.ac.id/">Universitas Islam Indonesia</a></li>
    </ul>

    <h4>Italy</h4>
    <ul>
        <li><a href="https://www.eui.eu/Research/Library">European University Institute - The Library</a></li>
        <li><a href="http://www.unibo.it/">University of Bologna</a></li>
    </ul>

  <h4>Lebanon</h4>
    <ul>
        <li><a href="http://www.aub.edu.lb">American University of Beirut</a></li>
    </ul>
    
     <h4>Luxembourg</h4>
    <ul>
        <li><a href="http://www.bnl.lu/"><b>National Library of Luxembourg</b></a></li>
        <li><a href="http://www.uni.lu/">Université du Luxembourg</a></li>
    </ul>

    <h4>Netherlands</h4>
    <ul>
        <li><a href="http://www.tilburguniversity.nl/services/lis/">Tilburg University, Library &amp; IT Services</a></li>
        <li><a href="http://www.ukb.nl/"><b>Universiteitsbibliotheken & Koninklijke Bibliotheek</b></a>
            <ul>
                <li>Open Universiteit Nederland</li>
                <li>The Royal Netherlands Academy of Arts and Sciences (KNAW)</li>
                <li>The Werkgroep Speciale Wetenschappelijke Bibliotheken (WSWB)</li>
                <li>Netherlands Organisation for Scientific Research (NWO)</li>
            </ul>
        </li>
    </ul>

    <h4>New Zealand</h4>
    <ul>
        <li><a href="http://www.library.auckland.ac.nz/">University of Auckland Library</a></li>
    </ul>

    <h4>Norway</h4>
    <ul>
        <li><a href="http://www.bi.edu/library/">BI Norwegian Business School Library (Handelshøyskolen BIs bibliotek)</a></li>
        <li><a href="http://www.cristin.no/english/"><b>CRISTin</b></a></li>
        <li><a href="http://www.nhh.no/">Norges Handelshøyskole</a></li>
        <li><a href="https://www.fhi.no/en/">Norwegian Institute of Public Health</a></li>
        <li><a href="https://www.nmbu.no/en/about-nmbu/library">The Norwegian University Library of Life Sciences (UBMB)</a></li>
        <li><a href="http://www.ntnu.edu/">Norwegian University of Science and Technology, NTNU University Library</a></li>
        <li><a href="http://www.hioa.no/eng/">Oslo Metropolitan University</a></li>
        <li><a href="http://www.ub.uib.no/">University of Bergen Library</a></li>
        <li><a href="https://www.nord.no">Nord University</a></li>
        <li><a href="https://www.usn.no">University College of Southeast Norway</a></li>
        <li><a href="http://www.uis.no/">University of Stavanger</a></li>
        <li><a href="http://uit.no/ub">UiT The Arctic University of Norway</a></li>
        <li><a href="http://www.ub.uio.no/">University of Oslo Library</a></li>
        <li><a href="http://www.vid.no">VID Specialized University</a></li>
    </ul>

    <h4>Portugal</h4>
    <ul>
        <li><a href="http://sdi.letras.up.pt/">Faculdade de Letras da Universidade do Porto - Biblioteca</a></li>
    </ul>

    <h4>Philippines</h4>
    <ul>
        <li><a href="http://library.xu.edu.ph/">Xavier University Ateneo de Cagayan Libraries</a></li>
    </ul>


      <h4>Romania</h4>
    <ul>
        <li><a href="http://www.ugal.ro/">Dunarea de Jos University of Galati</a></li>
    </ul>

    <h4>Russia</h4>
    <ul>
        <li><a href="http://neicon.ru/"><b>NEICON</b></a><b> - National Electronic Information Consortium</b></li>
    </ul>

    <h4>Saudi Arabia</h4>
    <ul>
        <li><a href="http://library.kaust.edu.sa/">King Abdullah University of Science & Technology</a></li>
    </ul>

    <h4>Spain</h4>
    <ul>
        <li><a href="http://bibliotecas.csic.es/">Red de Bibliotecas del CSIC</a></li>
    </ul>

    <h4>South Africa</h4>
    <ul>
        <li><a href="http://www.cput.ac.za/">Cape Peninsula University of Technology</a></li>
        <li><a href="http://library.sun.ac.za/">Stellenbosch University</a></li>
        <li><a href="http://www.ukzn.ac.za/">University of Kwazulu-Natal</a></li>
    </ul>

    <h4>Sweden</h4>
    <ul>
        <li><a href="http://www.kb.se/"><b>BIBSAM Consortium / The National Library of Sweden</b></a></li>
        <li><a href="http://www.bth.se/bib">Blekinge Institute of Technology - The Library</a></li>
        <li><a href="http://www.lib.chalmers.se/index.xml?menu">Chalmers Library</a></li>
        <li><a href="http://www.ub.gu.se/">Göteborg University Library</a></li>
        <li><a href="https://www.bi.no/">Högskolan Vâst (Sweden)</a></li>
        <li><a href="http://ki.se/ki/jsp/polopoly.jsp?d=167&amp;l=en">Karolinska Institutet, the University Library</a></li>
        <li><a href="http://www.kth.se/en?">KTH Royal Institute of Technology</a></li>
        <li><a href="http://www.bibl.liu.se/english/default-e.asp">Linköping University Library</a></li>
        <li><a href="https://lnu.se/en/">Linnéuniversitetet (Sweden)</a></li>
        <li><a href="http://www.lunduniversity.lu.se/">Lund University</a></li>
        <li><a href="http://www.mah.se/">Malmö University</a></li>
        <li><a href="http://www.bib.miun.se/eng/">Mid Sweden University Library</a></li>
        <li><a href="http://www.mdh.se/">Mälardalen University College</a></li>
        <li><a href="https://www.slu.se/en/subweb/library/">SLU University Library</a></li>
        <li><a href="http://www.sub.su.se/">Stockholm University Library</a></li>
        <li><a href="http://www.ub.umu.se/eng_default.htm">Umeå University Library</a></li>
        <li><a href="http://www.ub.uu.se/eindex.cfm">Uppsala University Library</a></li>
        <li><a href="http://www.oru.se/English/Library/">Örebro University Library</a></li>
    </ul>

    <h4>Switzerland</h4>
    <ul>
        <li><a href="http://www.unil.ch/bcu">Bibliothèque Cantonale et Universitaire Lausanne</a></li>
        <li><a href="https://home.cern/">CERN</a></li>
        <li><a href="http://www.library.ethz.ch/en/">ETH-Library</a></li>
        <li><a href="http://www.novartis.com/">Novartis</a></li>
        <li><a href="http://www.ub.unibas.ch/ub-hauptbibliothek/dienstleistungen/publizieren/open-access/">University of Basel</a></li>
        <li><a href="http://www.unibe.ch/">University of Bern</a></li>
        <li><a href="http://www.uzh.ch/">University of Zürich</a></li>
        <li><a href="http://www.zhbluzern.ch/home/">Zentral- und Hochschulbibliothek Luzern (Switzerland)</a></li>
    </ul>

    <h4>Turkey</h4>
    <ul>
        <li><a href="http://www.ankos.gen.tr/"><b>ANKOS - Anatolian University Libraries Consortium</b></a></li>
    </ul>


 <h4>United Arab Emirates</h4>
    <ul>
        <li><a href="http://www.skylineuniversity.ac.ae/">Skyline University College</a></li>
    </ul>


    <h4>United Kingdom</h4>
    <ul>
        <li><a href="http://www.anglia.ac.uk/ruskin/en/home.html">Anglia Ruskin University</a></li>
        <li><a href="http://www.jisc-collections.ac.uk/"><b>JISC Collections</b></a></li>
        <li><a href="http://www.lshtm.ac.uk/">London School of Hygiene and Tropical Medicine</a></li>
        <li><a href="https://www.pearsoncollegelondon.ac.uk/">Pearson College London</a></li>
        <li><a href="http://www.open.ac.uk/">The Open University</a></li>
        <li><a href="http://www.hud.ac.uk/">University of Huddersfield</a></li>
        <li><a href="http://www.sussex.ac.uk/">University of Sussex</a></li>
        <li><a href="http://www.rluk.ac.uk/"><b>Research Libraries UK (RLUK) - 38 institutions</b></a>
            <ul>
                <li>The Sir Duncan Rice Library, University of Aberdeen</li>
                <li>University of Birmingham Library Services</li>
                <li>University of Bristol Library</li>
                <li>British Library</li>
                <li>Cambridge University Library</li>
                <li>Cardiff University Information Services</li>
                <li>Durham University Library</li>
                <li>University of Glasgow Library</li>
                <li>University of Exeter</li>
                <li>Imperial College London Library</li>
                <li>King’s College London Library Services</li>
                <li>University of Leeds Library</li>
                <li>University of Leicester Library</li>
                <li>University of Liverpool Library</li>
                <li>University of London Senate House Libraries</li>
                <li>LSE Library</li>
                <li>University of Manchester Library</li>
                <li>UNational Library of Scotland</li>
                <li>ULlyfrgell Genedlaethol Cymru / The National Library of Wales</li>
                <li>Newcastle University Library</li>
                <li>University of Oxford Libraries</li>
                <li>The University of Nottingham Library</li>
                <li>Queen Mary, University of London</li>
                <li>Queen’s University Belfast Information Services</li>
                <li>University of Reading Library</li>
                <li>Royal Holloway, University of London Library</li>
                <li>SOAS, University of Londons</li>
                <li>The University of Sheffield Library</li>
                <li>University of Southampton Library</li>
                <li>University of Sussex Library</li>
                <li>Trinity College Library Dublin</li>
                <li>University College London Library Services</li>
                <li>University of Warwick Library</li>
                <li>Wellcome Library</li>
                <li>The University of York Library and Archives</li>
            </ul>
        </li>
    </ul>


    <h4>USA</h4>
    <ul>
        <li><a href="http://www.american.edu/">American University</a></li>
        <li><a href="http://www.baylor.edu/">Baylor University</a></li>
        <li><a href="http://bc.edu/">Boston College</a></li>
        <li><a href="http://www.bucknell.edu/script/lit/initiatives/default.aspx">Bucknell University</a></li>
        <li><a href="http://www.cdlib.org/">California Digital Library, University of California</a></li>
        <li><a href="http://www2.cuny.edu/">City University of New York</a></li>
        <li><a href="http://www.columbia.edu/cu/lweb/">Columbia University Libraries</a></li>
        <li><a href="https://www.library.cornell.edu/">Cornell University Library</a></li>
        <li><a href="http://www.countway.harvard.edu/index.shtml">Countway Library of Medicine / Center for Biomedical Informatics</a></li>
        <li><a href="http://dartmouth.edu/">Dartmouth College</a></li>
        <li><a href="http://www.dmu.edu/">Des Moines University - Osteopathic Medical Center</a></li>
        <li><a href="http://library.duke.edu/">Duke University Libraries</a></li>
        <li><a href="http://www.ecu.edu/che/">East Carolina University, Carolyn Freeze Baynes Institute for Social Justice</a></li>
        <li><a href="http://web.library.emory.edu/">Emory University Libraries</a></li>
        <li><a href="http://www.fit.edu/">Florida Institute of Technology</a></li>
        <li><a href="http://www.furman.edu">Furman University</a></li>
        <li><a href="http://www.libraries.iub.edu/index.php">Indiana University Libraries</a></li>
        <li><a href="http://www.lib.utah.edu/">J. Willard Marriott Library, University of Utah</a></li>
        <li><a href="https://www.jhu.edu">Johns Hopkins University</a></li>
        <li><a href="http://www.library.kent.edu/">Kent State University Libraries</a></li>
        <li><a href="http://libraries.luc.edu/">Loyola University Chicago, University Libraries</a></li>
        <li><a href="http://www.luther.edu">Luther College</a></li>
        <li><a href="http://libraries.mit.edu/">Massachusetts Institute of Technology</a></li>
        <li><a href="https://lib.msu.edu/">Michigan State University Libraries (USA)</a></li>
        <li><a href="http://www.orbiscascade.org/"><b>Orbis Cascade Alliance</b></a>
             <ul>
                 <li>Central Oregon Community College</li>
                 <li>Central Washington University</li>
                 <li>Chemeketa Community College</li>
                 <li>Clark College</li>
                 <li>Columbia Gorge Community College</li>
                 <li>Concordia University</li>
                 <li>Eastern Oregon University</li>
                 <li>Eastern Washington University</li>
                 <li>George Fox University</li>
                 <li>Klamath Community College</li>
                 <li>Lane Community College</li>
                 <li>Lewis & Clark College</li>
                 <li>Linfield College</li>
                 <li>Marylhurst University</li>
                 <li>Mt. Hood Community College</li>
                 <li>Oregon Health & Science University, an Oregon public corp.</li>
                 <li>Oregon Institute of Technology</li>
                 <li>Oregon State University</li>
                 <li>Pacific Northwest University of Health Sciences</li>
                 <li>Pacific University</li>
                 <li>Portland Community College</li>
                 <li>Portland State University</li>
                 <li>Reed College</li>
                 <li>Saint Martin's University</li>
                 <li>Seattle Pacific University</li>
                 <li>Seattle University</li>
                 <li>Southern Oregon University</li>
                 <li>The Evergreen State College</li>
                 <li>Umpqua Community College</li>
                 <li>University of Idaho</li>
                 <li>University of Oregon</li>
                 <li>University of Portland</li>
                 <li>University of Puget Sound</li>
                 <li>University of Washington</li>
                 <li>Walla Walla University</li>
                 <li>Warner Pacific College</li>
                 <li>Washington State University</li>
                 <li>Wenatchee Valley College</li>
                 <li>Western Oregon University</li>
                 <li>Western Washington University</li>
                 <li>Whitman College</li>
                 <li>Whitworth University</li>
                 <li>Willamette University</li>
               </ul>
          </li>

        <li><a href="http://www.psu.edu/">Penn State University</a></li>
        <li><a href="http://www.purdue.edu/">Purdue University</a></li>
        <li><a href="https://www.roswellpark.org/">Roswell Park Cancer Institute</a></li>
        <li><a href="http://www.lib.rowan.edu/">Rowan University Libraries</a></li>
        <li><a href="http://www.seattleu.edu/lemlib/">Seattle University A. A. Lemieux Library</a></li>
        <li><a href="http://smith.edu/">Smith College</a></li>
        <li><a href="http://www.tcu.edu/">Texas Christian University</a></li>
        <li><a href="http://lib.trinity.edu/">Trinity University</a></li>
        <li><a href="https://www.tufts.edu/">Tufts University</a></li>
        <li><a href="http://www.uc.edu/"> University of Cincinnati Libraries</a></li>
        <li><a href="http://www.ku.edu/">University of Kansas Libraries</a></li>
        <li><a href="http://www.library.umass.edu/">University of Massachusetts, Amherst</a></li>
        <li><a href="http://miami.edu">University of Miami</a></li>
        <li><a href="http://www.lib.umich.edu/">University of Michigan</a></li>
        <li><a href="http://www.lib.umn.edu/">University of Minnesota Libraries, Twin Cities</a></li>
        <li><a href="https://www.unt.edu/">University of North Texas</a></li>
        <li><a href="http://nd.edu/">University of Notre Dame</a></li>
        <li><a href="http://www.upenn.edu">University of Pennsylvania Libraries</a></li>
        <li><a href="http://www.library.pitt.edu/">University of Pittsburgh Libraries</a></li>
        <li><a href="http://www.uri.edu">University of Rhode Island</a></li>
        <li><a href="http://www.lib.usf.edu/">University of South Florida Libraries</a></li>
        <li><a href="http://www.lib.utexas.edu/">University of Texas Libraries</a></li>
        <li><a href="http://library.uta.edu/">University of Texas at Arlington Library</a></li>
        <li><a href="http://vanderbilt.edu/">Vanderbilt University</a></li>
        <li><a href="http://vassar.edu/">Vassar College</a></li>
        <li><a href="http://www.vivalib.org/index.html"><b>Virtual Library of Virginia (VIVA)</b></a>
            <ul>
                <li>Bridgewater College</li>
                <li>Christopher Newport University</li>
                <li>College of William & Mary</li>
                <li>Eastern Mennonite University</li>
                <li>Eastern Shore Community College</li>
                <li>George Mason University</li>
                <li>Hampden-Sydney College</li>
                <li>James Madison University</li>
                <li>Jefferson College of Health Sciences</li>
                <li>Liberty University</li>
                <li>Longwood University</li>
                <li>Lynchburg College</li>
                <li>Mary Baldwin College</li>
                <li>Marymount University</li>
                <li>Norfolk State University</li>
                <li>Northern Virginia Community College</li>
                <li>Old Dominion University</li>
                <li>Paul D. Camp Community College</li>
                <li>Piedmont Virginia Community College</li>
                <li>Radford University</li>
                <li>Regent University</li>
                <li>Shenandoah University</li>
                <li>Southside Virginia Community College</li>
                <li>Sweet Briar College</li>
                <li>Tidewater Community College</li>
                <li>University of Mary Washington</li>
                <li>University of Richmond</li>
                <li>University of Virginia</li>
                <li>University of Virginia's College at Wise</li>
                <li>VCCS Systems Office</li>
                <li>Virginia Commonwealth University</li>
                <li>Virginia Military Institute</li>
                <li>Virginia State University</li>
                <li>Virginia Tech</li>
                <li>Washington & Lee University</li>
            </ul>
        </li>
        <li><a href="http://wvu.edu/">West Virginia University</a></li>
        <li><a href="http://web.library.yale.edu/">Yale University Library</a></li>
    </ul>

    <p><a href="#top">Back to Top</a></p>


    <!-- OTHER INSTITUTIONS -->

<!--
    <h3><a name="other"></a>Other Institutions and Organisations</h3>

    <ul>
        <li><a href="http://www.clockss.org/clockss/Home">CLOCKSS Archive</a></li>
        <li><a href="http://cottagelabs.com">Cottage Labs LLP</a></li>
        <li><a href="http://deinschluesseldienst.de">DeinSchluesseldienst</a></li>
        <li><a href="http://www.oaspa.org/index.php">Open Access Scholarly Publishers Association, OASPA</a></li>
        <li><a href="http://www.eifl.net/cps/sections/home/">Stichting eIFL.net</a></li>
        <li><a href="https://xpansa.com/">Xpansa</a></li>
    </ul>

    <p><a href="#top">Back to Top</a></p>  -->


{% endblock %}


{% block extra_js_bottom %}

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".content ul li:has(ul)").prepend('<a href="#" class="consortium" data-toggle="open">[+]</a>&nbsp;')
                    .find("ul").hide();
            $(".consortium").on("click", function (event) {
                event.preventDefault();
                if ($(this).attr("data-toggle") === "open") {
                    $(this).html("[-]").attr("data-toggle", "close").parent().find("ul").show();
                } else {
                    $(this).html("[+]").attr("data-toggle", "open").parent().find("ul").hide();
                }
            })
        });
    </script>

{% endblock %}
