{% extends "base.html" %}

{% block content %}

<h2>DOAJ Members</h2>
<a name="top"></a>



<p><i>Sorted alphabetically by Country and then by Name.</i> (<a href="{{ url_for('doaj.publishermembers') }}">Publisher members, individuals and supporters</a>)</p>

<a name="libraries"></a><h3>Libraries, Library Associations, Consortia, Universities, Research Centers</h3>
<p>[<a href="#other">Other Institutions and Organisations</a>]</p>

<!-- LIBRARIES, CONSORTIA, UNIVERSITIES, RESEARCH CENTERS -->

<h4>Australia</h4>
    <ul>
    <li><a href="http://library.acu.edu.au/">Australian Catholic University</a></li>
    <li><a href="http://www.library.qut.edu.au/">Queensland University of Technology</a></li>
    <li><a href="http://www.slq.qld.gov.au/">State Library of Queensland</a></li>
    <li><a href="http://www.vu.edu.au/">Victoria University</a></li>
</ul>

<h4>Austria</h4>
    <ul>
    <b>Austrian supporting initiative</b><br>
    <li><a href="http://www.uni-klu.ac.at/">Alpen-Adria Universität Klagenfurt</a></li>
    <li><a href="http://www.oeaw.ac.at/">Austrian Academy of Sciences</a></li>
    <li><a href="http://www.fwf.ac.at/">Austrian Science Fund (FWF)</a></li>
    <li><a href="http://www.en.bmwfw.gv.at/Seiten/default.aspx">BMWFW - Federal Ministry of Science, Research and Economy</a></li>
    <li><a href="http://www.cemm.oeaw.ac.at/">CeMM GmbH, Research Center for Molecular Medicine of the Austrian 
    Academy of Sciences</a></li>
    <li><a href="http://www.technikum-wien.at/en/">Fachhochschule Technikum Wien</a></li>
    <li><a href="http://www.fhv.at/">FH Vorarlberg, University of Applied Sciences</a></li>
    <li><a href="http://www.ihs.ac.at/">Institut für Höhere Studien</a></li>
    <li><a href="http://www.ist.ac.at/">Institute of Science and Technology Austria</a></li>
    <li><a href="http://www.uni-graz.at/">Karl-Franzens-Universität Graz</a></li>
    <li><a href="http://www.tuwien.ac.at/">TU Wien-Universitaetsbibliothek</a></li>
    <li><a href="http://www.tugraz.at/">Graz University of Technology Library</a></li>
    <li><a href="http://www.uibk.ac.at">University of Innsbruck</a></li>
    <li><a href="https://www.univie.ac.at/">University of Vienna</a></li>
    <li><a href="http://www.moz.ac.at/">Universität Mozarteum Salzburg</a></li>
</ul>

<h4>Belgium</h4>
<ul>
<li><a href="http://lib.ugent.be/index_en.html">Ghent University Library</a></li>
<li><a href="http://www.iiuedu.eu/">Internationale Université (European Union) School of Doctoral Studies</a></li>
<li><a href="http://www.vub.ac.be/BIBLIO/index_en.html">Vrije Universiteit Brussel, the Library</a></li>
</ul>

<h4>Brazil</h4>
<ul>
<li><a href="http://portalbu.ufsc.br/">Universidade Federal de Santa Catarina</a></li>
</ul>

<h4>Canada</h4>
<ul>
<li><a href="http://www.bibl.ulaval.ca/mieux">Bibliothèque de l'Université Laval</a></li>
<li><a href="http://library.concordia.ca/">Concordia University Libraries</a></li>
<li><a href="http://www.mcgill.ca/library/">McGill University Library</a></li>
<li><a href="http://mcmaster.ca/">McMaster University</a></li>
<li><a href="http://www.ocul.on.ca/">OCUL</a> - Ontario Council of University Libraries</li>
<li><a href="http://www.lib.sfu.ca/">Simon Fraser University Library</a></li>
<li><a href="http://www.library.ualberta.ca/">University of Alberta Libraries</a></li>
<li><a href="http://www.library.ubc.ca/">University of British Columbia Library</a></li>
<li><a href="http://library.ucalgary.ca/">University of Calgary</a></li>
<li><a href="http://www.uoguelph.ca/">University of Guelph</a></li>
<li><a href="http://www.lib.unb.ca/">University of New Brunswick</a></li>
<li><a href="http://www.uregina.ca/">University of Regina</a></li>
<li><a href="https://library.usask.ca/">University of Saskatchewan Library</a></li>
</ul>

<h4>Denmark</h4>
<ul>
<li><a href="http://www.aub.aau.dk/">Aalborg University Library</a></li>
<li><a href="http://www.cbs.dk/library">CBS Library</a></li>
<li><a href="http://www.deff.dk/">Denmark's Electronic Research Library</a></li>
<li><a href="http://www.dtic.dtu.dk/">DTU Library</a></li>
<li><a href="http://www.novonordisk.com/">Novo Nordisk A/S</a></li>
<li><a href="http://www.kb.dk/en/">The Royal Library Copenhagen / Copenhagen University Library</a></li>
<li><a href="http://www.rub.ruc.dk/">Roskilde University Library</a></li>
<li><a href="http://www.statsbiblioteket.dk/">Statsbiblioteket / Aarhus University Libraries</a></li>
</ul>

<h4>Finland</h4>
<ul>
<li><a href="http://www.nationallibrary.fi/libraries/finelib.html">FinnELib/National Library of Finland</a></li>
<li><a href="http://www.helsinki.fi/library/">Helsinki University Library</a></li>
</ul>

<h4>France</h4>
<ul>
<li><a href="http://www.univ-amu.fr/">Aix Marseille University</a></li>
<li><a href="http://www.couperin.org/">COUPERIN</a></li>
<li><a href="http://gerflint.eu/">GERFLINT</a></li>
<li><a href="http://www.univ-lorraine.fr/">Université de Lorraine</a></li>
<li><a href="http://www.univ-paris1.fr/bibliotheques">Université Paris 1 Panthéon-Sorbonne</a></li>
<li><a href="http://portail.univ-st-etienne.fr/">Université Jean Monnet Saint-Etienne</a></li>
</ul>

<h4>Germany</h4>
<ul>
<li><a href="http://www.ub.uni-bielefeld.de/">Universitaetsbibliothek Bielefeld</a></li>
<li><a href="http://www.cslbehring.com/">CSL Behring GmbH</a></li>
<li><a href="http://rzblx1.uni-regensburg.de/ezeit/">Elektronische Zeitschriftenbibliothek, Regensburg</a></li>
<li><a href="http://www.zbmed.de/">German National Library of Medicine (Deutsche Zentralbibliothek für Medizin, ZB MED)</a></li>
<li><a href="http://www.konsortium-bw.de/b010/start">Konsortium Baden-Württemberg</a></li>
<li><a href="http://www.mpdl.mpg.de/">Max Planck Digital Library</a></li>
<li><a href="http://www.sub.uni-goettingen.de/">Niedersächsische Staats- und Universitätsbibliothek Göttingen</a></li>
<li><a href="http://www.tib.eu">Technische Informationsbibliothek (TIB)</a></li>
</ul>

<h4>Italy</h4>
<ul>
<li><a href="http://www.eui.eu/LIB">European University Institute - The Library</a></li>
<li><a href="http://www.unibo.it/">University of Bologna</a></li>
</ul>

<h4>Luxembourg</h4>
<ul>
<li><a href="http://www.bnl.lu/">National Library of Luxembourg</a></li>
<li><a href="http://www.uni.lu/">Université du Luxembourg</a></li>
</ul>

<h4>Malta</h4>
<ul>
<li><a href="http://www.um.edu.mt/">University of Malta</a></li>
</ul>

<h4>Netherlands</h4>
<ul>
<li><a href="http://www.tilburguniversity.nl/services/lis/">Tilburg University, Library &amp; IT Services</a></li>
<li><a href="http://www.ukb.nl/">Universiteitsbibliotheken & Koninklijke Bibliotheek</a></li>
</ul>

<h4>New Zealand</h4>
<ul>
<li><a href="http://www.library.auckland.ac.nz/">University of Auckland Library</a></li>
</ul>

<h4>Norway</h4>
<ul>
<li><a href="http://www.bi.edu/library/">BI Norwegian Business School Library (Handelshøyskolen BIs bibliotek)</a></li>
<li><a href="http://www.cmi.no/library/">Chr. Michelsen Institute, the Library</a></li>
<li><a href="http://www.cristin.no/english/">CRISTin</a></li>
<li><a href="http://www.hig.no/">Høgskolen i Gjøvik  [Gjøvik University College]</a></li>
<li><a href="http://www.nhh.no/">Norges Handelshøyskole</a></li>
<li><a href="http://www.sirus.no">Norwegian Institute for Alcohol and Drug Research - SIRUS</a></li>
<li><a href="http://www.umb.no/library">The Norwegian University Library of Life Sciences (UBMB)</a></li>
<li><a href="http://www.ntnu.edu/">Norwegian University of Science and Technology, NTNU University Library</a></li>
<li><a href="http://www.hioa.no/">Oslo and Akershus University College of Applied Sciences [Høgskolen i Oslo og Akershus]</a></li>
<li><a href="http://www.ub.uib.no/">University of Bergen Library</a></li>
<li><a href="http://old.uin.no/bibliotek/Pages/default.aspx">University of Nordland</a></li>
<li><a href="http://www.uis.no/">University of Stavanger</a></li>
<li><a href="http://uit.no/ub">University of Tromsø Library</a></li>
<li><a href="http://www.ub.uio.no/">University of Oslo Library</a></li>
<li><a href="http://www.vid.no">VID Specialized University</a></li>
</ul>

<h4>Portugal</h4>
<ul>
<li><a href="http://sdi.letras.up.pt/">Faculdade de Letras da Universidade do Porto - Biblioteca</a></li>
</ul>

<h4>Philippines</h4>
<ul>
<li><a href="http://library.xu.edu.ph/">Xavier University Library</a></li>
</ul>

<h4>Romania</h4>
<ul>
<li><a href="http://www.ugal.ro/">Dunarea de Jos University of Galati</a></li>
</ul>

<h4>Russia</h4>
<ul>
<li><a href="http://neicon.ru/">NEICON</a> - National Electronic Information Consortium</li>
</ul>

<h4>Saudi Arabia</h4>
<ul>
<li><a href="http://library.kaust.edu.sa/">King Abdullah University of Science & Technology</a></li>
</ul>

<h4>Spain</h4>
<ul>
<li><a href="http://bibliotecas.csic.es/">Red de Bibliotecas del CSIC</a></li>
</ul>

<h4>South Africa</h4>
<ul>
<li><a href="http://www.cput.ac.za/">Cape Peninsula University of Technology</a></li>
<li><a href="http://library.sun.ac.za/">Stellenbosch University</a></li>
</ul>

<h4>Sweden</h4>
<ul>
<li><a href="http://www.kb.se/">BIBSAM Consortium / The National Library of Sweden</a></li>
<li><a href="http://www.bth.se/bib">Blekinge Institute of Technology - The Library</a></li>
<li><a href="http://www.lib.chalmers.se/index.xml?menu">Chalmers Library</a></li>
<li><a href="http://www.ub.gu.se/">Göteborg University Library</a></li>
<li><a href="http://ki.se/ki/jsp/polopoly.jsp?d=167&amp;l=en">Karolinska Institutet, the University Library</a></li>
<li><a href="http://www.kth.se/en?">KTH Royal Institute of Technology</a></li>
<li><a href="http://www.bibl.liu.se/english/default-e.asp">Linköping University Library</a></li> 
<li><a href="http://www.mah.se/">Malmö University</a></li>
<li><a href="http://www.bib.miun.se/eng/">Mid Sweden University Library</a></li>
<li><a href="http://www.mdh.se/">Mälardalen University College</a></li>
<li><a href="http://www.sub.su.se/">Stockholm University Library</a></li>
<li><a href="http://www.ub.umu.se/eng_default.htm">Umeå University Library</a></li>   
<li><a href="http://www.ub.uu.se/eindex.cfm">Uppsala University Library</a></li>
<li><a href="http://www.oru.se/English/Library/">Örebro University Library</a></li>
</ul>

<h4>Switzerland</h4>
<ul>
<li><a href="http://www.unil.ch/bcu">Bibliothèque Cantonale et Universitaire Lausanne</a></li>
<li><a href="http://www.library.ethz.ch/en/">ETH-Library</a></li>
<li><a href="http://www.novartis.com/">Novartis</a></li>
<li><a href="http://www.ub.unibas.ch/ub-hauptbibliothek/dienstleistungen/publizieren/open-access/">University of Basel</a></li>
<li><a href="http://www.unibe.ch/">University of Bern</a></li>
<li><a href="http://www.uzh.ch/">University of Zürich</a></li>
</ul>

<h4>Turkey</h4>
<ul>
<li><a href="http://www.ankos.gen.tr/">ANKOS - Anatolian University Libraries Consortium</a></li>
</ul>

<h4>United Kingdom</h4>
<ul>
    
<li><a href="http://www.rluk.ac.uk/">Research Libraries UK (RLUK) - 38 institutions</a></li>
<li><a href="http://www.anglia.ac.uk/ruskin/en/home.html">Anglia Ruskin University</a></li>
<li><a href="http://edina.ac.uk/">EDINA, University of Edinburgh</a></li>
<li><a href="http://www.jisc-collections.ac.uk/">JISC Collections</a></li>
<li><a href="http://www.lshtm.ac.uk/">London School of Hygiene and Tropical Medicine</a></li>
<li><a href="http://www.open.ac.uk/">The Open University</a></li>
<li><a href="http://www.hud.ac.uk/">University of Huddersfield</a></li>
<li><a href="http://www.sussex.ac.uk/">University of Sussex</a></li>
</ul>

<h4>USA</h4>
<ul>
<li><a href="http://www.bucknell.edu/script/lit/initiatives/default.aspx">Bucknell University</a></li>
<li><a href="http://www.cdlib.org/">California Digital Library, University of California</a></li>
<li><a href="http://www.columbia.edu/cu/lweb/">Columbia University Libraries</a></li>
<li><a href="https://www.library.cornell.edu/">Cornell University Library</a></li>
<li><a href="http://www.countway.harvard.edu/index.shtml">Countway Library of Medicine / Center for Biomedical Informatics</a></li>
<li><a href="http://www.dmu.edu/">Des Moines University - Osteopathic Medical Center</a></li>
<li><a href="http://library.duke.edu/">Duke University Libraries</a></li>
<li><a href="http://www.ecu.edu/che/">East Carolina University, Carolyn Freeze Baynes Institute for Social Justice</a></li>
<li><a href="http://web.library.emory.edu/">Emory University Libraries</a></li>
<li><a href="http://www.libraries.iub.edu/index.php">Indiana University Libraries</a></li>
<li><a href="http://www.lib.utah.edu/">J.Willard Marriott Library, University of Utah</a></li>
<li><a href="http://www.library.kent.edu/">Kent State University Libraries</a></li>
<li><a href="http://libraries.luc.edu/">Loyola University Chicago, University Libraries</a></li>
<li><a href="http://libraries.mit.edu/">Massachusetts Institute of Technology</a></li>
<li><a href="http://www.molmed.org/">Molecular Medicine</a></li>
<li><a href="http://www.orbiscascade.org/">Orbis Cascade Alliance</a></li>
<li><a href="http://www.purdue.edu/">Purdue University</a></li>
<li><a href="http://www.seattleu.edu/lemlib/">Seattle University A. A. Lemieux Library</a></li> 
<li><a href="http://www.temple.edu/">Temple University Libraries</a></li>
<li><a href="http://www.tcu.edu/">Texas Christian University</a></li>
<li><a href="http://lib.trinity.edu/">Trinity University</a></li>
<li><a href="http://www.uc.edu/"> University of Cincinnati Libraries</a></li>
<li><a href="http://www.ku.edu/">University of Kansas Libraries</a></li>
<li><a href="http://www.library.umass.edu/">University of Massachusetts, Amherst</a></li>
<li><a href="http://www.lib.umich.edu/">University of Michigan</a></li>
<li><a href="http://www.lib.umn.edu/">University of Minnesota Libraries, Twin Cities</a></li>
<li><a href="http://www.upenn.edu">University of Pennsylvania Libraries</a></li>
<li><a href="http://www.library.pitt.edu/">University of Pittsburg Libraries</a></li>
<li><a href="http://www.lib.usf.edu/">University of South Florida Libraries</a></li>
<li><a href="http://library.uta.edu/">University of Texas at Arlington Library</a></li>
<li><a href="http://web.library.yale.edu/">Yale University Library</a></li>

</ul>

<p><a href="#top">Back to Top</a></p>


<!-- OTHER INSTITUTIONS -->


<h3><a name="other"></a>Other Institutions and Organisations</h3>

<ul>
<li><a href="http://www.clockss.org/clockss/Home">CLOCKSS Archive</a></li>
<li><a href="http://www.oclc.org/">OCLC</a></li>
<li><a href="http://www.oaspa.org/index.php">Open Access Scholarly Publishers Association, OASPA</a></li>
<li><a href="http://www.eifl.net/cps/sections/home/">Stichting eIFL.net</a></li> 
</ul>

<p><a href="#top">Back to Top</a></p>



{% endblock %}

