{% extends "sidebar-page.html" %}

{% block content %}


<h2>Become a member or make a donation</h2>

<p>DOAJ Membership is recommended for those who can support the DOAJ with an <b>annual fixed contribution</b> (annual automatic payment).
	For those who wish to make a longer-term, more sustainable and more substantial impact on the future of DOAJ, then please consider becoming part 
	of the <a href="http://scoss.org/">SCOSS coalition</a>. All members are listed here on the DOAJ site and can use their DOAJ 
	membership status and logo for marketing activities.</p>

Your institution may also be interested in becoming <a href="https://doaj.org/sponsors">a Sponsor</a>. For more information email dom[at]doaj[.]org</p>

</p>If you publish or own an Open Access journal, you may prefer to become a <a href="/support">Publisher Member</a>. You will be 
listed on our <a href="/publishermembers">Publisher Members page </a>.</p>

<h2>How to become a DOAJ member</h2>
<p>This option is for members who can support DOAJ with an <b>annual fixed contribution</b> or the larger payment recommended by SCOSS. The fastest and most secure way to pay is via PayPal. You may also do 
<a href="#bank">a bank transfer</a>. Please note that, due to restrictions at PayPal, we can only take payment in GBP, EUR and USD. For
all payments over £5500 please email lars[at]doaj[.]org.</p>

<!-- HERE STARTS MEMBERSHIP -->

The rates for 2020 are:

<li>
Academic Libraries, Universities, Research Centers - £540 (€585 / $675) <b>per year</b>
</li>
<li>
Library Consortia, Library Associations, up to 40 members - £5400 (€5850 / $6750) <b>per year</b>
</li>
<li>
Library Consortia, Library Associations, up to 80 members - £10,800 (€11,700 / $13500) <b>per year</b>
</li>
<li>
Library Consortia, Library Associations, 80+ members: <a href="/contact">request a quote</a></li>


<br>


<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="PDKWBTFHT9JMN">
<table>
<tr><td><input type="hidden" name="on0" value="Please select your organisation type">Please select your organisation type</td></tr><tr><td><select name="os0">
	<option value="Academic Library">Academic Library : £540.00 GBP - yearly</option>
	<option value="Library Consortium (up to 40 members)">Library Consortium (up to 40 members) : £5,400.00 GBP - yearly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="GBP">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>

<br>
<br>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LNYVLCWX8GNKJ">
<table>
<tr><td><input type="hidden" name="on0" value="Please select your organisation type">Please select your organisation type</td></tr><tr><td><select name="os0">
	<option value="Academic Library">Academic Library : €585.00 EUR - yearly</option>
	<option value="Library Consortium (up to 40 members)">Library Consortium (up to 40 members) : €5,850.00 EUR - yearly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="EUR">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>



<br>
<br>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="GH72VHCDRDW9A">
<table>
<tr><td><input type="hidden" name="on0" value="Please select your organisation type">Please select your organisation type</td></tr><tr><td><select name="os0">
	<option value="Academic Library">Academic Library : $675.00 USD - yearly</option>
	<option value="Library Consortium (up to 40 members)">Library Consortium (up to 40 members) : $6,750.00 USD - yearly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>

<br>


<!-- HERE STARTS SUPPORT -->

<h2>Make a one-time payment</h2>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="UP6B3VXCP2FHJ">
<table>
<tr><td><input type="hidden" name="on0" value="One-off payment">One-off payment</td></tr><tr><td><select name="os0">
	<option value="Individual - one-time payment">Individual - one-time payment </option>
	<option value="Academic Library - one-time payment">Academic Library - one-time payment </option>
	<option value="Library Consortium - one-time payment">Library Consortium - one-time payment </option>
	<option value="Aggregator - one-time payment">Aggregator - one-time payment </option>
</select> </td></tr>
</table>
<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>

<br>


<!-- HERE STARTS BANK TRANSFER -->
<!-- 
<a name="bank"></a><h2>How to make a bank transfer</h2>
<p>To make a bank transfer you must first send us the following information by email to lars[at]doaj[.]org:</p>

<ul>
	<li>Organisation or name of member/supporter</li>
	<li>URL we should display on our site</li>
	<li>Your name or a contact person's name</li>
	<li>Your email or a contact person's email</li>
	<li>Contribution amount </li>
</ul>

<p>Here are the bank details you will need to make the transfer:</p>

<ul>
	<li>Account name: Infrastructure Services for Open Access C.I.C.</li>
	<li>Bank name: Royal Bank of Scotland - Exeter Branch</li>
	<li>Address: Broadwalk House, Southernhay West, EXETER EX1 1TZ, United Kingdom</li>
	<li>Account number: 11099915</li>
	<li>Sort code: 16-19-25</li>
	<li>IBAN number: GB24RBOS16192511099915</li>
	<li>SWIFT/BIC code: RBOSGB2L</li>
</ul>

<p>If you have any questions, send an email to lars[at]doaj[.]org</p>

-->


{% endblock %}
