{% extends "sidebar-page.html" %}

{% block content %}


<h2>Become a Supporter</h2>

<p>Supporting DOAJ is the only way to ensure that we can continue to provide you and the academic community with this vital open access resource. We are very grateful to all our supporters in academic institutions, publishers and other organisations around the world.</p>

<p>Your organisations can support us:
<ul>
<li>with an annual fixed contribution</li>
<li>with a longer-term contribution, often over three years, often includes a discount</li>
<li>with a one-time contribution made via Paypal (suitable for smaller organisation and individuals)</li>
<li>as a <a href="/publishermembers">publisher supporter</a>, if you publish, own or are the editor of an open access journal</li>
<li>via a <a href="/sponsors">sponsorship</a>
    <ul>
      <li>for more information on sponsorships, email <a href="mailto:dom@doaj.org?subject=DOAJ%20Sponsorship">dom@doaj.org</a>
</li>
    </ul>
</ul>
All supporters will have their name listed on our site and can use their supporter status and a DOAJ logo for marketing activities.</p>

<!-- HERE STARTS SUPPORT RATES -->

For academic institutions, the rates for 2021 are:

<b>Individual institutions, academic libraries, universities/university colleges, research centers</b>
<ul>
	<li>Large institution, annual <b>basic</b> - £750 / €825 / $975
		<ul><li>three year commitment, upfront payment, includes 15% discount - £1913 / €2104 / $2486</li></ul>
	</li>
	<li>Large instituion, annual <b>sustaining</b> - £3000 / €3300 / $3900
		<ul><li>three year commitment, upfront payment, includes 15% discount - £7650 / €8415 / $9945</li></ul>
	</li>
	<li>Small institution, annual <b>basic</b> - £375 / €413 / $488
		<ul><li>three year commitment, upfront payment, includes 15% discount - £956 / €1052 / $1243</li></ul>
	</li>	
	<li>Small institution, annual <b>sustaining</b> - £1500 / €1650 / $1950
		<ul><li>three year commitment, upfront payment, includes 15% discount - £3825 / €4208 / $4973</li></ul>
	</li>
    </ul>

<p></p>

<b>Institution as member of a "billing consortium/library network", includes 30% discount</b>
    <ul>
	<li>Large institution, annual <b>basic</b> - £525 / €578 / $683
		<ul><li>three year commitment, upfront payment, includes 15% discount - £1339 / €1473 / $1740</li></ul>
	</li>
	<li>Large institution, annual <b>sustaining</b> - £2100 / €2310 / $2730
		<ul><li>three year commitment, upfront payment, includes 15% discount - £5355 / €5891 / $6962</li></ul>
	</li>
	<li>Small institution, annual <b>basic</b> - £263 / €289 / $341
		<ul><li>three year commitment, upfront payment, includes 15% discount - £669 / €736 / $870</li></ul>
	</li>
	<li>Small institution, annual <b>sustaining</b> supporter contribution for <b>small</b> institutions - £1050 / €1155 / $1365
		<ul><li>three year commitment, upfront payment, includes 15% discount - £2678 / €2945 / $3481</li></ul>	
	</li>
    </ul>

<p></p>

<b>Consortia/library Networks (as an organisation)</b>
<ul>
	<li>Annual contribution - £3000 / €3300 / $3900
		<ul><li>three year commitment, upfront payment, includes 15% discount - £7650 / €8415 / $9945</li></ul>
	</li>
</ul>
<p></p>

<p>Whether an institution/consortium defines itelf as 'large' or 'small' is at the discretion of that organisation. A "billing consortium/library network" aggregates payments into one purchase order.</p>
<p><a href="https://drive.google.com/file/d/1PnqBCZR-GeroxmPnocTaOb6Q2cat8kjk/view?usp=sharing">This information is available as a printable PDF</a>.</p>

<br>

<!--
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="PDKWBTFHT9JMN">
<table>
<tr><td><input type="hidden" name="on0" value="Please select your organisation type">Please select your organisation type</td></tr><tr><td><select name="os0">
	<option value="Academic Library">Academic Library : £540.00 GBP - yearly</option>
	<option value="Library Consortium (up to 40 members)">Library Consortium (up to 40 members) : £5,400.00 GBP - yearly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="GBP">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>

<br>
<br>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LNYVLCWX8GNKJ">
<table>
<tr><td><input type="hidden" name="on0" value="Please select your organisation type">Please select your organisation type</td></tr><tr><td><select name="os0">
	<option value="Academic Library">Academic Library : €585.00 EUR - yearly</option>
	<option value="Library Consortium (up to 40 members)">Library Consortium (up to 40 members) : €5,850.00 EUR - yearly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="EUR">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>



<br>
<br>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="GH72VHCDRDW9A">
<table>
<tr><td><input type="hidden" name="on0" value="Please select your organisation type">Please select your organisation type</td></tr><tr><td><select name="os0">
	<option value="Academic Library">Academic Library : $675.00 USD - yearly</option>
	<option value="Library Consortium (up to 40 members)">Library Consortium (up to 40 members) : $6,750.00 USD - yearly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>

-->
<br>


<!-- HERE STARTS SUPPORT -->

<h2>Make a one-time payment</h2>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="UP6B3VXCP2FHJ">
<table>
<tr><td><input type="hidden" name="on0" value="One-off payment">One-off payment</td></tr><tr><td><select name="os0">
	<option value="Individual - one-time payment">Individual - one-time payment </option>
	<option value="Academic Library - one-time payment">Academic Library - one-time payment </option>
	<option value="Library Consortium - one-time payment">Library Consortium - one-time payment </option>
	<option value="Aggregator - one-time payment">Aggregator - one-time payment </option>
</select> </td></tr>
</table>
<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>

{% endblock %}
