{% extends "base.html" %}

{% block content %}



<p>All the links previously shown on this page can now be found in the <a href="https://www.doajbestpracticeguide.org/" target="_blank">DOAJ Best Practice Guide</a>. 

The DOAJ Best Practice Guide is a web resource that provides selection criteria, resources and tools for the identification of reputable open access journals to support researchers, publishers and librarians in their search of best practice and transparency standards. It is also an attempt to collect discussions about open access to publications and its development. It is developed by, and updated regularly by, the DOAJ team based on existing and new information.

The Guide complements the work of the DOAJ Ambassadors as well as academics, librarians and publishers worldwide. Based on the information provided on the <a href="https://doaj.org/publishers">For Publishers</a> page and the <a href="https://doaj.org/bestpractice">Principles of Transparency and Best Practice in Scholarly Publishing</a>, the Guide aims to do the following:

<ul>
 <li>Highlight issues surrounding questionable publishing practices;</li>
 <li>Provide a checklist of criteria to help identify questionable publishers based on guidelines for editors working with              applications to DOAJ;</li> 
 <li>Identify other tools that assist in making informed decisions on where to submit articles for publication based on the <a href="https://thinkchecksubmit.org/" target="_blank">ThinkCheckSubmit initiative</a> ThinkCheckSubmit initiative;</li>
 <li>Contain case studies and examples gathered by DOAJ over 13 years of operation.</li>
</p>


{% endblock %}

