{% extends "base.html" %}

{% block content %}



<p><i>All links open in a new page.</i></p>
<h4>What is Open Access?</h4>

<ul>
<li>
<a href="http://legacy.earlham.edu/~peters/fos/overview.htm" target="_blank">Open Access Overview by Peter Suber</a></li>
<li>
<a href="http://www.budapestopenaccessinitiative.org/" target="_blank">The Budapest Open Access Initiative</a></li>
<li>
<a href="http://legacy.earlham.edu/~peters/fos/bethesda.htm" target="_blank">Bethesda Statement on Open Access Publishing</a></li>
<li>
<a href="https://openaccess.mpg.de/Berlin-Declaration" target="_blank">Berlin Declaration on Open Access to Knowledge in the Sciences and Humanities</a></li>
<li>
<a href="http://www.webcitation.org/5NLEjNOZP" target="_blank">The Open Access Bibliography - a historical perspective</a></li>
<li>
<a href="http://oad.simmons.edu/oadwiki/Main_Page" target="_blank">The Open Access Directory - a compendium of OA lists</a></li>
<li>
<a href="https://sparcopen.org/our-work/howopenisit/" target="_blank">How Open Is It? A guide by OASPA</a></li>
</ul>

<p>For other Open Access resources, please visit the <a href="http://oad.simmons.edu/oadwiki/Main_Page" target="_blank">Open Access Directory</a>.</p>

<h4>Resources for identifying Quality Open Access journals</h4>
<ul><li><a href="http://learn.library.ryerson.ca/scholcomm/journaleval" target="_blank">Evaluating Open Access Journals</a></li>
  <li><a href="https://thinkchecksubmit.org/" target="_blank">Think. Check. Submit - a check list to make sure you choose trusted journals for your research.</li>
</ul>

<h4>Open Access publishing for journal owners</h4>
<ul>
<!-- <li><a href="http://www.is4oa.org/bpguide" target="_blank">Online Guide to Open Access Journals Publishing</a></li> -->
<li><a href="https://oaspa.org/" target="_blank">Open Access Scholarly Publishers Association</a></li>
<li>
<a href="http://legacy.earlham.edu/~peters/fos/newsletter/10-02-07.htm#flip" target="_blank">Flipping a journal to open access, by Peter Suber</a></li>
<li>
<a href="https://sparcopen.org/our-work/alternative-publishing-models/open-access-journal-publishing-resource-index/" target="_blank">Open-access Journal Publishing Resource Index</a></li>
<a href="http://pubman.mpdl.mpg.de/pubman/faces/viewItemOverviewPage.jsp?itemId=escidoc:2148961" target="_blank">Disrupting the subscription journals’ business model for the necessary large-scale transformation to open access</a></li>

</ul>

<p>For copyright matters and CC licenses, we recommend that you visit <a href="https://creativecommons.org" target="_blank">Creative Commons</a></p>

<h4>Publishing systems</h4>
<ul>

<li>
<a href="https://www.drupal.org/project/ejournal" target="_blank">E-Journal by Drupal</a></li>
<li>
<a href="https://sourceforge.net/projects/hyperjournal/" target="_blank">HyperJournal</a></li>
<li>
<a href="https://pkp.sfu.ca/ojs/" target="_blank">Open Journal Systems (OJS)</a></li>
<li>
<a href="https://plos.github.io/ambraproject/" target="_blank">Ambra Project</a> from the Public Library of Science.</li>
<li><a href="https://www.ubiquitypress.com/" target="_blank">Ubiquity Press</a></li>
</ul>

<p>Check out a similar list on the Open Access Directory: <a href="http://oad.simmons.edu/oadwiki/Free_and_open-source_journal_management_software">http://oad.simmons.edu/oadwiki/Free_and_open-source_journal_management_software</a></p>

<h4>Open Access publishing for authors</h4>
<ul>
<li>
<a href="http://www.sherpa.ac.uk/romeo/index.php" target="_blank">SHERPA/RoMEO - Publisher copyright policies and self archiving</a></li>
</ul>

<h4>Open Access and Open Science</h4>
<ul>
<li>
<a href="http://whyopenresearch.org/" target="_blank">Why Open Research?</a></li>
</ul>

<h4>Open Access news and debate</h4>
<ul>
<li>
<a href="http://oad.simmons.edu/oadwiki/Events" target="_blank">Conferences and workshops, by year, related to Open Access</a></li>
<li>
<a href="http://poeticeconomics.blogspot.com/" target="_blank">The Imaginary Journal of Poetic Economics</a> by Heather Morrison</li>
<li>
<a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0011273" target="_blank">OA-barometer 2009</a></li>
<li>Laakso, Mikael, Björk, Bo-Christer, 2012, <a href="https://bmcmedicine.biomedcentral.com/articles/10.1186/1741-7015-10-124" 
target="_blank">Anatomy of open access publishing - a study of longitudinal development and internal structure</a>,
BMC Medicine, 10:124, doi: 10.1186/1741-7015-10-124.</li>
<li>Björk, Bo-Christer, Solomon, David, 2012, <a href="https://bmcmedicine.biomedcentral.com/articles/10.1186/1741-7015-10-73" 
target="_blank">Open access versus subscription journals: a comparison of scientific impact</a>, BMC Medicine, 10:73, doi:10.1186/1741-7015-10-73.</li>
</ul>


{% endblock %}

