{% extends "base.html" %}

{% block content %}

<h4>What is Open Access?</h4>

<ul>
<li>
<a href="http://www.earlham.edu/%7Epeters/fos/overview.htm" target="_blank">Open Access Overview by Peter Suber</a></li>
<li>
<a href="http://www.soros.org/openaccess" target="_blank">The Budapest Open Access Initiative</a></li>
<li>
<a href="http://www.earlham.edu/%7Epeters/fos/bethesda.htm" target="_blank">Bethesda Statement on Open Access Publishing</a></li>
<li>
<a href="http://oa.mpg.de/lang/en-uk/berlin-prozess/berliner-erklarung/" target="_blank">Berlin Declaration on Open Access to Knowledge in the Sciences and Humanities</a></li>
<li>
<a href="http://www.webcitation.org/5NLEjNOZP" target="_blank">The Open Access Bibliography</a></li>
</ul>

<p>For other Open Access resources, please visit the <a href="http://oad.simmons.edu/oadwiki/Main_Page" target="_blank">Open Access Directory</a></p>


<h4>Open Access publishing for journal owners</h4>
<ul>
<!-- <li><a href="http://www.doaj.org/bpguide" target="_blank">Online Guide to Open Access Journals Publishing</a></li> -->
<li><a href="http://www.oaspa.org/" target="_blank">Open Access Scholarly Publishers Association</a></li>
<li>
<a href="http://legacy.earlham.edu/%7Epeters/fos/newsletter/10-02-07.htm#flip" target="_blank">Flipping a journal to open access, by Peter Suber</a></li>
<li>
<a href="http://www.arl.org/sparc/partnering/planning/index.shtml" target="_blank">Open-access Journal Publishing Resource Index</a></li>
</ul>

<p>For copyright matters, we recommend that you visit <a href="http://creativecommons.org/" target="_blank">Creative Commons</a></p>

<h4>Publishing systems</h4>
<ul>
<li>
<a href="http://drupal.org/project/ejournal" target="_blank">Drupal</a></li>
<li>
<a href="http://grape.hcmc.uvic.ca:8080/ach/site/pdf.xq?id=117" target="_blank">HyperJournal</a></li>
<li>
<a href="http://pkp.sfu.ca/?q=ojs" target="_blank">Open Journal Systems (OJS)</a></li>
<li>
<a href="http://www.scholarlyexchange.org/" target="_blank">Scholarly Exchange</a></li>
<li>
<a href="https://scholasticahq.com/" target="_blank">Scholastica</a></li>
<li><a href="http://www.ubiquitypress.com/" target="_blank">Ubiquity Press</a></li>
</ul>

<h4>Open Access publishing for authors</h4>
<ul>
<li>
<a href="http://www.sherpa.ac.uk/romeo.php" target="_blank">Publisher copyright policies and self archiving</a></li>
</ul>

<h4>Open Access news and debate</h4>
<ul>
<li>
<a href="http://oalibrarian.blogspot.com/" target="_blank">OA Librarian – Open access resources by and for librarians</a></li>
<li>
<a href="http://poeticeconomics.blogspot.com/" target="_blank">The Imaginary Journal of Poetic Economics</a></li>
<li>
<a href="http://www.plosone.org/article/info:doi/10.1371/journal.pone.0011273" target="_blank">OA-barometer 2009</a></li>
<li>
<a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0020961" target="_blank">The Development of Open Access Journal Publishing from 1993 to 2009
</a></li></ul><a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0020961" target="_blank">

{% endblock %}

