{% extends "sidebar-page.html" %}

{% block content %}
{%- if sponsors['gold'] -%}
    <h2>Gold sponsors</h2>
    <div class="sponsors sponsors-spacious">
        {% for s in sponsors['gold'].values() %}
            <a href="{{ s['url'] }}" target="_blank" title="{{ s['name'] }}">
                <img src="{{ url_for('static', filename='doaj/images/sponsors/' + s['logo']) }}" alt="{{ s['name'] }}"/>
            </a>
        {% endfor %}
    </div>
{%- endif -%}

{%- if sponsors['silver'] -%}
    <h2>Silver sponsors</h2>
    <div class="sponsors sponsors-spacious">
        {% for s in sponsors['silver'].values() %}
            <a href="{{ s['url'] }}" target="_blank" title="{{ s['name'] }}">
                <img src="{{ url_for('static', filename='doaj/images/sponsors/' + s['logo']) }}" alt="{{ s['name'] }}"/>
            </a>
        {% endfor %}
    </div>
{%- endif -%}

{%- if sponsors['bronze'] -%}
    <h2>Bronze sponsors</h2>
    <div class="sponsors sponsors-spacious">
        {% for s in sponsors['bronze'].values() %}
            <a href="{{ s['url'] }}" target="_blank" title="{{ s['name'] }}">
                <img src="{{ url_for('static', filename='doaj/images/sponsors/' + s['logo']) }}" alt="{{ s['name'] }}"/>
            </a>
        {% endfor %}
    </div>
{%- endif -%}

{%- if sponsors['patron'] -%}
    <h2>Patrons</h2>
    <div class="sponsors sponsors-spacious">
        {% for s in sponsors['patron'].values() %}
            <a href="{{ s['url'] }}" target="_blank" title="{{ s['name'] }}">{{ s['name'] }}</a><br/>
        {% endfor %}
    </div>
{%- endif -%}

{% endblock %}
