{% extends "sidebar-page.html" %}

{% block content %}

<h2>Publisher Members, Other Supporters</h2>
<p><i>See also our <a href="https://doaj.org/sponsors">Sponsors</a> page</i></p>

<h3>Publisher Members</h3>
<ul>

<li><a href="http://publishing.agalushkin.ru/">Alexander Galushkin Publishing House</a></li>
<li><a href="https://www.aps.org/">American Physical Society (APS)</a></li>
<li><a href="http://www.openjournals.net">AOSIS</a></li>
<li><a href="http://ro.uow.edu.au/aabfj/">Australasian Accounting Business and Finance Journal</a></li>
<li><a href="http://www.unifor.br/index.php?option=com_content&view=article&id=148&Itemid=386">Brazilian Journal in Health Promotion - Revista Brasileira em Promoção da Saúde</a></li>
<li><a href="https://www.cappelendammundervisning.no/undervisning/akademisk/">Cappelen Damm Akademisk – Nordic Open Access Scholarly Publishing</a></li>
<li><a href="http://bulletin.chemistry.kz/index.php/kaznu">Chemical Bulletin of Kazakh National University</a></li>
<li><a href="http://www.cogitatiopress.com">Cogitatio Press</a></li>
<li><a href="http://urepublicana.edu.co/">Corporación Universitaria Republicana</a></li>
<li><a href="http://ojs.diffundit.com/">Diffundit Diseño &amp; Comunicación, S.L.</a></li>
<li><a href="http://electric.press/">Electric Press</a>, Helen J Burgess and Craig Saper Co-editors</li>
<li><a href="http://www.gruppofrattura.it/sito/en/">Gruppo Italiano Frattura</a></li>
<li><a href="https://www.impopen.com/">IM Publications Open</a></li>
<li><a href="http://journal.unj.ac.id/unj/index.php/ijer">IJER (Indonesian Journal of Education Review)</a></li>
<li><a href="http://www.incas.ro/index.php">INCAS - National Institute for Aerospace Research “Elie Carafoli”, INCAS Bucuresti</a></li>
<li><a href="http://www.idz-jena.de/im-dialog/schriftenreihe-wissen-schafft-demokratie/">Institut für Demokratie und Zivilgesellschaft</a></li>
<li><a href="https://escholarship.org/uc/uclapsych_ijcp">International Journal of Comparative Psychology</a></li>
<li><a href="http://imrdcorp.org/">International Medical Research and Development Corporation</a></li>
<li><a href="http://www.vittimologia.it/rivista">Italian Society of Victimology</a></li>
<li><a href="http://www.journal-imab-bg.org">Journal of IMAB</a></li>
<li><a href="http://www.jdmlm.ub.ac.id/index.php/jdmlm">Journal of Degraded and Mining Lands Management</a></li>
<li><a href="http://www.journalprep.com">Journal Prep</a></li>
<li><a href="http://jeehp.org/">Korea Health Personnel Licensing Examination Institute (Journal of Educational Evaluation for Health Professions)</a></li>
<li><a href="http://www.kisti.re.kr/eng/">Korea Institute of Science and Technology Information (KISTI)</a></li>
<li><a href="http://www.kup.at/">Krause &amp; Pachernegg GmbH</a></li>    
<li><a href="http://www.medicalexpress.net.br/">Mavera Edições Científicas e Técnicas Ltda</a></li>
<li><a href="http://www.nationalcybersecurityinstitute.org/publications/journal/">National Cybersecurity Institute Journal (NCIJ)</a></li>
<li><a href="http://www.revistanoesis.mx/">Nóesis. Revista de Ciencias Sociales y Humanidades</a></li>
<li><a href="http://onlinelearningconsortium.org/publications/olj_main">The Online Learning Consortium</a></li>
<li><a href="http://www.ontariointernational.org/">Ontario International Development Agency</a></li>
<li><a href="https://www.openacademia.net/">Open Academia</a></li>
<li><a href="http://polscientific.com/index.html">POL Scientific</a></li>
<li><a href="http://www.revistalatinacs.org/">Revista Latina de Comunicación Social (RLCS)</a></li>
<li><a href="http://www.universitetsforlaget.no/">Scandinavian University Press (Universitetsforlaget AS)</a></li>
<li><a href="http://revistas.unitru.edu.pe/index.php/scientiaagrop">Scientia Agropecuaria</a></li>
<li><a href="http://www.stockholmuniversitypress.se/">Stockholm University Press</a></li>
<li><a href="http://trisanita.org">Trisanita</a></li>
<li><a href="http://epress.lib.uts.edu.au/">UTS ePRESS</a></li>
<li><a href="https://shop.verlagholzhausen.at/hhshop/index.php">Verlag Holzhausen / Holzhausen Scientific Publishing</a></li>
<li><a href="http://vesnupub.com/">Vesnu Publications</a></li>
</ul>

<p><a href="#top">Back to Top</a></p>

<!-- SUPPORTERS -->

<h3><a id="other"></a>Other Organisations Funding DOAJ are:</h3>
    <ul>
        <li><a href="http://www.clockss.org/clockss/Home">CLOCKSS Archive</a></li>
        <li><a href="http://cottagelabs.com">Cottage Labs LLP</a></li>
        <li><a href="http://deinschluesseldienst.de">DeinSchluesseldienst</a></li>
        <li><a href="https://deltathink.com/">Delta Think</a></li>
        <li><a href="http://www.oaspa.org/index.php">Open Access Scholarly Publishers Association, OASPA</a></li>
        <li><a href="http://www.eifl.net/cps/sections/home/">Stichting eIFL.net</a></li>
        <li><a href="https://xpansa.com/">Xpansa</a></li>
    </ul>


<h3><a id="supporter"></a>Other Supporters</h3>
<ul>
<li>Peter Anzenberger</li>
<li>Giorgio Baruchello</li>
<li>Dr Franco Rubio López</li>
<li>Li Ruoxi</li>
<li>Dieter Scholz</li>
<li>Ana Kelliane Silva do Nascimento</li>
</ul>




{% endblock %}
