{% extends "base.html" %}

{% block content %}

<h2>Publisher Members, Other Supporters</h2>
<p><i>See also our <a href="https://doaj.org/sponsors">Sponsors</a> page</i></p>

<h3>Publisher Members</h3>
<ul>

<li><a href="http://ejournal.p-adri.org/">ADRI (Perkumpulan Ahli & Dosen Republik Indonesia)</a></li>
<li><a href="http://publishing.agalushkin.ru/">Alexander Galushkin Publishing House</a></li>
<li><a href="https://www.aps.org/">American Physical Society (APS)</a></li>
<li><a href="http://www.openjournals.net">AOSIS</a></li>
<li><a href="https://astesj.com/">Astes Journal</a></li>
<li><a href="http://ro.uow.edu.au/aabfj/">Australasian Accounting Business and Finance Journal</a></li>
<li><a href="http://www.unifor.br/index.php?option=com_content&view=article&id=148&Itemid=386">Brazilian Journal in Health Promotion - Revista Brasileira em Promoção da Saúde</a></li>
<li><a href="http://www.brill.com">Brill</a></li>
<li><a href="https://www.cappelendammundervisning.no/undervisning/akademisk/">Cappelen Damm Akademisk – Nordic Open Access Scholarly Publishing</a></li>
<li><a href="http://bulletin.chemistry.kz/index.php/kaznu">Chemical Bulletin of Kazakh National University</a></li>
<li><a href="http://www.openedition.org/">CLEO - OpenEdition</a></li>
<li><a href="http://www.cogitatiopress.com">Cogitatio Press</a></li>
<li><a href="http://publications.copernicus.org">Copernicus Publications</a></li>
<li><a href="http://urepublicana.edu.co/">Corporación Universitaria Republicana</a></li>
<li><a href="http://chsj.umfcv.ro/">Current Health Sciences Journal</a></li>
<li><a href="http://www.degruyteropen.com">De Gruyter Open</a></li>
<li><a href="http://ojs.diffundit.com/">Diffundit Diseño &amp; Comunicación, S.L.</a></li>
<li><a href="http://www.edpsciences.org/">EDP Sciences</a></li>
<li><a href="http://iphpublisher.com/">e-IPH</a></li>
<li><a href="http://electric.press/">Electric Press</a>, Helen J Burgess and Craig Saper Co-editors</li>
<li><a href="https://elifesciences.org">eLife Sciences Publications</a></li>
<li><a href="http://www.frontiersin.org/">Frontiers</a></li>
<li><a href="http://press.um.ac.ir/index.php?lang=en">FUM Press</a></li>
<li><a href="http://www.gruppofrattura.it/sito/en/">Gruppo Italiano Frattura</a></li>
<li><a href="http://www.hindawi.com/">Hindawi Limited</a></li>
<li><a href="https://www.impopen.com/">IM Publications Open</a></li>
<li><a href="http://en.litbang.pertanian.go.id/unker/one/500/">ICARD - Indonesian Center for Animal Research and Development</a></li> 
<li><a href="http://journal.unj.ac.id/unj/index.php/ijer">IJER (Indonesian Journal of Education Review)</a></li>
<li><a href="http://www.incas.ro/index.php">INCAS - National Institute for Aerospace Research “Elie Carafoli”, INCAS Bucuresti</a></li>
<li><a href="http://www.idz-jena.de/im-dialog/schriftenreihe-wissen-schafft-demokratie/">Institut für Demokratie und Zivilgesellschaft</a></li>
<li><a href="https://escholarship.org/uc/uclapsych_ijcp">International Journal of Comparative Psychology</a></li>
<li><a href="http://ioppublishing.org/">IOP Publishing</a></li>
<li><a href="http://www.vittimologia.it/rivista">Italian Society of Victimology</a></li>
<li><a href="http://www.journal-imab-bg.org">Journal of IMAB</a></li>
<li><a href="http://www.jdmlm.ub.ac.id/index.php/jdmlm">Journal of Degraded and Mining Lands Management</a></li>
<li><a href="http://www.journalprep.com">Journal Prep</a></li>
<li><a href="http://www.karger.com/OpenAccess">Karger Open Access</a></li>
<li><a href="http://jeehp.org/">Korea Health Personnel Licensing Examination Institute (Journal of Educational Evaluation for Health Professions)</a></li>
<li><a href="http://www.kisti.re.kr/eng/">Korea Institute of Science and Technology Information (KISTI)</a></li>
<li><a href="http://www.kup.at/">Krause &amp; Pachernegg GmbH</a></li>
<li><a href="http://www.lectitopublishing.nl/">Lectito</a></li>
<li><a href="http://www.medicalexpress.net.br/">Mavera Edições Científicas e Técnicas Ltda</a></li>
<li><a href="http://www.mdpi.com/">Multidisciplinary Digital Publishing Institute (MDPI)</a></li>
<li><a href="http://www.nationalcybersecurityinstitute.org/publications/journal/">National Cybersecurity Institute Journal (NCIJ)</a></li>
<li><a href="http://www.revistanoesis.mx/">Nóesis. Revista de Ciencias Sociales y Humanidades</a></li>
<li><a href="http://onlinelearningconsortium.org/publications/olj_main">The Online Learning Consortium</a></li>
<li><a href="http://www.ontariointernational.org/">Ontario International Development Agency</a></li>
<li><a href="https://www.openacademia.net/">Open Academia</a></li>
<li><a href="http://www.plos.org/">PLOS (Public Library of Science)</a></li>
<li><a href="http://polscientific.com/index.html">POL Scientific</a></li>
<li><a href="http://www.revistalatinacs.org/">Revista Latina de Comunicación Social (RLCS)</a></li>
<li><a href="http://www.sagepublications.com/">SAGE Publications</a></li>
<li><a href="http://www.universitetsforlaget.no/">Scandinavian University Press (Universitetsforlaget AS)</a></li>
<li><a href="http://revistas.unitru.edu.pe/index.php/scientiaagrop">Scientia Agropecuaria</a></li>
<li><a href="http://www.springernature.com/gp/group/aboutus">Springer Nature</a></li>
<li><a href="http://www.stockholmuniversitypress.se/">Stockholm University Press</a></li>
<li><a href="http://www.thieme.com/">Thieme Medical Publishers</a></li>
<li><a href="http://trisanita.org">Trisanita</a></li>
<li><a href="http://epress.lib.uts.edu.au/">UTS ePRESS</a></li>
<li><a href="https://shop.verlagholzhausen.at/hhshop/index.php">Verlag Holzhausen / Holzhausen Scientific Publishing</a></li>
<li><a href="https://www.veruscript.com/">Veruscript</a></li>
<li><a href="http://vesnupub.com/">Vesnu Publications</a></li>
<li><a href="http://eu.wiley.com/WileyCDA/Section/index.html">Wiley</a></li>
</ul>

<p><a href="#top">Back to Top</a></p>

<!-- SUPPORTERS -->

<h3><a name="supporter"></a>Other Supporters</h3>
<ul>
<li>Peter Anzenberger</li>
<li>Giorgio Baruchello</li>
<li>Li Ruoxi</li>
<li>Dieter Scholz</li>
<li>Ana Kelliane Silva do Nascimento</li>
</ul>

<p><a href="#top">Back to Top</a></p>


{% endblock %}
