{% extends "base.html" %}

{% block content %}
<h3>Become a member</h3> 
<p>
<b>Support DOAJ, make a financial contribution</b>
<br>
DOAJ relies entirely on donations from the community. We urge you to become a <a href="/doaj?func=loadTemplate&template=publisherpayment&uiLanguage=en">Publisher Member</a>. Members receive a quarterly newsletter and may carry the DOAJ logo on their site.
<br><br>

<h3>Guidelines for publishers</h3> 
<p>
<b>One URL for each journal, one PDF for each article</b>
<br>
When a journal gets indexed it will have its own record in the directory.
<br><br>

To make our service comprehensible and user-friendly we find it crucial that the link from the directory goes to the URL for the specific journal and not to a collection.
<br><br>
Please note that all necessary information (with necessary information we are referring to the journal's aims and scope, presentation of the editorial board, author guidelines, description of the quality control system and information about Open Access) about the specific journal should be available on its own URL to make it easier for users to interpret the information correctly.
<br><br>
We also strongly recommend you to upload content to your web site article by article - not as whole issues. This procedure is also more user-friendly since it gives your readers a general view of the content and makes it easier for them to find what they are looking for, but also to link to specific material.
<br><br><br><br>
<b>Knowledge organization, commercials and ads</b>
<br>
Please pay attention to the fact that having a clear structure when organizing your material makes it easier for users to navigate among published articles.
<br><br>
Articles should preferably be gathered in volumes marked with the year when the articles were published in order to make it easy for scholars to cite them (and their readers to find them).
<br><br>
If publishing different types of articles (for example original articles, review articles, case studies, essays or book reviews) please note that it is advantageous to display articles of the same type together in each volume and to mark each article with the specific type.
<br><br>
If you for financial reasons find it necessary to have commercials or ads on your journal’s web site make sure that the commercial is not in any way offensive or includes information that could decrease the credibility of your journal.

<br><br>
Please note that blinking and/or moving objects can distract a reader and make your web site difficult to "read".
<br><br>
Keep in mind that an unclear organization of articles and/or too many commercials/ads/blinking or moving objects in the long run can decrease the usage of your web site.
<br><br><br><br>
<b>Transparent editorial boards</b>
<br>
We believe that it increases the trustworthiness and credibility of a journal if the reader is able to find/contact him or her.
<br><br>
For this reason we encourage you to be as transparent as possible when presenting your editorial board. Information of public interest is:

<ul>
  <li>The affiliation of the editorial board members
  <li>The contact addresses to the editorial board members
  <li>If possible, we recommend you to add a link to the web site where the specific editorial board member is presented by his or her employing institution.

</li>
</ul>

<br><br>

<b>Quality control and author guidelines</b>
<br><br>
To ensure readers and potential authors that articles go through a quality control before publication, we strongly recommend you to describe the process on the web site.
<br><br>
Since Open Access is a relatively new way of publishing research papers and scholarly materials we believe that it is important showing that these journals have the same quality control systems as printed and subscription based journals.
<br><br>
Having detailed and comprehensible guidelines for authors is a good way of both helping potential contributors and saving your time, since it can prevent a lot of unnecessary work.
<br><br>
We recommend all journals to have author guidelines and to include the following in them:

<ul>

  <li>A detailed style guide
  <li>Description of the quality control process
  <li>If the journal charges any handling fees, publication fees or similar from their authors or authors institutions the amount should be clearly stated in the author guidelines
  <li>Information about copyright (please note the importance of informing authors about whether the journal will be the copyright holder after publication of an article or if the copyright remains with the author(s). This since we strongly believe in the idea that authors should be informed about your conditions before submitting their works)
  <li>Description of how to submit an article
  <li>Contact address
</li>
</ul>
<br><br>
<b>Statement about Open Access and copyright</b>
<br>
Since DOAJ is a collection of Open Access journals we strongly recommend you not only to mention, but thoroughly describe the journal’s Open Access-policy on the web site.
<br><br>
Clearly stating exactly which rights readers have to use the material is a way of showing that you are sharing your published material to support a greater global exchange of knowledge. It is also a way of protecting your material from illegal use (if you are stating that you for example prohibit reproduction or commercial use of your articles, misuse could diminish).

<br><br>
Please see a statement about Open Access, fitting our criteria, which could be published on your website:
<br><br>
<cite>This is an open access journal which means that all content is freely available without charge to the user or his/her institution.
Users are allowed to read, download, copy, distribute, print, search, or link to the full texts of the articles in this journal without asking prior permission from the publisher or the author. 
This is in accordance with the BOAI definition of open access.</cite>
<br><br>
Please note any possible contradictions between your Open Access-policy and your copyright.
<br><br>
<b>Licensing your material with a CC-license</b>
<br>
An additional way of showing in which form a journal is Open Access is through licensing it with a Creative Commons-license (read more about the different forms of licenses <a href="http://creativecommons.org/about/licenses">here</a>).
<br><br>

Such licensing is very beneficial for authors since it for example shows if there are any limits in creating derivative works.
<br><br>
If licensing old material please make sure that you as a journal have got the copyright of the published material. If you do not, you have to ask the copyright holder for permission before licensing the articles (more information can be found at the <a href="http://wiki.creativecommons.org/Before_Licensing">Creative Commons-web site</a>).
<br><br>
<b>Questions</b>
<br>
If having any questions or need advices about how to improve your web site and make it fit our selection criteria please do not hesitate to 
<a href=/doaj?func=contact&uiLanguage=en>contact us</a>.

    <div class="clearBoth"></div>
 
 
<div class="push"></div>
<div id="footer">

  <div id="footerLeft">
DOAJ - Directory of Open Access Journals is provided by <a href="http://www.is4oa.org/">Infrastructure Services for Open Access</a> in cooperation with <a href="http://cottagelabs.com/">Cottage Labs LLP</a>.
  </div>
</div>
  <div class="clearBoth"></div>
  {% endblock %}
