{% extends "base.html" %}

{% block content %}

<p><h4>Publisher Members</h4></p>
  
<ul>
<li><a href="http://www.openjournals.net">AOSIS (Pty) Ltd T/A Open Journals Publishing</a></li>
<li><a href="http://www.ashdin.com">Ashdin Publishing</a></li>
<li><a href="http://ro.uow.edu.au/aabfj/">Australasian Accounting Business and Finance Journal</a></li>
<li><a href="http://www.unifor.br/index.php?option=com_content&view=article&id=148&Itemid=386">Brazilian Journal in Health Promotion - Revista Brasileira em Promoção da Saúde</a></li>
<li><a href="http://www.openedition.org/">CLEO - OpenEdition</a></li>
<li><a href="http://www.cogitatiopress.com">Cogitatio Press</a></li>
<li><a href="http://chsj.umfcv.ro/">Current Health Sciences Journal</a></li>
<li><a href="http://www.etasr.com">Engineering, Technology & Applied Science Research</a></li>
<li><a href="http://www.gruppofrattura.it/sito/en/">Gruppo Italiano Frattura</a></li>
<li><a href="http://www.ijaset.com">IFRAD center, International Journal of Advanced Science and Engineering Technology (IJASET)</a></li>
<li><a href="http://journal.ppsunj.org/ijer/index">IJER (Indonesian Journal of Education Review)</a></li>
<li><a href="http://www.ijo.cn/">IJO Press, International Journal of Ophthalmology</a></li>
<li><a href="http://www.incas.ro/index.php">INCAS - National Institute for Aerospace Research “Elie Carafoli”, INCAS Bucuresti</a></li>
<li><a href="http://www.biomedscidirect.com/aboutjournal.php">International Journal of Biological & Medical Research</a></li>
<li><a href="http://www.comparativepsychology.org/ejournal.html">International Journal of Comparative Psychology</a></li>
<li><a href="http://www.vittimologia.it/rivista">Italian Society of Victimology</a></li>
<li><a href="http://www.journalofhumanity.com/">Journal of Humanity</a></li>
<li><a href="http://www.journal-imab-bg.org">Journal of IMAB</a></li>
<li><a href="http://www.journalprep.com">Journal Prep</a></li>
<li><a href="http://www.la-press.com/">Libertas Academica</a></li>
<li><a href="http://www.mijst.mju.ac.th/">Maejo International Journal of Science and Technology</a></li>
<li><a href="http://www.mcser.org">Mediterranean Journal of Social Sciences</a></li>
<li><a href="http://www.revistanoesis.net">Nóesis. Revista de Ciencias Sociales y Humanidades</a></li>
<li><a href="http://onlinelearningconsortium.org/publications/olj_main">The Online Learning Consortium</a></li>
<li><a href="http://www.redfame.com/home/">RedFame Publishing</a></li>
<li><a href="http://www.stockholmuniversitypress.se/">Stockholm University Press</a></li>
<li><a href="http://www.scirp.org/">SCIRP</a></li>
<li><a href="http://trisanita.org">Trisanita</a></li>
<li><a href="http://www.ubiquitypress.com/">Ubiquity Press</a></li>
<li><a href="http://epress.lib.uts.edu.au/">UTS ePRESS</a></li>
</ul>


{% endblock %}
