{% extends "base.html" %}

{% block content %}

<h3>Become a Publisher Member</h3> 
<p>
<b>Support DOAJ and make a financial contribution</b>
<br>
DOAJ relies entirely on donations from the community. We urge you to become a 
<a href="/support">Publisher Member</a>. Members receive a quarterly newsletter and may carry the DOAJ 
logo on their site.
<br><br>

<h3>Uploading metadata to DOAJ</h3>
<p>There are now three ways to load your metadata in to DOAJ. You must log into your account before 
uploading metadata. The Publishers' Area now includes a Your Journals tab which has a list of all your journals 
currently included in DOAJ and that are associated with your account. You may only upload metadata to those journals.
If you upload metadata which is incorrect (for example contains an ISSN that is not in the journal list) the upload 
will be rejected. (Note that you should ensure that your journal record is up-to-date in DOAJ before you upload 
metadata to us. If you need to update a journal record, please <a href="/contact">contact us</a>.)</p>

<p>The three ways to upload metadata to us are:</p>

<ol>
<li><b>Manually enter the metadata article by article.</b> You are able to manually add your article metadata by 
filling in the form under the 'Enter Article Metadata' tab. Metadata uploaded this way will be checked for error and 
then published to the site every hour.</li>

<li><b>Upload article XML.</b> You are able to upload XML files to us in TWO ways. You can either upload the file 
manually by selecting it from your computer OR you can enter the URL where the DOAJ site should go to look for the 
file. The latter, a new addition, aims to make the process smoother and easier for those publishers with multiple 
files.
<br><br>
All uploaded files will be checked immediately for errors. Once they have parsed successfully, they will be 
published to the site by an automated script that runs every hour.</li>
</ol>

<p>If you have any questions, please <a href="/contact">contact us</a>.</p>

<br><br>

<h3>Good practice guidelines for Open Access publishers</h3> 

<p><b>One URL for each journal, one PDF for each article</b></p>
<p>When a journal gets indexed it will have its own record in the directory.</p>

<p>To make our service comprehensible and user-friendly, the link from the directory must go to the URL for the 
specific journal and not to a collection of journals.</p>

<p>Please note that all necessary information (by 'necessary information', we are referring to the journal's aims 
and scope, the clear presence of the editorial board, the author guidelines, the description of the quality control 
system and the Open Access statement) about the specific journal should be available at its own URL to make it 
easier for users to interpret the information correctly.</p>

<p>We strongly recommend that your content is available article by article, one PDF for each article, and not 
one PDF per issue. This has multiple advantages, such as direct linking to articles, promotes findability, easier 
to navigate, read and download.</p>

<p>Please also read <!--  the <a href="">Online Guide to Open Access Journals Publishing</a> 
and --> <a href="http://oaspa.org/membership/code-of-conduct/">OASPA's Code of Conduct</a> for more information.</p>


<br><br>
<p><b>Knowledge organization, commercials and ads</b></p>

<p>Please pay attention to the fact that having a clear structure when organizing your material makes it easier for users to navigate between articles.</p>

<p>Preferably articles will be gathered in volumes, marked with the year the articles were published, making it easier for scholars to cite them (and readers to find them).</p>

<p>If publishing different types of articles (for example original articles, review articles, case studies, essays or book reviews) please note that it is advantageous to display articles of the same type together in each volume and to mark each article with the specific article type.</p>

<p>If you find it necessary to have commercials or banner advertising on your journal's web site(s), make sure that the ad is not in any way offensive and doesn't include information that could decrease the credibility of your journal.</p>

<p>Blinking and/or moving objects will distract a reader and make your web site difficult to "read". This is discouraged.</p>

<p>Keep in mind that, in the long run, articles that are not clearly organised and/or too many commercials/ads/blinking or moving objects will decrease the usage of your web site.</p>

<br><br>
<p><b>Transparent editorial boards</b>

<p>We believe that it increases the trustworthiness and credibility of a journal if the reader is able to find/contact the editor or members of the editorial board. For this reason we encourage you to be as transparent as possible when presenting your Editorial Board. Information of public interest is:

<ul>
  <li>The affiliation of the editorial board members;</li>
  <li>The contact addresses of the editorial board members;</li>
  <li>If possible, we recommend you to add a link to the web site where the specific editorial board member is presented by his or her employing institution.</li>
</ul>
</p>

<br><br>
<p><b>Quality control and author guidelines</b></p>

<p>To assure readers and potential authors that articles go through a quality control system before publication, we strongly recommend that you describe the process clearly on the web site.</p>

<p>Since Open Access is still a relatively young way of publishing research papers and scholarly materials, we believe that it is important to show that open access journals have the same, rigorous quality control systems as printed and subscription based journals.</p>

<p>Having detailed and comprehensive guidelines for authors is a good way of helping potential contributors and saves you time since it can prevent a lot of unnecessary paperwork and manuscript resubmissions.</p>

<p>We recommend all journals have author guidelines (Instructions for authors) and that the following are included:

<ul>
  <li>A detailed style guide;</li>
  <li>A description of the quality control processes;</li>
  <li>If the journal charges authors or authors' institutions any handling fees, publication fees or similar, the amount should be clearly stated;</li>
  <li>Information about copyright (please note the importance of informing authors about whether the journal will be the copyright holder after publication of an article or if the copyright remains with the author(s). We strongly believe that authors should be informed about your copyright/licensing conditions before they submit their work);</li>
  <li>Description of how to submit an article;</li>
  <li>A contact email address.</li>
</ul>
</p>

<br><br>
<p><b>Statement about Open Access and copyright</b></p>

<p>Since DOAJ is a collection of Open Access journals and articles, we strongly recommend that you not only mention but thoroughly describe the journal's Open Access policy on the web site. It should be clearly linked to from the home page.</p>

<p>Clearly stating exactly which rights readers have when they use the material is a way of showing that you are sharing your published material to support a greater global exchange of knowledge. It is also a way of protecting your material from illegal use (for example if you are stating that you prohibit reproduction or commercial use of your articles).</p>

<p>Here is an example of an Open Access statement, fitting our criteria, that could be published on your website:</p>

<blockquote>This is an open access journal which means that all content is freely available without charge to the user or his/her institution. Users are allowed to read, download, copy, distribute, print, search, or link to the full texts of the articles in this journal without asking prior permission from the publisher or the author. This is in accordance with the BOAI definition of open access.</blockquote>

<p>Please take care to identify any possible contradictions between your Open Access policy and your copyright policy.</p>

<br><br>
<p><b>Licensing your material with a CC-license</b></p>

<p>An additional way of showing in which form a journal is Open Access is through licensing it with a Creative Commons license. (Read more about <a href="http://creativecommons.org/about/licenses">the different forms of licenses</a>.)</p>

<p>Such licensing is very beneficial for authors since it shows, for example, if there are any limits in creating derivative works.</p>

<p>If licensing old material, please make sure that your journal has the copyright permission of the published material. If you do not, you have to ask the original copyright holder for permission before licensing the articles. (More information can be found at the <a href="http://wiki.creativecommons.org/Before_Licensing">Creative Commons web site</a>.)</p>

<br><br>
<p><b>Questions</b></p>

<p>If you have any questions on the content above or need advice on how to improve your web site to make it fit our selection criteria, please do not hesitate to <a href="/contact">contact us</a>.

{% endblock %}
