{% extends "base.html" %}

{% block content %}

<h2>Copyright & Licensing help</h2>
<p>If you are unsure how to answer the Copyright & Licensing section of the application form, use the resources on 
this page to help you.</p>
<p>In May 2015, DOAJ published two posts, on the <a href="https://doajournals.wordpress.com/">DOAJ News Service</a>, which delved into the incompatibilities that can 
exist between copyright and licensing, Creative Commons licensed in particular.</p>

<ul>
  <li><a href="https://doajournals.wordpress.com/2015/05/19/copyright-and-licensing-incompatibility-part-1/">Part One</a>
  explains the differences between copyright and licensing. It provides longer explanations of what 
  Questions 45 to 50 are asking for. Read these definitions before answering the questions in the application.</li>
  <li><a href="https://doajournals.wordpress.com/2015/06/02/copyright-and-licensing-part-2/">Part Two</a> studies, 
  in detail, the different contexts where incompatibilities between copyright and licensing occur. It illustrates each 
  scenario with real instances of copyright and licensing, taken from a variety of publishers. It also contains a reading
   list for those who wish to find out more.</li>
</ul>

<p>If you have any questions about copyright and licensing, leave your question at the bottom of either of the two posts
 and we will be in touch!</p>
 
 <p><b>How to apply Creative Commons licenses to your work</b>
 Here are things that you need to consider if you want to start applying Creative Commons (CC) licenses to your journal and articles:
 <ol>
   <li>IMPORTANT Before you start, you must be clear on whether copyright is retained by the author or is held by the journal. 
   You need to decide this first, as it will affect the wording used in the licensing information on the articles.</li>
   <li>Decide a feasible start date and volume/issue to publish CC licenses on the papers</li>
   <li>If you use a manuscript submission system, you may have to configure it so that it adds CC licenses to the content.</li>
   <li>Decide on how far back you want to apply the licenses. Will you apply them to older content at all?</li>
   <li>Decide where on the abstracts the licensing information will appear. You may have to talk to your site hosts or platform.</li>
   <li>Decide where on the PDFs the licensing information will appear. You may have to talk to your production department, 
   typesetter or printer.</li>
   <li>Speak to  content providers about getting the licensing information into each article.</li>
   <li>Decide where on the site the page with all the details about licensing will appear. This should be a separate page clearly
   stating the CC licensing rights that is easy to find for your users. Ideally you will link to it from the home page.</li>
   <li>Decide what the policy will be with archive material. Will you license all the archive? If so, you may need to contact the
   authors of the older content.</li>
 </ol></p>
 
 <p>If there are any other copyright or licensing resources you would like to see on this page, use the 'Contact Us' link
  in the footer.</p>

{% endblock %}
