{% extends "base.html" %}

{% block content %}

<h2>Copyright & Licensing help</h2>
<p>If you are unsure how to answer the Copyright & Licensing section of the application form, use the resources on 
this page to help you.</p>
<p>In May 2015, DOAJ published two posts, on the <a href="https://doajournals.wordpress.com/">DOAJ News Service</a>, which delved into the incompatibilities that can 
exist between copyright and licensing, Creative Commons licensed in particular.</p>

<ul>
  <li><a href="https://doajournals.wordpress.com/2015/05/19/copyright-and-licensing-incompatibility-part-1/">Part One</a>
  explains the differences between copyright and licensing. It provides longer explanations of what 
  Questions 45 to 50 are asking for. Read these definitions before answering the questions in the application.</li>
  <li><a href="https://doajournals.wordpress.com/2015/06/02/copyright-and-licensing-part-2/">Part Two</a> studies, 
  in detail, the different contexts where incompatibilities between copyright and licensing occur. It illustrates each 
  scenario with real instances of copyright and licensing, taken from a variety of publishers. It also contains a reading
   list for those who wish to find out more.</li>
</ul>

<p>If you have any questions about copyright and licensing, leave your question at the bottom of either of the two posts
 and we will be in touch!</p>
 
 <p><b>How to apply Creative Commons licenses to your work</b><br>
 Here are things that you need to consider if you want to start applying Creative Commons (CC) licenses to your journal and articles:
 <ol>
   <li>IMPORTANT Before you start, you must be clear on whether you intend copyright to be retained by the author or whether it must be transferred to the journal. This will determine which license you choose and the wording you must display on each article.</li>
   <li>Decide which license you want to use. Use <a href="https://creativecommons.org/choose/">Creative Common's simple and easy license chooser tool</a>. Be sure to copy the HTML code that it generates. This is important for <a href="https://doaj.org/application/new#license_embedded-container">Question 45 in the DOAJ application form</a>.</li>
   <li>Decide a realistic start date and volume/issue to publish CC licenses on the articles. We recommend that this is at the start of a new volume, or at the beginning of a year but can really be whenever you like. It will depend very much on how easy it is to get the licensing images and text into your articles. (See Steps 4-7 below).</li>
   <li>If you use a manuscript submission system, you may want to configure it so that it adds CC license information to the content automatically.</li>
   <li>Decide on how far back you want to apply the licenses. Will you apply them to older content at all?</li>
   <li>If you publish HTML abstracts and/or full text for your articles, you must display the license on them, using the code from Step 2. Decide where on the abstracts the licensing information will appear. Will it be in a new 'License' section, or as a footnote? In general, the licensing information should be in both abstract and full text. You may have to talk to the people who host your content as they may have restrictions on where you can display the license. Remember that the license must be displayed on <em>every</em> abstract and full text article and embedded in the HTML.</li>
   <li>If you publish PDFs of your full text, decide where on the PDFs the licensing information will appear. You may have to talk to your production department, Adobe InDesign operator, typesetter, or printer. They will need to know about the code from Step 2 but also about <a href="https://wiki.creativecommons.org/wiki/XMP">using XMP to embed the licensing information in your PDFs</a>.</li>
   <li>If you publish both HTML and PDFs, we recommend that you embed the licensing information in both versions. However, to answer yes to <a href="https://doaj.org/application/new#license_embedded-container">Question 45 in the DOAJ application form</a> you need only do one of these. (HTML is easier!)</li>
   <li>Although the license on every article will link to terms on the Creative Commons site, you will need a page on your journal site that explains both the terms of the license you have chosen <b>and</b> the copyright terms you exert over the content. This page must be clearly written and easy to understand for both authors and regular users. The page must also be easy to find and must be linked to from the journal's home page. If you publish more than one journal it should be linked from every journal homepage.</li>
   <li>Decide what the policy will be for archive material. Will you license all the archive? If so, you may need to contact the authors of the older content.</li>
 </ol></p>

<p>If you have questions, need help or want advice, ask Dom: dom[at]doaj[.]org</p>

<p><b>What does machine-readable, embedded licensing information actually mean?</b></p>
<p>This paragraph concerns machine-readable licenses in HTML. <a href="https://doaj.org/application/new#license_embedded-container">Question 45 of the DOAJ application form</a> asks: 
'Does the journal embed or display licensing information in its articles?' What does that mean and
how can you check? When you publish a piece of content on the web, it isn't long until the content shows up in search engines, 
like Google, third party aggregator services, like EBSCO, or library portals at academic institutions. This happens because 
machines have "crawled" your content using a "crawler" or "spider". When you publish an article, you will display 
<a href="https://creativecommons.org/licenses/#licenses">one of the familiar Creative Commons logos</a>. Of course, machines
can't see these images in the same way that you or I can; they can only read plain text. It is therefore vital that behind 
your license logo, there is some code with that plain text in it. This sounds complicated but thankfully our colleagues at 
Creative Commons automatically generate that code for you when you use their 
<a href="https://creativecommons.org/choose/">Creative Commons license chooser tool</a>. When you select a license the tool
generates the necessary HTML code that you will need to put into your pages.</p>

<p>This paragraph concerns machine-readable licenses in PDFs. Adding this information to PDFs is a little more complicated 
because the information needs to be embedded into the PDF when it is generated. This can only be done using a language called 
XMP. Creative Commons provide <a href="https://wiki.creativecommons.org/wiki/XMP">help on using XMP in PDFs</a> on their wiki. </p>

<p><b>What does the machine-readable code look like?</b> It looks like this:<br>
&lt;a rel="license" href="http://creativecommons.org/licenses/by/4.0/"&gt;<br>
&lt;img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /&gt;&lt;/a&gt;&lt;br /&gt;<br>
This work is licensed under a &lt;a rel="license" href="http://creativecommons.org/licenses/by/4.0/"&gt;Creative Commons Attribution 4.0 
International License&lt;/a&gt;</p>
<p>The key piece of information is rel="license". That tells machines that they are reading a license.</p>

<p><b>How can I tell if I already have machine-readable embedded licensing code in my pages?</b> Easily. Go to one of your articles and take a look at the "source code" for it, that is the HTML code behind the web page. To do this on a PC, press Ctrl + U. On a Mac, press Command + Alt + U. Then scan the code for rel="license". You can even do a search by using Ctrl + F on a PC, or Command + F on a Mac.</p>

<p>If you have questions, need help or want advice, ask Dom: dom[at]doaj[.]org</p>

<p>If there are any other copyright or licensing resources you would like to see on this page, use the 'Contact Us' link in the footer.</p>

{% endblock %}
