{% extends "base.html" %}

{% block content %}

<h2>Organisations/Institutions supporting DOAJ for sustainability</h2>

<p>A number of institutions are committing substantial funding for DOAJ to enable DOAJ to become sustainable in the long run.</p>

<ul>
<li><a href="https://www.akbild.ac.at">Academy of Fine Arts Vienna (Austria)</a></li>
<li><a href="https://www.oeaw.ac.at">Austrian Academy of Sciences (Austria)</a></li>
<li><a href="https://www.fwf.ac.at">Austrian Science Fund (Austria) (FWF)</a></li>
<li><a href="https://ufm.dk/">Danish Agency for Science and Higher Education (Denmark)</a></li>
<li><a href="https://tsv.fi/en/frontpage">Federation of Finnish Learned Societies (Finland)</a></li>
<li><a href="http://www.ist.ac.at">Institute of Science and Technology Austria (Austria)</a></li>
<li><a href="https://www.uni-graz.at">Karl-Franzens-Universität Graz (Austria)</a></li>
<li><a href="https://www.kb.se/">National Library of Sweden (Sweden)</a></li>
<li><a href="http://www.nsd.uib.no/nsd/english/">NSD-Norwegian Center for Research Data (Norway)</a></li>
<li><a href="https://www.vr.se/">Swedish research Council (Sweden)</a></li>
<li><a href="https://www.obvsg.at/en/contact/">The Austrian Library Network and Services Ltd (Austria)</a></li>
<li><a href="https://www.univie.ac.at/">Universitaet Wien (Austria)</a></li>
<li><a href="http://www.wu.ac.at/en/">WU Vienna University of Economics and Business (Austria)</a></li>

</ul>


<h2>SCOSS</h2>

<p> <a href="http://scoss.org/">SCOSS (The Global Sustainability Coalition for Open Science Services)</a> recommended to their member institutions to support DOAJ with funding that will enable DOAJ to move towards a new crowdfunding effort and away from its incremental annual contribution system. Under the new model organisations will work towards sustaining DOAJ for the coming 3 years, giving it more stability for the mid-term. This will enable DOAJ to develop a fully comprehensive, longer term development plan for its systems and services.</p>
<ul>
 <li><a href="https://library.columbia.edu/">Columbia University Libraries (USA)</a></li>
 <li><a href="http://www.cornell.edu/">Cornell University (USA)</a></li>
 <li><a href="https://www.curtin.edu.au/">Curtin University (Australia)</a></li>
 <li><a href="https://www.library.dartmouth.edu/">Dartmouth College Library (USA)</a></li>
 <li><a href="http://www.deakin.edu.au/">Deakin University (Australia)</a></li>
 <li><a href="https://www.tudelft.nl/en/">Delft University of Technology  (Netherlands)</a></li>
 <li><a href="http://www.dfg.de/en/">Deutsche Forschungsgemeinschaft (Germany)</a></li>
 <li><a href="https://www.duke.edu/">Duke University (USA)</a></li>
 <li><a href="https://www.eur.nl/en">Erasmus University Rotterdam (Netherlands)</a></li> 
 <li><a href="http://www.library.ethz.ch/en%20/Resources/Digital-library">ETH-Bibliothek Zürich (Switzerland)</a></li>
 <li><a href="https://www.fit.edu/">Florida Institute of Technology (USA)</a></li>
 <li><a href="https://www.fhi.no/en/">Folkehelseinstituttet (Norway)</a></li>
 <li><a href="https://lib.ugent.be/">Ghent University, Universiteitsbibliotheek (Belgium)</a></li>
 <li><a href="https://www.bi.no/">Handelshøyskolen BI (Norway)</a></li>
 <li><a href="https://www.inn.no/">Høgskolen I Innlandet (Norway)</a></li>
  <li><a href="http://www.himolde.no/Sider/side.aspx">Høgskolen i Molde - Vitenskapelig høgskole i logistikk (Norway)</a></li>
 <li><a href="https://www.hiof.no/">Høgskolen i Østfold (Norway)</a></li>
 <li><a href="https://libraries.indiana.edu/">Indiana University Libraries (USA)</a></li>
 <li><a href="https://www.jcu.edu.au/">James Cook University (Australia)</a></li>
 <li><a href="https://www.library.jhu.edu/">Johns Hopkins University, Sheridan Libraries (USA)</a></li>
 <li><a href="https://www.latrobe.edu.au//">La Trobe University (Australia)</a></li>
 <li><a href="https://www.lih.lu/page/homepage">Luxembourg Institute of Health (Luxembourg)</a></li>
 <li><a href="https://www.list.lu/">Luxembourg Institute of Science and Technology (Luxembourg)</a></li>
 <li><a href="https://www.macewan.ca/wcm/index.htm">MacEwan University (Canada)</a></li>
 <li><a href="https://www.mq.edu.au/">Macquarie University (Australia)</a></li>
 <li><a href="https://www.monash.edu/">Monash University (Australia)</a></li>
 <li><a href="http://web.mit.edu">Massachusetts Institute of Technology (USA)</a></li>
 <li><a href="http://www.massey.ac.nz/">Massey University (New Zealand)</a></li>
 <li><a href="https://lib.msu.edu/">Michigan State University Libraries (USA)</a></li>
 <li><a href="http://www.bnl.public.lu/fr.html">National Library of Luxembourg (Luxembourg)</a></li>
 <li><a href="https://www.nyu.edu/">New York University (USA)</a></li>
 <li><a href="https://www.nord.no/en">Nord University (Norway)</a></li>
 <li><a href="https://www.usn.no/">Norges Idrettshøgskole - Biblioteket(Norway)</a></li>
 <li><a href="https://www.nhh.no/">Norges Norges Handelshøyskole(Norway)</a></li>
 <li><a href="https://www.nih.no/tjenester-og-verktoy/bibliotek/">Norges miljø- og biovitenskapelige universitet (Norway)</a></li>
 <li><a href="https://www.ntnu.no/ub">NTNU Universitetsbiblioteket (Norway)</a></li>
 <li><a href="http://www.hioa.no/">OsloMet - Storbyuniversitetet (Norway)</a></li>
 <li><a href="https://www.princeton.edu/">Princeton University (USA)</a></li>
 <li><a href="http://www.purdue.edu/">Purdue University (USA)</a></li>
  <li><a href="https://www.qnl.qa/en">Qatar National Library (Qatar)</a></li>
 <li><a href="https://www.qut.edu.au/">Queensland University of Technology (Australia)</a></li>
 <li><a href="https://www.lib.sfu.ca/">Simon Fraser University Library (Canada)</a></li>
 <li><a href="https://www.smith.edu/">Smith College (USA)</a></li>
 <li><a href="https://www.tufts.edu/">Tufts University (USA)</a></li>
 <li><a href="https://uit.no/startsida">UiO : Universitetsbiblioteket (Norway)</a></li>
 <li><a href="https://www.ub.uio.no/">UiT - Norges arktiske universitett (Norway)</a></li>
 <li><a href="http://www.unibo.it/en/homepage/">Università di Bologna - Alma Mater Studiorum (Italy) </a></li>
 <li><a href="https://www.ub.uni-bielefeld.de/">Universitätsbibliothek Bielefeld (Germany)</a></li>
 <li><a href="https://lcr.ucalgary.ca/">Libraries and Cultural Resources, University of Calgary (Canada)</a></li>
  <li><a href="https://www.umu.se/en/">Umeå Universitet (Sweden)</a></li>
 <li><a href="https://www.ulaval.ca/">Université Laval (Canada)</a></li>
 <li><a href="https://www.uhasselt.be/">Universiteit Hasselt (Belgium)</a></li>
 <li><a href="https://www.uia.no/en">Universitetet i Agder (Norway)</a></li>
 <li><a href="https://www.uib.no/">Universitetet i Bergen (Norway)</a></li>
 <li><a href="https://www.usn.no/">Universitetet I Sørøst-Norge(Norway)</a></li>
 <li><a href="https://www.uis.no/#Studier">Universitetet I Stavanger (Norway)</a></li>
 <li><a href="https://www.library.ualberta.ca/">University of Alberta Libraries (Canada)</a></li>
 <li><a href="http://www.uva.nl/en">University of Amsterdam (Netherlands)</a></li>
  <li><a href="https://www.library.auckland.ac.nz/">University of Auckland Library(New Zealand)</a></li>
 <li><a href="https://www.library.ubc.ca/">University of British Columbia (Canada)</a></li>
 <li><a href="https://lib.ku.edu/">University of Kansas Libraries (USA)</a></li>
 <li><a href="https://wwwen.uni.lu/">University of Luxembourg (Luxembourg)</a></li>
 <li><a href="https://www.massachusetts.edu/">University of Massachusetts (USA)</a></li>
 <li><a href="https://www.unimelb.edu.au/">University of Melbourne (Australia)</a></li>
 <li><a href="https://library.miami.edu/">University of Miami Libraries (USA)</a></li>
 <li><a href="https://www.lib.umn.edu/">University of Minnesota Libraries (USA)</a></li>
 <li><a href="https://www.unsw.edu.au/">University of New South Wales (Australia)</a></li>
 <li><a href="https://www.unt.edu/">University of North Texas (USA)</a></li>
 <li><a href="https://www.upenn.edu/">University of Pennsylvania (USA)</a></li>
 <li><a href="https://www.uq.edu.au/">University of Queensland (Australia)</a></li>
 <li><a href="https://www.uri.edu/">University of Rhode Island (USA)</a></li>
 <li><a href="https://sydney.edu.au/">University of Sydney (Australia)</a></li>
 <li><a href="https://www.usq.edu.au/">University of Southern Queensland (Australia)</a></li>
 <li><a href="http://www.ub.uu.se/">Uppsala Universitetsbibliotek (Sweden)</a></li>
 <li><a href="https://www.vid.no/en/">VID Vitenskapelige Høgskole (Norway)</a></li>
 <li><a href="https://www.vub.ac.be/en/">Vrije Universiteit Brussel (Belgium)</a></li>
 <li><a href="https://www.westernsydney.edu.au/">Western Sidney University (Australia)</a></li>
 <li><a href="https://www.yale.edu/">Yale University (USA)</a></li>
 <li><a href="http://www.zhbluzern.ch/home/">Zentral- und Hochschulbibliothek Luzern (Switzerland)</a></li>
 
 
 
 
</ul>


{% endblock %}
