{% extends "base.html" %}

{% block content %}

<h2>SCOSS</h2>


<h4>Institutions supporting DOAJ via SCOSS coalition</h4>

<p> <a href="http://scoss.org/">SCOSS (The Global Sustainability Coalition for Open Science Services)</a> recommended to their member institutions to support DOAJ with funding that will enable DOAJ to move towards a new crowdfunding effort and away from its incremental annual contribution system. Under the new model organisations will work towards sustaining DOAJ for the coming 3 years, giving it more stability for the mid-term. This will enable DOAJ to develop a fully comprehensive, longer term development plan for its systems and services.</p>

<ul>
 <li><a href="https://lib.ugent.be/">Ghent University, Universiteitsbibliotheek (Belgium)</a></li>
 <li><a href="https://libraries.indiana.edu/">Indiana University Libraries (USA)</a></li>
 <li><a href="https://www.library.jhu.edu/">Johns Hopkins University, Sheridan Libraries (USA)</a></li>
 <li><a href="http://web.mit.edu">Massachusetts Institute of Technology (USA)</a></li>
 <li><a href="https://www.princeton.edu/">Princeton University (USA)</a></li>
 <li><a href="https://www.library.ualberta.ca/">University of Alberta Libraries (Canada)</a></li>
 <li><a href="https://lib.ku.edu/">University of Kansas Libraries (USA)</a></li>
  <li><a href="University Laval">Université Laval (Canada)</a></li>
</ul>
{% endblock %}
