{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
jQuery(document).ready(function($) {
  $('.facet-view-simple').each(function() {
  $(this).facetview({
    search_url: 'http://{{ settings.DOMAIN }}/query/journal,article/_search?',
    search_index: 'elasticsearch',
    sharesave_link: false,
    searchbox_shade: 'none',
    pager_on_top: true,
    pager_slider: true,
    post_search_callback: customise_facetview_results,
    post_init_callback: customise_facetview_init,
    facets: [
        {'field': '_type', 'display': 'Journals vs. Articles'},
        {'field': 'bibjson.subject.term.exact', 'display': 'Subject'},
        {'field': 'bibjson.publisher.exact', 'display': 'Publisher'},
        {'field': 'bibjson.provider.exact', 'display': 'Provider'},
        {'field': 'bibjson.author_pays.exact', 'display': 'Publishing charge (APC)?'},
        {'field': 'bibjson.language.exact', 'display': 'Language'},
        {'field': 'bibjson.country.exact', 'display': 'Country'},
        {'field': 'bibjson.license.title.exact', 'display': 'License'},
        {'field': 'bibjson.oa_start.year.exact', 'display': 'Started publishing OA in..'}, // sort this alphabetically descending by default
        {'field': 'bibjson.oa_end.year.exact', 'display': 'Stopped publishing OA in..'}, // sort this alphabetically descending by default
        {'field': 'bibjson.for_free', 'display': 'For free?'},
        // Articles
        {'field': 'bibjson.keywords.exact', 'display': 'Keywords .exact'},
        {'field': 'bibjson.keywords', 'display': 'Keywords (loose)'},
        {'field': 'bibjson.author.exact', 'display': 'Author'},
        {'field': 'bibjson.year.exact', 'display': 'Year'},
        {'field': 'bibjson.journal.publisher.exact', 'display': 'Publisher'},
    ],
    search_sortby: [
        {'display':'Date added to DOAJ','field':'created_date'},
        {'display':'Title','field':'bibjson.title.exact'},
        {'display':'Articles - Year','field':'bibjson.year.exact'},
    ],
    searchbox_fieldselect: [
        {'display':'Title','field':'bibjson.title'},
        {'display':'Keywords','field':'bibjson.keywords'},
        {'display':'Subject','field':'bibjson.subject'},
        {'display':'Identifier (ISSN, DOI)','field':'bibjson.identifier'},

        {'display':'Article: Abstract','field':'bibjson.abstract'},
        {'display':'Article: Author','field':'bibjson.author'},
        {'display':'Article: Year','field':'bibjson.year'},
        {'display':'Article: Country','field':'bibjson.journal.country'},
        {'display':'Article: Language','field':'bibjson.journal.language'},
        {'display':'Article: Publisher','field':'bibjson.journal.publisher'},
        {'display':'Article: Journal Title','field':'bibjson.journal.publisher'},

        {'display':'Journal: Alternative Title','field':'bibjson.alternative_title'},
        {'display':'Journal: Country','field':'bibjson.country'},
        {'display':'Journal: Language','field':'bibjson.language'},
        {'display':'Journal: Publisher','field':'bibjson.publisher'},
        {'display':'Journal: Provider','field':'bibjson.provider'},
    ],
    paging: {
      size: 10
    },
    /*
    predefined_filters: {
        'bibjson.active': {'term':{'bibjson.active':true}},
        'bibjson.for_free': {'term':{'bibjson.for_free':true}},
    },
    */
    default_operator: "AND",
    result_display: [
    // Journals
        [
            {
                "pre": '<span class="title">',
                "field": "bibjson.title",
                "post": "</span>"
            }
        ],
        [
            {
                "pre": '<span class="alt_title">Alternative title: ',
                "field": "bibjson.alternative_title",
                "post": "</span>"
            }
        ],
        [
            {
                "pre": "<strong>Subjects</strong>: ",
                "field": "bibjson.subject.term",
            }
        ],
        [
            {
                "pre": "<strong>Publisher</strong>: ",
                "field": "bibjson.publisher",
            }
        ],
        [
            {
                "pre": "<strong>Provider</strong>: ",
                "field": "bibjson.provider",
            }
        ],
        [
            {
                "pre": "<strong>Publishing charge (APC)?</strong>: ",
                "field": "bibjson.author_pays",
            }
        ],
        [
            {
                "pre": "<strong>More information on publishing charges</strong>: ",
                "field": "bibjson.author_pays_url",
            }
        ],
        [
            {
                "pre": "<strong>Started publishing Open Access content in</strong>: ",
                "field": "bibjson.oa_start.year",
            }
        ],
        [
            {
                "pre": "<strong>Stopped publishing Open Access content in</strong>: ",
                "field": "bibjson.oa_end.year",
            }
        ],
        [
            {
                "pre": "<strong>Country</strong>: ",
                "field": "bibjson.country",
            }
        ],
        [
            {
                "pre": "<strong>Language</strong>: ",
                "field": "bibjson.language",
            }
        ],
        [
            {
                "pre": "<strong>More information - ",
                "field": "bibjson.link.type",
                "post": "</strong>: ",
            },
            {
                "field": "bibjson.link.url",
            },
        ],
// Articles
        [
            {
                "pre": "<strong>Authors</strong>: ",
                "field": "bibjson.author.name",
            }
        ],
        [
            {
                "pre": "<strong>Publisher</strong>: ",
                "field": "bibjson.journal.publisher",
            }
        ],
        [
            {
                "pre":'<strong>Date of publication</strong>: ',
                "field": "bibjson.year",
            },
            {
                "pre":' <span class="date-month">',
                "field": "bibjson.month",
                "post": "</span>"
            },
        ],
        [
            {
                "pre": "<strong>Published in</strong>: ",
                "field": "bibjson.journal.title",
            },
            {
                "pre": ", Volume ",
                "field": "bibjson.journal.volume",
            },
            {
                "pre": ", Issue ",
                "field": "bibjson.journal.number",
            },
            {
                "pre": ", Pages ",
                "field": "bibjson.start_page",
            },
            {
                "pre": "-",
                "field": "bibjson.end_page",
            },
        ],
        [
            {
                "pre": "<strong>Keywords</strong>: ",
                "field": "bibjson.keywords",
            }
        ],
        [
            {
                "pre": "<strong>Date added to DOAJ</strong>: ",
                "field": "created_date",
            }
        ],
        [
            {
                "pre": "<strong>ID</strong>: ",
                "field": "id",
            }
        ],
    ],
  });
  });
});
  </script>

    <div class="facet-view-simple"></div>
{% endblock %}
