<div id="site-note" class="alert alert-danger">
    <p>In Autumn 2020, DOAJ will be relaunching with a new website with updated functionality, improved search, and a simplified
        application form. <a href="https://blog.doaj.org/tag/redesign/">More information is available on our blog</a>.
        <a href="https://blog.doaj.org/tag/apichange/">Our API is also changing</a>.</p>

    <p><a class="site-note-dismiss" href="{{ url_for('doaj.dismiss_site_note') }}?continue={{ request.path }}">Hide this message</a></p>
</div>