{% extends "base.html" %}

{% block content %}

<h1>Suggest a new journal</h1>
<h3 class="red">Please note:</h3>

<p>Due to extensive development, DOAJ is currently unable to accept suggestions.
We will reopen for suggestions soon, this time with much more detailed criteria. If you would like to receive
updates on our development progress, please follow us on Twitter: https://twitter.com/DOAJplus.</p>

<p>Thank you for your patience.</p>

<!--
<ul>
<li>We recommend that only publishers use this form. 
If you are not a publisher and would like to suggest a journal, please contact the publisher.</li>
<li>At least 5 articles a year must have been published before you suggest the journal, 
otherwise your application will be automatically rejected.</li>
<li>Do NOT send us print journals. We only consider online journals.</li>
<li>We do not include newsletters that are primarily focussed around an institution.</li>
<li>We do not include journals that charge <i>any</i> kind of access or subscription fee.</li>
<li>We do not include journals that have an embargo period.</li>
</ul>
<p></p>For more information <a href="/about#criteria">see our selection criteria</a>.</p>


-->
{% endblock %}
