{% extends "base.html" %}

{% block content %}
<h2>Journal Application Form</h2>

<p>If you know a journal that you think should be included in DOAJ, please ask the publisher to complete this form.</p>

<p>We provide some <a href="{{ url_for('doaj.faq', _anchor='procedure') }}">guidance on the information we are looking for</a> but 
that list is by no means exhaustive. Applicants are simply encouraged to complete the form clearly and honestly. If you 
do not know the answer to a question, you can request help by contacting us.</p>

<p>Currently, it is not possible to save your progress or for us to send you a confirmation email. We have 
<a href="{{ url_for('doaj.faq', _anchor='application') }}">created a spreadsheet version of the form</a> and some other 
tips to help you. Guides to completing the form are available in <a href="{{ url_for('doaj.translated') }}">other 
languages</a>.</p>

{% include "_suggestion_form.html" %}

{% endblock %}

