{% extends "base.html" %}

{% block content %}
<h2>DOAJ Journal Application Form</h2>

<p>All the information provided will help our Editorial Team with their assessment, to help them make an informed decision based on the information that you provide.</p>

<p>If you know a journal that should be in DOAJ, please contact the publisher and ask them to complete this form.</p>

<p>BEFORE YOU START, please remember that <strong>all</strong> the content of the journal you are applying about <strong>must</strong> be available <strong>immediately</strong> upon publication.</p>

<p>This form has been translated into <a href="{{ url_for('doaj.translated')">10 other languages</a>.</p>

{% include "_suggestion_form.html" %}

{% endblock %}

