{% extends "layouts/sidebar-page.html" %}

{% block content %}

<h3>Application received safely</h3>
<p>Thank you for your application which has been received safely. You will receive an automated email as soon as the application
is assigned to an editor and then another email when they start working on it. It may take up to 6 months before you get a final decision from us.</p>

<p>Please keep an eye out for correspondence about your application. The person reviewing your application may not be using a doaj.org email address so be sure to check your Spam folder for emails from us. By submitting an application to us, you agree to correspond with our editors in a timely manner, and provide them with the information that they require. If you are unsure whether or not an individual is authorised to represent DOAJ, <a href="/contact">send us an email</a> with their name and email address and we will be happy to verify that person for you.

<p>We will not reply to emails requesting a status update on applications that are less than 6 months old.</p>

{% endblock %}
