{% extends "sidebar-page.html" %}

{% block content %}

<h3>Application safely received</h3>
<p>Thank you for your application which has been received safely. You will receive an automated email from us when the application
has been assigned to an editor and then another email once they start working on it. Due to the high volume of applications we are receiving,
it may take up to 6 months before you get a final decision from us. Please be assured that we are working as hard as we can with the
resources we have.</p>

<p>We will not reply to emails requesting a status update for applications that are less than 6 months old. Before you 
contact us requesting an update, please check your spam folder to ensure that a volunteer member of our editorial team has not already 
contacted you. They may not be emailing from a doaj.org email address.</p>

{% endblock %}
