{% extends "base.html" %}

{% block content %}

<div class="alert alert-danger">THIS FORM IS JUST AN EXAMPLE - IS DUE TO BE REPLACED</div>

<span style="color:red"><b>Please note:</b></span>

<ul>
<li>Due to the level of detail required for an Application, we recommend that only publishers use this form. 
If you would like to suggest a journal, please contact the publisher.</li>
<li>At least 5 articles a year must have been published before you suggest the journal, 
otherwise your application will be automatically rejected.</li>
<li>Do NOT send us print journals. We only consider online journals.</li>
<li>We do not include newsletters that are primarily focussed around an institution.</li>
<li>We do not include journals that charge <i>any</i> kind of access or subscription fee.</li>
<li>We do not include journals that have an embargo period.</li>
</ul>
<p></p>For more information <a href="/about#criteria">see our selection criteria</a>.</p>

<form action=/doaj method="post">
             <input type=hidden name=func value=suggest>
             <input type=hidden name=uiLanguage value=en>
             <input type=hidden name=already value="1">
             <input type=hidden name=template value="suggestOwner">
             <input type=hidden name=byOwner value="1">
            
<table width=100% border=0 class="xlistTable">
           <tr><td width="36%" align=right>URL <font color=red><b>*</b></font></td>
                <td width="64%"><input type="text" name="url" size="50" value=""></td>
           </tr>
           <tr> <td align=right>Journal Title <font color=red><b>*</b></font></td>

                <td><input type="text" name="title" size="50" value=""></td>
           </tr>
           <tr><td align=right>ISSN and/or EISSN <font color=red><b>*</b></font></td><td> </td></tr>
          
           <tr><td align=right>Journal ISSN </td>
                <td><input type="text" name="issn" size="8" maxlength=9 value=""></td>
           </tr> 
           <tr><td align=right>Journal EISSN</td>
                <td><input type="text" name="eissn" size="8" maxlength=9 value=""></td>
           </tr> 
           <tr> 
           <tr> 
             <td align=right>Publisher <font color=red><b>*</b></font></td>
             

             <td><input type="text" name="pub" size="50" value=""></td>
           <tr>
            <td align=right>Start year since the online OA fulltext content is available<font color=red><b>*</b></font></td>
            <td><input type="text" name="syear" size="4" value=""></td> 
           </tr>
           </tr>
           <tr>
              <td align=right>Country <font color=red><b>*</b></font></td>
              <td>
                  <select name=countryId>
                   <option value="">
                    <option value=1
                    >Afghanistan
                    <option value=2
                    >Albania
                    <option value=3
                    >Algeria
                    <option value=4
                    >American Samoa
                    <option value=5
                    >Andorra
                    <option value=6
                    >Angola
                    <option value=7
                    >Anguilla
                    <option value=8
                    >Antigua and Barbuda
                    <option value=9
                    >Argentina
                    <option value=10
                    >Armenia
                    <option value=11
                    >Aruba
                    <option value=12
                    >Australia
                    <option value=13
                    >Austria
                    <option value=14
                    >Azerbaijan
                    <option value=15
                    >Bahamas
                    <option value=16
                    >Bahrain
                    <option value=17
                    >Bangladesh
                    <option value=18
                    >Barbados
                    <option value=19
                    >Belarus
                    <option value=20
                    >Belgium
                    <option value=21
                    >Belize
                    <option value=22
                    >Benin
                    <option value=23
                    >Bermuda
                    <option value=24
                    >Bhutan
                    <option value=25
                    >Bolivia
                    <option value=26
                    >Bosnia
                    <option value=27
                    >Botswana
                    <option value=28
                    >Brazil
                    <option value=29
                    >British Virgin Islands
                    <option value=30
                    >Brunei
                    <option value=31
                    >Bulgaria
                    <option value=32
                    >Burkina Faso
                    <option value=33
                    >Burundi
                    <option value=34
                    >Cambodia
                    <option value=35
                    >Cameroon
                    <option value=36
                    >Canada
                    <option value=37
                    >Cape Verde
                    <option value=38
                    >Cayman Islands
                    <option value=39
                    >Central African Republic
                    <option value=40
                    >Chad
                    <option value=41
                    >Chile
                    <option value=42
                    >China
                    <option value=43
                    >Colombia
                    <option value=44
                    >Comoros
                    <option value=45
                    >Costa Rica
                    <option value=46
                    >Cote d'Ivoire
                    <option value=47
                    >Croatia
                    <option value=48
                    >Cuba
                    <option value=49
                    >Cyprus
                    <option value=50
                    >Czech Republic
                    <option value=51
                    >Democratic Republic of the Congo
                    <option value=52
                    >Denmark
                    <option value=53
                    >Djibouti
                    <option value=54
                    >Dominica
                    <option value=55
                    >Dominican Republic
                    <option value=56
                    >East Timor
                    <option value=57
                    >Ecuador
                    <option value=58
                    >Egypt
                    <option value=59
                    >El Salvador
                    <option value=60
                    >Equatorial Guinea
                    <option value=61
                    >Eritrea
                    <option value=62
                    >Estonia
                    <option value=63
                    >Ethiopia
                    <option value=64
                    >Falkland Islands
                    <option value=65
                    >Fiji
                    <option value=66
                    >Finland
                    <option value=67
                    >France
                    <option value=68
                    >French Guiana
                    <option value=69
                    >French Polynesia
                    <option value=70
                    >Gabon
                    <option value=71
                    >Gambia
                    <option value=72
                    >Georgia
                    <option value=73
                    >Germany
                    <option value=74
                    >Ghana
                    <option value=75
                    >Gibraltar
                    <option value=76
                    >Greece
                    <option value=77
                    >Greenland
                    <option value=78
                    >Grenada
                    <option value=79
                    >Guadeloupe
                    <option value=80
                    >Guam
                    <option value=81
                    >Guatemala
                    <option value=82
                    >Guinea
                    <option value=83
                    >Guinea-Bissau
                    <option value=84
                    >Guyana
                    <option value=85
                    >Haiti
                    <option value=86
                    >Honduras
                    <option value=220
                    >Hong Kong
                    <option value=87
                    >Hungary
                    <option value=88
                    >Iceland
                    <option value=89
                    >India
                    <option value=90
                    >Indonesia
                    <option value=91
                    >Iran
                    <option value=92
                    >Iraq
                    <option value=93
                    >Ireland
                    <option value=94
                    >Israel
                    <option value=95
                    >Italy
                    <option value=96
                    >Jamaica
                    <option value=97
                    >Japan
                    <option value=98
                    >Jordan
                    <option value=99
                    >Kazakhstan
                    <option value=100
                    >Kenya
                    <option value=101
                    >Kiribati
                    <option value=222
                    >Kosova
                    <option value=102
                    >Kuwait
                    <option value=103
                    >Kyrgyzstan
                    <option value=104
                    >Laos
                    <option value=105
                    >Latvia
                    <option value=106
                    >Lebanon
                    <option value=107
                    >Lesotho
                    <option value=108
                    >Liberia
                    <option value=109
                    >Libya
                    <option value=110
                    >Liechtenstein
                    <option value=111
                    >Lithuania
                    <option value=112
                    >Luxembourg
                    <option value=113
                    >Macau
                    <option value=114
                    >Macedonia
                    <option value=115
                    >Madagascar
                    <option value=116
                    >Malawi
                    <option value=117
                    >Malaysia
                    <option value=118
                    >Maldives
                    <option value=119
                    >Mali
                    <option value=120
                    >Malta
                    <option value=121
                    >Marshall Islands
                    <option value=122
                    >Martinique
                    <option value=123
                    >Mauritania
                    <option value=124
                    >Mauritius
                    <option value=125
                    >Mexico
                    <option value=126
                    >Micronesia
                    <option value=127
                    >Moldova
                    <option value=128
                    >Monaco
                    <option value=129
                    >Mongolia
                    <option value=221
                    >Montenegro
                    <option value=130
                    >Montserrat
                    <option value=131
                    >Morocco
                    <option value=132
                    >Mozambique
                    <option value=133
                    >Myanmar
                    <option value=134
                    >Namibia
                    <option value=135
                    >Nauru
                    <option value=136
                    >Nepal
                    <option value=137
                    >Netherlands
                    <option value=138
                    >Netherlands Antilles
                    <option value=139
                    >New Caledonia
                    <option value=140
                    >New Zealand
                    <option value=141
                    >Nicaragua
                    <option value=142
                    >Niger
                    <option value=143
                    >Nigeria
                    <option value=145
                    >North Korea
                    <option value=144
                    >Northern Mariana Islands
                    <option value=146
                    >Norway
                    <option value=147
                    >Oman
                    <option value=148
                    >Pakistan
                    <option value=149
                    >Palau
                    <option value=150
                    >Palestine
                    <option value=151
                    >Panama
                    <option value=152
                    >Papua New Guinea
                    <option value=153
                    >Paraguay
                    <option value=154
                    >Peru
                    <option value=155
                    >Philippines
                    <option value=156
                    >Pitcairn Islands
                    <option value=157
                    >Poland
                    <option value=158
                    >Portugal
                    <option value=159
                    >Puerto Rico
                    <option value=160
                    >Qatar
                    <option value=161
                    >Republic of the Congo
                    <option value=162
                    >Romania
                    <option value=163
                    >Russia
                    <option value=164
                    >Rwanda
                    <option value=165
                    >San Marino
                    <option value=166
                    >Sao Tome and Principe
                    <option value=167
                    >Saudi Arabia
                    <option value=168
                    >Senegal
                    <option value=169
                    >Serbia
                    <option value=170
                    >Seychelles
                    <option value=171
                    >Sierra Leone
                    <option value=172
                    >Singapore
                    <option value=173
                    >Slovakia
                    <option value=174
                    >Slovenia
                    <option value=175
                    >Solomon Islands
                    <option value=176
                    >Somalia
                    <option value=177
                    >South Africa
                    <option value=178
                    >South Korea
                    <option value=179
                    >Spain
                    <option value=180
                    >Sri Lanka
                    <option value=181
                    >St. Kitts and Nevis
                    <option value=182
                    >St. Lucia
                    <option value=183
                    >St. Vincent and the Grenadines
                    <option value=184
                    >Sudan
                    <option value=185
                    >Suriname
                    <option value=186
                    >Swaziland
                    <option value=187
                    >Sweden
                    <option value=188
                    >Switzerland
                    <option value=189
                    >Syria
                    <option value=190
                    >Taiwan
                    <option value=191
                    >Tajikistan
                    <option value=192
                    >Tanzania
                    <option value=193
                    >Thailand
                    <option value=194
                    >Tibet
                    <option value=195
                    >Togo
                    <option value=196
                    >Tonga
                    <option value=197
                    >Trinidad and Tobago
                    <option value=198
                    >Tunisia
                    <option value=199
                    >Turkey
                    <option value=200
                    >Turkmenistan
                    <option value=201
                    >Turks and Caicos Islands
                    <option value=202
                    >Tuvalu
                    <option value=209
                    >U.S. Virgin Islands
                    <option value=203
                    >Uganda
                    <option value=204
                    >Ukraine
                    <option value=205
                    >United Arab Emirates
                    <option value=206
                    >United Kingdom
                    <option value=207
                    >United States
                    <option value=208
                    >Uruguay
                    <option value=210
                    >Uzbekistan
                    <option value=211
                    >Vanuatu
                    <option value=212
                    >Venezuela
                    <option value=213
                    >Vietnam
                    <option value=214
                    >Western Sahara
                    <option value=215
                    >Western Samoa
                    <option value=216
                    >Yemen
                    <option value=217
                    >Zambia
                    <option value=218
                    >Zimbabwe
                  </select>
              </td>
           </tr> 
           
           <tr> <td align=right>Creative Commons- CC License <small>(if any)</small></td>
               <td><select name=licenseId>
                       <option value="">
                       <option value=1
                    >Attribution Non-commercial No Derivatives (by-nc-nd)
                       <option value=2
                    >Attribution Non-commercial Share Alike (by-nc-sa)
                       <option value=3
                    >Attribution Non-commercial (by-nc)
                       <option value=4
                    >Attribution No Derivatives (by-nd)
                       <option value=5
                    >Attribution Share Alike (by-sa)
                       <option value=6
                    >Attribution (by)
                        </select>
   
               </td>
           </tr>
           <tr>
             <td align=right>Author pays to publish <font color=red><b>*</b></font></td>
             <td>YES<input type=radio name=charging value=Y
               >NO<input type=radio name=charging value=N
               >Conditional<input type=radio name=charging value=CON
               ></td>
   </tr>
   <tr>
      <td align=right>Author pays - guide link</td>
      <td><input name=chargingLink size=40 value=""></td>
   </tr>

           <tr><td align=right>Journal-contact name <font color=red><b>*</b></td>
               <td><input type="text" name="contact_person" size="50" value=""></td>
           </tr>
           <tr><td align=right>Journal-contact email <font color=red><b>*</b></font></td>
               <td><input type="text" name="contact_email" size="50" value=""></td>
           </tr>

           <tr><td align=right>Description</td>
               <td><textarea name="description" rows="5" cols="38"></textarea></td>
           </tr>
           <tr>
             <td align=right>Keyword(s) 6 MAX <small>use , (comma) as separator</td>
               <td><input type="text" name="keyword" size="50" value=""></td>
           </tr>
             <td align=right>What language(s) is the FULL TEXT published in? <small>use , (comma) as separator</td>
               <td><input type="text" name="language" size="50" value=""></td>
           </tr>
           <tr><td align=right>Your name <font color=red><b>*</b></font></td>
               <td><input type="text" name="name" size="50" value=""></td>
           </tr>
           <tr><td align=right>Your Email <font color=red><b>*</b></font></td>

               <td><input type="text" name="email" size="50" value=""></td>
           </tr>
           <tr>
<td class="text" align=right>Type in the word displayed in the image <b>*</b></font></td>
<td>
<img src="/doajImages/captcha34421386699616.gif" style="border: 1px solid #c0c0c0; width: 50px; height: 31px;">
<input name=cWord value="" size=4>
<input type=hidden name="cKey" value="34421386699616">
</td>
</tr>
<tr>
<td></td>
<td>
<input type="submit" value="Submit" name="submit">
</td>
</tr>

</table>
</form>

{% endblock %}
