{% extends "base.html" %}

{% block content %}

<p><b>Membership &amp; Donations</b></p>

<p>Membership is for those who want to support the DOAJ with an <i>annual fixed contribution</i>. This option has several benefits:</p>

<ul>
<li>Acknowledgement and a link to your site on our <a href="/members">DOAJ Membership Page</a></li>

<!--

<li>Subscription to e-mail list for DOAJ members</li>
<li>Access to the list of recently added titles</li>
<li>Access to the list of removed titles</li>

-->
<li>The right to use DOAJ membership status and logo for marketing activities</li>
<!-- <li>Receive the quarterly <a href="http://doaj.org/doaj?func=news&amp;nId=308&amp;uiLanguage=en">Members' Newsletter</a>.</li> -->
</ul>

<p><a href="/membership"><b>[BECOME A MEMBER or SUPPORTER]</b></a></p>


<p><b>Become a Publisher Member</b></p>

<p>For those of you who publish or own an Open Access journal, you can become a Publisher Member. Your name will be listed on our <a href="/publishermembers">Publisher Members</a> page and you will receive our quarterly <!-- <a href="/news"> -->Members' Newsletter<!-- </a>-->.</p> 

<p><a href="/support"><b>[BECOME A PUBLISHER MEMBER]</b></a></p>


{% endblock %}
