{% extends "base.html" %}

{% block content %}

<h3>Membership &amp; Donations</h3>
<p><a href="/membership">DOAJ Membership</a> is recommended for those who can support the DOAJ with an <i>annual fixed contribution</i>. Members are 
listed on the <a href="/members">DOAJ Membership page</a>, can use their DOAJ membership status and our logo for marketing
activities and will receive our newsletter.</p>
<br>You may also <a href="/membership">make a donation</a> of any amount that you wish and be listed as a 
<a href="/members#supporter">DOAJ Supporter</a>.</p>

<p>If you publish or own an Open Access journal, you may prefer to <a href="/support">become a Publisher Member</a>.
You will be listed on our <a href="/publishermembers">Publisher Members page</a> and will receive our newsletter.</p> 

{% endblock %}
