{% extends "sidebar-page.html" %}

{% block content %}

<h3>Become a Publisher Member</h3>

<p>You may become a Publisher Member by making a contribution relative to the size of your business. 
<a href="/publishermembers">See a list of existing publisher members</a>. You may also donate an amount of your 
choice and select whether you wish to make a one-off or recurring annual payment. By choosing one of the 
predetermined amounts and by choosing to make a recurring payment, you are enabling DOAJ to continue to develop 
into an even better service.</p>

<p>If possible, we ask you to use the recurring payment option as it reduces expenses incurred by handling invoices.</p>
<p>
Extra large, publishing more than 2000 articles/year: GBPs £3000 per year<br>
Large, publishing between 500-2000 articles/year: GBPs £1000 per year<br>
Medium, publishing between 200-500 articles/year: GBPs £500 per year<br>
Small, publishing less than 200 articles/year: GBPs £200 per year
</p>


<p><b>Please select your payment type below.</b></p>

<br>

<p>
<a name="recurring"></a>
<b>Scale amount: recurring annual payment</b>
</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="T8RHKSMJ2JN7S">
<table>
<tr><td><input type="hidden" name="on0" value="Select an amount based on the size of your organisation">Select an amount based on the size of your organisation</td></tr><tr><td><select name="os0">
	<option value="Extra large">Extra large : £3,000.00 GBP - yearly</option>
	<option value="Large">Large : £1,000.00 GBP - yearly</option>
	<option value="Medium">Medium : £500.00 GBP - yearly</option>
	<option value="Small">Small : £200.00 GBP - yearly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="GBP">
<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>
<br>
<br>


<p>
<a name="oneoff"></a>
<b>Scale amount: one-off payment</b>
</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="7JEXFR4S7X2VN">
<table>
<tr><td><input type="hidden" name="on0" value="Select the amount based on the size of your organisation">Select the amount based on the size of your organisation</td></tr><tr><td><select name="os0">
	<option value="Extra large">Extra large £3,000.00 GBP</option>
	<option value="Large">Large £1,000.00 GBP</option>
	<option value="Medium">Medium £500.00 GBP</option>
	<option value="Small">Small £200.00 GBP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="GBP">
<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>
<br>
<br>

<!-- <p>
<a name="own"></a>
<b>Own amount: one-off payment</b>
</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input name="cmd" value="_s-xclick" type="hidden">
<input name="hosted_button_id" value="M4PM4R9PSJ63G" type="hidden">
<input src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal – The safer, easier way to pay online." border="0" type="image">
</form>
<br>
<br> -->

<p>Should you have any questions, send email to lars[at]doaj[.]org</p>

{% endblock %}

