{% extends "base.html" %}

{% block content %}

<h3>Membership &amp; Donations</h3>
<p><a href="/membership">DOAJ Membership</a> is recommended for those who can support the DOAJ with an <i>annual fixed 
contribution</i> (annual automatic payment). For those who wish to make a longer-term, more sustainable and more substantial impact on the
  future of the DOAJ, then please consider becoming part of the <a href="http://scoss.org/">SCOSS coalition</a>. Members are listed on the
  <a href="/members">DOAJ Membership page</a>, supporters via SCOSS on the <a href="/scoss">sustainable funding page</a>. Both can
use their DOAJ membership status and our logo for marketing activities. You may also <a href="/membership">make a 
donation</a> of any amount that you wish (invoiced annually) and be listed as a <a href="/members#supporter">DOAJ 
Supporter</a>.</p>

<p>If you publish or own an Open Access journal, you may prefer to <a href="/support">become a Publisher Member</a>.
You will be listed on our <a href="/publishermembers">Publisher Members page</a> and will receive our newsletter.</p> 

{% endblock %}
