{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
    <div class="span9">
        <h1>{{journal.bibjson().title}}</h1>
        {% if journal.bibjson().alternative_title %}
            <h2>{{journal.bibjson().alternative_title}}</h2>
        {% endif %}
        <p>
        {% for identifier in journal.bibjson().get_identifiers(idtype='pissn') %}
            <em>ISSN: {{identifier}}</em>&nbsp;&nbsp;
        {% endfor %}
        {% for identifier in journal.bibjson().get_identifiers(idtype='eissn') %}
            <em>E-ISSN: {{identifier}}</em>
        {% endfor %}
        </p>
    </div>
    <div class="span3">
        {%- set CC_MAP = {
                "CC BY" : ["/static/doaj/images/cc/by.png", "http://creativecommons.org/licenses/by/3.0/"],
                "CC BY-NC" : ["/static/doaj/images/cc/by-nc.png", "http://creativecommons.org/licenses/by-nc/3.0/"],
                "CC BY-NC-ND" : ["/static/doaj/images/cc/by-nc-nd.png", "http://creativecommons.org/licenses/by-nc-nd/3.0/"],
                "CC BY-NC-SA" : ["/static/doaj/images/cc/by-nc-sa.png", "http://creativecommons.org/licenses/by-nc-sa/3.0/"],
                "CC BY-ND" : ["/static/doaj/images/cc/by-nd.png", "http://creativecommons.org/licenses/by-nd/3.0/"],
                "CC BY-SA" : ["/static/doaj/images/cc/by-sa.png", "http://creativecommons.org/licenses/by-sa/3.0/"]
            }
        -%}
        {%- set lic = journal.bibjson().get_license() -%}
        {%- if lic -%}
            {%- set urls = CC_MAP.get(lic.get("type")) -%}
            {%- if urls -%}
                <p><a href="{{urls[1]}}" title="{{lic.get('title')}}" target='blank'><img src="{{urls[0]}}" width='80' height='15' valign='middle' alt="{{lic.get('title')}}"></a></p>
            {%- endif -%}
        {%- endif -%}
        {%- set tick = journal.is_ticked() -%}
        {%- if tick -%}
            <img src='/static/doaj/images/tick_long.png' title='Accepted after March 2014' alt='Tick icon: journal was accepted after March 2014'>​
        {%- endif -%}
    </div>
</div>

<div class="row-fluid" style="margin-bottom: 30px">
    <div class="span2">&nbsp;</div>
    <div class="span4">
        <div class="box with-borders" style="height: 120px">
            {% if journal.bibjson().publisher %}
                <p><strong>Publisher</strong>:&nbsp;{{journal.bibjson().publisher}}</p>
            {% endif %}

            {% if journal.bibjson().institution %}
                <p><strong>Society/Institution</strong>:&nbsp;{{journal.bibjson().institution}}</p>
            {% endif %}

            {% if journal.bibjson().provider %}
                <p><strong>Host/Platform</strong>:&nbsp;{{journal.bibjson().provider}}</p>
            {% endif %}
        </div>
    </div>

    <div class="span4">
        <div class="box with-borders" style="height: 120px">
            {% if journal.bibjson().country %}
                <p><strong>Country</strong>:&nbsp;{{ countries.get(journal.bibjson().country, {}).get("name", journal.bibjson().country)}}</p>
            {% endif %}

            {% if journal.bibjson().language %}
                <p><strong>Language(s)</strong>:&nbsp;{{journal.bibjson().language|join(", ")}}</p>
            {% endif %}
        </div>
    </div>

</div>

{% set URL_TYPES = {
    "homepage" : "Journal Homepage",
    "waiver_policy" : "Waiver Policy",
    "editorial_board" : "Editorial Board",
    "aims_scope" : "Aims and Scope",
    "author_instructions" : "Instructions for Authors",
    "oa_statement": "Open Access Statement"
}
%}

<div class="row-fluid">
    <div class="span12">
        {% for url in journal.bibjson().get_urls() %}
            <strong>{{URL_TYPES.get(url.get("type"), url.get("type"))}}</strong>: <a href="{{url.get('url')}}">{{url.get("url")}}</a><br>
        {% endfor %}
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid"><div class="span12">
            <a href="#" id="journal_details_toggle">(more detail)</a>
        </div></div>
        <div class="row-fluid" id="journal_details">
            <div class="span12">
                {% if journal.bibjson().oa_start.get("year") %}
                    <strong>Year Open Access Began</strong>: {{journal.bibjson().oa_start.get("year")}}<br>
                {% endif %}

                {% if journal.bibjson().oa_end.get("year") %}
                    <strong>Year Open Access Ceased</strong>: {{journal.bibjson().oa_end.get("year")}}<br>
                {% endif %}

                <strong>Article Processing Charges (APCs)</strong>:
                {% if journal.bibjson().apc %}
                    {% if journal.bibjson().apc.get("currency") or journal.bibjson().apc.get("average_price") %}
                        Yes.
                            {{journal.bibjson().apc.get("average_price", "price unknown")}}{{journal.bibjson().apc.get("currency", " currency unknown")}}
                    {% endif %}
                {% else %}
                    No.
                {% endif %}
                {% if journal.bibjson().apc_url %}
                    <a href="{{ journal.bibjson().apc_url }}">{{ journal.bibjson().apc_url }}</a>
                {% endif %}
                <br>

                <strong>Submission Charges</strong>:
                {% if journal.bibjson().submission_charges %}
                    {% if journal.bibjson().submission_charges.get("currency") or journal.bibjson().submission_charges.get("average_price") %}
                        Yes.
                            {{journal.bibjson().submission_charges.get("average_price", "price unknown")}}{{journal.bibjson().submission_charges.get("currency", " currency unknown")}}
                    {% endif %}
                {% else %}
                    No.
                {% endif %}
                {% if journal.bibjson().submission_charges_url %}
                    <a href="{{ journal.bibjson().submission_charges_url }}">{{ journal.bibjson().submission_charges_url }}</a>
                {% endif %}
                <br>

                {% if journal.bibjson().archiving_policy %}
                    {% if journal.bibjson().archiving_policy.get("policy") or journal.bibjson().archiving_policy.get("url") %}
                    <strong>Archiving Policies</strong>: {{journal.bibjson().flattened_archiving_policies|join(", ")}}
                        {% if journal.bibjson().archiving_policy.get("url") %}
                        (<a href="{{journal.bibjson().archiving_policy.get('url')}}">{{journal.bibjson().archiving_policy.get("url")}}</a>)
                        {% endif %}
                    <br>
                    {% endif %}
                {% endif %}

                {% if journal.bibjson().editorial_review %}
                    {% if journal.bibjson().editorial_review.get("process") or journal.bibjson().editorial_review.get("url") %}
                    <strong>Editorial Review Process</strong>: {{journal.bibjson().editorial_review.get("process", "unknown process")}}
                        {% if journal.bibjson().editorial_review.get("url") %}
                        (<a href="{{journal.bibjson().editorial_review.get('url')}}">{{journal.bibjson().editorial_review.get("url")}}</a>)
                        {% endif %}
                    <br>
                    {% endif %}
                {% endif %}

                {% if journal.bibjson().plagiarism_detection %}
                    {% if journal.bibjson().plagiarism_detection.get("detection") or journal.bibjson().plagiarism_detection.get("url") %}
                    <strong>Has Plagiarism Detection</strong>: {{journal.bibjson().plagiarism_detection.get("detection", "uncertain")}}
                        {% if journal.bibjson().plagiarism_detection.get("url") %}
                        (<a href="{{journal.bibjson().plagiarism_detection.get('url')}}">{{journal.bibjson().plagiarism_detection.get("url")}}</a>)
                        {% endif %}
                    <br>
                    {% endif %}
                {% endif %}

                {% if journal.bibjson().article_statistics %}
                    {% if journal.bibjson().article_statistics.get("statistics") or journal.bibjson().article_statistics.get("url") %}
                    <strong>Has Article Statistics</strong>: {{journal.bibjson().article_statistics.get("statistics", "uncertain")}}
                        {% if journal.bibjson().article_statistics.get("url") %}
                        (<a href="{{journal.bibjson().article_statistics.get('url')}}">{{journal.bibjson().article_statistics.get("url")}}</a>)
                        {% endif %}
                    <br>
                    {% endif %}
                {% endif %}

                {% if journal.bibjson().deposit_policy %}
                    <strong>Deposit Policies</strong>: {{journal.bibjson().deposit_policy|join(", ")}}<br>
                {% endif %}

                {% if journal.bibjson().author_copyright %}
                    {% if journal.bibjson().author_copyright.get("copyright") or journal.bibjson().author_copyright.get("url") %}
                    <strong>Does Author Retain Copyright</strong>: {{journal.bibjson().author_copyright.get("copyright", "uncertain")}}
                        {% if journal.bibjson().author_copyright.get("url") %}
                        (<a href="{{journal.bibjson().author_copyright.get('url')}}">{{journal.bibjson().author_copyright.get("url")}}</a>)
                        {% endif %}
                    <br>
                    {% endif %}
                {% endif %}

                {% if journal.bibjson().author_publishing_rights %}
                    {% if journal.bibjson().author_publishing_rights.get("publishing_rights") or journal.bibjson().author_publishing_rights.get("url") %}
                    <strong>Does Author Retain Publishing Rights</strong>: {{journal.bibjson().author_publishing_rights.get("publishing_rights", "uncertain")}}
                        {% if journal.bibjson().author_publishing_rights.get("url") %}
                        (<a href="{{journal.bibjson().author_publishing_rights.get('url')}}">{{journal.bibjson().author_publishing_rights.get("url")}}</a>)
                        {% endif %}
                    {% endif %}
                    <br>
                {% endif %}

                {% if journal.bibjson().persistent_identifier_scheme|length > 0 %}
                    <strong>Persistent Identifier Schemes</strong>: {{journal.bibjson().persistent_identifier_scheme|join(", ")}} <br>
                {% endif %}

                {% if journal.bibjson().format|length > 0 %}
                    <strong>Full-text Formats</strong>: {{journal.bibjson().format|join(", ")}}<br>
                {% endif %}

                {% if journal.bibjson().publication_time %}
                    <strong>Time From Submission to Publication</strong>: {{journal.bibjson().publication_time}} weeks<br>
                {% endif %}

                {% if journal.bibjson().keywords %}
                    <strong>Keywords</strong>: {{journal.bibjson().keywords|join(", ")}}<br>
                {% endif %}

                {% for s in journal.bibjson().subjects() %}
                    {% if loop.index0 == 0 %}<strong>Subjects</strong>: {% endif %}
                    {% if loop.index0 > 0 %}, {% endif %}
                    {{ s.get("term") }}
                    {% if loop.last %}<br>{% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% if volumes|length > 0 %}

<div class="row-fluid" style="margin-top: 50px"><div class="span12"><h3>Volumes</h3></div></div>

<div class="row-fluid">
  <div class="span12" style="margin-bottom:10px;padding-bottom:5px;">
    {% for v in volumes %}
        <a class="bjsr volume btn{% if current_volume == v %} btn-info{% endif %}" id="vol_{{v}}" href="{{url_for('doaj.toc', identifier=journal.id, volume=v)}}">{{v}}</a>
    {% endfor %}
  </div>
</div>

<div class="row-fluid"><div class="span12"><h3>Issues in volume <span id="volumeid">{{current_volume}}</span></h3></div></div>

<div class="row-fluid">
  <div class="span12" style="margin-bottom:10px;padding-bottom:5px;" id="issuelist">
    {% for i in issues %}
        <a class="bjsr issue btn{% if current_issue == i %} btn-info{% endif %}" id="issue_{{i}}" href="{{url_for('doaj.toc', identifier=journal.id, volume=current_volume)}}/{{i}}">{{i}}</a>
    {% endfor %}
  </div>
</div>


<div class="row-fluid" style="border-bottom: 1px solid #cccccc; margin-bottom: 40px">
    <div class="span12" id="articlelist">
        
    </div>
</div>

{% else %}

    <p style="margin-top: 40px">No Table of Contents available for this journal</p>

{% endif %} {# if volumes| length > 0 #}

{% endblock %}

{% block extra_js_bottom %}

<script type="text/javascript">
$(document).ready(function() {

    $("#journal_details").hide()
    $("#journal_details_toggle").click(function(event) {
        event.preventDefault();
        $("#journal_details").toggle()
        if ($("#journal_details_toggle").html() == "(more detail)") {
            $("#journal_details_toggle").html("(less detail)")
        } else {
            $("#journal_details_toggle").html("(more detail)")
        }
    })

    var abstract_toggle = function(event) {
        event.preventDefault();
        var article_id = $(this).attr("data-article");
        $("#article_" + article_id).toggle();
    }
    
    var tidymonth = function(mth) {
        var mths = {
            "1" : "Jan", "2" : "Feb", "3" : "Mar", "4" : "Apr", "5" : "May", "6" : "Jun", "7" : "Jul", "8" : "Aug", "9" : "Sept", "10" : "Oct", "11" : "Nov", "12" : "Dec","01" : "Jan", "02" : "Feb", "03" : "Mar", "04" : "Apr", "05" : "May", "06" : "Jun", "07" : "Jul", "08" : "Aug", "09" : "Sept",
        }
        return mths[mth];
    }
    var updatearticles = function(data) {
        var content= '';
        var issuelist = data.issues;
        if (issuelist !== undefined ) {
            var isscontent = '';
            for ( var i in issuelist ) {
                isscontent += '<a class="bjsr issue btn" id="issue_' + issuelist[i] + '" href="/toc/{{journal.id}}/' + $('#volumeid').html() + '/' + issuelist[i] + '">' + issuelist[i] + '</a> ';
            }
            $('#issuelist').html(isscontent);
            $('.bjsr.issue').first().addClass('btn-info');
            $('.bjsr.issue').bind('click',bjsr);
        }
        var als = [];
        var sa = {};
        keys = [];
        var nsa = [];
        // sort the article list by start_page if present
        for ( var c in data.articles ) {
            if ( "bibjson.start_page" in data.articles[c] ) {
                if ( data.articles[c]["bibjson.start_page"].length > 0 ) {
                    sa[data.articles[c]["bibjson.start_page"]] = data.articles[c];
                    keys.push(data.articles[c]["bibjson.start_page"]);
                } else {
                    nsa.push(data.articles[c]);
                }
            } else {
                nsa.push(data.articles[c]);
            }
        }
        function sortNumber(a,b) { return a - b; }
        keys.sort(sortNumber);
        for ( var i = 0; i < keys.length; i++ ) {
            k = keys[i];
            als.push(sa[k]);
        }
        var articlelist = als.concat(nsa)
        // put the articles on the page
        for (var a in articlelist) {
            var artcl = articlelist[a];
            if ( a == 0 ) {
                if ( "bibjson.month" in artcl || "bibjson.year" in artcl ) {
                    content += '<h4 style="margin-bottom: 10px">(';
                    if ( "bibjson.month" in artcl ) {
                        content += tidymonth(artcl["bibjson.month"][0]);
                    }
                    if ( "bibjson.year" in artcl ) {
                        if ( "bibjson.month" in artcl ) { content += ' '; }
                        content += artcl["bibjson.year"][0];
                    }
                    content += ')</h4>';
                }
            }
            content += '<div class="row-fluid">';
            content += '<div class="span12" style="padding-left: 20px; padding-bottom: 5px">';
            content += '<strong>' + artcl["bibjson.title"][0] + '</strong><br>';
            for ( var ar in artcl["bibjson.author.name"] ) {
                if ( ar != 0 ) { content += ', '; }
                content += '<em>' + artcl["bibjson.author.name"][ar] + '</em>';
            }
            content += '<br>';
            for ( var ln in artcl["bibjson.link.url"] ) {
                if ( ln != 0 ) { content += ', '; }
                content += '<a href="' + artcl["bibjson.link.url"][ln] + '">' + artcl["bibjson.link.url"][ln] + '</a><br>';
            }
            if ( "bibjson.start_page" in artcl ) {
                content += 'pages: ' + artcl["bibjson.start_page"][0];
                if ( "bibjson.start_page" in artcl ) { content += '- ' + artcl["bibjson.start_page"][0]; }
                content += '<br>'
            }
            if ( "bibjson.abstract" in artcl ) {
                content += '<a href="#" class="abstract_toggle" data-article="' + artcl["id"][0] + '">(abstract)</a>';
                content += '<div class="abstract_box" id="article_' + artcl["id"][0] + '" style="display:none;">' + artcl["bibjson.abstract"][0] + '</div>';
            }
            content += '</div>';
            content += '</div>';
        }
        $('#articlelist').html(content);
        $(".abstract_toggle").bind('click',abstract_toggle);
    }
    var bjsr = function(event) {
        event.preventDefault();
        var url = $(this).attr('href');
        var jurl = url + '?bjsr=yes';
        if ( $(this).hasClass('volume') ) { jurl += '&bjsri=yes'; }
        $.getJSON(jurl, updatearticles);
        var vol = url.split('/')[3];
        var iss = url.split('/')[4];
        $('.bjsr').removeClass('btn-info');
        $('#vol_' + vol).addClass('btn-info');
        $('#volumeid').html(vol);
        if ( iss !== undefined ) {
            $('#issue_' + iss).addClass('btn-info');
        }
        if ('pushState' in window.history) {
            window.history.pushState("", "search", url);
        }
    }
    $('.bjsr').bind('click',bjsr);

    updatearticles({"articles": {{articles|tojson|safe}}});

});
</script>

{% endblock %}
































