{% extends "base.html" %}

{% block content %}
<h2>DOAJ Translated Versions of the Application Form</h2>

<p>We have created guides in several languages to help you fill in the <a href="{{url_for('doaj.suggestion')}}">
Application Form</a>.</p>

<ul>

  <li><a href="https://docs.google.com/spreadsheets/d/1CLsJ0omvd4U1GFoHLVjbdU_zxrAGNwI61LRH2bT4p0o/edit?usp=sharing">
  Chinese (中文)</a></li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AkfPCpIPjZlmdHpBQTh6UzVDell0ME1vd2V2OVRZUEE&usp=sharing">
  Farsi (فارسی)</a></li>
  <li><a href="https://drive.google.com/open?id=1bcrTdMPSImcIAG1cuksYdy4rJNS2L5w99r9h16WQKbI">
  Italian (Italiano)</a></li> 
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AkfPCpIPjZlmdFRHNloweVUzSDhGZ0NUSGc4QWRmUnc&usp=sharing">
  Polish (Polski)</a></li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AkfPCpIPjZlmdHZ3d0FLRTdCWTZIMWJSaHVkM2Y1Qmc&usp=sharing">
  Portuguese (Português)</a></li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AkfPCpIPjZlmdGc2S0ZxQWlKYVJFLWFHYjF2V3p3WVE&usp=sharing">
  Russian (Русский)</a></li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AkfPCpIPjZlmdEt3NHUwRC1yQ3BjSlN5N2I5X3VITXc&usp=sharing">
  Spanish (Español)</a></li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AkfPCpIPjZlmdE0zajZKQlFFaUU5Um9nQUFSSXBxUXc&usp=sharing">
  Turkish (Türkçe)</a></li>
  <li><a href="https://docs.google.com/spreadsheets/d/1VWcqYHPWhXZcZvaVYfRJGJ4oFJNGKKYNnnoLXFD2IBE/edit?usp=sharing">
  Ukrainian (Українська)</a></li>
  
  
</ul>

<p>The DOAJ thanks the following people for their translation work:<br/>
Maria Manuel Borges<br/>
Xiaotian Chen<br/>
Caio Coelho<br/>
Alexander Dimentov<br/>
Mohammed Reza Ghane<br/>
Andrea Marchitelli<br/>
Remedios Melero<br/>
Karolina Minch<br/>
Sergiy Nazarovets<br/>
Natalia Pamuła-Cieślak<br/>
Ewa Rozkosz<br/>
Lut Tamam<br/>
Lin Zhu
</p>

{% endblock %}
