{% extends "base.html" %}

{% block content %}
<h2>DOAJ Translated Versions of the Application Form</h2>

<p>We have created guides in several languages to help you fill in the <a href="{{url_for('doaj.suggestion')}}">
Application Form</a>.</p>

<ul>
  <li>Chinese</li>
  <li>Farsi</li>
  <li>Polish</li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AkfPCpIPjZlmdHZ3d0FLRTdCWTZIMWJSaHVkM2Y1Qmc&usp=sharing">
  Portuguese</a></li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AkfPCpIPjZlmdEt3NHUwRC1yQ3BjSlN5N2I5X3VITXc&usp=sharing">
  Spanish</a></li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AkfPCpIPjZlmdE0zajZKQlFFaUU5Um9nQUFSSXBxUXc&usp=sharing">
  Turkish</a></li>
  
</ul>

<p>The DOAJ thanks the following people for their translation work:<br/>
Maria Manuel Borges<br/>
Xiaotian Chen<br/>
Caio Coelho<br/>
Remedios Melero<br/>
Lut Tamam
</p>

{% endblock %}
