{% extends "base.html" %}

{% block content %}
<h2>DOAJ Translated Versions of the Application Form</h2>

<p>We have created guides in several languages to help you fill in the <a href="{{url_for('doaj.suggestion')}}">
Application Form</a>.</p>

<ul>

  <li><a href="https://docs.google.com/spreadsheets/d/1CLsJ0omvd4U1GFoHLVjbdU_zxrAGNwI61LRH2bT4p0o/edit?usp=sharing">
  Chinese</a></li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AkfPCpIPjZlmdHpBQTh6UzVDell0ME1vd2V2OVRZUEE&usp=sharing">
  Farsi</a></li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AkfPCpIPjZlmdFRHNloweVUzSDhGZ0NUSGc4QWRmUnc&usp=sharing">
  Polish</a></li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AkfPCpIPjZlmdHZ3d0FLRTdCWTZIMWJSaHVkM2Y1Qmc&usp=sharing">
  Portuguese</a></li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AkfPCpIPjZlmdGc2S0ZxQWlKYVJFLWFHYjF2V3p3WVE&usp=sharing">
  Russian</a></li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AkfPCpIPjZlmdEt3NHUwRC1yQ3BjSlN5N2I5X3VITXc&usp=sharing">
  Spanish</a></li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AkfPCpIPjZlmdE0zajZKQlFFaUU5Um9nQUFSSXBxUXc&usp=sharing">
  Turkish</a></li>
  
  
</ul>

<p>The DOAJ thanks the following people for their translation work:<br/>
Maria Manuel Borges<br/>
Xiaotian Chen<br/>
Caio Coelho<br/>
Alexander Dimentov<br/>
Mohammed Reza Ghane<br/>
Remedios Melero<br/>
Karolina Minch<br/>
Natalia Pamuła-Cieślak<br/>
Ewa Rozkosz<br/>
Lut Tamam<br/>
Lin Zhu
</p>

{% endblock %}
