{% extends "base.html" %}

{% block content %}

<h2>Volunteering for DOAJ</h2>
<p>DOAJ would not be able to do the work that it does without the help of its volunteers. We are grateful for the hours 
that all our volunteers contribute by reviewing new applications and reapplications.</p>

<p>In August 2015, DOAJ started a volunteer certificate scheme. A certificate, signed by the Editor-in-Chief and 
Managing Director, will be awarded to all volunteers who have reviewed more than XX applications or reapplications and a
new certificate will be awarded for every XX applications thereafter.</p>

<p>For more information on how to volunteer, please take a look at <a href="http://bit.ly/1Jb3TKi">our volunteer 
announcement</a> and then, if you are interested in becoming a reviewer, <a href="http://bit.ly/1CJuJYG">apply here.</a></p>

{% endblock %}
