{% extends "base.html" %}

{% block content %}

<h2>Volunteering for DOAJ</h2>

<p>DOAJ would not be able to do the work that it does without the help of its volunteers. We are grateful for the hours 
that all our volunteers contribute by reviewing new applications. We send our volunteers a bimonthly newsletter in order to share updates and news from the managing team; editorial group performance updates; industry updates and upcoming events; and we highlight tools to help them in their role.</p>

<!-- <p>For more information on how to volunteer, please take a look at <a href="http://bit.ly/1Jb3TKi">our volunteer 
%announcement</a> and then, if you are interested in becoming a reviewer, <a href="http://bit.ly/1CJuJYG">apply here.</a></p> -->

<h3>Our Volunteers</h3>

<p><b>EDITORS</b></p>

<ul>
  <li>Alicia Aparicio</li>
  <li>Bartolomeu Leite da Silva</li>
  <li>David Scherer</li>
  <li>Emilie Champagne</li>
  <li>Fei Yu</li>
  <li>Geoff Husic</li>
  <li>Iemima Ploscariu</li>
  <li>Lut Tamam</li>
  <li>Natalia Pamuła-Cieślak</li>
  <li>Paola Galimberti</li>
  <li>Prof. Dr. Aminuddin Salle</li>
  <li>Rasoul Zavaraqi</li>
  <li>S.Suharto</li>
  <li>Scott Richard St. Louis</li>
  <li>Souheil Houissa</li>
  <li>Xiaotian Chen</li>

  </ul>

  <p><b>ASSOCIATE EDITORS</b></p>
  
 <ul>
 <li>Agata Duda</li>
  <li>A. Sulthan</li>
 <li>Aji Prasetya Wibawa</li>
 <li>Alessandro Pierno</li>
 <li>Alfonso Bustos</li>
 <li>Ali Shayanfar</li>
 <li>Alina Anisimova</li>
 <li>Alireza Salehi Nejad</li>
 <li>Amir Aidun</li>
 <li>Ana Fresco-Santalla</li>
 <li>Andista Candra Yusro</li>
 <li>Andrea Imre</li>
 <li>Andrea Marchitelli</li>
 <li>Andrea Wright</li>
 <li>Andri Pranolo</li>
 <li>Andronic Octavian</li>
 <li>Anna Wolodko</li>
 <li>Annarita Barbaro</li>
 <li>Anne Lahey</li>
 <li>Asim Ari</li>
 <li>Asst. Prof. Dr. Felor Ebghaei</li>
 <li>Ben Catt</li>
 <li>Bernardeta Iwańska-Cieślik</li>
 <li>Chitu Okoli</li>
 <li>Christine Davidian</li>
 <li>Concha Diez Pastor</li>
 <li>Deborah Lins e Nóbrega</li>
 <li>Dedi Rahman Nur</li>
 <li>Dian Eka Indriani</li>
 <li>Dr. Eko Supraptono</li>
 <li>Dr. Ir. Dyah Rini Indriyanti</li>
 <li>Dr. Tarig Osman Khider</li>
 <li>Elisangela Gisele do Carmo</li>
 <li>Elli Papadopoulou</li>
 <li>Enerel Dambiinyam</li>
 <li>Enes Sukic</li>
 <li>Enver Ahmet Demir</li>
 <li>Fernanda Gutierrez Arrieta</li>
 <li>Firat Basbug</li>
 <li>Francesca Soldati</li>
 <li>Francesco Cavinato</li>
 <li>Geoff Husic</li>
 <li>Georgios Leontidis</li>
 <li>Gerald Langhanke</li>
 <li>Gertrud Pluskwik</li>
 <li>Haing Keum Lee</li>
 <li>Hanae Lrhoul</li>
 <li>Iryna Kuchma</li>
 <li>Isabel Margalejo Ferrández</li>
 <li>Jacinto Dávila</li>
 <li>Jamila Jaber</li>
 <li>Juan Sebastian Gonzalez</li>
 <li>Kamil B. Varınca</li>
 <li>Karima Akool Al-Sahili</li>
 <li>Katharine Dunn</li>
 <li>Kimberly Mears</li>
 <li>Krzysztof Pietruszewski</li>
 <li>Ladan Fathi</li>
 <li>Liana Penabad Camacho</li>
 <li>Lin Zhu</li>
 <li>Lola Park</li>
 <li>Lorri Peters</li>
 <li>Magdalena Szuflita</li>
 <li>Malgorzata Zajac</li>
 <li>Marcau Flavius-Cristian</li>
 <li>Marco Tullney</li>
 <li>Maria Chiara Pievatolo</li>
 <li>Maria Manuel Borges</li>
 <li>Mariana Solano Hernandez</li>
 <li>Marianne Gagnon</li>
 <li>Mélanie Jean</li>
 <li>Miguel-Ángel Vera-Baceta</li>
 <li>Mohsen Fazeli</li>
 <li>Muhamad Ratodi</li>
 <li>Muhammad Karfa Bizi</li>
 <li>Mustafa YAVUZ</li>
 <li>Niamh Ennis</li>
 <li>Nicolas Sartori</li>
  <li>Oana Gheorghiu</li>
 <li>Oleksii Vasyliev</li>
 <li>Pentti Nieminen</li>
 <li>Prof. Dr. Sudarmin</li>
 <li>Raluca Enescu</li>
 <li>Remedios Melero (Reme)</li>
 <li>Rhonda Marker</li>
 <li>Ricardo Peres do Souto</li>
 <li>Richard James</li>
 <li>Ruslan</li>
 <li>S. Mohammad Amini</li>
 <li>Sara Ricetto</li>
 <li>Sergiy Nazarovets</li>
 <li>Seyed Ali Rezvani Kalajahi</li>
 <li>Simone Rosenkranz</li>
 <li>Stewart C Baker</li>
 <li>Sudarmawan Samidi</li>
 <li>Sumi Kang</li>
 <li>Swasti Maharani</li>
 <li>Teodor Mihaela</li>
 <li>Tereza Simandlová</li>
 <li>Umar Khasan</li>
 <li>Victor Freitas de Azeredo Barros</li>
 <li>Volkan Demir</li>
 <li>Weronika Kortas</li>
 <li>Yaping Liu</li>
 <li>Yoonhee Cho</li>


      
  </ul>
</ul>

{% endblock %}
