{% extends "base.html" %}

{% block content %}

<h2>Volunteering for DOAJ</h2>
<p>DOAJ would not be able to do the work that it does without the help of its volunteers. We are grateful for the hours 
that all our volunteers contribute by reviewing new applications and reapplications.</p>

<p>To coincide with Open Access Week 2015, DOAJ is launching a volunteer loyalty program. A certificate, signed by the 
Editor-in-Chief and the Managing Director, will be awarded to all volunteers for every 25 completed records (applications or reapplications)
that result in an Accept/Reject decision. A new certificate will be awarded for every 25 records thereafter.</p>

<p>Take a look at <a href="https://doajournals.wordpress.com/2015/09/26/open-access-week-2015-and-the-doaj-volunteer-loyalty-program/">our sample certificates in the New Service blog post</a>.</p>

<p>We're also exploring the option of awarding <a href="http://openbadges.org/">Mozilla Open Badges</a> so that a DOAJ 
volunteer can officially declare their work. We are considering hosting an annual virtual volunteer meeting to bring our 
volunteers together and give them the opportunity to network, exchange ideas or ask questions. Watch this space!</p>

<p>For more information on how to volunteer, please take a look at <a href="http://bit.ly/1Jb3TKi">our volunteer 
announcement</a> and then, if you are interested in becoming a reviewer, <a href="http://bit.ly/1CJuJYG">apply here.</a></p>

<h3>Our Volunteers</h3>
<p>Our thanks go to all our volunteers, and especially the following people who have been awarded certificates in 2015 for their work for DOAJ and who are making an active contribution to
the quality and reputation of open access:</p>

<p><b>EDITORS</b></p>

<ul>
  <li>Andrew Wesolek</li>
  <li>Dee Broughton</li>
  <li>Xiaotian Chen</li>
  <li>Falk Reckling</li>
  <li>Fei Yu</li>
  <li>Paola Galimberti</li>
  <li>S. Suharto</li>
  <li>I. Istadi</li>
  <li>Ewelina Marta Krakowska</li>
  <li>Lut Tamam</li>
  <li>Rafael Mattos dos Santos</li>
  <li>Remedios Melero &#40;Reme&#41;</li>
  <li>Souheil Houissa</li>
  <li>Rasoul Zavaraqi</li>
  <li>Eva Jurczyk</li></ul>
  
  <p><b>ASSOCIATE EDITORS</b></p>
  
  <ul>
    <li>Christine Fruin</li>
    <li>Kat Greer</li>
    <li>Sergey Plygun</li>
    <li>Geoff Husic</li>
    <li>Georgios Leontidis</li>
    <li>Seyed Ali Rezvani Kalajahi</li>
    <li>Andrea Marchitelli</li>
    <li>Devin R Berg</li>
    <li>Stewart C Baker</li>
    <li>Alina Anisimova</li>
    <li>Iryna Kuchma</li>
  </ul>

{% endblock %}
