{% extends "base.html" %}

{% block content %}

<h2>DOAJ widgets</h2>
<br>
<div style="padding: 4px">
<h3>Simple search widget</h3>
Just copy and paste this on the page on which you want the widget to displayed.

{% if env=="dev" %}
<pre>
&lt;script src="http://localhost:5004/static/widget/simple_search_dev.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;div id="doaj-simple-search-widget"&gt;&lt;/div&gt;
</pre>

Example:
<script src="http://localhost:5004/static/widget/simple_search_dev.js" type="text/javascript"></script>
<div id="doaj-simple-search-widget"></div>

{% elif env=="test" %}
<pre>
&lt;script src="https://testdoaj.cottagelabs.com/static/widget/simple_search_test.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;div id="doaj-simple-search-widget"&gt;&lt;/div&gt;
</pre>

Example:
<script src="https://testdoaj.cottagelabs.com/static/widget/simple_search_test.js" type="text/javascript"></script>
<div id="doaj-simple-search-widget"></div>

{% elif env=="staging" %}
<pre>
&lt;script src="https://stagingdoaj.cottagelabs.com/static/widget/simple_search_staging.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;div id="doaj-simple-search-widget"&gt;&lt;/div&gt;
</pre>

Example:
<script src="https://stagingdoaj.cottagelabs.com/static/widget/simple_search_staging.js" type="text/javascript"></script>
<div id="doaj-simple-search-widget"></div>


{% elif env=="production" %}
<pre>
&lt;script src="https://doaj.org/static/widget/simple_search.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;div id="doaj-simple-search-widget"&gt;&lt;/div&gt;
</pre>

Example:
<script src="https://doaj.org/static/widget/simple_search.js" type="text/javascript"></script>
<div id="doaj-simple-search-widget"></div>
{% endif %}

</div>
<br>
<div style="padding: 4px">

<h3>Fixed query widget</h3>
This renders a set of results from the DOAJ based on a query fixed in JavaScript.
Copy and paste the following on the page where you want the widget to displayed.

{% if env=="dev" %}
<pre>
&lt;script src="http://localhost:5004/static/widget/fixed_query_dev.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;div id="doaj-fixed-query-widget"&gt;&lt;/div&gt;
</pre>

Example:
<script type="text/javascript">
var QUERY_OPTIONS = {
    q : 'medicine',                                                   // The plain-text query string
    page_size : 5,                                                 // How many results to show
    from : 0,                                                       // Which result to start from
    searchfield: 'bibjson.title',                                   // The field we are querying
    sort: [{'index.unpunctitle.exact': {order: "asc"}}],           // Field to order on and direction
    default_operator : "AND",                                       // Which sort operator to use
    predefined_filters: {_type: ["journal"]}                        // Set which type to search upon
    }
</script>
<script src="http://localhost:5004/static/widget/fixed_query_dev.js" type="text/javascript"></script>
<div id="doaj-fixed-query-widget" style="width: 100%"></div>
{% endif %}

</div>
{% endblock %}
