<script type="text/javascript" src="/static/vendor/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script type="text/javascript" src="/static/js/doaj.js"></script>
<link rel="stylesheet" href="/static_content/_site/css/main.css">
{#<div id="doaj_logo_container">#}
{#    <a href="http://localhost:5004/" target="_blank"><img id="doaj-fixed-query-logo" src="/static/doaj/images/logo.svg" alt="Directory of Open Access Journals" title="Directory of Open Access Journals"></a>#}
{#</div>#}
<div class="facetview journals_and_articles">
</div>

<script type="text/javascript">

    $.extend(true, doaj, {
        publicSearchConfig : {
            publicSearchPath : '{{ url_for("query.query", path="journal/_search") }}?ref=public_journal',
            lccTree: {{ lcc_tree|tojson }}
        }
    });
</script>
<script type="text/javascript" src="/static/vendor/edges/src/edges.jquery.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/es.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/edges.js?v={{config.get('DOAJ_VERSION')}}"></script>

<script type="text/javascript" src="/static/js/doaj.fieldrender.edges.js?v={{config.get('DOAJ_VERSION')}}"></script>

<script type="text/javascript" src="/static/vendor/edges/src/templates/bs3.Facetview.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/components/selectors.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/components/search.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.ResultCountRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.SortRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.FacetFilterSetterRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>



<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.RefiningANDTermSelectorRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.ORTermSelectorRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.ResultsFieldsByRowRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.PagerRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.SelectedFiltersRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.SearchingNotificationRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.DateHistogramSelectorRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/widget/fixed_query_src_edges.js"></script>
