.brackets.json
*.pyc
*.egg-info/*
src*
.Python
build/*
dist/*
tmp/*
*.zip

# PyCharm and other IntelliJ-based IDE-s and editors' folder:
.idea
# vim swap files
.*.swp

*.cfg

media/*
portality/default_templates/pagemanager/content/*
upload/*
cache/csv/*.csv
cache/sitemap/*.xml
portality/migrate/p1p2/*.csv
portality/migrate/p1p2/*.csv.bak

deploy/newrelic.ini

# test detritous
doajtest/unit/*.csv

# Logs created while debugging
*.log

# history system for local development environments
history/article/*
!history/article/.gitkeep
history/journal/*
!history/journal/.gitkeep

.s3fs-credentials
# local changes devs have made to the docker setup
docker/docker-compose.override.yml

# ipython and jupyter related files
.ipynb_checkpoints/
# only ignore jupyter notebooks in the root - we might want to share
# some around in a subfolder in the future
/*.ipynb

### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
