# Local env file
.env
env/

.brackets.json
*.pyc
*.egg-info/*
src*
.Python
build/*
dist/*
tmp/*
*.zip
.env
scratch.py
.coverage
htmlcov/*

# PyCharm and other IntelliJ-based IDE-s and editors' folder:
.idea
# vim swap files
.*.swp

# Don't push our dev configs or the secret app configs.
dev.cfg
app.cfg

# directories of transient stuff that gets created locally
media/*
upload/*
!upload/README.md
failed_articles/*
!failed_articles/README.md
cache/csv/*.csv
cache/sitemap/*.xml
portality/migrate/p1p2/*.csv
portality/migrate/p1p2/*.csv.bak
local_store/main/*
!local_store/main/README.md
local_store/tmp/*
!local_store/tmp/README.md

# test detritous
doajtest/unit/*.csv

# Logs created while debugging
*.log

# history system for local development environments
history/article/*
!history/article/.gitkeep
history/journal/*
!history/journal/.gitkeep

.s3fs-credentials
# local changes devs have made to the docker setup
docker/docker-compose.override.yml

# ipython and jupyter related files
.ipynb_checkpoints/
# only ignore jupyter notebooks in the root - we might want to share
# some around in a subfolder in the future
/*.ipynb

### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


## Local storage
local_store/main/*
!local_store/main/README.md
local_store/tmp/*
!local_store/tmp/README.md

# Static site / Jekyll
.sass-cache/
.jekyll-cache/
.jekyll-metadata

/static_content/css/*
