*.pyc
*.egg-info/*
src*
.Python
build/*
dist/*

# PyCharm and other IntelliJ-based IDE-s and editors' folder:
.idea
# vim swap files
.*.swp

*.cfg

media/*
portality/default_templates/pagemanager/content/*
upload/*
cache/csv/*.csv
cache/sitemap/*.xml
portality/migrate/p1p2/*.csv
portality/migrate/p1p2/*.csv.bak

deploy/newrelic.ini

# reapplication debris
reapp_csvs/*.csv
upload_reapplication/*
email_list_11_plus.csv
email_list_less_11.csv
emails_rejected.csv
