/* Page header */

.page-header {
  background-color: #F8F2ED;
}

.page-header h1 {
  margin-top: 0;
}

.page-header {
  text-transform: uppercase;
}

.page-header ul {
  padding: 0;
  list-style: none;
}

.page-header a {
  text-decoration: none;
}

.page-header .feather {
  height: 20px;
  vertical-align: sub;
}

.page-header-top {
  position: fixed;
  width: 100vw;
  z-index: 10;
  background-color: #F8F2ED;
}

/* Logo */
.logo-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
}

.logo {
  height: 30px;
}

.logo path {
  fill: #282624;
}

/* Nav */

.nav-top {
  height: 50px;
  font-weight: 600;
}

.nav-top ul {
  display: flex;
  justify-content: space-between;
}

.nav-bottom {
  padding-top: 50px;
}

.nav-bottom ul {
  border-bottom: 1px solid #282624;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.nav-bottom li:last-child {
  margin-left: 40%;
}

.nav-bottom a {
  display: block;
  line-height: 50px;
  color: #5C5956;
}

.nav-bottom .feather {
  stroke: #5C5956;
}

/* Themed posts */

.themed-posts article a {
  display: block;
  padding: 0.85em 0;
  margin-bottom: 1em;
  border-top: 1px dashed #982E0A;
  text-decoration: none;
}

.themed-posts article a:hover,
.themed-posts article a:focus,
.themed-posts article a:active {
  border-top: 1px solid #982E0A;
}

/* New journals */

.new-journals ul {
  padding-left: 0;
  list-style: none;
}

.new-journals li:nth-child(4n+1) {
  clear: both;
}

.new-journals li a {
  display: block;
  padding: 0.85em 0;
  margin-bottom: 1em;
  border-top: 1px dashed #982E0A;
  text-decoration: none;
}

.new-journals li a:hover,
.new-journals li a:focus,
.new-journals li a:active {
  border-top: 1px solid #982E0A;
}

/* Stats */

.stats {
  border-left: 1px dashed #982E0A;
}

.stats:first-of-type {
  border-left: 0;
}

.stats a {
  display: block;
  padding-rights: 3em;
  text-decoration: none;
}

.stats .stat {
  display: block;
  font-family: 'Spectral', serif;
  letter-spacing: -0.04em;
  font-weight: 600;
  font-size: 2rem;
}

.stats .desc {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #5C5956;
}

/* Eyebrow */
.eyebrow + h3 {
  margin-top: 0;
}

.eyebrow {
  margin: 0 0 0.75rem 0;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
  color: #982E0A;
}

/* Blog */

.blog article a {
  display: block;
  margin-bottom: 2rem;
  text-decoration: none;
}

.latest-post a {
  box-shadow: none;
  padding: 4rem 2rem;
  position: relative;
  display: inline-block;
  border: 1px solid #982E0A;
  top: 0.5em;
  bottom: -0.5em;
  right: -0.5em;
  left: 0.5em;
  transition: all 90ms ease-in;
  text-decoration: none;
  background-color: #982E0A;
  color: #FEFBF8;
}

.latest-post a:before {
  outline: 1px solid #982E0A;
  background: #FEFBF8;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -0.5em;
  bottom: 0.5em;
  right: 0.5em;
  left: -0.5em;
  z-index: -5;
  transition: all 90ms ease-in;
}

.latest-post a:hover,
.latest-post a:active,
.latest-post a:focus {
  box-shadow: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.latest-post a:hover:before,
.latest-post a:active:before,
.latest-post a:focus:before {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.latest-post .eyebrow {
  color: #FEFBF8;
}

/* Community */

.volunteers article figure {
  position: relative;
  margin: 1rem 0 1.5rem 0;
  width: 225px;
  background-color: rgba(152, 46, 10, 0.25);
}

.volunteers article figure:after {
  position: absolute;
  left: 225px;
  content: '';
  height: 150px;
  width: 75px;
  background-color: rgba(152, 46, 10, 0.25);
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}

.volunteers article img {
  mix-blend-mode: multiply;
}

.volunteers .desc {
  color: #5C5956;
  font-size: smaller;
  margin-bottom: 0.25rem;
}

.volunteers .discipline {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  color: #982E0A;
  margin-bottom: 0.75rem;
}

/* Funders */

.funders {}

.funder {
  padding-left: 1em;
  border-left: 1px dashed #982E0A;
}

/* Legal stuff */

.legal {
  border-top: 1px solid #FEFBF8;
}

.legal p:last-of-type {
  text-align: right;
}

.legal a {
  margin-right: 3em;
}

/* 3D buttons */

.button {
  box-shadow: none;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  border: 1px solid;
  top: 0.25em;
  bottom: -0.25em;
  right: -0.25em;
  left: 0.25em;
  transition: all 90ms ease-in;
  text-decoration: none;
}

.button:before {
  outline: 1px solid #982E0A;
  background: #FEFBF8;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -0.25em;
  bottom: 0.25em;
  right: 0.25em;
  left: -0.25em;
  z-index: -5;
  transition: all 90ms ease-in;
}

.button:hover,
.button:active,
.button:focus {
  box-shadow: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.button:hover:before,
.button:active:before,
.button:focus:before {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.primary-button {
  background: #982E0A;
  color: #FEFBF8;
  border-color: #982E0A;
}

.primary-button:hover,
.primary-button:active,
.primary-button:focus {
  color: #FEFBF8;
}

.secondary-button {
  background: #FEFBF8;
  border-color: #982E0A;
  color: #982E0A;
}

.secondary-button:hover,
.secondary-button:active,
.secondary-button:focus {
  color: #982E0A;
}

/* Input groups */

.input-group {
  margin: 1rem 0;
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group input,
.input-group select {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  display: table-cell;
}

/* This is specific to the homepage search bar... */
.input-group input[type="text"] {
  width: 50%;
}

.input-group select {
  width: 30%;
  margin-left: -1px;
}
.input-group input[type="submit"] {
  width: 20%;
  margin-left: -1px;
}
