---
title: Exemple du détail d'un projet
permalink: detail
---

<!DOCTYPE html>
<html lang="fr-ca">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="container detail">

      <div class="row">

        <!-- Metadata -->
        <div class="col-md-10 col-md-offset-1 detail-metadata">

          <p>
            <a href="projets" class="">← Projets</a>
          </p>

          <h2>Exemple du détail d'une page</h2>

          <hr>

          <div class="row">

            <dl class="col-sm-6">

              <dt>Corpus</dt>
              <dd><a href="#">Érudit, revues savantes</a> <br><a href="#">BAnQ, revues patrimoniales numérisées</a></dd>

              <dt>Disciplines</dt>
              <dd>politique <br>littérature <br>histoire</dd>

              <dt>Période</dt>
              <dd>2015 à 2017</dd>

            </dl>

            <dl class="col-sm-6">

              <dt>Approche</dt>
              <dd>Ut a ligula eu ipsum convallis mollis nec at sem. Proin rhoncus dictum urna non porttitor. In imperdiet elementum nisl quis dignissim.</dd>

              <dt>Outils</dt>
              <dd><a href="#">Full Text Analysis with Partial User-Initiated Search Queries</a></dd>

            </dl>

          </div>

        </div>

        <!-- Main description  -->
        <div class="col-xs-12 detail-description">

          <div class="row">

            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

              <h3 class="sr-only">Description</h3>

              <p>
                Ce projet vise à identifier les perméabilités entre le discours politique et la culture littéraire à l’ère duplessiste. Il est communément admis que le parti de Duplessis était réfractaire aux intellectuels et au savoir livresque. Or, l’hypothèse de départ de cette recherche est que les références à la littérature étaient tout de même récupérées par les politiciens à titre de capital culturel et symbolique. Par une fouille ciblée dans le Journal de l’Assemblée nationale et dans les archives du Devoir, notamment, cette étude vise à retracer la présence d’un discours littéraire dans les discours des ministres de Duplessis et chez les chroniqueurs politiques, et en comprendre la portée et la teneur.
              </p>

              <ol>
                <li>Phasellus vel nibh sodales, efficitur mi eget, fringilla felis.</li>
                <li>Vivamus vestibulum nunc sed ipsum porta ultrices.</li>
                <li>Sed tempor urna mattis, dictum tellus sed, commodo dolor.</li>
                <li>Nullam eget orci non turpis convallis commodo a ut nisl.</li>
                <li>Quisque malesuada felis ac augue pharetra, in placerat nisl posuere.</li>
              </ol>

              <p>Mauris facilisis urna ut nibh dignissim, eget tempor nisi tempor.</p>

              <blockquote>Donec egestas quam tempor, convallis nulla ut, tempus nisi. Nam ac arcu congue, fermentum turpis in, sodales urna.</blockquote>

            </div>

          </div>

        </div>

        <!-- Visuals -->
        <div class="detail-graphs">

          <div class="col-xs-12">
            <h3>Visuel</h3>
          </div>

          <ul class="list-unstyled">
            <li class="col-md-4">
              <figure>
                <img src="img/graph2.png"/>
                <h4>Fig. 1 Lorem ipsum</h4>
                <figcaption>
                  Morbi in ligula vulputate, mollis nisl vitae, volutpat sem. Sed tempus libero in velit efficitur, eget varius tortor finibus.
                </figcaption>
              </figure>
            </li>

            <li class="col-md-4">
              <figure>
                <img src="img/graph4.png"/>
                <h4>Fig. 2 Lorem ipsum</h4>
                <figcaption>
                  Morbi in ligula vulputate, mollis nisl vitae, volutpat sem. Sed tempus libero in velit efficitur, eget varius tortor finibus.
                </figcaption>
              </figure>
            </li>

            <li class="col-md-4">
              <figure>
                <img src="img/graph3.png"/>
                <h4>Fig. 3 Lorem ipsum</h4>
                <figcaption>
                  Morbi in ligula vulputate, mollis nisl vitae, volutpat sem. Sed tempus libero in velit efficitur, eget varius tortor finibus.
                </figcaption>
              </figure>
            </li>
          </ul>

        </div>
      </div>

    </main>

    {% include footer.html %}

  </body>

</html>
