#ELASTIC_SEARCH_HOST = "http://10.131.99.251:9200"                   # doaj-new-index-1
ELASTIC_SEARCH_HOST = "http://10.131.35.67:9200"                    # doaj-new-index-2

                            # doaj-new-app-1         doaj-bg-app-1
APP_MACHINES_INTERNAL_IPS = ['10.131.100.180:5050', '10.131.56.133:5050']

# The app is served via nginx / cloudlflare - they handle SSL
SSL = False
DEBUG = False

NO_QUERY = ['account', 'journal', 'article', 'editor_group', 'suggestion', 'upload', 'provenance']

# Prevent sending emails containing each exception (a portality feature)
SUPPRESS_ERROR_EMAILS = True

FEATURES = ['api']

# Appdata directory
DATA_ROOT="/home/cloo/appdata/doaj/"
UPLOAD_DIR=DATA_ROOT + "upload"
FAILED_ARTICLE_DIR=DATA_ROOT + "failed_articles"
CACHE_DIR=DATA_ROOT + "cache"
ARTICLE_HISTORY_DIR=DATA_ROOT + "history/article"
JOURNAL_HISTORY_DIR=DATA_ROOT + "history/journal"

GOOGLE_ANALTYICS_LOG_DIR = DATA_ROOT + 'ga_logs'

# Anonymous data exports to Amazon S3
STORE_IMPL = "portality.store.StoreS3"
STORE_LOCAL_DIR = DATA_ROOT + "local_store/main"
STORE_TMP_DIR = DATA_ROOT + "local_store/tmp"

ELASTIC_SEARCH_SNAPSHOT_REPOSITORY = 'doaj-index-backups'

# hotjar id - not secret, but shouldn't be present except in production
HOTJAR_ID = 1039257
