# In order to install doaj you need to run
# pip install -r requirements.txt
# (i.e. target this file with the -r switch on pip).

# first get esprit, specifically the version we know will work (+ it's
# not on PyPI)
-e git+https://github.com/CottageLabs/esprit.git@014ed19485ee3bf6967ab8a71a3a1f7df9f872035#egg=esprit
-e git+https://github.com/CottageLabs/dictdiffer.git@cc86c1ca1a452169b1b2e4a0cb5fc9e6125bc572#egg=dictdiffer
-e git+https://github.com/CottageLabs/flask-swagger.git@4b6cdc7f40617585a203c95166678dba228b72e8#egg=flask-swagger

# now run the normal setup.py and get all the normal PyPI dependencies from there
-e .
