em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

img {
    vertical-align: middle;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 1em;
    font-size: 14px;
}

.swagger-section {
    font-size: 15px;
}

.with-borders.sidebar-nav {
    display: none;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
}

#swagger-ui-container #resources_container > .footer > h4 {
    display: none;
}

.search-query-docs {
    font-weight: normal;
}


.swagger-section .swagger-ui-wrap ol {
    list-style-type: decimal;
}

.swagger-section .swagger-ui-wrap ol li {
    font-size: 14px;
}

#extra-docs > ul {
    list-style: disc inside;
}

#extra-docs > ul > li {
    margin-bottom: 0.3em;
}

ul.options {
    font-size: 125%;
}

#api_info {
    line-height: 150%;
}
