/* Changing the styles of whole elements */

body {
    padding-top: inherit;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
}

.btn-doaj {
    background-color: #F68B1F;
    background-image: -moz-linear-gradient(center top , #F6EDE5, #F6BC82);
    background-image: -webkit-linear-gradient(top, #F6EDE5, #F6BC82);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F68B1F',endColorstr='#F6BC82',GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F68B1F',endColorstr='#F6BC82',GradientType=0)";*/
    border-color: #F68B1F #F68B1F #F68411;
}
/*.btn-doaj:hover {
    filter: none;
    -ms-filter: none;
}*/

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(246, 139, 31, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(246, 139, 31, 0.6);
}

select {
    background-color: white;
}

/* Classes */
.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.orange {
    color: #F68B1F;
}

.red {
    color: #C2020C;
}

.green {
    color: #0C991F;
}

.blue {
    color: #7073FF;
}

a.readonly_journal_link {
    margin-right: 10px;
}

.input-tiny {
    width: 20px;
}

.box .long-label {
    line-height: 32px;
}

.box-row + .box-row {
    margin-top: 2em;
}

.centre-text-container,
.big.box {
    text-align: center;
}

.with-borders {
    border: 1px solid #F68B1F;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(246, 139, 31, 0.6);*/
    border-radius: 6px;
}

.box {
    padding: 0.5em;
}

.box.slim p {
    line-height: 1;
}

.big.box {
    padding: 1em;
    font-size: 250%;
}

.main-content {
    padding-top: 2em;
    padding-bottom: 2em;
}

.navbar-inner {
    background-color: #F68B1F;
    background-image: none;
    border-radius: 0;
    filter: none;
    -ms-filter: none;
    /*
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F68B1F',endColorstr='#F68B1F',GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#222222',GradientType=0)";
    */
}

.navbar .container {
    width: 90%;
}

.navbar .btn-navbar {
    background-color: white;
    background-image: none;
    border-color: white;
    box-shadow: none
}

.navbar .btn-navbar .icon-bar {
    background-color: #F68B1F;
    box-shadow: none
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    font-weight: inherit;
}

.navbar .btn-navbar:hover, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
    background-color: white;
}

.navbar .nav > li > a {
    color: #FFF;
    text-shadow: none;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover, .navbar .nav > li:hover, .navbar .nav > li > a:hover {
    color: #F68B1F;
    background-color: white;
}

.sidebar-nav {
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.side > .sidebar-nav:first-child {
    margin-top: 0;
}

.side > [class*="span"] {
    margin-left: 0;
}

.sidebar-nav .nav > li > a:hover {
    background-color: rgba(246, 139, 31, 1); /*inherit;*/
    color: white;
    text-shadow: none;
}

.input-append button.add-on {
    height: inherit !important;
}

.form-horizontal.wide .control-label {
    width: 200px;
}

.form-horizontal.wide .controls,
.form-horizontal.wide .form-status,
.form-horizontal.wide .heading-aligned-with-fields
{
    margin-left: 220px;
}

.form-horizontal.wide .heading-no-margin-bottom {
    margin-bottom: 0;
}

.form-horizontal .nested-field-container .control-label {
    width: auto;
    margin-right: 1em;
}

.form-horizontal .nested-field-container .controls {
    margin-left: 0;
}

.form-horizontal.wide h1,
.form-horizontal.wide h2,
.form-horizontal.wide h3,
.form-horizontal.wide h4,
.form-horizontal.wide h5,
.form-horizontal.wide h6 {
    margin-bottom: 1em;
}

.form-horizontal.wide .form-status {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.form-horizontal.wide .form-section {
    margin-top: 1em;
    padding: 0.5em 1.5em;  /* top/bottom, left/right */
}

.nested-field-container textarea {
    height: 5em;
}

.control-group.error .help-block,
.control-group.error .help-inline,
.control-group.error .radio {
    color: #333;
}

.error ul.errors {
    color: #D60500;
}

.error .select2-choice {
    border-color: #b94a48;
}

.control-group.error input.extra_input_field {
    border-color: #ccc;
    color: #555;
}

.checkboxes ul {
    list-style: none outside none;
    margin-left: 0;
}

.checkboxes ul.errors {
    list-style: disc;
    margin-left: 25px;
}

.checkboxes label {
    display: inline;
}

label > .label-text,
.checkboxes label {
    padding-left: 0.25em;
}

footer > .box + .box {
    margin-top: 1em;
}

#main-nav-first-menu {
    margin-right: 0;
}

#header-announcement-title {
    font-size: 1.5em;
}

#header-announcement-text {
    font-size: 110%;
}

#btn-support-doaj {
    font-size: 120%;
    font-weight: bold;
    color: white;
    background-color: #F68B1F;
    background-image: -o-linear-gradient(#f6b574, #f68e26); /* For Opera 11.1 to 12.0 */ 
    background-image: linear-gradient(top, #f6b574, #f68e26); /* Standard syntax */
    background-image: linear-gradient(to bottom, #f6b574, #f68e26); /* IE ? */
    background-image: -ms-linear-gradient(top, #f6b574, #f68e26); /* IE 11 */
    background-image: -moz-linear-gradient(center top , #f6b574, #f68e26);
    background-image: -webkit-linear-gradient(top, #f6b574, #f68e26);
    border-color: #F68B1F #F68B1F #F68411;
    text-shadow: none;
}

#homepage-search-container {
    margin-bottom: 0.5em;
}

#homepage-search-button-container {
    margin-left: 0;
}

#homepage-search-options-container {
    margin-bottom: 0;
}

/* Internet Exploder fixes - do not affect other browsers */
#homepage-search-button {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#E6E6E6',GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#E6E6E6',GradientType=0)";
}

#homepage-search-button:hover {
    filter: none;
    -ms-filter: none;
}

#main-nav.more-padding {
    margin-top: 1em;
}

#header-right-container {
    padding-bottom: 1em;
}

#footer-sponsors > a {
    margin-right: 1em;
    text-decoration: none;
}

.sponsors > a > img {
    max-width: 170px;
    max-height: 100px;
    margin-top: 0.5em;
    padding: 20px;
}

.sponsors-spacious {
    padding-bottom: 2em;
}

/* From suggestion form */
#digital_archiving_policy_library {
    width: 150px;
}

#add_note_btn {
    width: 20em;
    margin-left: 40px; // width of Note field label + its margin
}

button[target^="notes-"][target$="-container"] {
    margin-left: 2em;
}

.form-horizontal.wide #subject-container .control-label,
.form-horizontal.wide .left-aligned .control-label {
    width: 5em;
    text-align: left;
}

.form-horizontal.wide #subject-container .controls,
.form-horizontal.wide .left-aligned .controls {
    margin-left: 5em;
}

.form-horizontal.wide #subject {
    height: 20.5em;
    width: 34em;
}

.grey_bordered_div {
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}

.diff_table {
    width: 100%;
    border: 1px solid #cccccc;
}

.diff_table thead {
    font-weight: bold;
    background-color: #F68B1F;
    color: #ffffff;
    font-size: 1.2em;
}

.diff_table tbody tr:hover {
    background: #eeeeee;
}

.diff_table td {
    padding: 5px;
    border: 1px solid #cccccc;
}

.diff_table .inner_comparison_table {
    border: 0px;
}

.diff_table .inner_comparison_table td {
    border: 0px
}

.complete-me {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f2dbb0;
}

label[for='doaj_seal'] {
    font-weight: bold;
}

/* Custom responsive bits - elements, classes and id-s in that order */

#cookie-consent-banner {
    padding: 15px;
    background: #eeeeee;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    margin-bottom: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
}

#cookie-consent-banner a {
    text-decoration: underline;
}

#cookie-consent-banner a:hover {
    text-decoration: none;
}

#cookie-consent-banner a:focus {
    text-decoration: none;
}

@media (min-width: 768px) {
    /* Apply the following only to desktops and high-res tablets */
    body {
        padding-top: 1em;
    }

    .more-heading-padding {
        padding-top: 3em;
    }

    #homepage-search-input {
        width: 97%;
    }

    #homepage-search-button {
        position: relative;
        left: -2px;
    }

    #cookie-consent-banner {
        margin-top: -1em;
        margin-left: 100px;
        margin-right: 100px;
    }
}

