#doaj-simple-search-widget {
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: #FEFBF8;
    color: #282624;
    line-height: 1.45;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.01em;
    overflow: auto;

    .container {
        width: 100%;
    }

    a {
        text-decoration: none;
        color: #282624;
    }

    header {
        display: block;

        h2 {
            font-size: 1.602em;
            margin: 1.5rem 0 .75rem 0;
            line-height: 1.05;
            font-weight: 400;
        }

        p {
            display: block;
            margin-top: 0;
            margin-bottom: .375rem;
            line-height: 1.15;
            font-weight: 600;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            font-size: smaller;
            color: #982E0A;

            .label--tertiary {
                color: #5C5956;
                text-transform: none;

                :last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    @import "base/_fonts";
    @import "base/_spacing";
    @import "base/_typescale";
    @import "base/_palette";
    @import "base/_utils";
    @import "base/_general";
    @import "base/_grid";
    @import "base/logo";
    @import "components/label";
    header {
        padding-top: 15px;
    }
}