#doaj-simple-search-widget {
  * {
      all: revert;
    }
// Import partials
@import
  "vendors/normalize",
  "vendors/bootstrap",

  "base/palette",
  "base/spacing",
  "base/typescale",
  "base/fonts",
  "base/body";

  background-color: $warm-white;
  color: $warm-black;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  text-align: left;
  padding: $spacing-01;
  @include font-sans;

@import
  "base/general",
  "base/grid",
  "base/utils",
  "base/logo",
  "base/highlight",

  "components/buttons",
  "components/dropdown",
  "components/filters",
  "components/form",
  "components/hero",
  "components/input-group",
  "components/label",
  "components/modal",
  "components/pager-buttons",
  "components/pagination",
  "components/search-results",
  "components/tabs",
  "components/tabular-list",
  "components/tag",
  "components/title-list",

  "pages/article-details",
  "pages/journal-details",
  "pages/search"
;

}