#doaj-simple-search-widget {

// Import partials
@import
  "vendors/normalize",
  "vendors/bootstrap",

  "base/palette",
  "base/spacing",
  "base/typescale",
  "base/fonts",
  "base/body";

  background-color: $warm-white;
  color: $warm-black;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  @include font-sans;

@import
  "base/general",
  "base/grid",
  "base/utils",
  "base/logo",
  "base/highlight",

  "layout/editorial-panel",
  "layout/nav-bar",
  "layout/page-header",
  "layout/page-content",
  "layout/page-footer",
  "layout/page-nav",
  "layout/primary-nav",
  "layout/secondary-nav",
  "layout/sidenav",

  "components/alert",
  "components/back-to-top",
  "components/buttons",
  "components/card",
  "components/cookie-consent",
  "components/dropdown",
  "components/filters",
  "components/form",
  "components/hero",
  "components/input-group",
  "components/label",
  "components/loading",
  "components/modal",
  "components/numbered-table",
  "components/pager-buttons",
  "components/pagination",
  "components/portrait",
  "components/removable-fields",
  "components/review-table",
  "components/select2",
  "components/search-results",
  "components/stat",
  "components/stretch-list",
  "components/tabs",
  "components/tabular-list",
  "components/tag",
  "components/title-list",

  "pages/apply",
  "pages/article-details",
  "pages/error-page",
  "pages/homepage",
  "pages/journal-details",
  "pages/search",
  "pages/sponsors"
;
  .container {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}