
<p class="label">Page 1 of 7</p>
<h1><span data-feather="unlock"></span> Open access compliance</h1>

<p>Your account has been created and you are now logged in. When you submit your application, it will be registered to this account.</p>

<p>Your progress is automatically saved and you can return to this application at any time.</p>

<p>The application form takes approximately <strong>45 minutes</strong> to complete.</p>

<hr />

<p>DOAJ adheres to the <a href="https://legacy.earlham.edu/~peters/fos/boaifaq.htm#openaccess">BOAI’s definition of open access</a>.</p>

<p>This means that users are permitted</p>

<blockquote>
<p>to read, download, copy, distribute, print, search, or link to the full texts of articles, or use them for any other lawful purpose, without financial, legal, or technical barriers other than those inseparable from gaining access to the internet itself.</p>
</blockquote>

<input type="hidden" name="validated" value="">

{% set fs = formulaic_context.fieldset("basic_compliance") %}
    {% for f in fs.fields() %}
        {% set field_template = f.template %}
        {%  include field_template %}
    {% endfor %}


{% if obj %}
    <input type="hidden" name="id" value="{{ obj.id }}">
{% endif %}