
{% if not notabs %}<p class="label">Page 1 of {{ FORM | length + 1}}</p>{% endif %}
<h1><span data-feather="unlock"></span> Open access compliance</h1>

{% if formulaic_context.name == "public" %}
<div class="alert alert--message">
    <p>You are now logged in. When you submit your application, it will be registered to this account.</p>

    <p>Your progress is automatically saved and you can return to this application at any time.</p>

    <p>The application form takes approximately <strong>30 minutes</strong> to complete.</p>
</div>
{% endif %}

<p>DOAJ only accepts fully open access journals</p>

<p>Open Access is the condition where the copyright holder of a scholarly work grants usage rights to others using an
    open license (Creative Commons or equivalent) allowing for immediate free access to the work and permitting any user
    to read, download, copy, distribute, print, search, or link to the full texts of articles, crawl them for indexing,
    pass them as data to software, or use them for any other lawful purpose. </p>

{% set fs = formulaic_context.fieldset("basic_compliance") %}
    {% for f in fs.fields() %}
        {% set field_template = f.template %}
        {%  include field_template %}
    {% endfor %}
