{% set index = url_for("publisher.index") %}
{% set journals = url_for('publisher.journals') %}
{% set urs = url_for('publisher.updates_in_progress') %}
{% set xml = url_for('publisher.upload_file') %}
{% set metadata = url_for('publisher.metadata') %}
{% set preservation = url_for('publisher.preservation') %}
{% set help = url_for('publisher.help') %}
{% set csv = url_for('publisher.journal_csv') %}

{% set tabs = [
    (index, "My draft applications", 0, constants.ROLE_PUBLISHER),
    (journals, "My journals", 1, constants.ROLE_PUBLISHER),
    (urs, "My update requests", 2, constants.ROLE_PUBLISHER),
    (xml, "Upload article XML", 3, constants.ROLE_PUBLISHER),
    (metadata, "Enter article metadata", 4, constants.ROLE_PUBLISHER),
    (preservation, "Upload preservation file", 5, constants.ROLE_PUBLISHER_PRESERVATION),
    (csv, "Validate your CSV", 6, constants.ROLE_PUBLISHER_JOURNAL_CSV),
    (help, "XML help", 7, constants.ROLE_PUBLISHER),
    ]
%}

<div class="tabs">
    <nav class="tabs__menu">
        <ul class="tabs__list" role="tablist">
            {% for url, label, ix, role in tabs %}
                {# Hide the preservation tab for publishers without preservation role (by ID in case label changes) #}
                {% if not current_user.has_role(role) %}
                    {% continue %}
                {% endif %}
                {% set selected = url == request.path %}
                <li class="type-06 tabs__item" {% if not selected %}role="presentation"{% endif %}>
                    <a href="{{ url }}" aria-selected="{% if selected %}true{% else %}false{% endif %}">{{ label }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
