{% extends "editor/editor_base.html" %}

{% include "_edges_common_css.html" %}

{% block editor_content %}

<header class="col-xs-12">
    <h2>Journals Assigned to You</h2>
</header>


<div id="associate_journals"></div>

{% endblock %}

{% block extra_js_bottom %}

    <script type="text/javascript">
    $.extend(true, doaj, {
        associateJournalsSearchConfig : {
            journalEditUrl : "{{ url_for('editor.journal_page', journal_id='') }}",
            searchPath : '/associate_query/journal/_search'
        }
    });
    </script>

    {% include "_edges_common_js.html" %}
    <script type="text/javascript" src="/static/js/edges/associate.journals.edge.js?v={{config.get('DOAJ_VERSION')}}"></script>

{% endblock %}
