{% extends "editor/editor_base.html" %}

{% include "_edges_common_css.html" %}

{% block editor_content %}
<h1>Applications assigned to you</h1>

<div id="associate_applications"></div>
{% endblock %}

{% block extra_js_bottom %}
    <script type="text/javascript">
    $.extend(true, doaj, {
        associateApplicationsSearchConfig : {
            applicationEditUrl : "{{ url_for('editor.application', application_id='') }}",
            readOnlyJournalUrl: "{{ url_for('doaj.journal_readonly', journal_id="") }}",
            searchPath : '/associate_query/suggestion/_search'
        }
    });
    </script>

    {% include "_edges_common_js.html" %}
    <script type="text/javascript" src="/static/js/edges/associate.applications.edge.js?v={{config.get('DOAJ_VERSION')}}"></script>
{% endblock %}
