{% extends "editor/editor_base.html" %}

{% block editor_content %}
    {% include "includes/_motivational_banner.html" %}
    {% include "dashboard/_todo.html" %}
    {% set groups = editor_of_groups %}
    {% include "includes/_activity.html" %}
{% endblock %}

{% block extra_js_bottom %}
    <script type="text/javascript" src="/static/js/dashboard.js?v={{config.get('DOAJ_VERSION')}}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            doaj.dashboard.init({"applicationsSearchBase": "{{ url_for('editor.group_suggestions') }}" })
        });
    </script>
{% endblock %}