{% extends "editor/editor_base.html" %}

{% include "_edges_common_css.html" %}

{% block editor_content %}

<header class="col-xs-12">
    <h2>Your Group's Journals</h2>
</header>

<div id="group_journals"></div>

{% endblock %}

{% block extra_js_bottom %}

    <script type="text/javascript">
    $.extend(true, doaj, {
        editorGroupJournalsSearchConfig : {
            journalEditUrl : "{{ url_for('editor.journal_page', journal_id='') }}",
            searchPath : '/editor_query/journal/_search'
        }
    });
    </script>

    {% include "_edges_common_js.html" %}
    <script type="text/javascript" src="/static/js/edges/editor.groupjournals.edge.js?v={{config.get('DOAJ_VERSION')}}"></script>

{% endblock %}
