{% extends "editor/editor_base.html" %}

{% block editor_content %}

{# NOTE: requires suggestions_and_journals.js to be enabled (see _js_includes.html) #}

<div class="row-fluid" style="margin-bottom: 3em;">
  <div class="span9">
    <h1>Journal: {{journal.bibjson().title}}</h1>
    {% if journal.last_updated %}
      <h4>Last updated: {{journal.last_updated}}</h4>
    {% endif %}
  </div>
    <div class="span3">
        {% if lock %}
        <div class="well">
            Locked for editing until <strong><span id="lock_expires" data-timestamp="{{lock.utc_expires()}}">{{lock.expire_formatted()}}</span></strong><br><br>
            <a href="#" id="unlock" class="btn btn-danger" data-type="journal" data-id="{{journal.id}}">Unlock and Close <i class="icon-white icon-remove"></i></a>
        {% endif %}
        </div>
    </div>
</div>

{% include "_journal_form.html" %}

{% endblock %}

