{% set index = url_for("editor.index") %}
{% set group_apps = url_for('editor.group_suggestions') %}
{% set group_journals = url_for('editor.group_journals') %}
{% set ass_apps = url_for('editor.associate_suggestions') %}
{% set ass_journals = url_for('editor.associate_journals') %}

<!-- tab removed for https://github.com/DOAJ/doajPM/issues/3422 -->
<!-- (ass_journals, "Journals assigned to you", None, "book-open") -->
{% set tabs = [
    (index, "Dashboard", None, "list"),
    (group_apps, "Your group’s applications", "list_group_suggestions", "users"),
    (group_journals, "Your group’s journals", "list_group_journals", "book"),
    (ass_apps, "Applications assigned to you", None, "file-text")
    ]
%}

<nav class="vertical-nav">
    <ol class="unstyled-list" role="tablist">
        {% for url, label, role, icon in tabs %}
            {% set selected = url == request.path %}
            {% if role == None or current_user.has_role(role) %}
                <li>
                    <a href="{{ url }}" aria-selected="{% if selected %}true{% else %}false{% endif %}" class="flex-center vertical-nav__link ">
                        <span data-feather="{{ icon }}" aria-hidden="true"></span>
                        <span class="vertical-nav__link-label">{{ label }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
