{% set index = url_for("editor.index") %}
{% set group_journals = url_for('editor.group_journals') %}
{% set group_apps = url_for('editor.group_suggestions') %}
{% set ass_journals = url_for('editor.associate_journals') %}
{% set ass_apps = url_for('editor.associate_suggestions') %}

{% set tabs = [
    (index, "Group Info", None),
    (group_journals, "Your Group's Journals", "list_group_journals"),
    (group_apps, "Your Group's Applications", "list_group_suggestions"),
    (ass_journals, "Journals Assigned to You", None),
    (ass_apps, "Applications Assigned to You", None)
    ]
%}

<div class="tabs">
    <nav class="tabs__menu">
        <ul class="tabs__list" role="tablist">
            {% for url, label, role in tabs %}
                {% set selected = url == request.path %}
                {% if role == None or current_user.has_role(role) %}
                <li class="tabs__item" {% if not selected %}role="presentation"{% endif %}>
                    <a href="{{ url }}" aria-selected="{% if selected %}true{% else %}false{% endif %}">{{ label }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
