{% extends "layouts/sidebar-page.html" %}

{% block content %}

<h2>학술 출판에서 투명성 원칙과 처리 기준</h2>

    {% include 'doaj/_bestpractice_nav.html' %}

<p><em>이 글은</em><em> DOAJ </em><em>공식선언문</em><em> &ldquo;Principles of Best Practice and Transparency in Scholarly Publishing&rdquo; (https://doaj.org/bestpractice)</em><em>의 번역본이다</em><em>. </em></p>
<p>&nbsp;</p>
<p>번역: 정영임(한국과학기술정보연구원)<sup>&dagger;&Dagger;</sup>, 이현정(한양대 구리병원)<sup>&dagger;&Dagger;</sup>, 이혜림(한국과학기술정보연구원)<sup>&dagger;</sup></p>
<p>검토: 서윤주(메드랑)<sup>&Dagger;</sup>, 윤철희(서울대학교)<sup>&Dagger;</sup>, 정미주(인포루미)<sup>&Dagger;</sup>, 조혜민(인포루미)<sup>&Dagger;</sup>, 허선(한림대학교)<sup>&dagger;&Dagger;</sup></p>
<p>&dagger;: DOAJ 한국 대사</p>
<p>&Dagger;: 한국과학학술지편집인협의회</p>
<p><strong>&nbsp;</strong></p>
<p><strong>서론</strong></p>
<p>&nbsp;</p>
<p>학술지나 발행인 관련 비영리기관인 영국 출판윤리위원회(The Committee on Publication Ethics, COPE), 오픈액세스 저널 디렉토리(The Directory of Open Access Journals, DOAJ), 오픈액세스 학술출판 협회(Open Access Scholarly Publishers Association, OASPA), 세계의학편집인협의회(The World Association of Medical Editors, WAME)는 회원 수 및 회원 심사의 질적인 측면에서 발전을 거듭해 왔다. 회원 가입 선정 기준으로 &ldquo;학술 출판의 투명성 원칙과 처리 기준&rdquo;을 마련하여 이 기준을 COPE, DOAJ, OASPA가 회원 심사에 활용하고 WAME도 일부 선별기준으로 활용한다. 각 기관마다 회원 가입 심사할 때 이 처리 기준 외 별도 항목을 활용한다. 이들 기관에 회원 가입을 신청했다가 탈락한 학술지나 발행인 목록은 다른 곳에 제공하지 않는다. </p>
<p>이 기준은 2018년 1월에 발간된 세 번째 판으로, 초판은 2013년 12월, 개정판은 2015년 6월에 OASPA가 만들었다. 이 기준은 원하는 사람은 누구든 배포할 수 있으며, 현 기준에 대한 의견 또한 언제든지 환영한다. 각 기관에 대한 배경 설명은 이 글의 하단에 있다.</p>
<p>&nbsp;</p>
<p><strong>투명성 원칙</strong></p>
<p>&nbsp;</p>
<ol>
<li><strong>학술지 누리집</strong><strong>(homepage) </strong></li>
</ol>
<p>학술지 누리집 내용은 윤리적, 전문적으로 높은 기준을 갖추어야 하며, 독자 또는 저자가 다른 학술지나 발행인으로 오인하도록 제작해서는 안된다. </p>
<p>학술지의 목적 및 범위를 기술하고 주 독자층이 누구인지 명확히 밝히고, 저자의 기준, 중복 투고와 중복 출판 금지 등 출판에서 고려할 사항을 기술해야 한다. pISSN, eISSN도 명확하게 표기한다. </p>
<p>&nbsp;</p>
<ol start="2">
<li><strong>학술지 표제</strong></li>
</ol>
<p>표제는 투고자와 독자가 다른 학술지와 혼동하거나 다른 학술지와 연관성이 있다고 오해하지 않도록 차별성 있게 만들어야 한다.</p>
<p>&nbsp;</p>
<ol start="3">
<li><strong>전문가심사 과정</strong></li>
</ol>
<p>투고된 원고를 출판하기 전에 전문가심사를 거치는지 기술해야 한다. 전문가심사란 학술지 편집위원이 아닌 해당 분야 전문가로부터 원고에 대한 평가를 받는 과정으로, 이와 관련된 모든 정책과 심사 방법을 학술지 누리집에 기술해야 한다. 학술지 누리집에서 원고 게재 승인이나 매우 신속한 심사 진행 등에 대한 보장을 하지 않도록 한다.</p>
<p>&nbsp;</p>
<ol start="4">
<li><strong>소유권과 운영</strong></li>
</ol>
<p>소유권과 운영 정보를 누리집에 표시해야 하며, 이때 발행인은 투고자나 편집인의 오해를 야기할 수 있는 기관이나 학술지 표제를 사용하지 않도록 주의하여야 한다. </p>
<p>&nbsp;</p>
<ol start="5">
<li><strong>편집위원회 또는 운영위원회</strong></li>
</ol>
<p>학술지가 다루는 범위에 맞는 주제 전문가로 편집위원회 또는 운영위원회를 구성하고, 위원의 이름과 소속을 누리집에 공개해야 한다. </p>
<p>&nbsp;</p>
<ol start="6">
<li><strong>편집위원회</strong><strong>/</strong><strong>연락처</strong></li>
</ol>
<p>모든 편집위원의 이름과&nbsp;소속, 편집 사무국 주소 등 연락처를 밝혀야 한다.&nbsp;</p>
<p>&nbsp;</p>
<ol start="7">
<li><strong>저작권과 라이선스</strong></li>
</ol>
<p>투고규정에 저작권 정책을 명시해야 하고, 개별 논문마다 저작권자명을 표기해야 한다. 마찬가지로 라이선스 정보도 누리집 투고규정에 기술하고, 라이선스 조항을 각 논문 HTML과 PDF 파일에 표시해야 한다. 크리에이티브 커먼즈 라이선스에 따라 출판한다면 세부 라이선스 요구 사항을 밝혀야 한다. 최종 승인되었거나 출판된 논문을 제 3의 저장소(repository)에 기탁할 수 있는지 여부도 밝혀야 한다.</p>
<p>&nbsp;</p>
<ol start="8">
<li><strong>게재료</strong></li>
</ol>
<p>저자가 논문 투고에 앞서 출판비용을 쉽게 알 수 있도록 누리집이나 투고 규정에서 밝혀야 한다.&nbsp; 저자가 경비를 지불하지 않는 경우라도 그 사항을 기술해야 한다.</p>
<p>&nbsp;</p>
<ol start="9">
<li><strong>연구윤리 위반 행위 규명과 처리 절차</strong></li>
</ol>
<p>표절, 인용 부풀리기, 자료 위조/변조 등을 포함한 연구윤리 위반 행위가 발생한 논문의 출판을 식별하고 방지하기 위해 발행인과 편집인은 적절한 조치를 취해야 한다. 어떠한 경우에도 발행인이나 편집인이 위반행위를 장려하거나 의도적으로 허용되도록 해서는 안 된다. 발행인 또는 편집인이 논문과 관련된 연구윤리 위반 행위를 알게 되면 COPE의 가이드라인이나 이에 준하는 절차에 따라 처리해야 한다.</p>
<p>&nbsp;</p>
<ol start="10">
<li><strong>출판윤리</strong></li>
</ol>
<p>학술지는 출판윤리 정책을 누리집에 밝혀야 한다. 출판윤리에서는 (1) 저자(authorship) 및 기여자(contributorship)의 자격, (2) 항의 및 불만을 처리하는 방법, (3) 이해관계에 대한 정책, (4) 자료 공유 및 재생산에 관한 정책, (5) 연구윤리 준수에 관한 정책, (6) 지적재산권 정책, (7) 출판 후의 논의 및 수정에 관한 정책 등을 다루어야 한다. </p>
<p>&nbsp;</p>
<ol start="11">
<li><strong>간기</strong></li>
</ol>
<p>발행 간기를 명확하게 표시해야 한다.</p>
<p>&nbsp;</p>
<ol start="12">
<li><strong>접근성</strong></li>
</ol>
<p>학술지의 구독방법과 구독료, 혹은 개별 논문당 열람 비용을 명시해야 한다.</p>
<p>&nbsp;</p>
<ol start="13">
<li><strong>자료 보존</strong><strong>(archiving)</strong></li>
</ol>
<p>학술지 폐간 시에도 과거 발행한 내용에 접근할 수 있도록 전자 백업 및 보존하는(예: CLOCKSS 또는 PubMed Central 기탁) 계획을 밝혀야 한다.</p>
<p>&nbsp;</p>
<ol start="14">
<li><strong>수익 구조</strong></li>
</ol>
<p>비즈니스 모델 또는 수익원(예: 저자 비용, 구독료, 광고, 별쇄본, 기관 혹은 단체 지원)을 누리집에서 밝혀야 한다. 저자의 출판 경비 부담 또는 면제 여부가 심사 과정에 영향을 미치지 않아야 한다.</p>
<p>&nbsp;</p>
<ol start="15">
<li><strong>광고</strong></li>
</ol>
<p>어떤 형태의 광고를 고려할지, 누가 광고를 수락할지, 논문 내용이나 독자의 이용 형태에 따라 광고를 연결할지 아니면 무작위로 노출시킬지 등을 포함한 광고 정책을 밝혀야 한다. 광고는 어떤 방식으로든 편집위원회의 의사 결정과 관련되어서는 안 되며 논문 내용과 무관하여야 한다.</p>
<p>&nbsp;</p>
<ol start="16">
<li><strong>마케팅</strong></li>
</ol>
<p>원고 수집 등 모든 직접적 마케팅 활동은 적절하고, 목적에 부합하며 과하지 않아야 한다. 발행인이나 학술지 정보를 사실대로 제공하여 독자 또는 저자를 오도하지 않아야 한다. </p>
<p>&nbsp;</p>
<p>OASPA/DOAJ/COPE/WAME에 가입한 회원 단체(발행인이나 편집인)가 이러한 처리 기준 또는 기타 세부 요구 사항을 위반한 것이 밝혀지면 우선적으로 OASPA/DOAJ/COPE/WAME가 회원 단체와 함께 제기된 문제를 해결하기 위해 노력할 것이다. 회원단체가 이런 문제를 해결할 능력이 없거나, 문제 해결 의지가 없다면 회원 자격이 정지되거나 종료될 수 있다. 모든 회원 단체는 별도로 학술지에서 제기한 문제를 처리하는 절차를 가지고 있다.</p>
<p>&nbsp;</p>
<p>현재 판은 DOAJ에서 2018년 1월 15일 출판</p>
<p>둘째 판은 DOAJ에서 2015년 6월 출판</p>
<p>첫 판은 DOAJ에서 2014년 1월 10일 출판</p>
<p>&nbsp;</p>
<p><strong>[</strong><strong>기관 설명</strong><strong>]</strong></p>
<p><strong>영국출판윤리위원회</strong><strong>(COPE, https://publicationethics.org/)</strong></p>
<p>COPE는 출판윤리의 모든 측면, 특히 연구 및 출판윤리 위반 사례를 처리하는 절차를 편집인과 발행인에게 제공한다. 또한 회원들이 개별 사례에 대해 토론할 수 있는 장을 제공한다. COPE가 개별 사례를 조사하지는 않지만 적절한 권위자(일반적으로 연구 기관 또는 고용주)가 해당 사례를 조사할 수 있도록 편집인에게 권고한다. 모든 COPE 회원은 처리 기준에 명시된 출판윤리에 관한 COPE 원칙을 적용해야 한다.</p>
<p>&nbsp;</p>
<p><strong>오픈액세스 저널 디렉토리</strong><strong>(DOAJ, https://doaj.org)</strong></p>
<p>DOAJ는 (1) 오픈액세스 학술지에 대한 신뢰할 수 있는 누리집 정보를 관리, 유지 및 개발하고, (2) 회원 목록 내 각 항목이 표준을 준수하는지 확인하며, (3) 오픈액세스 학술지의 가시성, 유통, 검색 및 선호도를 증가시키고, (4) 연구자, 도서관, 대학, 연구비 제공 기관, 기타 이해당사자가 DOAJ에서 제공하는 정보와 서비스의 혜택을 누릴 수 있도록 하며, (5) 오픈액세스 학술지가 도서관 및 서지정보 제공자(aggregator) 서비스에 통합되는 것을 편리하게 하며, (6) 발행인과 학술지가 전자출판 표준을 준수할 수 있도록 지원하고, 나아가 (7) 학술 교류와 출판 시스템이 과학, 고등교육, 산업, 혁신, 사회 및 인류에 봉사하는 모델이 될 수 있도록 지원한다. 이런 작업을 통해 DOAJ는 같은 목표를 향해 노력하는 모든 당사자와 협력할 것이다.</p>
<p>&nbsp;</p>
<p><strong>오픈액세스 학술발행협회</strong><strong>(OASPA, https://oaspa.org/)</strong></p>
<p>OASPA는 분야를 막론한 전 세계 오픈 액세스 발행인의 이익을 대변하기 위해 2008년에 설립된 동업자 단체이다. OASPA의 목표는 오픈액세스 출판을 지원하는 비즈니스 모델, 도구 및 표준을 개발함으로써 회원과 학술 커뮤니티의 이익을 위해 지속가능하고 발전된 미래를 보장하는 것이다. 이런 사명을 수행하기 위하여 정보 교환, 표준 수립, 사업 모델 개선, 지지, 교육, 혁신 촉진을 추진한다.</p>
<p>&nbsp;</p>
<p><strong>세계의학편집인협의회</strong><strong>(WAME, http://www.wame.org)</strong></p>
<p>WAME는 (1) 편집인 간의 협력과 소통을 증진하고, (2) 편집 수준을 향상하고, (3) 교육, 자기 성찰, 자기 규제를 통하여 의학학술지 편집의 전문성을 증진시키고, (4) 의학 편집의 원칙 및 실무에 관련한 연구를 장려하고자 의학 학술지 편집인들이 자발적으로 만든 국제 비영리 단체이다. WAME는 의학학술지 편집인의 업무 처리에 유용한 정책과 권고안을 개발하고, 회원 편집인을 위한 교재를 마련한다.</p>

<p>본 한국어 번역본은 DOAJ 한국대사와 한국과학학술지편집인협의회에 의해 번역되고 검토되었습니다.</p>
{% endblock %}
