/* Sponsors page */

.sponsor {
  margin-top: $spacing-04;
  margin-bottom: $spacing-04;
  min-height: 100px;
}

.sponsor__link {
  display: block;
}

.sponsor__logo {
  max-height: 75px;
  width: auto;
}

.sponsor__name {
  margin-bottom: $spacing-03;
  font-weight: 400;
  @include font-sans;
  @include typescale-06;
}
