/* Sponsors page */

.sponsor {
  margin-top: $spacing-04;
  margin-bottom: $spacing-04;
  min-height: 6.25rem;
}

.sponsor__link {
  display: block;
}

.sponsor__logo {
  max-height: 4.6875rem;
  width: auto;
}

.sponsor__name {
  margin-bottom: $spacing-03;
  font-weight: 400;
  @include font-sans;
  font-size: $typescale-06;
}