{% extends "management/admin/base.html" %}

{% block page_title %}Create User{% endblock %}

{% block admin_stylesheets %}{% endblock %}

{% block admin_content %}
<div class="page-content">
    <section class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% include "_account/includes/_register_form.html" %}
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block admin_js %}
    <script type="text/javascript" src="/static/js/honeypot.js?v={{ config.get('DOAJ_VERSION') }}"></script>
    {% if current_user.is_authenticated and current_user.has_role("create_user") %}
        <!-- select2 for role picker on admin create user form -->
        <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#roles').select2({tags:["{{current_user.all_top_level_roles()|join('","')|safe}}"],width:'70%'});
        });
        </script>

    {% else %}
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                doaj.honeypot.init();
                $("#submitBtn").prop("disabled", false);
            });
        </script>
    {% endif %}
{% endblock %}
