
{% if not notabs %}<p class="label af-pager">Page 1 of {{ FORM | length + 1}}</p>{% endif %}
<legend class="form__legend"><div><span data-feather="unlock"></span> {{ _("Open access compliance") }}</div></legend>

{% if formulaic_context.name == "public" %}
<div class="alert alert--message">
    <p>{{ _("You are now logged in. When you submit your application, it will be registered to this account. Please note:") }}</p>
    <ol>
      <li>{{ _("The application form takes approximately%(tag_start)s 30 minutes%(tag_end)s to complete.",
          tag_start="<strong>"|safe, tag_end="</strong>"|safe) }}</li>
      <li>{{ _("Your progress is automatically saved.") }}</li>
      <li>{{ _("You can return to this application at any time by clicking%(link_start)s Publisher dashboard%(link_end)s at the top.",
          link_start='<a href="{{ url_for("publisher.index") }}" target=\"_blank\"><em>Dashboard</em> &rarr; <em>' | safe,
              link_end='</em></a>' | safe) }}</li>
      <li>{{ _("You can %(start_url)s print or download %(end_url)s a PDF list of the questions.",
                        start_url='<a href="/static/doaj/docs/DOAJquestions-for-reference-only.pdf" target="_blank">'|safe,
                        end_url='</a>'|safe) }}</li>
      <li>{{ _("You must apply online.") }}</li>
    </ol>
</div>
{% endif %}

<p><strong>{{ _("DOAJ only accepts fully open access journals") }}</strong></p>

<p>{{ _("Open Access is the condition where the copyright holder of a scholarly work grants usage rights to others using an
    open license (Creative Commons or equivalent) allowing for immediate free access to the work and permitting any user
    to read, download, copy, distribute, print, search, or link to the full texts of articles, crawl them for indexing,
    pass them as data to software, or use them for any other lawful purpose.") }}</p>

{% set fs = formulaic_context.fieldset("basic_compliance") %}
    {% for f in fs.fields() %}
        {% set field_template = f.template %}
        {%  include field_template %}
    {% endfor %}
