
{% if not notabs %}<p class="label af-pager">{{ _("Page") }} 1 {{ _("of") }} {{ FORM | length + 1}}</p>{% endif %}
<legend class="form__legend"><div><span data-feather="unlock"></span> {{ _("Open access compliance") }}</div></legend>

{% if formulaic_context.name == "public" %}
<div class="alert alert--message">
    <p>{{ _("You are now logged in. When you submit your application, it will be registered to this account. Please note:") }}</p>
    <ol>
      <li>{{ _("The application form takes approximately <strong>30 minutes</strong> to complete.") }}</li>
      <li>{{ _("Your progress is automatically saved.") }}</li>
      <li>{{ _("You can return to this application at any time by clicking <a href=\"%(url)s\" target=\"_blank\"><em>Dashboard</em> &rarr; <em>Publisher dashboard</em></a> at the top.", url=url_for("publisher.index")) | safe }}</li>
      <li>{{ _("You can <a href=\"/static/doaj/docs/DOAJquestions-for-reference-only.pdf\" target=\"_blank\">print or download</a> a PDF list of the questions.") | safe }}</li>
      <li>{{ _("You must apply online.") }}</li>
    </ol>
    <p>{{ _("We reject the majority of all applications submitted because they do not meet <a href=\"/apply/guide/#basic-criteria-for-inclusion\" target=\"_blank\">our basic criteria</a>. Once rejected, an embargo period of anywhere between 6 months and 3 years is applied. Make sure your application complies fully to our basic criteria to avoid being rejected and embargoed.") }}</p>
</div>
{% endif %}

<p>We are launching a pre-assessment checklist. If your journal is published by a publisher based in 
    <strong>Mexico or Indonesia</strong>, please complete the checklist before submitting your 
    application. The pre-assessment checklist will help you understand how ready your journal is 
    to submit a correct application. For more information about this new initiative, please see our 
    <a href="https://blog.doaj.org/2026/09/28/using-our-new-pre-assessment-checklist-an-invitation-to-mexican-and-indonesian-journals/" target=\"_blank\">blogpost</a>. 
</p>

<p>For Mexican journals, please use the <a href="https://forms.gle/Bu15Y2phtXiiZHLx8 target=\"_blank\">Spanish version</a>. 
    For Indonesian journals, please use the <a href="https://forms.gle/TjtPt7HGJQwtX9RV9 target=\"_blank\">English version</a>.
</p>

<p><strong>{{ _("DOAJ only accepts fully open access journals") }}</strong></p>

<p>{{ _("Open Access is the condition where the copyright holder of a scholarly work grants usage rights to others using an
    open license (Creative Commons or equivalent) allowing for immediate free access to the work and permitting any user
    to read, download, copy, distribute, print, search, or link to the full texts of articles, crawl them for indexing,
    pass them as data to software, or use them for any other lawful purpose.") }}</p>

{% set fs = formulaic_context.fieldset("basic_compliance") %}
    {% for f in fs.fields() %}
        {% set field_template = f.template %}
        {%  include field_template %}
    {% endfor %}
