<div class="form__question--group {{ f.name }}__question--group--{{ idx }}">
        {% for subfield in f.group_subfields() %}
            <div class="form-inputs--container {{ f.name }}-inputs--container--{{ idx }}">
                <label for="{{ f.name }}-{{ idx }}-{{ subfield.name }}"> {{ subfield.label }} {% if subfield.optional %}<span class="form__question--optional">(Optional)</span>{% endif %} </label>
                {{ subfield.render_form_control(wtfinst=entry[subfield.name]) }}
            </div>
        {% endfor %}
    <p class="control_buttons_div--{{ idx }}">
        <button type="button" id="resolve_flag--{{ idx }}" class="resolve_flag__button label" >Resolve Flag</button>
        <button type="button" id="unresolve_flag--{{ idx }}" class="unresolve_flag__button label" >Undo Resolving</button>
        <button type="button" id="cancelAddingFlag--{{ idx }}" class="remove_field__button">Cancel</button>
        <button type="button" id="clearFlag--{{ idx }}" class="remove_field__button">Clear Flag</button>
    </p>
</div>
