<fieldset class="tab form-section">
    {% include "_application-form/includes/_fieldset_oa_compliance.html" %}
</fieldset>
<fieldset class="tab form-section">
    {% include "_application-form/includes/_fieldset_about.html" %}
</fieldset>
<fieldset class="tab form-section">
    {% include "_application-form/includes/_fieldset_copyright-licensing.html" %}
</fieldset>
<fieldset class="tab form-section">
    {% include "_application-form/includes/_fieldset_editorial.html" %}
</fieldset>
<fieldset class="tab form-section">
    {% include "_application-form/includes/_fieldset_business-model.html" %}
</fieldset>
<fieldset class="tab form-section">
    {% include "_application-form/includes/_fieldset_best-practice.html" %}
</fieldset>