[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=cloo
ExecStart=/home/cloo/kafka_2.13-3.1.0/bin/zookeeper-server-start.sh /home/cloo/kafka_2.13-3.1.0/config/zookeeper.properties
ExecStop=/home/cloo/kafka_2.13-3.1.0/bin/zookeeper-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target