{% extends "base.html" %}

{% block content %}

<div dir="rtl">

<h2>مبادئ الشفافية وأفضل الممارسات في النشر العلمي</h2>
<p>(Translated versions are available in <a href="/ca/bestpractice">Catalan</a>, <a href="/bestpractice">English</a>, <a href="/fa/bestpractice">Farsi</a>, <a href="/fr/editionsavante">French</a>, <a href="/hi/bestpractice">Hindi</a>, <a href="/kr/bestpractice">Korean</a>, 
<a href="/pt/boaspraticas">Portuguese</a>, <a href="/es/mejorespracticas">Spanish</a>, <a href="/tr/bestpractice">Turkish</a>, and <a href="/uk/bestpractice">Ukrainian</a>.)</p>

<p><b>المقدمة</b></p>

<pتعتبر لجنة أخلاقيات النشر (COPE)، ودليل دوريات النفاذ المفتوح (د د ن م= DOAJ)، وجمعية الناشرين العلميين للنفاذ المفتوح (OASPA)،  والجمعية العالمية للمحررين في الطب (WAME) من المنظمات العلمية التي شهدت تطوّرا ملحوظا لطلبات العضوية من ناحية الكم، وتنوّعا كبيرا من حيث الكيف. تعاونت هذه المنظمات مع بعضها البعض وحددت مبادئ الشفافية وأفضل الممارسات في النشر العلمي. وتشكل هذه المبادئ أساس معايير التقييم للعضوية في COPE و DOAJ و OASPA ، وقد تم تقييم هذه المعايير من قبل WAME. كل منظمة لديها أيضا معاييرها الإضافية الخاصة بها عند تقييم الممارسات، ولن تتبادل هذه المنظمات قائمات الناشرين أو الدوريات التي لم تستوف معايير الشفافية والممارسات الجيدة. </br> </p>

<p>هذه هي الإصدارة الثالثة من العمل الذي لا يزال متواصلا (نشرت في يناير 2018)؛ نشرت الإصدارة الأولى من قبل OASPA في ديسمبر 2013، والثانية في يونيو 2015. ونحن نشجع على نشرها على نطاق واسع مع مواصلة تلقي التعليقات على المبادئ العامة والخصائص المحددة. ونقدّم عرضا لهذه المنظمات أدناه. </p>

<p>تم إعداد رسم تخطيطي لهذه المبادئ بواسطة COPE وهو متاح للتنزيل هنا: 
	[<a href="https://drive.google.com/file/d/1zEPR9njly8x2Hq9fts6XdqZGcgi9Mdue/view?usp=sharing">Landscape A4 version</a>]  
	[<a href="https://drive.google.com/file/d/1xYk1IsMwh_CU8YC7h_FgzF26p7yt69lB/view?usp=sharing">Tall 'poster' version</a>]</p>

<p>&nbsp;</p>
<p><b>مبادئ الشفافية</b></p>
<p>
	<ol>
		<li><b>موقع الدورية</b></br>
		 موقع الدورية، بما في ذلك النص الذي يحتويه، يجب نشره وفقًا لمعايير الجودة والمواصفات الأخلاقية والمهنية العالية. ويجب ألا يحتوي على معلومات قد تضلل القراء أو المؤلفين، بما في ذلك أي محاولة لتقليد الموقع الإلكتروني لمجلة أخرى أو ناشر آخر. يجب تضمين بيان "المدى والأهداف" على الموقع الإلكتروني وتحديد فئة القراء المستهدفين بوضوح. ويجب أن تبين شروط قبول نشر المقالات بالمجلة بما في ذلك معايير التأليف (كعدم اعتبار التسليم المتعدد للمقالات مثلا ، أو المنشورات المكرّرة). ويجب عرض الرقم الدولي المعياري للدوريات (ردمد = ISSN) بوضوح (لكلّ من المطبوع  والإلكتروني منفصلان).</li>

		<li><b>عنوان الدورية</b></br>
		يجب أن يكون عنوان الدورية فريدًا حتّى لا يخلط بسهولة مع مجلة أخرى أو ربّما يغالط بعض المؤلفين والقراء حول أصلها أو ارتباطها بمصادر أخرى..</li>
		
		<li><b>مسار التحكيم العلمي</b></br>
		يجب أن يشير محتوى المجلة بوضوح إلى إجراء التحكيم العلمي من عدمه. يتم تقييم المخطوطات المسلّمة إلى المجلة من قبل خبراء في المجال ليسوا أعضاء في هيئة تحرير المجلة. ويجب أن يتم شرح جميع السياسات المتعلقة بإجراءات المراجعة الخاصة بالدورية وبشكل واضح على الموقع الإلكتروني، مع ذكر المسار الذي تنتهجه في ذلك. وينبغي ألّا تلتزم مواقع الواب الخاصة بالدوريات بالقبول الفوري للمخطوطات أو أن تخصص أوقاتا  قصيرة جدًا للمراجعة.</li>

		<li><b>ملكية الدورية وإدارتها</b></br>
	يجب ذكر المعلومات عن ملكية المجلة و/أو إدارتها بشكل واضح على الموقع. ويجب ألا يستخدم الناشرون أسماء المنظمات أو الدوريات التي قد تضلل المؤلفين والمحرّرين المحتملين فيما يتعلق بطبيعة مالك المجلة.</li>
		
		<li><b>الهيئة المديرة</b></br>
		يجب أن يكون للدوريات مجالس تحرير أو هيئات إشراف أخرى يكون أعضاؤها من الخبراء المعترف بهم في المجالات التي تغطيها الدورية. ويجب نشر الأسماء الكاملة لمجلس تحرير المجلة أو الهيئة المشرفة الأخرى مع الصفة والانتساب على الموقع.</li>
		
		<li><b> مجلس التحرير/ معلومات الاتصال</b></br>
يجب أن توفر الدوريات الأسماء الكاملة للمحررين وانتساباتهم على موقع المجلة الإلكتروني بالإضافة إلى معلومات الاتصال بمكتب التحرير، بما في ذلك العنوان الكامل.</li>

		<li><b> حقوق النشر والتراخيص</b></br>
		يجب أن تكون سياسة حقوق النشر ونوع الترخيص التي تعتمده المجلة مفصلاً بشكل واضح في التوصيات المقدمة للمؤلفين وكذلك في جميع المقالات المنشورة، سواء في HTML أو PDF. وبالمثل، إذا تم السماح للمؤلفين بنشر أعمالهم بموجب ترخيص المشاع الإبداعي  (Creative Commons) ، يجب الإشارة إلى جميع متطلبات هذا الترخيص المحدد على موقع الواب. ويجب أيضا بيان أي سياسة تتعلق بأرشفة المنشورات النهائية أو المقالات المقبولة للنشر في مستودعات طرف ثالث بشكل واضح.</li>
		
		<li><b>معاليم تسليم المخطوطات و/أو إعدادها للنشر</b></br>
		يجب ذكر أي معاليم مفروضة على المؤلفين عند تسليم المخطوطات أو مقابل إعدادها للنشر في المجلة بكل وضوح على الصفحة الرئيسية وفي مكان تسهل رؤيتة على المعنيين، ليكونوا على علم بذلك قبل تقديم المخطوطات لمراجعتها أو قبل الشروع في إعدادها. وإذا كانت هذه العمليات مجانية، فيجب كذلك الإشارة إليها بوضوح. </li>
		
		<li><b>عملية تحديد ومعالجة الادعاءات وسوء الإدارة في مجال البحوث</b></br>
		يجب على الناشرين اتخاذ الخطوات اللازمة لكشف ومنع نشر المقالات التي تنتهك موثوقية نتائج البحوث، بما في ذلك الانتحال وتزويرالبيانات وغيرها. ولا يجوز للمجلة أو لمحرريها  بأي حال من الأحوال أن تشجع مثل هذا السلوك أو أن تسمح بمثل هذه التجاوزات.  عندما يبلّغ الناشر أو المحرّر بأي ادعاء فيه مس بموثوقية البحث يتعلق بمقال في الدورية فعليهم اتباع توجيهات لجنة أخلاقيات النشر COPE's guidelines   (أو ما يعادلها) للتعامل معها.</li>

		<li><b> أخلاقيات النشر</b></br>
		يجب أن يكون للدورية كذلك سياسات حول أخلاقيات النشر، ويجب أن تكون هذه المعلومات مرئية بوضوح على موقعها على الإنترنت. ويجب أن تشير إلى: (1) سياسات نشر من حيث التأليف والمشاركة فيه. (2) كيفية تعامل الدورية مع الشكاوى والطعون ؛ (3) سياسات النشر بشأن تضارب المصالح/ المصالح المتنافسة ؛ (4) سياسات النشر بشأن تقاسم البيانات واستنساخها ؛ 5) سياسة المجلة بشأن الرقابة الأخلاقية ؛ 6) سياسة المجلة بشأن الملكية الفكرية ؛ 7) خيارات الدورية للمناقشات والتصحيحات اللاحقة للنشر.</li>
		
		<li><b>دوريّة النشر</b></br>
	.يجب ذكر دورية صدور أعداد المجلّة بوضوح</li>
		
		<li><b>النفاذ</b></br>
		يجب أن يتم عرض سياسة النفاذ إلى الدورية والمقالات بوضوح. ويجب على الناشر أن يذكر في الصفحة الرئيسية إذا كان هناك اشتراكات أو رسوم تدفع مقابل الاطلاع على المقالات.</li>
		
		<li><b> الحفظ المتواصل</b></br>
		يجب ذكر خطة المجلة في الحفظ الإلكتروني لمحتواها، وتأمين النسخ الاحتياطية لضمان النفاذ إلى المحتوى (مثل النفاذ إلى المقالات عبر CLOCKSS أو PubMedCentral)، وخاصّة في حالة توقف الدورية عن الصدور.</li>
		
		<li><b> مصادر الدخل</b></br>
		يجب الإشارة بوضوح على موقع المجلة إلى النماذج الاقتصادية أو مصادر الدخل (مثل معاليم معالجة المقالات، والاشتراكات، والإعلانات، والدعم من المؤسسات،..) </li>
		
		<li><b>الإشهار </b></br>
		يجب بيان السياسة الإشهارية للدورية إن وجدت ، بما في ذلك أنواع الإعلانات التي سيتم النظر فيها ، ومن الذي يتخذ قرارات بشأن قبول الإعلانات وما إذا كانت مرتبطة بمحتوى أو سلوك القارئ (عبر الإنترنت فقط) أو يتم عرضها بشكل عشوائي. الإعلانات الإشهارية يجب ألا ترتبط بأي شكل من الأشكال بصنع القرارات التحريرية وأن تظل منفصلة عن المحتوى المنشور.</li>
		
		<li><b> التسويق المباشر</b></br>
		أي أنشطة تسويقية مباشرة، بما في ذلك التماس المخطوطات التي يتم إجراؤها لفائدة المجلة، ستكون مناسبة وموجهة بشكل جيد وغير مزعج. ومن المتوقع أن تكون المعلومات المقدمة عن الناشر أو المجلة صادقة وليست مضللة للقراء أو المؤلفين.</li>
		</p>
		
<p>في حال تبين أن إحدى المنظمات الأعضاء انتهكت أفضل الممارسات هذه، أو غيرها من المتطلبات المحددة للمنظمة، فإن OASPA / DOAJ / COPE / WAME ستحاول في المقام الأول التعامل معها من أجل معالجة أي إخلالات قد تكون موجودة. وفي حال كانت المنظمة العضو غير قادرة أو غير راغبة في معالجة ذلك، فإنّة يجوز تعليق عضويتها في المنظمة أو إنهاؤها.</p>

<p>لدى OASPA / DOAJ / COPE / WAME إجراءات للتعامل مع الشكوك المثارة حول الأعضاء.</p>

<p><i>تم نشر هذا الإصدار باللغة العربية في مارس 2019 </br>
	آخر إصدار باللغة الإنجليزية في جانفي 2018</br>
الإصدار الثاني منشور في June 2015</br>
الإصدار الأول منشور في 10 January 2014</i></p>

<p>&nbsp;</p>
<p><i>حول لجنة أخلاقيات النشر (COPE, <a href="https://publicationethics.org">
https://publicationethics.org</a>)</i></p>
<p>تقدم COPE النصائح للمحررين والناشرين في جميع جوانب أخلاقيات النشر ، وعلى وجه الخصوص في كيفية التعامل مع حالات سوء السلوك في البحث والنشر. كما يوفر منتدى لأعضائه لمناقشة الحالات الخصوصية. لا تقوم COPE بالتحقيق بنفسها في الحالات الفردية، بل تشجع على التأكد من قيام أصحاب الكفاءة بالتحقيق فيها (عادة ما تكون مؤسسة أبحاث أو رب عمل). من المفترض أن يسعى جميع أعضاء COPE إلى تطبيق مبادئ أخلاقيات النشر الواردة في  الممارسات الأساسية .</p>

<p><i>حول دليل دوريات النفاذ المفتوح  (DOAJ, <a href="https://doaj.org">https://doaj.org</a>)</i></p>
<p>تتمثّل مهمة DOAJ في تنظيم  مصدر للمعلومات الموثوقة حول الدوريات العلمية ذات النفاذ المفتوح على شبكة الإنترنت وصيانته وتطويره ؛ وكذلك التحقق من امتثال الدوريات  لمتطلبات الانضمام إلى القائمة حسب معايير معقولة ؛ زيادة الظهور والانتشار والاكتشاف والجاذبية للدوريات ذات النفاذ المفتوح؛  لتمكين الباحثين والمكتبات والجامعات وممولي البحث العلمي وغيرهم من أصحاب المصلحة من الاستفادة من المعلومات والخدمات الموفرة ؛ لتسهيل إدماج دوريات النفاذ المفتوح في خدمات المكتبات والمجمّعات ؛ مساعدة الناشرين ومجلاتهم ، حيثما أمكن، على تحقيق معايير النشر الرقمية المعقولة؛ وتسهيل الانتقال بنظام الاتصال العلمي والنشر إلى نموذج لخدمة العلوم، والتعليم العالي، والصناعة، والتجديد، والمجتمعات والشعوب. من خلال هذا العمل، سيتعاون دليل دوريات النفاذ المفتوح (د د ن م= DOAJ) مع جميع الأطراف المعنية للعمل على تحقيق هذه الأهداف.</p>

<p><i>ول جمعية الناشرين العلميين للنفاذ المفتوح
(OASPA, <a href="https://oaspa.org">https://oaspa.org</a>)</i></p>
<p>OASPA هي جمعية تجارية تأسست في عام 2008 من أجل تمثيل مصالح ناشري النفاذ المفتوح (OA) على مستوى العالم في جميع التخصصات. من خلال تشجيع التعاون في تطوير النماذج الاقتصادية المناسبة، والأدوات والمعايير لدعم النشر العلمي المفتوح، يهدف OASPA للمساعدة في ضمان مستقبل مزدهر ومستدام لفائدة منتسبيه والمجموعات العلمية التي يخدمونها. يتم تنفيذ هذه المهمة من خلال تبادل المعلومات وتحديد المعايير وتطويرالنماذج والدفاع عنها والتعليم وتشجيع الابتكار.</p>

<p><i>ول الجمعية العالمية للمحررين في الطب (WAME, <a href="http://www.wame.org">http://www.wame.org</a>)</i></p>
<p>WAME هي جمعية تطوعية عالمية غير ربحية تضم محررين للمجلات الطبية الخاضعة للتحكيم العلمي  الذين يسعون إلى تعزيز التعاون والتواصل بين المحررين ؛ تحسين معايير التحرير. تعزيز المهنية في التحرير الطبي من خلال التعليم ، والنقد الذاتي ، والتنظيم الذاتي ؛ وتشجيع البحوث على مبادئ وممارسة التحرير الطبي. تقوم WAME بتطوير سياسات وتوصيات حول أفضل الممارسات لمحرري المجلات الطبية ولديها مقرر للمحررين يتم تشجيع الأعضاء على متابعتها.</p>

<p>ترجم هذا الإصدار من طرف السيد سهيل هويسة</p>

</div>


{% endblock %}
