{% extends "base.html" %}

{% block content %}

<h2>Akademik Yayıncılıkta Şeffaflık ve En İyi Uygulama İlkeleri</h2>

<p><b>GİRİŞ</b></p>

<p>Yayın Etiği Komitesi (Committee on Publication Ethics - COPE), Açık Erişim Dergileri Dizini (Directory of Open Access Journals - DOAJ), Açık Erişim Akademik Yayımcılar Birliği (Open Access Scholarly Publishers Association - OASPA) ve Dünya Tıbbi Editörler Topluluğu (World Association of Medical Editors - WAME), üyelik başvurularının niteliğinde sayıca ve genişliğinde artış gösteren akademik kuruluşlardır. Kuruluşlarımız, bilimsel yayınlar için şeffaflık ve en iyi uygulama ilkelerini belirlemek ve bu ilkelerin COPE, DOAJ ve OASPA ve üyelik başvurularının WAME tarafından değerlendirildiği ölçütlerin bir kısmı tarafından üyeliğin uygunluğunun değerlendirildiği temel ölçütleri açıklığa kavuşturmak için işbirliği yapmıştır. Her kuruluşun, uygulamaları değerlendirirken kullanılan kendi ek ölçütleri de vardır. Kuruluşlar, şeffaflık ve en iyi uygulama ölçütlerini karşıladıklarını gösteremeyen yayıncıların veya dergilerin listelerini paylaşmayacaktır.</p>

<p>Bu devam eden bir çalışmanın üçüncü versiyonudur (Ocak 2018'de yayınlanmıştır); İlk versiyon OASPA  tarafından Aralık 2013'te ve Haziran 2015'te ikinci versiyon olarak kullanıma sunulmuştur. Geniş yayılımını teşvik ediyoruz ve genel ilkeler ve özgül ölçütler hakkında geribildirimde bulunmaya devam ediyoruz. Kuruluşların arka planı aşağıdadır.</p>

<p>&nbsp;</p>
<p><b>Şeffaflık İlkeleri</b></p>
<p>
	<ol>
		<li><b>Web sitesi</b></br>
		İçerdiği metin de dahil olmak üzere bir derginin web sitesi, yüksek etik ve profesyonel standartları sağlamak için özen göstermelidir. Başka bir dergi / yayıncının sitesini taklit etme girişimi de dahil olmak üzere, okuyucuları veya yazarları yanlış yönlendirebilecek bilgiler içermemelidir.</br>
		Bir 'Amaç ve Kapsam' ifadesi web sitesinde yer almalı ve okuyucu kitlesi açıkça tanımlanmış olmalıdır. Bir derginin, yayınlanmak üzere yazarlık ölçütleri (örneğin, çoklu gönderimler, aynı yayının birden fazla yerde atıf olmaksızın yayınlanması dâhil değildir) dahil olmak üzere yayınlanması için neleri dikkate alacağı hakkında bir açıklama yapılmalıdır. ISSN'ler açıkça gösterilmelidir (baskı ve elektronik yayınlar için ayrı ayrı).</li>

		<li><b>Derginin adı</b></br>
		Dergi adı özgün olmalıdır ve başka bir dergi ile kolayca karışabilecek veya derginin kökeni veya diğer dergilerle ilişkilendirme konusunda olası yazarları ve okuyucuları yanlış yönlendirebilecek bir isim olmamalıdır.</li>
		
		<li><b>Hakem değerlendirme  (peer –review) süreci</b></br>
		Dergi içeriğinin hakem denetimden geçip geçmediği açıkca belirtilmelidir. Hakem değerlendirmesi, derginin editör kadrosunun bir parçası olmayan, konu ile ilgili uzman  hakemlerden makaleler hakkında tavsiye alınması olarak tanımlanır. Derginin hakem değerlendirme prosedürlerine ilişkin tüm politikaları ile birlikte bu süreç ve kullanılan hakem değerlendirme yöntemi derginin internet sitesinde, açık bir şekilde tanımlanmalıdır. Dergi web siteleri, yazının kabulünü veya çok kısa bir hakem değerlendirme süresi garantisi vermemelidir.</li>

		<li><b>Sahibi ve yönetim</b></br>
		Derginin sahibi ve/veya yönetimi ile ilgili bilgiler derginin web sitesinde açıkça belirtilmelidir. Yayıncılar, olası yazar ve editörleri derginin sahibi hakkında yanlış yönlendirebilecek kurum ya da dergi isimleri kullanmamalıdır.</li>
		
		<li><b>Yönetim kurulu</b></br>
		Dergiler, derginin kapsamı içinde yer alan konularda tanınmış uzman üyelerin yer aldığı yayın kuruluna veya yönetim organlarına sahip olmalıdır. Derginin yayın kurulu ve diğer yönetim organlarında yer alanların tam adları ve bağlı oldukları kuruluşları derginin web sitesinde verilmelidir.</li>
		
		<li><b>Yazı işleri ekibi/iletişim bilgileri</b></br>
		Dergiler, derginin editörlerinin tam isimlerini ve bağlı oldukları kuruluşları, tam adres de dahil olmak üzere editörlük ofisinin iletişim bilgilerini derginin web sitesinde sağlamalıdır.</li>

		<li><b>Telif Hakkı ve lisanslama</b></br>
		Telif hakkı politikası, yazar kılavuzlarında açıkça belirtilmeli ve yayınlanmış tüm makalelerde telif hakkı sahibinin ismi yer almalıdır. Aynı şekilde, lisans bilgileri, web sitesindeki kılavuzlarda açıkça tanımlanmalı ve hem HTML hem de PDF'lerde yayınlanmış tüm makalelerde lisans koşulları belirtilmelidir. Yazarların Creative Commons lisansı altında yayınlamalarına izin verilirse, herhangi bir özel lisans gerekliliği belirtilmelidir. Makalelerin son kabul edilen versiyonlarının veya yayınlanmış şekillerinin üçüncü taraflara ait veri havuzlarında yayınlanmasına ilişkin derginin herhangi bir politikası varsa, açıkça belirtilmelidir.</li>
		
		<li><b>Yazar ücretleri</b></br>
		Dergide yazıların değerlendirme süreci ve/veya yayınlanması için gerekli olan her türlü ücret veya masraf, yazarların makalelerini değerlendirmek üzere sunmadan önce kolaylıkla bulabilecekleri bir yerde açıkça belirtilmeli ya da makaleyi göndermek üzere hazırlamadan önce masraflar ile ilgili gereken bilgiler yazarlara açıklanmalıdır. Eğer herhangi bir ücret yok ise, açıkça belirtilmelidir.</li>
		
		<li><b>Araştırma usulsüzlüğü iddialarının tanımlanması ve ele alınması süreci</b></br>
		Yayıncılar ve editörler, intihal, alıntı manipülasyon ve veri tahrifi/üretimi gibi araştırma usulsüzlüğünün meydana geldiği makalelerin yayınlanmasını tespit etmek ve önlemek için makul adımları atacaklardır.. Hiçbir durumda, dergi veya editörleri, bu tür usulsüzlüklerin teşvik etmemeli veya bilerek bu tür usulsüzlüklerin gerçekleşmesine izin vermemelidir. Bir derginin yayıncısı ya da editörleri, dergilerinde yayınlanan bir makaleyle ilgili herhangi bir araştırma ile uygunsuz davranıştan haberdar edilirse, yayıncı ya da editör, iddialarla uğraşırken COPE'un  kılavuzlarını  (ya da eşdeğerini) takip etmelidir.</li>

		<li><b>Yayın Etiği</b></br>
		Dergi,  yayıncılık etiği ile ilgili politikalara sahibi olmalıdır. Bu politikalar, web sitesinde açıkça görülebilir olmalı ve şu maddeleri içermelidir: i) Yazarlık ve katkıda bulunanlar ile ilgili politikalar; ii) Derginin şikayet ve itirazları nasıl ele alacağı; iii) Çıkar çatışmaları/çıkar çatışmaları hakkında dergi politikaları; iv) Veri paylaşımı ve yeniden üretilebilirlik hakkındaki politikalar; v) Derginin etik denetime dair politikası; vi) Derginin fikri mülkiyet politikası; ve vii) Derginin yayın sonrası tartışma ve düzeltmeler için seçenekleri.</li>
		
		<li><b>Yayınlama Programı</b></br>
		Bir derginin yayınlandığı zaman aralıkları açıkça belirtilmelidir.</li>
		
		<li><b>Erişim</b></br>
		Derginin ve bireysel makalelerin okuyucular tarafından erişilebildiği yol(lar), görüntüleme ücretleri ve abonelik olup olmadığı belirtilmelidir.</li>
		
		<li><b>Arşivleme</b></br>
		Derginin artık yayınlanmaması durumunda dergi içeriğine erişiminin (örneğin, CLOCKSS veya PubMed Central aracılığıyla ana makalelere erişim), elektronik yedekleme ve korunma planı açıkça belirtilmelidir.</li>
		
		<li><b>Gelir Kaynakları</b></br>
		İş modelleri veya gelir kaynakları (örneğin, yazar ücretleri, abonelikler, reklam, baskılar, kurumsal destek ve kurumsal destek) derginin web sitesinde açıkça belirtilme veya başka bir şekilde açıklanmalıdır. Yayınlama ücretleri veya feragat durumunun editörün karar verme sürecini etkilememesi gerekmektedir.</li>
		
		<li><b>Reklam</b></br>
		Dergiler, hangi tür reklamların dikkate alınacağını, reklamların içerikle veya okuyucu davranışlarıyla bağlantılı olup olmadıklarını (yalnızca çevrimiçi) veya rastgele görüntülenme gibi gerekli reklamcılık politikalarını belirtmelidir. Reklamlar, herhangi bir şekilde editörün karar verme süreci ile ilgili olmamalı ve yayınlanan içerikten ayrı tutulmalıdır.</li>
		
		<li><b>Doğrudan Pazarlama</b></br>
		Derginin adına yapılan makalelerin talep edilmesi de dahil olmak üzere, doğrudan pazarlama faaliyetleri uygun, iyi hedeflenmiş ve göze batmayan bir nitelikte olmalıdır. Yayıncı veya dergiyle ilgili verilen bilgilerin doğru olması ve okuyucu veya yazarlar için yanıltıcı olmaması beklenir.</li>
		</p>
		
<p>Bir üye kuruluşun, bu en iyi uygulamaları veya kuruluşun diğer özel gerekliliklerini ihlal ettiği tespit edilirse, OASPA / DOAJ / COPE / WAME, ilk olarak, ortaya konan bu kaygıları gidermek için onlarla birlikte çalışmayı deneyecektir. Üye kuruluşun bu endişeleri dile getirme konusunda isteksiz veya yetersiz olması durumunda, kuruluştaki üyelikleri askıya alınabilir veya feshedilebilir.</p>

<p>OASPA/DOAJ/COPE/WAME have procedures for dealing with concerns raised about members.</p>

<p><i>DOAJ'de yayınlanan bu versiyon: 15 Ocak 2018</br>
DOAJ'de yayınlanan ikinci versiyon: Haziran 2015</br>
DOAJ’de yayınlanan ilk versiyon: 10 Ocak 2014</i></p>

<p>&nbsp;</p>
<p><i>Yayın Etiği Komitesi Hakkında (COPE, <a href="https://publicationethics.org">https://publicationethics.org</a>)</i></p>
<p>COPE, editörlere ve yayıncılara yayın etiğinin tüm yönleriyle ilgili önerilerde bulunur ve özellikle araştırma ve yayın suiistimali (hatalı davranışları) olgularının nasıl ele alınacağını açıklar. Ayrıca üyelerine bireysel olguları tartışmak için bir forum sağlar. COPE münferit olguları araştırmaz, ancak editörlerin olguları uygun yetkililer (genellikle bir araştırma kurumu veya işveren) tarafından araştırılmasını sağlamaya teşvik eder. Tüm COPE üyelerinin, temel uygulamalarda ana hatları verilen COPE yayın etiği ilkelerini uygulaması beklenmektedir.</p>

<p><i>Erişime Açık Dergi Dizinleri Hakkında (EADD, <a href="https://doaj.org">https://doaj.org</a>)</i></p>
<p>DOAJ’ın misyonu; web’deki erişime açık bilimsel dergiler hakkında güvenilir bilgi kaynakları oluşturmak ve geliştirmek; listede yer alan dergilerdeki girdilerin standartlara uygunluğunu doğrulamak; erişime açık dergilerin görünürlüğünü, yayılmasını ve keşfedilebilirliğini ve cazibesini arttırmak; bilim adamlarının, kütüphanelerin, üniversitelerin, araştırma fonlarının ve diğer paydaşların sağlanan bilgi ve hizmetlerden yararlanabilmelerini sağlamak; erişime açık dergilerin kütüphanelere ve toplayıcı web hizmetlerine entegrasyonunu kolaylaştırmak; mümkün olduğunda yayıncıların ve dergilerinin makul dijital yayıncılık standartlarını karşılamasına yardımcı olmak; ve böylelikle bilimsel iletişim sisteminin ve yayıncılığın bilim, yüksek öğrenim, endüstri, yenilik, toplum ve insanlara hizmet eden bir modele geçişini desteklemektir. Bu çalışma sayesinde DOAJ, bu hedeflere yönelik olarak çalışan tüm ilgili taraflarla işbirliği yapacaktır.</p>

<p><i>Açık Erişim Akademik Yayıncılar Birliği Hakkında (OASPA, <a href="https://oaspa.org">https://oaspa.org</a>)</i></p>
<p>OASPA, tüm disiplinlerde küresel olarak Açık Erişim (OA) yayıncılarının çıkarlarını temsil etmek amacıyla 2008 yılında kurulan bir ticaret birliğidir. OAPA, OA yayıncılığını destekleyecek uygun iş modelleri, araçları ve standartları geliştirmeye yönelik işbirliğini teşvik ederek, üyelerinin ve hizmet ettikleri akademik toplulukların yararına başarılı ve sürdürülebilir bir gelecek sağlamaya yardımcı olmayı amaçlamaktadır. Bu misyon bilgi alışverişi, standartları belirleme, ilerleyen modeller, savunuculuk, eğitim ve inovasyonun teşviki yoluyla gerçekleştirilmektedir.</p>

<p><i>Dünya Tıbbi Editörler Birliği Hakkında (WAME, <a href="http://www.wame.org">http://www.wame.org</a>)</i></p>
<p>WAME, editörler arasında işbirliğini ve iletişimi teşvik etmek isteyen, editoryal standartları geliştirmeyi amaçlayan,  eğitim, öz eleştiri ve öz-düzenleme yoluyla tıbbi düzenlemede profesyonelliği teşvik eden, ve tıbbi düzenleme ilkelerini ve pratiklerinin araştırılmasını destekleyen  hakemli tıp dergilerinin editörlerinin küresel kar amacı gütmeyen bir gönüllü birliğidir. WAME, tıp dergisi editörleri için en iyi uygulamaların politikalarını ve önerilerini geliştirir ve üyelerin takip etmeleri için teşvik edildiği editörler için bir müfredata sahiptir.</p>

{% endblock %}
