<footer class="page-footer">
  <div class="container">
    <section class="row">
      <div class="col-sm-2">
        <h2>Apply</h2>
        <ul>
          <li><a href="">Application form</a></li>
          <li><a href="">Guide to applying</a></li>
          <li><a href="">Copyright & licensing help</a></li>
          <li><a href="">The DOAJ seal</a></li>
          <li><a href="">Transparency & best practice</a></li>
          <li><a href="">Why index your journal in DOAJ?</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h2>Journals & articles</h2>
        <ul>
          <li><a href="">Journals</a></li>
          <li><a href="">Articles</a></li>
          <li><a href="">Browse by subject</a></li>
          <li><a href="">Open Knowledge Maps</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h2>Data</h2>
        <ul>
          <li><a href="">API</a></li>
          <li><a href="">OAI-PMH</a></li>
          <li><a href="">XML</a></li>
          <li><a href="">Widgets</a></li>
          <li><a href="">Public data dump</a></li>
          <li><a href="">OpenURL</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h2>About</h2>
        <ul>
          <li><a href="">History & mission</a></li>
          <li><a href="">Team & ambassadors</a></li>
          <li><a href="">Advisory Board & Council</a></li>
          <li><a href="">Volunteers</a></li>
          <li><a href="">News</a></li>
          <li><a href="">FAQs</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h2>Support</h2>
        <ul>
          <li><a href="">Support or donate</a></li>
          <li><a href="">Sponsors</a></li>
          <li><a href="">Publisher members</a></li>
          <li><a href="">Sustainable funders</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h2>Stay up to date</h2>
        <ul>
          <li><a href="">Twitter</a></li>
          <li><a href="">Facebook</a></li>
          <li><a href="">Linkedin</a></li>
          <li><a href="">Github</a></li>
          <li><a href="">New journals RSS</a></li>
        </ul>
      </div>
    </section>

    <section class="row legal">
      <div class="col-sm-6">
        <ul>
          <li><a href="">Privacy</a></li>
          <li><a href="">Contact us</a></li>
          <li><a href="">IS4OA</a></li>
          <li><a href="">Cottage Labs LLP</a></li>
        </ul>
      </div>
      <p class="col-sm-6">©2020 DOAJ. The DOAJ site and its metadata are licensed under CC BY-SA.</p>
    </section>
  </div>
</footer>

<script>
  // User Feather icons
  feather.replace()

  // Responsive menu
  var openMenu = document.querySelector(".nav__icon");
  var nav = document.querySelector(".nav__menu");

  openMenu.addEventListener('click', function() {
    nav.classList.toggle("nav__menu_is-active");
  }, false);
</script>
