<!--[if IE]>
<p class="browserupgrade">You are using an outdated browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<header class="page-header">
  <div class="primary-nav">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-sm-6">
          <a href="/" class="logo">
            <?xml version="1.0" encoding="UTF-8"?>
            {% include logo.svg %}
          </a>
        </div>
        <nav class="col-xs-8 col-sm-6">
          <ul class="nav-bar">
            <li class="dropdown">
              <a href="/support" class="dropdown__trigger nav-bar__link" id="menu-support" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Support
                <span data-feather="chevron-down"></span>
              </a>
              <ul class="dropdown__menu" aria-labelledby="menu-support">
                <li>
                  <a href="/support" class="dropdown__link">
                    Support DOAJ
                  </a>
                </li>
                <li>
                  <a href="/support/sponsors" class="dropdown__link">
                    Sponsors
                  </a>
                </li>
                <li>
                  <a href="/support/publisher-supporters" class="dropdown__link">
                    Publisher supporters
                  </a>
                </li>
                <li>
                  <a href="/support/supporters" class="dropdown__link">
                    Supporters
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/apply" class="dropdown__trigger nav-bar__link" id="menu-apply" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Apply
                <span data-feather="chevron-down"></span>
              </a>
              <ul class="dropdown__menu" aria-labelledby="menu-apply">
                <li>
                  <a href="/apply" class="dropdown__link dropdown__link--is-disabled">
                    Application form
                  </a>
                </li>
                <li>
                  <a href="/apply/guide" class="dropdown__link">
                    Guide to applying
                  </a>
                </li>
                <li>
                  <a href="/apply/seal" class="dropdown__link">
                    The DOAJ seal
                  </a>
                </li>
                <li>
                  <a href="/apply/transparency" class="dropdown__link">
                    Transparency & best practice
                  </a>
                </li>
                <li>
                  <a href="/apply/why-index" class="dropdown__link">
                    Why index your journal in DOAJ?
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="" class="nav-bar__link primary-nav__search">
                <span data-feather="search"></span>
                <span class="sr-only"> Search</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <nav class="secondary-nav {% if page.highlight != false %}secondary-nav--precedes-highlight{%endif%}">
    <div class="container">
      <a href="#" class="secondary-nav__menu-toggle" aria-label="Click to open menu">
        <span data-feather="menu"></span> Menu
      </a>
      <ul class="nav-bar secondary-nav__menu">
        <li class="dropdown">
          <a class="dropdown__trigger nav-bar__link" id="menu-journals-articles" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Journals & articles
            <span data-feather="chevron-down"></span>
          </a>
          <ul class="dropdown__menu" aria-labelledby="menu-journals-articles">
            <li>
              <a href="#" class="dropdown__link dropdown__link--is-disabled">
                Journals
              </a>
            </li>
            <li>
              <a href="#" class="dropdown__link dropdown__link--is-disabled">
                Articles
              </a>
            </li>
            <li>
              <a href="#" class="dropdown__link dropdown__link--is-disabled">
                Browse by subject
              </a>
            </li>
            <li>
              <a href="#" class="dropdown__link dropdown__link--is-disabled">
                Open Knowledge Maps
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown__trigger nav-bar__link" id="menu-data" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Data
            <span data-feather="chevron-down"></span>
          </a>
          <ul class="dropdown__menu" aria-labelledby="menu-data">
            <li>
              <a href="#" class="dropdown__link dropdown__link--is-disabled">
                API
              </a>
            </li>
            <li>
              <a href="#" class="dropdown__link dropdown__link--is-disabled">
                OAI-PMH
              </a>
            </li>
            <li>
              <a href="/data/xml" class="dropdown__link">
                XML
              </a>
            </li>
            <li>
              <a href="/data/widgets" class="dropdown__link">
                Widgets
              </a>
            </li>
            <li>
              <a href="/data/public-data-dump" class="dropdown__link">
                Public data dump
              </a>
            </li>
            <li>
              <a href="/data/openurl" class="dropdown__link">
                OpenURL
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown__trigger nav-bar__link" id="menu-about" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
            <span data-feather="chevron-down"></span>
          </a>
          <ul class="dropdown__menu" aria-labelledby="menu-about">
            <li>
              <a href="/about/index" class="dropdown__link">
                History & mission
              </a>
            </li>
            <li>
              <a href="/about/team-ambassadors" class="dropdown__link">
                Team & ambassadors
              </a>
            </li>
            <li>
              <a href="/about/advisory-board-council" class="dropdown__link">
                Advisory Board & Council
              </a>
            </li>
            <li>
              <a href="/about/volunteers" class="dropdown__link">
                Volunteers
              </a>
            </li>
            <li>
              <a class="dropdown__link dropdown__link--is-disabled">
                News
              </a>
            </li>
            <li>
              <a href="/about/faq" class="dropdown__link">
                FAQs
              </a>
            </li>
          </ul>
        </li>
        <li class="secondary-nav__login">
          <a href="#" class="nav-bar__link">
            Login
            <span data-feather="log-in"></span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
