<head>
  <meta charset="utf-8">
  <title>Directory of Open Access Journals</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <!-- <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png"> -->

  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&family=Spectral:ital,wght@0,600;1,600&display=swap" rel="stylesheet">

  <!-- Vendors -->
  <link rel="stylesheet" href="./css/vendors/normalize.css">
  <link rel="stylesheet" href="./css/vendors/bootstrap.css">

  <link rel="stylesheet" href="./css/main.css">

  <meta name="theme-color" content="#982E0A">

  <!-- Feather icons -->
  <script src="https://unpkg.com/feather-icons"></script>
</head>
