<header>
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-4">
        <a href="https://www.erudit.org" title="erudit.org" class="erudit-logo" target="_blank">{% include symbole-erudit.svg %}</a>
      </div>

      <div class="text-center col-xs-4">
        <a href="/"><h1>{{ site.title }}</h1></a>
      </div>

      <div class="text-right col-xs-4">
        <button type="button" class="pull-right" data-toggle="modal" data-target="#login">
          Accès
        </button>
      </div>
    </div>

    <nav class="navbar" role="navigation">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <h2>Menu</h2>
      </button>

      <div id="navbar" class="col-xs-12 navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="a-propos">À propos</a></li>
          <li><a href="partenaires">Partenaires</a></li>
          <li><a href="chercheurs">Chercheurs</a></li>
          <li><a href="projets">Projets</a></li>
          <li><a href="outils">Outils</a></li>
          <li><a href="donnees">Données</a></li>
          <li><a href="#">English</a></li>
        </ul>
      </div>
    </nav>

  </div>

</header>
