<p>Supporting DOAJ is a way for publishers to show their commitment, not only to open access, but to a community-driven, non-profit, diverse organisation.</p>
<p>We offer a variety of options so that publishers can choose the level of support that they are most comfortable with. The list below shows suggested contributions based on business size but publishers can offer any amount of their choosing.</p>
<p>It is possible to choose a discounted 3-year sustaining contribution, based on the rates below, or a single annual ammount. To do that, <a href="mailto:feedback@doaj.org">contact us</a> stating the name of your organisation as we will be happy to help.</p>
<ul class="tabular-list">
<li>Publishing more than <strong>2,000</strong> articles/year<ul>
<li>GBP £2,000 per year</li>
</ul>
</li>
<li>Publishing <strong>1,000-2,000</strong> articles/year<ul>
<li>GBP £1,500 per year  </li>
</ul>
</li>
<li>Publishing <strong>500-1,000</strong> articles/year<ul>
<li>GBP £1,000 per year</li>
</ul>
</li>
<li>Publishing <strong>250-500</strong> articles/year<ul>
<li>GBP £500 per year</li>
</ul>
</li>
<li>Publishing upto <strong>250</strong> articles/year<ul>
<li>GBP £300 per year</li>
</ul>
</li>
</ul>
<h2 id="our-publisher-supporters">Our publisher supporters</h2>
<p>The publishers below have chosen to show their commitment to quality, peer-reviewed open access by supporting DOAJ. We thank them! Without them, our work would not be possible.</p>