<h2 id="benefits-for-contributing-publishers-and-aggregators-2021">Benefits for contributing publishers and aggregators 2021</h2>
<p>(<a href="https://docs.google.com/document/d/1xTVxUvqLkh2-r53cYlWdSIHsPGSnhcE7gi7bRFCaJik/edit?usp=sharing" referrerpolicy="no-referrer" rel="noopener noreferrer" target="_blank">A downloadable version</a> of these benefits is available.)</p>
<table>
<thead>
<tr>
<th>Basic contribution</th>
<th>Sustaining contribution (25% higher than Basic)</th>
<th>Premier contribution (50% higher than Basic)</th>
</tr>
</thead>
<tbody>
<tr>
<td>Your logo on our website</td>
<td>Your logo on our website</td>
<td>Your logo on our website</td>
</tr>
<tr>
<td>A Tweet from the DOAJ account (17,300 followers) acknowledging your organisation as a Supporter</td>
<td>An interview-style blog post on <a href="https://blog.doaj.org/" referrerpolicy="no-referrer" rel="noopener noreferrer" target="_blank">blog.doaj.org</a> (15,000 views per month) acknowledging your organisation as a Contributor, with questions about the state of open access and other current developments in open access scholarly publishing</td>
<td>An interview-style blog post on <a href="https://blog.doaj.org/" referrerpolicy="no-referrer" rel="noopener noreferrer" target="_blank">blog.doaj.org</a> (15,000 views per month) acknowledging your organisation as a Contributor with questions about the state of open access and other current developments in open access scholarly publishing</td>
</tr>
<tr>
<td></td>
<td>A one-pager for  journal editors explaining, in general terms, how article metadata is ingested, and then pulled downstream by discovery services.</td>
<td>A one-pager for journal editors explaining, in general terms, how article metadata is ingested, and then pulled downstream by discovery services.</td>
</tr>
<tr>
<td></td>
<td>General presentation or documentation, for raising awareness among your stakeholders, about the benefits of DOAJ, the work we do and how DOAJ benefits individual journal titles.</td>
<td>Dedicated presentation or documentation, tailored to your organisation, about the benefits of DOAJ, the work we do and how DOAJ benefits individual journal titles. Written as a joint document with the publisher.</td>
</tr>
<tr>
<td></td>
<td>A report, (a Google Sheet), collecting metadata errors, as reported to us by discovery services.</td>
<td>A report, (a Google Sheet), collecting metadata errors, as reported to us by discovery services.</td>
</tr>
<tr>
<td></td>
<td></td>
<td>A yearly account review between the customer and DOAJ. The agenda can be determined by the publisher contact and a DOAJ representative.</td>
</tr>
<tr>
<td></td>
<td></td>
<td>A CSV file, generated annually, for recording changes in and which DOAJ updates your live records with.</td>
</tr>
<tr>
<td></td>
<td></td>
<td>Exposure across all our social media channels: Twitter, Instagram, LinkedIn, Facebook, WeChat. (Stats available.)</td>
</tr>
</tbody>
</table>