{% extends "/base.html" %}

{% block content %}

    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#panel').facetview( {{ search_options | safe }} )
    
    });
    </script>
    
    <div id="panel">

        {% if implicit %}
            <h2>{{ implicit }}</h2>
        {% endif %}
        {% if collection._id %}
            <h2><a href="/{{collection.owner}}">{{collection['owner']}}</a> / <a href="/{{collection.owner}}/{{collection.collection}}">{{ collection['label'] }}</a> 
            {% if collection.description %}
                <small>{{ collection['description'] }}</small>
            {% endif %}
            </h2>
        {% endif %}

    </div>

{% endblock %}


