/* TODO Break components up into individual scss files */



/* Eyebrow */
.eyebrow + h3 {
  margin-top: 0;
}

.eyebrow {
  margin: 0 0 $spacing-03 0;
  text-transform: uppercase;
  @include typescale-06;
  font-weight: 600;
  color: $sanguine;
}

/* Community */

.volunteers article figure {
  position: relative;
  margin: 1rem $spacing-05 $spacing-04 0;
  width: 225px;
  background-color: rgba(152, 46, 10, 0.25);
}

.volunteers article figure:after {
  position: absolute;
  left: 225px;
  content: '';
  height: 150px;
  width: 75px;
  background-color: rgba(152, 46, 10, 0.25);
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}

.volunteers article img {
  mix-blend-mode: multiply;
}

.volunteers .desc {
  color: $dark-grey;
  font-size: smaller;
  margin-bottom: $spacing-01;
}

.volunteers .discipline {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  color: $sanguine;
  margin-bottom: $spacing-03;
}


/* 3D buttons */

.button {
  box-shadow: none;
  padding: $spacing-02;
  margin-bottom: $spacing-04;
  position: relative;
  display: inline-block;
  border: 1px solid;
  top: 0.25em;
  bottom: -0.25em;
  right: -0.25em;
  left: 0.25em;
  transition: all 90ms ease-in;
  text-decoration: none;
}

.button:before {
  outline: 1px solid $sanguine;
  background: $warm-white;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -0.25em;
  bottom: 0.25em;
  right: 0.25em;
  left: -0.25em;
  z-index: -5;
  transition: all 90ms ease-in;
}

.button:hover,
.button:active,
.button:focus {
  box-shadow: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.button:hover:before,
.button:active:before,
.button:focus:before {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.primary-button {
  background: $sanguine;
  color: $warm-white;
  border-color: $sanguine;
}

.primary-button:hover,
.primary-button:active,
.primary-button:focus {
  color: $warm-white;
}

.secondary-button {
  background: $warm-white;
  border-color: $sanguine;
  color: $sanguine;
}

.secondary-button:hover,
.secondary-button:active,
.secondary-button:focus {
  color: $sanguine;
}

/* Input groups */

.input-group {
  margin: 1rem 0;
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group input,
.input-group select {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  display: table-cell;
}

/* This is specific to the homepage search bar... */

.input-group input[type="text"] {
  width: 40%;
}

.input-group select {
  width: 40%;
  margin-left: -1px;
}
.input-group input[type="submit"] {
  width: 20%;
  margin-left: -1px;
}
