/* Featured / "hero" sections */

.featured-section {
  background-color: $faded-orange;
}

.featured-section .button {
  /* box-shadow: none;
  padding: $spacing-02;
  margin-bottom: $spacing-04;
  position: static;
  display: inline-block;
  border: 1px solid;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 90ms ease-in;
  text-decoration: none; */
}

.featured-section .button:hover,
.featured-section .button:focus,
.featured-section .button:active {
  background-color: $faded-orange;
}
