/* Logo */

.logo-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
}

.logo {
  display: inline-block;

  svg {
    height: 30px;

    path {
      fill: $warm-black;
    }
  }
}
