/* Mobile menu  */

@media (max-width: 768px) {
  .secondary-nav .nav-bar {
    max-height: 0;
    overflow: hidden;
    display: block;
  }

  .secondary-nav .nav-bar li {
    margin-left: 0;
  }

  .secondary-nav .nav-bar li a {
    padding: $spacing-02 0;
    display: block;
    line-height: 1;
  }

  .feather-chevron-down {
    display: none;
  }
}
