/* Mobile menu  */

.nav-bottom .nav__icon {
  display: none;
}

@media (max-width: 768px) {
  .nav-bottom .nav__menu {
    max-height: 0;
    overflow: hidden;
    display: block;
  }

  .nav-bottom .nav__menu li {
    margin-left: 0;
  }

  .nav-bottom .nav__menu li a {
    padding: $spacing-02 0;
    display: inline-block;
    line-height: 1;
  }

  .nav-bottom .nav__icon {
    display: inline-block;
    padding: $spacing-03 0;
    color: $warm-black;
    stroke: $warm-black;

    svg {
      margin-top: -$spacing-01;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .nav-bottom .nav__menu_is-active {
    max-height: 100%;
    height: auto;
  }

  .dropdown {
    margin: 0 0 $spacing-03 0;
  }

  .dropdown-menu {
    display: block;
    position: static;
    float: none;
    border: 0;

    > li a {
      &:before {
        content: "— ";
      }

      &:hover,
      &:focus,
      &:active {
        background: none;
      }
    }
  }

  .feather-chevron-down {
    display: none;
  }
}
