/* Mobile menu  */

.nav-bottom .nav__icon {
  display: none;
}

@media (max-width: 768px) {
  .nav-bottom .nav__menu {
    max-height: 0;
    overflow: hidden;
    display: block;
  }

  .nav-bottom .nav__menu li {
    margin-left: 0;
  }

  .nav-bottom .nav__icon {
    display: inline-block;
    padding: 0 $spacing-03 0 $spacing-02;
    color: $warm-black;
    stroke: $warm-black;

    &:hover, &:focus, &:active {
      background-color: $grapefruit;
    }
  }

  .nav-bottom .nav__menu_is-active {
    max-height: 100%;
    height: auto;
  }
}
