/**
 * Modals
 */

.modal-content {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  padding: 10vh 0;

  a {
    color: #fff;
    display: inline-block;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;

    &:after {
      border-bottom: 1px solid #fff;
      content: '';
      display: block;
      width: 0%;
      height: 1px;
      width: 100%;
    }

    &:hover, &:active, &:focus {
      text-decoration: none;
      color: #fff;
    }

  }

  .close {
    color: #fff;
    font-size: 30px;
    opacity: 1;
  }

}

.modal-header {
  border: 0;
  float: none;
  text-transform: uppercase;
}

.modal-body {
  float: none;

  p, li, a, label, input, textarea {
    font-size: 22px;
    font-weight: 400;
  }

  form {
    margin-top: 50px;
  }

  button {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    padding: 20px;
    font-size: 18px;
    background: #000;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;

    &:hover, &:focus, &:active, &:active:focus {
      color: #000;
      border-color: #fff;
      background-color: #fff;
    }

  }

  .form-group {
    margin-bottom: 40px;
  }

  .form-control {
    background: none;
    border-radius: 0;
    height: 60px;
    border: 0;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    color: #fff;

    &:focus {
      box-shadow: none;
    }

  }

}

.modal-backdrop {
  background: none;
}
