/* Nav */

.nav-top {
  height: 50px;
  font-weight: 600;
}

.nav-top a {
  display: block;
  line-height: 50px;
}

.nav-top .feather-search {
  height: 20px;
}

.nav-top .feather-circle {
  height: 10px;
}

.nav-top a:hover .feather-circle,
.nav-top a:active .feather-circle,
.nav-top a:focus .feather-circle {
  fill: $sanguine;
  stroke: $sanguine;
}

.nav-bottom {
  padding-top: 50px;
}

.nav-bottom ul {
  border-bottom: 1px solid $dark-grey;
}

.nav-bottom li:last-child {
  margin-left: 40%;
}

.nav-bottom a {
  display: block;
  line-height: 50px;
  color: $dark-grey;
}

.nav-bottom .feather {
  top: 0.125em;
  height: 15px;
}

.nav-bottom .feather-menu {
  margin-right: 0.1875rem;
}
