/* Table of contents */

.toc {
  margin-top: $spacing-06;
  font-size: 0.833em;

  h2 {
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    line-height: 0.9;
  }
}

.section-nav,
.section-nav ul {
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 0;
      margin-left: $spacing-03;
    }
  }

  a {
    display: block;
    margin-bottom: $spacing-02;
    text-decoration: none;
  }
}
