/**
* Two-column layout for main content
*/

.two-col {

  ul {
    margin-bottom: 30px;

    li {

      &:nth-child(2n+1) {
        clear: both;
      }

      h4 {
        font-family: 'Merriweather', serif;
        font-weight: 400;
        font-size: 30px;
      }

      a {
        display: block;
        margin: 15px 15px 35px 15px;
        padding: 45px 50px;
        height: 600px;

        &:hover, &:focus, &:active, &:active:focus {
          color: rgba(0, 0, 0, 0.75);
        }

      }

      p, li, a {
        font-size: 16px;
        line-height: 1.5;
      }

    }

  }

}
