{% extends "/base.html" %}

{% block content %}

<h2>An error has occured</h2>

<p>Uh-oh! An error has occured. It looks like something has gone wrong.</p>
<p>If you are trying to reset your password, the link expires after 24 hours. Try resetting the password again and see if a new 
link works.</p>
<p>If you are looking for a piece of content, it looks like that item has either been removed from DOAJ or has moved. Send 
feedback to us by using the Contact link at the bottom of the page. </p>

{% endblock %}