{% extends "layouts/base.html" %}

{% block content %}
    <main class="page-content">
        <section class="container">

            <h2>An error has occured</h2>

            <p>Uh-oh! An error has occured. It looks like something has gone wrong.</p>
            <p>If you are trying to reset your password, the link expires after 24 hours. Try resetting the password again and see if a new
            link works.</p>
            <p>If you are looking for a piece of content, it looks like that item has either been removed from DOAJ or has moved. Send
            feedback to us by using the <a href="/contact" target="_blank">Contact Form</a>.</p>

        </section>
    </main>

{% endblock %}
