{% extends "/base.html" %}

{% block content %}

<h2>Not found</h2>

<p>Sorry, the item you were looking for is not there.</p>
<p>DOAJ has migrated to a new, open source platform. Due to the upgrade, certain old links may not work.</p>

<h2>What next?</h2>
<ul>
<li>Use the <a href="{{ url_for('doaj.search') }}">Search</a> page to find Open Access articles and journals.</li>
<li>Use the <a href="{{ url_for('doaj.suggestion') }}">Apply</a> page to apply for a journal's inclusion into DOAJ <strong>if you are the publisher</strong>.</li>

{% endblock %}
