{% extends "layouts/single_col_page.html" %}

{% block body_class %}error-page{% endblock %}
{% block page_title %}500: Internal server error &ndash; {% endblock %}
{% block title %}<strong>500 &mdash;</strong> <br/>Internal server error{% endblock %}

{% block single_col_content %}
<p>An error has occurred. It looks like something has gone wrong.</p>
<p>
    <strong>If you are looking for a specific journal</strong>, it might have been withdrawn from the index.<br/><br/>
    <a href="{{ url_for('doaj.contact') }}" class="button">Contact us</a>
</p>
{% endblock %}
