<script type="text/javascript" src="/static/vendor/edges/src/edges.jquery.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/es.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/edges.js?v={{config.get('DOAJ_VERSION')}}"></script>

<script type="text/javascript" src="/static/js/doaj.fieldrender.edges.js?v={{config.get('DOAJ_VERSION')}}"></script>

<script type="text/javascript" src="/static/vendor/edges/src/templates/bs3.Facetview.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/components/selectors.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/components/search.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.ResultCountRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.SortRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.FacetFilterSetterRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>



<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.RefiningANDTermSelectorRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.ORTermSelectorRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.ResultsFieldsByRowRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.PagerRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.SelectedFiltersRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.SearchingNotificationRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.DateHistogramSelectorRenderer.js?v={{config.get('DOAJ_VERSION')}}"></script>
