<script type="text/javascript" src="/static/vendor/edges/src/edges.jquery.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/es.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/edges.js"></script>

<script type="text/javascript" src="/static/js/doaj.fieldrender.edges.js"></script>

<script type="text/javascript" src="/static/vendor/edges/src/templates/bs3.Facetview.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/components/selectors.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/components/search.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.RefiningANDTermSelectorRenderer.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.FullSearchControllerRenderer.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.ResultsFieldsByRowRenderer.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.PagerRenderer.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.SelectedFiltersRenderer.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.SearchingNotificationRenderer.js"></script>
<script type="text/javascript" src="/static/vendor/edges/src/renderers/bs3.DateHistogramSelectorRenderer.js"></script>