{% macro render_field(
            field,
            render_subfields_horizontal=False,
            container_class='',
            hidden=False,
            first_field_with_error=''
            )
%}

    {% if field.short_name == first_field_with_error %}
        <a name="first_problem"></a>
    {% endif %}

    {% if field.type == 'FormField' %}
        <div class="control-group
        {% if field.errors %} error{% endif %}
        {% if render_subfields_horizontal %} row-fluid{% endif %}
        {% if container_class %} {{container_class}} {% endif %}
        " id="{{field.short_name}}-container"
        {% if hidden %} style="display: none;" {% endif %} 
        >
            {% for subfield in field %}
                {% if render_subfields_horizontal 
                and not (subfield.type == 'CSRFTokenField' and not subfield.value)%}

                    {# we're not allowed to modify variables inside loops, so use a dict #}
                    {% set vars = {'subfield_width': ''} %}

                    {% for kwarg, val in kwargs.items() %}
                      {% if kwarg == 'subfield_display-' + subfield.short_name %}
                        {% do vars.update({'subfield_width': kwargs.pop(kwarg)}) %}
                      {% endif %}
                    {% endfor %}

                    {% if not vars.subfield_width %}
                      {% do vars.update({'subfield_width': '3'}) %}
                    {% endif %}

                    <div class="span{{vars.subfield_width}} nested-field-container">
                        {{ __render_field(subfield, maximise_width=True, **kwargs) }}
                    </div>
                {% else %}
                    {{ __render_field(subfield, **kwargs) }}
                {% endif %}
            {% endfor %}
        </div>
    {% elif field.type == 'FieldList' %}
        {% for subfield in field %}
            {% if subfield.type == 'FormField' %}
                {{ render_field(subfield,
                      render_subfields_horizontal=render_subfields_horizontal,
                      container_class=container_class,
                      **kwargs
                   )
                }}
            {% else %}
            <div class="control-group
            {% if subfield.errors %} error{% endif %}"
            {% if hidden %} style="display: none;" {% endif %}
            id="{{field.short_name}}-container"
            >
                {{ __render_field(subfield, **kwargs) }}
            </div>
            {% endif %}
        {% endfor %}    
    {% else %}
        <div class="control-group
        {% if field.errors %} error {% endif %}
        {% if container_class %} {{container_class}} {% endif %}
        "
        {% if hidden %} style="display: none;" {% endif %}
        id="{{field.short_name}}-container"
        >
            {{ __render_field(field, **kwargs) }}
        </div> 
    {% endif %}
    
{% endmacro %}

{% macro __render_field(field,
            extra_input_field='', display_extra_when_label_is='other',
            extra_input_field2='', display_extra2_when_label_is='other',
            q_num='',
            maximise_width=False
            ) %}

    {% if not (field.type == 'CSRFTokenField' and not field.value) %}
        {% if field.type not in ['SubmitField', 'HiddenField', 'CSRFTokenField'] %}

        {% if q_num %}<a class="animated" name="{{q_num}}"></a>{% endif %}

            <label class="control-label" for="{{field.short_name}}">
              {% if q_num %} <a class="animated orange" href="#{{field.short_name}}-container" title="Link to this question" tabindex="-1">{{ q_num }})</a> {% endif %}
              {{field.label.text}}{% if field.flags.required %}&nbsp;<span class="red">*</span>{% endif %}{% if not field.flags.required and field.flags.display_required_star %}&nbsp;<span class="red">*</span>{% endif %}
            </label>
        {% endif %}
        
        {% set extra_class = '' %}
        {% if field.type == 'SelectMultipleField' 
              and field.option_widget.__class__.__name__ == 'CheckboxInput'
              and field.widget.__class__.__name__ == 'ListWidget' %}
            {% set is_checkbox = True %}
        {% endif %}

        {% if is_checkbox %}
            {% set extra_class = extra_class + ' checkboxes' %}
        {% endif %}

        <div class="controls {{extra_class}}">
            {% if field.type == 'RadioField' %}
                {% for subfield in field %}
                    {{ __render_radio(subfield,
                          extra_input_field=extra_input_field,
                          display_extra_when_label_is=display_extra_when_label_is,
                          extra_input_field2=extra_input_field2,
                          display_extra2_when_label_is=display_extra2_when_label_is,
                          **kwargs)
                    }}
                {% endfor %}
            {% elif is_checkbox %}
                <ul id="{{field.short_name}}">
                {% for subfield in field %}
                    {{ __render_checkbox(subfield,
                          extra_input_field=extra_input_field,
                          display_extra_when_label_is=display_extra_when_label_is,
                          extra_input_field2=extra_input_field2,
                          display_extra2_when_label_is=display_extra2_when_label_is,
                          **kwargs)
                    }}
                {% endfor %}
                </ul>
            {% else %}

                {% set class = kwargs.pop('class', '') %}
                {% if maximise_width %}
                  {% set class = 'span11 ' + class %}
                {% endif %}
          
                {{ field(class=class, **kwargs) }}

                {% if extra_input_field and display_extra_when_label_is.lower() == field.value.lower() %}
                  {{ extra_input_field(class="extra_input_field") }}
                {% endif %}

                {% if extra_input_field2 and display_extra2_when_label_is.lower() == field.value.lower() %}
                  {{ extra_input_field2(class="extra_input_field") }}
                {% endif %}
            {% endif %}



            {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if field.description %}
                <p class="help-block">{{ field.description | safe }}</p>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro __render_radio(field,
              extra_input_field='', display_extra_when_label_is='',
              extra_input_field2='', display_extra2_when_label_is=''
         )
%}
<label class="radio" for="{{field.short_name}}">
    {{ field(**kwargs) }}
    <span class="label-text">{{field.label.text}}</span>

    {% if extra_input_field and display_extra_when_label_is.lower() == field.label.text.lower() %}
      {{ extra_input_field(class="extra_input_field") }}
    {% endif %}

    {% if extra_input_field2 and display_extra2_when_label_is.lower() == field.label.text.lower() %}
      {{ extra_input_field2(class="extra_input_field") }}
    {% endif %}
</label>
{% endmacro %}

{% macro __render_checkbox(field, 
              extra_input_field='', display_extra_when_label_is='',
              extra_input_field2='', display_extra2_when_label_is=''
         )
%}
<li>
    {{ field(**kwargs) }}
    <label for="{{field.short_name}}">{{field.label.text}}</label>

    {% if extra_input_field and display_extra_when_label_is.lower() == field.label.text.lower() %}
      {{ extra_input_field(class="extra_input_field") }}
    {% endif %}

    {% if extra_input_field2 and display_extra2_when_label_is.lower() == field.label.text.lower() %}
      {{ extra_input_field2(class="extra_input_field") }}
    {% endif %}
</li>
{% endmacro %}





{% macro render_field_horizontal(field, style=None, placeholder="", required=False) %}
    {% if field.type == 'FieldList' %}
      {% for subfield in field %}
        <div class="control-group
        {% if subfield.errors %} error {% endif %}
        ">
            <label class="control-label" for="{{subfield.short_name}}">{{subfield.label.text | safe}}
            {% if subfield.flags.required or required %}<span class="red">*</span>{% endif %}
            </label>

            <div class="controls">
              {{ subfield(**kwargs) }}
              {% if subfield.errors %}
              <ul class="errors">
                  {% for error in subfield.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
            </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="control-group
      {% if field.errors %} error {% endif %}
      ">
          {% if field.type != 'SubmitField' %}
              <label class="control-label" for="{{field.short_name}}">{{field.label.text | safe}}
              {% if field.flags.required or required %}<span class="red">*</span>{% endif %}
              </label>
          {% endif %}

          {% set extra_class = '' %}
          {% if field.type == 'SelectMultipleField' 
              and field.option_widget.__class__.__name__ == 'CheckboxInput'
              and field.widget.__class__.__name__ == 'ListWidget' %}
            {% set extra_class = extra_class + ' checkboxes' %}
          {% endif %}

          <div class="controls {{ extra_class }}">
              {% if field.type != 'RadioField' %}
                  {{ field(style=style, placeholder=placeholder, **kwargs) }}
                  {% if field.errors %}
                  <ul class="errors">
                      {% for error in field.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
                  {% endif %}
                  {% if field.description %}
                  <p class="help-block">{{ field.description | safe }}</p>
                  {% endif %}
              {% else %}
                  {% for subfield in field %}
                      {{ __render_radio(subfield, **kwargs) }}
                  {% endfor %}
              {% endif %}
          </div>
      </div>
    {% endif %}
{% endmacro %}

{% macro render_fields(form, fields) %}
  {% for f_kwargs in fields %}

    {# we need to delete the field name ('field' key) before passing it on to render,
       otherwise it will become a keyword argument to the field renderer #}
    {% set f = f_kwargs.pop('field') %}

    {% set field = getattr(form, f, None) %}
    {% if field %}
      {{ render_field(field, **f_kwargs) }}
    {% endif %}

    {# restore the data struct to the way it was,
       just because people don't expect their data
       to be modified when they pass it to a rendering
       function - or macro, in this case #}
    {% do f_kwargs.update({'field': f}) %}

  {% endfor %}
{% endmacro %}
