{% set basic_info_fields =
[
  {"field": "title", "class": "input-xlarge"},
  {"field": "url", "class": "input-xlarge"},
  {"field": "alternative_title", "class": "input-xlarge"},
  {"field": "pissn", "class": "input-small", "size": "9", "maxlength": "9"},
  {"field": "eissn", "class": "input-small", "size": "9", "maxlength": "9"},
  {"field": "publisher", "class": "input-xlarge"},
  {"field": "society_institution", "class": "input-xlarge"},
  {"field": "platform", "class": "input-xlarge"},
  {"field": "contact_name", },
  {"field": "contact_email", },
  {"field": "confirm_contact_email", },
  {"field": "country", "class": "input-large"},
  {"field": "processing_charges", },
  {"field": "processing_charges_amount", "class": "input-mini"},
  {"field": "processing_charges_currency", "class": "input-large"},
  {"field": "submission_charges", },
  {"field": "submission_charges_amount", "class": "input-mini"},
  {"field": "submission_charges_currency", "class": "input-large"},
  {"field": "waiver_policy", },
  {"field": "waiver_policy_url", "class": "input-xlarge"},
    {
      "field": "digital_archiving_policy",
        "extra_input_field": form.digital_archiving_policy_other,
        "display_extra_when_label_is": other_val,
        "extra_input_field2": form.digital_archiving_policy_library,
        "display_extra2_when_label_is": digital_archiving_policy_specific_library_value,
    },
    {"field": "digital_archiving_policy_url", "class": "input-xlarge"},
  {"field": "crawl_permission", },
  {"field": "article_identifiers", "extra_input_field": form.article_identifiers_other, "display_extra_when_label_is": other_val},
  {"field": "download_statistics", },
  {"field": "download_statistics_url", "class": "input-xlarge"},
  {"field": "first_fulltext_oa_year", "class": "input-mini"},
  {"field": "fulltext_format", "extra_input_field": form.fulltext_format_other, "display_extra_when_label_is": other_val},
  {"field": "keywords", "class": "input-xlarge"},
  {"field": "languages", "class": "input-xlarge"},
]
%}

{% set editorial_process_fields =
[
  {"field": "editorial_board_url", "class": "input-xlarge"},
  {"field": "review_process", },
  {"field": "review_process_url", "class": "input-xlarge"},
  {"field": "aims_scope_url", "class": "input-xlarge"},
  {"field": "instructions_authors_url", "class": "input-xlarge"},
  {"field": "plagiarism_screening", },
  {"field": "plagiarism_screening_url", "class": "input-xlarge"},
  {"field": "publication_time", "class": "input-tiny"},
]
%}

{% set openness_fields =
[
  {"field": "oa_statement_url", "class": "input-xlarge"},
]
%}

{% set content_licensing_fields =
[
  {"field": "license_embedded", },
  {"field": "license_embedded_url", "class": "input-xlarge"},
  {"field": "license", "extra_input_field": form.license_other, "display_extra_when_label_is": other_val},
  {"field": "license_checkbox", },
  {"field": "license_url", "class": "input-xlarge"},
  {"field": "open_access", },
  {"field": "deposit_policy", "extra_input_field": form.deposit_policy_other, "display_extra_when_label_is": other_val},
]
%}

{% set copyright_fields =
[
  {"field": "copyright", "extra_input_field": form.copyright_other, "display_extra_when_label_is": other_val},
  {"field": "copyright_url", "class": "input-xlarge"},
  {"field": "publishing_rights", "extra_input_field": form.publishing_rights_other, "display_extra_when_label_is": other_val},
  {"field": "publishing_rights_url", "class": "input-xlarge"},
]
%}

{# add a couple of arguments needed by each field when being rendered #}
{% for list_of_fields in basic_info_fields, editorial_process_fields, openness_fields, content_licensing_fields, copyright_fields, submitter_info_fields %}
{% for f_kwargs in list_of_fields %}
  {% do f_kwargs.update({'first_field_with_error': first_field_with_error}) %}
  {% do f_kwargs.update({'q_num': q_numbers.next()}) %}
{% endfor %}
{% endfor %}

{% set old_fields =
[
  {"field": "author_pays"},
  {"field": "author_pays_url", "class": "input-xlarge"},
  {"field": "oa_end_year", "class": "input-mini"}
]
%}

{% if admin_page %}
    {% set admin_owner_fields =
    [
      {"field": "owner", "class": "input-large"},
    ]
    %}

    {% set admin_subject_fields =
    [
      {"field": "subject"},
    ]
    %}
{% endif %}


{% from "_formhelpers.html" import render_field, render_fields %}

<div class="row-fluid">
  <div class="span3">&nbsp;</div>
  <div class="span6 with-borders form-section centre-text-container" style="margin-left: 0;">
    {% if journal['admin']['in_doaj'] %}
      <form method="post" action="{{ url_for('admin.journal_deactivate', journal_id=journal['id']) }}" class="form-horizontal" id="journal_deactivate_form">
        <fieldset><button class="btn btn-danger" type="submit">Take journal out of the DOAJ</button></fieldset>
      </form>
    {% else %}
      <form method="post" action="{{ url_for('admin.journal_activate', journal_id=journal['id']) }}" class="form-horizontal" id="journal_activate_form">
        <fieldset><button class="btn btn-success" type="submit">Put journal in the DOAJ</button></fieldset>
      </form>
    {% endif %}

    <p class="centre-text-container">This button will not save any other changes on this page!</p>
  </div>
</div>


<form method="post" action="#first_problem" class="form-horizontal wide" id="journal_form">
  {% if form.errors %}
    <h4 class="red form-status">There is a problem with the submitted form.</h4>
  {% endif %}

  <fieldset>

    {% if admin_page %}
    <div class="row-fluid">
      <div class="span6">
          <div class="row-fluid">

              <div class="span12 with-borders form-section" style="margin-left: 0;">
                <h3 class="heading-aligned-with-fields">Owner</h3>
                {{ render_fields(form, admin_owner_fields) }}
              </div>

              {% set display_old_journal_fields = {'display_old_journal_fields': False} %}

              {% for field_config in old_fields %}
                {% set field_handle = getattr(form, field_config.get('field',''), None) %}
                {% if field_handle %}
                    {% if field_handle.data and field_handle.data != 'None' %}
                        {% do display_old_journal_fields.update({'display_old_journal_fields': True}) %}
                    {% endif %}
                {% endif %}
              {% endfor %}

              {% if display_old_journal_fields['display_old_journal_fields'] %}
                  <div class="span12 with-borders form-section" style="margin-left: 0;">
                    <h3 class="heading-aligned-with-fields">Old journal information</h3>
                    {{ render_fields(form, old_fields) }}
                  </div>
              {% endif %}

              <div class="span12 with-borders form-section" style="margin-left: 0;">
                  <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success" type="submit">Save journal &gt;</button>
                    </div>
                  </div>


                  {{ render_field(form.make_all_fields_optional) }}
              </div>
          </div>
      </div>

      <div class="span6 with-borders form-section" id="subjects_outer_container">
        <h3>Subject classification</h3>

        <div class="control-group left-aligned">
          <label class="control-label">Current subjects:</label>
          <div class="controls" style="margin-top: 5px">
            <p>{{ subjectstr }}</p>
          </div>
        </div>

        <div id="subject_tree_container">
          <div id="subject_tree"></div>
          {{ render_fields(form, admin_subject_fields) }}
        </div>

      </div>

    </div>
    {% endif %}

    <div class="row-fluid">

      <div class="span6 with-borders form-section">
        <h3 class="heading-aligned-with-fields">Basic Journal Information</h3>
        {{ render_fields(form, basic_info_fields) }}
      </div>

      <div class="span6 with-borders form-section">
        <h3>Quality and Transparency of the Editorial Process</h3>
        {{ render_fields(form, editorial_process_fields) }}
      </div>

      <div class="span6 with-borders form-section">
        <h3>How Open is the Journal?</h3>
        {{ render_fields(form, openness_fields) }}
      </div>

      <div class="span6 with-borders form-section">
        <h3>Content Licensing</h3>
        {{ render_fields(form, content_licensing_fields) }}
      </div>

      <div class="span6 with-borders form-section">
        <h3>Copyright and Permissions</h3>
        {{ render_fields(form, copyright_fields) }}
      </div>

      <div class="span6 with-borders form-section">
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-success" type="submit">
                    Save journal &gt;
                </button>
            </div>

            {{ render_field(form.make_all_fields_optional) }}
        </div>

      </div>

    </div>

    <div class="row-fluid">
      <div class="span3">&nbsp;</div>

    </div>

    <div class="row-fluid">

      <div class="span12 with-borders form-section">
        <h3>Notes</h3>
        {% set subfield_display = {'note': '8', 'date': '3'} %}

        {% set subfield_display_kwargs = {} %}
        {% for subfield, span_width in subfield_display.items() %}
          {% do subfield_display_kwargs.update({'subfield_display-' + subfield: span_width}) %}
        {% endfor %}

        <div class="addable-field-container" id="notes-outer-container">
          {{ render_field(form.notes, render_subfields_horizontal=True, container_class="deletable", **subfield_display_kwargs) }}
        </div>
      </div>

    </div>

  </fieldset>
</form>
