<!-- get jquery js -->
<script type="text/javascript" src="/static/vendor/jquery-3.4.0/jquery-3.4.0.min.js"></script>

<!-- get bootstrap js -->
<script type="text/javascript" src="/static/vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>

{% if edit_suggestion_page or edit_journal_page or subject_page %}

    <script type="text/javascript">{% if lcc_jstree %}var lcc_jstree = {{lcc_jstree | safe}};{% else %} var lcc_jstree = undefined;{% endif %}</script>
    <script type="text/javascript" src="/static/vendor/jstree-3.0.0-beta10/jstree.min.js?v={{config.get('DOAJ_VERSION')}}"></script>

    {% if not subject_page %}
        <script type="text/javascript" src="/static/js/suggestions_and_journals.js?v={{config.get('DOAJ_VERSION')}}"></script>
    {% endif %}

{% endif %}

{% if not config.get("DEBUG", True) %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.get('GOOGLE_ANALYTICS_ID') }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)}
      gtag('js', new Date());

      gtag('config', '{{ config.get('GOOGLE_ANALYTICS_ID') }}', {
          'custom_map': {'dimension1': 'OAI:Action'}
      });
    </script>
{% endif %}

<!-- get linkify -->
<script type="text/javascript" src="/static/portality/vendor/facetview/vendor/linkify/1.0/jquery.linkify-1.0-min.js?v={{config.get('DOAJ_VERSION')}}"></script>

<!-- get tablesorter -->
<script type="text/javascript" src="/static/vendor/tablesorter-2.3.10/js/jquery.tablesorter.js?v={{config.get('DOAJ_VERSION')}}"></script>

<!-- get our autocomplete function for select2 -->
<script type="text/javascript" src="/static/js/autocomplete.js?v={{config.get('DOAJ_VERSION')}}"></script>

<!-- get our functions for handling form fields fixme: should there be a form_page flag?-->
<script type="text/javascript" src="/static/js/formutils.js?v={{config.get('DOAJ_VERSION')}}"></script>

<!-- get select2 -->
<script type="text/javascript" src="/static/vendor/select2-release-3.2/select2.min.js?v={{config.get('DOAJ_VERSION')}}"></script>

{% if search_page or subject_page %}
    <!-- fv2 and the doaj theme - replaces the above -->
    <script type="text/javascript" src="/static/portality/vendor/facetview2/es.js?v={{config.get('DOAJ_VERSION')}}"></script>

    {% if not subject_page %}
        <script type="text/javascript" src="/static/portality/vendor/facetview2/bootstrap2.facetview.theme.js?v={{config.get('DOAJ_VERSION')}}"></script>
        <script type="text/javascript" src="/static/doaj/js/doaj.facetview.theme.js?v={{config.get('DOAJ_VERSION')}}"></script>
        <script type="text/javascript" src="/static/portality/vendor/facetview2/jquery.facetview2.js?v={{config.get('DOAJ_VERSION')}}"></script>
    {% endif %}

{% endif %}



<script type="text/javascript">var current_domain = document.location.host;</script>
<script type="text/javascript">var current_scheme = window.location.protocol;</script>
<script type="text/javascript">var readonly_journal_url = "{{ url_for('doaj.journal_readonly', journal_id="") }}";</script>

{% if search_page or subject_page %}
  <script type="text/javascript">var es_domain = current_domain;</script>
  <script type="text/javascript">var es_scheme = current_scheme;</script>
  {% if facetviews %}
  {% for facetview in facetviews %}
    <script type="text/javascript" src="/static/doaj/js/available_facetviews/{{facetview}}.js?v={{config.get('DOAJ_VERSION')}}"></script>
  {% endfor %}
  {% endif %}
{% endif %}

<!-- get the app's js -->
<script type="text/javascript" src="/static/js/doaj.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/doaj/js/facetview_results_render_callbacks.js?v={{config.get('DOAJ_VERSION')}}"></script>


