<!-- get jquery js -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<!-- get bootstrap js -->
<script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap.min.js"></script>

<!-- get our js -->
<script type="text/javascript" src="/static/portality/js/portality.js"></script>
            
<!-- get linkify -->
<script type="text/javascript" src="/static/portality/vendor/facetview/vendor/linkify/1.0/jquery.linkify-1.0-min.js"></script>  

<!-- get tablesorter -->
<script type="text/javascript" src="/static/portality/vendor/tablesorter/js/jquery.tablesorter.js"></script>

<!-- get select2 -->
<!-- <script type="text/javascript" src="/static/portality/vendor/select2-release-3.2/select2.min.js"></script> -->

{% if search_page %}
<!-- get facetview -->
<script type="text/javascript" src="/static/portality/vendor/facetview/jquery.facetview.js"></script>
{% endif %}

{# AddThis (as it is configured right now) uses the anchor part of
the URL (after the # sign) to track some more stuff. This interferes
with pages using anchors for their own needs (e.g. the user wants to
scroll immediately to a section of the page. AddThis is only used on
the search page right now and the search page has no use for anchors
at the moment, so only load its scripts when the search page is
displayed. #}
{% if request.path == '/search' %}
<!-- get addthis social sharing button scripts -->
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true, data_ga_property: 'UA-46560124-1', "ui_click": true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ae52c34c6f0a3e"></script>
{% endif %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46560124-1', 'doaj.org');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');

</script>

{% if search_page %}
  <script type="text/javascript">var es_domain = "{{ settings.DOMAIN }}";</script>
  {% for facetview in facetviews %}
    <script type="text/javascript" src="/static/doaj/js/available_facetviews/{{facetview}}.js"></script>
  {% endfor %}
{% endif %}

<!-- get the app's js -->
<script type="text/javascript" src="/static/doaj/js/doaj.js"></script>
<script type="text/javascript" src="/static/doaj/js/customise_facetview.js"></script>
<script type="text/javascript" src="/static/doaj/js/facetview_results_render_callbacks.js"></script>

{# any admin area javascript includes #}
{% if request.path.startswith("/admin") %}
<script type="text/javascript" src="/static/doaj/js/suggest.js"></script>
{% endif %} 
