{# get jquery js #}
<script type="text/javascript" src="/static/vendor/jquery-3.4.1/jquery-3.4.1.min.js"></script>
{# get bootstrap js #}
{# TODO: this is probably not the right place to keep this file #}
{# I’m using a much smaller & reduced version of Boostrap’s JS, with some modified classes and only the components we need #}
<script type="text/javascript" src="/static_content/_site/js/vendors/bootstrap.js"></script>

{%- if not config.get("DEBUG", True)  -%}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46560124-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-46560124-1');
    </script>

    {# To check current page #}
    {%- set url_list = request.url.split("/") -%}
    {%- set endpoint = url_list[2:url_list|length-1] -%}
    {%- set endpoint = endpoint[endpoint|length-1] -%}
{%- endif -%}

{# FIXME: do we need these any more? #}
<!-- get tablesorter -->
<script type="text/javascript" src="/static/vendor/tablesorter-2.3.10/js/jquery.tablesorter.js?v={{config.get('DOAJ_VERSION')}}"></script>

<!-- get our autocomplete function for select2 -->
<script type="text/javascript" src="/static/js/autocomplete.js?v={{config.get('DOAJ_VERSION')}}"></script>

<!-- get our functions for handling form fields fixme: should there be a form_page flag?-->
<script type="text/javascript" src="/static/js/formutils.js?v={{config.get('DOAJ_VERSION')}}"></script>

<!-- get select2 -->
<script type="text/javascript" src="/static/vendor/select2-3.5.4/select2.min.js?v={{config.get('DOAJ_VERSION')}}"></script>


<script type="text/javascript">var current_domain = document.location.host;</script>
<script type="text/javascript">var current_scheme = window.location.protocol;</script>
<script type="text/javascript">var es_domain = current_domain;</script>
<script type="text/javascript">var es_scheme = current_scheme;</script>

<!-- get the app's js -->
<script type="text/javascript" src="/static/js/doaj.js?v={{config.get('DOAJ_VERSION')}}"></script>

<script>
jQuery (document).ready (function($) {
    doaj.init();
});
</script>
