{% include 'head.html' %}

<body>

{% include 'header.html' %}

<div class="container">

    <div class="content">
        <div class="row-fluid">
                {# Let facetview fill the whole screen on the search
                page, but keep space for the sidebar on other pages #}
            <div class="span{%- if search_page -%}
                    12
                {%- else -%}
                    9
                {%- endif -%}">
            {% block content %}{% endblock %}
            </div>
            {% if not search_page %}
                {% include 'sidebar.html' %}
            {% endif %}
        </div>
    </div> <!-- /content -->


    {% include 'footer.html' %}
    {% include '_js_includes.html' %}
    {% block extra_js_bottom %}
      
    {% endblock extra_js_bottom %}

</div> <!-- /container -->
</body>
</html>
