{% include 'head.html' %}

<body>

{% include 'header.html' %}

<div class="container">

    <div class="content">
        <div class="row-fluid">
                {# Let facetview fill the whole screen on the search
                page, but keep space for the sidebar on other pages #}
            <div class="span{%- if request.path == '/search' -%}
                    12
                {%- else -%}
                    9
                {%- endif -%}">
            {% block content %}{% endblock %}
            </div>
            {% if request.path != '/search' %}
                {% include 'sidebar.html' %}
            {% endif %}
        </div>
    </div> <!-- /content -->


    {% include 'footer.html' %}

</div> <!-- /container -->
</body>
</html>
