{% extends "base.html" %}

{% block content %}

<div class="row">
<a href="" id="savenew" class="btn span2">save</a>
</div>
<div id="therecord" class="record_box clearfix">
    {% if rectype == "assembly" %}
        <h3>New assembly <small><a href="/help#newassembly">(help)</a></small></h3>
    {% elif rectype == "batch" %}
        <h3>Create multiple identical parts <small><a href="/help#multinewpart">(help)</a></small></h3>
        <p>How many parts do you want to create? <input class="span1" type="text" id="howmany" name="howmany" value="1" /></p>
        <p>Enter the generic part details below.<br />Upon saving, the desired number of parts will be created, each with 
        the same details.</p>
    {% else %}
        <h3>New part <small><a href="/help#newpart">(help)</a></small></h3>
    {% endif %}
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#therecord').jtedit({
        "data":{
            {% if rectype == "part" %}
            "type":"part",
            "assembly":"",
            {% elif rectype == "assembly" %}
            "type":"assembly",
            "assembled_by":"",
            "assembled_date":"",
            {% elif rectype == "batch" %}
            "type":"part",
            "batch":"{{batchid}}",
            "assembly":"",
            {% endif %}
            "name":"",
            "inspected_by":"",
            "inspected_date":"",
            "location":"",
        },
        "noedit":[
            'type'
        ]
    });
    var saveit = function(event) {
        event.preventDefault();
        var thedata = $.parseJSON(jQuery('#jtedit_json').val());
        $.ajax({
            {% if rectype == 'batch' %}
            url: '/record/create/batch'
            , data: JSON.stringify({"create":$('#howmany').val(),"data":thedata})
            {% else %}
            url: '/record/create'
            , data: JSON.stringify(thedata)
            {% endif %}
            , type: 'POST'
            , contentType: "application/json; charset=utf-8" 
            , dataType: 'json'
            , processData: false
            , success: function(data, statusText, xhr) {
                {% if rectype == 'batch' %}
                var msg = 'Your new records were created. \n\nThe batch ID is {{batchid}}. \n\nThe IDs of your new records are: \n\n'
                for ( counter in data.record ) {
                    msg += data.record[counter] + '\n'
                }
                msg += '\nRedirecting to the batcn part list.'
                alert(msg)
                window.location = '/batch/{{batchid}}';
                {% else %}
                    {% if rectype == "record" %}
                    alert("New record saved. Redirecting to new record page.")
                    {% else %}
                    alert("New assembly saved. Redirecting to new assembly page.")
                    {% endif %}
                window.location = '/record/' + data.record[0];
                {% endif %}
            }
            , error: function(xhr, message, error) {
                alert("Error: " + error + '. Please try again.');
            }
        });
    }
    jQuery('#savenew').bind('click',saveit);
});
</script>

{% endblock %}

