<footer>
    {% if request.path == '/' %}
        {%- if sponsors['gold'] -%}
            <div class="row"><div class="col-xs-12 with-borders bordered-text-box">
                <div class="row">
                    {%- if sponsors['gold'] | length == 1 -%}
                        <div class="col-xs-12 col-md-2" style="margin-left: 1.0rem"><strong>Gold Sponsor</strong></div>
                    {% else %}
                        <div class="col-xs-12 col-md-2" style="margin-left: 1.0rem"><strong>Gold Sponsors</strong></div>
                    {% endif %}
                    <div class="col-xs-12 col-md-8 centre-text-container sponsors" id="footer-sponsors">
                        {% for s in sponsors['gold'].values() %}
                            <a href="{{ s['url'] }}" target="_blank" title="{{ s['name'] }}">
                                <img src="{{ url_for('static', filename='doaj/images/sponsors/' + s['logo']) }}" alt="{{ s['name'] }}"/>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="col-xs-12 col-md-2 pull-right" style="text-align: right"><a href="/sponsors">Our other sponsors</a></div>
                </div>
            </div></div>
        {%- endif -%}
    {% endif %}

    <div class="row">
        <div class="col-xs-12 with-borders bordered-text-box">
            <div class="row">
                <div class="col-xs-12 centre-text-container">
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/"><img src="{{ url_for('static', filename='doaj/images/cc-by-sa.png') }}" alt="Creative Commons Attribution ShareAlike license icon"/></a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    &copy; {{ current_year }} DOAJ.
                </div>
                <div class="col-xs-12 col-sm-4 centre-text-container">
                    The DOAJ site and its metadata are licensed under CC BY-SA
                </div>
                <div class="col-xs-12 col-sm-4 pull-right">
                    <div class="pull-right">
                    <a href="{{ url_for('doaj.privacy') }}">Privacy</a> / <a href="/contact">Contact us</a> / <a href="http://is4oa.org/">IS4OA</a> / <a href="https://cottagelabs.com">Cottage Labs LLP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
