<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ app.config['SERVICE_NAME'] }}</title>
    <meta name="description" content="{{ app.config['SERVICE_TAGLINE'] }}">
    <meta name="author" content="{{ app.config['ADMIN_NAME'] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="{{ url_for('static', filename='doaj/images/favicon.ico') }}" rel="icon" type="image/x-icon" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!-- get bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">

<!-- get fontawesome css -->
<!-- slightly older version, to get the social network icons working -->
<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">

<!-- get facetview css -->
<link rel="stylesheet" href="/static/portality/vendor/facetview/css/facetview.css">

<!-- get portality css -->
<link rel="stylesheet" type="text/css" href="/static/portality/css/portality.css">

<!-- get the table sorter css -->
<link rel="stylesheet" type="text/css" href="/static/portality/vendor/tablesorter/css/blue/style.css">

<!-- get the select2 css -->
<link rel="stylesheet" type="text/css" href="/static/portality/vendor/select2-release-3.2/select2.css">

<!-- get the app's css -->
<link rel="stylesheet" type="text/css" href="/static/doaj/css/doaj.css">
<link rel="stylesheet" type="text/css" href="/static/doaj/css/social-media-icons.css">
<link rel="stylesheet" type="text/css" href="/static/doaj/css/facetview-customisations.css">
</head>

