<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ app.config['SERVICE_NAME'] }}</title>
    <meta name="description" content="{{ app.config['SERVICE_TAGLINE'] }}">
    <meta name="author" content="{{ app.config['ADMIN_NAME'] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='doaj/images/favicon.ico') }}" rel="icon" type="image/x-icon" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- get jquery js -->
    <script type="text/javascript" src="/static/portality/vendor/jquery-1.7.1.min.js"></script>

    <!-- get bootstrap js and css -->
    <link rel="stylesheet" href="/static/portality/vendor/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/portality/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- get fontawesome css -->
    <!-- slightly older version, to get the social network icons working -->
    <!-- <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet"> -->

    <!-- get tablesorter js and css -->
    <script type="text/javascript" src="/static/portality/vendor/tablesorter/js/jquery.tablesorter.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/portality/vendor/tablesorter/css/blue/style.css">

    <!-- get select2 -->
    <link rel="stylesheet" href="/static/portality/vendor/select2-release-3.2/select2.css">
    <script type="text/javascript" src="/static/portality/vendor/select2-release-3.2/select2.min.js"></script>

    <!-- get our js and css -->
    <link rel="stylesheet" type="text/css" href="/static/portality/css/portality.css">
    <script type="text/javascript" src="/static/portality/js/portality.js"></script>
                
    <!-- get linkify -->
    <script type="text/javascript" src="/static/portality/vendor/facetview/vendor/linkify/1.0/jquery.linkify-1.0-min.js"></script>  
    
    <!-- get jquery-ui -->
    <link rel="stylesheet" href="/static/portality/vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css">
    <script type="text/javascript" src="/static/portality/vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js"></script>

    <!-- get d3 -->
    <script type="text/javascript" src="/static/portality/vendor/d3/d3.min.js"></script>

    <!-- get facetview -->
    <script type="text/javascript" src="/static/portality/vendor/facetview/jquery.facetview.js"></script>
    <link rel="stylesheet" href="/static/portality/vendor/facetview/css/facetview.css">

    <!-- get etherpad -->
    <script src="/static/portality/vendor/etherpad.js"></script>

    <!-- get parsley -->
    <script type="text/javascript" src="/static/portality/vendor/parsley/parsley.js"></script>  

    <!-- get graphview -->
    <script type="text/javascript" src="/static/portality/vendor/graphview/jquery.graphview.js"></script>

    <!-- get tinymce -->
    <script type="text/javascript" src="/static/portality/vendor/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>

    <!-- get the app's css and js -->
    <link rel="stylesheet" type="text/css" href="/static/doaj/css/doaj.css">
    <link rel="stylesheet" type="text/css" href="/static/doaj/css/social-media-icons.css">
    <link rel="stylesheet" type="text/css" href="/static/doaj/css/facetview-customisations.css">
    <script type="text/javascript" src="/static/doaj/js/doaj.js"></script>
    <script type="text/javascript" src="/static/doaj/js/customise_facetview.js"></script>
    <script type="text/javascript" src="/static/doaj/js/facetview_results_render_callbacks.js"></script>

</head>

