    <div class="container" id="page_header">
        <div class="row-fluid">
            <div class="span4{% if heading_title %} more-heading-padding{% endif %}" id="logo-container"><a href="{{ url_for('doaj.home') }}"><img src="{{ url_for('static', filename='doaj/images/logo_cropped.jpg') }}" alt="DOAJ Logo" /></a></div>
            <div class="span6">
                {% if not heading_title %}&nbsp;
                {% else %}
                <span class="centre-text-container"><h1 id="header-announcement-title">{{ heading_title }}</h1></span>
                <div id="header-announcement-text">
                    <p>{{ heading_text }}</p>
                </div>
                {% endif %}
            </div>
            <div class="span2 centre-text-container{% if heading_title %} more-heading-padding{% endif %}" id="header-right-container">
                <a id="header-support-doaj" href="">SUPPORT DOAJ</a>
            </div>
        </div>
    </div>
    <div class="navbar{% if not heading_title %} more-padding{% endif %}" id="main-nav">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li{% if request.path == '/' %} class="active"{% endif %}><a href="{{ url_for('doaj.home') }}">Home</a></li>
            <li{% if request.path == '/search' %} class="active"{% endif %}><a href="{{ url_for('doaj.search') }}">Search</a></li>
            <li{% if request.path == '/about' %} class="active"{% endif %}><a href="{{ url_for('doaj.about') }}">About</a></li>
          </ul>
          <ul class="nav pull-right">
            <li{% if request.path == '/publishers' %} class="active"{% endif %}><a href="{{url_for('doaj.publishers')}}">Publishers</a></li>
            {#
            {% if current_user.is_anonymous() %}
            <li>
              <a href="{{url_for('account.register')}}">Register</a>
            </li>
            <li>
              <a href="{{url_for('account.login')}}">Login</a>
            </li>
            {% else %}
            <li>
              <a alt="view your account" title="view your account" href="{{ url_for('account.index') }}{{current_user.id}}"><strong>{{current_user.id}}</strong></a>
            </li>
            <li>
              <a href="{{ url_for('account.logout') }}">Logout</a>
            </li>
            {% endif %}
            #}
          </ul>
        </div>
      </div>
    </div>

    <div class="alert-messages">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {%if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}} fade in" data-alert="alert">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    </div>
