<div class="span3 side pull-right">
    <div class="span3 shaded-container sidebar-nav">
        <ul class="nav nav-list">
            <li><strong>9804</strong> Journals</li>
            <li><strong>5636</strong> Journals searchable at Article level</li>
            <li><strong>124</strong> Countries</li>
            <li><strong>1573847</strong> Articles</li>
        </ul>
{#
        <ul class="nav nav-list">
            <li><strong>{{statistics.journals}}</strong> Journals</li>
            <li><strong>{{statistics.searchable}}</strong> Journals searchable at Article level</li>
            <li><strong>{{statistics.countries}}</strong> Countries</li>
            <li><strong>{{statistics.articles}}</strong> Articles</li>
        </ul>
        #}
    </div>
    <div class="span3 shaded-container sidebar-nav">
        <ul class="nav nav-list">
            <!-- <li><a href="">News</a></li> -->
            <li><a href="/faq">FAQs</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/oainfo">Open Access Information</a></li>
            <li><a href="/faq#metadata">Download metadata</a></li>
            <li><a href="/feed"><img style="display: inline" src="/static/doaj/images/feed.png"/>&nbsp;New Journals Feed</a></li>
        </ul>
    </div>
    <div class="span3 shaded-container sidebar-nav">
        <ul class="nav nav-list">
            <li><a href="/sponsors">Our sponsors</a></li>
            <li><a href="/members">Our members</a></li>
            <li><a href="/publishermembers">Our publisher members</a></li>
        </ul>
    </div>
    <div class="span3 shaded-container sidebar-nav">
        <div id="social-bar">
            <!-- Based on http://opensourcehacker.com/2013/04/22/charming-social-media-icons-with-font-awesome-and-css3/
                    with the related code hosted at: https://github.com/miohtama/FontAwesome-and-Bootstrap-social-icons-example/ -->
            <a href="http://www.facebook.com/DirectoryofOpenAccessJournals" target="_blank" title="DOAJ Facebook page">
                <i class="icon icon-facebook"></i>
            </a>
            <a href="http://twitter.com/doajplus" target="_blank" title="DOAJ Twitter account">
                <i class="icon icon-twitter"></i>
            </a>
            <a href="http://www.linkedin.com/company/directory-of-open-access-journals-doaj-" target="_blank" title="DOAJ LinkedIn profile">
                <i class="icon icon-linkedin"></i>
            </a>
        </div>
    </div>
</div>
