{% block edit_user_form %}

    {% from "_formhelpers.html" import render_field %}

    <form id="edit_user" class="form form--compact" action="" method="POST">

        {# {% if current_user.is_super %}
            {{ render_field(form.id) }}
            <br/>
        {% endif %}#}

        {% if current_user.is_super %}
        <div class="form__question">
            {{ render_field(form.roles, value=account.role|join(',')) }}
        </div>
        {% else %}

        <div class="form__question">{{ render_field(form.name, placeholder="Firstname Lastname") }}</div>

        <p class="alert" style="width: 75%;">
          <strong>NOTE: </strong>Changing your email address will log you out. You will need to verify the new email address and enter a new password.
        </p>

        <div class="form__question">{{ render_field(form.email, placeholder="name@email.com") }}</div>
        <div class="form__question">{{ render_field(form.email_confirm, value='', placeholder="name@email.com") }}</div>

        {% endif %}
        <div class="form__question">
            {{ render_field(form.password_change, placeholder="********") }}
        </div>
        <div class="form__question">
        {{ render_field(form.password_confirm, placeholder="********") }}
        </div>
        <input type="submit" class="button button--secondary" name="submit" value="Update account">
    </form>
{% endblock %}
