{% block login_form %}

    {% from "_formhelpers.html" import render_field %}

    <form method="post" action="">
    <input type="hidden" name="next" value="/apply" />
        <div class="form__question">
      {{ render_field(form.username, placeholder="your username") }}
        </div>
        <div class="form__question">
      {{ render_field(form.password, placeholder="********") }}
        </div>
        <div class="form__question">
      {{ render_field(form.next) }}
        </div>
      <input type="submit" class="button button--primary" value="START NOW" />
    </form>

{% endblock %}