{% block login_form %}

    {% from "_formhelpers.html" import render_field %}

    <form method="post" action="">
        <div class="form__question">
            {{ render_field(form.user, placeholder="your username") }}
        </div>
        <div class="form__question">
            {{ render_field(form.password, placeholder="********") }}
        </div>
        {{ render_field(form.next) }}
      <input type="submit" class="button button--primary" value="Log in" />
    </form>

{% endblock %}