{% extends "layouts/base.html" %}

{% block page_title %}Login to your account &ndash; {% endblock %}

{% block content %}
<main class="page-content">
    <section class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Login</h1>
                <p>DOAJ is free to use without logging in.</p>
                <p>You only need an account if you have a journal in DOAJ or you are a volunteer.</p>
            </div>
            <div class="col-md-6">
                {% include "account/_login_form.html" %}
                <p>If you cannot log in, <a href="{{ url_for("account.forgot") }}">reset your password</a>. If you still cannot login, <a href="/contact">contact us</a>.</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}
