{% extends "layouts/base.html" %}

{% block content %}
    <main class="container">
      <div class="row">
          <div class="col-md-8">
              <section class="page-content" id="apply">
                <h1>Application form</h1>

                    <p>Read our <a href="/apply/guide/">Guide to applying</a> first. It will help you understand the basic criteria that your journal should meet. If you need help with the application form, please <a href="/contact/">contact us</a>.</p>

                    <p>Please log in or register to submit your application.</p>

                    <hr />

                    <h2 id="log-in-to-your-account">Log in to your account</h2>

                    <p>→ Don’t have an account? <a href="/account/register/">Register here</a>.</p>
                        {% include "account/_login_form.html" %}
                    <p>If you cannot log in, <a href="/password-reset/">reset your password</a>. If you still cannot login, <a href="/contact/">contact us</a>.</p>
                </section>
            </div>
          <div class="col-md-4">
              <div>
                  <aside class="highlight highlight--aside">
                      <h2 class="label">Related help</h2>
                      <ul class="full-width-list">
                          <li class="full-width-list__item">
                              <a href={{ url_for("doaj.guide") }}>Guide to applying</a>
                          </li>
                          <li class="full-width-list__item">
                              <a href="{{ url_for("doaj.seal") }}">The DOAJ Seal</a>
                          </li>
                          <li class="full-width-list__item">
                              <a href="{{ url_for("doaj.transparency") }}">Transparency & best practice</a>
                          </li>
                          <li class="full-width-list__item">
                              <a href="{{ url_for("doaj.why_index") }}">Why index your journal in DOAJ?</a>
                          </li>
                      </ul>
                  </aside>
              </div>
          </div>
      </div>
    </main>
{% endblock %}