{% extends "layouts/sidebar-page.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

<h1>Create a new user account</h1>

<div class="row">
    <div class="col-md-5">
        <form id="signupform" method="post" action="{{url_for('account.register')}}" class="form-horizontal" style="margin-top: 20px;">
            {{ render_field(form.w) }}
            {{ render_field(form.n) }}
            {{ render_field(form.s, placeholder="********") }}
            {{ render_field(form.c, placeholder="********") }}
            {# Check current user role is super incase public registration is activated at some point #}
            {% if current_user.is_super %}
                {{ render_field(form.roles) }}
            {% endif %}
            <div class="actions">
                <input id="signup" type="submit" value="Create User" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-5">
    </div>
</div>


{% endblock %}

{% block extra_js_bottom %}

<script type="text/javascript">
jQuery(document).ready(function($) {
    $('#roles').select2({tags:["{{current_user.all_top_level_roles()|join('","')|safe}}"],width:'70%'});
});
</script>

{% endblock extra_js_bottom %}

