{% extends "layouts/base.html" %}

{% block content %}

    <main class="page-content">
        <section class="container">
            <div class="row">
                <div class="col-md-8">

                    <h3>Hi {{ account.name or account.email }}</h3>

                    <p>Please set your new password.</p>

                    {% include "account/_reset_form.html" %}

                    <p>If you have any difficulties with your account, please <a href="/contact">contact us</a>.</p>

                </div>
            </div>
        </section>
      </main>

{% endblock %}

