{% extends "layouts/base.html" %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-8">
                <section class="page-content" id="userview">
                    {% if current_user.has_role("list_users") %}
                        <p class="label"><a href="/account">&larr; View all user accounts</a></p>
                    {% endif %}

                    {% if current_user.id != account.id %}
                        <p class="alert alert--danger">
                          <span data-feather="alert-triangle" aria-hidden="true"></span>
                          You are editing a user account that is <strong>not your own</strong>. Be careful!
                        </p>
                    {% endif %}

                    {% if current_user.id == account.id or current_user.is_super %}
                        <h1>Hi {{ account.name if account.name else account.email }}!</h1>

                        {% if current_user.has_role("admin_journals") %}
                            {% set Q1 = '{"query":{"filtered":{"filter":{"bool":{"must":[{"term":{"admin.owner.exact":"' %}
                            {% set Q2 = '"}}]}},"query":{"match_all":{}}}}}' %}
                            <p><a href="/admin/?source={{Q1}}{{account.id}}{{Q2}}" class="button">View this user’s journals</a></p>
                        {% endif %}

                        <dl>
                            {% if account.role|length > 0 %}
                                <dt>Role(s)</dt>
                                <dd>{{ account.role|join(", ") }}</dd>
                            {% endif %}

                            <dt>ID</dt>
                            <dd><code>{{ account.id }}</code></dd>

                            {% if account.has_role("api") %}
                                <dt>API Key</dt>
                                <dd>
                                  <code>{{ account.api_key }}</code>
                                </dd>
                            {% endif %}
                        </dl>

                        {% if account.has_role("api") %}
                            <form action="" method="POST">
                                <input type="submit" class="button button--secondary" name="submit" value="Generate a new API Key">
                            </form>
                        {% endif %}

                        <hr/>

                        <h2>Edit your details</h2>
                        {% include 'account/_edit_user_form.html' %}

                        {% if current_user.is_super %}à
                            <hr/>
                            <h2>Delete this account</h2>
                            <p>This <strong>irrevocably</strong> deletes the account.</p>
                            <form action="" method="POST">
                                <input type="checkbox" name="delete_confirm" id="delete_confirm" value="delete_confirm">
                                <label for="delete_confirm">Yes, I’m sure</label>
                                <input type="submit" name="submit" value="Delete" class="button">
                            </form>
                        {% endif %}

                    {% else %}
                        <h2>{{ account.id }}</h2>
                        <p>You are not logged in as this user. Use the <a href="/account/login">login page</a> if you want to change this</p>
                    {% endif %}

                </section>
            </div>

            <div class="col-md-4">
              <aside class="highlight highlight--aside">
                  <form action="" method="POST" style="margin-bottom: 0;">
                      <h2 class="label">Marketing Consent</h2>
                      <p>
                          As part of our duty to you, our members, your DOAJ account must have an email
                          address because we will use it to contact you about important account and
                          journal information such as: security updates; updates needed to your
                          journal entries; problems with article metadata, etc. As a membership
                          organisation, we have a legal obligation to do this.
                      </p>
                      <p>
                          We also send out occasional marketing emails, such as publisher surveys,
                          opinion polls, newsletters and new functionality alerts. For those emails,
                          we need your consent to use your email address. (You may come back here and
                          change your response at any time.)
                      </p>
                      <p>
                          <input type="radio" name="marketing_consent" id="marketing_consent_yes" {% if account.marketing_consent %}checked="checked"{% endif %} value="true">
                          <label for="marketing_consent_yes">
                            I consent to DOAJ using my email address for its own marketing purposes
                          </label>
                      </p>
                      <p>
                          <input type="radio" name="marketing_consent" id="marketing_consent_no" {% if account.marketing_consent == False %}checked="checked"{% endif %} value="false">
                          <label for="marketing_consent_no">I do not consent to DOAJ using my email address for its own marketing purposes</label>
                      </p>
                      <p>
                          DOAJ does not share your name and email address with any other organisation. Please read <a href="{{ url_for('doaj.privacy') }}">our full privacy policy</a>.
                      </p>
                      <input type="submit" class="button button--secondary" name="submit" value="Save Settings">
                  </form>
              </aside>
            </div>
        </div>
    </main>

{% endblock %}

{% block extra_js_bottom %}

<script type="text/javascript">
jQuery(document).ready(function($) {
    // Populate select2 role picker
    $('#roles').select2({tags:["{{current_user.all_top_level_roles()|join('","')|safe}}"]})

    // Scroll to errors
    let firstError = $('.errors')[0];
    if (firstError) {
            $(window).scrollTop($(firstError).offset().top - 100)
    }

    // If the user is editing their own account, make them confirm when email address is updated
    {% if current_user.id == account.id %}
        $('form#edit_user').submit(function () {
            if ($('input#email_confirm').val() !== "") {
                return confirm('Are you sure you want to change email address?\nYou will be logged out and will need to verify your account again to continue.');
            }
        });
    {% endif %}
});
</script>

{% endblock extra_js_bottom %}
