{#
~~AdminApplicationReady:Email~~
~~-> Application:Model~~
~~-> Account:Model~~
~~-> Application:Form~~
#}

The application for "{{ application_title }}" has been marked 'Ready' by {{ editor }} from {{ group_name }}.
Please review it within 1 week.   

{{ url_for_application }}

***
This is an automated message. Please do not reply to this email.
