{#
~~AssEdApplicationAssigned:Email~~
~~-> Account:Model~~
~~-> Application:Model~~
~~-> EditorGroup:Model~~
~~-> EditorDashboard:Page~~
#}

Dear {{ associate_editor }},

An application for "{{ journal_name }}" has been assigned
to you by the Editor of "{{ group_name }}". Please start work on this within 1 week.
{{ url_root }}/editor/ .

***
This is an automated message. Please do not reply to this email.
