{#
~~PublisherApplicationEditorAssigned:Email~~
~~-> Application:Model~~
~~-> Account:Model~~
~~-> Volunteers:Page~~
#}


{% set publisher_name = owner.name %}
{% set bibjson = application.bibjson() %}
{% set url_root = config.get("BASE_URL") %}

{% if publisher_name %}Dear {{ publisher_name }},{% endif %}

Your application for "{{ bibjson.title }}" submitted on {{ application.date_applied|human_date }} has been assigned to an editor for review for inclusion in the DOAJ. Please look out for further communications about the application. These may come from someone who is not using a DOAJ email address: {{ url_root }}{{url_for("doaj.volunteers")}}

The DOAJ Team

***
This is an automated message. Please do not reply to this email.
