{#
~~PublisherApplicationReceived:Email~~
~~-> Application:Model~~
~~-> Account:Model~~
~~-> Volunteers:Page~~
~~-> Feedback:Email~~
#}

{% set publisher_name = owner.name %}
{% set bibjson = application.bibjson() %}
{% set url_root = config.get("BASE_URL") %}

{% if publisher_name %}Dear {{ publisher_name }},{% endif %}

{{ bibjson.title }}
{{ bibjson.journal_url }}

Thank you for your application submitted to DOAJ on {{ application.date_applied|human_date }}.

Our average review time is 3 months due to the large number of applications we receive. 
You may request a status update only after three months have passed since you submitted an application.  

During the review, you may receive an email from us if we have questions. Note that you may be contacted by our volunteer editor who does not have a DOAJ email address so do check your spam folder. 
You can see our volunteers listed here: {{ url_root }}{{url_for("doaj.volunteers")}}

If you need to make a change to your application, send an email to our Help desk: helpdesk@doaj.org. Please include your ISSN.

We are unable to reply to emails requesting a status update within 3 months of application.

Kind Regards,

The DOAJ Editorial Team

***
This is an automated message.
