{#
~~PublisherUpdateRequestAccepted:Email~~
~~-> Journal:Model ~~
~~-> Application:Model~~
~~-> Account:Model~~
~~-> PublisherDashboard:Page~~
#}

{% set publisher_name = owner.name %}
{% set bibjson = journal.bibjson() %}
{% set url_root = config.get("BASE_URL") %}

{% if publisher_name %}Dear {{ publisher_name }},{% endif %}

Congratulations! The changes which you sent us for "{{ bibjson.title }}" on {{ application.date_applied|human_date }} have been reviewed and the journal record updated. Please note that some of the changes you suggested may have been omitted and replaced with other values by the Managing Editor who carried out the review. Review the journal record here: {{ url_root }}{{ url_for("publisher.journals") }}.

Thank you for updating this journal and helping to keep the DOAJ database up-to-date.

Best wishes,

The DOAJ Team

**This is an automated message.**
