{% extends "management/base.html" %}

{% block management_stylesheets %}
    {# CSS for datepicker #}
    <link rel="stylesheet" href="/static/vendor/flatpickr-4.6.13/flatpickr-4.6.13.min.css">
    {% block admin_stylesheets %}{% endblock %}
{% endblock %}

{% block nav %}
    {% include "management/admin/includes/_nav.html" %}
{% endblock %}

{% block management_content %}
    {% block admin_content %}{% endblock %}
{% endblock %}

{% block management_js %}
    <script src="/static/vendor/flatpickr-4.6.13/flatpickr-4.6.13.min.js"></script>
    {% block admin_js %}{% endblock %}
{% endblock %}