{% extends "management/admin/base.html" %}

{% block page_title %}Triage Form{% endblock %}

{% block admin_stylesheets %}
<style>
fieldset > legend {
    font-weight: bold;
    font-size: 2em;
}

fieldset > fieldset {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

fieldset > fieldset > legend {
    font-weight: bold;
    font-size: 1.5em;
}
</style>
{% endblock %}

{% block admin_content %}
    <h1>Triage Form for {{ application.bibjson().title }}</h1>
    {% if wfc.triage.recommendation %}
        {% set rec = wfc.triage.recommendation %}
        <p>Current Recommendation: {{ rec.code }}</p>
        <p>Reasons:
            <ul>
            {% for reason in rec.reasons %}
                <li>{{ reason.question }}: {{ reason.answer }} {% if reason.severity_value %}(SV:{{ reason.severity_value }}){% endif %}</li>
            {% endfor %}
            </ul>
        </p>
    {% endif %}
    {% autoescape off %}
        {{ form_html }}
    {% endautoescape %}
{% endblock %}

{% block admin_js %}

{% endblock %}
