{% extends "management/admin/base.html" %}

{% block page_title %}Triage Form{% endblock %}

{% block admin_stylesheets %}
<style>
fieldset#ethics_criteria > legend {
    font-weight: bold;
    font-size: 2em;
}

fieldset#ethics_criteria > fieldset {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

fieldset#ethics_criteria > fieldset > legend {
    font-weight: bold;
    font-size: 1.5em;
}
</style>
{% endblock %}

{% block admin_content %}
    <h1>Triage Form for {{ application.bibjson().title }}</h1>
    {{ form_html }}
{% endblock %}

{% block admin_js %}

{% endblock %}
