{% extends "base.html" %}
{# ~~Dashboard:Template~~ #}

{# we're potentially going need this in a few places in inherited files, so lets just put it here #}
{# ~~-> EditorGroup:Model ~~ #}
{% set managed_groups, maned_assignments = maned_of() %}
{% set editor_of_groups, editor_of_assignments = editor_of() %}
{% set associate_of_groups, associate_of_assignments = associate_of() %}

{% block base_meta %}
    {% block management_meta %}{% endblock %}
{% endblock %}

{% block base_stylesheets %}
    {% block management_stylesheets %}{% endblock %}
{% endblock %}

{% block body_class %}dashboard{% endblock %}

{# ~~Dashboard:Template~~ #}
{% block base_content %}
    {# global site note #}
    {% if config.get("SITE_NOTE_ACTIVE", False) and not request.cookies.get(config.get("SITE_NOTE_KEY")) %}
        {% include templates.SITE_NOTE %}
    {% endif %}

    <header>
        <h2 class="sr-only">DOAJ Dashboard</h2>

        {% include "management/includes/_primary_nav.html" %}
        {% block nav %}{% endblock %}
    </header>


    <main>
        <header class="main-header">
            <div class="row">
                <header class="col-md-6 col-lg-4">
                    <h1>
                        {% block page_header %}
                            {{ self.page_title() }}
                        {% endblock %}
                    </h1>
                </header>
                <nav class="col-md-6 col-lg-8 align-right">
                    <dl>
                        {% if current_user.has_role("admin") %}
                            {% if managed_groups and managed_groups|length > 0 %}
                                <dt class="sr-only">
                                    Managing Editor of&nbsp;&nbsp;
                                </dt>
                                <dd>
                                    <ul class="inlined-list tags">
                                        {% for eg in managed_groups|sort(attribute="name") %}
                                            <li>
                                                {% set app_source = search_query_source(term=[
                                {"admin.editor_group.exact" : eg.name},
                                {"index.application_type.exact" : "new application"}
                            ], sort=[{"admin.date_applied": {"order": "asc"}}]
                        ) %}
                                                <a href="{{ url_for('admin.suggestions') }}?source={{ app_source }}" title="See all {{ eg.name }} applications" class="tag tag--tertiary label"><span data-feather="users" aria-hidden="true"></span> <strong>{{ eg.name }}</strong></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            {% endif %}
                        {% elif current_user.has_role("editor") %}
                            {% if editor_of_groups and editor_of_groups|length > 0 %}
                                <dt class="sr-only">
                                    Editor groups:
                                </dt>
                                <dd>
                                    <ul class="inlined-list tags">
                                        {% for eg in editor_of_groups|sort(attribute="name") %}
                                            <li>
                                                {% set app_source = search_query_source(term=[
                                    {"admin.editor_group.exact" : eg.name},
                                    {"index.application_type.exact" : "new application"}
                                ], sort=[{"admin.date_applied": {"order": "asc"}}]
                            ) %}
                                                <a href="{{ url_for('editor.group_suggestions') }}?source={{ app_source }}" title="See all {{ eg.name }} applications" class="tag tag--tertiary label"><span data-feather="users" aria-hidden="true"></span> <strong>{{ eg.name }}</strong></a>
                                                {% set maned = eg.get_maned_account() %}
                                                <a href="mailto:{{ maned.email }}" class="tag label"><span data-feather="mail" aria-hidden="true"></span> {{ maned.id }} (Managing Editor)</a>
                                                {{ " / " if not loop.last else "" }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            {% endif %}
                        {% elif current_user.has_role("associate_editor") %}
                            {% if associate_of_groups and associate_of_groups|length > 0 %}
                                <dt class="sr-only">
                                    Editor groups:
                                </dt>
                                <dd>
                                    <ul class="tags">
                                        {% for group in associate_of_groups|sort(attribute="name") %}
                                            <li>
                                                <small class="tag tag--tertiary label"><strong>{{ group.name }}</strong></small>
                                                {% set ed = group.get_editor_account() %}
                                                <a href="mailto:{{ ed.email }}" class="tag label"><span data-feather="mail" aria-hidden="true"></span> {{ ed.id }} (Editor)</a>
                                                {% set maned = group.get_maned_account() %}
                                                <a href="mailto:{{ maned.email }}" class="tag label"><span data-feather="mail" aria-hidden="true"></span> {{ maned.id }} (Managing Editor)</a>
                                                {{ " / " if not loop.last else "" }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            {% endif %}
                        {% endif %}
                    </dl>
                </nav>
{#                <div>#}
{#                    {% for attribute in current_user.get_attributes(constants.USER_ATTR__LANGUAGE) %}#}
{#                        <span class="label tag">Language:{{ datasets.name_for_lang(attribute) }}</span>#}
{#                    {% endfor %}#}
{#                    {% for attribute in current_user.get_attributes(constants.USER_ATTR__COUNTRY) %}#}
{#                        <span class="label tag">Country:{{ datasets.get_country_name(attribute) }}</span>#}
{#                    {% endfor %}#}
{#                    {% for attribute in current_user.get_attributes(constants.USER_ATTR__TAG) %}#}
{#                        <span class="label tag">Tag:{{ attribute }}</span>#}
{#                    {% endfor %}#}
{#                </div>#}
            </div>

        </header>
        {% block permanent_warnings %}{% endblock %}
        {% include "includes/_flash_notification.html" %}
        {% block management_content %}{% endblock %}

        <section class="user-actions flex">
            <div class="user-item">
                <form method="POST" action="{{ url_for('account.logout') }}">
                    <small>
                        <button type="submit" id="logout" class="tag">
                            Logout
                            <span data-feather="log-out" aria-hidden="true"></span>
                        </button>
                    </small>
                </form>
            </div>

            <div class="user-item">
                <small>
                    <a href="{{ url_for('account.username', username=current_user.id) }}" class="tag">
                        <span data-feather="settings" aria-hidden="true"></span>
                        Settings
                    </a>
                </small>
            </div>
        </section>
    </main>
    {% include "includes/_back-to-top.html" %}

{% endblock %}

{% block base_js %}
    <script type="text/javascript" src="/static/js/notifications.js?v={{config.get('DOAJ_VERSION')}}"></script>
    <script type="text/javascript" src="/static/js/navigation.js?v={{config.get('DOAJ_VERSION')}}"></script>
    <script type="text/javascript">
        $.extend(true, doaj, {
            session : {
                currentUserId: "{{ current_user.id }}"
            }
        });
    </script>
    {% include "_tourist/includes/_tourist.html" %}

    <script>
        var historical_count = {{ historical_count | default(0) }};
        var motivational_banners = {{ data.motivational_banners | tojson }};
        var current_user = {
            "id": "{{ current_user['id'] }}",
            "role": {{ current_user['role'] | tojson }}
        };
    </script>


    {% block management_js %}{% endblock %}
{% endblock %}


