<!-- About section: foundation board & advisory board -->
<h2>Foundation Board</h2>

<p>Our Foundation Board was established in September 2024 to provide community governance. Its role is to ensure that we operate in line with our <a href="https://drive.google.com/file/d/1OE6KbtmGb9hZOpt_iwKIKFyjOQbc8nHO/view?usp=sharing">articles of association</a> and Danish law and regulations. The Board provides strategic and financial oversight to ensure that we fulfil <a href="/about/#our-mission">our mission</a> effectively. The Managing Director is accountable to the Board.

<p>The articles and <a href="https://drive.google.com/file/d/1iljuEMyaOnvc00peI_5eDdto2P4SqTcE/view?usp=sharing">terms of reference</a> govern the Foundation Board's remit and activities.</p>

<p>The Foundation Board is supported by an Advisory Board nominated by the community. The Foundation Board appoints members of the Advisory Board, ensuring representation from DOAJ's global stakeholder groups. The role of the Advisory Board is to provide advice and guidance to the Foundation Board and the DOAJ team. <a href="https://drive.google.com/file/d/1G-p5j4CBm6oGuZhfyOAI6qSu3P--xcpE/view?usp=sharing">Terms of reference</a> govern the Advisory Board's remit.</p>

<p>The nomination and appointment process for members of the Advisory Board will run from March to May 2025.</p>

<ul class="row title-list">
    {% for i in data.advisory_board_council.board %}
        <li class="col-xs-6 col-md-4 col-lg-3">
            <div class="title-list__text">
                <p class="label">{{ i.country }}</p>
                <h3 class="title-list__heading">{{ i.name }}</h3>
                <p class="title-list__para">
                    {{ i.institution }}<br/>
                </p>
                {% if i.coi %}
                    <div class="title-list__para">
                        <h3 class="label label--tertiary">Conflict of interest statement(s):</h3>
                        <ul class="tags">
                            {% for year, link in i.coi.items() %}
                                <li>
                                    {% if link %}<a href="{{ link }}" target="_blank" class="tag">{% endif %}
                                    {{ year }}
                                    {% if link %}</a>{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>

<h2>Advisory Board</h2>
<p>The nomination and appointment process for members of the Advisory Board will run from March to May 2025.</p>
<ul class="row title-list">
    {% for i in data.advisory_board_council.council %}
        <li class="col-xs-6 col-md-4 col-lg-3">
            <div class="title-list__text">
                <p class="label">{{ i.country }}</p>
                <h3 class="title-list__heading">{{ i.name }}</h3>
                <p class="title-list__para">
                    {{ i.institution }}<br/>
                </p>
                {% if i.coi %}
                    <div class="title-list__para">
                        <h3 class="label label--tertiary">Conflict of interest statement(s):</h3>
                        <ul class="tags">
                            {% for year, link in i.coi.items() %}
                                <li>
                                    {% if link %}<a href="{{ link }}" target="_blank" class="tag">{% endif %}
                                    {{ year }}
                                    {% if link %}</a>{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
