<!-- About section: advisory board & council -->
<h2>Advisory Board</h2>
<p>The Advisory Board was elected by the community in 2019 to provide advice and expertise to the DOAJ Team. The Board is governed by <a href="https://docs.google.com/document/d/1jXOga20kU61i-vzdQmPtn5uZUckzX8EwU6Zx7Xd3AQ4/edit?usp=sharing">Terms of reference</a>. All board members started in August 2019.</p>

<p>Nominations and elections started in January 2022 to find four new Board members.</p>
<ul class="row title-list">
    {% for i in data.advisory_board_council.board %}
        <li class="col-xs-6 col-md-4 col-lg-3">
            <div class="title-list__text">
                <p class="label">{{ i.country }}</p>
                <h3 class="title-list__heading">{{ i.name }}</h3>
                <p class="title-list__para">
                    {{ i.institution }}<br/>
                </p>
                {% if i.coi %}
                    <div class="title-list__para">
                        <h3 class="label label--tertiary">Conflict of interest statement(s):</h3>
                        <ul class="tags">
                            {% for year, link in i.coi.items() %}
                                <li>
                                    {% if link %}<a href="{{ link }}" target="_blank" class="tag">{% endif %}
                                    {{ year }}
                                    {% if link %}</a>{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>

<h2>Council</h2>
<p>The Council was elected by the community in 2019 to provide advice and expertise to the Advisory Board and assist them with their recommendations to the DOAJ Team. The Council is governed by <a href="https://docs.google.com/document/d/1jXOga20kU61i-vzdQmPtn5uZUckzX8EwU6Zx7Xd3AQ4/edit?usp=sharing">Terms of reference</a>. All Council members started in September 2019 unless otherwise stated.</p>

<p>Nominations and elections started in January 2022 to find five new Council members.</p>
<ul class="row title-list">
    {% for i in data.advisory_board_council.council %}
        <li class="col-xs-6 col-md-4 col-lg-3">
            <div class="title-list__text">
                <p class="label">{{ i.country }}</p>
                <h3 class="title-list__heading">{{ i.name }}</h3>
                <p class="title-list__para">
                    {{ i.institution }}<br/>
                </p>
                {% if i.coi %}
                    <div class="title-list__para">
                        <h3 class="label label--tertiary">Conflict of interest statement(s):</h3>
                        <ul class="tags">
                            {% for year, link in i.coi.items() %}
                                <li>
                                    {% if link %}<a href="{{ link }}" target="_blank" class="tag">{% endif %}
                                    {{ year }}
                                    {% if link %}</a>{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
