<ul class="row title-list">
    {% for i in data.team %}
        <li class="col-sm-6 col-md-4 col-lg-4">
            <div class="title-list__text">
                <figure class="portrait" aria-hidden="true">
                    {% if i.photo %}
                        <div class="portrait__bg-img" style="background-image: url('/assets/img/team/{{ i.photo }}')" alt="Portrait of {{ i.name }}"></div>
                    {% else %}
                        <div class="portrait__img--empty"></div>
                    {% endif %}
                </figure>
                <p class="label">{{ i.role }}</p>
                <h2 class="title-list__heading">{{ i.name }}</h2>
                <p class="title-list__para">
                    {% autoescape off %}{{ i.bio }}{% endautoescape %}
                </p>
                {% if i.coi %}
                    <div class="title-list__para">
                        <h3 class="label label--tertiary">Conflict of interest statement(s):</h3>
                        <ul class="tags">
                            {% for year, link in i.coi.items() %}
                                <li>
                                    {% if link %}<a href="{{ link }}" target="_blank" class="tag">{% endif %}
                                    {{ year }}
                                    {% if link %}</a>{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>