<section>
    <legend class="form__legend"><div><span data-feather="settings" aria-hidden="true"></span> Administrative</div></legend>
    {% set fs = formulaic_context.fieldset("reviewers") %}
    {% if fs %}
        <h2 class="form__header">{{ fs.label }}</h2>
        <div class="row">
            {% for f in fs.fields() %}
                <div class="col-md-6">
                {% set field_template = f.template %}
                {%  include field_template %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if formulaic_context.fieldset("reassign") or formulaic_context.fieldset("status") %}
        {% set fs = formulaic_context.fieldset("reassign") %}
        {% if fs %}
            {% for f in fs.fields() %}
                <h2 class="form__header">{{ fs.label }}</h2>
                {% set field_template = f.template %}
                {%  include field_template %}
            {% endfor %}
        {% endif %}

        {% set fs = formulaic_context.fieldset("status") %}
        {% if fs %}
        {% for f in fs.fields() %}
            <h2 class="form__header">{{ fs.label }}</h2>
            {% set field_template = f.template %}
            {%  include field_template %}
        {% endfor %}
        {% endif %}
    {% endif %}

    {% set fs = formulaic_context.fieldset("continuations") %}
    {% if fs %}
    <h2 class="form__header">{{ fs.label }}</h2>
    {% for f in fs.fields() %}
        {% set field_template = f.template %}
        {% include field_template %}
    {% endfor %}
    {% endif %}

    {% set fs = formulaic_context.fieldset("seal") %}
    {% if fs %}
        <h2 class="form__header">{{ fs.label }}</h2>
        {% for f in fs.fields() %}
            {% set field_template = f.template %}
            {%  include field_template %}
        {% endfor %}
    {% endif %}

    {% set fs = formulaic_context.fieldset("labels") %}
    {% if fs %}
        <h2 class="form__header">{{ fs.label }}</h2>
        {% for f in fs.fields() %}
            {% set field_template = f.template %}
            {%  include field_template %}
        {% endfor %}
    {% endif %}
</section>
