{% extends "sidebar-page.html" %}

{% block content %}

<h2>वैज्ञानिक प्रकाशनों में  पारदर्शिता सिद्धांत और बेहतरीन कार्यप्रणाली</h2>

    {% include 'doaj/_bestpractice_nav.html' %}

<p><b>परिचय</b></p>

<p>Committee on Publication Ethics, Directory of Open Access Journals, Open Access Scholarly Publishers और World Association of 
	Medical Editors वह वैज्ञानिक संगठन हैं, जिनकी सदस्यता संख्या व गुणवत्ता के सन्दर्भ में  निरंतर वृद्धि देखी गयी है । हन संगठनों ने साथ में मिल कर वैज्ञानिक 
	प्रकाशनों में पारदर्शिता सिद्धांत और बेहतरीन कार्यप्रणाली व इन सिद्धांत मानदंडों को निर्धारित किया हैं । COPE, DOAJ और OASPA में सदस्यता पाने की इच्छुक संस्थाओ
	की योग्यता इन मानदंडों पर आधारित  हैं और WAME में सदस्यता पाने के लिए भी इन में कुछ मानदंडों का प्रयोग होता हैं । प्रत्येक संगठन के पास अपना स्वयं और 
	अतिरिक्त मानदंड भी होता है, जिसका प्रयोग आवेदन के दौरान मूल्यांकन के लिए किया जाता है । इन संगठनों उन प्रकाशकों या जर्नल की सूची साझा नहीं करेंगे जो 
	पारदर्शिता सिद्धांत और बेहतरीन कार्यप्रणाली का  मानदंड प्रदर्शित करने में असफल रहे हो ।</p>

<p>यह प्रगति कार्य (चालू कार्य) का तीसरा संस्करण है (प्रकाशित जनवरी 2018), जिसका  पहला संस्करण दिसंबर 2013 में और दूसरा संस्करण जून 2015 में OASPA द्वारा उपलब्ध कराया गया था। हम इसके व्यापक प्रसार को प्रोत्साहित करते हैं व सामान्य सिद्धांतों एवम् विशिष्ट मानदंडों पर प्रतिक्रिया का स्वागत जारी रखेंगे । संगठनों की पृष्ठभूमि नीचे है ।</p>

<p>&nbsp;</p>
<p><b>पारदर्शिता के सिद्धांत</b></p>
<p>
	<ol>
		<li><b>वेबसाइट</b></br>
		जर्नल की वेबसाइट  में शामिल की जाने वाली पाठ्य सामग्री के उच्च शैक्षिक और व्यावसायिक मानकों को सुनिश्चित व प्रमाणित करने के लिए पूरा ध्यान रखा जायेगा। इसमें ऐसी जानकारी शामिल नहीं की जाएगी  जो पाठकों या लेखकों को भ्रमित कर सके, जिसमें किसी अन्य पत्रिका / प्रकाशक की साइट की नकल करने की कोई भी कोशिश की गई हो। 'उद्देश्य एवं व्याप्त' वक्तव्य” को वेबसाइट पर शामिल किया जाना चाहिए और पाठ्यता स्पष्ट होनी चाहिए। जर्नल में प्रकाशन के लिए लेखक के मानदंड (उदाहरण के लिए कई सबमिशन, निरर्थक प्रकाशनों पर विचार न करें) को शामिल करने पर विचार करने हेतू एक अभिव्यक्ति होनी चाहिए। ISSNs स्पष्ट रूप से प्रदर्शित होना चाहिए (प्रिंट और इलेक्ट्रॉनिक के लिए अलग)</li>

		<li><b>जर्नल का नाम</b></br>
		जर्नल का नाम विशिष्ट होना चाहिए और किसी अन्य पत्रिका जर्नल से मेल न खाता हो ताकि  संभावित लेखकों और पाठकों को जर्नल के मूल या अन्य जर्नल के साथ संबंध के बारे में अस्पष्टता ना  हो ।</li>
		
		<li><b>जर्नल की विद्वत् समीक्षा प्रक्रीया</b></br>
		जर्नल की सामग्री में स्पष्ट रूप से उल्लेखित किया जाना चाहिए कि इसकी विद्वत् समीक्षा की गई है या नहीं।  विद्वत् समीक्षा का अर्थ है विशिष्ट लेख या पांडुलिपि का उस विषय या क्षेत्र समीक्षक विशेषज्ञ द्वारा समीक्षा करना जो कि जर्नल के संपादकीय स्टाफ का हिस्सा नहीं हैं। इस प्रक्रिया के साथ-साथ जर्नल ी विद्वत् समीक्षा प्रक्रियाओं से संबंधित कोई भी नीति, जर्नल की वेब साइट पर स्पष्ट रूप से वर्णित की जाएंगी, जिनमें समीक्षक की समीक्षा पद्धति भी शामिल होगी। जर्नल वेबसाइटों को पांडुलिपि की स्वीकृति या विद्वत समीक्षा को कम समय में खत्म करने की गारंटी नहीं देनी चाहिए।</li>

		<li><b>स्वामित्व और प्रबंधन</b></br>
		जर्नल के स्वामित्व और प्रबंधन के बारे में जानकारी स्पष्ट रूप से जर्नल की वेबसाइट पर प्रदर्शित की जानी चाहिए । प्रकाशक, ऐसे संगठनात्मक या जर्नल के नाम का उपयोग नहीं करेंगे, जो जर्नल की स्वामित्व के बारे में संभावित लेखकों और संपादकों को भ्रमित करें ।</li>
		
		<li><b>प्रबंध निकाय</b></br>
		पत्रिकाओं के पास संपादकीय बोर्ड या अन्य प्रबंध निकाय होंगे जिसके सदस्यों को जर्नल के विषय क्षेत्र में विशेषज्ञता हासिल हो। पत्रिका के संपादकीय बोर्ड या प्रबंध निकाय के अन्य सदस्यों के पूर्ण नाम और संबद्धता जर्नल की वेबसाइट पर उपलब्ध कराई जानी चाहिए ।</li>
		
		<li><b>संपादकीय टीम / संपर्क जानकारी</b></br>
		जर्नल पत्रिका की वेबसाइट पर जर्नल के संपादकों के पूर्ण नाम और संबद्धता के साथ साथ संपादकीय कार्यालय की संपर्क जानकारी व पूरा पता शामिल होना चाहिए ।</li>

		<li><b>कॉपीराइट और लाइसेंसिंग</b></br>
		सभी प्रकाशित लेखों और लेखक सम्बंधित दिशानिर्देशों में कॉपीराइट नीति एवम कॉपीराइट धारक के बारे में स्पष्ट जानकारी होनी चाहिए । इसी तरह, लाइसेंसिंग सम्बंधित जानकारी को वेबसाइट पर दिशानिर्देशों में स्पष्ट रूप से वर्णित किया जाए, और लाइसेंस शर्तों को सभी प्रकाशित लेखों में एचटीएमएल और पीडीएफ दोनों पर दर्शाया जाए। अगर लेखक को क्रिएटिव कॉमन्स लाइसेंस के तहत प्रकाशित करने की अनुमति है तो किसी भी विशिष्ट लाइसेंस आवश्यकताओं को स्पष्ट किया जाना चाहिए। अंतिम एक्सेप्टेड संस्करणों या प्रकाशित लेखों को अन्य रिपॉजिटरी में शामिल करने की नीति स्पष्ट होनी चाहिए ।</li>
		
		<li><b>लेखक शुल्क</b></br>
		जर्नल में पांडुलिपि प्रसंस्करण और / या प्रकाशन के लिए किसी भी तरह के शुल्क का स्पष्टीकरण जर्नल में अवश्य होना चाहिए ताकि संभावित लेखकों को अपना लेख जर्नल में प्रस्तुत करने या समीक्षा के लिए भेजने से पहेले यह जानकारी आसानी से मिले। जर्नल में यदि कोई लेखक शुल्क नहीं है तो इसका स्पष्टीकरण भी किया जाना चाहिए ।</li>
		
		<li><b>अनुसंधान कदाचार सम्बंधित आरोप और उनसे निपटने की प्रक्रिया</b></br>
		जर्नल के प्रकाशक और संपादक ,लेख के प्रकाशन से पहले उसकी सत्यता की जांच करेंगे । किसी अन्य लेख कि नक़ल या चोरी,  उद्धरण हेरफेर और आंकड़ों सम्बंधित जालसाजी शामिल न हो और अनुसंधान कदाचार रोकने के लिए उचित कदम उठाएंगे । किसी भी परिस्थिति में  जर्नल या इसके संपादक ना तो ऐसे कदाचार को प्रोत्साहित करेंगे, ना ही अनुमति देंगें । इस सन्दर्भ में जर्नल के प्रकाशक या संपादक को जर्नल में प्रकाशित लेख से संबंधित अनुसंधान कदाचार के किसी भी आरोप के बारे जानकारी प्राप्त होती है तो प्रकाशक या संपादक आरोपों से निपटने में COPE के दिशानिर्देशो (या समतुल्य ) का प्रयोग करेगे । </li>

		<li><b>प्रकाशन नैतिकता</b></br>
		जर्नल में नियमों सम्बंधित प्रकाशन नीति भी शामिल की जानी चाहिए । ये नीतियाँ जर्नल की वेबसाइट पर स्पष्ट रूप से प्रदर्शित की जानी चाहिए: i) लेखन और सहयोगीता पर जर्नल की नीतियां; ii) जर्नल कैसे शिकायतों और अपीलों को निपटाएगा; iii)  प्रतिस्पर्धात्मक हितों सम्बंधित विवादों पर जर्नल नीतियां; iv) डेटा साझा करने और पुनरुत्पादन पर जर्नल नीतियां; v) प्रकाशन नैतिकता का उल्लंगन करने पर जर्नल की नीति; vi) बौद्धिक संपदा पर जर्नल की नीति; और vii) प्रकाशन के बाद प्रकाशन में विकल्प और सुधार के लिए जर्नल नीतियाँ ।</li>
		
		<li><b>प्रकाशन निर्धारण</b></br>
		जर्नल के प्रकाशन की अवधि स्पष्ट रूप से सूचित की जानी चाहिए।</li>
		
		<li><b>उपलब्धता</b></br>
		जर्नल और वैयक्तिक लेख पाठकों के लिए किस प्रकार उपलब्ध होंगे और क्या इसके लिए सब्सक्रिप्शन शुल्क या प्रति अवलोकन के लिए शुल्क देना होगा, यह भी स्पष्ट रूप से सूचित किया जाना चाहिए। </li>
		
		<li><b>संग्रह</b></br>
		किसी परिस्थिति में जर्नल के प्रकाशन ना होने पर, जर्नल सामग्री की उपलब्धता के लिए इलेक्ट्रॉनिक बैकअप और संरक्षण की  व्यवस्था  (उदाहरण के लिए, CLOCKSS या PubMedCentral के माध्यम से मुख्य लेख की उपलब्धता) स्पष्ट रूप से सूचित कर दिया जाना चाहिए।</li>
		
		<li><b>राजस्व स्रोत</b></br>
		व्यावसायिक मॉडल या राजस्व स्रोत (उदाहरण के लिए, लेखक की फीस, सदस्यता, विज्ञापन, पुनर्मुद्रण, संस्थागत समर्थन और संगठनात्मक समर्थन) स्पष्ट होना चाहिए अन्यथा जर्नल की वेबसाइट पर सुस्पष्ट किया जाना चाहिए।  प्रकाशन शुल्क या निःशुल्क नीती से संपादकीय निर्णय प्रभावित नहीं होना चाहिए।</li>
		
		<li><b>विज्ञापन</b></br>
		यदि विज्ञापन प्रासंगिक हों तो जर्नल विज्ञापन नीति का स्पष्ट रूप से उल्लेख करे । किस प्रकार के विज्ञापनों पर विचार किया जाएगा, कौन विज्ञापनों को स्वीकार करने के संबंध में निर्णय लेता है, चाहे वे सामग्री हो या पाठक के व्यवहार (केवल ऑनलाइन) से जुड़ा हो या उनका क्रम रहित प्रदर्शन हो। कोइ भी विज्ञापन किसी भी तरह से संपादकीय निर्णय लेने से संबंधित नहीं होना चाहिए और जर्नल में प्रकाशित सामग्री से सम्बंधित नहीं  होना चाहिए।</li>
		
		<li><b>डायरेक्ट मार्केटिंग (प्रत्यक्ष विपणन)</b></br>
		किसी भी तरह का प्रत्यक्ष विपणन जैसे पांडुलिपियों का आग्रह, उपयुक्त, लक्षित व स्वभाविक होना चाहिए। प्रकाशक या जर्नल के बारे में प्रदान की गई जानकारी सत्य होनी चाहिए ताकि पाठक या लेखक किसी भी तरह से भ्रमित ना हों।</li>
		</p>
		
<p>किसी भी समय यदि कोई सदस्य संगठन नियमों या संगठन की अन्य विशिष्ट निर्देशों का उल्लंघन करते हुए पाया जाता है तो, OASPA/DOAJ/COPE/WAME सबसे पहले सदस्य संगठन द्वारा उठाई गईं समस्या को निपटा कर उनके साथ सोहाद्र्पूर्ण काम करने का प्रयास करेगा।  यदि किन्ही हालातों में सदस्य संगठन इन समस्याओं को हल करने में अक्षम या अनिच्छुक है तो, संगठन में उनकी सदस्यता को निलंबित या समाप्त किया जा सकता है। सभी सदस्य संगठनों के पास सदस्य जर्नल सम्बंधित से समस्याओं से निपटने के लिए  प्रक्रिया उपलब्ध हैं।</p>

<p><i>This Hindi version published on 1st November 2018</br>
The latest English version published on DOAJ: 15 January 2018</br>
दूसरा संस्करण DOAJ पर प्रकाशित:   जून 2015</br>
पहला संस्करण DOAJ पर प्रकाशित:  10 जनवरी 2014</i></p>

<p>&nbsp;</p>
<p><i>Committee on Publication Ethics के बारे में (COPE, <a href="https://publicationethics.org">
https://publicationethics.org</a>)</i></p>
<p>COPE प्रकाशन नियमों के सभी पहलुओं पर संपादकों और प्रकाशकों और, विशेष रूप से, शोध और प्रकाशन में कदाचार के मामलों को कैसे निपटाया जाये, इस विषय पर परामर्श प्रदान करता है। यह अपने सदस्यों के लिए व्यक्तिगत मामलों पर चर्चा करने के लिए मंच भी प्रदान करता है। COPE व्यक्तिगत मामलों की जांच नहीं करता है लेकिन संपादकों को यह सुनिश्चित करने के लिए प्रोत्साहित करता है कि मामले की जांच उपयुक्त प्राधिकारी द्वारा हो (आमतौर पर एक शोध संस्थान या नियोक्ता द्वारा) । COPE के सभी सदस्यों से आशा की जाती है कि वे COPE में उल्लिखित प्रकाशन नैतिकता के नियमों का पालन  करें ।</p>

<p><i>Directory of Open Access Journals के बारे में (DOAJ, <a href="https://doaj.org">https://doaj.org</a>)</i></p>
<p>DOAJ का लक्ष्य: वेब पर ओपन एक्सेस वैज्ञानिक जर्नल के बारे में विश्वसनीय जानकारी के स्रोत का रख-रखाव एवं विकास; यह देखना सूची में डाली गई प्रविष्टियां उचित मानकों का अनुपालन करती हैं; ओपन एक्सेस जर्नल की दृश्यता, प्रसार, खोज और आकर्षण को बढ़ावा देना; उपलब्ध कराई गई सूचनाओं और सेवाओं से लाभ लेने के लिए विद्वानों, पुस्तकालयों, विश्वविद्यालयों, अनुसंधान फंडर्स और अन्य हितधारकों को सक्षम बनाना; ओपन एक्सेस जर्नल को पुस्तकालय और सामूहिक सेवाओं में एकीकरण के लिए मदद करना; उचित डिजिटल प्रकाशन मानकों को पूरा करने के लिए प्रकाशकों और उनके जर्नल की यथासंभव सहायता करना; और इस तरह विशेषज्ञों की संचार प्रणाली का स्थानान्तरण एक मॉडल के रूप में करना जो विज्ञान, उच्च शिक्षा, उद्योग, नवाचार, समाज और लोगों की सेवा कर सके है। इस कार्य के माध्यम से, DOAJ इन उद्देश्यों के लिए काम करने वाली सभी इच्छुक पार्टियों के साथ सहयोग करेगा।</p>

<p><i>Open Access Scholarly Publishers Association के बारे में (OASPA, <a href="https://oaspa.org">https://oaspa.org</a>)</i></p>
<p>सभी विषयों में विश्वभर में ओपन एक्सेस (ओए) के प्रकाशकों के हितों का प्रतिनिधित्व करने हेतु 2008 में OASPA व्यापारिक संस्था को स्थापित किया गया । ओपन एक्सेस प्रकाशन को समर्थन देने के लिए उपयुक्त व्यावसायिक मॉडल, उपकरण और मानकों के विकास में सहयोग को बढ़ावा देने का उद्द्शय अपने सदस्यों और उनके विशेषज्ञ समुदायों को एक समृद्ध और टिकाऊ भविष्य सुनिश्चित करने में मदद करना है। यह उद्देश्य सूचनाओं का आदान-प्रदान, मानकों को स्थापित करने, मॉडल प्रगमन, वकालत, शिक्षा और नवाचार को बढ़ावा देने के माध्यम से किया जाता है।</p>

<p><i>World Association of Medical Editors (WAME, <a href="http://wame.org/">http://wame.org/</a>)</i></p> सहकर्मी-समीक्षा मेडिकल पत्रिकाओं के संपादकों की एक वैश्विक, स्वैच्छिक और गैर-लाभकारी संस्था है जो संपादकों का सहयोग करने के साथ साथ संपादकों के बीच सहयोग और सम्प्रेषण को बढ़ावा देना चाहती हैं, इसके अतिरिक्त इसका उद्देश्य  संपादकीय मानकों में सुधार; शिक्षा, आत्म-विवेचना, और आत्म-नियमन के माध्यम से चिकित्सा संपादन में दक्षता को बढ़ावा देना व सिद्धांतों और चिकित्सा के क्षेत्र में संपादन के अभ्यास और सिद्धांतों पर आधारित शोध को प्रोत्साहित करना है । WAME मेडिकल जर्नल संपादकों के लिए नीतियों व सर्वोत्तम कार्यप्रणाली का निर्माण करता है और संपादकों के लिए पाठ्यक्रम प्रदान करता है, जिसका अनुसरण करने के लिए सदस्यों को प्रोत्साहित किया जाता है</p>

<p>श्रीमती नीलम मेहता द्वारा अनुवाद किया गया </p>
{% endblock %}
