{% extends "layouts/base.html" %}

{# we're potentially going need this in a few places in inherited files, so lets just put it here #}
{% set managed_groups, maned_assignments = maned_of() %}

{% block base_content %}
    <body class="dashboard {% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}" data-spy="scroll" data-offset="70">

    {# global site note #}
    {% if config.get("SITE_NOTE_ACTIVE", False) and not request.cookies.get(config.get("SITE_NOTE_KEY")) %}
        {% include config.get("SITE_NOTE_TEMPLATE") %}
    {% endif %}

    <header>
      <h2 class="sr-only">DOAJ Dashboard</h2>

      <nav class="primary-nav flex-space-between" id="primary-nav">
        <a href="/dashboard/" class="logo">
          {% include "includes/svg/doaj-icon.svg" %}
        </a>
        <ul class="unstyled-list flex-center">
          {# TODO display last 10 event notifications here
            <li class="dropdown">
              <span class="dropdown__trigger tag tag--secondary" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Notifications</span>
                <span data-feather="bell" aria-hidden="true"></span>
              </span>
              <ul class="dropdown__menu">
                <li>
                  <a href="#" class="dropdown__link">
                    <span>@fsoldati tagged you in <i>Internationale Zeitschrift für Kulturkomparatistik</i></span>
                    <time datetime="2021-07-17">2 hours ago</time>
                  </a>
                </li>
                <li>
                  <a href="#" class="dropdown__link">
                    <span>@fsoldati tagged you in <i>Internationale Zeitschrift für Kulturkomparatistik</i></span>
                    <time datetime="2021-07-17">2 hours ago</time>
                  </a>
                </li>
                <li>
                  <a href="#" class="dropdown__link">
                    <span>@fsoldati tagged you in <i>Internationale Zeitschrift für Kulturkomparatistik</i></span>
                    <time datetime="2021-07-17">2 hours ago</time>
                  </a>
                </li>
              </ul>
            </li> #}
            <li class="flex-center">
              <a href="/dashboard" class="tag">
                <small><span><span data-feather="list" aria-hidden="true"></span> Back to dashboard</span></small>
              </a>
            </li>
            <li class="flex-center">
              <a href="/" class="tag">
                <small><span><span data-feather="home" aria-hidden="true"></span> DOAJ home</span></small>
              </a>
            </li>
          </ul>
      </nav>
      {% include 'dashboard/nav.html' %}
      {% block extra_header %}{% endblock %}
    </header>

    {% include "includes/_flash_notification.html" %}

    {% block main_panel %}
    <main>
      <header class="main-header">
        <div class="flex-space-between">
          <h1>
            {% block page_title %}Hi{% if current_user.name %}, {{ current_user.name }}{% endif %}!{% endblock %}
          </h1>
          <nav class="align-right">
            <ul class="inlined-list">
              <li>
                {% if managed_groups and managed_groups|length > 0 %}
                <dl>
                  <dt>
                    Managing Editor of&nbsp;&nbsp;
                  </dt>
                  <dd>
                    <ul class="inlined-list tags">
                      {% for eg in managed_groups %}
                      <li class="tag tag--tertiary">
                        {% set source = search_query_source(terms=[{"admin.editor_group.exact" : [eg.name]}]) %}
                        <a href="{{ url_for('admin.suggestions') }}?source={{ source }}" title="See all applications"><strong>{{ eg.name }}</strong></a>
                        <a href="{{ url_for('admin.index') }}?source={{ source }}" title="See all journals">(journals)
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  </dd>
                  {% endif %}
                  <dt>
                    Username&nbsp;&nbsp;
                  </dt>
                  <dd>
                    <a href="{{ url_for('account.username', username=current_user.id) }}" class="tag">{{ current_user.id }}</a>
                  </dd>
                </dl>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      {% block content %}{% endblock %}

      <span class="flex-end">
        <a href="{{ url_for('account.logout') }}" class="tag tag--tertiary">
          <span><strong>Log out</strong></span>
          <span data-feather="log-out" aria-hidden="true"></span>
        </a>
      </span>
    </main>
    {% endblock %}

    {% include '_js_includes.html' %}

    {% block extra_js_bottom %}{% endblock extra_js_bottom %}

    {% if not request.cookies.get("doaj-consent") %}
        <script type="text/javascript">
            jQuery(document).ready(function() {
                $(".cookie-consent #cookie-consent-hide").on("click", setCookieConsent);
                $(".site-note-dismiss").on("click", dissmissSiteNote);
            });
        </script>
    {% endif %}

    </body>
{% endblock %}
