{% extends "layouts/base.html" %}
{# ~~Dashboard:Template~~ #}

{# we're potentially going need this in a few places in inherited files, so lets just put it here #}
{# ~~-> EditorGroup:Model ~~ #}
{% set managed_groups, maned_assignments = maned_of() %}

{% block base_content %}
    <body class="dashboard {% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}" data-spy="scroll" data-offset="70">

    {# global site note #}
    {% if config.get("SITE_NOTE_ACTIVE", False) and not request.cookies.get(config.get("SITE_NOTE_KEY")) %}
        {% include config.get("SITE_NOTE_TEMPLATE") %}
    {% endif %}

    <header>
      <h2 class="sr-only">DOAJ Dashboard</h2>

      <nav class="primary-nav flex-space-between" id="primary-nav">
        <a href="/dashboard/" class="logo">
          {% include "includes/svg/doaj-icon.svg" %}
        </a>
        <ul class="unstyled-list flex-center">
          {# TODO display last 10 event notifications here
            <li class="dropdown">
              <span class="dropdown__trigger tag tag--secondary" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Notifications</span>
                <span data-feather="bell" aria-hidden="true"></span>
              </span>
              <ul class="dropdown__menu">
                <li>
                  <a href="#" class="dropdown__link">
                    <span>@fsoldati tagged you in <i>Internationale Zeitschrift für Kulturkomparatistik</i></span>
                    <time datetime="2021-07-17">2 hours ago</time>
                  </a>
                </li>
                <li>
                  <a href="#" class="dropdown__link">
                    <span>@fsoldati tagged you in <i>Internationale Zeitschrift für Kulturkomparatistik</i></span>
                    <time datetime="2021-07-17">2 hours ago</time>
                  </a>
                </li>
                <li>
                  <a href="#" class="dropdown__link">
                    <span>@fsoldati tagged you in <i>Internationale Zeitschrift für Kulturkomparatistik</i></span>
                    <time datetime="2021-07-17">2 hours ago</time>
                  </a>
                </li>
              </ul>
            </li> #}
            {% if current_user.has_role("editor") or current_user.has_role("associate_editor") %}
            <li class="flex-center">
              <a href="{{ url_for("editor.index") }}" class="tag">
                <span><span data-feather="list" aria-hidden="true"></span> Editor dashboard</span>
              </a>
            </li>
            {% endif %}
            <li class="flex-center">
              <a href="{{ url_for("dashboard.top_todo") }}" class="tag">
                <span><span data-feather="list" aria-hidden="true"></span> Admin dashboard</span>
              </a>
            </li>
            <li class="flex-center">
              <a href="/" class="tag">
                <span><span data-feather="home" aria-hidden="true"></span> DOAJ home</span>
              </a>
            </li>
          </ul>
      </nav>
        {% block nav %}{% endblock %}
      {% block extra_header %}{% endblock %}
    </header>

    {% block main_panel %}
    <main>
      <header class="main-header">
        <div class="row">
          <header class="col-md-6 col-lg-4">
            <p class="label tag">
              <small>
                <a href="{{ url_for('account.username', username=current_user.id) }}" title="Manage my profile & settings">
                  <span data-feather="user" aria-hidden="true"></span>
                  {{ current_user.id }}
                  {% if current_user.has_role("admin") %}
                    (Managing Editor)
                  {% elif current_user.has_role("editor") %}
                    (Editor)
                  {% elif current_user.has_role("associate_editor") %}
                    (Associate Editor)
                  {% endif %}
                </a>
              </small>
            </p>
            <h1>
              {% block page_title %}
                Hi, {% if current_user.name %}{{ current_user.name }}{% else %}
                {{ current_user.id }}{% endif %}!
              {% endblock %}
            </h1>
          </header>
          <nav class="col-md-6 col-lg-8 align-right">
            <dl>
              {% if current_user.has_role("admin") %}
                {% if managed_groups and managed_groups|length > 0 %}
                  <dt class="sr-only">
                    Managing Editor of&nbsp;&nbsp;
                  </dt>
                  <dd>
                    <ul class="inlined-list tags">
                      {% for eg in managed_groups|sort(attribute="name") %}
                      <li>
                        {% set app_source = search_query_source(term=[
                                {"admin.editor_group.exact" : eg.name},
                                {"index.application_type.exact" : "new application"}
                            ], sort=[{"admin.date_applied": {"order": "asc"}}]
                        ) %}
                        <a href="{{ url_for('admin.suggestions') }}?source={{ app_source }}" title="See all {{ eg.name }} applications" class="tag tag--tertiary label"><span data-feather="users" aria-hidden="true"></span> <strong>{{ eg.name }}</strong></a>
                      </li>
                      {% endfor %}
                    </ul>
                  </dd>
                {% endif %}
              {% elif current_user.has_role("editor") %}
                <dt class="label">
                  Editor groups:
                </dt>
                <dd>
                  <ul class="inlined-list tags">
                    {% for group in editor_of %}
                      <li>
                        {% set app_source = search_query_source(term=[
                                {"admin.editor_group.exact" : group.name},
                                {"index.application_type.exact" : "new application"}
                            ], sort=[{"admin.date_applied": {"order": "asc"}}]
                        ) %}
                        <a href="{{ url_for('editor.group_suggestions') }}?source={{ app_source }}" title="See all {{ group.name }} applications" class="tag tag--tertiary label"><span data-feather="users" aria-hidden="true"></span> <strong>{{ group.name }}</strong></a>
                        {% set maned = group.get_maned_account() %}
                        <a href="mailto:{{ maned.email }}" class="tag label"><span data-feather="mail" aria-hidden="true"></span> {{ maned.id }} (Man. Ed.)</a>
                        {{ " / " if not loop.last else "" }}
                      </li>
                    {% endfor %}
                  </ul>
                </dd>
              {% elif current_user.has_role("associate_editor") %}
                <dt class="label">
                  Editor groups:
                </dt>
                <dd>
                  <ul class="tags">
                    {% for group in associate_of %}
                      <li>
                        {% set app_source = search_query_source(term=[
                                {"admin.editor_group.exact" : group.name},
                                {"index.application_type.exact" : "new application"}
                            ], sort=[{"admin.date_applied": {"order": "asc"}}]
                        ) %}
                        <a href="{{ url_for('editor.group_suggestions') }}?source={{ app_source }}" title="See all {{ group.name }} applications" class="tag tag--tertiary label"><span data-feather="users" aria-hidden="true"></span> <strong>{{ group.name }}</strong></a>
                        {% set ed = group.get_editor_account() %}
                        <a href="mailto:{{ ed.email }}" class="tag label"><span data-feather="mail" aria-hidden="true"></span> {{ ed.id }} (Ed.)</a>
                        {% set maned = group.get_maned_account() %}
                        <a href="mailto:{{ maned.email }}" class="tag label"><span data-feather="mail" aria-hidden="true"></span> {{ maned.id }} (Man. Ed.)</a>
                        {{ " / " if not loop.last else "" }}
                      </li>
                    {% endfor %}
                  </ul>
                </dd>
              {% endif %}
            </dl>
          </nav>
        </div>
      </header>
      {% include "includes/_flash_notification.html" %}
      {% block content %}{% endblock %}

      <p>
        <small>
          <a href="{{ url_for('account.logout') }}" class="tag">
            <span data-feather="log-out" aria-hidden="true"></span>
            Log out
          </a>
          <a href="{{ url_for('account.username', username=current_user.id) }}" class="tag">
            <span data-feather="settings" aria-hidden="true"></span>
            Settings
          </a>
        </small>
      </p>
    </main>
    {% include "includes/_back-to-top.html" %}
    {% endblock %}

    {% include '_js_includes.html' %}

    {% block extra_js_bottom %}{% endblock extra_js_bottom %}

    {% if not request.cookies.get("doaj-consent") %}
        <script type="text/javascript">
            jQuery(document).ready(function() {
                $(".cookie-consent #cookie-consent-hide").on("click", setCookieConsent);
                $(".site-note-dismiss").on("click", dissmissSiteNote);
            });
        </script>
    {% endif %}

    </body>
{% endblock %}
