<main class="page-content">
    {% if page.highlight %}<div class="highlight">{% endif %}
    <header class="container">
        {% if page.section %}<p class="label">{{ page.section }}</p>{% endif %}
        <h1>{{ page.title }}</h1>
        <div class="row">
            <div class="col-md-8">
                {% include page.frag %}
            </div>

        {# FIXME: there's a lot of page-specific knowledge kicking around in here that we need to factor out #}
            {% if page.aside %}
                <div class="col-md-4">
                    <aside class="promo">
                        <p class="label">A reminder&hellip;</p>
                        <h2 class="promo__heading">In case of a rejection</h2>
                        <p class="promo__text">
                            You are responsible for providing accurate information when submitting your application. If the information provided is not sufficient or is incomplete, the application may be rejected.
                            <a href="{{ site.baseurl }}guide#if-your-application-is-rejected" class="promo__link">What happens if my application is rejected?</a>
                        </p>
                    </aside>
                </div>
            {% endif %}
        </div>
    </header>
    {% if page.highlight %}</div>{% endif %}

    {% if page.include %}
    <div class="container">
        {% include page.include %}
    </div>
    {% endif %}
</main>