{% extends "layouts/base.html" %}

{# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
File has been migrated to new template structure: public/base.html

Any modifications to this file must be reflected in the new templates too.
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#}

{% block base_content %}
<body class="{% block body_class %}{% endblock %}" data-spy="scroll" data-offset="70">
<a href="#maincontent" class="skip-to-main"><span aria-hidden="true" data-feather="arrow-down"></span></a>

    <header class="page-header">
        {% include "includes/header.html" %}
        <div class="container">{% include "includes/_flash_notification.html" %}</div>
        {% block extra_header %}{% endblock %}
    </header>

    {% include "includes/_quick_search_modal.html" %}

    {# global site note #}
    {% if config.get("SITE_NOTE_ACTIVE", False) and not request.cookies.get(config.get("SITE_NOTE_KEY")) %}
        {% include templates.SITE_NOTE %}
    {% endif %}

    {% block main_panel %}
        <main id="maincontent">
            {% block content %}{% endblock %}
        </main>
    {% endblock %}

    {% include "includes/footer.html" %}

    {% include '_js_includes.html' %}

    {% block extra_js_bottom %}{% endblock extra_js_bottom %}

    {% if not request.cookies.get("doaj-consent") %}
      <script type="text/javascript">
      jQuery(document).ready(function() {
          $(".cookie-consent #cookie-consent-hide").on("click", setCookieConsent);
          $(".site-note-dismiss").on("click", dissmissSiteNote);
      });
      </script>
    {% endif %}
</body>
{% endblock %}
