{% extends "layouts/public_base.html" %}
{% set page = data.frontmatter[page_frag] %}

{% block page_title %}{{ page.title }}{% endblock %}

{% if page.meta_description %}
    {% block meta_description %}{{ page.meta_description }}{% endblock %}
{% endif %}

{% block content %}
    {# content editing buttons for admins #}
    {% if not current_user.is_anonymous and current_user.has_role("admin") %}
        <a class="admin-edit" href="{{ config.get("CMS_EDIT_BASE_URL") }}/pages{{ page.frag.split(".")|first }}.md" target="_blank" rel="noopener"><span class="sr-only">Edit text content</span><span data-feather="edit-3" aria-hidden="true"></span></a>

        {# FIXME: this is not the nicest way to detect if a page uses data, but I don't have an alternative right now #}
        {% if page.include and page.include.startswith("/data/") %}
            <a class="admin-edit" href="{{ config.get("CMS_EDIT_BASE_URL") }}{{ page.include.split(".")|first }}.yml" target="_blank" rel="noopener"><span class="sr-only">Edit data content</span><span data-feather="database" aria-hidden="true"></span></a>
        {% endif %}

        {% if page.preface and page.preface.startswith("/data/") %}
            <a class="admin-edit" href="{{ config.get("CMS_EDIT_BASE_URL") }}{{ page.preface.split(".")|first }}.yml" target="_blank" rel="noopener"><span class="sr-only">Edit data content</span><span data-feather="database" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}

    {% if page.layout %}
        {% set inc = "layouts/" + page.layout + ".html" %}
        {% include inc %}
    {% else %}
        {% include page.frag %}
    {% endif %}

{% endblock %}
