.timeline {
  @extend .unstyled-list; 

  // The dates headings
  h3 {

  }

  // The contents for each section
  ul {
    @extend .unstyled-list; 

    > li:first-child {
      // styles for heading here 

      + li {
        // styles for paragraph/content here
      }
    }
  }
}

.events {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 1em;

  > li {
    flex: 30%;

    ul {
      @extend .unstyled-list; 
    }
  }
}