.parsley-error,
.parsley-error .select2-choices,
.parsley-error .select2-choice {
    border-color: #FD5A3B;
    border-width: 3px;
}

li.parsley-required {
    color: #982E0A;
}

li.parsley-type {
    color: #982E0A;
}
