.form__question > ul {
    list-style-type: none;
    padding: 0;
    display: inline;
}

.form__question > ul > li {
    display:inline;
}

.form__question > div.input-group {
    width: 75%
}

#apc_charges-apc_currency {
    width: 25%
}

#apc_charges-apc_max {
    width: 75%
}

.tab {
  display: none;
}

.parsley-error {
    border-color: #982E0A;;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #982E0A;
}

li.parsley-required {
    display: none !important;
}

#submitBtn.pager-buttons__right {
    margin-right: 5px;
}

.application-nav__list-item a ::before {
    color: #982E0A;
}

#cannot-submit {
    color: #982E0A;
}