.form__question > ul {
    list-style-type: none;
    padding: 0;
    display: inline;
}

.form__question > ul > li {
    display:inline;
}

.form__question > div.input-group {
    width: 75%
}

#apc_charges-apc_currency {
    width: 25%
}

#apc_charges-apc_max {
    width: 75%
}

.tab {
  display: none;
}

.parsley-error {
    border-color: #FD5A3B;
    border-width: 3px;
}

ul.parsley-errors-list {
    display: block;
    color: #982E0A;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

li.parsley-required {
    color: #982E0A;
}

li.parsley-type {
    color: #982E0A;
}

#submitBtn.pager-buttons__right {
    margin-right: 5px;
}

.application-nav__list-item a ::before {
    color: #982E0A;
}

.cannot-submit {
    color: #982E0A;
}

.formulaic-clickableurl-visit {
    color: #982E0A;
    text-decoration: #982E0A;
}

.form_group {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
}

.form_group > select {
    width: 60%;
}

.form_group > input {
    width: 30%;
}

[name="notes__group"] {
    display: block;
}

[name="notes__group"] input[disabled] {
    width: 100%;
}

[name="notes__group"] input[disabled][value=""] {
    display: none
}

[name="notes__group"] textarea {
    resize: vertical;
    width: 100%;
}

a[id="submitBtn"][disabled] {
    background: #cccccc;
}

.editorial-panel {
    position: static !important;
}