/****************************************
 * API Docs Styles
 */
.swagger-section {
    font-size: 0.7rem;
}

.swagger-ui .title pre {
    background: initial
}

.swagger-ui code {
    background: #333;
}

.swagger-ui .information-container {
    display: none;
}
