em {
    font-style: italic;
}

body.swagger-section {
    padding-top: 1em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}

.with-borders.sidebar-nav {
    display: none;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
}

#swagger-ui-container #resources_container > .footer > h4 {
    display: none;
}

.search-query-docs {
    font-weight: normal;
}


.swagger-section .swagger-ui-wrap ol {
    list-style-type: decimal;
}

#extra-docs > ul {
    list-style: disc inside;
}

#extra-docs > ul > li {
    margin-bottom: 0.3em;
}

ul.options {
    font-size: 125%;
}

#api_info {
    line-height: 150%;
}