#facetview_results .title {
    font-size: 120%;
}

#facetview_results .alt_title {
    color: gray;
}

.facetview_searchfield {
    width: auto;
}

.facetview_freetext:focus {
    border-color: rgba(246, 139, 31, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(246, 139, 31, 0.6);
}
