@charset "UTF-8";
.facetview {
  background-color: #FEFBF8;
  color: #282624;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.01em;
  /* Fonts mixins */
  /* Variables for spacing units
     Use with margins & padding
     Base unit: 16px */
  /* Mixins for typescale in minor second
     Use with headings and text only
     Base unit: 16px */
  /* Variables for colour palette */
  /* Utilities */
  /* General styles */
  /* Aside */
  /* Forms */
  /* Custom radio buttons & checkboxes */
  /* Feather icons */
  /* Adjust content in grid’s columns */
  /* Logo */
  /* Tags, disciplines, labels... */
  /* SERP / search result pages */ }
  .facetview a {
    text-decoration: none;
    color: #282624; }
  .facetview header {
    display: block; }
    .facetview header h2 {
      font-size: 1.602em;
      margin: 1.5rem 0 .75rem 0;
      line-height: 1.05;
      font-weight: 400; }
    .facetview header p {
      display: block;
      margin-top: 0;
      margin-bottom: .375rem;
      line-height: 1.15;
      font-weight: 600;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-size: smaller;
      color: #982E0A; }
      .facetview header p .label--tertiary {
        color: #5C5956;
        text-transform: none; }
        .facetview header p .label--tertiary :last-child {
          margin-bottom: 0; }
  .facetview .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; }
  .facetview .sr-only-focusable:active,
  .facetview .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto; }
  .facetview .cc-icon {
    height: 1rem;
    width: auto; }
    .facetview .cc-icon circle {
      fill: transparent; }
  .facetview .unstyled-list {
    padding-left: 0;
    margin: 0 0 0.75rem 0;
    list-style: none; }
  .facetview .inlined-list {
    padding-left: 0;
    margin: 0 0 0.75rem 0;
    list-style: none; }
    .facetview .inlined-list li {
      display: inline-block; }
  .facetview .bg-black  {
    background-color: #282624; }
  .facetview .bg-grey {
    background-color: #5C5956; }
  .facetview .bg-white {
    background-color: #FEFBF8; }
  .facetview .font-serif {
    font-family: 'Spectral', serif;
    letter-spacing: -0.04em; }
  .facetview .font-sans {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.01em; }
  .facetview .font-mono {
    font-family: 'Source Code Pro', monospace;
    letter-spacing: normal; }
  .facetview .type-01  {
    font-size: 1.802em; }
  .facetview .type-02  {
    font-size: 1.602em; }
  .facetview .type-03  {
    font-size: 1.424em; }
  .facetview .type-04  {
    font-size: 1.266em; }
  .facetview .type-05  {
    font-size: 1.125em; }
  .facetview .type-06  {
    font-size: .889em; }
  .facetview .stroke-gold {
    stroke: #D6AF36; }
  .facetview .stroke-silver {
    stroke: #A7A7AD; }
  .facetview .stroke-bronze {
    stroke: #A77044; }
  @media (min-width: 769px) {
    .facetview .flex-end {
      display: flex;
      align-items: flex-end;
      flex-direction: column; } }
  .facetview .bleed {
    z-index: 10; }
    @media (min-width: 992px) {
      .facetview .bleed {
        margin-right: -264px;
        width: 910px; } }
    @media (min-width: 1200px) {
      .facetview .bleed {
        margin-right: -330px;
        width: 1110px; } }
  .facetview .admin-edit {
    position: fixed;
    z-index: 2000;
    align-items: center;
    width: 50px;
    height: 50px;
    top: 100px;
    right: 0;
    background-color: #282624; }
    .facetview .admin-edit svg {
      display: block;
      margin: 10px auto;
      height: 30px;
      stroke: #FEFBF8; }
    .facetview .admin-edit + .admin-edit {
      top: 150px; }
    .facetview .admin-edit:hover {
      background-color: #982E0A; }
  .facetview html {
    scroll-behavior: smooth;
    font-size: 22px; }
    @media (max-width: 768px) {
      .facetview html {
        font-size: 18px; } }
  .facetview body {
    background-color: #FEFBF8;
    color: #282624;
    line-height: 1.45;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.01em; }
  .facetview h2, .facetview h3, .facetview h4, .facetview h5, .facetview h6 {
    margin: 1.5rem 0 0.75rem 0;
    line-height: 1.05;
    font-weight: 400; }
  .facetview h1 {
    margin: 1.5rem 0;
    font-weight: 700;
    line-height: 1.05;
    font-size: 1.802em;
    font-family: 'Spectral', serif;
    letter-spacing: -0.04em; }
  .facetview h2 {
    font-size: 1.602em; }
  .facetview h3 {
    font-size: 1.424em; }
  .facetview h4 {
    font-size: 1.266em; }
  .facetview h5 {
    font-size: 1.125em; }
  .facetview h6 {
    font-size: .889em; }
  .facetview ul, .facetview ol {
    padding-left: 1.5rem; }
    .facetview ul ul, .facetview ul ol, .facetview ol ul, .facetview ol ol {
      margin-left: 0.75rem; }
    .facetview ul li, .facetview ol li {
      line-height: 1.5; }
  .facetview dl {
    margin: 0 0 1.5rem 0; }
    .facetview dl dt {
      color: #5C5956;
      font-size: .889em; }
      .facetview dl dt:not(:first-child) {
        margin-top: 1.5rem; }
    .facetview dl dd {
      margin: 0; }
  .facetview p, .facetview blockquote, .facetview ul, .facetview ol {
    margin: 0 0 1.5rem 0; }
    .facetview p:last-child, .facetview blockquote:last-child, .facetview ul:last-child, .facetview ol:last-child {
      margin-bottom: 0; }
  .facetview pre, .facetview code {
    font-family: 'Source Code Pro', monospace;
    letter-spacing: normal;
    font-size: .889em;
    background: #F8F3EF; }
  .facetview pre {
    padding: 0.375rem; }
  .facetview strong, .facetview b {
    font-weight: 600; }
  .facetview a {
    text-decoration: underline;
    color: #282624;
    overflow-wrap: break-word;
    word-wrap: break-word; }
    .facetview a:hover, .facetview a:focus, .facetview a:active {
      color: #FD5A3B;
      text-decoration: none; }
  .facetview section {
    padding: 1.5rem 0; }
  .facetview blockquote {
    padding-left: 1.5em;
    border-left: 1px dashed #982E0A;
    font-style: italic; }
    .facetview blockquote em, .facetview blockquote i {
      font-style: normal; }
  .facetview hr {
    margin: 3rem 0;
    border: 0;
    height: 1px;
    background-color: rgba(92, 89, 86, 0.5); }
  .facetview img {
    height: auto;
    max-width: 100%; }
  .facetview iframe {
    margin-bottom: 1.5rem;
    padding: 0.375rem;
    width: 100%;
    border: 1px dashed #982E0A; }
  .facetview table {
    margin-bottom: 1.5rem;
    width: 100%; }
    .facetview table thead {
      text-align: left;
      color: #5C5956;
      font-size: .889em; }
    .facetview table tr {
      border-bottom: 1px solid rgba(92, 89, 86, 0.25); }
      .facetview table tr:last-child {
        border: 0; }
    .facetview table th, .facetview table td {
      vertical-align: top;
      padding: 0.75rem; }
      .facetview table th:first-child, .facetview table td:first-child {
        padding-left: 0; }
    .facetview table th {
      text-align: left;
      font-weight: 400;
      color: #5C5956; }
    .facetview table td:last-child {
      width: 50%; }
  .facetview ::placeholder {
    font-style: italic;
    color: rgba(92, 89, 86, 0.5); }
  .facetview aside {
    font-size: smaller; }
    .facetview aside h2 {
      font-size: 1.424em; }
    .facetview aside h2 {
      font-size: 1.266em; }
    .facetview aside form {
      margin-bottom: 0; }
  .facetview form {
    margin-bottom: 1.5rem; }
    .facetview form label, .facetview form p {
      display: block;
      margin: 0 0 0.75rem 0; }
      .facetview form label small, .facetview form label a, .facetview form p small, .facetview form p a {
        color: #5C5956; }
  .facetview input, .facetview select, .facetview button, .facetview textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding: 0.5em;
    background-color: #FEFBF8;
    border: 1px solid #282624;
    font-size: smaller;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.01em; }
  .facetview textarea {
    resize: vertical; }
  .facetview select {
    padding-right: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 1em;
    background-position: calc(100% - 0.5em) center;
    background-repeat: no-repeat; }
  .facetview input[type="checkbox"],
  .facetview input[type="radio"] {
    display: none; }
    .facetview input[type="checkbox"] + label,
    .facetview input[type="radio"] + label {
      margin: 0 0 0.75rem 0;
      line-height: 1;
      color: #5C5956;
      font-size: 1rem; }
    .facetview input[type="checkbox"] + label::before,
    .facetview input[type="radio"] + label::before {
      content: '\a0';
      display: inline-block;
      margin: 0 0.375rem 0 0;
      width: 0.8em;
      height: 0.8em;
      line-height: 0.75em;
      transition: all 0.35s;
      border: 1px solid #282624; }
    .facetview input[type="checkbox"]:checked + label,
    .facetview input[type="radio"]:checked + label {
      color: #982E0A; }
      .facetview input[type="checkbox"]:checked + label::before,
      .facetview input[type="radio"]:checked + label::before {
        content: '\a0';
        background: #982E0A;
        border: 1px solid #FEFBF8;
        box-shadow: inset 0 0 0 1px #FEFBF8, 0 0 0 1px #982E0A; }
  .facetview input[type="radio"] + label {
    display: inline-block;
    margin: 0 1.5rem 0.75rem 0; }
    .facetview input[type="radio"] + label::before {
      border-radius: 50%; }
  .facetview fieldset {
    padding: 0;
    margin: 0 0 1.5rem 0;
    border: 0;
    min-width: 0; }
  .facetview .feather {
    height: 1em;
    width: auto; }
  .facetview .container {
    margin-right: auto;
    margin-left: auto; }
    @media screen and (max-width: 768px) {
      .facetview .container {
        width: auto;
        padding-left: 20px;
        padding-right: 20px; } }
    @media screen and (max-width: 1279px) and (min-width: 769px) {
      .facetview .container {
        width: auto;
        padding-left: 30px;
        padding-right: 30px; } }
    @media screen and (max-width: 1479px) and (min-width: 1280px) {
      .facetview .container {
        width: auto;
        padding-left: 40px;
        padding-right: 40px; } }
    @media screen and (min-width: 1480px) {
      .facetview .container {
        width: 1400px;
        padding-left: 0;
        padding-right: 0; } }
  .facetview .row {
    margin-left: -20px;
    margin-right: -20px; }
    @media screen and (max-width: 1279px) and (min-width: 768px) {
      .facetview .row {
        margin-left: -30px;
        margin-right: -30px; } }
    @media screen and (min-width: 1280px) {
      .facetview .row {
        margin-left: -40px;
        margin-right: -40px; } }
  @media (max-width: 992px) {
    .facetview .row--scrollable {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; } }
  .facetview .row-no-gutters {
    margin-right: 0;
    margin-left: 0; }
  .facetview .row-no-gutters [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }
  .facetview .col-xs-1, .facetview .col-sm-1, .facetview .col-md-1, .facetview .col-lg-1, .facetview .col-xs-2, .facetview .col-sm-2, .facetview .col-md-2, .facetview .col-lg-2, .facetview .col-xs-3, .facetview .col-sm-3, .facetview .col-md-3, .facetview .col-lg-3, .facetview .col-xs-4, .facetview .col-sm-4, .facetview .col-md-4, .facetview .col-lg-4, .facetview .col-xs-5, .facetview .col-sm-5, .facetview .col-md-5, .facetview .col-lg-5, .facetview .col-xs-6, .facetview .col-sm-6, .facetview .col-md-6, .facetview .col-lg-6, .facetview .col-xs-7, .facetview .col-sm-7, .facetview .col-md-7, .facetview .col-lg-7, .facetview .col-xs-8, .facetview .col-sm-8, .facetview .col-md-8, .facetview .col-lg-8, .facetview .col-xs-9, .facetview .col-sm-9, .facetview .col-md-9, .facetview .col-lg-9, .facetview .col-xs-10, .facetview .col-sm-10, .facetview .col-md-10, .facetview .col-lg-10, .facetview .col-xs-11, .facetview .col-sm-11, .facetview .col-md-11, .facetview .col-lg-11, .facetview .col-xs-12, .facetview .col-sm-12, .facetview .col-md-12, .facetview .col-lg-12 {
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (max-width: 1279px) and (min-width: 768px) {
      .facetview .col-xs-1, .facetview .col-sm-1, .facetview .col-md-1, .facetview .col-lg-1, .facetview .col-xs-2, .facetview .col-sm-2, .facetview .col-md-2, .facetview .col-lg-2, .facetview .col-xs-3, .facetview .col-sm-3, .facetview .col-md-3, .facetview .col-lg-3, .facetview .col-xs-4, .facetview .col-sm-4, .facetview .col-md-4, .facetview .col-lg-4, .facetview .col-xs-5, .facetview .col-sm-5, .facetview .col-md-5, .facetview .col-lg-5, .facetview .col-xs-6, .facetview .col-sm-6, .facetview .col-md-6, .facetview .col-lg-6, .facetview .col-xs-7, .facetview .col-sm-7, .facetview .col-md-7, .facetview .col-lg-7, .facetview .col-xs-8, .facetview .col-sm-8, .facetview .col-md-8, .facetview .col-lg-8, .facetview .col-xs-9, .facetview .col-sm-9, .facetview .col-md-9, .facetview .col-lg-9, .facetview .col-xs-10, .facetview .col-sm-10, .facetview .col-md-10, .facetview .col-lg-10, .facetview .col-xs-11, .facetview .col-sm-11, .facetview .col-md-11, .facetview .col-lg-11, .facetview .col-xs-12, .facetview .col-sm-12, .facetview .col-md-12, .facetview .col-lg-12 {
        padding-left: 30px;
        padding-right: 30px; } }
    @media screen and (min-width: 1280px) {
      .facetview .col-xs-1, .facetview .col-sm-1, .facetview .col-md-1, .facetview .col-lg-1, .facetview .col-xs-2, .facetview .col-sm-2, .facetview .col-md-2, .facetview .col-lg-2, .facetview .col-xs-3, .facetview .col-sm-3, .facetview .col-md-3, .facetview .col-lg-3, .facetview .col-xs-4, .facetview .col-sm-4, .facetview .col-md-4, .facetview .col-lg-4, .facetview .col-xs-5, .facetview .col-sm-5, .facetview .col-md-5, .facetview .col-lg-5, .facetview .col-xs-6, .facetview .col-sm-6, .facetview .col-md-6, .facetview .col-lg-6, .facetview .col-xs-7, .facetview .col-sm-7, .facetview .col-md-7, .facetview .col-lg-7, .facetview .col-xs-8, .facetview .col-sm-8, .facetview .col-md-8, .facetview .col-lg-8, .facetview .col-xs-9, .facetview .col-sm-9, .facetview .col-md-9, .facetview .col-lg-9, .facetview .col-xs-10, .facetview .col-sm-10, .facetview .col-md-10, .facetview .col-lg-10, .facetview .col-xs-11, .facetview .col-sm-11, .facetview .col-md-11, .facetview .col-lg-11, .facetview .col-xs-12, .facetview .col-sm-12, .facetview .col-md-12, .facetview .col-lg-12 {
        padding-left: 40px;
        padding-right: 40px; } }
  @media (max-width: 768px) {
    .facetview .col-xs-3:nth-child(4n+1),
    .facetview .col-xs-4:nth-child(3n+1),
    .facetview .col-xs-6:nth-child(2n+1) {
      clear: both; } }
  @media (min-width: 769px) and (max-width: 991px) {
    .facetview .col-xs-3:nth-child(4n+1),
    .facetview .col-xs-4:nth-child(3n+1),
    .facetview .col-xs-6:nth-child(2n+1) {
      clear: none; }
    .facetview .col-sm-2:nth-child(6n+1),
    .facetview .col-sm-3:nth-child(4n+1),
    .facetview .col-sm-4:nth-child(3n+1),
    .facetview .col-sm-6:nth-child(2n+1) {
      clear: both; } }
  @media (min-width: 992px) {
    .facetview .col-sm-2:nth-child(6n+1),
    .facetview .col-sm-3:nth-child(4n+1),
    .facetview .col-sm-4:nth-child(3n+1),
    .facetview .col-sm-6:nth-child(2n+1) {
      clear: none; }
    .facetview .col-md-2:nth-child(6n+1),
    .facetview .col-md-3:nth-child(4n+1),
    .facetview .col-md-4:nth-child(3n+1),
    .facetview .col-md-6:nth-child(2n+1) {
      clear: both; } }
  @media (min-width: 1200px) {
    .facetview .col-md-2:nth-child(6n+1),
    .facetview .col-md-3:nth-child(4n+1),
    .facetview .col-md-4:nth-child(3n+1),
    .facetview .col-md-6:nth-child(2n+1) {
      clear: none; }
    .facetview .col-lg-2:nth-child(6n+1),
    .facetview .col-lg-3:nth-child(4n+1),
    .facetview .col-lg-4:nth-child(3n+1),
    .facetview .col-lg-6:nth-child(2n+1) {
      clear: both; } }
  .facetview .logo {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px; }
    .facetview .logo svg {
      height: 30px; }
    .facetview .logo path {
      fill: #282624; }
  .facetview .label {
    display: block;
    margin-top: 0;
    margin-bottom: 0.375rem;
    line-height: 1.15;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: smaller;
    color: #982E0A; }
    .facetview .label a {
      text-decoration: none;
      color: #982E0A; }
    .facetview .label svg {
      position: relative;
      padding-right: 0.1875rem;
      top: 2px; }
  .facetview .label--secondary {
    color: #282624; }
    .facetview .label--secondary a {
      color: #282624; }
  .facetview .label--tertiary {
    color: #5C5956;
    text-transform: none; }
  .facetview .label--underlined {
    margin-bottom: 1.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px dashed; }
  .facetview .label--large {
    margin: 0.1875rem 0 0.375rem 0;
    color: #282624;
    font-size: 1.266em; }
    .facetview .label--large a {
      color: #282624; }
  .facetview .pagination {
    text-align: center;
    color: rgba(40, 38, 36, 0.75);
    font-style: italic;
    font-size: .889em; }
    .facetview .pagination ul {
      display: flex;
      padding-left: 0;
      margin: 0 0 0.75rem 0;
      list-style: none; }
      .facetview .pagination ul li:nth-child(3) {
        flex: 0.5; }
      .facetview .pagination ul li:first-child, .facetview .pagination ul li:nth-child(2) {
        text-align: left;
        flex: 0.25; }
      .facetview .pagination ul li:last-child, .facetview .pagination ul li:nth-child(4) {
        text-align: right;
        flex: 0.25; }
    .facetview .pagination strong {
      color: #282624;
      font-style: normal; }
    .facetview .pagination a {
      text-decoration: none;
      color: #982E0A;
      font-style: normal;
      font-weight: 600; }
    .facetview .pagination .feather {
      position: relative;
      top: 0.1875rem; }
  .facetview .pagination ul {
    width: 100%; }
  .facetview .search-results {
    padding-left: 0;
    margin-left: 0;
    list-style: none; }
    @media (max-width: 768px) {
      .facetview .search-results {
        font-size: 18px; } }
  .facetview .search-results__record {
    display: block;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #F8F3EF;
    font-size: .889em; }
  @media (min-width: 769px) {
    .facetview .search-results__main {
      border-right: 1px dashed rgba(92, 89, 86, 0.25); } }
  .facetview .search-results__heading {
    margin: 0 0 0.75rem 0;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.45; }
    .facetview .search-results__heading svg {
      margin-left: 0.1875rem;
      vertical-align: middle; }
    .facetview .search-results__heading a {
      display: block; }
      .facetview .search-results__heading a:hover, .facetview .search-results__heading a:active, .facetview .search-results__heading a:focus {
        color: #FD5A3B; }
      @media (min-width: 769px) {
        .facetview .search-results__heading a {
          text-decoration: none; } }
  .facetview .search-results__subheading {
    color: rgba(40, 38, 36, 0.65);
    font-weight: 400; }
  .facetview .search-results__body {
    font-size: .889em; }
    .facetview .search-results__body h4 {
      margin: 0.75rem 0 0.375rem 0;
      font-size: 1em;
      font-weight: 600; }
      .facetview .search-results__body h4 .feather {
        height: 0.65em;
        width: auto; }
    .facetview .search-results__body ul {
      padding-left: 0;
      margin: 0 0 0.75rem 0;
      list-style: none; }
  .facetview .search-results__aside {
    border: 0;
    color: #5C5956; }
    .facetview .search-results__aside ul {
      padding-left: 0;
      margin: 0 0 0.75rem 0;
      list-style: none; }
    .facetview .search-results__aside a {
      color: #5C5956; }
    @media (max-width: 768px) {
      .facetview .search-results__aside {
        margin-top: 0.75rem; } }

/*# sourceMappingURL=fq_widget.css.map */
