/* Create square icons, white logo on colored background */
/* Based on http://opensourcehacker.com/2013/04/22/charming-social-media-icons-with-font-awesome-and-css3/
 * with the related code hosted at: https://github.com/miohtama/FontAwesome-and-Bootstrap-social-icons-example/ */

#social-bar {
    text-align: center;
}

#social-bar .fa {
    color: white;
    border-radius: 4px;
    border: 1px outset rgba(128, 128, 128, 0.5);
    min-width: 27px;
    line-height: 27px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.5);
}

#social-bar a {
    margin-right: 5px;
    padding: 5px; /* Increase hit rectangle for touch devices */
}

#social-bar a:first-child {
    padding-left: 0;
}

/* Set icon color related to the service */

#social-bar a span {
    margin-left: 5px;
}

#social-bar .fa-rss {
    background: #e5842f;
}

#social-bar .fa-facebook {
    background: #3B5998;
}

#social-bar .fa-twitter {
    background: #00ACED;
}

#social-bar .fa-linkedin {
    background: #1E88BD;
}

#social-bar .fa-google-plus {
    background: #E14107;
}

#social-bar .fa-slideshare {
    background: #0077b5;
}

/* Don't underline icon etc. */
#social-bar a:hover {
    text-decoration: none;
}

#social-bar a:hover span {
    text-decoration: underline;
    color: #333333; /* Match icon highlight color */
}

/* Animate mouse hover */
#social-bar a .fa {
   transition: background 0.5s;
}

#social-bar a:hover .fa {
    background: #333333;
    transition: background 0.5s;
}
