/**
* Project / tool / corpus detail page
*/

.detail {

  h2 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
  }

  a {
    color: #000;
    display: inline-block;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;

    &:after {
      content: '';
      display: block;
      width: 0%;
      height: 1px;
      width: 0%;
      border-bottom: 1px solid #000;
    }

    &:hover, &:active, &:focus {

      &:after {
        width: 100%;
        -webkit-transition: width 0.4s;
        -o-transition: width 0.4s;
        transition: width 0.4s;
      }

    }

  }

  dl {
    column-count: 2;

    dt {
      font-weight: 400;
      text-transform: uppercase;

      &:before {
        content: '→ ';
      }

    }

    dd {
      margin-bottom: 40px;
    }

  }

  dl {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
  }

  dt {
    flex: 0 0 50%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  dd {
    flex:0 0 50%;
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .detail-metadata {
    margin-top: 30px;
  }

  .detail-description {
    background-color: #FFA61B;
    padding-top: 125px;
    padding-bottom: 125px;

    p, li, blockquote {
      font-size: 24px;
      line-height: 1.45;
    }

  }

  .detail-graphs {
    margin-top: 100px;

    h3 {
      padding-top: 15px;
      border-top: 1px solid grey;
    }

    li {
      margin-bottom: 50px;
    }

  }

}
