/**
 * Footer
 */

footer {
  margin-top: 75px;
  padding-top: 20px;
  padding-bottom: 15vh;
  border-top: 1px solid grey;

  h2 {
    font-family: 'Merriweather', serif;
  }

  h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
  }

  a {
    color: #000;
    display: inline-block;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;

    &:after {
      content: '';
      display: block;
      width: 0%;
      height: 1px;
      width: 0%;
      border-bottom: 1px solid #000;
    }

    &:hover, &:active, &:focus {
      text-decoration: none;

      &:after {
        width: 100%;
        -webkit-transition: width 0.4s;
        -o-transition: width 0.4s;
        transition: width 0.4s;
      }

    }

  }

  .footer-contact {
    padding-bottom: 5vh;
  }

  .footer-request {
    font-size: 25px;
    margin-top: 10vh;
  }

}
