/**
 * Header
 */

header {

  h1 {
    font-weight: 700;
    letter-spacing: 0.05em;
  }

  .erudit-logo {
    background: #ff4949;
    display: block;
    height: 80px;
    width: 40px;
    padding-top: 35px;

    svg {
      display: block;
      margin: 0 auto;
    }

    path {
      fill: #fff;
    }

  }

}
