/**
 * Main page intro styles
 */

.intro {
  padding-top: 7.5vh;
  padding-bottom: 7.5vh;

  h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 0.025em;
    font-size: 24px;
  }

  p {
    font-size: 24px;
  }

  a {
    text-decoration: underline;
  }

}
