/**
 * Tools list & tool detail
 */

.outils {

  li {

    &:nth-child(1) a {
      background: #FF877E;
    }

    &:nth-child(2) a {
      background: #F4C2DB;
    }

    &:nth-child(3) a {
      background: #ECA39E;
    }

    &:nth-child(4) a {
      background: #FC94C7;
    }

    &:nth-child(5) a {
      background: #FF5C74;
    }

  }

}
