{#
~~ FlagAssigned:Email~~
~~-> Account:Model~~
#}

Dear {{ assignee }},

A new flag in "{{ journal_title }}" has been assigned to you.
{{ journal_url }}.

Regards

DOAJ Editorial Team

***
This is an automated message.
