{% if user and user.name %}Dear {{ user.name }},{% endif %}

{{ message }}

{% if action %}
{{ action_intro }} [{{ url_root }}{{ action }}]({{ url_root }}{{ action }})
{% endif %}


The DOAJ Team

***
This is an automated message. Please do not reply to this email.