{% extends "sidebar-page.html" %}

{% block content %}

<div dir="rtl">

<h2>اصول شفافيت و بهترين عملكرد در انتشارات علمي نسخه سوم</h2>

    {% include 'doaj/_bestpractice_nav.html' %}

<p><b>مقدمه</b></p>

<p>كميته اخلاق نشر (COPE)، فهرست راهنماي ژورنال هاي با دسترسي آزاد(DOAJ) ، سازمان ناشران علمي با دسترسي آزاد (OASPA) و سازمان جهاني سردبيران نشريات پزشكي (WAME) سازمان هاي علمي هستند كه با افزايش تعداد و تقاضاهاي عضويت از ژورنال هايي با كيفيت هاي متفاوت روبرو مي باشند.</br>
سازمان هاي ما با يكديگر همكاري كرده اند تا اصول شفافيت و بهترين عملكرد جهت انتشارات علمي را مشخص نموده و تصريح نمايند كه اين اصول بعنوان جزئي از شرايط بررسي تقاضاهاي عضويت در اين نهادها در نظر گرفته خواهند شد.</br>
اين اصول عمدتاً از اصول تعيين شده توسط فهرست راهنماي ژورنال هاي با دسترسي آزاد اقتباس شده اند. توجه به اين نكته ضروري است كه شرايط ديگري جهت عضويت در هر كدام از اين سازمان ها نيز ممكن است در نظر گرفته شود. اين نهادها اطلاعاتي در مورد تقاضاهاي عضويت را با يكديگر به اشتراك نخواهند گذاشت. ما قصد ايجاد يا انتشار ليستي از نشريات يا ناشراني كه نتوانسته اند شرايط شفافيت و بهترين عملكرد مذبور را احراز نمايند، نداريم.
</p>

<p>اين نسخه سومين ويرايش از يك سند در حال پيشرفت و ادامه است (منتشر شده در 15 ژانويه 2018)؛ اولين نسخه در ژانويه 2014 منتشر شده است. ما توصيه به اشاعه هرچه بيشتر اين اصول داريم و پذيراي هرگونه بازخورد در مورد اصول كلي و اختصاصي اين سند هستيم. سابقه سازمان ها در ذيل ذكر شده است.</p>

<p>&nbsp;</p>
<p><b>اصول شفافيت:</b></p>
<p>
	<ol>
		<li><b>وب سايت</b></br>
		: وب سايت يك ژورنال، از جمله مطالب موجود در وب سايت بايستي اذعان كننده اين مطلب باشند كه استانداردهاي حرفه اي و اخلاقي در بيشترين حد اجرا خواهند شد. مطالب نبايستي شامل اطلاعاتي باشد كه منجر به گمراهي خوانندگان يا نويسندگان گردد، از جمله هر تلاشي جهت تقليد از وب سايت يك ژورنال يا ناشر ديگر. گروه هدف خوانندگان مجله بايستي كاملاً تعريف شده باشد و يك قسمت "اهداف و چشم انداز" بايستي در وب سايت وجود داشته باشد. قسمتي ديگر بايستي حاوي اطلاعاتي باشد كه نشان دهد ژورنال چه عواملي را براي چاپ در نظر مي گيرد، از جمله مثلاً شرايط مؤلف بودن را در نظر مي گيرد يا مثلاً انتشار تكراري مقالات يا ثبت چندگانه يك مقاله در ژورنال هاي گوناگون را نمي پذيرد. ISSN مجله بايستي واضحاً نمايش داده شده باشد (براي نسخه هاي الكترونيكي و چاپي ISSN جداگانه بايستي وجود داشته باشد).</li>

		<li><b>نام ژورنال</b></br>
		نام ژورنال بايستي منحصر به فرد بوده و نبايستي براحتي با نام ژورنال ديگري اشتباه گردد، به گونه اي كه نويسندگان يا خوانندگان بالقوه را در مورد اصالت ژورنال يا ارتباط با ساير ژورنال ها گمراه نمايند.</li>
		
		<li><b>پروسه داوري همتا</b></br>
		مطالب ژورنال بايستي واضحاً مشخص باشد كه مورد داوري همتا قرار مي گيرند يا خير. داوري همتا به معناي بررسي مقالات ژورنال توسط متخصصيني از حيطه تخصصي مربوطه است كه جزء كاركنان ژورنال مذبور نمي باشند. اين مسئله به همراه سياست هاي ژورنال در مورد داوري همتا (از جمله روش داوري همتا مورد استفاده) بايستي واضحاً در وب سايت مجله نيز درج شده باشد.
وب سايت ژورنال نبايستي تضميني در مورد قبولي مقاله يا داوري همتاي سريع بدهد.</li>

		<li><b>مالكيت و مديريت</b></br>
		اطلاعات كافي در مورد مالكيت و نحوه مديريت ژورنال بايستي بطور شفاف برروي وب سايت ژورنال در دسترس باشد. ناشران نبايستي از اسامي ژورنال ها يا نام هاي سازماني استفاده كنند كه باعث گمراه شدن خوانندگان و نويسندگان بالقوه در مورد ماهيت مالكيت ژورنال شود.</li>
		
		<li><b>ارگان هدايت كننده</b></br>
		ژورنال ها بايستي داراي هيئت هاي تحريريه يا ارگان هاي هدايت كننده اي باشند كه اعضاي آن متخصصين شناخته شده در حيطه كار مجله كه در چشم انداز مجله ذكر شده است، باشند. نام كامل و وابستگي سازماني اعضاي هيئت تحريريه يا ارگان هدايت كننده بايستي در وب سايت مجله ذكر شده باشد.</li>
		
		<li><b>تيم دبيران/ اطلاعات تماس</b></br>
		ژورنال ها بايستي اطلاعات در مورد نام كامل و وابستگي سازماني دبيران ژورنال و همچنين اطلاعات تماس دفتر ژورنال شامل آدرس كامل را در وب سايت مجله ذكر كنند.</li>

		<li><b>حقوق معنوي و مجوزها</b></br>
		سياست مجله در مورد حقوق معنوي بايستي بصورت شفاف در راهنماي نويسندگان قيد شده باشد و نام دارنده حقوق معنوي بايستي در مورد تمام مقالات ذكر گردد. به همين منوال اطلاعات در مورد مجوزهاي گوناگون بايستي بصورت شفاف در راهنماهاي  مربوطه در وب سايت ذكر شود و اصطلاحات مربوط به مجوزها بايستي در كليه مقالات چاپ شده اعم از نسخ PDF و HTML ذكر گردد. اگر نويسندگان مجاز هستند كه تحت مجوز creative commons اقدام به چاپ مقاله نمايند، هر نوع نياز ويژه مجوز بايستي ذكر گردد. هرگونه سياستي در مورد قرارگيري نسخه نهايي پذيرفته شده مقاله و يا مقاله چاپ شده بر روي مخازن شخص ثالث بايستي واضحاً بيان گردد.</li>
		
		<li><b>هزينه هاي مربوط به نويسندگان</b></br>
		هرگونه هزينه جهت بررسي مقالات يا چاپ مقالات بايستي در قسمتي از وب سايت قرار گيرد كه نويسندگان بالقوه بتوانند به سادگي قبل از ثبت مقاله خود در ژورنال آن را رؤيت نمايند و يا بايستي جهت نويسندگان قبل از شروع مراحل ثبت مقالات توضيح داده شود. اگر چنين هزينه هايي نبايستي پرداخت گردند، سياست مربوط به آن نيز بايستي بصورت شفاف بيان گردد.</li>
		
		<li><b>روند كشف و برخورد با موارد احتمالي تخلفات پژوهشي</b></br>
		ناشران و سردبيران بايستي اقدامات لازم جهت كشف و پيشگيري از انتشار مقالاتي كه داراي تخلفات پژوهشي هستند (ازجمله جعل داده ها، دستكاري در ارجاعات، سرقت ادبي) را در نظر بگيرند. در هيچ شرايطي ژورنال و سردبيران آن نبايستي چنين موارد غيراخلاقي را تشويق نمايند و يا با علم و آگاهي اجازه وقوع به آن ها را بدهند. در مواردي كه يك ناشر يا سردبير يك ژورنال از هرگونه تخلف پژوهشي در مورد مقالات چاپ شده در ژورنال مطلع گردند، بايستي فلوچارت هاي  COPE (يا موارد مشابه آن) در برخورد با آن ادعاهاي تخلف مدنظر قرار گيرند.</li>

		<li><b>اخلاق نشر</b></br>
		يك ژورنال همچنين بايستي سياست هاي مشخصي در مورد اخلاق نشر داشته باشد. اين سياست ها بايستي واضحاً برروي وب سايت ژورنال قابل رؤيت باشند و به موارد ذيل ارجاع داده شوند:
i)	سياست هاي ژورنال در مورد تأليف مقاله و اصول همكاري نويسندگان؛
ii)	چگونه ژورنال شكايات و درخواست هاي تجديدنظر را بررسي مي كند؛.
iii)	سياست هاي ژورنال در مورد تضاد منافع؛
iv)	سياست هاي ژورنال در مورد به اشتراك گذاري داده ها و تكرارپذيري آن ها؛
v)	سياست ژورنال در مورد نظارت اخلاقي؛
vi)	سياست ژورنال در مورد مالكيت معنوي 
vii)	گزينه هاي ژورنال در مورد تصحيحات و بحث هاي بعد از چاپ مقالات.
</li>
		
		<li><b>برنامه زماني انتشار</b></br>
		تواتر انتشار ژورنال بايستي بطور واضح مشخص شده باشد.</li>
		
		<li><b>دسترسي</b></br>
		روش هايي كه ژورنال و مقالات آن در دسترس خوانندگان قرار مي گيرند و اينكه اين دسترسي از طريق پرداخت حق عضويت يا پرداخت هاي موردي جهت دريافت مقالات مي باشند، بايستي ذكر شده باشند.</li>
		
		<li><b>بايگاني</b></br>
		رنامه ژورنال جهت تهيه پشتيبان الكترونيكي و حفظ دسترسي به محتواي ژورنال در صورتي كه انتشار ژورنال متوقف گردد، بايستي بطور واضح بيان گردند. (مثلاً دسترسي به مقالات اصلي از طريق  PubMed centralيا CLOCKSS).</li>
		
		<li><b>منابع كسب درآمد</b></br>
		منابع كسب درآمد يا روش هاي بازرگاني ژورنال (مانند هزينه هاي پرداختي توسط نويسندگان، حق عضويت، آگهي ها، حمايت هاي مالي از طرف مؤسسات يا نهادهاي مختلف) بايستي بصورت واضح عنوان شود يا در وب سايت ژورنال قابل مشاهده باشد. دريافت هزينه چاپ جهت مقالات و ارائه تخفيف در اين موارد نبايستي بر تصميم هاي هيئت تحريريه مؤثر باشد.</li>
		
		<li><b>آگهي</b></br>
		سياست ژورنال در مورد قبول آگهي و اينكه چه نوع آگهي هايي پذيرفته مي شود و چه كسي در مورد پذيرش آن ها تصميم گيري مي كند و اينكه آيا آن آگهي ها به محتواي ژورنال يا رفتار خوانندگان ارتباطي دارند (فقط در مورد آگهي هاي برخط) يا بصورت تصادفي نمايش داده مي شوند، بايستي بطور واضح مشخص باشد. پذيرش آگهي به هيچ عنوان نبايستي با پذيرش مقالات ارتباطي داشته باشد و بايستي از مقالات منتشر شده كاملاً مستقل باشند.</li>
		
		<li><b>بازاريابي مستقيم</b></br>
		هرگونه فعاليت بازاريابي مستقيم از جمله درخواست مقالاتي كه به نيابت از طرف ژورنال انجام      مي گيرند بايستي مناسب و كاملاً هدفمند باشند و بيش از حد جلب توجه نكنند. اطلاعات در مورد ژورنال يا ناشر بايستي واقعي باشد و خوانندگان يا نويسندگان را گمراه نكنند.</li>
		</p>
		
<p>در صورتي كه عضوي از هر كدام از سازمان هاي نامبرده اين اصول عملكرد بهينه يا ساير نيازمندي هاي اختصاصي سازمان را نقض كند،OASPA/DOAJ/COPE/WAME در وحله اول تلاش مي كنند تا با همكاري آن عضو موارد مورد نظر را رفع نمايد. در صورتي كه عضو مذكور نخواهد يا نتواند كه موارد را رفع نمايد، عضويتش در سازمان مريوطه معلق شده يا خاتمه داده خواهد شد. تمامي سازمان هاي مذكور جهت مقابله با موارد احتمالي از طرف ژورنال هاي عضو داراي روش هاي خاص خود هستند.</p>

<p> روش هایی برای حل دغدغه های مرتبط با اعضای خود دارند.OASPA/DOAJ/COPE/WAME </p>

<p><i>نسخه فارسی: منتشر شده در تاریخ ۸ نوامبر ۲۰۱۸ <br>
آخرین نسخه انگلیسی: منتشر شده در تاریخ ۱۵ ژانویه ۲۰۱۸ <br>
نسخه دوم منتشر شده در: 22 ژانويه 2015<br>
اولين نسخه منتشر شده در: 10 ژانويه 2014</i></p>

<p>&nbsp;</p>
<p><i>در مورد كميته اخلاق نشر (COPE, https://publicationethics.org)</i></p>
<p>COPE به سردبيران و ناشران در مورد تمام جنبه هاي اخلاق نشر بخصوص چگونگي برخورد با موارد تخلفات اخلاقي در پژوهش و نشر راهنمايي ارائه مي كند.  COPE همچنين يك فروم جهت بحث در مورد موارد ويژه اخلاقي جهت اعضاي خود فراهم نموده است.  COPE  وظيفه تحقيق و وارسي موارد اخلاقي را ندارد، بلكه سردبيران را تشويق مي كند تا با كمك مسئولين مربوطه (معمولاً مركز تحقيقاتي يا كارفرما) موارد مطروح را بررسي نمايند. از كليه اعضاي  COPE انتظار مي رود كه اصول اخلاق نشر را كه در شيوه هاي بنيادين (Core Practices) متبلور شده است، رعايت نمايند.</p>

<p><i>درباره فهرست راهنماي ژورنال هاي با دسترسي آزاد (DOAJ, https://doaj.org)</i></p>
<p>مأموريت DOAJ عبارت است از: ايجاد و گسترش يك منبع قابل اعتماد از اطلاعات در مورد ژورنال هاي علمي با دسترسي آزاد و برروي وب؛ كسب اطمينان از اينكه ژورنال هايي كه وارد فهرست مي شوند، استانداردهاي منطقي را دارا مي باشند؛ افزايش مشاهده پذيري، توزيع، قابل حصول بودن و جاذبه ژورنال هاي با دسترسي آزاد؛ به منظور توانمندسازي پژوهشگران، كتابخانه ها، دانشگاه ها، سرمايه گذاران مالي پژوهش ها و ساير ذي نفعان در كسب منافع از اطلاعات و خدمات ارائه شده؛ و تسهيل انضمام ژورنال هاي با دسترسي آزاد در كتابخانه ها و سرويس هاي خدماتي جمع كننده اطلاعات؛ و در صورت امكان كمك به ناشران و ژورنال هاي آن ها در كسب استانداردهاي منطقي انتشار ديجيتال؛ و لذا حمايت از گذار سيستم ارتباطات علمي و نشر بسوي روشي كه منجر به خدمت رساني به علم، آموزش عالي، صنعت، نوآوري، جوامع و نهايتاً مردم گردد. از اين طريق DOAJ با كليه طرف هاي علاقمند همكاري خواهد كرد تا به اهداف ذكر شده نائل گردد.</p>

<p><i>در مورد سازمان ناشران علمي با دسترسي آزاد (OASPA, https://oaspa.org)</i></p>
<p>OASPA يك سازمان تجاري است كه در سال 2008 به منظور نمايندگی جهاني علائق ناشران با دسترسي آزاد در تمام حيطه هاي علمي و فني تأسيس شد. هدف اين سازمان از طريق تبادل اطلاعات، تعيين استانداردها، ارتقاء روش ها، حمايت، آموزش، ارتقا و پيشبرد نوآوري محقق خواهد شد.</p>

<p><i> در مورد سازمان جهاني سردبيران پزشكي (WAME, https://wame.org)</i></p>
<p>WAME  يك سازمان جهاني غيرانتفاعي داوطلبانه از سردبيران ژورنال هاي پزشكي داراي همتراز داوري است كه بدنبال ارتقا همكاري و ارتباط ميان سردبيران، ارتقاء استانداردهاي ژورناليستي، پيشبرد حرفه اي گري در نشر پزشكي از طريق آموزش، خود انتقادي و خودتنظيمي و همچنين تشويق به پژوهش بر روي اصول و عملكرد نشر پزشكي است. WAME سياست ها و پيشنهادهاي عملكرد بهينه جهت سردبيران نشريات پزشكي را تبيين مي كند و داراي يك سرفصل جهت سردبيران مي باشند كه اعضاي خود را تشويق به پيروي از آن مي كند.</p>

<p>ترجمه شده توسط دکتر بهروز آستانه</p>
</div>
{% endblock %}
