{% extends "sidebar-page.html" %}

{% block content %}


<h2>Принципы прозрачности и лучшие практики научной редакционно-издательской деятельности</h2>

    {% include 'doaj/_bestpractice_nav.html' %}

<p><b>Введение</b></p>

<p><a href="https://publicationethics.org/">Комитет по этике публикаций (COPE) </a>, Директория журналов открытого доступа (DOAJ), <a href="https://oaspa.org/">Ассоциация издателей открытого доступа (OASPA)</a>и 
<a href="http://www.wame.org">Всемирная ассоциация медицинских редакторов (WAME)</a> это активно развивающиеся и бурно растущие научные сообщества. В сотрудничестве ими были сформулированы принципы прозрачности и определены лучшие практики редакционно-издательской деятельности, которым должна соответствовать деятельность любых организаций, подающих заявки на членство в COPE, DOAJ и OASPA, а также частично в WAME. Каждая организация также имеет дополнительные критерии, которые используются при оценке заявок на членство. Списки издателей и журналов, чьи практики не соответствуют описанным принципам, не оглашаются. 
</p>

<p>Данный текст – третья версия документа, опубликованная в январе 2018 года. Первая версия была размещена OASPA в декабре 2013 года, а вторая – в июне 2015. Мы поддерживаем широкое распространение данного документа и приветствуем отзывы об общих принципах и отдельных критериях. Сведения об организациях приводятся далее.
</p>

<p>&nbsp;</p>
<p><b>Принципы прозрачности</b></p>
<p>
	<ol>
		<li><b>Вебсайт</b></br>
		Вебсайт журнала, включая размещенный на нем текст, должен демонстрировать, что издателем были приняты меры для обеспечения высоких этических и профессиональных стандартов редакционно-издательской деятельности. На сайте не должно содержаться информации, которая может ввести в заблуждение читателей или авторов. Вебсайт не должен копировать сайты других журналов / издателей.
Вебсайт должен содержать раздел «Цели и задачи», где определяется читательская аудитория, сообщается о тематике публикуемого контента и требованиях к авторам (информация о недопустимости множественных и дублирующих публикаций и т.д.). Номера ISSN для печатных и электронных версий должны быть четко отображены.</li>

		<li><b>Название журнала</b></br>
		Название журнала должно быть уникальным, не совпадать с названиями других журналов и не вводить в заблуждение потенциальных авторов и читателей о его происхождении или связи с другими журналами.</li>
		
		<li><b>Процесс рецензирования</b></br>
		JНа вебсайте должна содержаться информация о том, проходят ли поступающие рукописи процедуру рецензирования. Рецензирование – это процесс получения рекомендаций в отношении отдельных рукописей от эксперта в данной предметной области, не являющегося членом редакционной коллегии журнала.  Все сведения о типе и ходе процедуры рецензирования, а также политике ее осуществления должны быть четко представлены на сайте. Не допускается гарантирование журналом публикации рукописей, а также их рецензирование в очень короткие сроки.</li>

		<li><b>Права собственности и руководство</b></br>
		Информация о праве собственности и / или управлении журналом должна быть представлена на вебсайте журнала. Издатели не должны использовать такие названия, которые могут ввести в заблуждение потенциальных авторов и редакторов о владельце журнала.</li>
		
		<li><b>Управление деятельностью</b></br>
		Журналы должны иметь редакционные коллегии или другие руководящие органы, членами которых являются признанные эксперты в предметных областях, включенных в сферу деятельности журнала. Полные имена и аффилиации членов редакционной коллегии журнала или другого руководящего органа должны быть представлены на вебсайте журнала.</li>
		
		<li><b>Редакционная коллегия / контактная информация</b></br>
		Журналы должны предоставлять полные имена и аффилиации редакторов журнала на вебсайте, а также контактные данные редакции, включая полный адрес.</li>

		<li><b>Авторское право и лицензирование</b></br>
		TПолитика в отношении авторского права должна быть отражена в «Информации для авторов». В каждой рукописи должны содержаться сведения, кому принадлежат на нее авторские права. Аналогичным образом, информация о типе лицензии, используемой журналом, должна быть четко описана на вебсайте, а условия лицензирования должны быть указаны во всех опубликованных статьях как в HTML, так и в PDF форматах. Если авторам разрешено публиковать их работы в соответствии с лицензией Creative Commons, то должны быть указаны требования конкретной лицензии. Также необходимо описать любые детали в отношении политики публикации препринтов или размещения опубликованных статей в репозиториях третьих сторон.</li>
		
		<li><b>Плата, взимаемая с автора</b></br>
		В том случае, если журналом взимается плата с авторов за подготовку рукописи к публикации/ публикацию, информация об этом должна четко представляться на вебсайте так, чтобы авторы смогли бы ее легко обнаружить еще до подачи рукописей на рассмотрение. Если такие сборы не взимаются, это также должно быть указано.</li>
		
		<li><b>Процесс выявления и предотвращения случаев нарушения этики научной деятельности и научных публикаций</b></br>
		Издатели и редакторы должны предпринять разумные шаги для выявления и предотвращения публикации документов, в которых имело место нарушение этики научной деятельности и научных публикаций, включая плагиат, манипулирование цитированием, фальсификацию и фабрикацию данных и др. Ни в коем случае ни журнал, ни его редакторы не должны поощрять неправомерное поведение или сознательно допускать саму его возможность. В случае, если издателю или редакторам становится известно о нарушении этики научных публикаций в их журнале, издатель или редактор должны следовать рекомендациям 
		<a href="https://publicationethics.org/resources/guidelines">COPE</a> или аналогичным документам.</li>

		<li><b>Публикационная этика</b></br>
		Журнал должен содержать раздел, описывающий его политику в области публикационной этики. Данная информация должна легко обнаруживаться и включать следующие пункты в отношении: а) вопросов авторства, вклада каждого автора в исследование/публикацию и прочего контрибуторства; б) процедуры обращения с поступающими жалобами; в) конфликта интересов; г) повторного использования и воспроизводства данных; д) этического надзора; е) интеллектуальной собственности; и ж) разворачивания пост-публикационных дискуссий и внесения изменений в опубликованный контент.</li>
		
		<li><b>Периодичность выпусков </b></br>
		Периодичность выпусков журнала должна быть четко обозначена.</li>
		
		<li><b>Тип доступа</b></br>
		На вебсайте журнала должна быть представлена информация о том, каким образом читатель получает доступ к отдельным статьям и связан ли он с подпиской или платой за просмотр.</li>
		
		<li><b>Архивирование</b></br>
		Должна быть описана политика журнала в отношении электронного резервного копирования и гарантирования доступа к контенту журнала (например, доступ к основным статьям через CLOCKSS или PubMedCentral) в случае, если журнал больше не публикуется.</li>
		
		<li><b>Бизнес-модель деятельности</b></br>
		Бизнес-модель деятельности или источники дохода журнала (например, плата авторов за подготовку рукописи к публикации, подписка, реклама, репринты, институциональная поддержка) должны быть четко описаны на веб-сайте журнала. Взимание платы с авторов или политика в отношении особых случаев (waiver status) не должны влиять на принятие редакционных решений.</li>
		
		<li><b>Реклама</b></br>
		Если журнал использует рекламу, политика в отношении нее должна быть четко прописана, в том числе, какие типы рекламных объявлений размещаются, кто принимает решения относительно их принятия, связаны ли они с контентом и поведением читателя или отображаются случайным образом. Рекламный контент не должен оказывать влияние на принятие решений редколлегии и должен размещаться отдельно от научного контента.</li>
		
		<li><b>Прямой маркетинг</b></br>
		Любые прямые маркетинговые мероприятия, в том числе публикация статей, подготовленных по просьбе журнала, должны быть уместными, целенаправленными и ненавязчивыми. Любая информация об издателе или журнале должна быть правдивой и не должна вводить в заблуждение ни читателей, ни авторов. </li>
		</p>
		
<p>IВ случае, если организация-член данных научных сообществ нарушила описанные лучшие практики или специфические требования научного сообщества, OASPA / DOAJ / COPE / WAME сначала пытаются решить возникшие проблемы в индивидуальном порядке. В случае, если организация-член не может или не желает решать эти проблемы, ее членство в научном сообществе может быть приостановлено или прекращено. Во всех научных сообществах действует установленный порядок решения возникающих проблем.</p>



<p><i>Первая версия опубликована в DOAJ 10 января 2014 года</br>
Вторая версия опубликована в DOAJ в июне 2015 г.</br>
Данная версия документа опубликована в DOAJ 15 января 2018 года</i></p>

<p>&nbsp;</p>
<p><i>Комитет по этике публикаций (COPE, <a href="https://publicationethics.org">
https://publicationethics.org</a>)</i></p>
<p>COPE предоставляет консультации редакторам и издателям по всем аспектам этики публикаций и, в частности, как действовать в ситуациях, связанными с нарушением исследовательской и публикационной этики. Комитет также предоставляет форум своим членам для обсуждения индивидуальных случаев. COPE сам не занимается расследованием конкретных случаев недобросовестных практик, но рекомендует редакторам обращаться в соответствующие органы (обычно это исследовательское учреждение или работодатель). Все члены COPE должны работать в соответствии с принципами публикационной этики COPE, изложенными в 
<a href="https://publicationethics.org/core-practices">core practices</a>.</p>

<p><i>Директория журналов открытого доступа (DOAJ, <a href="https://doaj.org">https://doaj.org</a>)</i></p>
<p>Миссия DOAJ заключается в том, чтобы курировать, поддерживать, развивать и являться источником надежной информации о научных журналах открытого доступа в Интернете; гарантировать соответствие практик журналов, включенных в перечень, лучшим стандартам научной деятельности; повышать видимость, распространение и привлекательность журналов открытого доступа; предоставлять ученым, библиотекам, университетам, научно-исследовательским фондам и другим заинтересованным сторонам возможность пользоваться предоставленной информацией и услугами; облегчать интеграцию журналов открытого доступа с сервисами библиотек и агрегаторов; по возможности оказывать помощь издателям и их журналам в повышении стандартов их деятельности. Таким образом DOAJ способствует развитию системы научных коммуникаций для прогресса науки, образования, промышленности, инноваций, общества и всех людей. DOAJ сотрудничает со всеми заинтересованными сторонами, работающими над достижением этих целей.</p>

<p><i>Ассоциация издателей открытого доступа (OASPA, <a href="https://oaspa.org">https://oaspa.org</a>)</i></p>
<p>OASPA является профессиональной ассоциацией, созданной в 2008 году, чтобы представлять интересы издателей научной литературы любой тематической направленности, работающих по модели открытого доступа (Open Access, OA). Поощряя сотрудничество в разработке соответствующих бизнес-моделей, инструментов и стандартов для поддержки публикации ОА, OASPA стремится внести вклад в процветающее и устойчивое будущее на благо своих членов и научных сообществ, которым они служат. Эта миссия осуществляется путем обмена информацией, установления стандартов, продвижения моделей, пропаганды, образования и внедрения инноваций.</p>

<p><i>Всемирная ассоциация медицинских редакторов (WAME, <a href="http://www.wame.org">http://www.wame.org</a>)</i></p>
<p>WAME является глобальной некоммерческой добровольной ассоциацией редакторов рецензируемых медицинских журналов, которые стремятся развивать сотрудничество и общение между редакторами; улучшать редакционные стандарты; продвигать профессионализм в области медицинского редактирования посредством образования, самокритики и саморегуляции; и поощрять исследования в области принципов и практики медицинского редактирования. WAME разрабатывает рекомендации по совершенствованию политики редакционно-издательской деятельности и внедрению лучших практик для редакторов медицинских журналов.</p>

{% endblock %}
