---
# Main Sass file requires front matter
---

@charset "utf-8";

// Import partials
@import
  "vendors/normalize",
  "vendors/bootstrap",

  "base/palette",
  "base/spacing",
  "base/typescale",
  "base/fonts",
  "base/general",
  "base/grid",
  "base/utils",
  "base/logo",
  "base/highlight",

  "layout/editorial-panel",
  "layout/nav-bar",
  "layout/page-header",
  "layout/page-content",
  "layout/page-footer",
  "layout/page-nav",
  "layout/primary-nav",
  "layout/secondary-nav",
  "layout/sidenav",

  "components/alert",
  "components/back-to-top",
  "components/buttons",
  "components/card",
  "components/contribution-tables",
  "components/cookie-consent",
  "components/dropdown",
  "components/filters",
  "components/form",
  "components/hero",
  "components/input-group",
  "components/label",
  "components/loading",
  "components/modal",
  "components/numbered-table",
  "components/pager-buttons",
  "components/pagination",
  "components/portrait",
  "components/repeatable-fields",
  "components/review-table",
  "components/select2",
  "components/search-results",
  "components/stat",
  "components/stretch-list",
  "components/tabs",
  "components/tabular-list",
  "components/tag",
  "components/title-list",

  "pages/apply",
  "pages/article-details",
  "pages/error-page",
  "pages/homepage",
  "pages/journal-details",
  "pages/search",
  "pages/sponsors"
;
