/*
Error: Invalid CSS after "@charset "utf-8"": expected "{", was ";"
        on line 5 of main.scss

1: ---
2: # Main Sass file requires front matter
3: ---
4: 
5: @charset "utf-8";
6: 
7: // Import partials
8: @import
9:   "vendors/normalize",
10:   "vendors/bootstrap",

Backtrace:
main.scss:5
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1308:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1238:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1233:in `tok!'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:688:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:681:in `ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:707:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:697:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:137:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:414:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:307:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:383:in `run'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:50:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:18:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@charset \"utf-8\"\": expected \"{\", was \";\"\A         on line 5 of main.scss\A \A 1: ---\A 2: # Main Sass file requires front matter\A 3: ---\A 4: \A 5: @charset \"utf-8\";\A 6: \A 7: // Import partials\A 8: @import\A 9:   \"vendors/normalize\",\A 10:   \"vendors/bootstrap\","; }
