{% extends "base.html" %}

{% block content %}

<h2>Zasady przejrzystości i najlepsze praktyki publikowania naukowego</h2>

    {% include 'doaj/_bestpractice_nav.html' %}

<p><b>Wstęp</b></p>

<p>The <a href="https://publicationethics.org/">Committee on Publication Ethics</a>, the Directory of Open Access 
Journals, the <a href="https://oaspa.org/">Open Access Scholarly Publishers Association</a> and the 
<a href="http://www.wame.org">World Association of Medical Editors</a> są naukowymi organizacjami, które odnotowały wzrost liczby oraz szeroki zakres jakościowy napływających do nich aplikacji członkowskich. Wspomniane organizacje podjęły współpracę na rzecz ustalenia zasad przejrzystości i najlepszych praktyk publikowania naukowego oraz wyjaśnienia, że zasady te stanowią podstawowe kryteria oceny do bycia członkiem COPE, DOAJ i OASPA oraz część kryteriów ewaluacji członkostwa przez WAME. Każda z organizacji ma również własne, dodatkowe kryteria, których używa do oceny zgłoszeń. Organizacje nie będą udostępniać list wydawców i czasopism dla wskazania, które z nich nie spełniły kryteriów przejrzystości i dobrych praktyk.</p>

<p>Niniejsza wersja jest trzecią wersją roboczą (opublikowaną w styczniu 2018 r.). Pierwsza wersja została udostępniona przez OASPA w grudniu 2013 r., a zaś druga wersja w czerwcu 2015 r. Zachęcamy do jej szerokiego rozpowszechniania i nadal oczekujemy na informacje zwrotne na temat uwzględnionych w niej ogólnych zasad i szczegółowych kryteriów. Podstawowe informacje o organizacjach – sygnatariuszach zasad znajdują się u dołu strony.</p>

<p>Infografiki przedstawiające te zasady zostały zatwierdzone przez COPE i są dostępne do pobrania:  
	[<a href="https://drive.google.com/file/d/1zEPR9njly8x2Hq9fts6XdqZGcgi9Mdue/view?usp=sharing">wersja pozioma A4</a>]  
	[<a href="https://drive.google.com/file/d/1xYk1IsMwh_CU8YC7h_FgzF26p7yt69lB/view?usp=sharing">plakat pionowy </a>]</p>

<p>&nbsp;</p>
<p><b>Zasady przejrzystości</b></p>
<p>
	<ol>
		<li><b>Witryna internetowa</b></br>
		Witryna czasopisma, włączając w to jej warstwę tekstową, musi wskazywać na podjęte starania dla zapewnienia wysokich standardów etycznych i profesjonalizmu. Nie może zawierać informacji wprowadzających czytelników lub autorów w błąd, w tym wszelkich prób naśladowania witryny innego czasopisma/wydawcy. Witryna powinna zawierać  informacje o celach i zakresie czasopisma (Aims & Scope), a jego odbiorcy powinni zostać jasno zdefiniowani. Na witrynie powinna się też znaleźć informacja jakie treści czasopismo przewiduje publikować, w tym również wymagania dotyczące autorstwa (np. nieuwzględnianie wielokrotnych zgłoszeń, powtórzonych publikacji). Numery ISSN powinny być wyraźnie uwidocznione (odrębny dla wersji drukowanej i elektronicznej).</li>

		<li><b>Tytuł czasopisma</b></br>
		Tytuł czasopisma powinien być niepowtarzalny, tak żeby nie można było go łatwo pomylić z innym czasopismem – mogłoby to wprowadzać w błąd autorów i czytelników co do pochodzenia czasopisma lub związków z innymi czasopismami.
</li>
		
		<li><b>Proces recenzji</b></br>
		Treści czasopisma muszą być jasno oznaczone jako recenzowane lub nierecenzowane. Za recenzję koleżeńską uważa się uzyskanie, na temat poszczególnych rękopisów, opinii i wskazówek od recenzentów będących ekspertami dziedzinowymi, niebędących członkami redakcji. Proces ten, jak również wszelkie zasady związane z procedurami recenzowania czasopisma, powinny być jasno opisane na jego witrynie internetowej, włączając w to wybraną metodę oceny koleżeńskiej. Na witrynie nie powinno zamieszczać się zapewnienia o gwarantowanej akceptacji rękopisu lub bardzo krótkim czasie procesu recenzji.</li>

		<li><b>Właściciel i zarządzanie czasopismem</b></br>
		Informację na temat kto jest właścicielem i/lub zarządzającym czasopismem powinny zostać umieszczone na witrynie internetowej periodyku. Wydawcy nie mogą używać nazw organizacji czy tytułów czasopism, które wprowadzałyby potencjalnych autorów i redaktorów w błąd co do charakteru właściciela czasopisma.</li>
		
		<li><b>Organ zarządzający</b></br>
		Czasopismo musi posiadać radę redakcyjną albo inny organ zarządzający, którego członkowie są uznanymi ekspertami w dziedzinach zgodnych z zakresem tematycznym czasopisma. Pełne nazwiska i przynależność do rady redakcyjnej czasopisma lub innego organu zarządzającego należy podać na witrynie internetowej czasopisma.</li>
		
		<li><b>Redakcja i informacje kontaktowe</b></br>
		Czasopismo winno podawać pełne nazwiska i afiliacje członków redakcji na stronie internetowej, podobnie jak informacje o siedzibie redakcji, zawierające jej pełne dane adresowe</li>

		<li><b>Prawo autorskie i licencjonowanie</b></br>
		Zasady dotyczące prawa autorskiego muszą być jasno sprecyzowane we wskazówkach dla autorów a właściciel praw autorskich powinien być jasno wskazany w każdym artykule. Podobnie należy postąpić z informacjami o licencjonowaniu – powinny być jasno opisane w wytycznych dla autorów i umieszczone we wszystkich artykułach, zarówno w formacie HTML, jak i PDF. Jeśli czasopismo zezwala na publikowanie na licencjach Creative Commons należy wyszczególnić wszystkie zastosowane warunki licencyjne. Wszelkie zasady dotyczące publikowania wersji niepublikowanych lub ostatecznie opublikowanego artykułu w repozytoriach zewnętrznych powinny być jasno wskazane.
</li>
		
		<li><b>Opłaty pobierane od autorów</b></br>
		Wszelkie wymagane opłaty czy należności z tytułu prac nad rękopisem lub publikacji tekstów w czasopiśmie muszą być jasno sprecyzowane w miejscu łatwym do znalezienia przez potencjalnych autorów lub przekazane im przed złożeniem rękopisu. Informacje o niepobieraniu opłat autorskich także muszą być jasno sprecyzowane.
.</li>
		
		<li><b>roces identyfikacji i postępowania w przypadku zarzutów dotyczących nieuczciwych praktyk naukowych i badawczych</b></br>
		Wydawcy i redaktorzy powinni podjąć odpowiednie kroki w celu zidentyfikowania i uniemożliwienia publikacji dokumentów, w przypadku których miały miejsce niewłaściwe praktyki naukowe i badawcze, w tym plagiat, manipulacja cytowaniami, fałszowanie lub fabrykowanie danych. W przypadku powiadomienia wydawcy lub redakcji o jakichkolwiek zarzutach dotyczących praktyk naukowych i badawczych dotyczących artykułu opublikowanego w ich czasopiśmie, wydawca lub redakcja powinni postąpić zgodnie z wytycznymi  
		<a href="https://publicationethics.org/resources/guidelines">COPE (lub ich zamiennikami)</a> (or equivalent) w sprawie ujawnionych nieprawidłowości.</li>

		<li><b>Etyka wydawnicza</b></br>
		Czasopismo powinno mieć również politykę lub etykę wydawniczą. Powinna być ona zamieszczona na witrynie internetowej i szczególnie odnosić się do:
i). Polityki czasopisma w zakresie autorstwa i współautorstwa.
ii). Sposobu rozpatrywania skarg i odwołań.
iii). Polityki czasopisma w zakresie konfliktu interesów.
iv). Polityki czasopisma w zakresie udostępniania i reprodukcji danych.
v). Polityki czasopisma w zakresie nadzoru etycznego.
vi). Polityki czasopisma dotyczącej własności intelektualnej.
vii). Opcji stosowanych przez czasopismo w zakresie dyskusji i korekt po opublikowaniu tekstu.
</li>
		
		<li><b>Harmonogram publikowania</b></br>
		Częstotliwość publikowania powinna być wyraźnie określona.</li>
		
		<li><b>Dostęp</b></br>
		TNależy podać informację o sposobie w jaki czasopismo i poszczególne artykuły są dostępne dla czytelników oraz czy sposób ten jest związany z subskrypcją lub opłatą za czytanie.</li>
		
		<li><b> Archiwizacja</b></br>
		Należy jasno sprecyzować plany czasopisma w zakresie tworzenia kopii cyfrowych i zachowania dostępu do treści czasopisma (np. dostępu do głównych tekstów za pomocą CLOCKSS lub PubMedCentral) w przypadku zaprzestania dalszej publikacji czasopisma.</li>
		
		<li><b>Źródła finansowania</b></br>
		Modele biznesowe lub źródła finansowania (np. opłaty pobierane od autorów, subskrypcja, reklamy, przedruki, wsparcie instytucjonalne lub ze strony organizacji) powinny być jasno wskazane na witrynie internetowej czasopisma. Pobieranie opłat za publikację lub rezygnacja z nich nie powinny mieć wpływu na decyzje podejmowane przez redakcję.</li>
		
		<li><b>Reklamy</b></br>
		W stosownym przypadku czasopismo powinno określić swoją politykę reklamową, w tym: rodzaje reklam, kto podejmuje decyzję o ich przyjmowaniu, o powiązaniu reklam z treścią, zachowaniem użytkownika (online) lub losowym wyświetlaniu. Reklamy nie powinny być w żaden sposób powiązane z podejmowaniem decyzji redakcyjnych i powinny być oddzielone od publikowanych treści.</li>
		
		<li><b>Marketing bezpośredni</b></br>
		Wszelkie działania w zakresie marketingu bezpośredniego, w tym pozyskiwanie rękopisów prowadzone w imieniu czasopisma, powinny być odpowiednie, dobrze ukierunkowane i dyskretne. Oczekuje się, że informacje na temat wydawcy i czasopisma będą prawdziwe i niewprowadzające w błąd czytelników i autorów. </li>
		</p>
		
<p>W przypadku stwierdzenia, że organizacja członkowska naruszyła niniejsze najlepsze praktyki i wymagania organizacji OASPA/DOAJ/COPE/WAME w pierwszej kolejności zostanie podjęta z nią współpraca na rzecz rozwiązania wszelkich problemów, które zostały zgłoszone. W przypadku, gdy organizacja członkowska nie będzie w stanie lub nie będzie zainteresowana rozwiązaniem zaistniałych problemów, jej członkostwo może zostać zawieszone lub zakończone.</p>

<p>Wszystkie wymienione organizacje mają procedury postępowania w przypadku wątpliwości związanych z czasopismami organizacji członkowskich.
</p>

<p><i>Tę wersję opublikowano w DOAJ 15 stycznia 2018 r.8</br>
Drugą wersję opublikowano w DOAJ w czerwcu 2015 r.</br>
Pierwszą wersję opublikowano w DOAJ 10 stycznia 2014 r.</i></p>

<p>&nbsp;</p>
<p><i>O the Committee on Publication Ethics (COPE, <a href="https://publicationethics.org">
https://publicationethics.org</a>)</i></p>
<p>COPE zapewnia redaktorom i wydawcom poradnictwo w zakresie wszystkich aspektów etyki publikacyjnej, a w szczególności jak radzić sobie z nieprawidłowościami w obszarze badań i praktyk publikacyjnych. Stanowi także forum umożliwiające członkom przedyskutowanie indywidualnych przypadków. COPE nie rozpatruje poszczególnych spraw ale zachęca redaktorów do upewnienia się, że są one badane przez odpowiednie, uprawnione do tego organy (zwykle są nimi instytucja naukowa lub pracodawca). Wszyscy członkowie powinni stosować się do zasad COPE dotyczących etyki publikacyjnej określonych w
<a href="https://publicationethics.org/core-practices"> podstawowych praktykach</a>.</p>

<p><i>O the Directory of Open Access Journals (DOAJ, <a href="https://doaj.org">https://doaj.org</a>)</i></p>
<p>Misją DOAJ jest nadzorowanie, utrzymywanie i rozwijanie internetowego źródła rzetelnych informacji o czasopismach naukowych z otwartym dostępem; sprawdzanie czy informacje podane w spisie zgodne są ze standardami; zwiększenie widoczności, powszechności, odkrywania i zainteresowania czasopismami otwartymi; umożliwienie naukowcom, bibliotekom, uniwersytetom, fundatorom badań naukowych i innym zainteresowanym stronom korzystanie z dostarczanych informacji i usług; ułatwienie czasopismom otwartym integrację z bibliotekami i usługami agregującymi; w miarę możliwości pomoc wydawcom i ich czasopismom w spełnianiu racjonalnych standardów w zakresie publikowania cyfrowego i tym samym wspieranie przejścia komunikacji naukowej i publikowania w model służący nauce, szkolnictwu wyższemu, przemysłowi, innowacjom, społeczeństwom i ludziom. Poprzez takie działania DOAJ będzie współpracować ze wszystkimi stronami zainteresowanymi osiągnięciem tych celów.</p>

<p><i>O the Open Access Scholarly Publishers Association 
(OASPA, <a href="https://oaspa.org">https://oaspa.org</a>)</i></p>
<p>OASPA jest stowarzyszeniem branżowym, które powstało w 2008 r. w celu reprezentowania interesów wydawców Open Access (OA) ze wszystkich dyscyplin, na całym świecie. Zachęcając do współpracy przy opracowywaniu odpowiednich modeli biznesowych, narzędzi i standardów wspierających publikowanie OA, OASPA stawia sobie za zadanie pomoc w zapewnieniu dostatniej i zrównoważonej przyszłości z korzyścią dla swoich członków i społeczności naukowych, którym służą. Misja ta jest realizowana poprzez wymianę informacji, ustalenie standardów, opracowywanie modeli, rzecznictwo, edukację i promowanie innowacji.</p>

<p><i>O the World Association of Medical Editors (WAME, <a href="http://www.wame.org">http://www.wame.org</a>)</i></p>
<p>WAME jest globalnym, dobrowolnym stowarzyszeniem non-profit zrzeszającym redaktorów recenzowanych czasopism medycznych, które stara się wspierać współpracę pomiędzy nimi; poprawiać standardy redakcyjne; promować profesjonalizm edytorstwa medycznego poprzez działania edukacyjne, samokrytykę i samoregulację; wspierać poznawanie zasad i praktyk edytorstwa medycznego. WAME opracowuje zasady i zalecenia dotyczące najlepszych praktyk dla redaktorów czasopism medycznych oraz przygotowało sylabus, do którego śledzenia zachęca członków stowarzyszonych redakcji.
</p>

{% endblock %}
