<p>Most applications are processed in three months.</p>
<p>We don’t reply to requests for status updates on applications that are less than three months old.</p>
<h2 id="what-happens-next">What happens next</h2>
<p>You will receive an automated email from us, confirming that your application has been received. Please <a href="/contact/">let us know</a> if you don’t receive it.</p>
<p>Your application will be reviewed by an editor. You may receive further email updates as your application moves through our system.</p>
<p>The editor may need to contact you as part of the review process. Please answer any questions they send you.
  - This editor may not be using a doaj.org email address. To confirm that they are authorised to represent DOAJ, please check our <a href="/about/volunteers">list of volunteers</a> or <a href="/contact/">email us</a>.
  - Remember to check your spam folder just in case DOAJ emails have been routed there.</p>
<p><a href="/publisher/" class="button">Return to my Publisher dashboard</a></p>