{% extends "public/base.html" %}

{% block page_title %}Login to apply{% endblock %}

{% block public_content %}
    <div class="container">
      <div class="row">
          <div class="col-md-8">
              <section class="page-content" id="apply">
                <h1>Application form</h1>

                    <p>{{ _("application_apply_read_guide") }}</p>

                    <p>{{ _("You_can_print_or_download_a_PDF_list_of_the_questions") }}</p>

                    <p>{{ _("Log in or register to submit your application.") }}</p>

                    <hr />

                    <h2 id="log-in-to-your-account">Log in to your account</h2>

                    <p>→ Don’t have an account? <a href="{{ url_for("account.register") }}">Register here</a>.</p>
                        {% include "_account/includes/_login_form.html" %}
                    <p>If you cannot log in, <a href={{ url_for("account.forgot") }}>reset your password</a>. If you still cannot login, <a href="/contact">contact us</a>.</p>
                </section>
            </div>
          <div class="col-md-4">
              <div>
                  <div class="language-selector">
                      <form action="/apply/" method="GET">
                        <select id="languageSelect" name="lang" onchange="this.form.submit()">
                            <option value="en" {% if session.get('lang') == 'en' %}selected{% endif %}>English</option>
                            <option value="fr" {% if session.get('lang') == 'fr' %}selected{% endif %}>Français</option>
                        </select>
                      </form>
                  </div>
              </div>
              <div>
                  <aside class="hero hero--aside">
                      <h2 class="label">Related help</h2>
                      <ul class="stretch-list">
                          <li class="stretch-list__item">
                              <a href="{{ url_for('doaj.guide') }}" target="_blank">Guide to applying</a>
                          </li>
                          <li class="stretch-list__item">
                              <a href="/apply/publisher-responsibilities/" target="_blank">Information for publishers</a>
                          </li>
                          <li class="stretch-list__item">
                              <a href="{{ url_for('doaj.transparency') }}" target="_blank">Transparency & best practice</a>
                          </li>
                          <li class="stretch-list__item">
                              <a href="{{ url_for('doaj.why_index') }}" target="_blank">Why index your journal in DOAJ?</a>
                          </li>
                      </ul>
                  </aside>
              </div>
          </div>
      </div>
    </div>
{% endblock %}
