<link href='/static/doaj/css/application_form.css' media='screen' rel='stylesheet' type='text/css' />

<script type="text/javascript" src="/static/vendor/parsley-2.9.2/parsley.min.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/vendor/edges/src/edges.js?v={{config.get('DOAJ_VERSION')}}"></script>
<!-- get select2 -->
{# <script type="text/javascript" src="/static/vendor/select2-3.5.4/select2.min.js?v={{config.get('DOAJ_VERSION')}}"></script> #}
<script type="text/javascript" src="/static/js/formulaic.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/js/application_form.js?v={{config.get('DOAJ_VERSION')}}"></script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        formulaic.active = formulaic.newFormulaic({
            formSelector: "#{{ form_id }}",
            functions : {{ formulaic_context.javascript_functions|tojson }},
            doValidation : {% if js_validation %}true{% else %}false{% endif %},
            autoSave: {{ auto_save }},
            fieldsets : {{ formulaic_context.ui_settings|tojson }}
        });
    });
</script>

<script type="text/javascript">
    doaj.af.init({
        currentTab: 0,
        previousTab: 0
    });
</script>
