<script type="text/javascript">

    let setup_maned = () => {
        currentTab = 6;
        previousTab = 5;

        $(".application-nav__list-item").each((idx, x) => {
            x.className = "application-nav__list-item application-nav__list-item--active";
        });

        $("#submitBtn").hide();
        $("#saveDraft").hide();
    }

    let modify_review_page = () => {
        let page = $(".page");
        page.removeClass("col-md-8");
        page.addClass("col-md-12");
        let buttons = $(".buttons");
        buttons.addClass("col-md-8 col-md-offset-4")
        $(".side-menus").hide();
    }

    let default_page_view = () => {
        let page = $(".page");
        page.removeClass("col-md-12");
        page.addClass("col-md-8");
        let buttons = $(".buttons");
        buttons.removeClass("col-md-8 col-md-offset-4")
        $(".side-menus").show();
    }

    let modify_view = () => {
        if (currentTab === 6) {
            modify_review_page();
        }
        else {
            default_page_view();
        }
    }

    $("#submit_quick_reject").on("click", (e) => {
        e.preventDefault();


        let reason = $("#quick_reject option:selected").val();
        let additional_info = $("#quick_reject_details").val();

        let data = {"reject_reason": reason,
                    "additional_reject_information": additional_info
                    };
        console.log(data)



        $.post("/admin/application_quick_reject/" + "000000000000", data, function(data){
            console.log(data);
        });

    });

    $("#open_quick_reject").on("click", (e) => {
        e.preventDefault();
        $("#modal-quick_reject").show();
    })
</script>