<div class="col-md-4">
    <aside class="promo">
        <p class="label">A reminder&hellip;</p>
        <h2 class="promo__heading">In case of a rejection</h2>
        <p class="promo__text">
            You are responsible for providing accurate information when submitting your application. If the information
            provided is not sufficient or is incomplete, the application may be rejected.
            <a href="{{ url_for("doaj.guide", achor="if-your-application-is-rejected") }}" class="promo__link">What happens if my
                application is rejected?</a>
        </p>
    </aside>
</div>