<div class="col-md-4">
    <aside class="hero hero--aside">
        <p class="label">A reminder&hellip;</p>
        <h2>In case of a rejection</h2>
        <p>
            You are responsible for providing accurate information when submitting your application. If the information
            provided is not sufficient or is incomplete, the application may be rejected.
        </p>
        <a href="{{ url_for("doaj.guide", achor="if-your-application-is-rejected") }}" class="button">What happens if my
                application is rejected?</a>
    </aside>
</div>