{% set tourservice = services.tourService() %}
{% set tours = tourservice.activeTours(request.path, current_user) %}

{% if tours|length > 0 %}
<li class="dropdown flex-center">
    <span id="feature_tour_nav" class="dropdown__trigger label" role="button" aria-haspopup="true" aria-expanded="false">
      <span><span data-feather="navigation" aria-hidden="true"></span> Feature Tours</span>
    </span>
    <ul class="dropdown__menu notifications" id="feature_tours">
        {% for tour in tours %}
            {% set seen = namespace(val="[new] ") %}
            {% if request.cookies.get(app.config.get("TOUR_COOKIE_PREFIX") + tour.content_id) %}
                {% set seen.val = "" %}
            {% endif %}

            <li class="notifications__item">
                <a href="#" class="dropdown__link trigger_tour" data-tour-id="{{ tour.content_id }}">
                    <strong>{{ seen.val }}{{ tour.name }}</strong><br>
                    {{ tour.description }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>
{% endif %}