<footer class="page-footer">
    <div class="container">
        <a class="back-to-top" data-spy="affix" href="#" id="top"><span aria-hidden="true" data-feather="arrow-up"></span><span class="sr-only">Back to top</span></a>
        <section class="row">
            <div class="col-xs-6 col-sm-4 col-lg-2">
                <h2>
                    Search
                </h2>
                <ul>
                    <li>
                        <a href="{{ url_for("doaj.journals_search") }}">Journals</a>
                    </li>
                    <li>
                        <a href="{{ url_for("doaj.articles_search") }}">Articles</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-2">
                <h2>
                    Documentation
                </h2>
                <ul>
                    <li>
                        <a href="{{ url_for("doaj.docs") }}">API</a>
                    </li>
                    <li>
                        <a href="/docs/oai-pmh/">OAI-PMH</a>
                    </li>
                    <li>
                        <a href="/docs/widgets/">Widgets</a>
                    </li>
                    <li>
                        <a href="/docs/public-data-dump/">Public data dump</a>
                    </li>
                    <li>
                        <a href="/docs/openurl/">OpenURL</a>
                    </li>
                    <li>
                        <a href="/docs/xml/">XML</a>
                    </li>
                    <li>
                        <a href="/docs/faq/">FAQs</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-2">
                <h2>
                    About
                </h2>
                <ul>
                    <li>
                        <a href="/about/">About DOAJ</a>
                    </li>
                    <li>
                        <a href="/about/team/">DOAJ team</a>
                    </li>
                    <li>
                        <a href="/about/ambassadors/">Ambassadors</a>
                    </li>
                    <li>
                        <a href="/about/advisory-board-council/">Advisory Board &amp; Council</a>
                    </li>
                    <li>
                        <a href="/about/editorial-subcommittee/">Editorial Subcommittee</a>
                    </li>
                    <li>
                        <a href="/about/volunteers/">Volunteers</a>
                    </li>
                    <li>
                        <a href="https://blog.doaj.org" rel="noopener" target="_blank">News</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-2">
                <h2>
                    Support
                </h2>
                <ul>
                    <li>
                        <a href="/support/">Support DOAJ</a>
                    </li>
                    <li>
                        <a href="/support/sponsors/">Sponsors</a>
                    </li>
                    <li>
                        <a href="/support/publisher-supporters/">Publisher supporters</a>
                    </li>
                    <li>
                        <a href="/support/supporters/">Supporters</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-2">
                <h2>
                    Apply
                </h2>
                <ul>
                    <li>
                        <a href="/apply/">Application form</a>
                    </li>
                    <li>
                        <a href="/apply/guide/">Guide to applying</a>
                    </li>
                    <li>
                        <a href="/apply/seal/">The DOAJ Seal</a>
                    </li>
                    <li>
                        <a href="/apply/transparency/">Transparency &amp; best practice</a>
                    </li>
                    <li>
                        <a href="/apply/why-index/">Why index your journal in DOAJ?</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-2">
                <h2>
                    Stay up to date
                </h2>
                <ul>
                    <li>
                        <a href="https://twitter.com/DOAJplus" rel="noopener" target="_blank"><span aria-hidden="true" data-feather="twitter"></span> Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/DirectoryofOpenAccessJournals/" rel="noopener" target="_blank"><span aria-hidden="true" data-feather="facebook"></span> Facebook</a>
                    </li>
                    <li>
                        <a href="https://github.com/DOAJ" rel="noopener" target="_blank"><span aria-hidden="true" data-feather="github"></span> Github</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/directory-of-open-access-journals-doaj-/" rel="noopener" target="_blank"><span aria-hidden="true" data-feather="linkedin"></span> Linkedin</a>
                    </li>
                    <li>
                        <a href="{{ url_for("atom.feed") }}"><span aria-hidden="true" data-feather="rss"></span> Atom feed</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="legal">
            <h2 class="sr-only">
                Legal &amp; admin
            </h2>
            <div>
                <p>
                    © DOAJ 2020 default by all rights reserved unless otherwise specified.
                </p>
                <ul>
                    <li>
                        <a href="/accessibility/">Accessibility</a>
                    </li>
                    <li>
                        <a href="/privacy/">Privacy</a>
                    </li>
                    <li>
                        <a href="/contact/">Contact</a>
                    </li>
                    <li>
                        <a href="/terms/">T&amp;Cs</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="https://is4oa.org/" rel="noopener" target="_blank">IS4OA</a>
                    </li>
                    <li>
                        <a href="https://cottagelabs.com/" rel="noopener" target="_blank">Cottage Labs LLP</a>
                    </li>
                </ul>
            </div>
            <div>
                <p>
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="noopener" target="_blank" title="See license summary">
                        {% include "svg/cc.svg" %}
                        {% include "svg/by.svg" %}
                        {% include "svg/sa.svg" %}
                    </a>
                    <br>
                    <strong>Content</strong> on this site is licensed under a Creative Commons <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="noopener" target="_blank">Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) license</a>.
                </p>
                <p>
                    <a href="https://creativecommons.org/publicdomain/zero/1.0/" rel="noopener" target="_blank" title="See license summary">
                        {% include "svg/cc.svg" %}
                        {% include "includes/svg/zero.svg" %}
                    </a>
                    <br>
                    Copyrights and related rights for <strong>article metadata</strong> waived via <a href="https://creativecommons.org/publicdomain/zero/1.0/" rel="noopener" target="_blank">CC0 1.0 Universal (CC0) Public Domain Dedication</a>.
                </p>
            </div>
        </section>
    </div>
</footer>
