<!--[if IE]>
<p class="browserupgrade">You are using an outdated browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<div class="primary-nav" id="primary-nav">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-6">
                <a href="/" class="logo">
                    <h2 class="sr-only">The Directory of Open Access Journals</h2>
                    {% include "includes/svg/logo.svg" %}
                </a>
            </div>
            <nav class="col-xs-8 col-sm-6">
                <h2 class="sr-only">Main actions</h2>
                {% set columns = data.nav.entries|selectattr("primary")|list %}
                <ul class="nav-bar">

                    {% for column in columns %}
                        {% set section_id=column.id %}
                        {% include "includes/header-primary-navigation.html" %}
                    {% endfor %}

                    <li class="nav-bar__link primary-nav__search" data-toggle="modal" data-target="#modal-search" tabindex="0">
                            <span role="button">
                                <span data-feather="search" aria-hidden="true"></span>
                                <span class="sr-only"> Search</span>
                            </span>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>

{# static pages may declare "highlight" in their front matter, and if they do we want to adjust the nav accordingly #}
{% set extraClass = "" %}
{% if page %}
    {% if page.highlight %}
        {% set extraClass="secondary-nav--precedes-highlight" %}
    {% endif %}
{% endif %}
<nav class="secondary-nav {{ extraClass }}">
    <div class="container">
        <div class="secondary-nav__menu-toggle" aria-label="Click to open menu" role="button">
            <span data-feather="menu" aria-hidden="true"></span> <h2 class="secondary-nav__header">Menu</h2>
        </div>
        <ul class="nav-bar secondary-nav__menu">

            {% set columns = data.nav.entries|selectattr("secondary")|list %}
            {% for column in columns %}
                {% set section_id=column.id %}
                {% include "includes/header-secondary-navigation.html" %}
            {% endfor %}

            {% if not current_user.is_anonymous %}
                <li class="dropdown">
                        <span class="dropdown__trigger nav-bar__link" id="menu-account" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
                            My Account
                            <span data-feather="chevron-down" aria-hidden="true"></span>
                        </span>
                    <ul class="dropdown__menu" aria-labelledby="menu-account">
                        {% if current_user.has_role("admin") %}
                            <li>
                                <a href="{{ url_for('admin.index') }}" class="dropdown__link">
                                    Admin
                                </a>
                            </li>
                        {% endif %}
                        {% if current_user.has_role("editor") or current_user.has_role("associate_editor") %}
                            <li>
                                <a href="{{ url_for('editor.index') }}" class="dropdown__link">
                                    Editor
                                </a>
                            </li>
                        {% endif %}
                        {% if current_user.has_role("publisher") %}
                            <li>
                                <a href="{{ url_for('publisher.index') }}" class="dropdown__link">
                                    Publisher
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ url_for('account.username', username=current_user.id) }}" class="dropdown__link">
                                Settings
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            {% set columns = data.nav.entries|selectattr("secondary_mobile")|list %}
            {% for column in columns %}
                {% set section_id=column.id %}
                {% set mobile=True %}
                {% include "includes/header-secondary-navigation.html" %}
            {% endfor %}

            <li class="secondary-nav__login">
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('account.login') }}" class="nav-bar__link">
                        Login
                        <span data-feather="log-in" aria-hidden="true"></span>
                    </a>
                {% else %}
                    <a href="{{ url_for('account.logout') }}" class="nav-bar__link">
                        Logout
                        <span data-feather="log-out" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

{# Flash notifications #}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}

        {% set category_url_indicator = '+contains-url' %}

        {% for category, message in messages %}
            {% set message_has_url = False %}
            {% if category.endswith(category_url_indicator) %}
                {% set category = category[:category.rfind(category_url_indicator)] %}
                {% set message_has_url = True %}
            {% endif %}

            {# shift from bs2 to bs3 terminology #}
            {% if category == "error" %}
                {% set category = "danger" %}
            {% endif %}
            <aside class="container flash_container">
                <h2 class="sr-only">Notifications</h2>
                <p class="alert alert--{{category}}">
                    <span data-feather="alert-octagon" aria-hidden="true"></span>
                    {% if message_has_url %}
                        {{ message | safe }}
                    {% else %}
                        {{ message }}
                    {% endif %}
                    &nbsp;<span class="flash_close alert__close" role="button">(Dismiss)</span>
                </p>
            </aside>
        {% endfor %}
    {% endif %}
{% endwith %}