<head>
  <meta charset="utf-8">
  <title>Directory of Open Access Journals</title>
  <meta name="description" content="DOAJ is a community-curated online directory that indexes and provides access to high quality, open access, peer-reviewed journals.">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <!-- PWA -->
  <link rel="manifest" href="/static_content/manifest.json">

  <!-- generics -->
  <link rel="icon" href="/static_content/img/favicon/32.png" sizes="32x32">
  <link rel="icon" href="/static_content/img/favicon/57.png" sizes="57x57">
  <link rel="icon" href="/static_content/img/favicon/76.png" sizes="76x76">
  <link rel="icon" href="/static_content/img/favicon/96.png" sizes="96x96">
  <link rel="icon" href="/static_content/img/favicon/128.png" sizes="128x128">
  <link rel="icon" href="/static_content/img/favicon/192.png" sizes="192x192">
  <link rel="icon" href="/static_content/img/favicon/228.png" sizes="228x228">

  <!-- Android -->
  <link rel="shortcut icon" sizes="196x196" href="/static_content/img/favicon/196.png">

  <!-- iOS -->
  <link rel="apple-touch-icon" href="/static_content/img/favicon/120.png" sizes="120x120">
  <link rel="apple-touch-icon" href="/static_content/img/favicon/152.png" sizes="152x152">
  <link rel="apple-touch-icon" href="/static_content/img/favicon/180.png" sizes="180x180">

  <!-- Windows 8 IE 10-->
  <meta name="msapplication-TileColor" content="#F8F3EF">
  <meta name="msapplication-TileImage" content="/img/favicon/144.png">
{% block extra_meta_tags %}{% endblock %}

  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Spectral:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap" rel="stylesheet">

  <!-- TODO: that should depend on page.payout, needs to be improved - see how it's done in static_content -->
  {% block extra_stylesheets %}{% endblock %}
    <link rel="stylesheet" href="/static_content/_site/css/main.css">

  <meta name="theme-color" content="#F8F3EF">

  <!-- Feather icons -->
  <script src="https://unpkg.com/feather-icons"></script>
</head>
