{% set selected_nav = data.nav.entries|selectattr("id", "equalto", section_id)|first %}
{% for entry in selected_nav.entries %}
    <li>
        {% set url = entry.url %}
        {% set urlAttrs = 'rel="noopener" target="_blank"' %}
        {% if entry.route %}
            {% set url = url_for(entry.route) %}
            {% set urlAttrs = "" %}
        {% endif %}

        <a {{ urlAttrs }} href="{{ url }}"{% if entry.modal %} data-toggle="modal" data-target="#modal-{{ entry.modal.id }}" role="button"{% endif %}>
            {% if entry.feather %}
              <span aria-hidden="true" data-feather="{{ entry.feather }}"></span>
            {% elif entry.include %}
              {% include entry.include %}
            {% endif %}
            {{ entry.label }}
        </a>
    </li>
{% endfor %}
