<div class="modal" id="modal-help" tabindex="-1" role="dialog" aria-labelledby="modalLabel-help" style="display: none;">
    <div class="modal__dialog" role="document">
        <p class="label">Tips</p>
        <h3 class="modal__title" id="modalLabel-help">
            Refining your search
        </h3>
        <ul>
            <li>Searching for words separated by a space(s) will add an Implicit AND between the words, for example 'international development'</li>
            <li>For a phrase search, add quotation marks, for example “international development”</li>
            <li>To broaden your search:
                <ul>use the Boolean OR, for example 'bird OR flu OR avian'</ul>
                <ul>use the truncation character * to replace characters, for example 'sustain*' retrieves records with sustain, sustainability, sustainable, sustained, sustaining</ul>
            </li>
        </ul>
        <button type="button" data-dismiss="modal" class="modal__close">Close</button>
    </div>
</div>
