<div class="modal" id="modal-help" tabindex="-1" role="dialog" aria-labelledby="modalLabel-help" style="display: none;">
    <div class="modal__dialog" role="document">
        <p class="label">Tips</p>
        <h3 class="modal__title" id="modalLabel-help">
            Refining your search
        </h3>
        <ul>
            <li>Searching for words separated by space(s) will add an Implicit AND between each word. For example searching for 'international development' will search for both <i>international</i> and <i>development</i>.</li>
            <li>To search a phrase, add quotation marks, for example “international development”.</li>
            <li>To broaden your search:
                <ul>
                    <li>use the Boolean OR, for example 'bird OR flu OR avian';</li>
                    <li>use the truncation character * to replace characters, for example 'sustain*' retrieves records with sustain, sustainability, sustainable, sustained, sustaining.</li>
                </ul>
            </li>
        </ul>
        <button type="button" data-dismiss="modal" class="modal__close">Close</button>
    </div>
</div>
