<div class="modal" id="modal-help" tabindex="-1" role="dialog" aria-labelledby="modalLabel-help" style="display: none;">
    <div class="modal__dialog" role="document">
        <p class="label">Tips</p>
        <h3 class="modal__title" id="modalLabel-help">
            Improving your search results
        </h3>
        <ul>
            <li>Use the facets and filters (on the left) to refine your search.</li>
            <li>Use the dropdown menus (at the top) to sort the results.</li>
            <li>A search query of more than one word will be treated as a phrase.</li>
            <li>Use <code>" "</code> around the title to search full journal or article titles.</li>
        </ul>
        <button type="button" data-dismiss="modal" class="modal__close">Close</button>
    </div>
</div>