{% extends "/base.html" %}

{% block content %}

<p>Sorry, there is more than one page with this URL. Please change some of the conflicting URLs below, and then submit your changes.</p>

<form action="/deduplicate" method="POST">
<input type="hidden" name="url" id="url" value="{{ url }}" />
<table class="table table-striped table-bordered">
<tr>
<td><strong>Record details</strong></td>
<td><strong>Current URL</strong></td>
<td><strong>Delete ?</strong></td>
<td><strong>New URL (if desired)</strong></td>
</tr>
{% for record in duplicates %}
<tr>
<td><p>{{ record['id'] }} - {{ record['title'] }}</p><p>{{ record['excerpt'] }}</p></td>
<td>{{ record['url'] }}</td>
<td><input name="delete_{{ record['id'] }}" type="checkbox" /></td>
<td><input type="text" name="{{ record['id'] }}" id="{{ record['id'] }}" /></td>
</tr>
{% endfor %}
<tr>
<td></td>
<td></td>
<td></td>
<td><input class="btn btn-info" type="submit" name="submit" id="submit" value="delete / re-address" /></td>
</tr>
</table>
</form>

{% endblock %}
