<p class="label">Page 7 of 7</p>
<h1><span data-feather="eye"></span> Review your answers</h1>

<p>Please review your answers before submitting your application.</p>

<hr />

    {% set t = { "val": 0} %}
        {% for tab in FORM %}
            <table>
                <tbody>
                    <th>{{ tab.title }}</th>
                    <th><a href="#" onclick="showTab({{ t.val }})">Edit this section</a></th>
                    {% set fieldsests = tab.fieldsets %}
                    {% for fieldset in fieldsests %}
                        {% set fs = formulaic_context.fieldset(fieldset) %}
                        {% for f in fs.fields() %}
                            <tr>
                                <td id="{{ f.name }}__review_label">{{ f.label }}</td>
                                <td id="{{ f.name  }}__review_value"></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% if t.update({"val": t.val + 1}) %}{% endif %}
                </tbody>
            </table>
            <hr />
        {% endfor %}



<input type="checkbox" id="reviewed" name="reviewed" value="reviewed">
<label for="reviewed">I’ve reviewed the answers to my application and confirm that the information provided is accurate and true.</label>

<input type="checkbox" id="understanding" name="understanding" value="understanding">
<label for="understanding">I understand that, if the information is found to be not sufficient or incomplete, my application will not be considered.</label>

<p id="cannot-submit" style={"display:none"}><i>You cannot submit your answers because your application contains invalid fields. Please review your answers and try again.</i></p>