{% set TODOS = {
        constants.TODO_MANED_STALLED: {
            "text" : "<strong>Stalled</strong> <span class='todo-list__status'>+8 wks inactive</span>",
            "colour" : "var(--salmon)",
            "feather": "coffee"
        },
        constants.TODO_MANED_FOLLOW_UP_OLD: {
            "text": "<strong>Old</strong> <span class='todo-list__status'>+10 wks old</span>",
            "colour" : "var(--sanguine)",
            "feather": "clock"
        },
        constants.TODO_MANED_READY: {
            "text" : "<strong>Ready</strong>",
            "colour" : "var(--dark-green)",
            "feather": "check-circle",
            "link" : url_for('admin.suggestions') + "?source=" + search_query_source(term=[{"admin.application_status.exact":"ready"}])
        },
        constants.TODO_MANED_COMPLETED: {
            "text" : "<strong>Completed</strong> <span class='todo-list__status'>+2 wks updated</span>",
            "colour" : "var(--mid-green)",
            "feather": "user-check",
            "link" : url_for('admin.suggestions') + "?source=" + search_query_source(term=[{"admin.application_status.exact":"completed"}])
        },
        constants.TODO_MANED_ASSIGN_PENDING: {
            "text" : "<strong>Pending</strong> <span class='todo-list__status'>+2 wks submitted</span>",
            "colour" : "var(--yellow)",
            "feather": "inbox",
            "link" : url_for('admin.suggestions') + "?source=" + search_query_source(term=[{"admin.application_status.exact":"pending"}])
        },
        constants.TODO_EDITOR_STALLED: {
            "text" : "<strong>Stalled</strong> <span class='todo-list__status'>+6 wks inactive</span>",
            "colour" : "var(--yellow)",
            "feather": "inbox",
        },
        constants.TODO_EDITOR_FOLLOW_UP_OLD: {
            "text" : "<strong>Old</strong> <span class='todo-list__status'>+8 wks old</span>",
            "colour" : "var(--sanguine)",
            "feather": "clock"
        },
        constants.TODO_EDITOR_COMPLETED: {
            "text" : "<strong>Completed</strong> <span class='todo-list__status'>Recently completed</span>",
            "colour" : "var(--yellow)",
            "feather": "inbox",
            "link" : url_for('editor.group_suggestions') + "?source=" + search_query_source(term=[{"admin.application_status.exact":"completed"}])
        },
        constants.TODO_EDITOR_ASSIGN_PENDING: {
            "text" : "<strong>Pending</strong> <span class='todo-list__status'>Recently assigned</span>",
            "colour" : "var(--yellow)",
            "feather": "inbox",
            "link" : url_for('editor.group_suggestions') + "?source=" + search_query_source(term=[{"admin.application_status.exact":"pending"}])
        },
        constants.TODO_ASSOCIATE_PROGRESS_STALLED: {
            "text" : "<strong>Stalled</strong> <span class='todo-list__status'>+3 wks inactive</span>",
            "colour" : "var(--yellow)",
            "feather": "inbox",
        },
        constants.TODO_ASSOCIATE_FOLLOW_UP_OLD: {
            "text": "<strong>Old</strong> <span class='todo-list__status'>+6 wks old</span>",
            "colour" : "var(--sanguine)",
            "feather": "clock"
        },
        constants.TODO_ASSOCIATE_START_PENDING: {
            "text" : "<strong>Pending</strong> <span class='todo-list__status'>Recently assigned</span>",
            "colour" : "var(--yellow)",
            "feather": "inbox",
            "link" : url_for('editor.associate_suggestions') + "?source=" + search_query_source(term=[{"admin.application_status.exact":"pending"}])
        },
        constants.TODO_ASSOCIATE_ALL_APPLICATIONS: {
            "text" : "<strong>Application</strong> <span class='todo-list__status'>Open application</span>",
            "colour" : "var(--yellow)",
            "feather": "inbox",
            "link" : url_for('editor.associate_suggestions')
        }
    }
%}

<section>
    {% if todos|length == 0 %}
        <div class="flex-center">
          <p class="card col-md-6">
              <span class="type-03">

                  {% if current_user.has_role("admin") %}
                    {% set source = search_query_source(
                        term=[
                            {"admin.editor.exact" : current_user.id},
                            {"index.application_type.exact" : "new application"}
                        ],
                        sort=[{"admin.date_applied": {"order": "asc"}}]
                     )
                    %}
                    All priority tasks have been done. Check your <a href="{{ url_for('admin.suggestions') }}?source={{ source }}">queue</a> for more open applications
                  {% elif current_user.has_role("editor") %}
                      {% set source = search_query_source(
                        term=[
                            {"index.application_type.exact" : "new application"}
                        ],
                        sort=[{"admin.date_applied": {"order": "asc"}}]
                     )
                      %}
                      All priority tasks have been done. Check your <a href="{{ url_for('editor.group_suggestions') }}?source={{ source }}">queue</a> for more open applications. If you need more applications to be assigned to your group, contact your Managing Editor.
                  {% elif current_user.has_role("associate_editor") %}
                      {% set source = search_query_source(
                        term=[
                            {"index.application_type.exact" : "new application"}
                        ],
                        sort=[{"admin.date_applied": {"order": "asc"}}]
                     )
                      %}
                      All priority tasks have been done. Check your <a href="{{ url_for('editor.associate_suggestions') }}?source={{ source }}">queue</a> for more open applications. If you need more to be assigned to you, contact your Editor or Managing Editor.
                  {% endif %}
              </span>
          </p>
        </div>
    {% endif %}
    <ol class="todo-list">
      {% for todo in todos %}
      {# TODO only show tasks for this user’s groups #}
      {# TODO integrated priority in list display
      {{ todo.boost }}
       #}
       {% set action = TODOS[todo.action_id[0]] %}
      {% set app_route = "admin.application" if current_user.has_role("admin") else "editor.application" %}
       {% set app_url =  url_for(app_route, application_id=todo.object_id) %}
      {% set app_date = todo.object.created_timestamp %}
       <li class="todo-list__item" data-app-url="{{ app_url }}">
         <article class="flex-col flex-space-between card card--compact" style="border-color: {{ action.colour }};">
           <div class="flex">
             <a href="{{ app_url }}" target="_blank" title="{{ todo.title }}">
               <time datetime="{{ app_date.strftime('%Y-%m-%d') }}" class="label label--secondary font-mono" title="First submitted {{ app_date.strftime('%A, %-d %B %Y') }}">
                 <span style="font-size: 22px;">{{ app_date.strftime('%d') }}</span><br>
                 <span style="font-size: 13.55px;">{{ app_date.strftime('%b') }}</span><br>
                 <span style="font-size: 9.35px;">{{ app_date.strftime('%Y') }}</span>
                 {# TODO link to search results for this kind of task, across all editor groups #}
               </time>
              </a>
             <div style="margin-left: 1em;" class="flex-space-between">
               <header>
                 <p class="label label--secondary">
                   <a href="{{ app_url }}" target="_blank" title="{{ todo.title }}">
                     {% set main_action = todo.action_id[0] %}
                     {% if main_action == 'todo_maned_follow_up_old' or main_action == 'todo_maned_stalled' %}[{{ todo.object.application_status }}]{% endif %}
                     {{ action.text | safe }}
                   </a>
                 </p>
                 <h3>
                   <a href="{{ app_url }}" class="font-serif type-06" target="_blank" title="{{ todo.title }}">{{ todo.title | truncate(25, True) }}</a>
                 </h3>
               </header>
               <div>
                 {% if action.link %}
                 <a href="{{ action.link }}" class="label tag" style="margin-right: 0; background-color: {{ action.colour }};">
                 {% else %}
                 <span class="label tag" style="margin-right: 0; background-color: {{ action.colour }};">
                 {% endif %}
                    <span data-feather="{{ action.feather | safe }}" aria-hidden="true"></span>
                 {% if action.link %}</a>
                 {% else %}</span>
                 {% endif %}
               </div>
             </div>
           </div>
           <ul class="unstyled-list tags">
             {% set source = search_query_source(terms=[{"admin.editor_group.exact" : [todo.object.editor_group]}]) %}
             <li><small><a href="{{ url_for('admin.suggestions') }}?source={{ source }}" class="label tag tag--secondary"><span data-feather="users" aria-hidden="true"></span> {{ todo.object.editor_group }}</a></small></li>
             {% set editor = todo.object.editor %}
             {% if editor %}
             <li><small><a href="{{ url_for('account.username', username=editor) }}" class="label tag tag--tertiary"><span data-feather="user" aria-hidden="true"></span> {{ todo.object.editor }}</a></small></li>
             {% endif %}
            </ul>
         </article>
       </li>
      {% endfor %}
    </ol>
    {# TODO to be displayed once we implement page listing out all tasks
    <footer class="card card--compact flex-center">
      <a href="#">See all tasks</a>
    </footer>
    #}
  </section>