{% set journals = url_for("admin.index") %}
{% set applications = url_for("admin.suggestions") %}
{% set users = url_for("account.index") %}
{% set site_search = url_for("admin.admin_site_search") %}
{% set editor_groups = url_for("admin.editor_group_search") %}
{% set bg = url_for("admin.background_jobs_search") %}

{% set tabs = [
    (journals, "Journals"),
    (applications, "Applications/update requests"),
    (users, "Users"),
    (site_search, "Journals & articles"),
    (editor_groups, "Editor groups"),
    (bg, "Background jobs")
    ]
%}

{% set icons = [
    (tasks, "check-circle"),
    (journals, "book-open"),
    (update_requests, "refresh-cw"),
    (applications, "file-text"),
    (users, "users"),
    (site_search, "Journals & articles"),
    (editor_groups, "Editor groups"),
    (bg, "tool")
  ]
%}

<nav class="vertical-nav">
  <ol class="unstyled-list" role="tablist">
    {% for url, label in tabs %}
    {% set selected = url == request.path %}
      <li>
        <a href="{{ url }}" aria-selected="{% if selected %}true{% else %}false{% endif %}" class="flex-center vertical-nav__link ">
          {# TODO: display correct icons #}
          <span data-feather="file" aria-hidden="true"></span>
          <span class="vertical-nav__link-label">{{ label }}</span>
        </a>
      </li>
    {% endfor %}
  </ol>
</nav>
