{% extends "layouts/base.html" %}

{% block content %}
    <main class="page-content">
        <div class="container">
            <div class="row">
                <h1>Hi, {{ current_user.name }}</h1>
                <p>Here's whats on your to-do list:</p>
                <table>
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Action</td>
                            <td>Priority</td>
                            <td>Title</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo in todos %}
                            <tr>
                                <td>{{ todo.date }}</td>
                                <td>{{ todo.action_id|join(", ") }}</td>
                                <td>{{ todo.boost }}</td>
                                <td><a href="{{ url_for("admin.application", application_id=todo.object_id) }}">{{ todo.title }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}