/* Cards */

.card {
  @include typescale-06;
}

.card__label {
  margin-bottom: $spacing-02;
  text-transform: uppercase;
  font-weight: 600;
  color: $sanguine;
}

.card__desc {
  color: $dark-grey;
  margin-bottom: $spacing-01;
}
