/* Introduction paragraphs */

.intro-text {
  @include typescale-03;
}

.intro-text__text {
  font-weight: 400;
  @include font-serif;
}

.intro-text__cta {
  text-align: right;
  font-size: 1rem;
}
