/* Navigation bar */

.nav-bar {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 50px;
}

.nav-bar__link {
  display: block;
  line-height: 50px;
}
