/* Tables with large numbers in 1st cell of rows
   Numbered tables require a first empty cell on each row */

.numbered-table {
  counter-reset: row-number;

  tbody tr {
    counter-increment: row-number;

    td:first-child::before {
      padding-right: $spacing-04;
      content: counter(row-number);
      vertical-align: baseline;
      font-weight: 400;
      @include typescale-03;
      @include font-serif;
    }
  }
}
