/* Portraits / photographs of people
   Used in biographies, profiles... */

.portrait {
  position: relative;
  margin: $spacing-02 0 $spacing-04 0;
  background-color: rgba($sanguine, 0.25);
}

.portrait__img {
  mix-blend-mode: multiply;
  max-height: 200px;
}

.portrait__img--is-empty {
  height: 220px;
}
