/* List of titles (journals, articles, posts ...)
   In 2+ columns */

.title-list {
  padding-left: 0;
  list-style: none;
}

.title-list__link {
  display: block;
  margin-bottom: $spacing-04;
  padding: $spacing-03 0;
  border-top: 1px dashed $sanguine;
  text-decoration: none;
  @include typescale-06;

  &:hover,
  &:focus,
  &:active {
    border-top-style: solid;
  }
}

.title-list__link--is-highlighted {
  border-top: 1px dashed $grapefruit;
}

.title-list__heading {
  margin-top: $spacing-03;
  font-weight: 400;
}

.col-md-3:nth-child(4n+1) {
  clear: both;
}
