/* List of titles (journals, articles, posts ...)
   In 2+ columns */

.title-list {
  padding-left: 0;
  list-style: none;
  @include typescale-06;
}

.title-list__link,
.title-list__text {
  display: block;
  margin-bottom: $spacing-04;
  padding: $spacing-03 0;
  border-top: 1px dashed $sanguine;
  text-decoration: none;
}

.title-list__para {
  margin-bottom: $spacing-03;
}

.title-list__link {
  &:hover,
  &:focus,
  &:active {
    border-top-style: solid;
  }
}

.title-list__link--is-highlighted {
  border-top: 1px dashed $grapefruit;
}

.title-list__heading {
  margin-top: $spacing-02;
  margin-bottom: $spacing-03;
  font-weight: 400;
  @include typescale-04;
}

.col-md-3:nth-child(4n+1) {
  clear: both;
}

.col-md-4:nth-child(3n+1) {
  clear: both;
}

.col-md-6:nth-child(2n+1) {
  clear: both;
}
