{% if not notabs %}<p class="label">Page 3 of {{ FORM | length + 1}}</p>{% endif %}
<h1>© Copyright & licensing</h1>

{% set fs = formulaic_context.fieldset("licensing") %}
<h2 class="form__header"> {{ fs.label }}</h2>
    {% for f in fs.fields() %}
        {% set field_template = f.template %}
        {%  include field_template %}
    {% endfor %}
{% set fs = formulaic_context.fieldset("embedded_licensing") %}
<h2 class="form__header"> {{ fs.label }}</h2>
    {% for f in fs.fields() %}
        {% set field_template = f.template %}
        {%  include field_template %}
    {% endfor %}
{% set fs = formulaic_context.fieldset("copyright") %}
<h2 class="form__header"> {{ fs.label }}</h2>
    {% for f in fs.fields() %}
        {% set field_template = f.template %}
        {%  include field_template %}
    {% endfor %}