<body id="apply">

    <main class="container">
        <div class="row">
            <div class="col-md-8">
                <section class="page-content">
                    <p class="label">Page 3 of 7</p>
                    <h1>© Copyright & licensing</h1>

                    <form action="../04-editorial">

                    {% set fs = formulaic_context.fieldset("licensing") %}
                        {% for f in fs.fields() %}
                            {% set field_template = f.template %}
                            {%  include field_template %}
                        {% endfor %}
                    {% set fs = formulaic_context.fieldset("embedded_licensing") %}
                        {% for f in fs.fields() %}
                            {% set field_template = f.template %}
                            {%  include field_template %}
                        {% endfor %}
                    {% set fs = formulaic_context.fieldset("copyright") %}
                        {% for f in fs.fields() %}
                            {% set field_template = f.template %}
                            {%  include field_template %}
                        {% endfor %}

                    <p class="pager-buttons">

                    <a href="../index" class="pager-buttons__left">Previous</a>
                    <button type="submit" class="pager-buttons__right">Next</button>
                    </p>

                    {% if obj %}
                        <input type="hidden" name="id" value="{{ obj.id }}">
                    {% endif %}

                    </form>
                </section>
            </div>

            <div class="col-md-4">
                <div>
                    {% include "application_form/pagination_menu.html" %}
                    {% include "application_form/aside_menu.html" %}
                </div>
            </div>
        </div>
    </main>
</body>