<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include header.html %}

    <main>
      <!-- Search bar -->
      <section class="highlight">
        <div class="container">
          <p class="eyebrow">The Directory of Open Access Journals</p>
          <h1>Find open access journals & articles.</h1>
          <form class="row">
            <div class="col-xs-12 col-md-8">
              <input type="radio" id="journals" name="content-type" value="journals" checked>
              <label for="journals">Journals</label>
              <input type="radio" id="articles" name="content-type" value="articles">
              <label for="articles">Articles</label>
            </div>

            <div class="col-xs-12 col-md-8 input-group">
              <label for="keywords" class="sr-only">Search by keywords:</label>
              <input type="text" name="keywords" id="keywords" required>

              <label for="fields" class="sr-only">In the field:</label>
              <select name="fields" id="fields">
                <option value="all">In all fields</option>
                <option value="title">Title</option>
                <option value="abstract">Abstract</option>
                <option value="subject">Subject</option>
                <option value="subject">Author</option>
              </select>

              <button type="submit">
                <span data-feather="search"></span><span class="sr-only"> Search</span>
              </button>
            </div>
          </form>

          <section class="row mobile-scrollable-row">
            <p class="col-md-2 stat">
              <a href="#">
                <span class="stat__number">130</span>
                <span class="stat__description">countries represented</span>
              </a>
            </p>
            <p class="col-md-2 stat">
              <a href="#">
                <span class="stat__number">10,474</span>
                <span class="stat__description">journals without APCs</span>
              </a>
            </p>
            <p class="col-md-2 stat">
              <a href="#">
                <span class="stat__number">10,961</span>
                <span class="stat__description">recently-updated journals</span>
              </a>
            </p>
            <p class="col-md-2 stat">
              <a href="#">
                <span class="stat__number">13,886</span>
                <span class="stat__description">open access <br/>journals</span>
              </a>
            </p>
            <p class="col-md-2 stat">
              <a href="#">
                <span class="stat__number">4,398,818</span>
                <span class="stat__description">open access <br/>articles</span>
              </a>
            </p>
          </section>
        </div>
      </section>

      <!-- About -->
      <section class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="sr-only">About</h2>
            <p>DOAJ is a community-curated online directory that indexes and provides access to high quality, open access, peer-reviewed journals.</p>
            <p>All DOAJ services are free of charge including being indexed. All data is freely available.</p>
            <p><a href="apply/why-index">Why index your journal in DOAJ?</a></p>
          </div>

          <aside class="col-sm-6">
            <p>
              DOAJ is independent. All funding is via donations, 22% of which comes from sponsors and 78% from supporters.
            </p>
            <a href="" class="button primary-button">Support DOAJ</a>
            <p>
              Journal publishers don’t need to donate to be part of DOAJ.
            </p>
            <p>
              <a href="" class="button secondary-button">Apply now</a>
              <br><a href="apply/guide/">How to apply</a>
            </p>
          </aside>
        </div>
      </section>

      <!-- Blog -->
      <section class="container">
        <h2>From the blog <sup><a href="">See all</a></sup></h2>
        <div class="row">
          <div class="col-sm-6">
            <article class="blog-post blog-post--featured">
              <a href="#" class="blog-post__link">
                <p class="label">Africa, OA landscape</p>
                <h3 class="blog-post__title">Guest post: Overview of the African Open Access Landscape, with a Focus on Scholarly Publishing</h3>
                <p>Between October 2016 until October 2019, the Academy of Science of South Africa (ASSAf) conducted a landscape study on the progress made regarding Open Access.</p>
                <time datetime="2019-10-11">11 Oct 2019</time>
              </a>
            </article>
          </div>

          <div class="col-sm-6">
            <article class="blog-post">
              <a href="#" class="blog-post__link">
                <p class="label">Liber</p>
                <h3 class="blog-post__title">OAPEN joins Think. Check. Submit.</h3>
                <p>Think. Check. Submit. carried out a large survey of its users at the end of 2018 and the resounding opinion was that TCS needed to develop its tools and resources further to accommodate the fast-changing world of scholarly publishing.</p>
                <time datetime="2019-10-07">7 Oct 2019</time>
              </a>
            </article>

            <article class="blog-post">
              <a href="#" class="blog-post__link">
                <p class="label">Sustainable development</p>
                <h3 class="blog-post__title">Sponsorship plan for 2020</h3>
                <p>All sponsors sponsoring us with £3000 or more are eligible to put forward a nomination at the next round of elections for the Advisory Board or Council and vote in both elections.</p>
                <time datetime="2019-10-03">3 Oct 2019</time>
              </a>
            </article>
          </div>
        </div>

        <!-- Special / themed posts, optional -->
        <section>
          <h3>Special post series. Myth busting</h3>

          <div class="row title-list">
            <article class="col-md-4">
              <a href="" class="title-list__link">
                <h4 class="title-list__heading">Myth: “All open access journals can be listed on DOAJ”</h4>
              </a>
            </article>

            <article class="col-md-4">
              <a href="" class="title-list__link">
                <h4 class="title-list__heading">Myth: “Journals must meet the DOAJ seal criteria to be indexed”</h4>
              </a>
            </article>

            <article class="col-md-4">
              <a href="" class="title-list__link">
                <h4 class="title-list__heading">Myth: “DOAJ indexes predatory journals”</h4>
              </a>
            </article>
          </div>
        </section>
      </section>

      <!-- Community -->
      <section class="highlight">
        <div class="container">
          <h2>Community</h2>
          <section>
            <h3>Volunteers</h3>
            <div class="row">
              <div class="col-sm-8">
                <p class="intro-text">DOAJ would not be able to do the work that it does, at the capacity that it has, without the help of its volunteers.</p>
              </div>
              <div class="col-sm-4">
                <p><a href="" class="button secondary-button">See all</a></p>
              </div>
            </div>
            <div class="row mobile-scrollable-row volunteers">
              <article class="col-md-4 card">
                <h4>Karina Menegaldo</h4>
                <figure class="portrait">
                  <img src="https://images.generated.photos/ggaWl1zseN8sJNmJZ9rVZuAoc17In0C1qb7na6AGuHE/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yy/XzA1MzUyMDAuanBn.jpg" height="150" width="150" class="portrait__img"/>
                </figure>
                <p class="label">
                  Linguistics and computation
                </p>
                <p class="card__desc">
                  Volunteer since 2018
                </p>
                <p class="card__desc">
                  São Paulo,	Brasil
                </p>
              </article>

              <article class="col-md-4 card">
                <h4>Marco Tullney</h4>
                <figure class="portrait">
                  <img src="https://images.generated.photos/PYqJjdWKLiLWW3R0pVQGZRQ6oZWQ5qdPMLkwLCttkJs/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zLzA5/OTUwMjkuanBn.jpg" height="150" width="150" class="portrait__img"/>
                </figure>
                <p class="label">
                  Social sciences
                </p>
                <p class="card__desc">
                  Volunteer since 2014
                </p>
                <p class="card__desc">
                  Hannover, Germany
                </p>
              </article>

              <article class="col-md-4 card">
                <h4>Karima Akool Al Salihi</h4>
                <figure class="portrait">
                  <img src="https://images.generated.photos/hoWxGiF0Ha-1RMoWzL3GqouXZf2fSxU3dYY9G8EyP3k/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zLzA5/OTkyMjAuanBn.jpg" height="150" width="150" class="portrait__img"/>
                </figure>
                <p class="label">
                  Medicine
                </p>
                <p class="card__desc">
                  Volunteer since 2018
                </p>
                <p class="card__desc">
                  Baghdad, Iraq
                </p>
              </article>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="col-sm-8">
                <h3>Funding</h3>
                <p class="intro-text">Some organisations and publishers support DOAJ with either a one-off payment or an annual payment.</p>
              </div>
            </div>
            <ul class="row title-list">
              <li class="col-sm-6">
                <a class="title-list__link title-list__link--is-highlighted">
                  <h4 class="title-list__heading">Supporters</h4>
                  <p>DOAJ Membership is recommended for those who can support us with a long-term annual fixed contribution.</p>
                  <p>Learn more</p>
                </a>
              </li>

              <li class="col-sm-6">
                <a class="title-list__link title-list__link--is-highlighted">
                  <h4 class="title-list__heading">Publisher supporters</h4>
                  <p>If you publish or own an Open Access journal, you may prefer to become a Publisher Supporter with DOAJ.</p>
                  <p>Learn more</p>
                </a>
              </li>
            </ul>
          </section>

          <section>
            <h3>Sponsors</h3>
            <div class="row">
              <div class="col-sm-8">
                <p class="intro-text">The DOAJ Sponsors provide larger amounts of crucial funding on an annual basis.</p>
              </div>
              <div class="col-sm-4">
                <p><a href="" class="button secondary-button">Learn more</a></p>
              </div>
            </div>

            <h4>Gold sponsor</h4>
            <a href="https://www.ieee.org/" target="_blank">IEEE</a>
          </section>
        </div>
      </section>

      <!-- New journals -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h2>Recently-added journals</h2>
              <p><a href="">See all</a></p>
            </div>
            <div class="col-sm-8">
              <ul class="row mobile-scrollable-row title-list">
                <li class="col-md-3">
                  <a href="" class="title-list__link">Journal of Electrical, Electronics and Informatics</a>
                </li>
                <li class="col-md-3">
                  <a href="" class="title-list__link">Journal of Pure and Applied Microbiology</a>
                </li>
                <li class="col-md-3">
                  <a href="" class="title-list__link">Çocuk ve Gençlik Ruh Sağlığı Dergisi</a>
                </li>
                <li class="col-md-3">
                  <a href="" class="title-list__link">transLogos: Translation Studies Journal</a>
                </li>
                <li class="col-md-3">
                  <a href="" class="title-list__link">Amasya İlahiyat Dergisi</a>
                </li>
                <li class="col-md-3">
                  <a href="" class="title-list__link">Computational Methods for Differential Equations</a>
                </li>
                <li class="col-md-3">
                  <a href="" class="title-list__link">Танцювальні студії</a>
                </li>
                <li class="col-md-3">
                  <a href="" class="title-list__link">Научный журнал Российского НИИ проблем мелиорации</a>
                </li>
                <li class="col-md-3">
                  <a href="" class="title-list__link">Ciencia y Educación</a>
                </li>
                <li class="col-md-3">
                  <a href="" class="title-list__link">Iranian Journal of Pathology</a>
                </li>
                <li class="col-md-3">
                  <a href="" class="title-list__link">Environmental Pollutants & Bioavailability</a>
                </li>
                <li class="col-md-3">
                  <a href="" class="title-list__link">Journal of the Egyptian National Cancer Institute</a>
                </li>
                <li class="col-md-3">
                  <a href="" class="title-list__link">Известия Томского политехнического университета: Инжиниринг георесурсов</a>
                </li>
                <li class="col-md-3">
                  <a href="" class="title-list__link">Curricula: Journal of Teaching and Learning</a>
                </li>
                <li class="col-md-3">
                  <a href="" class="title-list__link">Pengarah</a>
                </li>
                <li class="col-md-3">
                  <a href="" class="title-list__link">Journal of Innovation Management</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}
  </body>

</html>
