<!DOCTYPE html>
<html lang="fr-ca">

{% include head.html %}

<body>

  {% include header.html %}

  <main class="container">

    <!-- Page title & intro -->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 intro">
        {{ content }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- List content -->
        <div class="row {{ page.layout }} {{ page.permalink }}">
          {% if page.sections %}

          {% for section in page.sections %}
          <div class="col-xs-12">
            <hr>
            <h3>{{ section.title }}</h3>
          </div>
          <ul class="row list-unstyled">
            {% for item in section.items %}
            <li class="col-md-4">
              <div>
                {% if item.img %}<img src="img/{{ item.img }}"/>{% endif %}
                <h4>{{ item.title }}</h4>
                <p>{{ item.content }}</p>
                {% if item.e-mail %}→ <a href="mailto:{{ item.e-mail }}">{{ item.e-mail }}</a>{% endif %}
                {% if item.site %}→ <a href="{{ item.site }}" target="_blank">{{ item.site }}</a>{% endif %}
              </div>
            </li>
            {% endfor %}
          </ul>
          {% endfor %}

          {% elsif page.items %}
          <hr>
          <ul class="row list-unstyled main-list">
            {% for item in page.items %}
            <li class="col-md-4">
              <div>
                {% if item.img %}<img src="img/{{ item.img }}"/>{% endif %}
                <h3>{{ item.title }}</h3>
                <p>{{ item.content }}</p>
                {% if item.e-mail %}→ <a href="mailto:{{ item.e-mail }}">{{ item.e-mail }}</a>{% endif %}
                {% if item.site %}→ <a href="{{ item.site }}" target="_blank">{{ item.site }}</a>{% endif %}
              </div>
            </li>
            {% endfor %}
          </ul>

          {% endif %}
        </div>
      </div>
    </div>

  </main>

  {% include footer.html %}

</body>

</html>
