{% extends "base.html" %}

{% block content %}

<h2>Tieteellisen julkaisutoiminnan läpinäkyvyyden ja parhaiden käytäntöjen periaatteet</h2>

    {% include 'doaj/_bestpractice_nav.html' %}

<p><b>Johdanto</b></p>

<p><a href="https://publicationethics.org/">Committee on Publication Ethics</a> (COPE), Directory of Open Access 
Journals (DOAJ), <a href="https://oaspa.org/">Open Access Scholarly Publishers Association</a> (OASPA) sekä 
<a href="http://www.wame.org">World Association of Medical Editors</a> (WAME) ovat tieteellisiä toimijoita, joille tulleiden jäsenhakemusten lukumäärä on kasvanut samalla kun hakemusten laatu on vaihdellut suuresti. Olemme yhteistyössä määrittäneet tieteellisen julkaisutoiminnan läpinäkyvyyden ja parhaiden käytäntöjen periaatteet. Olemme myös halunneet tehdä selväksi sen, että COPE:ssa, DOAJ:ssa ja OASPA:ssa jäsenyysarviointi perustuu näistä periaatteista johdettuihin kriteereihin ja että WAME:ssa ne ovat osa vastaavaa kriteeristöä. Kullakin toimijalla on lisäksi omia kriteereitään, joita ne soveltavat saamiensa hakemusten arvioinnissa. Ne eivät jaa keskenään tietoja kustantajista tai julkaisukanavista, jotka eivät ole pystyneet osoittamaan täyttävänsä läpinäkyvyyttä ja parhaita käytänteitä koskevia kriteerejä.</p>

<p>Tämä on kolmas (tammikuussa 2018 julkaistu) versio jatkuvasti päivittyvän työn tuloksista. OASPA laati ensimmäisen version joulukuussa 2013, ja toinen versio julkaistiin kesäkuussa 2015. Kannustamme jakamaan näitä periaatteita laajasti ja otamme mielellämme vastaan palautetta näistä yleisperiaatteista ja yksittäisistä kriteereistä. Asiakirjan lopussa on taustatietoja toimijoista.</p>

<p>COPE:n teettämä näitä periaatteita kuvaava infografiikka on ladattavissa seuraavista osoitteista.  
	[<a href="https://drive.google.com/file/d/1zEPR9njly8x2Hq9fts6XdqZGcgi9Mdue/view?usp=sharing">Vaakaversio A4</a>]  
	[<a href="https://drive.google.com/file/d/1xYk1IsMwh_CU8YC7h_FgzF26p7yt69lB/view?usp=sharing">Pystyversio, 'posteri'</a>]</p>

<p>&nbsp;</p>
<p><b>Läpinäkyvyysperiaatteet</b></p>
<p>
	<ol>
		<li><b>Verkkosivut</b></br>
		 Julkaisukanavan verkkosivujen ja verkkosivuilla olevien tekstien tulee osoittaa, että korkeiden eettisten ja ammatillisten standardien varmistamisesta huolehditaan. Sivuilla ei saa olla lukijoita tai tekijöitä harhaan johtavia tietoja, esimerkiksi yrityksiä matkia toisen lehden tai kustantajan sivustoa.</br>
		 Sivuilla tulee olla julkaisun toiminnan päämäärää ja laajuutta koskeva lausuma, ja julkaisun lukijakunta tulee määritellä selkeästi. Lisäksi on kerrottava, millaisia tekstejä julkaisukanava ottaa vastaan mahdollisesti julkaistavaksi. Myös kirjoittajia ja tekijöitä koskevat kriteerit on ilmoitettava (esimerkiksi, että ei huomioida samanaikaisesti useisiin kanaviin tarjottuja käsikirjoituksia). ISSN-numeroiden pitää olla selvästi esillä (erikseen painetulle ja sähköiselle versiolle).</li>

		<li><b>Julkaisukanavan nimi</b></br>
		Julkaisukanavan nimen tulee olla ainoa laatuaan. Se ei saa sekoittua toisen julkaisukanavan nimeen tai antaa mahdollisille kirjoittajille, tekijöille ja lukijoille väärää mielikuvaa sen alkuperästä tai yhteydestä muihin julkaisukanaviin.</li>
		
		<li><b>Vertaisarviointimenettely</b></br>
		 Julkaisukanavan sisällöstä on käytävä selvästi ilmi, onko materiaali vertaisarvioitu. Vertaisarviointi määritellään siten, että se on julkaisukanavan toimituskuntaan kuulumattoman alan asiantuntija-arvioijan yksittäisestä käsikirjoituksesta antama palaute. Tämä menettely ja muut julkaisukanavan vertaisarviointimenettelyyn liittyvät periaatteet tulee kuvata selkeästi julkaisun verkkosivuilla. Myös käytetty vertaisarviointimenetelmä on kuvattava. Julkaisukanavan verkkosivuilla ei pidä antaa takuita käsikirjoituksen hyväksymisestä tai lupausta pikaisesti annettavasta arvioinnista.</li>

		<li><b>Omistussuhteet ja hallinto</b></br>
		 Julkaisukanavan omistajataho ja/tai hallinto on ilmoitettava selkeästi sen verkkosivuilla. Kustantaja ei saa käyttää toimijasta tai julkaisukanavasta nimeä, joka saattaisi antaa mahdollisille kirjoittajille, tekijöille ja toimittajille harhaanjohtavan kuvan julkaisun omistussuhteista.</li>
		
		<li><b>Hallintoelimet</b></br>
		Julkaisukanavalla on oltava toimituskunta tai muu hallintoelin, jonka jäsenet ovat julkaisukanavan kattamien aihealueiden tunnustettuja asiantuntijoita. Julkaisukanavan verkkosivuilla on annettava toimituskunnan tai muun hallintoelimen jäsenten täydelliset nimet ja affiliaatiot.</li>
		
		<li><b>Toimituskunta/yhteystiedot</b></br>
		 Julkaisukanavan verkkosivuilla on oltava toimittajien täydelliset nimet ja affiliaatiot sekä toimituksen yhteystiedot postiosoitteineen.</li>

		<li><b>Tekijänoikeudet ja lisenssit</b></br>
		Tekijänoikeuspolitiikka on ilmoitettava selvästi kirjoittajille ja tekijöille annetuissa ohjeissa, ja tekijänoikeuden haltijan nimi on oltava kaikissa julkaistuissa artikkeleissa. Samoin lisensointitiedot on kuvattava selvästi verkkosivuilla olevissa ohjeissa, ja lisensointiehtojen on oltava kaikissa sekä HTML- että PDF-muodossa julkaistuissa artikkeleissa. Jos kirjoittajilla on lupa julkaista Creative Commons -lisenssillä, kaikki erityiset lisenssivaatimukset on ilmoitettava. On myös kerrottava selvästi salliiko rinnakkaistallennuspolitiikka lopullisten hyväksyttyjen versioiden tai julkaistujen artikkelien tallentamisen ulkopuolisiin julkaisuarkistoihin.</li>
		
		<li><b>Kirjoittajilta ja tekijöiltä vaadittavat palkkiot</b></br>
		 Mikäli käsikirjoituksen käsittelystä ja/tai materiaalin julkaisemisesta julkaisukanavassa edellytetään palkkioita tai maksuja, tämä on ilmoitettava selvästi mahdollisten kirjoittajien ja tekijöiden helposti löydettävissä olevassa paikassa ennen kuin he jättävät käsikirjoituksensa arvioitavaksi, tai asia on selitettävä heille ennen kuin lähetettävää käsikirjoitusta aletaan työstää. Jos tällaisia palkkioita ei peritä, myös se on ilmoitettava selvästi.</li>
		
		<li><b>Tieteellistä vilppiä koskevien väitteiden tunnistaminen ja käsittely</b></br>
		 Kustantajien ja toimittajien on tehtävä kaikki kohtuulliset toimet, jotta hyvän tieteellisen käytännön loukkaukset tunnistetaan ja rikkeitä sisältävien artikkelien julkaiseminen estetään. Rikkomuksessa voi olla esimerkiksi kyse plagioinnista, viittausten manipuloinnista ja tietojen väärentämisestä tai sepittämisestä. Julkaisukanavan tai sen toimittajien ei pidä kannustaa missään olosuhteissa tällaiseen vilpilliseen käyttäytymiseen tai antaa sen tapahtua, mikäli ovat siitä tietoisia. Mikäli julkaisukanavan kustantajan tai toimittajien tietoon tulee epäily ao. julkaisukanavassa ilmestyneeseen artikkeliin liittyvästä rikkomuksesta, kustantajan tai toimittajan tulee noudattaa 
		<a href="https://publicationethics.org/resources/guidelines">COPE:n ohjeistusta</a> (tai vastaavaa) väitteiden käsittelyssä.</li>

		<li><b>Julkaisuetiikka</b></br>
		 Julkaisukanavalla on oltava myös julkaisueettiset toimintaperiaatteet. Niiden tulee olla selvästi näkyvillä verkkosivuilla ja niihin tulee sisältyä julkaisukanavan soveltamat: i) tekijyyttä koskevat periaatteet; ii) valitusten ja muutospyyntöjen käsittelyperiaatteet; iii) eturistiriitoja ja kilpailevia etuja koskevat toimintaperiaatteet; iv) tietojen jakamista ja toisintamista koskevat toimintaperiaatteet; v) eettisiä laiminlyöntejä koskevat toimintaperiaatteet; vi) immateriaalioikeuksia koskevat periaatteet; ja vii) vaihtoehtoiset tavat käydä julkaisunjälkeistä keskustelua ja tehdä korjauksia.</li>
		
		<li><b>Julkaisuaikataulu</b></br>
		 Julkaisukanavan ilmestymistiheys on ilmoitettava selkeästi.</li>
		
		<li><b>Saatavuus</b></br>
		 On ilmoitettava tapa tai tavat, joilla julkaisukanava ja yksittäiset artikkelit ovat lukijoiden saatavilla. Samalla on kerrottava liittyykö julkaisukanavaan tilausmaksu tai lukemiseen liittyvä kertamaksu.</li>
		
		<li><b>Arkistointi</b></br>
		 On annettava selvät tiedot julkaisukanavan suunnittelemasta sähköisestä varmuuskopioinnista ja arkistoinnista sekä siitä, miten julkaisun sisältöön pääseminen on mahdollista (esimerkiksi pääsy pääartikkeleihin CLOCKSS:in tai PubMedCentralin kautta) silloin, kun julkaisukanava ei enää ilmesty.</li>
		
		<li><b>Tulonlähteet</b></br>
		 Tiedot liiketoimintamalleista tai tulonlähteistä (esimerkiksi kirjoittajien ja tekijöiden maksamat palkkiot, tilaukset, mainonta, uudelleenpainatukset, institutionaalinen tuki ja järjestöjen tuki) on ilmoitettava selkeästi, tai tietojen tulee olla hyvin nähtävillä julkaisun verkkosivuilla. Julkaisemisesta perittävien palkkioiden tai maksuvapautuksen ei pitäisi vaikuttaa toimitukselliseen päätöksentekoon.</li>
		
		<li><b>Mainonta</b></br>
		 Julkaisukanavien tulee ilmoittaa mainontaa koskevat periaatteensa asiankuuluvin osin. Niiden tulee mm. kertoa, millaisia mainoksia voidaan harkita ja kuka päättää mainosten hyväksymisestä. Lisäksi on kerrottava, liittyvätkö mainokset sisältöön tai lukijan käyttäytymiseen (vain verkossa) vai tulevatko ne satunnaisesti näkyville. Mainosten ei pidä liittyä millään tavoin toimitukselliseen päätöksentekoon ja ne on pidettävä erillään julkaistusta sisällöstä.</li>
		
		<li><b>Suoramarkkinointi</b></br>
		 Julkaisukanavan markkinoinnin, johon voi kuulua myös käsikirjoitusten hankkiminen, tulee olla asiallista, kohdennettua ja häiritsemätöntä. Kustantajasta tai julkaisukanavasta annettavien tietojen odotetaan olevan totuudenmukaisia eikä lukijoita, kirjoittajia tai tekijöitä harhaanjohtavia.</li>
		</p>
		
<p>Mikäli jäsenjärjestön todetaan rikkoneen näitä parhaita käytänteitä tai muita järjestön erityisiä vaatimuksia, OASPA/DOAJ/COPE/WAME pyrkivät ensisijassa tekemään yhteistyötä asianomaisen kanssa ja näin puuttumaan esiinnousseisiin huolenaiheisiin. Mikäli jäsenjärjestö ei pysty tai ei ole halukas puuttumaan näihin esitettyihin ongelmiin, sen jäsenyys järjestössä voidaan lakkauttaa toistaiseksi tai pysyvästi.</p>

<p>OASPA:lla/DOAJ:lla/COPE:lla/WAME:lla on menettelytavat, joita käytetään jäsenkunnassa ilmenneiden ongelmien käsittelemiseksi.</p>

<p><i>Suomenkielinen versio julkaistiin DOAJ:ssa [Päiväys]</br>
Tuorein englanninkielinen versio julkaistiin DOAJ:ssa 15.1.2018</br>
Toinen versio julkaistiin DOAJ:ssa kesäkuussa 2015</br>
Ensimmäinen versio julkaistiin DOAJ:ssa 10.1.2014 </i></p>

<p>&nbsp;</p>
<p><i>Committee on Publication Ethics (COPE, <a href="https://publicationethics.org">
https://publicationethics.org</a>)</i></p>
<p>COPE tarjoaa toimittajille ja kustantajille neuvontaa kaikissa julkaisuetiikkaan kuuluvissa asioissa ja etenkin siinä, miten tutkimukseen ja julkaisuun liittyviä rikkomustapauksia tulisi käsitellä. Se on myös jäsentensä keskustelufoorumi, jolla voidaan käsitellä yksittäistapauksia. COPE ei itse tutki yksittäistapauksia, vaan kannustaa toimittajia varmistumaan siitä, että tapaukset päätyvät asianmukaisten tahojen tutkintaan (yleensä tutkimuslaitos tai työnantaja). Kaikkien COPE:n jäsenten odotetaan soveltavan COPE:n julkaisueettisiä periaatteita, joiden suuntaviivat sisältyvät sen keskeisiin käytänteisiin 
<a href="https://publicationethics.org/core-practices">core practices</a>.</p>

<p><i>Directory of Open Access Journals (DOAJ, <a href="https://doaj.org">https://doaj.org</a>)</i></p>
<p>DOAJ:n perustehtävänä on: järjestää, ylläpitää ja kehittää luotettava tiedonlähde tieteellisistä avoimista verkkojulkaisuista; varmistua siitä, että hakemistoon lisätyt julkaisut täyttävät kohtuulliset standardit; lisätä Open Access (OA)-julkaisukanavien näkyvyyttä, leviämistä, löydettävyyttä ja houkuttelevuutta; antaa tieteentekijöille, kirjastoille, yliopistoille, tiederahoittajille ja muille sidosryhmille mahdollisuus hyötyä tarjotusta tiedosta ja palveluista; helpottaa OA-julkaisukanavien pääsyä kirjasto- ja syötteenlukijapalveluihin; auttaa mahdollisuuksien mukaan kustantajia ja näiden julkaisukanavia täyttämään kohtuulliset sähköisen julkaisemisen standardit; ja täten tukea tiedeviestinnän ja -julkaisutoiminnan siirtymistä kohti mallia, joka palvelee tiedettä, yliopisto-opetusta, teollisuutta, innovaatiotoimintaa, yhteiskuntia ja kansalaisia. Toimintaansa harjoittamalla DOAJ tekee yhteistyötä kaikkien tähän samaan päämäärään tähtäävien osapuolten kanssa.</p>

<p><i>Open Access Scholarly Publishers Association 
(OASPA, <a href="https://oaspa.org">https://oaspa.org</a>)</i></p>
<p>OASPA on vuonna 2008 perustettu toimialayhdistys, jonka tarkoituksena on OA-kustantajien edun ajaminen globaalisti ja kaikilla tieteenaloilla. Kannustamalla yhteistyöhön asianmukaisten OA-julkaisemista tukevien liiketoimintamallien, välineiden ja standardien kehittämisessä OASPA:n tavoitteena on osaltaan varmistaa jäseniään ja niiden palvelujen kohteena olevia tiedeyhteisöjä hyödyttävä menestyksellinen ja kestävä tulevaisuus. Tätä tarkoitusta kohti pyritään tiedonvaihdon, standardien laatimisen, mallien edistämisen, etujen ajamisen, koulutuksen ja innovaatioiden edistämisen keinoin.</p>

<p><i>World Association of Medical Editors (WAME, <a href="http://www.wame.org">http://www.wame.org</a>)</i></p>
<p>WAME on voittoa tavoittelematon vertaisarvioitujen lääketieteellisten julkaisukanavien toimittajien vapaaehtoisjärjestö, joka pyrkii edistämään toimittajien välistä yhteistyötä ja viestintää; parantamaan toimitustyön standardeja; edistämään lääketieteellisen toimitustyön ammattimaisuutta koulutuksen, itsekriittisyyden ja itsesäätelyn avulla; ja kannustamaan lääketieteellisen toimittamisen periaatteisiin ja käytänteisiin kohdistuvaa tutkimustyötä. WAME kehittää lääketieteellisten julkaisukanavien toimittamiseen liittyviä toimintaperiaatteita ja suosituksia parhaista käytänteistä, ja sillä on toimittajille laadittu sisältöohjelma, jota jäsenten kehotetaan noudattavan.</p>

<p>Suomennos Bellcrest Käännökset Oy ja Tieteellisten seurain valtuuskunta</p>

{% endblock %}
