/* Alert boxes */

.alert {
  display: inline-block;
  padding: $spacing-03;
  margin: 0 0 $spacing-04 0;
  background-color: $fair-pink;

  svg {
    height: 1em;
    vertical-align: middle;
    stroke: $grapefruit;
  }
}
