/* Alert boxes */

.alert {
  padding: $spacing-03;
  margin: $spacing-02 0;
  background-color: $fair-pink;
  border: 1px dashed $grapefruit;
  @include typescale-06;

  &__close {
    float: right;
    cursor: pointer;
  }

  &--message {
    border: 1px solid $warm-black;
  }

  code {
    background-color: rgba($dark-grey, 0.1);
  }

  svg {
    height: 1em;
    vertical-align: middle;
    stroke: $grapefruit;
  }
}
