/* Alert boxes */

.alert {
  display: inline-block;
  padding: $spacing-03;
  margin: 0 0 $spacing-04 0;
  background-color: $fair-pink;
  @include typescale-06;

  code {
    background-color: rgba($dark-grey, 0.1);
  }

  svg {
    height: 1em;
    vertical-align: middle;
    stroke: $grapefruit;
  }
}
