/* Section or image bleed / overflowing */
/* Use sparsely for hero sections / emphasis */

.bleed {
  z-index: 10;
  @media (min-width: 992px) {
    margin-right: -264px;
    width: 970px - 60px;
  }

  @media (min-width: 1200px) {
    margin-right: -330px;
    width: 1170px - 60px;
  }
}
