/* Blog posts */

.blog-post {
  margin-bottom: $spacing-05;
  @include typescale-06;
}

.blog-post__link {
  display: block;
  text-decoration: none;
}

.blog-post__title {
  margin-top: $spacing-03;
}

// Featured / latest article

.blog-post--featured {
  padding: $spacing-04;
  background-color: $fair-pink;
  text-align: center;
}
