/* Buttons */

[type="button"] {
  cursor: pointer;
}

button,
input[type="button"],
.button {
  display: inline-block;
  padding: $spacing-02 $spacing-03;
  margin: 0;
  transition: all 0.15s ease;
  width: auto;
  border: 1px solid $warm-black;
  background: $fair-pink;
  cursor: pointer;
  vertical-align: middle;
  white-space: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: smaller;
  color: $warm-black;

  &:hover,
  &:active,
  &:focus {
    border-color: $warm-black;
    background-color: $warm-black;
    color: $warm-white;
  }

  svg {
    position: relative;
    top: 0.1em;
    height: 1em;
  }
}

input[type="submit"],
button[type="submit"] {
  background-color: $warm-black;
  color: $warm-white;
}

button:disabled,
button[disabled],
input[disabled] {
  background-color: $fair-pink;
  border-color: $fair-pink;
  color: $dark-grey;
  font-style: italic;
}

// "Flat 3D"-style buttons for CTA buttons only
.button--primary {
  position: relative;
  left: 0;
  top: 0;
  transition: all 0.15s ease;
  border-color: $sanguine;
  box-shadow: $spacing-01 $spacing-01 0 0 $sanguine;
  background-color: $warm-white;
  color: $sanguine;

  &:hover,
  &:active,
  &:focus {
    left: $spacing-01;
    top: $spacing-01;
    box-shadow: 0 0 0 0 $sanguine;
    background-color: $sanguine;
    border-color: $sanguine;
  }
}

input[type="submit"],
button[type="submit"] {
  background-color: $grapefruit;
  border-color: $grapefruit;
  color: $warm-black;

  &:hover,
  &:active,
  &:focus {
    background-color: $grapefruit;
    border-color: $grapefruit;
    color: $warm-black;
  }
}

.button--secondary {
  position: relative;
  left: 0;
  top: 0;
  transition: all 0.15s ease;
  border-color: $warm-black;
  box-shadow: $spacing-01 $spacing-01 0 0 $warm-black;
  color: $warm-black;

  &:hover,
  &:active,
  &:focus {
    left: $spacing-01;
    top: $spacing-01;
    box-shadow: 0 0 0 0 $warm-black;
  }
}
