/* Buttons */

input[type="submit"],
button[type="submit"] {
  padding-left: $spacing-03;
  padding-right: $spacing-03;
  background-color: $grapefruit;
  border-color: $grapefruit;
  color: $warm-black;
}

button:disabled,
button[disabled] {
  background-color: $fair-pink;
  border-color: $fair-pink;
  color: $dark-grey;
  font-style: italic;
}

/* With icons */

button svg {
  position: relative;
  top: 0.1em;
  height: 1em;
}

/* 3D buttons */

.button {
  box-shadow: none;
  padding: $spacing-02;
  margin-bottom: $spacing-04;
  position: relative;
  display: inline-block;
  border: 1px solid;
  top: 0.25em;
  bottom: -0.25em;
  right: -0.25em;
  left: 0.25em;
  transition: all 90ms ease-in;
  text-decoration: none;
}

.button:before {
  outline: 1px solid $sanguine;
  background: $warm-white;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -0.25em;
  bottom: 0.25em;
  right: 0.25em;
  left: -0.25em;
  z-index: -5;
  transition: all 90ms ease-in;
}

.button:hover,
.button:active,
.button:focus {
  box-shadow: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.button:hover:before,
.button:active:before,
.button:focus:before {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* Primary button */

.primary-button {
  background: $sanguine;
  color: $warm-white;
  border-color: $sanguine;
}

.primary-button:hover,
.primary-button:active,
.primary-button:focus {
  color: $warm-white;
}

/* Secondary button */

.secondary-button {
  background: $warm-white;
  border-color: $sanguine;
  color: $sanguine;
}

.secondary-button:hover,
.secondary-button:active,
.secondary-button:focus {
  color: $sanguine;
}
