.container {
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 768px) {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (max-width: 1279px) and (min-width: 769px) {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (max-width: 1479px) and (min-width: 1280px) {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1480px) {
    width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}
