.editorial-panel {
  max-height: 50vh;
  overflow-y: scroll;

  select, textarea, input {
    width: 100%;
  }

  fieldset {
    margin: 0;
    padding: $spacing-03 0;
    border-top: 1px dashed rgba($dark-grey, 0.5);

    &:first-of-type {
      border: 0;
    }
  }

  @media (min-width: 992px) {
    position: fixed;
    max-height: 75vh;

    select, textarea, input, label, p {
      width: 20vw;
    }
  }
}
