.editorial-panel {
  margin-top: 0;
  max-height: 60vh;
  overflow-y: scroll;

  select, textarea, input {
    width: 100%;
  }

  @media (min-width: 992px) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: 70vh;

    select, textarea, input, label, p {
      width: 20vw;
    }
  }
}
