.editorial-panel {
  max-height: 75vh;
  overflow-y: scroll;

  fieldset {
    margin: 0;
    padding: $spacing-03 0;
    border-top: 1px dashed rgba($dark-grey, 0.5);

    &:first-of-type {
      border: 0;
    }
  }

  select, textarea, input {
    width: 20vw;
  }
}
