.editorial-panel {
  margin-top: 0;

  select, textarea, input {
    width: 100%;
  }

  @media (min-width: 992px) {
    position: -webkit-sticky;
    position: sticky;
    top: 55px; // sticky header + 5px

    &__save {
      position: sticky;
      top: 0;
    }

    &__content {
      max-height: 70vh;
      overflow-y: scroll;
    }

    select, textarea, input, label, p {
      width: 20vw;
    }
  }
}
