/* General form styles
   Question = groups paragraph text, label, input for a single question */

.form__header {
 padding-bottom: $spacing-03;
 border-bottom: 1px solid rgba($dark-grey, 0.5);

}

.form__question {
 margin: $spacing-05 0;

 p, label {
   margin-bottom: $spacing-03;
   @include typescale-04;
 }

 small {
   display: block;
   margin-top: -$spacing-02;
   color: $dark-grey;
   font-size: 1rem;
 }

 input, select {
   width: 75%;

   &[type="number"] {
     width: 25%;
   }
 }

 input[type="checkbox"] + label,
 input[type="radio"] + label {
   font-size: 1rem;
 }
}

.form__question--optional {
  color: rgba($dark-grey, 0.5);
  font-size: 1rem;
}

.form__subquestion {
  display: none;
  margin-top: -$spacing-04;
  padding-left: $spacing-04;
  border-left: 1px solid $sanguine;
}

.form__long-help {
  cursor: pointer;

  &:hover {
    stroke: $grapefruit;
  }
}
