/* Lists in which each item is bordered & takes up full-width of page
/* Use with single-level lists only */

.full-width-list {
  padding: 0;
  margin: 0 0 $spacing-04 0;
  list-style: none;
}

.full-width-list__item {
  padding: 0;
  border-bottom: 1px solid $grapefruit;

  &:last-of-type {
    border: 0;
  }

  a {
    text-decoration: none;
  }
}

.full-width-list__link,
.full-width-list__item {
  padding: $spacing-03 0;
  display: block;
  text-decoration: none;
}
