/* Ordered list with large numbers */

.highlighted-list {
  width: 100%;
  @include unstyled-list;

  > li {
    counter-increment: item;
    border-bottom: 1px solid $grapefruit;
    margin: 0;
    padding: $spacing-04 0;
    font-weight: 400;
    @include font-serif;
    @include typescale-02;

    &:last-of-type {
      border: 0;
    }

    &:before {
      content: "0"counter(item)" ";
    }
  }
}
