/* Input groups */

.input-group {
  margin: 0 0 1rem 0;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  border-collapse: separate;
  width: 100%;

  &:last-of-type {
    margin: 0;
  }

  input[type="number"] {
    width: 75%;
  }
}

.input-group-authors {
  flex-flow: column;
}

.input-group__input {
  position: relative;
  z-index: 2;
  margin-bottom: 0;

  &:not([type="submit"]) {
    flex-grow: 1;
  }

  &:not(:first-child) {
    margin-left: -1px;
  }
}
