/* Input groups */

.input-group {
  margin: 1rem 0;
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group input,
.input-group select {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  display: table-cell;
}

.form-question {
  margin: $spacing-05 0;
}
