/* Tags, disciplines, labels... */

.label {
  margin-bottom: $spacing-02;
  text-transform: uppercase;
  line-height: 1.15;
  font-weight: 600;
  color: $sanguine;
  font-size: smaller;
  letter-spacing: 0.05em;
}
