/* Navigation bar */

.nav-bar {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 50px;
  @include typescale-06;

  .feather {
    top: 0.125em;
    height: 15px;
  }

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.nav-bar__link {
  display: block;
  line-height: 50px;
}
