/* Previous / next buttons on the same line */

.pager-buttons {
  margin-top: $spacing-05;
  padding-bottom: $spacing-05;
  width: 100%;
}

.pager-buttons__left,
.pager-buttons__center,
.pager-buttons__right {
  padding: 0.5em $spacing-03;
  border: 1px solid;
  text-decoration: none;
}

.pager-buttons__left {
  float: left;
  border: 1px solid $dark-grey;
  background: $dark-grey;
  color: $fair-pink;

  &:hover,
  &:focus,
  &:active {
    border-color: $warm-black;
    background: $warm-black;
  }
}

.pager-buttons__center {
  float: right;
  margin-right: $spacing-02;
  border: 1px solid $warm-black;
  background: transparent;
  color: $warm-black;

  &:hover,
  &:focus,
  &:active {
    background: $warm-black;
    color: $warm-white;
  }
}

.pager-buttons__right {
  float: right;
  border-color: $grapefruit;
  background: $grapefruit;
  color: $warm-black;

  &:hover,
  &:focus,
  &:active {
    border-color: $sanguine;
    background: $sanguine;
    color: $warm-white;
  }
}
