/* Portraits / photographs of people
   Used in biographies, profiles... */

.portrait {
  position: relative;
  margin: $spacing-02 0 $spacing-04 0;
  background-color: rgba($sanguine, 0.25);
  border: 1px solid $sanguine;
}

.portrait__img {
  mix-blend-mode: multiply;
}

.portrait__img--split {
  width: 50%;
}

.portrait__img--empty {
  height: $spacing-06 * 2;
}

.portrait__bg-img--3d {
  position: relative;
  width:  100%;
  height: $spacing-06 * 2;
  background-size: cover;
  background-position: center;
  border: 1px solid $sanguine;
  top: $spacing-02;
  bottom: -$spacing-02;
  right: -$spacing-02;
  left: $spacing-02;
  background-color: $sanguine;
  color: $warm-white;
}
