/* SERP / search result pages */

.search-results {
  padding-left: 0;
  margin-left: 0;
  list-style: none;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.search-results__record {
  display: block;
  padding: $spacing-04;
  margin-bottom: $spacing-04;
  background-color: $fair-pink;
  @include typescale-06;
}

.search-results__main {
  @media (min-width: 769px) {
    border-right: 1px dashed rgba($dark-grey, 0.25);
  }
}

.search-results__heading {
  margin: 0 0 $spacing-03 0;
  font-weight: 600;
  @include typescale-02;

  svg {
    margin-left: $spacing-01;
    vertical-align: middle;
  }

  a {
    display: block;
    text-decoration: none;

    &:hover, &:active, &:focus {
      color: $grapefruit;
    }
  }
}

.search-results__subheading {
  color: rgba($warm-black, 0.65);
  font-weight: 400;
}

.search-results__body {

  ul {
    @include unstyled-list;
  }
}

.search-results__aside {
  border: 0;
  color: $dark-grey;

  ul {
    @include unstyled-list;
  }

  a {
    color: $dark-grey;
  }

  @media (max-width: 768px) {
    margin-top: $spacing-03;
  }
}
