.search-options {
  padding-bottom: $spacing-04;

  label {
    display: block;
    margin-bottom: $spacing-02;
  }
}

.search-options__right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
