.search-options {
  padding-bottom: $spacing-04;

  label {
    display: block;
    margin-bottom: $spacing-02;
  }
}

.search-options__right {
  @media (min-width: 769px) {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}
