/* SERP / search result pages */

.search-results {
  padding-left: 0;
  margin-left: 0;
  list-style: none;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.search-results__display {
  padding-bottom: $spacing-04;

  label {
    display: block;
    margin-bottom: $spacing-02;
    font-size: smaller;
  }

  select {
    font-size: smaller;
  }
}

.search-results__record {
  display: block;
  padding: $spacing-04 0;
  border-top: 1px solid rgba($warm-black, 0.5);
  @include typescale-06;

  &:first-of-type {
    border: 0;
  }
}

.search-results__main {
  border-right: 1px dashed rgba($dark-grey, 0.25);
}

.search-results__heading {
  margin: $spacing-03 0;

  svg {
    margin-left: $spacing-01;
    vertical-align: middle;
  }

  span {
    &:nth-of-type(1) {
      font-weight: 600;
    }

    &:nth-of-type(2) {
      color: rgba($warm-black, 0.65);
      font-weight: 400;
    }
  }
  
  a {
    display: block;
    text-decoration: none;

    &:hover, &:active, &:focus {
      color: $grapefruit;
    }
  }
}

.search-results__body {

  ul {
    @include unstyled-list;
  }
}

.search-results__aside {
  border: 0;
  color: $dark-grey;

  ul {
    @include unstyled-list;
  }

  a {
    color: $dark-grey;
  }

  @media (max-width: 768px) {
    margin-top: $spacing-03;
  }
}
