/* Bottom / secondary nav */

.secondary-nav {
  padding-top: 50px;

  .nav-bar {
    border-bottom: 1px solid $dark-grey;
  }
}

.secondary-nav__header {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  @include font-sans;
}

.secondary-nav--precedes-highlight {
  background-color: $fair-pink;
}

.secondary-nav__login {
  margin-left: 40%;
}

.secondary-nav__menu-toggle {
  display: none;
}

// Mobile / hamburger menu

@media (max-width: 768px) {
  .secondary-nav__menu {
    max-height: 0;
    overflow: hidden;
    display: block;

    li {
      margin-left: 0;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-tap-highlight-color: transparent;

      a {
        padding: $spacing-04 0;
        display: block;
        line-height: 1;
        border-bottom: 1px solid rgba($dark-grey, 0.5);
      }

      &:last-child a {
        border: 0;
      }
    }
  }

  .secondary-nav__menu-toggle {
    display: inline-block;
    padding: $spacing-03 0;
    color: $warm-black;
    stroke: $warm-black;

    svg {
      margin-top: -$spacing-01;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .secondary-nav__menu-toggle--is-active {
    max-height: 100%;
    height: auto;
  }

  .secondary-nav__login {
    margin-left: 0;
  }


  // Dropdown
  .open {
    > .dropdown__menu {
    position: static;
    float: none;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $dark-grey;
   }

   > .dropdown__trigger {
     font-weight: 600;
   }

   a {
     text-transform: uppeercase;
     font-weight: 600;
   }
  }


  .dropdown__link:before {
    content: "— ";
  }
}
