/* Tags */

.tag {
  display: inline-block;
  margin: 0 $spacing-03 $spacing-03 0;
  padding: $spacing-01 $spacing-03;
  border-radius: 9999px; // hack-y way to create pill shape
  background: $warm-black;
  color: $warm-white;
  text-decoration: none;
  @include typescale-06;

  svg {
    position: relative;
    padding-right: $spacing-01;
    top: 2px;
    stroke: $warm-white;
  }

  &:hover, &:focus, &active {

    svg {
      stroke: $grapefruit;
    }
  }
}

.tag--featured {
  background: $grapefruit;
  color: $warm-black;

  svg {
    stroke: $warm-black;
  }

  &:hover, &:focus, &active {
    background: $sanguine;
    color: $warm-white;

    svg {
      stroke: $warm-white;
    }
  }
}
