/* Tags */

.tags {
  @include unstyled-list($inline: true);
}

.tag {
  display: inline-block;
  margin: 0 $spacing-03 $spacing-03 0;
  padding: $spacing-01 $spacing-03;
  border-radius: 9999px; // hack-y way to create pill shape
  background: $warm-black;
  color: $warm-white;
  text-decoration: none;
  @include typescale-06;

  a {
    text-decoration: none;
    color: $warm-white;

    &:hover, &:focus, &:active {
      color: $grapefruit;

      svg {
        stroke: $grapefruit;
      }
    }
  }

  svg {
    position: relative;
    padding-right: $spacing-01;
    top: 2px;
    stroke: $warm-white;
  }
}

.tag--featured {
  background: $grapefruit;
  color: $warm-black;

  a {
    color: $warm-black;

    &:hover, &:focus, &:active {
      color: $warm-white;

      svg {
        stroke: $warm-white;
      }
    }
  }

  svg {
    stroke: $warm-black;
  }

  &:hover, &:focus, &:active {
    background: $sanguine;
    color: $warm-white;
  }
}

.tag--secondary {
  background: $fair-pink;
  color: $warm-black;

  a, svg {
    color: $warm-black;
    stroke: $warm-black;
  }
}
