/* List of titles (journals, articles, posts ...)
   In 2+ columns */

.title-list {
  padding-left: 0;
  list-style: none;
  @include typescale-06;
}

.title-list__link,
.title-list__text {
  display: block;
  margin-bottom: $spacing-04;
  padding: $spacing-03 0;
  border-top: 1px dashed $sanguine;
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.title-list__para {
  margin-bottom: $spacing-02;
}

.title-list__link {
  &:hover,
  &:focus,
  &:active {
    border-top-style: solid;
  }
}

.title-list__link--is-highlighted {
  border-top: 1px dashed $grapefruit;
}

.title-list__heading {
  padding-top: 0;
  margin-top: $spacing-02;
  margin-bottom: $spacing-03;
  font-weight: 400;
  @include typescale-04;
}
