/* Fonts mixins */

@mixin font-serif {
  font-family: 'Spectral', serif;
  letter-spacing: -0.03em;
}

@mixin font-sans {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.015em;
}

@mixin font-monospace {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: normal;
}
