/* Variables for colour palette */

// Greyscale
$warm-black:        #282624;
$dark-grey:         #5C5956;
$warm-white:        #FFF;

// Primary
$sanguine:          #982E0A;
$grapefruit:        #FD5A3B;
$fair-pink:         #F8F3EF;

// Secondary
$dark-green:        #3A5959;
$mid-green:         #47A178;
$light-green:       #A3C386;
$yellow:            #F9D950;

// Tiers
$gold:              #D6AF36;
$silver:            #A7A7AD;
$bronze:            #A77044;

:root {
  --warm-black:     #282624;
  --dark-grey:      #5C5956;
  --warm-white:     #FEFBF8;

  --sanguine:       #982E0A;
  --grapefruit:     #FD5A3B;
  --fair-pink:      #F8F3EF;

  --dark-green:     #3A5959;
  --mid-green:      #3A5959;
  --light-greeen:   #F9D950;
  --yellow:         #F9D950;
}
