/* Variables for colour palette */

// Greyscale
$warm-black:        #282624;
$dark-grey:         #5C5956;
$light-grey:        #F6F4F4;
$white:             #FFF;

// Primary
$sanguine:          #982E0A;
$grapefruit:        #FD5A3B;

// Secondary
$dark-green:        #3A5959;
$mid-green:         #47A178;
$light-green:       #A3C386;
$yellow:            #F9D950;

// Tiers
$gold:              #D6AF36;
$silver:            #A7A7AD;
$bronze:            #A77044;

:root {
  --warm-black:     #282624;
  --dark-grey:      #5C5956;
  --light-grey:     #F6F4F4;
  --white:          #FFF;

  --sanguine:       #982E0A;
  --grapefruit:     #FD5A3B;

  --dark-green:     #3A5959;
  --mid-green:      #3A5959;
  --light-greeen:   #F9D950;
  --yellow:         #F9D950;
}
