/* Variables for spacing units
   Use with margins & padding
   Base unit: 1rem */

$spacing-01: 0.25rem;
$spacing-02: 0.5rem;
$spacing-03: 1rem;
$spacing-03a: 1.25rem;
$spacing-03--negative: -.75rem;
$spacing-04: 1.75rem;
$spacing-04a: 2.5rem;
$spacing-05: 3.75rem;
$spacing-06: 7.5rem;
$spacing-07: 15rem;