/* Variables for spacing units
   Use with margins & padding
   Base unit: 1rem */ // adjust_values.py

$spacing-01: 0.25rem; // adjust_values.py
$spacing-02: 0.5rem; // adjust_values.py
$spacing-03: 1rem; // adjust_values.py
$spacing-03a: 1.25rem;
$spacing-04: 1.75rem; // adjust_values.py
$spacing-04a: 2.5rem; // adjust_values.py
$spacing-05: 3.75rem; // adjust_values.py
$spacing-06: 7.5rem; // adjust_values.py
$spacing-07: 15rem; // adjust_values.py