/* Variables for typescale */

$typescale-01: 2.25rem;
$typescale-02: 2rem;
$typescale-03: 1.75rem;
$typescale-04: 1.5rem;
$typescale-05: 1.25rem;
$typescale-06--bigger: 1.1rem;
$typescale-06: 1rem;
$typescale-07: 0.9rem;
