/* Mixins for typescale in minor second
   Use with headings and text only
   Base unit: 16px */

@mixin typescale-01 {
  font-size: 1.802em;
}

@mixin typescale-02 {
  font-size: 1.602em;
}

@mixin typescale-03 {
  font-size: 1.424em;
}

@mixin typescale-04 {
  font-size: 1.266em;
}

@mixin typescale-05 {
  font-size: 1.125em;
}

@mixin typescale-06 {
  font-size: .889em;
}
