{% if current_journal %}
<h2 class="alert">
  <span data-feather="alert-triangle" aria-hidden="true"></span>
  The following fields have changed:
</h2>

<table>
  <thead>
    <tr>
      <th style="width: 30%"></th>
      <th style="width: 35%;">Previous</th>
      <th style="width: 35%;">New</th>
    </tr>
  </thead>
  <tbody>
    {% for k, v in form_diff.items() %}
    {% set previous = v['a'] %}
    {% set new = v['b'] %}
    <tr>
      <td>
        <a href="#{{ k }}">{{ k }}</a>
      </td>
      <td>
        {# FIXME: Probably not a great way to find all diffs of URLs #}
        {% if k.endswith('_url') %}
          {% if previous == None or previous == [] %}
            <em>[Nothing]</em>
          {% else %}
            <a href="{{ previous }}" target="_blank" rel="noopener" style="word-break: break-all">
              {{ previous }}
            </a>
          {% endif %}

        {# FIXME: Also not a super nice way to show APCs? #}
        {% elif k == 'apc_charges' %}
          {% if previous == None or previous == [] %}
            <em>[Nothing]</em>
          {% else %}
            {{ previous[0]['apc_currency'] }} {{ previous[0]['apc_max'] }}
          {% endif %}

        {% else %}
          {% if previous == None or previous == [] %}
            <em>[Nothing]</em>
          {% elif previous == 'y' %}
            Yes
          {% elif previous == 'n' %}
            No
          {% else %}
            {{ previous }}
          {% endif %}

        {% endif %}
      </td>
      <td>
        {# FIXME: Probably not a great way to find all diffs of URLs #}
        {% if k.endswith('_url') %}
          {% if new == None or new == [] %}
            <em>[Nothing]</em>
          {% else %}
            <a href="{{ new }}" target="_blank" rel="noopener" style="word-break: break-all">
              {{ new }}
            </a>
          {% endif %}

        {# FIXME: Also not a super nice way to show APCs? #}
        {% elif k == 'apc_charges' %}
          {% if new == None or new == [] %}
            <em>[Nothing]</em>
          {% else %}
            {{ new[0]['apc_currency'] }} {{ new[0]['apc_max'] }}
          {% endif %}

        {% else %}
          {% if new == None or new == [] %}
            <em>[Nothing]</em>
          {% elif new == 'y' %}
            Yes
          {% elif new == 'n' %}
            No
          {% else %}
            {{ new }}
          {% endif %}

        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
