<div class="row">
    <div class="col-md-6">
        <section class="form-area">
            <div class="row">
                <div class="col-xs-12">
                    <section class="form-panel-left with-borders">
                        <h3>Basic Journal Information</h3>
                        {% autoescape off %}
                        {{ form_context.render_field_group("basic_info", group_cfg={"label_width" : 4}) }}
                        {% endautoescape %}
                    </section>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="form-area">
            <div class="row">
                <div class="col-xs-12">
                    <section class="form-panel-right with-borders">
                        <h3>Quality and Transparency of the Editorial Process</h3>
                        {% autoescape off %}
                        {{ form_context.render_field_group("editorial_process", group_cfg={"label_width" : 4}) }}
                        {% endautoescape %}
                    </section>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <section class="form-panel-right with-borders">
                        <h3>How Open is the Journal?</h3>
                        <p>Please remember that <strong>all</strong> the content of the journal you are applying about <strong>must</strong> be available <strong>immediately</strong> upon publication.</p>
                        {% autoescape off %}
                        {{ form_context.render_field_group("openness", group_cfg={"label_width" : 4}) }}
                        {% endautoescape %}
                    </section>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <section class="form-panel-right with-borders">
                        <h3>Content Licensing</h3>
                        <p style="margin-bottom: 1em">
                            <a href="{{ url_for('doaj.rights') }}" target="_blank">Copyright &amp; Licensing help</a>
                        </p>

                        {% autoescape off %}
                        {{ form_context.render_field_group("content_licensing", group_cfg={"label_width" : 4}) }}
                        {% endautoescape %}
                    </section>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <section class="form-panel-right with-borders">
                        <h3>Copyright and Permissions</h3>
                        <p style="margin-bottom: 1em">
                            <a href="{{ url_for('doaj.rights') }}" target="_blank">Copyright &amp; Licensing help</a>
                        </p>

                        {% autoescape off %}
                        {{ form_context.render_field_group("copyright", group_cfg={"label_width" : 4}) }}
                        {% endautoescape %}
                    </section>
                </div>
            </div>

            {% if include_doaj_seal %}
            <div class="row">
                <div class="col-xs-12">
                    <section class="form-panel-right with-borders">
                        {% include 'formcontext/_seal_content.html' %}
                    </section>
                </div>
            </div>
            {% endif %}
        </section>
    </div>
</div>
