            <fieldset>
                {{ render_field_horizontal(form.title) }}
                {{ render_field_horizontal(form.fulltext) }}
                {{ render_field_horizontal(form.doi) }}



                <h2 class="form__header">Authors</h2>
                <div class="form-group{% if author_error %} error{% endif %} authors">
                    <div>
                        {% for subfield in form.authors %}
                            <div id="{{subfield.short_name}}-container">
                                {% for field in subfield.form %}
                                    <div class="form__question">
                                       <label>{{field.label.text | safe}}</label>
                                        {% if field.label.text == "ORCID iD" %}
                                            {{field(placeholder="https://orcid.org/0000-0000-0000-0000")}}
                                        {% else %}
                                            {{field}}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                {% for error in subfield.errors %}
                                    <div class="error" style="width: 200%">
                                        <ul class="errors" style="padding-left: 15px">
                                            <li>{{ subfield.errors.get(error)[0] }}</li>
                                        </ul>
                                    </div>
                                {% endfor %}
                                <button type="submit" id="remove_{{subfield.short_name}}" name="remove_{{subfield.short_name}}" class="remove_field__button">
                                  Remove Author
                                </button>
                            </div>
                        {% endfor %}
                        <div class="add_field__button_div">
                            <div class="add_field__button_div">
                                <button type="submit" class="add_field__button" name="more_authors">
                                    Add More Authors
                                </button>
                            </div>
                        </div>
                        {% if author_error %}
                            <div class="error">
                                <ul class="errors">
                                    <li>Please provide at least one author</li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>

            <h2 class="form__header">Publication date</h2>
              <div class="form__question">
                <div class="input-group">
                  <div class="input-group__input">
                      {{ render_field_horizontal(form.publication_month) }}
                  </div>
                  <div class="input-group__input">
                    {{ render_field_horizontal(form.publication_year) }}
                  </div>
                </div>
              </div>

            <h2 class="form__header">ISSNs</h2>
              <div class="form__question">
                <div class="input-group">
                  <div class="input-group__input">
                    {{ render_field_horizontal(form.pissn)}}
                  </div>
                  <div class="input-group__input">
                    {{ render_field_horizontal(form.eissn) }}
                  </div>
                </div>
              </div>

            <h2 class="form__header">Journal</h2>
              <div class="form__question">
                <div class="input-group">
                  <div class="input-group__input">
                    {{ render_field_horizontal(form.volume)}}
                  </div>
                  <div class="input-group__input">
                    {{ render_field_horizontal(form.number) }}
                  </div>
                </div>
              </div>

            <h2 class="form__header">Page(s)</h2>
              <div class="form__question">
                <div class="input-group">
                  <div class="input-group__input">
                    {{ render_field_horizontal(form.start)}}
                  </div>
                  <div class="input-group__input">
                    {{ render_field_horizontal(form.end) }}
                  </div>
                </div>
              </div>

                {{ render_field_horizontal(form.abstract) }}
                {{ render_field_horizontal(form.keywords) }}


            </fieldset>
