{% extends "editor/editor_base.html" %}

{% block editor_content %}

{# NOTE: requires suggestions_and_journals.js to be enabled (see _js_includes.html) #}

{# include the title and the "unlock and close" feature #}
{% set object_type = 'journal' %}
{% set heading_object_type = 'Journal' %}
{% include 'formcontext/_lockable_header.html' %}

<form method="post" action="#first_problem" class="form-horizontal wide application_journal_form" id="suggest_form">
    {% if form_context.errors %}
    <h4 class="red form-status">There is a problem with the submitted form.</h4>
    {% endif %}

    <fieldset>

        <div class="row">

            <div class="col-md-6">
                <div class="row">

                    <div class="col-md-12 with-borders form-section" style="margin-left: 0;">
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-success save-record" type="submit">SAVE</button>
                            </div>
                        </div>
                    </div>

                    {% set old_journal_field_html = form_context.render_field_group("old_journal_fields") %}
                    {% if old_journal_field_html %}
                        <div class="col-md-12 with-borders form-section" style="margin-left: 0;">
                            <h3 class="heading-aligned-with-fields">Old journal information</h3>
                            {% autoescape off %}
                            {{ old_journal_field_html }}
                            {% endautoescape %}
                        </div>
                    {% endif %}
                </div>
            </div>


            <div class="col-md-6 with-borders form-section" id="subjects_outer_container">
                <h3>Subject classification</h3>

                <div class="control-group left-aligned">
                    <label class="control-label">Current subjects:</label>
                    <div class="controls" style="margin-top: 5px">
                        <p>{{ subjectstr }}</p>
                    </div>
                </div>

                <div id="subject_tree_container">
                    <div id="subject_tree"></div>
                    {% autoescape off %}
                    {{ form_context.render_field_group("subject") }}
                    {% endautoescape %}
                </div>

            </div>

        </div>


        {# include the base application form which contains all the biblio data #}
        {% set include_doaj_seal = False %}
        {% include 'formcontext/_base_journal_form.html' %}

        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 with-borders form-section">
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success save-record" type="submit">
                            SAVE
                        </button>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">

            <div class="col-md-12 with-borders form-section">
                <h3>Notes</h3>
                <p><strong>Notes are presented in descending date order: the most recent notes appear at the top.</strong></p>
                <div class="addable-field-container" id="notes-outer-container">
                    {% autoescape off %}
                    {{ form_context.render_field_group("notes") }}
                    {% endautoescape %}
                </div>
            </div>

        </div>

    </fieldset>
</form>
{% endblock %}

{% block extra_js_bottom %}
<script type="text/javascript">
    var notes_deletable = false;
</script>
{% endblock extra_js_bottom %}
