{% extends "base.html" %}

{% block content %}


{# include the title and the "unlock and close" feature #}
{% set object_type = 'suggestion' %}
{% set heading_object_type = 'Application' %}
{% include 'formcontext/_lockable_header.html' %}

{# include the table for comparing applications with journals that have changed #}
{% include 'formcontext/_application_diff.html' %}

<form method="post" action="#first_problem" class="form-horizontal application_journal_form" id="suggest_form">
    {% if form_context.errors %}
    <h4 class="red form-status">There is a problem with the submitted form.</h4>
    {% endif %}

    <div class="row">
        <div class="col-xs-6">

            <section class="form-area">
                {% include 'formcontext/_editorial_panel.html' %}
                {% include 'formcontext/_save_panel.html' %}
                {% include 'formcontext/_application_status_panel.html' %}
            </section>

        </div>

        <div class="col-xs-6">
            {% include 'formcontext/_subject_area.html' %}
        </div>

    </div>


    {# include the base application form which contains all the biblio data #}
    {% include 'formcontext/_base_application_form.html' %}

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            {% include 'formcontext/_applicant_area.html' %}
        </div>
    </div>

    {% include 'formcontext/_notes_area.html' %}

</form>
{% endblock %}

{% block extra_js_bottom %}
<script type="text/javascript">
    var notes_deletable = false;

    // When the header says the form can't be edited, disable the save buttons.
    if ($("#info_header").text()) {
        $(".btn-success").prop('disabled', true);
    }
</script>
{% endblock extra_js_bottom %}
