<fieldset>
    {{ render_field_horizontal(form.title, style="width: 400px", placeholder="Enter the article title here") }}
    {{ render_field_horizontal(form.doi, style="width: 300px", placeholder="10.1234/article-32") }}

    <div class="form-group{% if author_error %} error{% endif %}">
        <label class="control-label col-md-3">Author(s) <span class="red">*</span></label>
        <div class="col-md-9">
        {% for subfield in form.authors %}
            <div style="margin-bottom: 10px" id="{{subfield.short_name}}-container">
            {% for field in subfield.form %}
                {{field.label.text | safe}}&nbsp;{{field(placeholder=field.label.text)}}
            {% endfor %}
            <button type="submit" id="remove_{{subfield.short_name}}" name="remove_{{subfield.short_name}}" class="btn btn-danger remove_button">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-info" name="more_authors" value="Add More Authors">
        {% if author_error %}
        <ul class="errors">
            <li>Please provide at least one author</li>
        </ul>
        {% endif %}
        </div>
    </div>

    {{ render_field_horizontal(form.abstract, classes="form-control", style="width: 400px; height: 200px", placeholder="Enter the abstract here") }}
    {{ render_field_horizontal(form.keywords, style="width: 400px", placeholder="Enter some keywords for the article") }}
    {{ render_field_horizontal(form.fulltext, style="width: 400px", placeholder="URL to the fulltext of the article") }}

    <div class="form-group">
        <label class="control-label col-md-3">Publication Date</label>
        <div class="col-md-9">
            {{form.publication_month(style="width: 75px")}}
            {{form.publication_year(style="width: 100px")}}
        </div>
    </div>

    {{ render_field_horizontal(form.pissn, style="width: 250px", required=True) }}
    {{ render_field_horizontal(form.eissn, style="width: 250px", required=True) }}

    <div class="form-group">
        <label class="control-label col-md-3">Journal</label>
        <div class="col-md-9">
            Volume&nbsp;{{form.volume(style="width: 75px", placeholder="Vol")}}&nbsp;&nbsp;&nbsp;&nbsp;
            Issue Number&nbsp;{{form.number(style="width: 75px", placeholder="Issue")}}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">Page(s)</label>
        <div class="col-md-9">
            Start&nbsp;{{form.start(style="width: 75px", placeholder="Start")}}&nbsp;&nbsp;&nbsp;&nbsp;
            End&nbsp;{{form.end(style="width: 75px", placeholder="End")}}
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-9 col-md-offset-3"><button class="btn btn-success" type="submit">Add Article</button></div>
    </div>

</fieldset>