{% extends "admin/admin_base.html" %}

{% block admin_content %}

{# NOTE: requires suggestions_and_journals.js to be enabled (see _js_includes.html) #}

{# include the title and the "unlock and close" feature #}
{% set object_type = 'suggestion' %}
{% set heading_object_type = 'Application' %}
{% include 'formcontext/_lockable_header.html' %}

{# include the table for comparing applications with journals that have changed #}
{% include 'formcontext/_application_diff.html' %}

{% if form_context.source.application_status != "rejected" %}
<div class="row-fluid">
  <div class="span12 with-borders form-section centre-text-container" style="margin-left: 0; padding: 0.5em 1.5em;">

    <div class="row-fluid">
        <div class="span12">
            <p class="centre-text-container">This button will not save any other changes on this page!</p>
            <form method="post" action="{{ url_for('admin.application_quick_reject', application_id=form_context.source.id) }}" class="form-horizontal" id="application_quick_reject_form">
                Select a reason for rejection:
                <select name="reject_reason" id="reject_reason">
                    {% for reason in config.get("QUICK_REJECT_REASONS", []) %}
                        <option value="{{ reason }}">{{ reason }}</option>
                    {% endfor %}
                    <option value="">Custom Note</option>
                </select>
                <textarea name="custom_reject_reason" id="custom_reject_reason" placeholder="Enter your custom note here"></textarea>
                <button class="btn btn-danger" type="submit">Quick Reject</button>
                <p><strong>Remember that the note text will be sent to the publisher.</strong></p>
            </form>
        </div>
    </div>
  </div>
</div>
{% endif %}

<form method="post" action="#first_problem" class="form-horizontal wide application_journal_form" id="suggest_form">
    {% if form_context.errors %}
    <h4 class="red form-status">There is a problem with the submitted form.</h4>
    {% endif %}

    <fieldset>

        <div class="row-fluid">

            <div class="span6">
                <div class="row-fluid">

                    <div class="span12 with-borders form-section" style="margin-left: 0;">
                        <h3 class="heading-aligned-with-fields">Editorial</h3>
                        {% autoescape off %}
                        {{ form_context.render_field_group("editorial") }}
                        {% endautoescape %}
                    </div>


                    <div class="span12 with-borders form-section" style="margin-left: 0;">
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-success save-record" type="submit">SAVE</button>
                            </div>
                        </div>
                    </div>

                    <div class="span12 with-borders form-section" style="margin-left: 0;">
                        <h3 class="heading-aligned-with-fields">Application status</h3>
                        {% autoescape off %}
                        {{ form_context.render_field_group("status") }}
                        {% endautoescape %}
                    </div>

                    <div class="span12 with-borders form-section" style="margin-left: 0;">
                        <h3 class="heading-aligned-with-fields">Assign to account</h3>
                        {% autoescape off %}
                        {{ form_context.render_field_group("account") }}
                        {% endautoescape %}
                    </div>

                    <div class="span12 with-borders form-section" style="margin-left: 0;">
                        <h3 class="heading-aligned-with-fields">Continuation information</h3>
                        {% autoescape off %}
                        {{ form_context.render_field_group("continuations") }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>

            <div class="span6 with-borders form-section" id="subjects_outer_container">
                {# This will be hidden - placed here to get first_problem anchor in approximately the right place #}
                {% autoescape off %}
                    {{ form_context.render_field_group("subject") }}
                {% endautoescape %}

                <h3>Subject classification</h3>

                <div class="control-group left-aligned">
                    <label class="control-label">Current subjects:</label>
                    <div class="controls" style="margin-top: 5px">
                        <p>{{ subjectstr }}</p>
                    </div>
                </div>

                <div id="subject_tree_container">
                    <div id="subject_tree"></div>
                </div>

            </div>

        </div>

        {# include the base application form which contains all the biblio data #}
        {% include 'formcontext/_base_application_form.html' %}


        <div class="row-fluid">
            <div class="span3">&nbsp;</div>
            <div class="span6 with-borders form-section">
                <h3 class="heading-aligned-with-fields">Details of person making this application</h3>
                {% autoescape off %}
                {{ form_context.render_field_group("submitter_info") }}
                {% endautoescape %}
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success save-record" type="submit">
                            SAVE
                        </button>
                    </div>
                </div>

            </div>
        </div>


        <div class="row-fluid">

            <div class="span12 with-borders form-section">
                <h3>Notes</h3>
                <div class="addable-field-container" id="notes-outer-container">
                    {% autoescape off %}
                    {{ form_context.render_field_group("notes") }}
                    {% endautoescape %}
                </div>
            </div>

        </div>


    </fieldset>
</form>

{% endblock %}

{% block extra_js_bottom %}
<link rel="stylesheet" href="/static/portality/vendor/jquery-ui-1.11.1/jquery-ui.min.css?v={{config.get('DOAJ_VERSION')}}">
<script type="text/javascript" src="/static/portality/vendor/jquery-ui-1.11.1/jquery-ui.min.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/doaj/js/continuations.js?v={{config.get('DOAJ_VERSION')}}"></script>

<script type="text/javascript">
    var notes_deletable = true;

    // When the editor group field is changed, refresh the options for editor
    var ed_query_url = "{{url_for('admin.eg_associates_dropdown')}}";
    $("#editor_group").change(function() {load_eds_in_group(ed_query_url);});

    // When the header says the form can't be edited, disable the save buttons.
    if ($("#info_header").text()) {
        $(".btn-success").prop('disabled', true);
    }
</script>
{% endblock extra_js_bottom %}
