{% extends "base.html" %}

{% block content %}

{# include the title and the "unlock and close" feature #}
{% set object_type = 'journal' %}
{% set heading_object_type = 'Journal' %}
{% include 'formcontext/_lockable_header.html' %}

{%  if job %}
    {%  set job_url = "/admin/background_jobs?source=%7B%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%22" + job.id + "%22%2C%22default_operator%22%3A%22AND%22%7D%7D%2C%22sort%22%3A%5B%7B%22created_date%22%3A%7B%22order%22%3A%22desc%22%7D%7D%5D%2C%22from%22%3A0%2C%22size%22%3A25%7D" %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success">
            Your edit request has been submitted and queued for execution.<br>
            You can see your request <a href="{{ job_url }}" target="_blank">here</a> in the background jobs interface (opens new tab).<br>
            You will get an email when your request has been processed; this could take anything from a few minutes to a few hours.<br>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
  <div class="col-md-12 with-borders form-section centre-text-container" style="margin-left: 0; padding: 0.5em 1.5em;">

    <div class="row">
        <div class="col-md-12">
            {% if not job %}
                <p class="centre-text-container">This button will not save any other changes on this page!</p>
                {% if form_context.source.is_in_doaj() %}
                  <form method="post" action="{{ url_for('admin.journal_deactivate', journal_id=form_context.source.id) }}" class="form-horizontal" id="journal_deactivate_form">
                    <fieldset><button class="btn btn-danger" type="submit">Take journal out of the DOAJ</button></fieldset>
                  </form>
                {% else %}
                  <form method="post" action="{{ url_for('admin.journal_activate', journal_id=form_context.source.id) }}" class="form-horizontal" id="journal_activate_form">
                    <fieldset><button class="btn btn-success" type="submit">Put journal in the DOAJ</button></fieldset>
                  </form>
                {% endif %}
            {% else %}
                You cannot currently withdraw or reinstate the journal, as a background job to do this is currently active
            {% endif %}
        </div>
    </div>
  </div>
</div>

<form method="post" action="#first_problem" class="form-horizontal wide application_journal_form" id="suggest_form" novalidate>
    {% if form_context.errors %}
    <h4 class="red form-status">There is a problem with the submitted form.</h4>
    {% endif %}

    <fieldset>

        <div class="row">

            <div class="col-md-6">
                <div class="row">

                    <div class="col-md-12 with-borders form-section" style="margin-left: 0;">
                        <h3 class="heading-aligned-with-fields">Editorial</h3>
                        {% autoescape off %}
                        {{ form_context.render_field_group("editorial") }}
                        {% endautoescape %}
                    </div>


                    <div class="col-md-12 with-borders form-section" style="margin-left: 0;">
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-success save-record" type="submit">SAVE</button>
                            </div>
                            
                            {% autoescape off %}
                            {{ form_context.render_field_group("make_all_fields_optional") }}
                            {% endautoescape %}
                        </div>
                    </div>

                    <div class="col-md-12 with-borders form-section" style="margin-left: 0;">
                        <h3 class="heading-aligned-with-fields">Assign to account</h3>
                        {% autoescape off %}
                        {{ form_context.render_field_group("account") }}
                        {% endautoescape %}
                    </div>

                    <div class="col-md-12 with-borders form-section" style="margin-left: 0;">
                        <h3 class="heading-aligned-with-fields">Continuation information</h3>

                        <p><strong>To link journals already in DOAJ.</strong></p>

                        {% autoescape off %}
                        {{ form_context.render_field_group("continuations") }}
                        {% endautoescape %}

                        <p><strong>To link a journal in DOAJ with a new journal record.</strong></p>
                        <p class="centre-text-container">Ensure you've saved any changes here before using these links!</p>
                        <a href="{{ url_for('admin.journal_continue', journal_id=form_context.source.id) }}?type=replaces">Create a new preceding continuation</a><br>
                        <a href="{{ url_for('admin.journal_continue', journal_id=form_context.source.id) }}?type=is_replaced_by">Create a new succeeding continuation</a>

                    </div>

                    {% set old_journal_field_html = form_context.render_field_group("old_journal_fields") %}
                    {% if old_journal_field_html %}
                        <div class="col-md-12 with-borders form-section" style="margin-left: 0;">
                            <h3 class="heading-aligned-with-fields">Old journal information</h3>
                            {% autoescape off %}
                            {{ old_journal_field_html }}
                            {% endautoescape %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-6 with-borders form-section" id="subjects_outer_container">
                <h3>Subject classification</h3>

                <div class="control-group left-aligned">
                    <label class="control-label">Current subjects:</label>
                    <div class="controls" style="margin-top: 5px">
                        <p>{{ subjectstr }}</p>
                    </div>
                </div>

                <div id="subject_tree_container">
                    <div id="subject_tree"></div>
                    {% autoescape off %}
                    {{ form_context.render_field_group("subject") }}
                    {% endautoescape %}
                </div>

            </div>

        </div>

        {# include the base form which contains all the biblio data #}
        {% include 'formcontext/_base_journal_form.html' %}

        <div class="row">
                {# include the DOAJ seal information and checkbox #}
                {% include 'formcontext/_doaj_seal_components.html' %}
            <div class="col-md-6 with-borders form-section">
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success save-record" type="submit">
                            SAVE
                        </button>
                    </div>

                    {% autoescape off %}
                    {{ form_context.render_field_group("make_all_fields_optional") }}
                    {% endautoescape %}
                </div>

          </div>
        </div>


        <div class="row">

            <div class="col-md-12 with-borders form-section">
                <h3>Notes</h3>
                <p><strong>Notes are presented in descending date order: the most recent notes appear at the top.</strong></p>
                <div class="addable-field-container" id="notes-outer-container">
                    {% autoescape off %}
                    {{ form_context.render_field_group("notes") }}
                    {% endautoescape %}
                </div>
            </div>

        </div>


    </fieldset>
</form>

{% endblock %}

{% block extra_js_bottom %}
<link rel="stylesheet" href="/static/vendor/jquery-ui-1.11.1/jquery-ui.min.css?v={{config.get('DOAJ_VERSION')}}">
<script type="text/javascript" src="/static/vendor/jquery-ui-1.11.1/jquery-ui.min.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/static/js/continuations.js?v={{config.get('DOAJ_VERSION')}}"></script>

<script type="text/javascript">
    var notes_deletable = true;

    // When the editor group field is changed, refresh the options for editor
    var ed_query_url = "{{url_for('admin.eg_associates_dropdown')}}";
    $("#editor_group").change(function() {load_eds_in_group(ed_query_url);})
</script>
{% endblock extra_js_bottom %}
