{% extends "base.html" %}

{% block content %}

<form method="post" action="#first_problem" class="form-horizontal wide" id="suggest_form">
    {% if form_context.errors %}
        <h4 class="red form-status">There is a problem with the submitted form.</h4>
    {% endif %}

    <fieldset>

        {# include the base application form which contains all the biblio data #}
        {% include 'formcontext/_base_application_form.html' %}

        <div class="row-fluid">
            <div class="span3">&nbsp;</div>
            <div class="span6 with-borders form-section">
                <h3 class="heading-aligned-with-fields">Your details</h3>
                {% autoescape off %}
                {{ form_context.render_field_group("submitter_info") }}
                {% endautoescape %}

                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success" type="submit">
                            Submit &gt;
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </fieldset>
</form>

{% endblock %}
