{% extends "base.html" %}

{% block content %}

<h2>Journal Application Form</h2>

<p>If you know a journal that should be included in DOAJ, please ask its publisher to apply using this form.</p>

<p>Read our <a href="{{ url_for('doaj.faq', _anchor='procedure') }}">guidance on making an application</a> before you
fill out the form.  If you do not know the answer to a question, you can request help by contacting us. Review your 
website before making an application and make sure that the information that we are looking for is clearly stated 
on the <b>journal site</b> or clearly linked to from the journal site. </p>

<p>It is not possible to save your progress and return to the form later. Instead, we have
<a href="{{ url_for('doaj.faq', _anchor='application') }}">created a spreadsheet version of the form</a> and have provided 
some other tips to help you fill in the form. Guides to completing the form are also
<a href="{{ url_for('doaj.translated') }}">available in other languages
(中文, فارسی, Polski, Português, Русский, Español, Türkçe)</a>.</p>



<form method="post" action="#first_problem" class="form-horizontal wide" id="suggest_form">
    {% if form_context.errors %}
        <h4 class="red form-status">There is a problem with the submitted form.</h4>
    {% endif %}

    <fieldset>

        {# include the base application form which contains all the biblio data #}
        {% include 'formcontext/_base_application_form.html' %}

        <div class="row-fluid">
            <div class="span3">&nbsp;</div>
            <div class="span6 with-borders form-section">
                <h3 class="heading-aligned-with-fields">Your details</h3>
                {% autoescape off %}
                {{ form_context.render_field_group("submitter_info") }}
                {% endautoescape %}

                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success" type="submit">
                            Submit &gt;
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </fieldset>
</form>

{% endblock %}
