/* Alert boxes */

.alert {
  display: inline-block;
  padding: $spacing-03;
  margin: $spacing-02 0 $spacing-03 0;
  background-color: $light-grey;
  border: 1px solid $warm-black;
  @include typescale-06;

  &__close {
    float: right;
    cursor: pointer;
  }

  button {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }

  &.focus {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white;
    z-index: 1000;
    button {
      margin-top: 1.5rem;
      width: max-content;
      align-self: center;
    }
  }

  &--message {
    background-color: $warm-black;
    color: $white;

    a {
      color: $white;
    }
  }

  &--danger {
    border: 2px solid $grapefruit;
  }

  &--success {
    border: 2px solid $dark-green;
  }

  &--info {
    border: 2px solid $dark-grey;
  }

  code {
    background-color: rgba($dark-grey, 0.1);
  }

  svg {
    height: 1em;
    vertical-align: middle;
  }
}
