.badges {
  &--toc {
    display: flex;
    gap: 1.25rem; // adjust_values.py
    align-items: center;
    justify-content: flex-end;
    max-height: 100%;

    #s2o {
      width: 50%;
      min-width: $spacing-05; // adjust_values.py
      max-width: $spacing-06; // adjust_values.py
      #s2o {
        max-height: 100%;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      justify-content: flex-start;
      max-height: $spacing-05; // adjust_values.py
      margin-bottom: .625rem; // adjust_values.py

      #s2o {
        max-height: 100%;
        height: 100%;
        width: auto;
        #s2o {
          max-height: 100%;
        }
      }
    }
  }

  &--search-result {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .625rem; // adjust_values.py

    &--public {
      margin-top: .625rem; // adjust_values.py
    }

    &--maned {

    }
  }
}