.badges {
  &--toc {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    max-height: 100%;

    #s2o {
      width: 50%;
      min-width: 3rem;
      max-width: 6rem;
      #s2o {
        max-height: 100%;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      justify-content: flex-start;
      max-height: 3rem;
      margin-bottom: .5rem;

      #s2o {
        max-height: 100%;
        height: 100%;
        width: auto;
        #s2o {
          max-height: 100%;
        }
      }
    }
  }

  &--search-result {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;

    &--public {
      margin-top: .5rem;
    }

    &--maned {

    }
  }
}