/* Cards */

.card {
  padding: $spacing-03;
  margin-bottom: $spacing-04;
  background-color: $white;
  border-radius: $spacing-02;
  @include typescale-06;
  @include box-shadow;

  @media screen and (min-width: 768px) {
    margin-bottom: $spacing-05;
  }
}

.card--compact {
  margin-bottom: $spacing-03;
  border-radius: $spacing-01;
  font-size: smaller;
}

.card__header {
  margin-bottom: $spacing-04;
  border-bottom: 1px solid $dark-grey;
}

.card__desc {
  color: $dark-grey;
  margin-bottom: $spacing-01;
}

.card--with-icon {
  display: flex;
  padding: $spacing-04 $spacing-04 $spacing-04 $spacing-03;

  > svg {
    margin: $spacing-01 $spacing-03 0 0;
    flex-shrink: 0;
    height: 20px;
    width: auto;
  }
}
