.file_history {

    table-layout:fixed;
    width: 100%;

    .file_status {
        &--error {
            color: $sanguine;
        }
        &--initial {
            color: $warm-black;
        }
        &--success {
            color: $dark-green;
        }
        &--warning {
            color: $grapefruit;
        }
    }
}