/* Input groups */

.input-group {
  width: 100%;
  margin: 0 0 1rem 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;

  input, select, .select2-container {
    flex: 1 1 0;
    min-width: 37.5%;
    margin-top: 0;
    margin-bottom: $spacing-02;
    overflow: hidden;
    text-overflow: ellipsis;

  button, a.button {
    flex: 0 1 auto;
    min-width: 10%;
    margin-top: 0;
    margin-bottom: $spacing-02;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

    &:not(:first-child) {
      margin-left: -1px;
    }
  }

  &:last-of-type {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .container input,
  .container button {
    flex: 1 1 auto;
    width: 100%;
  }
}

.input-group-authors {
  flex-flow: column;
}

.input-group__input {
  position: relative;
  z-index: 2;
  margin-bottom: 0;

  &:not([type="submit"]) {
    flex-grow: 1;
  }

  &:not(:first-child) {
    margin-left: -1px;
  }
}
