/* Logo */

.logo {
  display: flex;
  padding-top: $spacing-03; // adjust_values.py
  padding-bottom: $spacing-03; // adjust_values.py
  height: 100%;
  max-height: 5.625rem; // adjust_values.py
  transition: height 0.3s ease-out;

  svg {
    height: $spacing-05; // adjust_values.py
  }
}

.logo__tagline {
  margin-left: $spacing-03;
  font-size: 1.0625rem; // adjust_values.py
  font-weight: 600;
  line-height: 1.15;
  text-transform: uppercase;

  @media (max-width: 768px) {
    display: none;
  }
}