.notifications {
  width: 300px !important;
  overflow-y: scroll;
  @include typescale-06;
}

.notifications__item {
  display: block;
  a {
    display: block;
    white-space: normal;
  }
}

.notifications__date {
  display: block;
  margin-top: $spacing-02;
}

.notifications__unseen {
  background-color: $dark-green;

  &::before {
    display: inline-block;
    margin: 0 $spacing-01 $spacing-01 0;
    background-color: $light-green;
    content: " ";
    height: $spacing-02;
    width: $spacing-02;
    border-radius: $spacing-02;
  }
}
