.pagination {
  text-align: center;
  color: rgba($warm-black, 0.75);
  font-style: italic;
  @include typescale-06;

  ul {
    display: flex;
    @include unstyled-list;

    li {
      &:nth-child(3) {
        flex: 0.5;
      }

      &:first-child,
      &:nth-child(2) {
        text-align: left;
        flex: 0.25;
      }

      &:last-child,
      &:nth-child(4) {
        text-align: right;
        flex: 0.25;
      }
    }
  }

  strong {
    color: $warm-black;
    font-style: normal;
  }

  a {
    text-decoration: none;
    color: $sanguine;
    font-style: normal;
    font-weight: 600;
  }

  .feather {
    position: relative;
    top: $spacing-01;


  }
}
