/* Portraits / photographs of people
   Used in biographies, profiles... */

.portrait {
  position: relative;
  margin: $spacing-02 0 $spacing-04 0;
  width: 50%;
  background-color: rgba($sanguine, 0.25);
  border: 1px solid $sanguine;

  @media (min-width: 769px) {
    width: 100%;
  }
}

.portrait--small {
  width: 50%;

  .portrait__bg-img {
    height: $spacing-06;
  }
}

.portrait__img {
  mix-blend-mode: multiply;
}

.portrait__img--empty {
  height: $spacing-06 * 2;
}

.portrait__bg-img {
  position: relative;
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  border: 1px solid $sanguine;
  top: $spacing-02;
  bottom: -$spacing-02;
  right: -$spacing-02;
  left: $spacing-02;
  background-color: $sanguine;
  color: $white;

  @media (min-width: 769px) {
    height: $spacing-06 * 2;
  }
}
