// Table used in review page of app form

.review-table {
  table-layout: fixed;
  @include typescale-06;

  &__header {
    border: 0;
    background: $warm-black;
    color: $white;

    .label {
      color: $white;
    }

    th {
      &:first-child {
        padding-left: $spacing-03;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}
