/* SERP / search result pages */

.search-results {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  font-size: 20px;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.search-results__record {
  display: block;
  padding: $spacing-04;
  margin-bottom: $spacing-04;
}

.search-results__main {
  @media (min-width: 769px) {
    border-right: 1px solid rgba($dark-grey, 0.25);
  }
}

.search-results__heading {
  margin: 0 0 $spacing-03 0;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.45;

  svg {
    margin-left: $spacing-01;
    vertical-align: middle;
  }

  a {
    display: block;

    &:hover, &:active, &:focus {
      color: $grapefruit;
    }

    @media (min-width: 769px) {
      text-decoration: none;
    }
  }
}

.search-results__subheading {
  color: rgba($warm-black, 0.65);
  font-weight: 400;
}

.search-results__body {
  @include typescale-06;

  h4 {
    margin: $spacing-03 0 $spacing-02 0;
    font-size: 1em;
    font-weight: 600;

    .feather {
      height: 0.65em;
      width: auto;
    }
  }

  ul {
    @include unstyled-list;

    &:last-of-type {
      @media (max-width: 768px) {
        padding-bottom: $spacing-03;
        border-bottom: 1px solid rgba($dark-grey, 0.25);
      }
    }
  }
}

.search-results__aside {
  border: 0;
  color: $dark-grey;
  @include typescale-06;

  ul {
    @include unstyled-list;
  }

  a {
    color: $dark-grey;
  }

  @media (max-width: 768px) {
    margin-top: $spacing-03;
  }
}
