/* Adjust content in grid’scolumns */

@media (min-width: 769px) {
  .col-md-2:nth-child(6n+1) {
    clear: both;
  }

  .col-md-3:nth-child(4n+1) {
    clear: both;
  }

  .col-md-4:nth-child(3n+1) {
    clear: both;
  }

  .col-md-6:nth-child(2n+1) {
    clear: both;
  }
}

@media (max-width: 768px) {
  .col-xs-3:nth-child(4n+1) {
    clear: both;
  }

  .col-xs-4:nth-child(3n+1) {
    clear: both;
  }

  .col-xs-6:nth-child(2n+1) {
    clear: both;
  }
}
