/* Mixins for typescale in minor third
   Use with headings and text only
   Base unit: 16px */

@mixin typescale-01 {
  font-size: 2.488rem;
}

@mixin typescale-02 {
  font-size: 2.074rem;
}

@mixin typescale-03 {
  font-size: 1.728rem;
}

@mixin typescale-04 {
  font-size: 1.44rem;
}

@mixin typescale-05 {
  font-size: 1.2rem;
}

@mixin typescale-06 {
  font-size: 0.833rem;
}
