/* Sponsors page */

.sponsor {
  margin-top: $spacing-03;
  margin-bottom: $spacing-05;

  &:nth-child(3n+1) {
    clear: both;
  }
}

.sponsor__link {
  display: block;
}

.sponsor__logo {
  max-height: 75px;
  width: auto;
}

.sponsor__name {
  margin-bottom: $spacing-03;
  font-weight: 400;
  @include font-sans;
  @include typescale-06;
}
