on:
  push:
    branches:
      - master
      - develop
      - feature/*

jobs:
  gen_docs:
    name: generate DOAJ documentation and functional tests and push to the docs repo
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      statuses: write
    
    steps:
      - name: checkout the branch of interest
        uses: actions/checkout@v4
        with: 
          path: doaj

      - name: checkout the documentation repo
        uses: actions/checkout@v4
        with:
          path: doaj-docs
          repository: DOAJ/doaj-docs
          token: ${{ secrets.STEVE_PAT_DOAJ_ACTIONS_DOCS }}
          fetch-depth: 0

      - name: set up a python 3.10 environment
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
        
      - name: install opensearch
        uses: esmarkowski/opensearch-github-action@v1.0.0
        env:
          DOCKER_API_VERSION: 1.44
        with:
          version: 1.3.20
          security-disabled: true
      
      - name: install the DOAJ dependencies
        run: |
          cd $GITHUB_WORKSPACE/doaj
          pip install -e .[test]
          pip install -e .[docs]
          
      - name: run the docs generation script and push to the docs repo
        run: |
          export DOAJENV=test
          cd $GITHUB_WORKSPACE/doaj/docs
          sh gendocs.sh --nocov
          cd $GITHUB_WORKSPACE/doaj-docs
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "GH Actions docs run for ${{ github.ref_name }}"
          git push
