{% extends "layouts/sidebar-page.html" %}

{% block content %}

<h2>Принципи прозорості та найкращої практики наукового видавництва</h2>

    {% include 'doaj/_bestpractice_nav.html' %}

<p><b>Вступ</b></p>

<p>Наукові організації <a href="https://publicationethics.org/">Committee on Publication Ethics</a>, Directory of Open Access 
Journals, <a href="https://oaspa.org/">Open Access Scholarly Publishers Association</a> та 
<a href="http://www.wame.org">World Association of Medical Editors</a> отримують велику кількість заявок на членство, що мають доволі широкий діапазон якості. Наші організації провели спільну роботу для того, щоб визначити принципи прозорості та найкращі практики наукового видавництва, а також уточнити, що дані принципи ґрунтуються на критеріях, за якими оцінюють претендентів на членство в COPE, DOAJ та OASPA, а також на деяких критеріях, які використовує для оцінки заявок WAME. Кожна організація також має свої власні, додаткові критерії, які використовуються при оцінці заявок. Організації не публікують переліки тих видавців чи журналів, які не змогли продемонструвати, що вони відповідають критеріям прозорості та найкращої практики.</p>

<p>Це третя версія незавершеної роботи (опублікована в січні 2018 р.); першу версію було створена OASPA в грудні 2013 року, друга версія з’явилася у червні 2015 року. Ми заохочуємо її подальше розповсюдження та будемо раді отримати відгуки щодо загальних принципів та конкретних критеріїв. Докладну інформацію про організації наведено нижче.</p>

<p>&nbsp;</p>
<p><b>Принципи прозорості</b></p>
<p>
	<ol>
		<li><b>Веб-сайт</b></br>
		Веб-сайт журналу, включно з текстом, який він містить, повинен демонструвати, що дотримано високого рівня етичних та професійних стандартів. Він не повинен містити інформацію, яка може ввести в оману читачів чи авторів, зокрема будь-які спроби імітувати інший сайт журналу/видавництва. На веб-сайті повинні бути вказані «Цілі та завдання» журналу та чітко визначена читацька аудиторія. Повинно бути написано, які матеріали журнал буде розглядати для публікації, включно з вимогами до авторів (наприклад, не допускати багаторазового подання, чи дублювання публікацій). ISSN повинні бути чітко вказані (окремо для друкованої та електронної версій).</li>

		<li><b>Назва журналу</b></br>
		Назва журналу повинна бути унікальною і не бути такою, яку легко можна сплутати з назвою іншого журналу, або такою, що могла б ввести в оману потенційних авторів та читачів про походження журналу або асоціюватися з іншими журналами.</li>
		
		<li><b>Процес рецензування</b></br>
		Вміст журналу повинен бути чітко позначений як рецензований, або ні. Під рецензуванням розуміють отримання порад щодо конкретних рукописів від експертів у своїх галузях, які не входять до редакції журналу. Цей процес, а також будь-яка політика, пов'язана з процедурою рецензування, повинна бути чітко описана на веб-сайті журналу, зокрема й метод рецензування, який використовується. Сайти журналів не повинні гарантувати прийняття рукописів, або дуже швидкого рецензування.</li>

		<li><b>Власність та управління</b></br>
		Інформація про власника та/або управління журналом має бути чітко вказана на веб-сайті журналу. Видавці не повинні використовувати імена організацій, або назви журналів, які можуть ввести в оману потенційних авторів та редакторів про природу власника журналу.</li>
		
		<li><b>Керівний орган</b></br>
		Журнали мають редакційні колегії або інші керівні органи, чиї члени є визнаними фахівцями у галузях, що відносяться до тематики журналу. Повні імена та інституційна приналежність членів редакційної колегії журналу або іншого керівного органу наводяться на веб-сайті журналу.</li>
		
		<li><b>Редакція/контактна інформація</b></br>
		Журнали повинні вказувати прізвища, імена та інституційну приналежність редакторів на веб-сайті журналу, а також контактну інформацію офісу редакції, включно з повною адресою.</li>

		<li><b>Авторське право та ліцензування</b></br>
		Політика щодо авторських прав повинна бути чітко вказана в керівництві для авторів, а власник авторських прав зазначений у всіх опублікованих статтях. Також інформація про ліцензування повинна бути чітко описана в керівництві на веб-сайті, а умови ліцензування повинні бути вказані у всіх опублікованих статтях, в HTML та PDF-файлах. Якщо авторам дозволяється публікуватись за ліцензією Creative Commons, то слід зазначити конкретні вимоги обраної ліцензії. Будь-яка політика щодо розміщення прийнятих до друку версій або опублікованих статей у сторонніх репозитаріях повинна бути чітко описана.</li>
		
		<li><b>Плата з авторів</b></br>
		Інформація про будь-які збори або плату, що передбачаються за опрацювання рукописів та/або публікацію матеріалів у журналі, повинна бути чітко зазначені на сайті, щоб потенційні автори могли легко знайти її перед поданням своїх рукописів на розгляд, або роз’яснена авторам перед початком підготовки ними подання рукопису. Якщо такі збори не стягуються, це також повинно бути чітко вказано.</li>
		
		<li><b>Процес ідентифікації та розгляду звинувачень про порушення в дослідженнях</b></br>
		Видавці та редактори повинні вжити обґрунтовані кроки для виявлення та запобігання публікації документів, які містять зумисні порушення, включаючи плагіат, маніпулювання цитуванням та фальсифікацію/вигадування даних ітп. У жодному випадку журнал або його редактори не повинні заохочувати таку неправомірну поведінку чи свідомо дозволяти таке порушення. У випадку, якщо видавцеві чи редакторам журналу буде повідомлено про будь-які неправомірні дії, пов'язані з опублікованою статтею в журналі, видавець чи редактор повинні дотримуватися <a href="https://publicationethics.org/resources/guidelines">принципів COPE</a>(або їх еквіваленту) при розгляді звинувачень.</li>

		<li><b>Публікаційна етика</b></br>
		Журнал також повинен мати політику щодо публікаційної етики. Вона повинна бути чітко представлена на веб-сайті журналу і опиратись на: i) Політику журналу щодо авторства; ii) Як журнал буде розглядати скарги та апеляції; iii) Журнальна політика щодо конфлікту інтересів; iv) Політика журналу щодо обміну даними та їх відтворюваності; v) Політика журналу щодо етичного контролю; vi) Політика журналу щодо інтелектуальної власності; і vii) Опції журналу для дискусій та уточнень після публікації.</li>
		
		<li><b>Графік публікації</b></br>
		Періодичність публікації журналу повинна бути чітко вказана на веб-сайті.</li>
		
		<li><b>Доступ</b></br>
		Потрібно вказати, в який спосіб журнал чи окремі його статті доступні для читачів, а також умови передплати або плати за перегляд.</li>
		
		<li><b>Архівування</b></br>
		На сайті слід чітко вказати план журналу щодо електронного резервного копіювання та збереження доступу до змісту журналу (наприклад, доступ до статей за допомогою CLOCKSS або PubMedCentral) у випадку, якщо журнал більше не публікується.</li>
		
		<li><b>Джерела доходу</b></br>
		Бізнес-моделі або джерела доходу (наприклад, авторські гонорари, передплата, реклама, перевидання, інституційна підтримка та організаційна підтримка) повинні бути чітко вказані чи іншим чином відображені на веб-сайті журналу. Плата за публікацію чи політика підтримки авторів з країн, що розвиваються, не повинні впливати на рішення редакції.</li>
		
		<li><b>Реклама</b></br>
		Журнали повинні вказати свою рекламну політику і, якщо це необхідно, зазначити, які типи оголошень приймаються до публікації, хто приймає рішення про розміщення реклами, чи пов'язана вона з контентом сайту, поведінкою онлайн-читачів, або ж відображається довільним чином. Реклама жодним чином не повинна впливати на прийняття рішень редакцією та повинна зберігатися окремо від опублікованого вмісту.</li>
		
		<li><b>Прямий маркетинг</b></br>
		Будь-які прямі маркетингові заходи, зокрема заохочення до надсилання рукописів, що проводяться від імені журналу, повинні бути доречними, цілеспрямованими та ненав'язливими. Інформація, надана про видавця чи журнал, повинна бути правдивою та не вводити в оману читачів та авторів.</li>
		</p>
		
<p>У випадку, якщо будь-яка з організацій-членів порушила ці найкращі практики або інші особливі вимоги організації, OASPA/DOAJ/COPE/WAME, насамперед, намагатимуться працювати з ними для вирішення проблем, які були знайдені. Якщо ж організація-член не може або не бажає вирішувати ці проблеми, їх членство в організації може бути призупинене або припинене. Всі організації-учасники мають процедури для вирішення проблем, порушених журналами учасників. </p>

<p>OASPA/DOAJ/COPE/WAME have procedures for dealing with concerns raised about members.</p>

<p><i>Цю версію було опубліковано на DOAJ: 15 січня 2018 р.</br>
Другу версію було опубліковано на DOAJ: червень 2015 р.</br>
Першу версію було опубліковано на DOAJ: 10 січня 2014 р.</i></p>

<p>&nbsp;</p>
<p><i>Про Committee on Publication Ethics (COPE, https://publicationethics.org) – Комітет з етики наукових публікацій</i></p>
<p>COPE надає консультації редакторам та видавцям з усіх аспектів етики публікацій та, зокрема, способів розгляду випадків досліджень та публікацій з порушеннями. Комітет надає своїм членам форум для обговорення окремих випадків. COPE не досліджує окремі випадки, але заохочує редакторів слідкувати за тим, щоб такі випадки розслідувались відповідними органами (зазвичай дослідницькою установою або роботодавцем). Очікується, що всі члени COPE застосовують принципи COPE щодо етики публікації, які викладені в
<a href="https://publicationethics.org/core-practices">основних практиках</a>.</p>

<p><i>Про Directory of Open Access Journals (DOAJ, https://doaj.org) – Каталог журналів відкритого доступу</i></p>
<p>Місія DOAJ полягає в тому, щоб виконувати, підтримувати та розвивати джерело достовірної інформації про наукові журнали відкритого доступу в Інтернеті; перевіряти, що журналу з переліку відповідають прийнятним стандартам; підвищувати доступність, популярність, поширеність, привабливість журналів з відкритим доступом; надавати вченим, бібліотекам, університетам, науково-дослідним фондам та іншим зацікавленим сторонам можливість користуватися наданою інформацією і послугами; полегшити інтеграцію журналів відкритого доступу в служби бібліотек і сайтів-агрегаторів; надавати допомогу, по можливості, видавцям і їх журналам відповідно до кращих стандартів цифрового видавництва; і, тим самим, підтримувати перехід системи наукового спілкування і публікації в модель, яка служить науці, вищій освіті, промисловості, інноваціям, суспільству і людям. Виходячи зі своєї місії, DOAJ співпрацює і запрошує до співпраці всі зацікавлені сторони, які працюють над досягненням аналогічних цілей.</p>

<p><i>Про Open Access Scholarly Publishers Association (OASPA, https://oaspa.org) – Асоціація наукових видавців відкритого доступу</i></p>
<p>OASPA – це торгова асоціація, створена у 2008 році для представлення інтересів видавців відкритого доступу з усього світу та зі всіх наукових дисциплін. Заохочуючи співпрацю в розробці відповідних бізнес-моделей, інструментів та стандартів для підтримки видавничої діяльності відкритого доступу, OASPA має на меті сприяти забезпеченню процвітаючого та сталого майбутнього на благо своїх членів та науковій спільноті, яким вона служить. Ця місія здійснюється шляхом обміну інформацією, встановлення стандартів, просування моделей, адвокації, освіти та сприяння інноваціям.</p>

<p><i>Про World Association of Medical Editors (WAME, http://www.wame.org) – Всесвітня асоціація медичних редакторів</i></p>
<p>WAME – це глобальна некомерційна добровільна асоціація редакторів рецензованих медичних журналів, які прагнуть сприяти співпраці та комунікації між редакторами; покращувати редакційні стандарти; сприяти професіоналізму в галузі медичного редагування через освіту, самокритику та саморегулювання; і заохочувати дослідження принципів та практики медичного редагування. WAME розробляє політику та рекомендації найкращих практик для редакторів медичних журналів і має розроблену програму для редакторів, якої рекомендується чітко дотримуватися усім її членам.</p>

<p>Переклав Сергій Назаровець </p>

{% endblock %}
