{% extends "management/editor/base.html" %}

{% set form_id = "assed_form" %}
{% set formulaic_after = url_for("editor.application", application_id=obj.id) %}
{% set form_action = url_for("editor.application", application_id=obj.id) %}

{% set js_validation = True %}
{% set auto_save = 0 %}
{% set notabs = true %}
{% set diff_table = false %}
{% set quick_reject = false %}

{% block management_main_header_classes %}fixed{% endblock %}
{% block page_header %}
{% include "management/includes/_fixed_form_header.html" with context %}
{% endblock %}
{% block body_id %}apply{% endblock %}

{% block editor_content scoped %}
    {% include "management/_application-form/includes/_editorial_form_body.html" %}
{% endblock %}

{% block editor_js scoped %}
    {% include "_application-form/includes/_form_js.html" %}
{% endblock %}
