{% extends "management/editor/base.html" %}

{% block page_title %}Editor Dashboard{% endblock %}

{% block page_header %}
    Hi, {% if current_user.name %}{{ current_user.name }}{% else %}
    {{ current_user.id }}{% endif %}!
{% endblock %}

{% block editor_content %}
    <div class="container">
        <div class="flex-end">
            <span id="assigned-to-me-filter" class="tag {% if not request.values.get('flag_filter') or request.values.get('flag_filter') == 'a2me' %} tag--primary {% else %} tag--tertiary {% endif %}">
                <a href="{{ url_for('editor.index') }}?flag_filter=a2me" class="flagged-link">Assigned to me</a>
            </span>
            <span id="flagged-filter" class="tag {% if request.values.get('flag_filter') == 'flagged' %} tag--primary {% else %} tag--tertiary {% endif %}">
                <a href="{{ url_for('editor.index') }}?flag_filter=flagged" class="flagged-link">Flagged to me</a>
            </span>
        </div>
        {% include "management/includes/_motivational_banner.html" %}
        {% include "management/includes/_todo.html" %}
        {% set groups = editor_of_groups %}
        {% set person_of_assignments =  editor_of_assignments %}
        {% include "management/includes/_activity.html" %}
    </div>
{% endblock %}

{% block editor_js %}
    <script type="text/javascript" src="/static/js/dashboard.js?v={{config.get('DOAJ_VERSION')}}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            doaj.dashboard.init({"applicationsSearchBase": "{{ url_for('editor.group_suggestions') }}" })
        });
    </script>
{% endblock %}