{% extends "management/editor/base.html" %}
{# NOTE: this file is not currently used, as editors are not assigned journals,
but we are leaving it in place in case that changes #}
{% set form_id = "ed_form" %}
{% set formulaic_after = url_for("editor.journal_page", journal_id=obj.id) %}
{% set form_action = url_for("editor.journal_page", journal_id=obj.id) %}

{% set js_validation = True %}
{% set auto_save = 0 %}
{% set notabs = true %}
{% set diff_table = false %}
{% set quick_reject = false %}
{% set withdrawable = false %}

{% block page_title %}Journal: {{ obj.bibjson().title }}{% endblock %}
{% block body_id %}apply{% endblock %}

{% block editor_content scoped %}
    <h3>{{ obj.bibjson().title }}</h3>
    {% include "management/_application-form/includes/_editorial_form_body.html" %}
    {% include "includes/_hotjar.html" %}
{% endblock %}

{% block editor_js scoped %}
    {% set factory = "journal" %}
    {% include "_application-form/includes/_form_js.html" %}
{% endblock %}
