
{% macro build_journal_withdrawn_deleted_msg(obj, is_deleted=False, is_withdrawn=False) -%}
    {% if obj["es_type"] == "application" and obj.application_type == "update_request" %}
        <h2 class="alert">
            <span data-feather="alert-triangle" aria-hidden="true"></span>
            {% if is_deleted %}
                Journal has been deleted. This update request was automatically rejected.
            {% endif %}
            {% if is_withdrawn %}
                Journal has been withdrawn. This update request was automatically rejected.
            {% endif %}
        </h2>
    {% endif %}
{%- endmacro %}