{% block buttons %}
    <p class="pager-buttons">
        {% if not notabs %}
        <button type="button" id="prevBtn" class="button button--secondary pager-buttons__left">Previous</button>
        <button type="button" id="nextBtn" class="button button--secondary pager-buttons__right">Next</button>
        {% endif %}
    
        {% if formulaic_context.name == "public" or formulaic_context.name == "update_request" %}
            <a id="submitBtn" class="button button--primary pager-buttons__right">Submit</a>

            {% if formulaic_context.name == "public" %}
                <a id="saveDraft" class="button button--secondary pager-buttons__center">Save the draft</a>
            {% endif %}
        {% endif %}

    </p>
{% endblock %}