{% block buttons %}
    <p class="pager-buttons">
        <button type="button" id="prevBtn" class="button button--secondary pager-buttons__left" onclick="prev()">Previous</button>
        <button type="button" id="nextBtn" class="button button--secondary pager-buttons__right" onclick="next()">Next</button>
        <a id="submitBtn" class="button button--primary pager-buttons__right" onclick="submitaplication()">Submit</a>
        <a id="saveDraft" class="button button--secondary pager-buttons__center" onclick="savedraft()">Save the draft</a>

    </p>
{% endblock %}