<fieldset class="tab form-section">
    {% include "application_form/01-oa-compliance/index.html" %}
</fieldset>
<fieldset class="tab form-section">
    {% include "application_form/02-about/index.html" %}
</fieldset>
<fieldset class="tab form-section">
    {% include "application_form/03-copyright-licensing/index.html" %}
</fieldset>
<fieldset class="tab form-section">
    {% include "application_form/04-editorial/index.html" %}
</fieldset>
<fieldset class="tab form-section">
    {% include "application_form/05-business-model/index.html" %}
</fieldset>
<fieldset class="tab form-section">
    {% include "application_form/06-best-practice/index.html" %}
</fieldset>