<div id="{{ f.name }}__container" class="form__question {% if f.has_conditional %} form__subquestion {% endif %}"
{% if f.has_conditional %} style="display: none"{% endif %}>
    {% if f.has_conditional %}
        <input type="hidden" class="conditional" id="{{ f.name }}__conditional" name="{{ f.condition_field }}" value="{{ f.condition_value }}">
    {% endif %}
    <label>
        {% autoescape off %}{{ f.label }}{% endautoescape %}
        {% if f.help("long_help") %}
            <span class="form__long-help" data-feather="help-circle" aria-hidden="true" data-toggle="modal" data-target="#modal-{{ f.name }}"></span><span class="sr-only">More help</span>
        {% endif %}
        {% if f.optional %}<span class="form__question--is-optional">(Optional)</span>{% endif %}
    </label>
    {% if f.get("hint") %}<p><small>{{ f.hint }}</small></p>{% endif %}
    {{ f.render_form_control() }}

    {% if f.help("short_help") %}
       <p><small>{{ f.help("short_help") }}</small></p>
    {% endif %}
</div>

{% include "application_form/modal.html" %}