<script type="text/javascript" src="/portality/static/vendor/parsley-2.9.2/parsley.min.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/portality/static/vendor/edges/src/edges.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript" src="/portality/static/js/formulaic.js?v={{config.get('DOAJ_VERSION')}}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        formulaic.active = formulaic.newFormulaic({
            formSelector: "#{{ form_id }}",
            functions : {{ formulaic_context.javascript_functions|tojson }},
            doValidation : {% if js_validation %}true{% else %}false{% endif %},
            autoSave: {{ auto_save }},
            fieldsets : {{ formulaic_context.ui_settings|tojson }}
        });
});

    let fields = document.getElementsByClassName("conditional");
    for (let f of fields) {
        let inputs = document.getElementsByName(f.getAttribute("name"))
        let conditionValue = f.getAttribute("value")
        let fieldToHide = document.getElementById(f.getAttribute("id").replace("__conditional","")+"__container")
        for (let i = 0; i < inputs.length; i++){
            if (inputs[i].type === "radio") {
                inputs[i].addEventListener("click", function () {
                    if (inputs[i].checked) {
                        if (inputs[i].value === conditionValue) {
                            fieldToHide.style.display = '';
                        } else {
                            fieldToHide.style.display = 'none';
                        }
                    }
                })
            }
            else {
                inputs[i].addEventListener("click", function () {
                    if (inputs[i].value === conditionValue) {
                        if (inputs[i].checked) {
                            fieldToHide.style.display = '';
                        } else {
                            fieldToHide.style.display = 'none';
                        }
                    }
                })
            }
        }
    }

    let currentTab = 0; // Current tab is set to be the first tab (0)
    let tabs = document.getElementsByClassName("tab");
    showTab(currentTab); // Display the current tab
    usePaginationMenu()

function showTab(n) {
  // This function will display the specified tab of the form ...
  //hide all other tabs
  for (let i = 0; i < tabs.length; i++){
      tabs[i].style.display = "none";
  }

  tabs[n].style.display = "block";
  // ... and fix the Previous/Next buttons:
  if (n === 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n === (tabs.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  // ... and run a function that displays the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  // Exit the function if any field in the current tab is invalid:
    // TODO: submit to save the draft
  // if you have reached the end of the form... :
    //TODO: submit
  if (currentTab >= tabs.length - 1) {
      //...the form gets submitted:
      document.getElementById("{{ form_id }}").submit();
      return false;
  }
    // Hide the current tab:
  tabs[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // Otherwise, display the correct tab:
//TODO: for test purposes submit instead of show
  showTab(currentTab);
// document.getElementById("{{ form_id }}").submit();
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  let x = document.getElementsByClassName("application-nav__list-item");
  for (let i = 0; i < x.length; i++) {
    x[i].className = "application-nav__list-item";
  }
  //... and adds the "active" class to the current step:
  x[n].className += " application-nav__list-item--active";
}

function usePaginationMenu(){
    let x = document.getElementsByClassName("page_link");
    for(let i = 0; i < x.length; i++){
        x[i].addEventListener("click", function(){
            currentTab = i
            showTab(currentTab)
        })
    }
}

</script>