{% block aside_menu %}

<aside class="highlight highlight--is-aside">
    <h2>Related help</h2>
    <ul class="full-width-list">
        <li class="full-width-list__item">
        <a href="/apply/guide/">Guide to applying</a>
    </li>
    <li class="full-width-list__item">
        <a href="/apply/seal/">The DOAJ Seal</a>
    </li>
    <li class="full-width-list__item">
        <a href="/apply/transparency/">Transparency & best practice</a>
    </li>
    <li class="full-width-list__item">
        <a href="/apply/why-index/">Why index your journal in DOAJ?</a>
    </li>
    </ul>
</aside>

{% endblock %}