{% extends "editor/editor_base.html" %}

{% set form_id = "assed_form" %}
{% set formulaic_after = url_for("editor.application", application_id=obj.id) %}
{% set form_action = url_for("editor.application", application_id=obj.id) %}

{% set js_validation = True %}
{% set auto_save = 0 %}
{% set notabs = true %}
{% set diff_table = false %}
{% set quick_reject = false %}

{% block page_title %}{% if obj.application_type == constants.APPLICATION_TYPE_UPDATE_REQUEST %}Update Request{% else %}Application{% endif %}: {{ obj.bibjson().title }}{% endblock %}

{% block editor_content scoped %}
<body id="apply">
    <main class="container page-content">
        {% include "application_form/editorial_form_body.html" %}
    </main>

    {% include "includes/_hotjar.html" %}
 </body>
{% endblock %}

{% block extra_js_bottom scoped %}
    {% include "application_form/js/_form_js.html" %}
{% endblock %}
