{% extends "editor/editor_base.html" %}

{% set formulaic_after = url_for("editor.journal_page", journal_id=obj.id) %}
{% set form_id = "assed_form" %}
{% set form_action = url_for("editor.journal_page", journal_id=obj.id) %}

{% set js_validation = True %}
{% set auto_save = 0 %}
{% set notabs = true %}

{% block editor_content scoped %}
<body id="apply">
    <main class="container">
        {% include "application_form/_backend_validation.html" %}
        <div class="row">

            <form id="{{ form_id }}"
                  data-context = "{{ formulaic_context.name }}"
                  class="row application_form"
                  novalidate
                  action="{{ form_action }}"
                  method="post"
                  data-formulaic-after="{{ formulaic_after }}">

                <div class="col-md-8 page">
                    <section class="page-content">
                        {% include "application_form/_fieldsets.html" %}
                    </section>
                </div>
                <div class="col-md-4 editorial-panel">
                    {% include "application_form/assed/journal.html" %}
                </div>
            </form>
        </div>
    </main>
 </body>
{% endblock %}

{% block extra_js_bottom scoped %}
    {% set factory = "journal" %}
    {% include "application_form/js/_form_js.html" %}
{% endblock %}
