{% extends "editor/editor_base.html" %}

{% set form_id = "assed_form" %}
{% set formulaic_after = url_for("editor.journal_page", journal_id=obj.id) %}
{% set form_action = url_for("editor.journal_page", journal_id=obj.id) %}

{% set js_validation = True %}
{% set auto_save = 0 %}
{% set notabs = true %}
{% set diff_table = false %}
{% set quick_reject = false %}
{% set withdrawable = false %}

{% block page_title %}Journal: {{ obj.bibjson().title }}{% endblock %}
{% block body_id %}apply{% endblock %}

{% block editor_content scoped %}
<h3>{{ obj.bibjson().title }}</h3>
<main class="page-content">
    {% include "application_form/editorial_form_body.html" %}
</main>
{% endblock %}

{% block extra_js_bottom scoped %}
    {% set factory = "journal" %}
    {% include "application_form/js/_form_js.html" %}
{% endblock %}
