<h2><span data-feather="settings" aria-hidden="true"></span> Administrative</h2>
{% if quick_reject and obj.application_status not in ["accepted", "rejected"] and obj.current_journal == None %}
  <button class="button button--primary" type="button" id="open_quick_reject" data-toggle="modal" data-target="#modal-quick_reject">Quick Reject</button>
{% endif %}

{% if withdrawable %}
    {% set withdraw_reinstate = "Withdraw" if obj.is_in_doaj() else "Reinstate" %}
    {% if job %}
        {% set withdraw_reinstate = "Withdrawing" if obj.is_in_doaj() else "Reinstating" %}
    {% endif %}
    <button class="button button--primary" type="button" id="open_withdraw_reinstate" data-toggle="modal" data-target="#modal-withdraw_reinstate">{{ withdraw_reinstate }}</button>
{% endif %}

{% set fs = formulaic_context.fieldset("optional_validation") %}
{% if fs %}
<fieldset>
    {% for f in fs.fields() %}
        {% set field_template = f.template %}
        {%  include field_template %}
    {% endfor %}
</fieldset>
{% endif %}

{% set fs = formulaic_context.fieldset("reviewers") %}
{% if fs %}
<fieldset>
    <h3 style="margin: 0 0 .75rem 0;">{{ fs.label }}</h3>
    <div class="row">
    {% for f in fs.fields() %}
        <div class="col-xs-6">
            {% set field_template = f.template %}
            {%  include field_template %}
        </div>
    {% endfor %}
    </div>
</fieldset>
{% endif %}

{% if formulaic_context.fieldset("reassign") or formulaic_context.fieldset("status") %}
<fieldset>
    <div class="row">
    {% set fs = formulaic_context.fieldset("reassign") %}
    {% if fs %}
        {% for f in fs.fields() %}
            <div class="col-xs-6">
                <h3 style="margin: 0 0 1.5rem 0;">{{ fs.label }}</h3>
                {% set field_template = f.template %}
                {%  include field_template %}
            </div>
        {% endfor %}
    {% endif %}

    {% set fs = formulaic_context.fieldset("status") %}
    {% if fs %}
    {% for f in fs.fields() %}
        <div class="col-xs-6">
            <h3 style="margin: 0 0 1.5rem 0;">{{ fs.label }}</h3>
            {% set field_template = f.template %}
            {%  include field_template %}
        </div>
    {% endfor %}
    {% endif %}
    </div>
</fieldset>
{% endif %}

{% set fs = formulaic_context.fieldset("continuations") %}
{% if fs %}
<fieldset>
    <h3 style="margin: 0 0 .75rem 0;">{{ fs.label }}</h3>
    <div class="row">
    {% for f in fs.fields() %}
        <div class="col-xs-6">
        {% set field_template = f.template %}
        {%  include field_template %}
        </div>
    {% endfor %}
    </div>
</fieldset>
{% endif %}

<fieldset class="form__question">
    <div class="row">
        <div class="col-xs-6">
            {% set fs = formulaic_context.fieldset("subject") %}
            {% if fs %}
                <h3 style="margin: 0 0 1.5rem 0;">{{ fs.label }}</h3>
                {% for f in fs.fields() %}
                    {% set field_template = f.template %}
                    {%  include field_template %}
                {% endfor %}
                <p>Selected: <strong class="admin_value_preview" id="subject-value" data-source="#subject"></strong></p>
                <div id="subject_checkbox-errors"></div>
            {% endif %}
        </div>

        <div class="col-xs-6">
            {% set fs = formulaic_context.fieldset("seal") %}
            {% if fs %}
                <h3 style="margin: 0 0 1.5rem 0;">{{ fs.label }}</h3>
                <p>The journal has fulfilled all the criteria for the Seal. </p>
                {% for f in fs.fields() %}
                    {% set field_template = f.template %}
                    {%  include field_template %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</fieldset>
