{% if obj %}
    <h3 class="label"> LOCKED FOR EDITING UNTIL <span id="lock_expires" data-timestamp="{{lock.utc_expires()}}">{{lock.expire_formatted()}}</span></h3>
      {% if obj.application_status != constants.APPLICATION_STATUS_ACCEPTED %}
          <p class="cannot-submit" id="cannot-submit-invalid-fields" style="display: none"><em>You cannot save the application because it contains some invalid fields. Please review the answers and admin fields and try again.</em></p>
          <button id="submitBtn" class="button button--cta" type="button">Save</button>
      {% endif %}
      <button type="button" class="button" id="unlock" data-type="suggestion" data-id="{{obj.id}}">Unlock & Close</button>
    <input type="hidden" name="id" value="{{ obj.id }}">
{% endif %}

{% set fs = formulaic_context.fieldset("optional_validation") %}
{% if fs %}
    {% for f in fs.fields() %}
        {% set field_template = f.template %}
        {%  include field_template %}
    {% endfor %}
{% endif %}

<aside class="editorial-panel__content">

    <fieldset>
        {% set fs = formulaic_context.fieldset("notes") %}
        {% if fs %}
            {% for f in fs.fields() %}
                {% set field_template = f.template %}
                {%  include field_template %}
            {% endfor %}
        {% endif %}
    </fieldset>
</aside>
