{% extends "admin/admin_base.html" %}

{% set formulaic_after = url_for("admin.application", application_id=obj.id) %}
{% set form_id = "maned_form" %}
{% set form_action = url_for("admin.application", application_id=obj.id) %}

{% set js_validation = True %}
{% set auto_save = 0 %}
{% set TAB1 = {"title": "Open access compliance", "fieldsets": ["basic_compliance"]} %}
{% set TAB2 = {"title": "About the Journal", "fieldsets": ["about_the_journal", "publisher", "society_or_institution"]} %}
{% set TAB3 = {"title": "Copyright & licensing", "fieldsets": ["licensing", "embedded_licensing", "copyright"]} %}
{% set TAB4 = {"title": "Editorial", "fieldsets": ["peer_review", "plagiarism", "editorial"]} %}
{% set TAB5 = {"title": "Business model", "fieldsets": ["apc", "apc_waivers", "other_fees"]} %}
{% set TAB6 = {"title": "Best practice", "fieldsets": ["archiving_policy", "deposit_policy", "unique_identifiers"]} %}
{% set TAB_ED = {"title": "Admin", "fieldsets": ["seal", "quick_reject", "reassign", "status", "reviewers", "continuations", "subject", "notes"]} %}
{% set FORM = [TAB1, TAB2, TAB3, TAB4, TAB5, TAB6, TAB_ED] %}


{% block content scoped %}
<body id="apply">
    <main class="container">
        <div class="row">
            <div class="col-md-8 page">
                <section class="page-content">
                    <form id="{{ form_id }}"
                      context = "{{ formulaic_context.name }}"
                      class="application_form"
                      novalidate
                      action="{{ form_action }}"
                      method="post"
                      data-formulaic-after="{{ formulaic_after }}"
                    >
                    <div class="tab form-section">
                        {% include "application_form/01-oa-compliance/index.html" %}
                    </div>
                    <div class="tab form-section">
                        {% include "application_form/02-about/index.html" %}
                    </div>
                    <div class="tab form-section">
                        {% include "application_form/03-copyright-licensing/index.html" %}
                    </div>
                    <div class="tab form-section">
                        {% include "application_form/04-editorial/index.html" %}
                    </div>
                    <div class="tab form-section">
                        {% include "application_form/05-business-model/index.html" %}
                    </div>
                    <div class="tab form-section">
                        {% include "application_form/06-best-practice/index.html" %}
                    </div>
                    <div class="tab form-section row">
                        <div class="col-md-3">
                            {% include "application_form/admin/application.html" %}
                        </div>
                        <div class="col-md-8 col-md-offset-4">
                            {% include "application_form/07-review/index.html" %}
                        </div>
                    </div>
                    <div class="buttons">
                        {% include "application_form/_buttons.html" %}
                    </div>
                </form>
                </section>
            </div>

            <div class="col-md-4 side-menus">
                <div >
                    {% include "application_form/pagination_menu.html" %}
                </div>
                <div class="row">
                    {% include "application_form/aside_menu.html" %}
                </div>
            </div>

        </div>
    </main>
 </body>
{% endblock %}

{% block extra_js_bottom scoped %}
    {% include "application_form/js/_maned_form_js.html" %}
    {% include "application_form/js/_form_js.html" %}
{% endblock %}
