{% block pagination_menu %}
<nav class="application-nav">
              <h2 class="application-nav__heading">Application progress</h2>
              <ol class="application-nav__list">
                <li class="application-nav__list-item
                   application-nav__list-item--active
                  ">
                  <a href="/apply/01-oa-compliance/">
                    Open access compliance
                  </a>
                </li>
                <li class="application-nav__list-item
                  ">
                  <a href="/apply/02-about/">
                    About
                  </a>
                </li>
                <li class="application-nav__list-item
                  ">
                  <a href="/apply/03-copyright-licensing/">
                    Copyright & licensing
                  </a>
                </li>
                <li class="application-nav__list-item
                  ">
                  <a href="/apply/04-editorial/">
                    Editorial
                  </a>
                </li>
                <li class="application-nav__list-item
                  ">
                  <a href="/apply/05-business-model/">
                    Business model
                  </a>
                </li>
                <li class="application-nav__list-item
                  ">
                  <a href="/apply/06-best-practice/">
                    Best practice
                  </a>
                </li>
                <li class="application-nav__list-item
                  ">
                  <a href="/apply/07-review/">
                    Review your answers
                  </a>
                </li>
              </ol>
            </nav>
{% endblock %}