{% block pagination_menu %}
<nav class="application-nav">
              <h2 class="application-nav__heading">Application progress</h2>
              <ol class="application-nav__list">
                <li class="application-nav__list-item">
                  <a href=#  class="page_link">Open access compliance</a>
                </li>
                <li class="application-nav__list-item">
                  <a href=#  class="page_link">About</a>
                </li>
                <li class="application-nav__list-item">
                  <a href=#  class="page_link">Copyright & licensing</a>
                </li>
                <li class="application-nav__list-item">
                  <a href=# class="page_link"> Editorial</a>
                </li>
                <li class="application-nav__list-item">
                  <a href=#  class="page_link">Business model</a>
                </li>
                <li class="application-nav__list-item">
                  <a href=#  class="page_link">Best practice</a>
                </li>
{#                <li class="application-nav__list-item">#}
{#                  <a href=#  class="page_link">Review your answers</a>#}
{#                </li>#}
              </ol>
            </nav>
{% endblock %}