{% extends "base.html" %}

{% block content %}

    <form id="public_application"
          novalidate
          action="{{ url_for("doaj.public_application") }}"
          data-formulaic-after="{{ url_for("doaj.suggestion_thanks", _anchor='thanks') }}">

    {% for fs in form_context.fieldsets() %}
        <h1>{{ fs.label }}</h1>
        <fieldset id="{{ fs.name }}">
        {% for f in fs.fields() %}
            {% include 'application_form/_field.html' %}
            <hr>
        {% endfor %}
        </fieldset>
    {% endfor %}

        <button type="submit" id="submit">Submit</button>
    </form>

{% endblock %}

{% block extra_js_bottom %}
    <script type="text/javascript" src="/static/vendor/parsley-2.9.2/parsley.min.js?v={{config.get('DOAJ_VERSION')}}"></script>
    <script type="text/javascript" src="/static/vendor/edges/src/edges.js?v={{config.get('DOAJ_VERSION')}}"></script>
    <script type="text/javascript" src="/static/js/formulaic.js?v={{config.get('DOAJ_VERSION')}}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            formulaic.active = formulaic.newFormulaic({
                formSelector: "#public_application",
                fieldsets : {{ form_context.ui_settings|tojson }},
                functions : {{ js_functions|tojson }}
            });
        });
    </script>
{% endblock %}