{% block extra_stylesheets %}
<!-- get Swagger UI css -->
    <link href='/portality/static/doaj/css/application_form.css' media='screen' rel='stylesheet' type='text/css' />

{% endblock %}

{% extends "layouts/base.html" %}

{% set form_id = "public_application" %}
{% set form_action = url_for("apply.public_application") %}
{% set formulaic_after = url_for("doaj.suggestion_thanks", _anchor='thanks') %}
{% set js_validation = False %}
{% set auto_save = 0 %}



{% block content scoped %}
    {% set page = request.path.split("/")[2] %}
    {% if page == "01-oa-compliance" %}
        <div>
            {% include "application_form/01-oa-compliance/index.html" %}
        </div>
    {% elif page == "02-about" %}
        <div>
            {% include "application_form/02-about/index.html" %}
        </div>
    {% elif page == "03-copyright-licensing" %}
        <div>
            {% include "application_form/03-copyright-licensing/index.html" %}
        </div>
    {% elif page == "04-editorial" %}
        <div>
            {% include "application_form/04-editorial/index.html" %}
        </div>
    {% elif page == "05-business-model" %}
        <div>
            {% include "application_form/05-business-model/index.html" %}
        </div>
    {% elif page == "06-best-practice" %}
        <div>
            {% include "application_form/06-best-practice/index.html" %}
        </div>
    {% endif %}

{% endblock %}

{% block extra_js_bottom scoped %}
    {% include "application_form/_form_js.html" %}
{% endblock %}